[displayconfig]

# Production version of Post and Flames in corner 1-4-2024
work = spritesheet
# work = diagnostics

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 64
rows = 16
cols = 6

# ---  Also determines the window geometry
screenWidth = 321
screenHeight = 321

# ---  preparing for rotation
windowWidth = 321
windowHeight = 321

canvasWidth = 321
canvasHeight = 321

# daemon7 set up FIRESIDE
canvasOffsetX = 2
canvasOffsetY = 2

# Window Offset
windowXOffset = 2583
windowYOffset = 60
# windowXOffset = 125
# windowYOffset = 100


brightness =  1.0
minBrightness = 0


remapImageBlock = False  
remapImageBlockSection = 0,0,384,512
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 192,320,384,448
remapImageBlockDestination2 = 0,192
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False  
remapImageBlockSection3 = 192,448,384,512
remapImageBlockDestination3 = 0,64
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False  
remapImageBlockSection4 = 192,0,384,64
remapImageBlockDestination4 = 0,128
remapImageBlockSection4Rotation = 0


remapImageBlock5 = False  
remapImageBlockSection5 = 192,0,384,24
remapImageBlockDestination5 = 0,96
remapImageBlockSection5Rotation = -180

remapImageBlock6 = False  
remapImageBlockSection6 = 192,60,384,74
remapImageBlockDestination6 = 0,70
remapImageBlockSection6Rotation = 0

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = True
_ditherFilterBrightness = .95


usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 128
pixSortboxWidth = 384
pixSortgap = 0
pixSortprobDraw = .3
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .01
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0

[images]
i1 = assets/imgs/flames/fire-real-224x384-side-d2b2.png
i2 =


# Number of individual animation units
numberOfCells = 1
randomPlacement = False
# the spritesheet frame dimensions
frameWidth = 384
frameHeight = 224
totalFrames = 223
frameCols = 5
frameRows = 45

# slice parameters
sliceWidthMin = 384
sliceWidth = 384
sliceHeightMin = 224
sliceHeight = 224
step = 1
fixedPosition = True

# controls speed 2 is generally very smooth
animSpeedMin = 2
animSpeedMax = 2

delay = .03
slotRate = .03

# the animation is drawn onto a buffered image 
# that can be resized
animationWidth = 212
animationHeight = 96
resizeAnimationtoFit = True

# rotates each animation unit
animationRotation = 0
# random +/- range
animationRotationJitter = 0
# if this is non-zero, will rotate each unit
# in random +/- range
animationRotationRateRange = 0
# compensates for rotation if needed
animationXOffset = -84
animationYOffset = 0

randomPlacemnetXRange = 40
randomPlacemnetYRange = 40

# probability that any one unit changes parameters and position
changeAnimProb = .001
# chance that animations all pause
pauseProb = .01
# chance that unimations resume
unPauseProb = .005
# chance that the glitching pauses
freezeGlitchProb = .01
# chance that the glitching resumes
unFreezeGlitchProb = .06

# glitch displacement parameters 
# random from 1 to these values
imageGlitchDisplacementHorizontal = 20
imageGlitchDisplacementVertical = 30

# chance the pixelsort lines appear
pixelSortProbOn = .005
pixelSortProbOff = .015

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .02
filterRemapminHoriSize = 224
filterRemapminVertSize = 64

filterRemapRangeX = 256
filterRemapRangeY = 64

# background color HSV ranges
bg_minHue = 190
bg_maxHue = 190
bg_minSaturation = 0.95
bg_maxSaturation = 0.95
bg_minValue = .1
bg_maxValue = .5
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 10

# chance that the background changes
backgroundColorChangeProb = .01

# the delay between cycles
playSpeed = .02



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 100,0,100
fontColor2 = 90,100,0
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

