[displayconfig]

workList =p0,p2
playInOrder = True


###########################################

[p0]
work = dev/p2.5-aggregator/p4-firebox-particles_fire_algo-a.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = 1.4


[p1]
work = dev/p2.5-aggregator/p4-firebox-spritesheet3-a.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = 1.4

[p2]
work = dev/p2.5-aggregator/p4-firebox-flame-particles.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = 1.4

[p3]
work = dev/p2.5-aggregator/p4-firebox-fire-image.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = 1.4

[p4]
work = dev/p2.5-aggregator/p4-firebox-chimney-5.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = 1.4
