[palettesIncluded]
palettes = goldenx2invert,goldenx2,golden,goldenx3invert,thegrays,goldenx2invert

#--------------------- COLORS    ---------------------
[golden]
c2_minHue = 20
c2_maxHue = 40
c2_minSaturation = 1.0
c2_maxSaturation = 1.0
c2_minValue = .25
c2_maxValue = .4
c2_tLimitBase = 10

c1_minHue = 41
c1_maxHue = 48
c1_minSaturation = 1.0
c1_maxSaturation = 1.0
c1_minValue = .7
c1_maxValue = 1.0
c1_tLimitBase = 15

c3_minHue = 42
c3_maxHue = 48
c3_minSaturation = 1.0
c3_maxSaturation = 1.0
c3_minValue = .8
c3_maxValue = 1.0
c3_tLimitBase = 15


[goldenx3invert]
# lines and bg
c2_minHue = 42
c2_maxHue = 48
c2_minSaturation = 1.0
c2_maxSaturation = 1.0
c2_minValue = .7
c2_maxValue = 1.0
c2_tLimitBase = 5

# pattern block color for fishscales 
c1_minHue = 42
c1_maxHue = 48
c1_minSaturation = 1.0
c1_maxSaturation = 1.0
c1_minValue = .7
c1_maxValue = 1.0
c1_tLimitBase = 5

c3_minHue = 42
c3_maxHue = 48
c3_minSaturation = 1.0
c3_maxSaturation = 1.0
c3_minValue = .2
c3_maxValue = .4
c3_tLimitBase = 15



[goldenx2invert]
# lines and bg
c2_minHue = 30
c2_maxHue = 45
c2_minSaturation = .99
c2_maxSaturation = .99
c2_minValue = .5
c2_maxValue = .99
c2_tLimitBase = 5

# pattern block color for fishscales 
c1_minHue = 355
c1_maxHue = 10
c1_minSaturation = .99
c1_maxSaturation = .99
c1_minValue = .4
c1_maxValue = .5
c1_tLimitBase = 5

c3_minHue = 355
c3_maxHue = 10
c3_minSaturation = .99
c3_maxSaturation = .99
c3_minValue = .1
c3_maxValue = .2
c3_tLimitBase = 15

[goldenx2]
# lines and bg
c2_minHue = 20
c2_maxHue = 40
c2_minSaturation = .99
c2_maxSaturation = .99
c2_minValue = .02
c2_maxValue = .3
c2_tLimitBase = 5

# pattern block color
# for waveScales this is the dominant color
c1_minHue = 35
c1_maxHue = 45
c1_minSaturation = .99
c1_maxSaturation = .99
c1_minValue = .8
c1_maxValue = .9
c1_tLimitBase = 5

# for shellScales, this is the body color
c3_minHue = 35
c3_maxHue = 45
c3_minSaturation = .99
c3_maxSaturation = .99
c3_minValue = .4
c3_maxValue = .9
c3_tLimitBase = 5




[thegrays]
c2_minHue = 25
c2_maxHue = 30
c2_minSaturation = .2
c2_maxSaturation = .3
c2_minValue = .1
c2_maxValue = .3
c2_tLimitBase = 25

c1_minHue = 25
c1_maxHue = 40
c1_minSaturation = .2
c1_maxSaturation = .4
c1_minValue = .52
c1_maxValue = .60
c1_tLimitBase = 25

c3_minHue = 25
c3_maxHue = 40
c3_minSaturation = .2
c3_maxSaturation = .3
c3_minValue = .5
c3_maxValue = .5
c3_tLimitBase = 25

[heat]
c2_minHue = 355
c2_maxHue = 10
c2_minSaturation = .8
c2_maxSaturation = .995
c2_minValue = .1
c2_maxValue = .5
c2_tLimitBase = 25

c1_minHue = 20
c1_maxHue = 40
c1_minSaturation = .85
c1_maxSaturation = .99
c1_minValue = .8
c1_maxValue = .99
c1_tLimitBase = 25

c3_minHue = 0
c3_maxHue = 15
c3_minSaturation = .99
c3_maxSaturation = .99
c3_minValue = .1
c3_maxValue = .9
c3_tLimitBase = 25



[china]
c2_minHue = 200
c2_maxHue = 245
c2_minSaturation = .01
c2_maxSaturation = .1
c2_minValue = .5
c2_maxValue = .9
c2_tLimitBase = 25

c1_minHue = 200
c1_maxHue = 245
c1_minSaturation = .9
c1_maxSaturation = .99
c1_minValue = .1
c1_maxValue = .9
c1_tLimitBase = 25

c3_minHue = 200
c3_maxHue = 360
c3_minSaturation = .9
c3_maxSaturation = .9
c3_minValue = .05
c3_maxValue = .9
c3_tLimitBase = 25
