[displayconfig]
#-----------------------------------------------#
work = collage
# work = diagnostics

rendering = hub
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = True

rotation = 0
fullRotation = True
rotationTrailing = False

tileSizeHeight = 64
tileSizeWidth = 64
matrixTiles = 8
rows = 16
cols = 8

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset


# Window Offset
windowXOffset = 2903
windowYOffset = 32


# Window Offset
#windowXOffset = 175
#windowYOffset = 98

brightness =  1.0
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 145
pixSortboxHeight = 4
pixSortboxWidth = 250
pixSortgap = 28
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 18

useFilters = False

remapImageBlock = False
remapImageBlockSection = 0,0,64,64
remapImageBlockDestination = 0,0

useLastOverlay = False


[productionvalues]
#--------------------------#
changeBoxProb = .005
transitionStepsMin = 140
transitionStepsMax = 254
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = False
variableFilterProb = .00

useVariablePixelSort = False
variablePixelProb = .00
variablePixelProbOff = 1.0


useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0,b1,b2
#s1a,s2,s3,s4,s5,s6,s7,s8,s9,s10
#,s8,s9
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 256,0, 256,256, 0,256
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 0.9
minValue = .8
maxValue = .99


[b1]
position = 0,224
coords = 0,0, 256,0, 256,16, 0,16
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.2
maxSaturation = 1.0
minValue = .8
maxValue = .99

[b2]
position = 0,-10
coords = 0,0, 256,0, 256,120, 0,120
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 0.5
minValue = .8
maxValue = .99


#-------------#

[s1a]
position = 0,8
coords = 2,0, 75,0, 75,8, 2,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 0.3
minValue = .8
maxValue = .99

[s2]
position = 0,36
coords = 2,0, 75,0, 75,8, 2,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.0
maxSaturation = 0.1
minValue = .5
maxValue = .99

[s3]
position = 0,64
coords = 2,0, 75,0, 75,8, 2,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[s4]
position = 0,92
coords = 2,0, 75,0, 75,8, 2,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[s5]
position = 0,120
coords = 2,0, 75,0, 75,8, 2,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[s6]
position = 0,148
coords = 2,0, 75,0, 75,8, 2,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[s7]
position = 0,176
coords = 2,0, 75,0, 75,8, 2,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

#--------------------------#

[s8]
position = 0,205
coords = 2,0, 75,0, 75,8, 2,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .7
maxValue = .99

[s9]
position = 0,234
coords = 2,0, 75,0, 75,8, 2,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99


[s10]
position = 0,262
coords = 2,0, 75,0, 75,8, 2,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99













[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0










