[displayconfig]

work = pattern-pent
#work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 384

# ---  preparing for rotation
windowWidth = 384
windowHeight = 384

canvasWidth = 384
canvasHeight = 384

# daemon7 set up FIRESIDE
canvasOffsetX = -61
canvasOffsetY = 3

# Window Offset
windowXOffset = 2607	
windowYOffset = 153


brightness =  .70
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,256,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0


remapImageBlock2 = True
remapImageBlockSection2 = 0,0,64,32
remapImageBlockDestination2 = 64, 64
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 30,8,48,60
remapImageBlockDestination3 = 0,37

useFilters = False

usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortDirection = lateral
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 380
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .9
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 30
pixSortDrawVariance = 0
randomColorProbabilty = 0
brightnessVarLow = .5
brightnessVarHi = .55
pixelSortAppearanceProb = 1.0


useBlur  = False
blurXOffset = 20
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 5

[holding]
#-----------------------------------------------#
usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 4
pixSortboxHeight = 148
pixSortboxWidth = 100
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .999
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .7
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0






[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0





[pattern]
#-----------------------------------------------#

delay = .01

turnRateChange = .001
turnRateLimPlus = 3.1
turnRateLimNeg = .9
turnRate = 1.5
turnRateFactor = 800
pauseProb = .001
maxPauseTime = 2


xOffset = 192
yOffset = 50

figureRotationBaseDegrees = 41


minHue = 0
maxHue = 360
minSaturation = .8
maxSaturation = .99
minValue = .8
maxValue = .8
maxBrightness = .99

randomRangeMin = 400
randomRangeMax = 400

pointVariation = 16
showLines = True
patternSet = patternSet6

[patternSet6]
# classic spiral from square
# 2 colors is spiral
# 4 colors+ is floral
initialRadius = 390
nSides = 4
reduceRate = 1.4
turnRateBase = 1
#1.28
repeatFigures = 30
# max 6 right now ...
colorRep = 3



[patternSet4x]
# classic turned square
initialRadius = 10
nSides = 4
reduceRate = 1.4
turnRateBase = 2
repeatFigures = 10
colorRep = 5


[patternSet1]
# Bang Spiral
initialRadius = 100
nSides = 3
reduceRate = 1.5
turnRateBase = 1.5
repeatFigures = 50
colorRep = 5

[patternSet2]
# fractional turns
initialRadius = 200
nSides = 3
reduceRate = 1.5
turnRateBase = 4.4
repeatFigures = 50
colorRep = 6

[patternSet3]
# Crazy star
initialRadius = 100
nSides = 3
reduceRate = 1.5
turnRateBase = 3
repeatFigures = 50
colorRep = 6

[patternSet4]
# classic turned square
initialRadius = 100
nSides = 4
reduceRate = 1.5
turnRateBase = 2
repeatFigures = 50
colorRep = 3

[patternSet5]
# classic spiral from square
initialRadius = 20
nSides = 5
reduceRate = 1.3
turnRateBase = 1.28
repeatFigures = 12
colorRep = 6



[patternSet7]
# poly spiral
initialRadius = 100
nSides = 7
reduceRate = 1.5
turnRateBase = 10
repeatFigures = 50
colorRep = 2
