[florals-2]
patterns =  circlesPacked,
petals,
grainLines,
circles,
colorGrid,
colorGridTriangles,
gothic1,
randomizer2,
waveScales,
fishScales,
fishScales,
wavePattern2,
waveScales,
decoBoxes,
reMove,
concentricBoxes,
diamond,
balls,
concentricBoxes,
randomizer,
fishScales

palettes =  delft,
galahx-floral,
galahx,
allpink,
goldenx2,
goldenx3,
deep,
deep2,
oceansky,
hartley,
wildandcrazy,
wildandcrazy2,
retrotest1,
retrotest2,
noir,
vhs,
heat,
woody

dominantPatterns = petals
dominantPatternProb = .50
# Border Controls
borderPattern = petals
useBorderPattern = True
altColoringProb = .5
popRandomColorProb = .1
usePolygonOverlay = False
