[displayconfig]

_work = sparkles
work = concentric_particles

rendering = hub
rotation = -0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False


tileSizeHeight = 64
tileSizeWidth = 64
matrixTiles = 8
rows = 2
cols = 11

# ---  Also determines the window geometry
screenWidth = 130
screenHeight = 704

# ---  preparing for rotation
windowWidth = 130
windowHeight = 704

canvasWidth = 130
canvasHeight = 704


# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 258
windowYOffset = 150

brightness =  1.1
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,384,384
remapImageBlockDestination = 0,0

remapImageBlock2 = True
remapImageBlockSection2 = 0,220,160,256
remapImageBlockDestination2 = 1,220
remapImageBlockSection2Rotation = 1


remapImageBlock3 = False
remapImageBlockSection3 = 384,0,512,32
remapImageBlockDestination3 = 0,32

remapImageBlock4 = False
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64



usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 192
pixSortboxWidth = 1
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = True

forceBGSwap = False




[particles]

minParticles = 2666
maxParticles = 2666

speedFactorMin = .1
speedFactorMax = 1

initXRangeMin = 32
initXRangeMax = 96
initYRangeMin = 90
initYRangeMax = 130

systemRotation = 200

fadeRate = 90
fadeRateDelta = 1.0
sparkleProb = .001
fadeRateNewSystemThreshold = 2.0
orbitProb = .95

particleResetProb = .0001
totalResetProb = .25

rBase = 20
gBase = 14
bBase = 10

rBase2 = 30
gBase2 = 24
bBase2 = 2

rDiff = 5
gDiff = 1
bDiff = 5

bgColorSets = bg_a,bg_b,bg_c,bg_a

[bg_a]
bgColor = 1,1,2

[bg_b]
bgColor = 70,50,0

[bg_c]
bgColor = 1,1,60





