[displayconfig]
#-----------------------------------------------#

work = barblocks
_work = diagnostics

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
cols = 5
rows = 8

## Also determines the window geometry
screenWidth = 320
screenHeight = 70

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 320
canvasHeight = 70

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2657
windowYOffset = 366

brightness =  .8
minBrightness = 0



usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 382
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 0,0,128,32
remapImageBlockDestination3 = 128,128
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False
remapImageBlockSection4 = 64,32,128,64
remapImageBlockDestination4 = 128, 96
remapImageBlockSection4Rotation = 0


useBlur = True
blurXOffset = 120
blurYOffset = 0
blurSectionWidth = 186
blurSectionHeight = 82
sectionBlurRadius = 1

useFilters = True

forceBGSwap = False


######################################################################
[highkeyOnPink]
minHue = 330
maxHue = 340
minSaturation = .8
maxSaturation = .99
minValue = .5
maxValue = .9
tLimitBase = 10

line_minHue = 0
line_maxHue = 360
line_minSaturation = 1.0
line_maxSaturation = 1.0
line_minValue = .0
line_maxValue = .90
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 360
line2_minSaturation = 1.0
line2_maxSaturation = 1.0
line2_minValue = .5
line2_maxValue = .90
line2_tLimitBase = 15

[highkey]
minHue = 270
maxHue = 30
minSaturation = .8
maxSaturation = .99
minValue = .5
maxValue = .5
tLimitBase = 10

line_minHue = 0
line_maxHue = 360
line_minSaturation = 1.0
line_maxSaturation = 1.0
line_minValue = .0
line_maxValue = .90
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 360
line2_minSaturation = 1.0
line2_maxSaturation = 1.0
line2_minValue = .5
line2_maxValue = .90
line2_tLimitBase = 15

[thegrays]
minHue = 300
maxHue = 36
minSaturation = .01
maxSaturation = .1
minValue = .1
maxValue = .2
tLimitBase = 25

line_minHue = 0
line_maxHue = 45
line_minSaturation = .01
line_maxSaturation = .1
line_minValue = .010
line_maxValue = .60
line_tLimitBase = 25

line2_minHue = 60
line2_maxHue = 360
line2_minSaturation = .10
line2_maxSaturation = .10
line2_minValue = .05
line2_maxValue = .4
line2_tLimitBase = 25

[graypinktasty]
minHue = 347
maxHue = 347
minSaturation = .2
maxSaturation = .2
minValue = .5
maxValue = .5
tLimitBase = 15

line_minHue = 350
line_maxHue = 350
line_minSaturation = .63
line_maxSaturation = .63
line_minValue = .77
line_maxValue = .77
line_tLimitBase = 15

line2_minHue = 356
line2_maxHue = 356
line2_minSaturation = .6
line2_maxSaturation = .6
line2_minValue = .93
line2_maxValue = .93
line2_tLimitBase = 15

[basePalette]
minHue = 300
maxHue = 25
minSaturation = .8
maxSaturation = .99
minValue = .8
maxValue = .9
tLimitBase = 25

line_minHue = 60
line_maxHue = 190
line_minSaturation = .80
line_maxSaturation = .99
line_minValue = .1
line_maxValue = .5
line_tLimitBase = 25

line2_minHue = 60
line2_maxHue = 190
line2_minSaturation = .80
line2_maxSaturation = .90
line2_minValue = .1
line2_maxValue = .5
line2_tLimitBase = 25

[heat]
minHue = 0
maxHue = 8
minSaturation = .8
maxSaturation = .995
minValue = .3
maxValue = .3
tLimitBase = 25

line_minHue = 20
line_maxHue = 20
line_minSaturation = .7
line_maxSaturation = .99
line_minValue = .5
line_maxValue = .8
line_tLimitBase = 25

line2_minHue = 0
line2_maxHue = 15
line2_minSaturation = .8
line2_maxSaturation = .99
line2_minValue = .1
line2_maxValue = .3
line2_tLimitBase = 25

[fishing]
minHue = 180
maxHue = 220
minSaturation = .5
maxSaturation = .99
minValue = .1
maxValue = .2
tLimitBase = 25

line_minHue = 15
line_maxHue = 36
line_minSaturation = .5
line_maxSaturation = .99
line_minValue = .25
line_maxValue = .99
line_tLimitBase = 25

line2_minHue = 170
line2_maxHue = 220
line2_minSaturation = .1
line2_maxSaturation = .99
line2_minValue = .1
line2_maxValue = .8
line2_tLimitBase = 25

######################################################################
[movingpattern]
######################################################################

redrawSpeed =.03

blockWidth = 2
blockHeight = 2

changeGridProb = .003
changeQuiverProb = .01

# odd number of columns ensures rotations are always alternating ... cheap solution ;)
cols = 11
rows = 4

barWidthMin = 3
barWidthMax = 3

gapWidthMin = 0
gapWidthMax = 3

rotationVariation = 3

palette = highkey
palettes = highkey,highkeyOnPink,heat,thegrays,fishing

_sizeArray = 8,16,32,40,48,64,80,128
sizeArray = 8,16,32


[diag]
#---------------------------------#

fontColor = 150,150,0
outlineColor = 120,0,0
fontColor2 = 0,100,100
bgColor = 0,0,104
showGrid = True
fontSize = 8

brightness =  .2
outerColor = 10,0,100
innerColor = 120,40,0
borderColor = 10,0,0

