[displayconfig]

work = particles
#work=diagnostics
rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
isRPI = False

useFilters = True

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 32
rows = 16
cols = 16

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 260

# ---  preparing for rotation
windowWidth = 260
windowHeight = 260

canvasWidth = 260
canvasHeight = 260

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2657
windowYOffset = 335

brightness =  .9
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,0,0
remapImageBlockDestination = 0,0

remapImageBlock2 = True  
remapImageBlockSection2 = 0,16,256,32
remapImageBlockDestination2 =  0,16
remapImageBlockSection2Rotation = 180

remapImageBlock3 = True  
remapImageBlockSection3 = 0,32,256,48
remapImageBlockDestination3 = 0,32
remapImageBlockSection3Rotation = 180

remapImageBlock4 = True  
remapImageBlockSection4 = 0,80,256,96
remapImageBlockDestination4 = 0,80
remapImageBlockSection4Rotation = 180

remapImageBlock5 = True  
remapImageBlockSection5 = 0,112,256,128
remapImageBlockDestination5 = 0,112
remapImageBlockSection5Rotation = 180

remapImageBlock6 = True  
remapImageBlockSection6 = 0,144,256,160
remapImageBlockDestination6 = 0,144
remapImageBlockSection6Rotation = 180



usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 512
pixSortboxWidth = 512
pixSortgap = 4
pixSortprobDraw = .2
pixSortprobGetNextColor = .1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0

forceBGSwap = True

[particleSystem]
#-------------------------------------------#
numUnits = 190

xGravity = 0
yGravity = 0
xWind = 0
torquedelta = 0

ignoreBottom = False

speedMin = 1
speedMax = 5

#initial direction 3.14/2
variance = 1

objWidth = 40
objHeight = 50
objType = rect
objTrails = False

widthRate = .992
heightRate = .997
particlewinkoutxmin = 10
particlewinkoutymin = 10

overallBlur = 1
unitBlur = 0

pixelsGoGrayModel = 1
pixelsGoGray = True
jumpToGray = True
greyRate = 350
restartProb = .0001

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapminHoriSize = 224
filterRemapminVertSize = 236

filterRemapRangeX = 160
filterRemapRangeY = 256

objColor = fixed
#fillColor = 240,125,8,35
#outlineColor = 200,10,40,250
#bgColor = 60,0,4,50
#extraOutlineColor = 0,70,25,100

## reversed B-G colors
# actually a more interesting pink flame
fillColor = 240,8,125,35
outlineColor = 200,40,10,250
bgColor = 60,4,0,50
extraOutlineColor = 0,25,70,100


bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****
centerRangeXMin = 30
centerRangeXMax = 320
centerRangeYMin = -150
centerRangeYMax = 200

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
meandorfactor = .5
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
trailingFade = 200

useOverLay = False
overlayColor = 160,0,200,10
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190


[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9


[particleVals-2]
fillColor = 14,180,1,10
outlineColor = 14,180,1,205 
bgColor = 14,180,1,20


[particleVals-1]
fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20
