[displayconfig]

work = moving_bars
_work = diagnostics

rendering = hub
rotation = 180
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 64
tileSizeWidth = 32
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 260

# ---  preparing for rotation
windowWidth = 384
windowHeight = 260

canvasWidth = 384
canvasHeight = 260

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2593
windowYOffset = 335

brightness =  1.96
minBrightness = 0

usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 64
pixSortboxWidth = 384
pixSortgap = 0
pixSortprobDraw = .003
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0.2
pixSortSizeDecriment = .5
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True  
remapImageBlockSection2 = 0,0,64,32
remapImageBlockDestination2 =  64,64
remapImageBlockSection2Rotation = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 384
blurSectionHeight = 384
sectionBlurRadius = 1

useFilters = False

forceBGSwap = False


[bars]
#-------------------------------------------#
numberOfBars = 90

barThicknessMin = 60
barThicknessMax = 120

barLengthMin = 60
barLengthMax = 120

xSpeedRangeMin = .15
xSpeedRangeMax = 1.9
ySpeedRangeMin = -.0
ySpeedRangeMax = .0

yRange = -40,384

direction = 1

leadEdgeAlpahMin = 65
leadEdgeAlpahMax = 65

# 45 degrees is a full triangle tip
# like a filbert
# 0 is a flat
# 10 - 15 is like a chisel tip
# no rounds ?
tipAngle = 0
tipType = 2

colorSets = cset1,cset2,cset3,cset4

# hue min.max  saturation min,max  value min.max
# reds of fall
cset1 = 350,30,.85,1,.1,.98
# yellow greens of spring
cset2 = 50,180,.5,1,.1,.8
# winter water
cset3 = 180,240,.5,1,.1,.8
# satire
cset4 = 0,360,.01,.1,.1,.75



[diag]
#---------------------------------#

fontColor = 100,100,0
outlineColor = 100,0,0
fontColor2 = 0,0,100
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

