[displayconfig]

work = bismuth

rendering = hub
rotation = -0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 384

# ---  preparing for rotation
windowWidth = 384
windowHeight = 384

canvasWidth = 384
canvasHeight = 384

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2721
windowYOffset = 335

brightness =  .99
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,228,228
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 145

remapImageBlock2 = False  
remapImageBlockSection2 = 0,256,192,384
remapImageBlockDestination2 = 192,128

remapImageBlock3 = False  
remapImageBlockSection3 = 0,384,192,512
remapImageBlockDestination3 = 0,128



[forms]
# ------------------------#
reDrawSpeed = .02

# the size of the first line
# longer makes for a window like gap
initialLength = 6

# rate the line changes each half turn
# .5 makes adjactent lines
lengthChange = .5

# the chance the line color changes each turn
lineColorChangeProb = .7

# abberatiions in drawing the lines
randomizeLevel = .99


# number of rings
roundsMax = 30

# variation in size
widthRange = 50
heightRange = 0

# generally the maximum number of new 
# instances per cycle
simultaneousDraws = 5

# the speed of appearance
fadeInRefreshCountMin = 10
fadeInRefreshCount = 40
# inital level
initialFadeInLevel = 4

# background color - higher the 
# alpha = less persistent images
backgroundcolor = 0,0,0,1

#background Color Controls
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .5
bg_maxSaturation = 1.0
bg_minValue = .5
bg_maxValue = 1.0


lines_minHue = 36
lines_maxHue = 360
lines_minSaturation = .1
lines_maxSaturation = .99
lines_minValue = .10
lines_maxValue = 1.0


