[displayconfig]

work = compositions2
_work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 4
pixSortboxHeight = 34
pixSortboxWidth = 34
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .999
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .7
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 8
rows = 6
cols = 6

screenWidth = 384
screenHeight = 256

# ---  preparing for rotation
windowWidth = 384
windowHeight = 256

canvasWidth = 384
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2721
windowYOffset = 335


brightness =  .99
minBrightness = 0



useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 1

useFilters = True
ditherfilterbrightness = .9

remapImageBlock = False
remapImageBlockSection = 0,0,384,192
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 =  32,32,64,64
remapImageBlockDestination2 = 96,32
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 =  32,64,64,96
remapImageBlockDestination3 = 64,64
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False
remapImageBlockSection4 =  96,128,128,160
remapImageBlockDestination4 = 0,96

[compositions]
#---------------------------------#
# Framerate
delay = .04
canvasImageWidth = 384
canvasImageHeight = 256

refreshCount = 400
timeToComplete = 10
cleanSlateProbability = .8
filterPatchProb = .25

bgColor = 60,50,20

#background Color Controls
minHue = 0
maxHue = 360
minSaturation = .21
maxSaturation = .75
minValue = .1
maxValue = .4

# insetGroumd
inset_coords = 15,30, 190,30, 190,130, 18,130
inset_varX = 5
inset_varY = 10
inset_minHue = 0
inset_maxHue = 36
inset_minSaturation = .00
inset_maxSaturation = .99
inset_minValue = .6
inset_maxValue = .6



[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 10

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

