[displayconfig]

work = moving_bars
_work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 1
cols = 20

# ---  Also determines the window geometry
screenWidth = 1024
screenHeight = 128

# ---  preparing for rotation
windowWidth = 320
windowHeight = 128

canvasWidth = 1024
canvasHeight = 32

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
_windowXOffset = 1265
windowXOffset = 2657
windowYOffset = 335

brightness =  .7500
minBrightness = 0

imageXOffset = 0
imageYOffset = 0


remapImageBlock = False
remapImageBlockSection = 0,0,1024,32
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True  
remapImageBlockSection2 = 256,0, 512,32
remapImageBlockDestination2 = 0,32
remapImageBlockSection2Rotation = 0

remapImageBlock3 = True  
remapImageBlockSection3 = 512,0, 768,32
remapImageBlockDestination3 = 0,64
remapImageBlockSection3Rotation = 0

remapImageBlock4 = True  
remapImageBlockSection4 = 768,0, 1024,32
remapImageBlockDestination4 = 0,96
remapImageBlockSection4Rotation = 0

useFilters = False

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 48
pixSortboxHeight = 2
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .2
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

forceBGSwap = False


[bars]
#-------------------------------------------#
numberOfBars = 200

barThicknessMin = 2
barThicknessMax = 16

xSpeedRangeMin = .95
xSpeedRangeMax = 5.25
ySpeedRangeMin = -.1
ySpeedRangeMax = .1

yRange = 0,32

direction = -1

leadEdgeAlpahMin = 5
leadEdgeAlpahMax = 125

# 45 degrees is a full triangle tip
# like a filbert
# 0 is a flat
# 10 - 15 is like a chisel tip
# no rounds ?
tipAngle = 0

colorSets = cset1,cset2,cset3,cset4

# hue min.max  saturation min,max  value min.max
# reds of fall
cset1 = 350,30,.85,1,.1,.98
# yellow greens of spring
cset2 = 50,180,.5,1,.1,.8
# winter water
cset3 = 180,270,.5,1,.1,.8
# psychadelic summer dream 
cset4 = 270,350,.5,1,.1,.8



[diag]
#---------------------------------#

fontColor = 100,100,0
outlineColor = 100,0,0
fontColor2 = 0,0,100
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

