[displayconfig]

work = noisescroller
_work = diagnostics

rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True

tileSizeHeight = 64
tileSizeWidth = 32
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 384

# ---  preparing for rotation
windowWidth = 384
windowHeight = 384

canvasWidth = 384
canvasHeight = 384

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2593
windowYOffset = 335

brightness =  .6
minBrightness = 0

usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 30
pixSortboxHeight = 4
pixSortboxWidth = 384
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = .8
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 1
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.0
pixelSortAppearanceProb = .99


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock3 = True
remapImageBlockSection3 = 0,0,64,32
remapImageBlockDestination3 = 64,64
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False
remapImageBlockSection4 = 64,32,128,64
remapImageBlockDestination4 = 128, 96
remapImageBlockSection4Rotation = 0


useBlur = True
blurXOffset = 150
blurYOffset = 8
blurSectionWidth = 80
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = False

forceBGSwap = False


[noisescroller]
#---------------------------------#
# Framerate
redrawSpeed = .01
scrollRate = .5
amplitude = 120
colFactor = 40
rowFactor = 15
rgbSplitFactor = 10

#waves wavey rings ringLines
function = ringLines

numRings = 18
radiusMin = 2
pointsMin = 2
xOffset = 40
yOffset = 0
markSize = 3

bgColor = 00,10,255,2





[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

