[displayconfig]

work = noisescroller
_work = diagnostics

rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True

transwiring = False
actualscreenwidth = 384
actualscreenheight = 384

tileSizeHeight = 64
tileSizeWidth = 32
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 448
screenHeight = 448

# ---  preparing for rotation
windowWidth = 448
windowHeight = 448

canvasWidth = 448
canvasHeight = 448

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2657
windowYOffset = 335



brightness =  .99
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 20
pixSortYOffset = 90
pixSortboxHeight = 344
pixSortboxWidth = 5
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = .9
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 2
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .99
brightnessVarHi = 1.0
pixelSortAppearanceProb = .99


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,256,448
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock3 = True
remapImageBlockSection3 = 64,225,128,256
remapImageBlockDestination3 = 384,128
remapImageBlockSection3Rotation = 0

remapImageBlock4 = True
remapImageBlockSection4 = 0,0,192,448
remapImageBlockDestination4 = 0,0
remapImageBlockSection4Rotation = .18


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 192
sectionBlurRadius = 1

useFilters = True

forceBGSwap = False

[output]
duration =  15
fps = 24
mode = video

[noisescroller]
#---------------------------------#
# Framerate
redrawSpeed = .01
scrollRate = .5
amplitude = 50
colFactor = 40
rowFactor = 15
rgbSplitFactor = 10

#waves wavey rings ringLines ringLinesNoLoop
function = ringLinesNoLoop

# if timeToChangeRings == -1 then time is randomized
# between 1 and 32 seconds
timeToChangeRings = -1
changeSizeOfMarkProb = .8

# ringLines repeats
frames = 400
radiusVal = 2
radialFactor = 3
animationDuration = 6

line_minHue = 0
line_maxHue = 0
line_minSaturation = 0
line_maxSaturation = 0
line_minValue = 0
line_maxValue = 0

numRings = 600
radiusMin = 35
pointsMin = 2
xOffset = 90
yOffset = 140
markSize = 0

bgColor = 00,0,20,100

redAlpha = 50
greenAlpha = 80
blueAlpha = 100





[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

