[displayconfig]

#----------------------------------------------

_work = diagnostics
work = progressbar

#----------------------------------------------

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = True
checkForConfigChanges = True
isRPI = False
tileSizeWidth = 80
tileSizeHeight = 40
matrixTiles = 40
rows = 4
cols = 9

## Also determines the window geometry
#----------------------------------------------
screenWidth = 480
screenHeight = 160

canvasWidth = 480
canvasHeight = 40

brightness =  .95
minBrightness = .6

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 2657
windowYOffset = 335

#For direct to HAT
#----------------------------------------------
actualScreenWidth = 240
transwiring = True

useFilters = True

remapImageBlock = False
remapImageBlockSection = 0,0,0,0
remapImageBlockDestination = 0,0

remapImageBlock2 = True
remapImageBlockSection2 = 240,0,480,40
remapImageBlockDestination2 = 0,40


[progressbar]
#-----------------------------------------------#
directionOrder = RIGHT-LEFT
useBlanks = False
useVerticalColorGradient = True
useHorizontalColorGradient = False
sansSerif = True
fontSize = 18
shadowSize = 2
steps = 1
vOffset = -0

# rate of time delay between cycles
redrawRate = .02

# These "inherit" from the changeProbablity - i.e. they
# are probablitlies based on a random toss after a random toss
# has allowed for any change
###### ALL PROBABILITIES ARE IN PERCENT - 
###### USE 5.0  which equals  5.0% which becomes .05 


changeProbability = .50  
completeProbability = 0.1
completeProbabilityBase = 0.1
goBackwardsProb = 20.0
changeRateProbability = 5.0
rateMin = 1
rateMax = 4
noBarProb = 0.150
noDoneProb = 0.050
# chance different message is shown, when shown
overrideMessagProb = 50.0

# These are probablilities that are tested against
# a random toss every iteration / cycle
pauseProbability = 15.0
goFwdProb = 5.0
goPastProb = 1.0
# chance that a message shows instead of %
messageOverrideProbability = 5.0

debug = True

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .002
filterRemapminHoriSize = 480
filterRemapminVertSize = 64

filterRemapRangeX = 480
filterRemapRangeY = 64


[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

