[displayconfig]
#-----------------------------------------------#
work = spots
_work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
useFilters = False
checkForConfigChanges = True
doFullReloadOnChange = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
cols = 3
rows = 8

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 256

# ---  preparing for rotation
windowWidth = 384
windowHeight = 256

canvasWidth = 384
canvasHeight = 256

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 2

# Window Offset
windowXOffset = 2723
windowYOffset = 359

brightness =  .80
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,256,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0


remapImageBlock2 = False
remapImageBlockSection2 = 192,0,384,32
remapImageBlockDestination2 = 0, 64
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 192,32,384,64
remapImageBlockDestination3 = 0, 96
remapImageBlockSection3Rotation = 0



## These are the full black-out boxes that seem to
## trap the viewer 
remapImageBlock4 = True
remapImageBlockSection4 = 384,0,452,31
remapImageBlockDestination4 = 128, 32
remapImageBlockSection4Rotation = 0

remapImageBlock5 = True
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0



usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 190
pixSortYOffset = 16
pixSortboxHeight = 12
pixSortboxWidth = 10
pixSortgap = 0
pixSortprobDraw = .81
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = .9



useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 256
sectionBlurRadius = 0

[_spots]
#-----------------------------------------------#
reDrawSpeed = .02
doingRefreshCount = 180

dotSize = 15
cols = 15
rows = 20
packing = -2.5
colsXOffset = -0
rowsYOffset = 1

spreadX = 0
spreadY = 3
gridVariation = 10
dotVariation = 2
dotVariationByColor = True
blurRadius = 1

bgColor = 35,35,42,100

clrA = 155,0,20,200
clrB = 0,205,20,200
clrC = 10,0,255,200

hideDots = 0,1,2,4
hideDotRate = 0

[t]
clrA = 100,0,0,200
clrB = 0,155,20,200
clrC = 0,0,255,200

[spots]
#-----------------------------------------------#
reDrawSpeed = .02
doingRefreshCount = 180

dotSize = 12
cols = 20
rows = 14
packing = 1
colsXOffset = 1
rowsYOffset = 0

spreadX = 2
spreadY = 2
gridVariation = 0
dotVariation = 0
dotVariationByColor = True
blurRadius = 1

#bgColor = 175,35,85,10
bgColor = 12,0,2,2

clrA = 255,0,0,25
clrB = 0,255,0,25
clrC = 0,0,255,25

#hideDots = 0
hideDots = 0,1
#,2,3,4,7,8,9,10,14,15,21
hideDotRate = 0.0
changeDotRate = 0.1



[flag]
#-----------------------------------------------#
delay = .02
numberOfDeadPixels = 50
whiteBrightness = .75
starBrightness = .95
colorBrightness = .90


[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0
