[displayconfig]
#-----------------------------------------------#
#work = diagnostics
work = collage

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = False
isRPI = False

tileSizeHeight = 40
tileSizeWidth = 80
matrixTiles = 24
rows = 4
cols = 7

# ---  Also determines the window geometry
screenWidth = 400
screenHeight = 80

# ---  preparing for rotation
windowWidth = 400
windowHeight = 80

canvasWidth = 400
canvasHeight = 80


# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2595
windowYOffset = 359


brightness =  .925
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 5
pixSortYOffset = 50
pixSortboxHeight = 3
pixSortboxWidth = 200
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .7
brightnessVarHi = 1.5
pixelSortAppearanceProb = 1

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 400
blurSectionHeight = 80
sectionBlurRadius = 1

useFilters = False

remapImageBlock = False
remapImageBlockSection = 0,0,320,320
remapImageBlockDestination = 0,0

remapImageBlock2 = True
remapImageBlockSection2 =  160,0,400,40
remapImageBlockDestination2 = 0,40
remapImageBlockSection2Rotation = 0


useLastOverlay = False
useLastOverlayProb = .01



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0


[productionvalues]
#--------------------------#
changeBoxProb = .005
transitionStepsMin = 140
transitionStepsMax = 254
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = False
useVariablePixelSort = True
variablePixelProb = .001
variableFilterProb = .002

useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0,s1,s3

#,s2

#,s2a,s3
#,s6,s7,s8,s9
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 448,0, 448,448, 0,448
varX = 2
varY = 3
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 320
maxHue = 350
minSaturation = 0.85
maxSaturation = 0.99
minValue = .1
maxValue = .4




#blue
[s1]
position = 0,5
coords = 2,0, 397,0, 397,2, 2,2
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 160
maxHue = 230
minSaturation = .90
maxSaturation = .9
minValue = .75
maxValue = .75


#gree
[s1a]
position = 0,10
coords = 2,0, 397,0, 397,2, 2,2
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 140
maxHue = 160
minSaturation = .990
maxSaturation = .990
minValue = .95
maxValue = .95


#red
[s1b]
position = 0,15
coords = 2,0, 397,0, 397,2, 2,2
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 15
minSaturation = .990
maxSaturation = .990
minValue = .95
maxValue = .95

[s2]
#blue
position = 0,37
coords =  2,0, 397,0, 397,5, 5,5
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 220
maxHue = 220
minSaturation = .90
maxSaturation = .9
minValue = .75
maxValue = .95


[s2a]
#green
position = 0,44
coords = 5,0, 397,0, 397,5, 5,5
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 90
maxHue = 90
minSaturation = .990
maxSaturation = .990
minValue = .95
maxValue = .95


[s3]
#red
position = 0,29
coords =  2,0, 397,0, 397,1, 2,1
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 5
minSaturation = .90
maxSaturation = .9
minValue = 1.18
maxValue = 1.19

