[displayconfig]

work = collage

rotation = 0
rendering = hub
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

#tileSizeHeight = 32
#tileSizeWidth = 64
#matrixTiles = 16
#rows = 4
#cols = 4


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 7

# ---  Also determines the window geometry
screenWidth = 448
screenHeight = 260

# ---  preparing for rotation
windowWidth = 448
windowHeight = 260

canvasWidth = 448
canvasHeight = 260

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# Window Offset

#windowXOffset = 1700
windowXOffset = 2684
windowYOffset = 137

brightness =  .85
minBrightness = 0

imageXOffset = 0

remapImageBlock = True
remapImageBlockSection = 0,64,448,96
remapImageBlockDestination = 3,64

remapImageBlock2 = True
remapImageBlockSection2 = 0,224,448,260
remapImageBlockDestination2 = 3,224

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 116
pixSortboxHeight = 4
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 8


[collageShapes]
#-----------------------------------------------#

prisimBrightness = .95
redrawSpeed = .02
changeBoxProb = .005

transitionStepsMin = 140
transitionStepsMax = 254
# *4
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = False


# varianceMode = symmetrical, asymmetrical, independent
varianceMode = symmetrical

sets = set1
set1 = s0,s1,s1a,s2,s2a

[s0]
postion = 0,0
coords = 0,0, 448,0, 256,448, 0,448
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s1]
postion = 0,0
coords = 0,0, 172,0, 172,256, 0,256
varX = 40
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s1a]
postion = 10,10
coords = 0,0, 152,0, 152,236, 0,236
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s2]
postion = 178,0
coords = 0,0, 248,0, 248,248, 0,248
varX = 40
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s2a]
postion = 188,10
coords = 0,0, 228,0, 228,228, 0,228
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

