[displayconfig]

work = particles

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

usePixelSort = True
pixSortDirection = medial
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 200
pixSortboxWidth = 400
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 6
rows = 6
cols = 4

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 384

# ---  preparing for rotation
windowWidth = 384
windowHeight = 384

canvasWidth = 384
canvasHeight = 384

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3


#windowXOffset = 1700
windowXOffset = 2748
#
windowYOffset = 169

brightness =  .85
minBrightness = 0

imageXOffset = 0
imageYOffset = 0



[particleSystem]
numUnits = 100

xGravity = 0
yGravity = 0
ignoreBottom = False

speedMin = 2
speedMax = 4
variance = 0

objWidth = 4
objHeight = 6
objType = rect

widthRate = 1
heightRate = 1

overallBlur = 0
unitBlur = 0

objColor = rnd
fillColor = 240,150,0,180
outlineColor = 100,0,0,50

centerRangeXMin = 10
centerRangeXMax = 20
centerRangeYMin = 8
centerRangeYMax = 16

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = False

#movement = meander
movement = travel
useFlocking = True
cohesionDistance = 10
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = True

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

bgColor = 0,0,100,230

useOverLay = False
overlayColor = 60,100,0,100
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 128
overlayyPos = 100
#overlayColor = 88,40,0,190

objtrails = False
bgtransitions = False
fixedunitarray = True
reemitnumber = 2
bgrangea = 1,360
linearmotionalsohorizontal = True
transparencyrange = 0,255

transformShape = False
transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0




