[displayconfig]


work = quads

rotation = 91 

rendering = hub
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 7

# ---  Also determines the window geometry
screenWidth = 448
screenHeight = 448

# ---  preparing for rotation
windowWidth = 448
windowHeight = 448

canvasWidth = 448
canvasHeight = 448

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# Window Offset

#windowXOffset = 1700
windowXOffset = 2684
windowYOffset = 169

brightness =  .85
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 128,0,194,128
remapImageBlockDestination = 128,4

remapImageBlock2 = False
remapImageBlockSection2 = 16,0,64,128
remapImageBlockDestination2 = 16,12

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 116
pixSortboxHeight = 4
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


useBlur  = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 6



[animals]
#-----------------------------------------------#
yOffset = 0
xOffset = 100
blockWidth = 28

carcasBlockWidth = 20
carcasXOffset = 10
carcasYOffset = 0

l1Variance = 8
angleRotationRange = 4
xVariance = 20

carcas_pixSortYOffset = 0
base_pixSortYOffset = 0

flip = True
redrawSpeed = .01
redrawProbablility = .001
fade  = 17

redShift = 40
greyLevel = 40

bgR = 10
bgG = 100
bgB = 10

### This is the speed range of transitions in color
### Higher numbers means more possible steps so slower
### transitions - 1,10 very blinky, 10,200 slower
colorTransitionRangeMin = 40
colorTransitionRangeMax = 230

useScrollingBackGround = False
useColorOverlayTransitions = True
applyColorOverlayToFullImage = False

patternRows = 20
patternCols = 24
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .2

#bgForeGroundColor = 180,10,140,255
#bgBackGroundColor = 170,10,130,0

bgForeGroundColor = 150,150,150,255
bgBackGroundColor = 100,100,100,0

alpha = 100
bgYStepSpeed = -9
bgXStepSpeed = 0

pigglyWiggle = 5
pigglyWiggleVariance = 30







