[Desktop Entry]
Encoding=UTF-8
Name=startupscript
Comment=startupscript
Icon=gnome-info
Exec=python /home/daemon8/Documents/RPI/player.py dem8 /home/daemon8/Documents/RPI/ /home/daemon8/Documents/RPI/configs/p10/img-hub.cfg
Terminal=false
Type=Application
Categories=

X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=2


