[displayconfig]

#work = fludd
work = quilt-informal
#work = diagnostics
#work = repeater
#work = dicefactory
#work = stroop2


rendering = hub
rotation = 180
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 16
rows = 4
cols = 4

# ---  Also determines the window geometry
screenWidth = 257
screenHeight = 96

# ---  preparing for rotation
windowWidth = 257
windowHeight = 96

canvasWidth = 257
canvasHeight = 96


# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
windowYOffset = 151


brightness =  .7
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 128,0,194,128
remapImageBlockDestination = 128,4

remapImageBlock2 = False
remapImageBlockSection2 = 16,0,64,128
remapImageBlockDestination2 = 16,12

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 188
pixSortboxHeight = 4
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


useBlur  = False
blurXOffset = 0
blurYOffset = 64
blurSectionWidth = 384
blurSectionHeight = 64
sectionBlurRadius = 4





[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14




[quilt-informal]
#---------------------------------#
delay = .02
colorPopProb = .0001

numUnits = 16
blockSize = 0
blockLength = 1.2
blockHeight = 1.1

blockRows = 4
blockCols = 7
hGapSize = 4
vGapSize = 1

cntrOffsetX = 18
cntrOffsetY = 0

# LighteningStrike
# Regular
# Diagonals

# opticalPatterns = Regular,LighteningStrikeH,Diagonals,LighteningStrikeV
opticalPatterns = LighteningStrikeH,Regular,Diagonals,LighteningStrikeH
polyDistortion = 3

timeToComplete = 30

lines = True
patternPrecision = True


# Controls color of overall top or red colors
# MinHue,MaxHue in degrees -- e.g. 0,40 is red

#the pink-red variant used
# in many works
redRange = 320,10 
backgroundColor = 20,0,10,10

# Blue Cabin
#redRange = 180,270
#backgroundcolor = 30,10,100

#yellows
#redRange = 30,50 
#backgroundcolor = 30,10,100

#red-oranges
#redRange = 330,30 
#backgroundcolor = 20,30,60


## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

saturationRangeFactorRight = 1,1
saturationRangeFactorLeft = .1,.9

transitionStepsMin = 15.0
transitionStepsMax = 300.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
#transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

## skew
transformTuples = .9, .5, 0, -.01,  1, 0, .0009, 0.00
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.



[set2]
## diamond/sqaures recede due to being low saturarion
## BASE
c1HueRange =  1,360
c1SaturationRange = .8,1
c1ValueRange = .5,.8

## SQUARE
c2HueRange = 0,360
c2SaturationRange = .1,.5
c2ValueRange = .1,.3

## CENTER
c3HueRange = 0,360
c3SaturationRange = 1,1
c3ValueRange = .1,.3

[set3]
#	Red center diamonds
## BASE
c1HueRange = 1,360
c1SaturationRange = .8,1 
c1ValueRange = .3,.5

## SQUARE
c2HueRange = 1,20
c2SaturationRange = .8,1
c2ValueRange = .9,1

## CENTER
c3HueRange = 0,360
c3SaturationRange = .7,.9
c3ValueRange =  .1,.5

[set4]
#	Red grid - has most stained-glass feel ++

## BASE
c1HueRange = 0,29 
c1SaturationRange =  .9,1
c1ValueRange = .2,.22

## SQUARE
c2HueRange =  1,360
c2SaturationRange = .8,1
c2ValueRange = .4,.5

## CENTER
c3HueRange =  0,32
c3SaturationRange = .9,1
c3ValueRange = .5,.51






