[displayconfig]

work = particles

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 20
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 640
screenHeight = 128

# ---  preparing for rotation
windowWidth = 640
windowHeight = 128

canvasWidth = 640
canvasHeight = 64

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 70
windowYOffset = 40

# Window Offset
#windowYOffset = 165
#windowXOffset = 2000

brightness =  .96 
minBrightness = 0

remapImageBlock = True
remapImageBlockSection = 320,0,640,64
remapImageBlockDestination = 0,64

usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 31
pixSortboxWidth = 640
pixSortgap = 4
pixSortprobDraw = .99
pixSortprobGetNextColor = 1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = 1.0


[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0


[particleSystem]
#--------------------------#
numUnits = 290
delay = .02

xGravity = 10
yGravity = 0

xWind = -1

ignoreBottom = False

speedMin = .1
speedMax = 1

meandorfactor = .35

#initial direction 3.14/2
variance = 1

objWidth = 50
objHeight = 60
objType = rect
objTrails = False

widthRate = .998
heightRate = .999

overallBlur = 1
unitBlur = 0

objColor = fixed
fillColor = 180,100,0,30
outlineColor = 184,80,1,105 
#bgColor = 80,10,0,20
bgColor = 80,10,30,20

bgTransitions = True
bgRangeA =  100
bgRangeB = 300
hueMin = 0
hueMax = 360
maxBrightness = .955
bgTransparency = 10

transparencyRange = 10,30

#*****
centerRangeXMin = 0
centerRangeYMin = -80

centerRangeXMax = 320
centerRangeYMax = -180

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 100,0,200,1
clrBlkWidth = 32
clrBlkHeight = 32
overlayxPos = 60
overlayyPos = 60
#overlayColor = 88,40,0,190


