[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 6
cols = 8

## Also determines the window geometry
screenWidth = 256
screenHeight = 192

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 256
canvasHeight = 192

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# Window Offset
windowXOffset = 2622
windowYOffset = 280

brightness =  .9
minBrightness = 0

[diag]
fontColor = 200,0,0
outlineColor = 0,100,0
showGrid = True




