[displayconfig]

#work = collage
#work = fluddc
work = quilt-triangles

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 16
cols = 8

# ---  Also determines the window geometry
screenWidth = 512
screenHeight = 512

# ---  preparing for rotation
windowWidth = 384
windowHeight = 256

canvasWidth = 512
canvasHeight = 512

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2685
windowXOffset = 2685
windowYOffset = 201


brightness =  .84
minBrightness = 0



remapImageBlock2 = True  
remapImageBlockSection2 = 256,256,448,384
remapImageBlockDestination2 = 64,128

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 320
sectionBlurRadius = 4



[fludd]

### Now kind of like the Broken Modernist Project ...
## 16/12  8/6  4/3  
rowsOfSquares = 24
colsOfSquares = 1
var = 14

prisimBrightness = .95
redrawSpeed = .02
changeBoxProb = .002

tLimitBase = 20
transitionStepsMin = 20
transitionStepsMax = 50

fixedCenterColor = 200,1,100
usedFixedCenterColor = False

# prism or plenum
# prism is all colors all at once, = no color
# plenum is all white, = all color = no color
borderModel = prism

# nothing or void 
# nothing is white nothing with nothing border implied
# void is black nothing implied
nothing = void

# varianceMode = symmetrical, asymmetrical, independent
varianceMode = asymmetrical

# if demoMode == 0, no rotation of variants
# demoMode > 0 is seconds/variant
demoMode = 0


[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
useVariablePixelSort = True
variablePixelProb = .001
variableFilterProb = .002

useTweenTriggers = False
triggers = 1


sets = s0,s1a,s2,s3,s4,s5,s6
#,s6,s7,s8,s9
#--------------------------#

[s0]
position = 0,60
coords = 0,0, 448,0, 448,448, 0,448
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .9
maxSaturation = 1.0
minValue = .25
maxValue = .25

[s1]
position = 0,62
coords = 108,0, 108,128, 118,128, 118,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s1a]
position = 0,68
coords = 255,0, 440,0, 440,10, 255,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s2]
position = 0,90
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s3]
position = 0,112
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s4]
position = 0,134
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 90
maxHue = 100
minSaturation = .25
maxSaturation = .25
minValue = .99
maxValue = .99

[s5]
position = 0,156
coords = 5,0, 400,0, 400,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s6]
position = 0,178
coords = 5,0, 188,0, 188,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s7]
position = 0,130
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s8]
position = 0,205
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s9]
position = 0,234
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99




[quilt]
#---------------------------------#
pattern = stars

# Framerate
delay = .01

## Approximating timing so that any one triange changes once every 2 minutes or so
## e.g. .0005 prob checked every .01 seconds ~ .0005/ .01s = 5% chance per second ...
resetTrianglesProb = .9995
colorPopProb = .0001

# the probability that at the completion of all transisitons that
# a new quilt sizeing will be made
resetSizeProbability  = .8

blockSizeMin = 8
blockColsMin = 40
blockRowsMin = 84

blockSizeMax = 18
blockColsMax = 10
blockRowsMax = 14

gapSize = 0

cntrOffsetX = -0
cntrOffsetY = -0

lines = False
patternPrecision = True

# the rate of change of colors and overall
# redraw of the quilt
timeToComplete = 60
transitionStepsMin = 15.0
transitionStepsMax = 150.0

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99


activeSet = set2

[set1]
## red grid, greens for squares - high lumen
## BASE
c1HueRange = 0,36
c1SaturationRange = .8,1
c1ValueRange = .5,.8

## SQUARE
c2HueRange = 90,180
c2SaturationRange = .4,.6
c2ValueRange = .5,.6

## CENTER
c3HueRange = 0,36
c3SaturationRange = .9,1
c3ValueRange = .8,.99


[set2]
## diamond/sqaures recede due to being low saturarion
## BASE
c1HueRange =  1,360
c1SaturationRange = .8,1
c1ValueRange = .5,.8

## SQUARE
c2HueRange = 0,360
c2SaturationRange = .1,.5
c2ValueRange = .1,.3

## CENTER
c3HueRange = 0,360
c3SaturationRange = 1,1
c3ValueRange = .1,.3

[set3]
#	Red center diamonds
## BASE
c1HueRange = 1,360
c1SaturationRange = .8,1 
c1ValueRange = .3,.5

## SQUARE
c2HueRange = 1,20
c2SaturationRange = .8,1
c2ValueRange = .9,1

## CENTER
c3HueRange = 0,360
c3SaturationRange = .7,.9
c3ValueRange =  .1,.5

[set4]
#	Red grid - has most stained-glass feel ++

## BASE
c1HueRange = 0,29 
c1SaturationRange =  .9,1
c1ValueRange = .2,.22

## SQUARE
c2HueRange =  1,360
c2SaturationRange = .8,1
c2ValueRange = .4,.5

## CENTER
c3HueRange =  0,32
c3SaturationRange = .9,1
c3ValueRange = .5,.51

