[displayconfig]

work = screensaver

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
useFilters = False

usePixelSort = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 30
pixSortYOffset = 0
pixSortboxHeight = 40
pixSortboxWidth = 190
pixSortgap = 20
pixSortprobDraw = .9
pixSortprobGetNextColor = .1
pixSortSizeDecriment = 1
pixSortProbDecriment = 1
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48

rows = 8
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 256

# ---  preparing for rotation
windowWidth = 192
windowHeight = 256

canvasWidth = 192
canvasHeight = 256

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2977
windowYOffset = 169

imageXOffset = 0
windowOrientation = horizontal

brightness =  .7
minBrightness = 0

[images]
#i1 = icons/Mac-Book-Black-On-icon.png
#i1 = icons/Computer-Hardware-Laptop-icon.png
i1 = icons/boxy.png
i2 = 
useBlanks = False
useimagefilter = False
playSpeed = .01


[txtdisplay]
windowOrientation = horizontal
#txt1 = '      '
#txt2 = ' COMPUTER'
#txt3 = 

#txt2 = '+++++'
#txt1 = '      '
#txt2 = '____'
txt3 = 
txt1 = ' PLEASE TURN OFF WHEN NOT IN USE '   
txt2 = ''

fontColor1_ = 10,10,80,140
fontColor1__ = 255,200,0,200
fontColor1 = 5,200,0,200
fontColor2 = 255,200,0
fontColor3 = 255,200,0
txtBackgroundColor = 10,10,50,140
backgroundColor = 50,5,50,10

crawlText = PLEASE TURN OFF WHEN NOT IN USE
crawlHeight = 50
crawlPositionX = -6
crawlPositionY = 0
crawlRepeatDistanceFactor = 3.0

txtBoxHtMultuiplier = 2
fontSize = 10

xbuffer = 62
ybuffer = 32

xMin = -248
xMax = 190

yMin = -120
yMax = 165
