[displayconfig]

work = signage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 6
cols = 8

## Also determines the window geometry
screenWidth = 256
screenHeight = 192

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 256
canvasHeight = 192

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# Window Offset
windowXOffset = 2622
windowYOffset = 280
windowXOffset = 47
windowYOffset = 22


brightness =  .5
minBrightness = 0

usePixelSort = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0

pixSortXOffset = 128
pixSortYOffset = 128
pixSortboxHeight = 32
pixSortboxWidth = 64
pixSortgap = 1000
pixSortprobDraw = 1
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


[signage]
fontColor = 200,0,0
outlineColor = 0,100,0
showGrid = True
redrawDelay = .005

imageGlitchSize = 5
fullimageGiltchRate = .01

useOverLayImage = False
overLayImage = /assets/imgs/miscl/bursts.png
overlayBrightness = .59
overLayXPos = -5
overLayYPos = -60
overlayGlitchSize = 25
overlayGlitchRate = .01
overlayResetRate = .05




