[displayconfig]

work = plane

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 36
rows = 6
cols = 6

## Also determines the window geometry
screenWidth = 193
screenHeight = 193

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 193
canvasHeight = 193

brightness =  .5
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 0

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = 60
windowYOffset = 67

[repeater]
imageList = plane-2tw-lrg.png
imageList = plane-2tw.png

[plane]
# Used for number of planes etc
unitCount = 14
scalingFactor = 1
speedFactor = 3
vOffset = -10
scrollSpeed = .0001
displayRows = 2
displayCols = 5
useJitter =  True
useBlink = True
noTrails = False
colorMode = colorRGB
#colorWheel  #random #colorRGB #fixed

