[grids-2]
patterns =  petals
            ,pluses
            ,gothic1
            ,randomizer2
            ,decoBoxes
            ,diamond
            ,balls
            ,randomizer
            ,balls_hili
            ,compass
            ,compass_hili
            ; ,colorGridTriangles
            ; ,colorGrid

palettes =  woody
            ,allpink
            ,goldenx2
            ,delft

dominantPatterns = petals
; dominantPatterns = colorGridTriangles
# ,colorGrid
dominantPatternProb = .03
# Border Controls
borderPattern = petals
useBorderPattern = False
altColoringProb = .5
popRandomColorProb = .1
usePolygonOverlay = False
tileOverlayGridProb = .5
# overlay subtract_modulo soft_light lighter
polyOverlayMode = overlay
combinationSetsMaxTime = 61
maxNumberOfRandomizers = 3

