[displayconfig]

#work = sparkles
work = voronoi_particles
# work = diagnostics


rendering = hub
rotation = -0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 8
cols = 11

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 192

# ---  preparing for rotation
windowWidth = 256
windowHeight = 192

canvasWidth = 256
canvasHeight = 192


# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2647
windowYOffset = 118

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,384,384
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,96,768,128
remapImageBlockDestination2 = 384,0

remapImageBlock3 = False
remapImageBlockSection3 = 384,0,512,32
remapImageBlockDestination3 = 0,32

remapImageBlock4 = False
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64



usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 192
pixSortboxWidth = 1
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = True
ditherfilterbrightness = 1.0
# filterremapping = True
# filterremappingprob  = .1
# filterremapminhorisize = 100
# filterremapminvertsize = 200
# filterremaprangex = 200
# filterremaprangey = 200
forceBGSwap = False


[particles]

minParticles = 430
maxParticles = 430

speedFactorMin = .02
speedFactorMax = .02

particleXSpeed = 1
particleYSpeed = 1

rSpeedMin  = .00001
rSpeedMax  = .00001
rSpeedRadialProportional = True

resolutionOfSquares = 4

initXRangeMin = 80
initXRangeMax = 100
initYRangeMin = 96
initYRangeMax = 100

xRange  = 380
yRange  = 380

systemRotation = 0

fadeRate = 2
fadeRateDelta = 1.0

# the alphas are set way down to smooth out
# the micromovements - cheap, slightly dirty, but effective ;)
cellAlpha = 20
lineAlpha = 50

sparkleProb = .001
fadeRateNewSystemThreshold = 2.0
orbitProb = .99

particleResetProb = .0001
totalResetProb = .25


filterremapping = True
filterremappingprob = .01
filterRemapMinHorzSize = 100
filterRemapMaxHorzSize = 260
filterRemapMinVertSize = 320
filterRemapMaxVertSize = 320
filterRemapRangeX = 300
filterRemapRangeY = 270




innerRadius = 50
outerRadius = 700

rBase = 20
gBase = 14
bBase = 10

rBase2 = 30
gBase2 = 24
bBase2 = 2

rDiff = 5
gDiff = 1
bDiff = 5

bgColorSets = bg_a,bg_b,bg_c,bg_a




[bg_a]
bgColor = 1,1,2

[bg_b]
bgColor = 70,50,0

[bg_c]
bgColor = 1,1,60




[squares]
lineWidth = 1
countLimit = 12
pulseSpeed = .09
mode = cols

[diag]
#---------------------------------#

fontColor = 100,100,0
outlineColor = 100,0,0
fontColor2 = 0,0,255
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
