[displayconfig]
workList = p0-1,p0-3,p0-4
playInOrder = True

###########################################

[p0-1]
work = prod/p3-askew-tower-w-mike-ballou/p3-askew-tower-with-mike-ballou-informal-lines.cfg
minDuration = 220
maxDuration = 320
brightnessOverride = 1.0

[p0-3]
work = prod/p3-askew-tower-w-mike-ballou/p3-askew-tower-with-mike-ballou-repeatblocks_7.cfg
minDuration = 220
maxDuration = 320
brightnessOverride = 1.0

[p0-4]
work = prod/p3-askew-tower-w-mike-ballou/p3-askew-tower-with-mike-ballou-hashingmarks.cfg
minDuration = 220
maxDuration = 320
brightnessOverride = 1.0