[displayconfig]

work = screen

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0

pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 32
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = .1
pixSortProbDecriment = .1
pixSortSizeDecriment = .1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .0012
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = .1

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 5
cols = 4

# ---  Also determines the window geometry
screenWidth = 170
screenHeight = 160

# ---  preparing for rotation
windowWidth = 160
windowHeight = 160

canvasWidth = 160
canvasHeight = 160

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 5
canvasOffsetY = 3

# Window Offset
windowXOffset = 2681
windowYOffset = 169

brightness =  .8
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = True
remapImageBlockSection = 0,0,66,160
remapImageBlockDestination = 0,-25

[screenproject]
delay = .05
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,10
## Needs to be odd number ...
numCracks = 5
pointsCount = 5
origin = 85,65

## Used when first creating the cracks
yVarMin = 5
yVarMax = 20

randomColorSampleProb = .0001

timeTrigger = True
tLimitBase = 30


#------------