[displayconfig]
#-----------------------------------------------#
#work = diagnostics
work = marquee_2

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 4
cols = 7

## Also determines the window geometry
screenWidth = 450
screenHeight = 290

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 450
canvasHeight = 290

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2685
windowYOffset = 201


brightness =  .98
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 254
pixSortYOffset = 5
pixSortboxHeight = 3
pixSortboxWidth = 184
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .7
brightnessVarHi = 1.5
pixelSortAppearanceProb = 1

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 450
blurSectionHeight = 256
sectionBlurRadius = 2

useFilters = False

remapImageBlock2 = False
remapImageBlockSection2 = 0,0,192,250
remapImageBlockDestination2 = 0,-32

#useLastOverlay = True
#useLastOverlayProb = .01



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

[marquee]
#-----------------------------------------------#
redrawSpeed = .02
changePaletteInterval = 30
marqueeNum = 10
marqueeWidth = 8
baseDashSize = 40
gap = 8
step = 1
decrement = 1
randomRangeMin = 400
randomRangeMax = 700


fontsize = 44
shadowSize = 1

mulitColor = False













