[displayconfig]
#-----------------------------------------------#
#work = diagnostics
work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 4
cols = 7

## Also determines the window geometry
screenWidth = 450
screenHeight = 290

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 450
canvasHeight = 290

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2685
windowYOffset = 201


brightness =  .98
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 5
pixSortboxHeight = 3
pixSortboxWidth = 440
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 450
blurSectionHeight = 256
sectionBlurRadius = 2

useFilters = False

remapImageBlock2 = True
remapImageBlockSection2 = 0,0,192,250
remapImageBlockDestination2 = 0,-32

useLastOverlay = True



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0


[productionvalues]
#--------------------------#
changeBoxProb = .005
transitionStepsMin = 140
transitionStepsMax = 254
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
useVariablePixelSort = True
variablePixelProb = .01
variableFilterProb = .002

useTweenTriggers = False
triggers = 1


sets = s0,s1a,s2,s3,s4,s5
#,s6,s7,s8,s9
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 448,0, 448,448, 0,448
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .9
maxSaturation = 1.0
minValue = .5
maxValue = .5

[s1a]
position = 0,8
coords = 255,0, 440,0, 440,10, 255,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s2]
position = 0,36
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s3]
position = 0,64
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s4]
position = 0,92
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 90
maxHue = 100
minSaturation = .25
maxSaturation = .25
minValue = .99
maxValue = .99

[s5]
position = 0,120
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s6]
position = 0,148
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s7]
position = 0,176
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s8]
position = 0,205
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s9]
position = 0,234
coords = 5,0, 440,0, 440,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

















