[worksList]

# this is for the quilt - chair intersection piece
# the chair was found on 118th st - discarded from the old folks home
# the double quilt patterns are the log cabin/ court steps with a triangles backdrop

# startup files are in ~/.config/autostart/startup1.desktop



works = w1,w2
# ---  Also determines the window geometry
screenWidth = 324
screenHeight = 324

# ---  preparing for rotation
windowWidth = 324
windowHeight = 324

canvasWidth = 324
canvasHeight = 324

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
windowYOffset = 118

repaintDelay = 0.033


[w1]
cfg = studio/base-controlled/quilt-and-chair/quilt-triangles-v2.cfg
canvasOffsetX = 0
canvasOffsetY = 0
canvasRotation = 0
randomChange = False

[w2]
cfg = studio/base-controlled/quilt-and-chair/quilt-logcabin.cfg
canvasOffsetX = 0
canvasOffsetY = -5
canvasRotation = 12
randomChange = False
