[displayconfig]

_work = sparkles
work = concentric_particles

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False

checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 10

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 448

# ---  preparing for rotation
windowWidth = 256
windowHeight = 448

canvasWidth = 256
canvasHeight = 448


# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
windowYOffset = 60


brightness =  1.1
minBrightness = 0

#work = squares
#rotation = 0
#screenWidth = 320
#screenHeight = 192
#canvasWidth = 320
#canvasHeight = 192


useFilters = True

remapImageBlock = False
remapImageBlockSection = 0,0,256,448
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0


remapImageBlock2 = True
remapImageBlockSection2 = 0,220,160,256
remapImageBlockDestination2 = 1,220
remapImageBlockSection2Rotation = 1

remapImageBlock3 = False
remapImageBlockSection3 = 224,0,256,448
remapImageBlockDestination3 = 0,0
remapImageBlockSection3Rotation = 0


[particles]

minParticles = 2666
maxParticles = 2666

speedFactorMin = .1
speedFactorMax = 1

initXRangeMin = 120
initXRangeMax = 220
initYRangeMin = 90
initYRangeMax = 180

PSXSpeed = 0.5
PSYSpeed = 0
PSRadiusFactor1 = 1.5
PSRadiusFactor2 = 1.5
PSRadiusMin = 220
PSRadiusMax = 384

systemRotation = 200

fadeRate = 90
fadeRateDelta = 1.0
sparkleProb = .001
fadeRateNewSystemThreshold = 2.0
orbitProb = .95

# for some towers the seam between the 
# start and end needs to become semi-continuous
horizontalContinuity = True
horizontalOverlapFraction = 4

particleResetProb = .0001
totalResetProb = .25

# particle colors
rRangeMin = 100
rRange = 255
gRangeMin = 0
gRange = 200
bRangeMin = 100
bRange = 10

rBase = 5
gBase = 30
bBase = 60
aBase = 10

radialAlpha = 180
radialRed = 55
radialGreen = 30
radialBlue = 0

radial2Red = 0
radial2Green = 0
radial2Blue = 18

# outer golden ring color
# if filters-dithering are on these will not
# appear exactly as anticipated so fiddling wiil
# be needed

goldenRingsArray = 0,1,2,3,10,20,23,24

rBase2 = 130
gBase2 = 104
bBase2 = 10
aBase2 = 50

rDiff = -1
gDiff = -1
bDiff = -1

bgColorSets = bg_a,bg_b,bg_c,bg_a

[bg_a]
bgColor = 1,4,10

[bg_b]
bgColor = 90,60,10

[bg_c]
bgColor = 5,30,60



