[displayconfig]

workList =p0,p2
playInOrder = True


###########################################

[p0]
work = prod/p2.5-aggregator/p2.5-aggregator-particles_fire_algo-a.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = 1.4

[p2]
work = prod/p2.5-aggregator/p2.5-aggregator-flame-particles.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = 1.4

