[displayconfig]
# --------------------------------------------------#
work = actionmarks_v2_1
# work = diagnostics
# --------------------------------------------------#

rotation = -90
checkForConfigChanges = False
doFullReloadOnChange = False

tileSizeHeight = 32
tileSizeWidth = 64

rows = 8
cols = 11

# ---  Also determines the window geometry
screenWidth = 268
screenHeight = 256

# ---  preparing for rotation
windowWidth = 268
windowHeight = 256

canvasWidth = 268
canvasHeight = 256


# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 179
windowYOffset = 69

brightness = 1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,32,22
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,96,768,128
remapImageBlockDestination2 = 384,0

remapImageBlock3 = False
remapImageBlockSection3 = 384,0,512,32
remapImageBlockDestination3 = 0,32

remapImageBlock4 = False
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64


remapImageBlockShift = True
remapImageBlockShiftSection = 0,128,268,256
remapImageBlockShiftStableSection = 0,0,268,128
remapImageBlockShiftDestination = 38,128


usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 192
pixSortboxWidth = 1
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99

useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = True
ditherfilterbrightness = .95

# --------------------------------------------------#
[drawingField]

slotRate = .03

# change the drawing mode
changeDrawingModeTime = 20
# if this is too high, it all gets "poppy"
bgColorAlpha = 10
# chance, per cycle, move the dither around
filterremappingprob = .002
# chance, per cycle, that overlay blocks are cleared
# not realy that useful because the composite image is
# always being added to so retains a continuous pile
# of layers
clearbgBoxprob = .0003
# chance, per cycle, that the line drawing jitters
doJitterProb = .01
# change Palette and Drawing
changeColorSetTime = 60
# the range of time changeColorSetTime X changeColorSetTimeMaxMultiplier
changeColorSetTimeMaxMultiplier = 2
# # when adding background blocks also jitter drawing
doJitterWhenAddingBG = True
# rate per cycle that a new bg is blended-in
blendLevelRateBase = .001

totalRandomPenColorProb = .5
totalRandomBGBoxColorProb = .02

jitterIterationsMin = 1
jitterIterationsMax = 30
jitterIterationsHoriz = 2
jitterIterationsVert = 2
alwaysJitterLineAfterDrawn = True


penAlpha = 200


# time to clear the canvas
changeTime = 0

fadeRateNewSystemThreshold = 2.0

# this guy is presented rotated -90
# so adjusting so the horizontal dither
# banding appears a more vertically biased
filterremapping = True
filterRemapMinHorzSize = 60
filterRemapMaxHorzSize = 300
filterRemapRangeX = 120
filterRemapMinVertSize = 8
filterRemapMaxVertSize = 90
filterRemapRangeY = 260

innerRadius = 50
outerRadius = 700

usebgBox = True
bgBoxBox = 0,0,384,256
bgTileSizeWidthMin = 33
bgTileSizeWidthMax = 160
bgTileSizeHeightMin = 33
bgTileSizeHeightMax = 129

bgBoxAlphaRange = 40,248
forcebgBox = True

compositionModeChangeProb = .01

bgGlitchCyclesMin = 4
bgGlitchCyclesMax = 30
bgGlitchDisplacementHorizontal = 6
bgGlitchDisplacementVertical = 6

# --------------------------------------------------#


# ************************************************* #
# textures are in configs/asset_configs/textures
# pens and marks are in configs/asset_configs/marks
# ************************************************* #
# as defined in this file
# bluebrow
# greybrow
# blue_w
# acid_2
# acid_1
# rose_x
# dekoonig
# YellowsOnGrayTex
# PostItNotesBlueInk2
# PostItNotesBlueInk
# PostItNotes
# OnPink
# OnBrown
# OnBrownDrawing
# YellowsOnGray
# OnGray
# OnSystemBlue
# CoastalIndustry


drawingBundle = dev/staging/p4-vertical-shift-home-bundle

# VirHeroicusSublimis2,VirHeroicusSublimisCurves,
paletteSets = VirHeroicusSublimis2,VirHeroicusSublimisCurves,VirHeroicusSublimis,OnPink,OnBrown,dekoonig
# paletteSets = VirHeroicusSublimis2,VirHeroicusSublimisCurves,VirHeroicusSublimis,OnPink,OnBrown,OnSystemBlue,CoastalIndustry,OnBrownDrawing,OnGray,YellowsOnGray,PostItNotesBlueInk2,YellowsOnGrayTex,dekoonig
textureSets = texture1,texture2,texture3,texture4,textureScrim2
penNames = longOvalSweeps1,longOvalSweeps2,longOvalSweeps2b,shortMarks,shortMarks2,scratchyLong,scratchyLong2,spiralGyres,spiralGyres2,lineMarksH1,lineMarks2,lineMarksVert

# --------------------------------------------------#

[VirHeroicusSublimisCurves]
bgColor = 3,8,.60,.82,.45,.7,0,0
penColor = 0,245,.1,1.0,.3,.99,60,180
bgBoxColorRange = 3,6,.60,.62,.45,.47,0,0
bgBoxAlphaRange = 140,248
penNames = longOvalSweeps2b
texture = texture1
# chance, per cycle, that a line is drawn
startNewLineProb = .5
startNewLineDelayRange = 2,15
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .005
clearCurrentDrawingProb = .0001
blendLevelRateBase = .85
slownessFactor = .90

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,228

changePenColorWhileDrawingProb = .01

[VirHeroicusSublimis2]
bgColor = 3,8,.60,.82,.45,.7,0,0
penColor = 0,245,.1,1.0,.3,.99,60,180
bgBoxColorRange = 3,6,.60,.62,.45,.47,0,0
bgBoxAlphaRange = 140,248
penNames = lineMarks2
texture = texture1
# chance, per cycle, that a line is drawn
startNewLineProb = .5
startNewLineDelayRange = 2,15
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .005
clearCurrentDrawingProb = .0001
blendLevelRateBase = .85
slownessFactor = .90

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,10

changePenColorWhileDrawingProb = .01

[VirHeroicusSublimis]
bgColor = 3,8,.60,.82,.45,.7,0,0
penColor = 0,245,.1,1.0,.3,.99,60,180
bgBoxColorRange = 3,6,.60,.62,.45,.47,0,0
bgBoxAlphaRange = 140,248
penNames = lineMarksVert
texture = texture1
# chance, per cycle, that a line is drawn
startNewLineProb = .5
startNewLineDelayRange = 2,15
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .005
clearCurrentDrawingProb = .0003
blendLevelRateBase = .85
slownessFactor = .40

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .001

[bluebrow]
bgColor = 200,260,.6,.75,.52,.52,0,0
penColor = 8,20,.63,1.0,.1,.960,240,350
bgBoxColorRange = 15,32,.20,.93,.54,.650,0,0
bgBoxAlphaRange = 140,248
penNames = longOvalSweeps2b
texture = texture1
# chance, per cycle, that a line is drawn
startNewLineProb = .2
startNewLineDelayRange = 2,77
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .01
clearCurrentDrawingProb = .001
blendLevelRateBase = .85
slownessFactor = 2.0

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01


[greybrow]
bgColor = 326,346,.06,.075,.1,.4,0,0
penColor = 38,40,.13,.14,.1,.660,240,350
bgBoxColorRange = 15,32,.20,.93,.54,.650,0,0
bgBoxAlphaRange = 140,248
penNames = shortMarks2,scratchyLong2
texture = texture1
# chance, per cycle, that a line is drawn
startNewLineProb = .2
startNewLineDelayRange = 2,77
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .01
clearCurrentDrawingProb = .001
blendLevelRateBase = .85
slownessFactor = 2.0

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

[blue_w]
# darker real red
bgColor = 195,223,.63,.85,.63,.75,0,0
bgBoxColorRange = 24,36,.170,.6,.84,.99,0,0
bgBoxAlphaRange = 120,248
penColor = 24,36,.170,.6,.84,.99,0,0
penNames = lineMarks2,lineMarksH1,shortMarks2,scratchyLong2
texture = texture3
# chance, per cycle, that a line is drawn
startNewLineProb = .2
startNewLineDelayRange = 2,77
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .01
clearCurrentDrawingProb = .001
blendLevelRateBase = .85
slownessFactor = 2.0

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

# 1747251432726063 
# bg:(299, 0.58, 0.439, 0.04) 10 
# fill:(253, 0.192, 0.961, 0.49) 124 
# pen:(2, 0.739, 0.557, 0.78) 200
# 1747252458508064 bg:(59, 0.691, 0.686, 0.04) 10 fill:(246, 0.109, 0.757, 0.44) 113 pen:(36, 0.819, 0.412, 0.78) 200
[acid_2]
# darker real red
bgColor = 55,63,.63,.85,.63,.75,0,0
bgBoxColorRange = 2,260,.170,.2,.84,.99,0,0
bgBoxAlphaRange = 120,148
penColor = 316,346,.6,.75,.43,.64,0,0
penNames = longOvalSweeps2b,spiralGyres,lineMarks2
# penNames = lineMarks2,lineMarksH1,shortMarks2,scratchyLong2
texture = textureScrim2
# chance, per cycle, that a line is drawn
startNewLineProb = .2
startNewLineDelayRange = 2,77
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .01
clearCurrentDrawingProb = .001
blendLevelRateBase = .85
slownessFactor = 2.0

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

[acid_1]
# darker real red
bgColor = 55,63,.63,.85,.63,.75,0,0
bgBoxColorRange = 2,260,.170,.2,.84,.99,0,0
bgBoxAlphaRange = 120,148
penColor = 202,250,.63,.84,.5,.660,0,0
penNames = lineMarks2,lineMarksH1,shortMarks2,scratchyLong2
texture = texture3
# chance, per cycle, that a line is drawn
startNewLineProb = .2
startNewLineDelayRange = 2,77
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .01
clearCurrentDrawingProb = .001
blendLevelRateBase = .85
slownessFactor = 2.0

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

# 1747253795709692 bg:(326, 0.699, 0.639, 0.04) 10 fill:(321, 0.172, 0.525, 0.53) 135 pen:(38, 0.131, 0.659, 0.78) 200

[rose_x]
# darker real red
bgColor = 326,346,.6,.75,.43,.64,0,0
penColor = 38,40,.13,.14,.65,.660,240,350
bgBoxColorRange = 321,22,.170,.372,.24,.650,0,0
bgBoxAlphaRange = 120,148
penNames = lineMarks2,lineMarksH1,shortMarks2,scratchyLong2
texture = texture1
# chance, per cycle, that a line is drawn
startNewLineProb = .2
startNewLineDelayRange = 2,77
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .01
clearCurrentDrawingProb = .001
blendLevelRateBase = .85
slownessFactor = 2.0

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

[dekoonig]
# black range
bgColor =40,45,0.3,.40,.8,.80,0,0
penColor = 1,240,0.9,1.0,.95,.950,60,210
bgBoxColorRange = 40,180,0.1,.4,.5,1.0,46,170
bgBoxAlphaRange = 40,100
penNames = lineMarks2
# penNames = spiralGyres2,spiralGyres,longOvalSweeps1
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = .80
startNewLineDelayRange = 4,14
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .003
blendLevelRateBase = .01
clearCurrentDrawingProb = .0001
slownessFactor = 2.0

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

[YellowsOnGrayTex]
# black range
bgColor =180,260,.0,.02,.09,.15,0,0
penColor = 44,50,0.9,1.0,.7,1.0,0,0
bgBoxColorRange = 40,45,0.7,1.0,.4,1.0,0,0
bgBoxAlphaRange = 40,248
# penNames = longOvalSweeps2,shortMarks,scratchyLong,lineMarksH1
# texture = texture4

penNames = lineMarks2
texture = texture3
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0065
blendLevelRateBase = .01
clearCurrentDrawingProb = .0001
slownessFactor = 4.0

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

[PostItNotesBlueInk2]
# black range
bgColor =40,45,0.8,1.0,.6,1.0,0,0
penColor = 210,260,0.9,1.0,.1,.50,0,0
bgBoxColorRange = 40,180,0.7,1.0,.6,1.0,46,170
bgBoxAlphaRange = 140,248
penNames = spiralGyres,longOvalSweeps2b,spiralGyres2,shortMarks2,scratchyLong2,lineMarksH1
# penNames = lineMarksH1
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = .80
startNewLineDelayRange = 8,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .003
blendLevelRateBase = .01
clearCurrentDrawingProb = .0005
slownessFactor = 2.0

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

[PostItNotesBlueInk]
# black range
bgColor =40,45,0.7,1.0,.5,1.0,0,0
penColor = 190,260,0.9,1.0,.1,.50,0,0
bgBoxColorRange = 40,180,0.7,1.0,.6,1.0,46,170
bgBoxAlphaRange = 140,248
penNames = longOvalSweeps2b,shortMarks,scratchyLong,spiralGyres,lineMarksH1
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = .80
startNewLineDelayRange = 8,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .003
blendLevelRateBase = .01
clearCurrentDrawingProb = .0005
slownessFactor = 2.0

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

[PostItNotes]
# black range
bgColor =40,45,0.7,1.0,.5,1.0,0,0
penColor = 0,360,0.9,1.0,.7,1.0,0,0
bgBoxColorRange = 40,180,0.7,1.0,.6,1.0,46,170
bgBoxAlphaRange = 140,248
penNames = longOvalSweeps2b,shortMarks,scratchyLong,spiralGyres,lineMarksH1
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = .80
startNewLineDelayRange = 8,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .003
blendLevelRateBase = .01
clearCurrentDrawingProb = .0005
slownessFactor = 2.0

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

[OnPink]
bgColor =335,345,.9,1.0,.8,.9,0,0
penColor = 335,260,0.80,1.0,.10,1.0,0,0
bgBoxColorRange = 180,66,.750,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248
penNames = shortMarks,scratchyLong,lineMarksH1
texture = texture2
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0065
clearCurrentDrawislownessFactor = 2.0
ngProb = .0001

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01


[OnBrown]
bgColor = 0,25,.8,1.0,.4,.5,0,0
penColor = 0,360,0.05,1.10,.01,1.0,0,0
bgBoxColorRange = 180,66,.0,.30,.2,1.0,0,0
bgBoxAlphaRange = 40,248
penNames = longOvalSweeps2b,shortMarks,scratchyLong,lineMarksH1
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0065
clearCurrentDrawislownessFactor = 2.0
ngProb = .0001

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01


[OnBrownDrawing]
bgColor = 0,25,.8,1.0,.4,.5,0,0
penColor = 0,360,0.05,1.10,.01,1.0,0,0
bgBoxColorRange = 180,66,.0,.30,.2,1.0,0,0
bgBoxAlphaRange = 40,248
penNames = longOvalSweeps2b,shortMarks,scratchyLong,spiralGyres2,lineMarksH1
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = .5,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0065
clearCurrentDrawislownessFactor = 2.0
ngProb = .0001

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01




[YellowsOnGray]
# black range
bgColor =180,260,.0,.02,.02,.15,0,0
penColor = 44,50,0.9,1.0,.7,1.0,0,0
bgBoxColorRange = 40,45,0.7,1.0,.4,1.0,0,0
bgBoxAlphaRange = 40,248
penNames = longOvalSweeps2b,shortMarks,scratchyLong,lineMarksH1
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0065
blendLevelRateBase = .01
clearCurrentDrawingProb = .0001
slownessFactor = 2.0


# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

[OnGray]
# black range
bgColor =0,360,.01,.15,.35,.4,0,0
penColor = 0,360,0.01,.10,.01,.90,0,0
bgBoxColorRange = 0,30,.850,1.0,.2,1.0,70,100
bgBoxAlphaRange = 40,248
penNames = scratchyLong,spiralGyres2,shortMarks,lineMarksH1
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0065
clearCurrentDrawislownessFactor = 2.0
ngProb = .0001

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

[OnSystemBlue]
# darker real red
bgColor = 200,250,.7, .9,.6, .7,0,0
penColor = 180,250,0.10,1.00,.40,1.0,0,0
bgBoxColorRange = 0,360,.750,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248
penNames = shortMarks2,scratchyLong2
texture = textureScrim2
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0065
clearCurrentDrawislownessFactor = 2.0
ngProb = .0001

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

[CoastalIndustry]
# darker real red
bgColor = 20,30,.47, .6,.3, .4,0,0
penColor = 40,20,.10,1.0,.4,1.0,240,350
bgBoxColorRange = 0,60,.10,.20,.4,1.0,20,40
bgBoxAlphaRange = 40,248
penNames = longOvalSweeps2b,shortMarks,scratchyLong,spiralGyres2,lineMarksH1
texture = texture1
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0065
blendLevelRateBase = .01
clearCurrentDrawingProb = .0001
slownessFactor = 2.0

# palcement
xOffsetRange = 8,256
yOffsetRange = 0,128

changePenColorWhileDrawingProb = .01

# --------------------------------------------------#


[diag]
# --------------------------------------------------#
fontColor = 100,100,0
outlineColor = 100,0,0
fontColor2 = 0,0,255
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness = .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
