
#--------------------- COLORS    ---------------------
[palettesIncluded]
palettes = galah,goldenx2,oceansky,china


[galah]
c1_minHue = 330
c1_maxHue = 345
c1_minSaturation = .9
c1_maxSaturation = 1.0
c1_minValue = .2
c1_maxValue = .3
c1_tLimitBase = 10

c2_minHue = 330
c2_maxHue = 345
c2_minSaturation = .70
c2_maxSaturation = 1.0
c2_minValue = .8
c2_maxValue = 1.0
c2_tLimitBase = 15

c3_minHue = 330
c3_maxHue = 355
c3_minSaturation = .70
c3_maxSaturation = 1.0
c3_minValue = .8
c3_maxValue = 1.0
c3_tLimitBase = 15


[goldenx2]
c1_minHue = 38
c1_maxHue = 48
c1_minSaturation = .8
c1_maxSaturation = .99
c1_minValue = .99
c1_maxValue = .99
c1_tLimitBase = 15

c2_minHue = 38
c2_maxHue = 42
c2_minSaturation = .01
c2_maxSaturation = .1
c2_minValue = .1
c2_maxValue = .5
c2_tLimitBase = 15

c3_minHue = 40
c3_maxHue = 48
c3_minSaturation = .1
c3_maxSaturation = .2
c3_minValue = .1
c3_maxValue = .2
c3_tLimitBase = 15

[oceansky]
c1_minHue = 200
c1_maxHue = 220
c1_minSaturation = .5
c1_maxSaturation = .9
c1_minValue = .5
c1_maxValue = .9
c1_tLimitBase = 25

c2_minHue = 200
c2_maxHue = 220
c2_minSaturation = .5
c2_maxSaturation = .9
c2_minValue = .9
c2_maxValue = .95
c2_tLimitBase = 25

c3_minHue = 200
c3_maxHue = 220
c3_minSaturation = .5
c3_maxSaturation = .9
c3_minValue = .05
c3_maxValue = .1
c3_tLimitBase = 25

[china]
c1_minHue = 200
c1_maxHue = 245
c1_minSaturation = .01
c1_maxSaturation = .1
c1_minValue = .6
c1_maxValue = .9
c1_tLimitBase = 25

c2_minHue = 200
c2_maxHue = 245
c2_minSaturation = .9
c2_maxSaturation = .99
c2_minValue = .3
c2_maxValue = .9
c2_tLimitBase = 25

c3_minHue = 200
c3_maxHue = 260
c3_minSaturation = .9
c3_maxSaturation = .99
c3_minValue = .3
c3_maxValue = .9
c3_tLimitBase = 25

