[displayconfig]

work = image

rendering = hub
rotation = 180
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 6
cols = 3

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 192

# ---  preparing for rotation
windowWidth = 192
windowHeight = 192

canvasWidth = 192
canvasHeight = 192

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2877
windowYOffset = 169

brightness =  .95
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,128,192,256
remapImageBlockDestination = 192,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,256,192,384
remapImageBlockDestination2 = 192,128

remapImageBlock3 = False  
remapImageBlockSection3 = 0,384,192,512
remapImageBlockDestination3 = 0,128


usePixelSort = True
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 200
pixSortboxWidth = 400
pixSortgap = 1
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = False

[diag]
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,12,12
bgColor = 10,10,100
showGrid = True
fontSize = 14




[images]
#i1 = flames/fire_o5b.gif
#i1 = flames/fire-o2.gif
#i1 = flames/fire-o2test.gif
i1 = flames/fire-o2-192b.gif
i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .02

[filter]
# for rotated image, lines are width, boxWidth is height
# 160
lines = 160
boxHeight = 16
boxWidth = 190
xPos1 = 0
yPosBase = 0
targetPalette = selective
#targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17
#targetClrs = 92,106,107,117,119,124
#targetClrs = 104,91,96,104,112,104
targetClrs = 14,15,16

bgFilterProb = 0.01
imageFilterProb = .3
imageGlitchProb = .181
imageGlitchSize = 16
imageGlitchDisplacement = 10
animateProb = .95

# Color overlay / pixel color block
clrBlkWidth = 17
clrBlkHeight = 100
overlayxPos = 64
overlayyPos = 0
overlayChangeProb = .005
overlayChangePosProb = .5

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4