[displayconfig]
#--------------------------#

work = pattern

rendering = hub
isRPI = False
checkForConfigChanges = True

rotation = 5
fullRotation = True
rotationTrailing = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 480
screenHeight = 480

# ---  preparing for rotation
windowWidth = 480
windowHeight = 480

canvasWidth = 580
canvasHeight = 480

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2977
windowXOffset = 2977
windowYOffset = 165

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,384,384
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0,448,512
remapImageBlockDestination2 = 0,0

useFilters = True
ditherFilterBrightness = .95

usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 128
pixSortYOffset = 130
pixSortboxHeight = 18
pixSortboxWidth = 320
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .95
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .0001
brightnessVarLow = .81
brightnessVarHi = .92
pixelSortAppearanceProb = 1.0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 10


[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14

[lines]
#-----------------------------------------------#

delay = .02
base = 40.0
rows = 100
cols = 100
widthMultiplier = 6
bgColor = 30,30,30,30



[pattern]
#-----------------------------------------------#

delay = .02
base = 10.50
rows = 8
cols = 8
patternXOffset = 16


[pSet1]
minHue = 0
maxHue = 360
minSaturation = .8
maxSaturation = .99
minValue = .1
maxValue = .8

[pSet2]
minHue = 0
maxHue = 360
minSaturation = .8
maxSaturation = .99
minValue = .1
maxValue = .8

[pSet3]
minHue = 0
maxHue = 0
minSaturation = .99
maxSaturation = .99
minValue = .0
maxValue = .0

[pSet4]
minHue = 0
maxHue = 360
minSaturation = .8
maxSaturation = .99
minValue = .1
maxValue = .8


[pSet5]
minHue = 0
maxHue = 360
minSaturation = .8
maxSaturation = .99
minValue = .1
maxValue = .8

## BACKGROUND
[pSet6]
minHue = 0
maxHue = 360
minSaturation = .8
maxSaturation = .99
minValue = .1
maxValue = .8




[PatternAsTexture]
#-------------------#
patternSpeed = .5
patternRows = 130
patternCols = 440
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

[PatternAsBlocks-1]
#-------------------#
patternSpeed = .5
patternRows = 13
patternCols = 44
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

[PatternAsBlocks]
#-------------------#
patternSpeed = .5
patternRows = 2
patternCols = 40
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .81
pattern = lines


[scroller]
#-----------------------------------------------#
redrawSpeed = .01

xOffset = -5
yOffset = 0

displayRows = 4
displayCols = 10

#--- Pattern BG
useBackGround = True

patternSpeed = .5
patternRows = 130
patternCols = 440
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

bgBackGroundColor = 0,0,20,80
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20

alwaysRandomPatternColor = True
altDirectionScrolling = True
alwaysRandomPattern = False
