[displayconfig]
# p4-draped--manifest.cfg
workListDirectory = dev/dev_ondeck

#workList =p9,p9
workList =p1,p2
playInOrder = True


###########################################

[p0]
work = dev/dev_ondeck/p4-draped-fire-on-post.cfg
minDuration = 40
maxDuration = 60
brightnessOverride = 1.0
[p1]
work = dev/dev_ondeck/p4-draped-marquee2.cfg
minDuration = 40
maxDuration = 60
brightnessOverride = 1.0
[p2]
work = dev/dev_ondeck/p4-draped-repeatblocks_4.cfg
minDuration = 40
maxDuration = 60
brightnessOverride = 1.0