[displayconfig]
# --------------------------------------------------#
work = actionmarks_1_3
# work = diagnostics
# --------------------------------------------------#

rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 8
cols = 11

# ---  Also determines the window geometry
screenWidth = 660
screenHeight = 660

# ---  preparing for rotation
windowWidth = 660
windowHeight = 660

canvasWidth = 224
canvasHeight = 224

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1711
windowYOffset = 118

brightness = 1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,32,22
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,96,768,128
remapImageBlockDestination2 = 384,0

remapImageBlock3 = False
remapImageBlockSection3 = 384,0,512,32
remapImageBlockDestination3 = 0,32

remapImageBlock4 = False
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64

usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 192
pixSortboxWidth = 1
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99

useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = True
ditherfilterbrightness = .95




# --------------------------------------------------#
[drawingField]

slotRate = .03

debugMode = False
# fadeRate = 5
# fadeRateDelta = .2
# fadeRateNewSystemThreshold = 200.0
# this makes a drawing biased image
# chance, per cycle, that a new line is drawn
# moved to palettes !
# startNewLineProb = .1

# chance, per cycle, that an overlay block is drawn
# moved to palettes !
# usebgBoxProb = .02

changeBGColorProb = .001

# change the drawing mode
changeDrawingModeTime = 20
# if this is too high, it all gets "poppy"
bgColorAlpha = 2
# chance, per cycle, move the dither around
filterremappingprob = .008
# chance, per cycle, that overlay blocks are cleared
# not realy that useful because the composite image is
# always being added to so retains a continuous pile
# of layers
clearbgBoxprob = .003
# chance, per cycle, that the line drawing jitters
doJitterProb = .01
# change Palette and Drawing
changeColorSetTime = 60
# the range of time changeColorSetTime X changeColorSetTimeMaxMultiplier
changeColorSetTimeMaxMultiplier = 3
# # when adding background blocks also jitter drawing
doJitterWhenAddingBG = True
# rate per cycle that a new bg boxes are blended-in
blendLevelRateBase = .05

totalRandomPenColorProb = .5
totalRandomBGBoxColorProb = .02

jitterIterationsMin = 1
jitterIterationsMax = 30
jitterIterationsHoriz = 2
jitterIterationsVert = 2


penAlpha = 200
changePenColorWhileDrawingProb = .01
pen_centerVariationXMin = 10
pen_centerVariationXMax = 10
pen_centerVariationYMin = 10
pen_centerVariationYMax = 10
alwaysJitterLineAfterDrawn = True

# time to clear the canvas
changeTime = 0


filterremapping = True
filterRemapMinHorzSize = 10
filterRemapMaxHorzSize = 48
filterRemapRangeX = 260

filterRemapMinVertSize = 33
filterRemapMaxVertSize = 320
filterRemapRangeY = 128

innerRadius = 50
outerRadius = 700

usebgBox = True
bgBoxBox = 0,0,384,256
bgTileSizeWidthMin = 33
bgTileSizeHeightMin = 33
bgTileSizeWidthMax = 129
bgTileSizeHeightMax = 160

bgBoxAlphaRange = 40,248
forcebgBox = True

compositionModeChangeProb = .01

bgGlitchCyclesMin = 4
bgGlitchCyclesMax = 30
bgGlitchDisplacementHorizontal = 7
bgGlitchDisplacementVertical = 7

# --------------------------------------------------#
penNames = longOvalSweeps1,shortMarks,scratchyLong,spiralGyres,lineMarks2
paletteSets = min_1,min_1
textureSets = texture1,texture2,texture3,texture4,textureScrim2

# --------------------------------------------------#


[min_1]
# darker real red
bgColor = 0,36,.3, .40,.4, .40,0,0
penColor = 40,20,.10,1.0,.4,1.0,240,350
bgBoxColorRange = 0,60,.10,.20,.4,1.0,20,40
bgBoxAlphaRange = 40,248
penNames = lineMarks2
texture = texture4
# chance, per cycle, that a line is drawn
startNewLineProb = .001
startNewLineDelayRange = 5,10
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .001
blendLevelRateBase = .05
clearCurrentDrawingProb = .001

[TESTBGTRANSITIONS]
# darker real red
bgColor = 0,360,.1, 1.0,.1, 1.0,0,0
penColor = 40,20,.10,1.0,.4,1.0,240,350
bgBoxColorRange = 0,60,.10,.20,.4,1.0,20,40
bgBoxAlphaRange = 40,248
penNames = lineMarks2
texture = texture4
# chance, per cycle, that a line is drawn
startNewLineProb = 1.0
startNewLineDelayRange = .5,10
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .01
blendLevelRateBase = .05
clearCurrentDrawingProb = .001


# --------------------------------------------------#


# --------------------------------------------------#
[texture1]
useTextureLayer = True
# coastal defaults
texture_step = 7
# dot size
texture_px = 1
# rows of dots
texture_rows = 64
# cols of dots
texture_cols = 32
# alpha change factor
texture_rate = 2
# base alpha value
texture_base = 100
# dot rgb
texture_clr_r = 40
texture_clr_g = 40
texture_clr_b = 40

texture_blockRows = 6
texture_blockCols = 6
# chance the block does not get drawn
texture_skipProb = .1

texture_blur = 1
texture_xtick = -1
texture_ytick = 3
texture_drawMark = .7
texture_usedots = True

# ------------------------------------- #
[texture2]
useTextureLayer = True
# very scrim like
texture_step = 2
# dot size
texture_px = 0
# rows of dots
texture_rows = 64
# cols of dots
texture_cols = 32
# alpha change factor
texture_rate = 2
# base alpha value
texture_base = 255
# dot rgb
texture_clr_r = 140
texture_clr_g = 40 
texture_clr_b = 90

texture_blockRows = 8
texture_blockCols = 8
# chance the block does not get drawn
texture_skipProb = .1

texture_blur = 0
texture_xtick = 0
texture_ytick = 3
texture_drawMark = .4
texture_usedots = False

# ------------------------------------- #
[textureScrim2]
useTextureLayer = True
# very scrim like
texture_step = 3
# dot size
texture_px = 0
# rows of dots
texture_rows = 64
# cols of dots
texture_cols = 32
# alpha change factor
texture_rate = 2
# base alpha value
texture_base = 255
# dot rgb
texture_clr_r = 20
texture_clr_g = 20 
texture_clr_b = 60

texture_blockRows = 8
texture_blockCols = 8
# chance the block does not get drawn
texture_skipProb = .1

texture_blur = 0
texture_xtick = 0
texture_ytick = 8
texture_drawMark = .02
texture_usedots = False

# ------------------------------------- #
[texture3]
useTextureLayer = True
# dot density
texture_step = 7
# dot size
texture_px = 1
# rows of dots
texture_rows = 64
# cols of dots
texture_cols = 32
# alpha change factor
texture_rate = 2
# base alpha value
texture_base = 25
# dot rgb
texture_clr_r = 40
texture_clr_g = 40
texture_clr_b = 40

texture_blockRows = 6
texture_blockCols = 6
# chance the block does not get drawn
texture_skipProb = .1

texture_blur = 0
texture_xtick = -1
texture_ytick = 3
texture_drawMark = .7
texture_usedots = True

# ------------------------------------- #
[texture4]
useTextureLayer = False
# dot density
texture_step = 7
# dot size
texture_px = 1
# rows of dots
texture_rows = 64
# cols of dots
texture_cols = 32
# alpha change factor
texture_rate = 2
# base alpha value
texture_base = 25
# dot rgb
texture_clr_r = 40
texture_clr_g = 40
texture_clr_b = 40

texture_blockRows = 6
texture_blockCols = 6
# chance the block does not get drawn
texture_skipProb = .1

texture_blur = 0
texture_xtick = -1
texture_ytick = 3
texture_drawMark = .7
texture_usedots = True



# pen params
# --------------------------------------------------#
[scratchyLong]
minNumPoints = 4
maxNumPoints = 10

turnsRange = 8, 12
minInterpolatedPoints = 80
maxInterpolatedPoints = 200

baseRadiusFactorRange = 1.8,3
yRadiusFactorRange = 0.001,.05
xRadiusFactorRange = 1.8, 2.5

xRadiusFactorNoiseFactor = 10.10
yRadiusFactorNoiseFactor = 10.0
yRandomRange = -10, 10
xRandomRange = -10, 140

rotationFactor = 12

xOffsetRange = -100,100
yOffsetRange = -100,100
w = 1
mode = 1

minMarkWidth = 1
maxMarkWidth = 12
changeMarkWidthProb =.09
incrementFactor = 1

xTravelRange = -4,4
yTravelRange = -4,4

xtravelProb = .1
ytravelProb = .1
xTravelIncrRange = 1.01,1.05
yTravelIncrRange = 1.01,1.05

radiusChangePerRound = -.1

# --------------------------------------------------#
[shortMarks]
minNumPoints = 4
maxNumPoints = 10

turnsRange = 3, 4
minInterpolatedPoints = 80
maxInterpolatedPoints = 100

baseRadiusFactorRange = 1.0,1.1
xRadiusFactorRange = 0.001,.01
yRadiusFactorRange = .45, .6

xRadiusFactorNoiseFactor = 1.1
yRadiusFactorNoiseFactor = .0
yRandomRange = -50, 50
xRandomRange = -10, 10

rotationFactor = 4

xOffsetRange = -100,100
yOffsetRange = -200,200
w = 1
mode = 1

minMarkWidth = 1
maxMarkWidth = 12
changeMarkWidthProb =.09
incrementFactor = 1

xTravelRange = -4,4
yTravelRange = -4,4

xtravelProb = .1
ytravelProb = .1
xTravelIncrRange = 1.01,1.05
yTravelIncrRange = 1.01,1.05

radiusChangePerRound = -.1

# --------------------------------------------------#
[spiralGyres]
# winding scribbles
minNumPoints = 8
maxNumPoints = 8

num_points = 8
turnsRange = 3,11
minInterpolatedPoints = 190
maxInterpolatedPoints = 220

baseRadiusFactorRange = 1.4,1.7
xRadiusFactorRange = .50,1.3
yRadiusFactorRange = .20,.40

xRadiusFactorNoiseFactor = 1.0
yRadiusFactorNoiseFactor = 1.0
xRandomRange = -10, 20
yRandomRange = -10, 10

rotationFactor = 8

xOffsetRange = -0,0
yOffsetRange = -0,-0
# xOffsetRange = -2,10
# yOffsetRange = -40,-10
w = 6
mode = 2

minMarkWidth = 1
maxMarkWidth = 12
changeMarkWidthProb =.09
incrementFactor = 1

xTravelRange = -4,8
yTravelRange = -1,4

radiusChangePerRound = -2

# --------------------------------------------------#
[longOvalSweeps]
# winding scribbles
minNumPoints = 8
maxNumPoints = 8

num_points = 8
turnsRange = 3,7
minInterpolatedPoints = 190
maxInterpolatedPoints = 220

baseRadiusFactorRange = 1.5,1.8
xRadiusFactorRange = .50,.71
yRadiusFactorRange = .90,1.2

xRadiusFactorNoiseFactor = 1.0
yRadiusFactorNoiseFactor = 1.0
xRandomRange = -10, 20
yRandomRange = -10, 10

rotationFactor = 8

xOffsetRange = -0,0
yOffsetRange = -0,-0
# xOffsetRange = -2,10
# yOffsetRange = -40,-10
w = 6
mode = 2
minMarkWidth = 1
maxMarkWidth = 12
changeMarkWidthProb =.09
incrementFactor = 1

xTravelRange = -4,8
yTravelRange = -4,4

radiusChangePerRound = -.1

[diag]
# --------------------------------------------------#
fontColor = 100,100,0
outlineColor = 100,0,0
fontColor2 = 0,0,255
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness = .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
