[markParams]
name=shortMarks
minNumPoints = 4
maxNumPoints = 10

turnsRange = 3, 4
minInterpolatedPoints = 80
maxInterpolatedPoints = 100

baseRadiusFactorRange = 1.0,1.1
xRadiusFactorRange = 0.001,.01
yRadiusFactorRange = .45, .6

xRadiusFactorNoiseFactor = 1.1
yRadiusFactorNoiseFactor = .0
yRandomRange = -50, 50
xRandomRange = -10, 10

rotationFactor = 4

# xOffsetRange = -100,100
# yOffsetRange = -200,200
w = 14
minMarkWidth = 3
maxMarkWidth = 23
changeMarkWidthProb =.09
incrementFactor = 2

mode = 1

xTravelRange = -4,4
yTravelRange = -4,4

xtravelProb = .1
ytravelProb = .1
xTravelIncrRange = 1.01,1.05
yTravelIncrRange = 1.01,1.05

radiusChangePerRound = -.1

angleDiffMax = 10