[displayconfig]
#-----------------------------------------------#
work = movingpattern

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 3

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 160

# ---  preparing for rotation
windowWidth = 192
windowHeight = 160

canvasWidth = 240
canvasHeight = 590

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2721
windowYOffset = 335

brightness =  .98
minBrightness = 0

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 20
pixSortboxHeight = 4
pixSortboxWidth = 240
pixSortgap = 1
pixSortprobDraw = .1
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False
remapImageBlockSection = 40,20,78,256
remapImageBlockDestination = 40, 20
remapImageBlockSectionRotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 0,0,320,256
remapImageBlockDestination3 = 56, 0
remapImageBlockSection3Rotation = -50

remapImageBlock4 = False
remapImageBlockSection4 = 0,0,128,256
remapImageBlockDestination4 = 18, 20
remapImageBlockSection4Rotation = -180


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = True

[movingpattern]
redrawSpeed =.01


# Titian Bachus and Ariadne
# Dionysus / Ariadne Madness and Labyrinth
baseImage = assets/imgs/drawings/titian-192.png

#baseImage = assets/imgs/drawings/testimg.png
#baseImage = assets/imgs/drawings/Studio-ii_3l.jpg




scrollStep = 1
step = 5
grout = 3
scrollDirection = 0
mosaicAlpha = 50


#speed of movement
limUp = 1024
limDown = 1
dpat = 100
deltapat = .63

#speed of pattern change
dpatColor = 1.920
deltapatColor = .1

mult_a = .060
mult_b = .60
mult_c = .90
mult_d = 1.0
mult_e = 50.0
changeProb = .0



[diag]
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
