[displayconfig]

work = collage
_work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 1
pixSortboxHeight = 256
pixSortboxWidth = 3
pixSortgap = 0
pixSortprobDraw = .92
pixSortprobGetNextColor = .91
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0


tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 8
rows = 7
cols = 6

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 96

# ---  preparing for rotation
windowWidth = 256
windowHeight = 96

canvasWidth = 256
canvasHeight = 96

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset

# 2611 - 9
windowXOffset = 2657
windowYOffset = 339

brightness =  .65
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

useBlur  = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 255
blurSectionHeight = 96
sectionBlurRadius = 3

useFilters = True
ditherfilterbrightness = .9

remapImageBlock = False
remapImageBlockSection = 0,0,0,0
remapImageBlockDestination = 0,0





[collageShapes]
#-----------------------------------------------#

redrawSpeed = .02
changeBoxProb = .003

transitionStepsMin = 140
transitionStepsMax = 254

tweenCountMax = 300
colOverlaytLimitBase = 25
colOverlaySteps = 60

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = True

usevariablefilter = True
variablefilterprob = .1
filterPatchProb = .001



sets = set1
set1 = s0,s1a,s1b,s1c,s1d,s1e,s2a,s2b,s2c,s2d,s2e
set2 = s0,s1a,s2a,s2b,s2c,s2d,s2e

#,s1a,s2,s2a

[s0]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 256,0, 256,96, 0,96
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 190
maxHue = 260
minSaturation = .81
maxSaturation = .80
minValue = .5
maxValue = .5

[s1a]
#-----------------------------------------------#
position = 70,0
coords = 0,0, 130,0, 130,16, 0,16
varX = 10
vary = 2
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 340
maxHue = 60
minSaturation = .8
maxSaturation = 1.0
minValue = .4
maxValue = .6

[s1b]
#-----------------------------------------------#
position = 70,17
coords = 0,0, 130,0, 130,16, 0,16
varX = 10
vary = 2
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 340
maxHue = 60
minSaturation = .8
maxSaturation = 1.0
minValue = .4
maxValue = .6

[s1c]
#-----------------------------------------------#
position = 70,33
coords = 0,0, 130,0, 130,16, 0,16
varX = 10
vary = 2
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 340
maxHue = 60
minSaturation = .8
maxSaturation = 1.0
minValue = .4
maxValue = .6


[s1d]
#-----------------------------------------------#
position = 70,49
coords = 0,0, 130,0, 130,16, 0,16
varX = 10
vary = 2
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 340
maxHue = 60
minSaturation = .8
maxSaturation = 1.0
minValue = .4
maxValue = .6

[s1e]
#-----------------------------------------------#
position = 70,64
coords = 0,0, 130,0, 130,16, 0,16
varX = 10
vary = 2
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 340
maxHue = 60
minSaturation = .8
maxSaturation = 1.0
minValue = .4
maxValue = .6


[s2a]
#-----------------------------------------------#
position = 110,0
coords = 0,0, 62,0, 62,16, 0,16
varX = 15
vary = 2
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 340
maxHue = 60
minSaturation = .8
maxSaturation = 1.0
minValue = .6
maxValue = .9

[s2b]
#-----------------------------------------------#
position = 110,16
coords = 0,0, 62,0, 62,16, 0,16
varX = 15
vary = 2
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 340
maxHue = 60
minSaturation = .8
maxSaturation = 1.0
minValue = .6
maxValue = .9
[s2c]
#-----------------------------------------------#
position = 110,32
coords = 0,0, 62,0, 62,16, 0,16
varX = 15
vary = 2
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 340
maxHue = 60
minSaturation = .8
maxSaturation = 1.0
minValue = .6
maxValue = .9
[s2d]
#-----------------------------------------------#
position = 110,48
coords = 0,0, 62,0, 62,16, 0,16
varX = 15
vary = 2
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 340
maxHue = 60
minSaturation = .8
maxSaturation = 1.0
minValue = .6
maxValue = .9
[s2e]
#-----------------------------------------------#
position = 110,64
coords = 0,0, 62,0, 62,16, 0,16
varX = 15
vary = 2
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 340
maxHue = 60
minSaturation = .8
maxSaturation = 1.0
minValue = .6
maxValue = .9






[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 10

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

