[displayconfig]

work = pattern_animation
_work = diagnostics

rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 10
pixSortboxHeight = 2
pixSortboxWidth = 260
pixSortgap = 0
pixSortprobDraw = .991
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .0
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 8
rows = 20
cols = 10

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 260

# ---  preparing for rotation
windowWidth = 260
windowHeight = 260

canvasWidth = 260
canvasHeight = 260

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2657
windowYOffset = 339

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 220
blurSectionHeight = 320
sectionBlurRadius = 1

useFilters = False
ditherFilterBrightness = .95

forceBGSwap = False

remapImageBlock = False
remapImageBlockSection = 0,0,320,320
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 =  0,0,320,128
remapImageBlockDestination2 = 0,0
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 =  0,0,0,0
remapImageBlockDestination3 = 0,0


[bars]
#-------------------------------------------#
numberOfRows = 26
numberOfCols = 9
spacing = 30
colSpacing = .65
rowSpacing = 1.99
colSpacingOffset = 0

verticalLength = 40

leadEdgeAlpahMin = 100
leadEdgeAlpahMax = 200

angularOffsetSpeeed = 40
angularOffsetSpeeed2 = 30
period = 2
periodOffset = .0

bgColor = 10,0,80,10
bgColorAlpha = 10
colorChangeProb = .04

colorSets = cset0,cset1,cset2,cset3,cset4
cset0 = 0,360,.8,1,.1,.8
cset0b = 0,360,.1,.1,.1,.4
#cset1,cset2,cset3,cset4

# hue min.max  saturation min,max  value min.max
# reds of fall
cset1 = 350,50,.5,1,.1,.8
# yellow greens of spring
cset2 = 50,180,.5,1,.1,.8
# winter water
cset3 = 180,270,.5,1,.1,.8
# psychadelic summer dream 
cset4 = 270,350,.5,1,.1,.8



[diag]
#---------------------------------#

fontColor = 100,100,0
outlineColor = 100,0,0
fontColor2 = 0,0,100
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

