[displayconfig]

work = particles

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 160

# ---  preparing for rotation
windowWidth = 192
windowHeight = 160

canvasWidth = 192
canvasHeight = 160

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 4

# Window Offset
windowXOffset = 124
windowYOffset = 0


brightness =  1
minBrightness = 0

[diag]
fontColor = 200,0,0
outlineColor = 0,200,0

[particleSystem]
numUnits = 150
xGravity = 0
yGravity = 0

speedMin = 3
speedMax = 5

damping = 1
borderCollisions = True
cohesionDistance = 20
repelDistance = 3

repelFactor = 2
clumpingFactor = 1

distanceFactor = 1
cohesionDegrades = .8

trailingFade = 200


