[light-medium]
numberOfSections = 10
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 88,180
sectionHeightRange = 88,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .1
stopProbMax = .02

# higher number reduces the speed in that direction
baseSectionSpeed = .2
sectionSpeedFactorHorizontal = 1.0
sectionSpeedFactorVertical = 1.0
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.003

diagonalmovement = True
randomDiagonal = True
diagonalFixedAngle = 0

# the decrement in pasted movement - the higher the number up to 1.0 +
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .76
speedDeAccelerationUpperLimit = .96

disturbanceScaleX = 5.0
disturbanceScaleY = 5.0

[medium]
numberOfSections = 10
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 88,180
sectionHeightRange = 88,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .1
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .2
sectionSpeedFactorHorizontal = 1.0
sectionSpeedFactorVertical = 1.0
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.005

diagonalmovement = True
randomDiagonal = True
diagonalFixedAngle = 0

# the decrement in pasted movement - the higher the number up to 1.0 +
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .76
speedDeAccelerationUpperLimit = .96

disturbanceScaleX = 7.0
disturbanceScaleY = 7.0

[heavy]
numberOfSections = 20
# the number of steps per section movement
sectionMovementCountMax = 100
sectionWidthRange = 88,180
sectionHeightRange = 88,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .5
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .2
sectionSpeedFactorHorizontal = 1.0
sectionSpeedFactorVertical = 1.0
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = True
randomDiagonal = True
diagonalFixedAngle = 0

# the decrement in pasted movement - the higher the number up to 1.0 +
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96

disturbanceScaleX = 9.0
disturbanceScaleY = 9.0

[medium-heavy-horiz-bias]
numberOfSections = 20
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 88,180
sectionHeightRange = 88,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .1
stopProbMax = .02


disturbanceScaleX = 12.0
disturbanceScaleY = 3.0
baseSectionSpeed = .1

sectionSpeedFactorHorizontal = 1.0
sectionSpeedFactorVertical = 1.0
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.003

diagonalmovement = True
randomDiagonal = True
diagonalFixedAngle = 0

# the decrement in pasted movement - the higher the number up to 1.0 +
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .76
speedDeAccelerationUpperLimit = .96


[medium-heavy]
numberOfSections = 20
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 88,180
sectionHeightRange = 88,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .1
stopProbMax = .02

# higher number reduces the speed in that direction
baseSectionSpeed = .2
sectionSpeedFactorHorizontal = 1.0
sectionSpeedFactorVertical = 1.0
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.003

diagonalmovement = True
randomDiagonal = True
diagonalFixedAngle = 0

# the decrement in pasted movement - the higher the number up to 1.0 +
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .76
speedDeAccelerationUpperLimit = .96

disturbanceScaleX = 6.0
disturbanceScaleY = 6.0

[minimal]
numberOfSections = 30
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 8,80
sectionHeightRange = 8,80
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .01
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .08
sectionSpeedFactorHorizontal = .80
sectionSpeedFactorVertical = 1.2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = False
randomDiagonal = True
diagonalFixedAngle = 0

# the decrement in pasted movement - the higher the number up to 1.0 +
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96

disturbanceScaleX = 2.0
disturbanceScaleY = 2.0

[standard]
numberOfSections = 30
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 8,80
sectionHeightRange = 8,80
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .01
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .08
sectionSpeedFactorHorizontal = .80
sectionSpeedFactorVertical = 1.2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = False
randomDiagonal = True
diagonalFixedAngle = 0

# the decrement in pasted movement - the higher the number up to 1.0 +
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96

disturbanceScaleX = 5.0
disturbanceScaleY = 5.0
