[light-medium]
numberOfSections = 10
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 88,180
sectionHeightRange = 88,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
baseSectionSpeed = .2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.003
disturbanceScaleX = 2.0
disturbanceScaleY = 5.0

[medium]
numberOfSections = 10
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 88,180
sectionHeightRange = 88,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
baseSectionSpeed = .2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.005
disturbanceScaleX = 7.0
disturbanceScaleY = 7.0

[heavy]
numberOfSections = 20
# the number of steps per section movement
sectionMovementCountMax = 100
sectionWidthRange = 88,180
sectionHeightRange = 88,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
baseSectionSpeed = .2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01
disturbanceScaleX = 9.0
disturbanceScaleY = 9.0

[medium-heavy-horiz-bias]
numberOfSections = 20
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 88,180
sectionHeightRange = 88,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
baseSectionSpeed = .1
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.003
disturbanceScaleX = 12.0
disturbanceScaleY = 3.0

[medium-heavy]
numberOfSections = 20
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 88,180
sectionHeightRange = 88,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
baseSectionSpeed = .2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.003
disturbanceScaleX = 6.0
disturbanceScaleY = 6.0

[minimal]
numberOfSections = 30
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 8,80
sectionHeightRange = 8,80
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
baseSectionSpeed = .08
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01
disturbanceScaleX = 2.0
disturbanceScaleY = 2.0

[standard]
numberOfSections = 30
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 8,80
sectionHeightRange = 8,80
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
baseSectionSpeed = .08
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01
disturbanceScaleX = 5.0
disturbanceScaleY = 5.0
