[displayconfig]
#----------------------#
# work = diagnostics
work = particles-v2
#----------------------#
rendering = hub
# changed to -90 from 90
rotation = -90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False


tileSizeHeight = 40
tileSizeWidth = 40
matrixTiles = 32
rows = 16
cols = 16

# ---  Also determines the window geometry
screenWidth = 480
screenHeight = 480

# ---  preparing for rotation
windowWidth = 480
windowHeight = 480

# WHEN RUNNING PIECE
canvasWidth = 200

# FOR DIAGNOSTIC and PANEL MAPPING
# canvasWidth = 480
canvasHeight = 480

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowXOffset = 120
# windowYOffset = 120

# Window Offset
# windowXOffset = 2647
# windowYOffset = 60

# Window Offset
windowXOffset = 1583
windowYOffset = 38


brightness =  .9
minBrightness = 0

usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
pixSortboxHeight = 48
pixSortboxWidth = 480

blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortgap = 4
pixSortprobDraw = .1
pixSortprobGetNextColor = .1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.001
brightnessVarLow = .5
brightnessVarHi = 1.0
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0


# changed to True
useFilters = True


# added this
## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,480,480
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

# reverses the flow for the far-back beam
remapImageBlock2 = True
remapImageBlockSection2 = 0,40,240,80
remapImageBlockDestination2 = 0, 80
remapImageBlockSection2Rotation = 0

# completes the 128 /2-panel to the long 8 panel beam
remapImageBlock3 = True
remapImageBlockSection3 = 240,40,480,80
remapImageBlockDestination3 = 0, 120
remapImageBlockSection3Rotation = 0

# reverses first / forward beam
remapImageBlock4 = False
remapImageBlockSection4 = 0,192,480,224
remapImageBlockDestination4 = 0, 64
remapImageBlockSection4Rotation = 180



[base]
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# hue min, hue max, saturarion min, saturation max, value min, value max, drop-hue min, drop-hue max, alpha min, alpha max
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
particle_fillRange = 20,40,.80,1.0,.5,1.0,0,0,10,22
particle_outlineRange = 0,40,.50,1.0,.3,1.0,0,0,100,200
# backgroundColor controls
bg_fillRange = 0,18,.2,1.0,.1,.6,0,0,10,20
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 305

overallBlur = 4
unitBlur = 0

[midnightBlue]
particle_fillRange = 350,33,.80,1.0,.5,1.0,0,0,100,200
particle_outlineRange = 350,33,.50,1.0,.3,1.0,0,0,100,200
# backgroundColor controls
bg_fillRange = 210,270,.8,1.0,.1,.6,0,0,10,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 15

overallBlur = 2
unitBlur = 0

[pinkSacrifice]
particle_fillRange = 350,20,1.0,1.0,.80,1.0,0,0,100,220
particle_outlineRange = 350,350,1.0,1.0,1.0,1.0,0,0,100,200
# backgroundColor controls
bg_fillRange = 320,350,1.0,1.0,.9,1.0,0,0,100,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = False
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 15

overallBlur = 3
unitBlur = 0

[test]
particle_fillRange = 350,20,1.0,1.0,.80,1.0,100,220
particle_outlineRange = 350,350,1.0,1.0,1.0,1.0,100,200
# backgroundColor controls
bg_fillRange = 320,350,1.0,1.0,.9,1.0,100,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = False
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 15

overallBlur = 3
unitBlur = 0


[particleSystem]
#-------------------------------------------#
numUnits = 500
delay = .02
slotRate = .03
restartProb = .0001

# COLOR SETTINGS
# ----------------------------------

palettes = base,base
paletteChangeProb = .001

# ----------------------------------
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True
objColor = fixed
objTrails = True
trailingFade = 200
renderDiagnostics = False
# ----------------------------------

objWidth = 30
objHeight = 40
objType = rect

speedMin = 1
speedMax = 3

widthRate = .9994
heightRate = .9997
# ----------------------------------

centerRangeXMin = 35
centerRangeXMax = 30
centerRangeYMin = 228
centerRangeYMax = 10

# ----------------------------------
# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
meanderFactor = 1.15
meanderFactor2 = 10.0
meanderDirection = 0
oneDirection = False

particleWinkOutXMin = 5
particleWinkOutYMin = 5

ignoreBottom = False
borderCollisions = True
expireOnExit = True
reEmitNumber = 2

damping = 1
collisionDamping = 1
xGravity = 0
yGravity = 0
xWind = 0
torqueDelta = 0
torqueRate = -0

# ----------------------------------
# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapminHoriSize = 124
filterRemapminVertSize = 136
filterRemapRangeX = 100
filterRemapRangeY = 450

# ----------------------------------
## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 1,0,200,1
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190




#----------------------------------------------------##----------------------------------------------------#
[diag]
#----------------------------------------------------##----------------------------------------------------#
fontColor = 0,255,90
outlineColor = 205,0,0
fontColor2 = 200,255,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0