[displayconfig]

work = counterscroll

rotation = 0
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 86
tileSizeWidth = 172
matrixTiles = 48
rows = 8
cols = 8

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 240

# ---  preparing for rotation
windowWidth = 320
windowHeight = 240

canvasWidth = 320
canvasHeight = 240

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1520
windowYOffset = 87


brightness = 1.1
minBrightness = 0


remapImageBlock = False
remapImageBlockSection = 0,0,188,180
remapImageBlockDestination = 0,0
# remapImageBlockSectionRotation = 0

# remapImageBlock2 = True
# remapImageBlockSection2 = 64,144,83,180
# remapImageBlockDestination2 = 64,128
# # remapImageBlockSection2Rotation = 0

# remapImageBlock3 = True
# remapImageBlockSection3 = 83,0,180,180
# remapImageBlockDestination3 = 83,-16
# # remapImageBlockSection3Rotation = 0

# remapImageBlock4 = True
# remapImageBlockSection4 = 64,128,195,180
# remapImageBlockDestination4 = 83,128
# # remapImageBlockSection5Rotation = 0

# remapImageBlock5 = True
# remapImageBlockSection5 = 0,128,83,180
# remapImageBlockDestination5 = 19,128
# remapImageBlockSection5Rotation = 0


remapImageBlockShift = False
remapImageBlockShiftSection = 0,0,188,86
remapImageBlockShiftStableSection = 0,0,0,0
remapImageBlockShiftDestination = -8,0

remapImageBlockShift2 = True
remapImageBlockShiftSection2 = 0,86,180,172
remapImageBlockShiftStableSection2 = 0,0,0,0
remapImageBlockShiftDestination2 = 0,86

remapImageBlockShift3 = False
remapImageBlockShiftSection3 = 0,64,64,195
remapImageBlockShiftStableSection3 = 0,0,0,0
remapImageBlockShiftDestination3 = 16,64

remapImageBlockShift4 = False
remapImageBlockShiftSection4 = 64,83,180,180
remapImageBlockShiftStableSection4 = 0,0,0,0
remapImageBlockShiftDestination4 = 80,64





usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = -2
pixSortboxHeight = 1
pixSortboxWidth = 195
pixSortgap = 0
pixSortprobDraw = .02
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99

useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = True
ditherfilterbrightness = 1.1



#---------------------------------------------------------------------
[scroll]
useXOs = True
useArrows = False
usingEmoties = True
counterScrollText = False
directionOrder = RIGHT-LEFT
useBlanks = True
useThreeD = True
sansSerif = True

txt1 = OFF & ON
txt2 = ON & OFF

fontSize = 42
shadowSize = 2
vOffset = -11
steps = 1
scrollSpeed = .005

bgcolor = 100,100,100
coloroverlay = False

#colorMode = randomColor
colorMode = getRandomRGB
#colorMode = getRandomColorWheel

useColorFlicker = True
noTrails = True
displayRows = 5
displayCols = 20

