[displayconfig]
#-----------------------------------------------#
#work = diagnostics
#work = collage
work = scroller-holder-simple

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 4
cols = 7

# ---  Also determines the window geometry
screenWidth = 500
screenHeight = 500

# ---  preparing for rotation
windowWidth = 500
windowHeight = 500

canvasWidth = 500
canvasHeight = 500


# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1595
windowYOffset = 147


brightness = 1.925
minBrightness = 0


usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 2
pixSortboxWidth = 20
pixSortgap = 0
pixSortprobDraw = .81
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = .9


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 400
blurSectionHeight = 80
sectionBlurRadius = 1

useFilters = False


remapImageBlock = False
remapImageBlockSection = 0, 0, 480, 160
remapImageBlockDestination = 0, 0

remapImageBlock2 = False
remapImageBlockSection2 = 240, 0, 480, 40
remapImageBlockDestination2 = 0, 40
remapImageBlockSection2Rotation = 0


useLastOverlay = False
useLastOverlayProb = .01



[scroller]
#-----------------------------------------------#

# for pattern scrolling
redrawSpeed = .02
useUltraSlowSpeed = False

displayRows = 8
displayCols = 2

patternSpeed = 1

#
patternRows = 30
patternCols = 100

# when randomizing the pattern remake, set limits
minPatternRows = 20
minPatternCols = 100

maxPatternRows = 4
maxPatternCols = 100

patternRowChangeProb = .5
patternColChangeProb = .5

patternHeight = 132

patternDrawProb = .50
minDrawProb = .1
maxDrawProb = .6


# lines or diamonds bricks pluses regularLines
pattern = regularLines
alwaysRandomPattern = True
altDirectionScrolling = True
alwaysRandomPatternColor = True

pauseProb = 0.0

bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .9
bg_maxSaturation = .9
bg_minValue = .5
bg_maxValue = .5

fg_minHue = 0
fg_maxHue = 360
fg_minSaturation = .7
fg_maxSaturation = .99
fg_minValue = .1
fg_maxValue = .8


# for some reason with this piece I do not like
bg_dropHueMinValue = 50
bg_dropHueMaxValue = 160
fg_drophueminvalue = 0
fg_drophuemaxvalue = 0

backgroundColorChangeProb = .5


# color combination - dependent palettes
redGreenSwapProb = 0
redBlueSwapProb = .0002
greenBlueSwapProb = 0

