[displayconfig]
# workList = p4
workList =p1,p2,p3,p4
playInOrder = True

###########################################

[p1]
work = dev/dev_ondeck/actionmarks-1_2_a_spare.cfg
minDuration = 100
maxDuration = 120
brightnessOverride = 1.0

[p2]
work = dev/dev_ondeck/actionmarks-1_1_init_config.cfg
minDuration = 300
maxDuration = 360
brightnessOverride = 1.0

[p3]
work = dev/dev_ondeck/actionmarks-1_2_b.cfg
minDuration = 300
maxDuration = 360
brightnessOverride = 1.0

[p4]
work = dev/dev_ondeck/actionmarks-1_2_c_coastal_industry.cfg
minDuration = 300
maxDuration = 360
brightnessOverride = 1.0

