[displayconfig]
#-----------------------------------------------#

work = marquee_3
#--------------------------#

rendering = hub
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = True

rotation = 0
fullRotation = True
rotationTrailing = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 6
cols = 4

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 320

# ---  preparing for rotation
windowWidth = 384
windowHeight = 320

canvasWidth = 384
canvasHeight = 320

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2883
windowYOffset = 118

imageXOffset = 0
imageYOffset = 0


remapImageBlock = False
remapImageBlockSection = 93,64,192,128
remapImageBlockDestination = 60,64

remapImageBlock2 = False
remapImageBlockSection2 = 0,124,192,192
remapImageBlockDestination2 = -64,128

remapImageBlock3 = False
remapImageBlockSection3 = 160,64,192,128
remapImageBlockDestination3 = 96,64


brightness =  1.0
minBrightness = 0

useFilters = False

usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 96
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = 1.1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.1

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 270
sectionBlurRadius = 2


[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0



[marquee]
#-----------------------------------------------#
redrawSpeed = .02
slotRate  = .02

# interImages = 0
aliasMode = True
animationRate  = .03
advanceStepMax = 4
aliasAlpha = 50

changePaletteInterval = 20
# the number of rings drawn
marqueeNum = 31

# relative width of each ring or band
marqueeWidth = 5
# the size of the background block or stripe
baseDashSize = 27
# the gap between bands or rings
gap = 1
maxRandomGap = 4
# chance that when the palettes change the whole piece rebuilds
rebuildAllProb = .5

step = 2
decrement = 1
randomRange = 200.0

fontsize = 44
shadowSize = 1

proportionalPatternSize = True

# the range of steps in the transition between colors
# very low and the chages are abrupt
randomRangeMin = 20
randomRangeMax = 60

# mulitColor False means all marquees use
# the same two colors
multiColor = True

# palettes are in groups of two
# each couplet or tuple represents the two colors
# on each marquee line

paletteSets = warm-all,warm-all2|wintersun-p1,wintersun-p2|cool,warm
# paletteSets = warm-all,warm-all2
# paletteSets = cool,warm
# paletteSets = wintersun-p1,wintersun-p2



# pure warm and cool 
[warm]
minHue = 330 
maxHue = 40
minSaturation = .85
maxSaturation = 1.0
minValue = .5
maxValue = 1.0

[cool]
minHue = 140 
maxHue = 190
minSaturation = .5
maxSaturation = 1.0
minValue = .1
maxValue = .5

# WinterSun
[wintersun-p1]
minHue = 30
maxHue = 50
minSaturation = .2
maxSaturation = 1.0
minValue = .9
maxValue = 1.1

[wintersun-p2]
minHue = 180
maxHue = 260
minSaturation = .1
maxSaturation = 1.0
minValue = .1
maxValue = .95


# Warm rug textile
[warm-all]
minHue = 340 
maxHue = 36
minSaturation = .6
maxSaturation = 1.0
minValue = .2
maxValue = 1.0

[warm-all2]
minHue = 340 
maxHue = 45
minSaturation = .2
maxSaturation = 1.0
minValue = .2
maxValue = 1.0

# ------- other palettes --------

[test1]
minHue = 0
maxHue = 0
minSaturation = 1.0
maxSaturation = 1.0
minValue = 1.0
maxValue = 1.0
[test2]
minHue = 180
maxHue = 180
minSaturation = 1.0
maxSaturation = 1.0
minValue = 1.0
maxValue = 1.0

[all]
minHue = 0 
maxHue = 360
minSaturation = .5
maxSaturation = 1.0
minValue = .1
maxValue = .95

[all2]
minHue = 0 
maxHue = 180
minSaturation = .5
maxSaturation = 1.0
minValue = .1
maxValue = .95



[desert]
minHue = 40 
maxHue = 80
minSaturation = .5
maxSaturation = 1.0
minValue = .1
maxValue = .95

[winter]
minHue = 180 
maxHue = 240
minSaturation = .5
maxSaturation = 1.0
minValue = .1
maxValue = .95

[winter2]
minHue = 190 
maxHue = 230
minSaturation = .5
maxSaturation = 1.0
minValue = .1
maxValue = .95

