[displayconfig]

work = pattern-pent
#work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 8
cols = 4

## Also determines the window geometry
screenWidth = 260
screenHeight = 260

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 260
canvasHeight = 260

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 267
#windowYOffset = 140

windowXOffset = 2809
windowYOffset = 201

brightness =  .65
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 96,112,194,162
remapImageBlockDestination = 64,112

remapImageBlock2 = False
remapImageBlockSection2 = 128,0,192,128
remapImageBlockDestination2 = 128,3

remapImageBlock3 = False
remapImageBlockSection3 = 30,8,48,60
remapImageBlockDestination3 = 0,37

useFilters = False

usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 20
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 6
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 30
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .5
brightnessVarHi = .55
pixelSortAppearanceProb = 1.0


useBlur  = False
blurXOffset = 20
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 5

[holding]
#-----------------------------------------------#
usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 4
pixSortboxHeight = 148
pixSortboxWidth = 100
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .999
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .7
brightnessVarHi = .7
pixelSortAppearanceProb = 1.0






[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0





[pattern]
#-----------------------------------------------#

delay = .01
base = 3.0
rows = 10
cols = 10
turnRateChange = .001
turnRateLimPlus = 3.1
turnRateLimNeg = .9
xOffset = 130
yOffset = 130
turnRate = 1.5
turnRateFactor = 800
figureRotationBaseDegrees = 41

block = 0,0,2,16
blockLineHeight = 0
blockSteps = 164

minHue = 0
maxHue = 360
minSaturation = .6
maxSaturation = .99
minValue = .2
maxValue = .8
maxBrightness = .5
randomRangeMin = 400
randomRangeMax = 400


pointVariation = 9
showLines = True
patternSet = patternSet6

[patternSet6]
# classic spiral from square
# 2 colors is spiral
# 4 colors+ is floral
initialRadius = 100
nSides = 4
reduceRate = 1.5
turnRateBase = 1
#1.28
repeatFigures = 50
colorRep = 4







[patternSet4x]
# classic turned square
initialRadius = 10
nSides = 4
reduceRate = 1.4
turnRate = 2
repeatFigures = 50
colorRep = 5


[patternSet1]
# Bang Spiral
initialRadius = 100
nSides = 3
reduceRate = 1.5
turnRate = 1.5
repeatFigures = 50
colorRep = 5

[patternSet2]
# fractional turns
initialRadius = 200
nSides = 3
reduceRate = 1.5
turnRate = 4.4
repeatFigures = 50
colorRep = 6

[patternSet3]
# Crazy star
initialRadius = 100
nSides = 3
reduceRate = 1.5
turnRate = 3
repeatFigures = 50
colorRep = 6

[patternSet4]
# classic turned square
initialRadius = 100
nSides = 4
reduceRate = 1.5
turnRate = 2
repeatFigures = 50
colorRep = 3

[patternSet5]
# classic spiral from square
initialRadius = 20
nSides = 5
reduceRate = 1.3
turnRate = 1.28
repeatFigures = 12
colorRep = 6



[patternSet7]
# poly spiral
initialRadius = 100
nSides = 7
reduceRate = 1.5
turnRate = 10
repeatFigures = 50
colorRep = 2
