[displayconfig]
#-----------------------------------------------#

#work = diagnostics
#work = screen
work = dotgrid
#-----------------------------------------------#

rendering = hub
isRPI = False
checkForConfigChanges = True

rotation = 0
fullRotation = True
rotationTrailing = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 2
cols = 7

# ---  Also determines the window geometry
screenWidth = 450
screenHeight = 130

# ---  preparing for rotation
windowWidth = 450
windowHeight = 130

canvasWidth = 450
canvasHeight = 130

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 46
windowYOffset = 111


imageXOffset = 0
imageYOffset = 0

brightness =  .8
minBrightness = 0

useFilters = False

usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 96
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = 1.1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.1

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 270
sectionBlurRadius = 2



[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0


[gradients]
#-----------------------------------------------#

directionOrder = RIGHT-LEFT
useBlanks = False

steps = 2
vOffset = -0

# rows of bands
rowsShown = 4
colsShown = 32
rowHeight = 16
## the bands
heightMin =  16
heightMax =  16

angle = 0
probDraw = .01
probDrawChange = .0
blackProb = .00
grayProb = .99
fadeThruBlack = False
bgColor = 3,105,20,10
grayLevelLower = 10
grayLevelUpper = 195
dotBlurRadius = 12

# rgbAlpha rgb getRandomColorWheel
colorChoice = rgbAlpha


alpha1 = 10
alpha2 = 255

# rate of time delay between cycles
redrawRate = .02

debug = False


[screenproject]
#-----------------------------------------------#
delay = .02
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 7
pointsCount = 5
drawCracks = False
origin = 0,0

## Used when first creating the cracks
yVarMin = 6
yVarMax = 56

randomColorSampleProb = .01
probDrawBoxes = .4
probDrawLines = .41
probDrawPerpLines = .001
crackChangeProb = .1
imageResetProb = .001

pauseProb = .0005
unpauseProb = .002

timeTrigger = True

## This controls the range of background colors
tLimitBase = 10
minHue = 270
maxHue = 340
minSaturation = .991
maxSaturation = .991
minValue = .54
maxValue = .55
maxBrightness = .9




[user]
#-----------------------------------------------#
scale = 2
userCenterx = -2
userCentery = 5


[squares]
#-----------------------------------------------#
forceHoldDivision = -1
lineWidth = 1
countLimit = 2
pulseSpeed = .02
pasteDelay = .06
mode = cols








