[displayconfig]

work = counterscroll

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True


useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 16
rows = 4
cols = 4

## Also determines the window geometry
screenWidth = 128
screenHeight = 128

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 128
canvasHeight = 130

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 2

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = 2812
windowYOffset = 165

[scroll]
useXOs = True
useArrows = True

usingEmoties = False
counterScrollText = True
directionOrder = RIGHT-LEFT

useBlanks = False
useThreeD = False
sansSerif = True

txt1 = RIGHTY TIGHTY
txt2 = LEFTY LOOSEY

fontSize = 72
shadowSize = 1
steps = 2
vOffset = -16
scrollSpeed = .01
colorOverlay = True

bgColor = 10,0,15
colorMode = randomColor
#colorMode = getRandomRGB
#colorMode = getRandomColorWheel

useColorFlicker = True
noTrails = True
displayRows = 3
displayCols = 12