[displayconfig]
#-----------------------------------------------#
work = quilt-informal

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 8
cols = 4

## Also determines the window geometry
screenWidth = 256
screenHeight = 257

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 256
canvasHeight = 257

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2813
#3
windowYOffset = 165


brightness =  .98
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 175
pixSortboxHeight = 3
pixSortboxWidth = 250
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 2

useFilters = False

remapImageBlock = False
remapImageBlockSection = 0,0,64,64
remapImageBlockDestination = 0,0

useLastOverlay = True


[quilt]
#-----------------------------------------------#
delay = .01
colorPopProb = .0001

numUnits = 6
blockSize = 3
blockLength = 3
blockHeight = 3

blockRows = 8
blockCols = 8
hGapSize = 4
vGapSize = 1

cntrOffsetX = 16
cntrOffsetY = 15

# LighteningStrike
# Regular
# Diagonals

opticalPattern = LighteningStrike
polyDistortion = 4
backgroundColor = 20,0,10,10

timeToComplete = 60

lines = True
patternPrecision = True

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

transitionStepsMin = 15.0
transitionStepsMax = 300.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
#transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

## skew
transformTuples = .9, .5, 0, -.01,  1, 0, .0009, 0.00
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.0



















