[displayconfig]

# diagnostics
# particles



work = workmodules.particles

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 192

# ---  preparing for rotation
windowWidth = 192
windowHeight = 192

canvasWidth = 192
canvasHeight = 192

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2977
windowXOffset = 2977
windowYOffset = 165


brightness =  .84
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 128,0,320,256
remapImageBlockDestination = 120,-60
remapImageBlockSectionRotation = 45

remapImageBlock2 = False  
remapImageBlockSection2 = 128,128,320,224
remapImageBlockDestination2 = 128,128

remapImageBlock3 = False  
remapImageBlockSection3 = 160,0,320,256
remapImageBlockDestination3 = 120,-64
remapImageBlockSection3Rotation = 45


usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 512
pixSortgap = 8
pixSortprobDraw = .03
pixSortprobGetNextColor = .85
pixSortSizeDecriment = 1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 30
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.99

#-------------------------------------------#

[diag]
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,12,12
bgColor = 10,10,100
showGrid = True
fontSize = 14


[particleSystem]
#-------------------------------------------#
numUnits = 190

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = .3
speedMax = 2

#initial direction 3.14/2
variance = 1

objWidth = 60
objHeight = 100
objType = rect
objTrails = False

widthRate = .992
heightRate = .997

overallBlur = 1
unitBlur = 0

objColor = fixed

fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20

pixelsGoGray = True
greyRate = 250
restartProb = .0001


bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****
centerRangeXMin = 20
centerRangeYMin = -260

centerRangeXMax = 428
centerRangeYMax = -200

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

useOverLay = False
overlayColor = 160,0,200,10
#overlayColor = 88,40,0,190
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100



