[worksList]
works = w1,w2
# ---  Also determines the window geometry
screenWidth = 324
screenHeight = 260

# ---  preparing for rotation
windowWidth = 260
windowHeight = 260

canvasWidth = 260
canvasHeight = 260

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2813
windowYOffset = 145

[w1]

cfg = p4-3x8-informal/quilt.cfg
#cfg = p4-4x8/monument-to-the-glitch.cfg

#cfg = p4-4x8/mono-flavin.cfg
#cfg = p4-4x8/pattern-pent.cfg

#cfg = staging/p4-4x7-slope-quilt-triangles2.cfg
#cfg = p4-2xsteps/p4-2x14-steps-algofall.cfg
#cfg = p4-3x8-informal/mono-rothko.cfg
#cfg = p4-3x8-informal/quilt-stars.cfg
#cfg = p4-3x8-informal/diagnostics.cfg
#cfg = p4-3x8-informal/propagation.cfg
canvasOffsetX = 0
canvasOffsetY = 2
canvasRotation = 0

[w2]
cfg = p4-4x8/pattern-pent.cfg
#cfg = p4-4x8/monument-to-the-glitch.cfg
#cfg = staging/p4-4x7-slope-quilt-triangles2.cfg
#cfg = p4-3x8-informal/quilt.cfg

#cfg = prod/p4-5x8-mono-lights-gray.cfg
#cfg = prod/p4-5x7-logcabin-lightening-for-small-child.cfg
#cfg = staging/p4-4x7-slope-quilt-triangles2.cfg
#cfg = p4-3x8-informal/mono-rothko-test.cfg
#cfg = p4-6x8/algofall8b.cfg
canvasOffsetX = 90
canvasOffsetY = -14
canvasRotation = -11
