[worksList]
works = w1,w2
# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 256

# ---  preparing for rotation
windowWidth = 384
windowHeight = 256

canvasWidth = 192
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1268
windowYOffset = 201

[w1]
cfg = p4-3x8-informal/quilt.cfg
canvasOffsetX = 0
canvasOffsetY = 0
canvasRotation = 0

[w2]
cfg = p4-3x8-informal/quilt-triangles-b.cfg
#cfg = p4-3x8-informal/diagnostics.cfg
#cfg = p4-2xsteps/p4-2x14-steps-algofall.cfg
canvasOffsetX = 190
canvasOffsetY = 0
canvasRotation = 0
