[worksList]
works = w1,w2
# ---  Also determines the window geometry
screenWidth = 324
screenHeight = 260

# ---  preparing for rotation
windowWidth = 324
windowHeight = 260

canvasWidth = 324
canvasHeight = 260

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 268
windowYOffset = 201

repaintDelay = .01

[w1]
#cfg = p4-3x8-multi/diagnostics2a.cfg
#cfg = p4-3x8-multi/quilt2a.cfg
#cfg = p4-3x8-multi/quilt-triangles-b-2a.cfg
#cfg = p4-3x8-multi/quilt-polys2a.cfg
#cfg = p4-3x8-multi/square-polys.cfg
#cfg = p4-3x8-multi/algofall8-2a.cfg
#cfg = p4-3x8-multi/mono-rothko-2a.cfg
#cfg = p4-3x8-multi/monument-to-the-glitch.cfg
#cfg = p4-3x8-multi/p4-5x8-mono-lights-gray-b.cfg
#cfg = p4-3x8-multi/square-marquee-a.cfg
cfg = p4-3x8-multi/square-marquee-b.cfg


canvasOffsetX = 0
canvasOffsetY = 2
canvasRotation = 0

[w2]
#cfg = p4-3x8-multi/diagnostics2b.cfg
#cfg = p4-3x8-multi/square-polys.cfg
#cfg = p4-3x8-multi/quilt2b.cfg
#cfg = p4-3x8-multi/quilt-triangles-b-2b.cfg
#cfg = p4-3x8-multi/quilt-polys2b.cfg
#cfg = p4-3x8-multi/algofall8-2b.cfg
#cfg = p4-3x8-multi/mono-rothko-2b.cfg
#cfg = p4-3x8-multi/monument-to-the-glitch.cfg
#cfg = p4-3x8-multi/p4-5x8-mono-lights-gray.cfg
#cfg = p4-3x8-multi/propagation.cfg
cfg = p4-3x8-multi/square-marquee-a.cfg


canvasOffsetX = 90
canvasOffsetY = 90
canvasRotation = 45
