[worksList]
works = w1,w2

[w1]
cfg = p4-3x8-informal/quilt.cfg
canvasOffsetX = 0
canvasOffsetY = 0
canvasRotation = 10

[w2]
cfg = p4-3x8-informal/diagnostics.cfg
#cfg = p4-2xsteps/p4-2x14-steps-algofall.cfg
canvasOffsetX = 192
canvasOffsetY = 0
canvasRotation = 0
