[worksList]
works = w2,w1
# ---  Also determines the window geometry
screenWidth = 512
screenHeight = 512

# ---  preparing for rotation
windowWidth = 512
windowHeight = 512

canvasWidth = 512
canvasHeight = 512

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2813
windowXOffset = 2683
windowYOffset = 201

repaintDelay = .01

[w1]
#cfg = p4-3x8-multi/diagnostics2a.cfg
#--------------------------------------------
#cfg = p4-3x8-multi/quilt2a.cfg
#cfg = p4-3x8-multi/quilt-triangles-b-2a.cfg
#cfg = p4-3x8-multi/quilt-polys2a.cfg

#cfg = p4-3x8-multi/square-polys.cfg
cfg = p4-3x8-multi/scroller-a.cfg


#cfg = p4-3x8-multi/alt-flames-2b-a.cfg
#cfg = p4-3x8-multi/algofall8-2a.cfg
#cfg = p4-3x8-multi/mono-rothko-2a.cfg
#cfg = p4-3x8-multi/monument-to-the-glitch.cfg

#cfg = p4-3x8-multi/p4-5x8-mono-lights-gray-b.cfg
#cfg = p4-3x8-multi/p4-5x8-mono-lights-gray.cfg

#cfg = p4-3x8-multi/square-marquee-a.cfg
#cfg = p4-3x8-multi/square-marquee-b.cfg


canvasOffsetX = 0
canvasOffsetY = 128
canvasRotation = 90

[w2]
cfg = p4-3x8-multi/scroller-b.cfg
#cfg = p4-3x8-multi/diagnostics2b.cfg
#--------------------------------------------

#cfg = p4-3x8-multi/p4-5x8-mono-lights-gray-b.cfg
#cfg = p4-3x8-multi/p4-5x8-mono-lights-gray.cfg

#cfg = p4-3x8-multi/square-polys.cfg

#cfg = p4-3x8-multi/quilt2b.cfg
#cfg = p4-3x8-multi/quilt-triangles-b-2b.cfg
#cfg = p4-3x8-multi/quilt-polys2b.cfg

#cfg = p4-3x8-multi/alt-flames-2b-b.cfg
#cfg = p4-3x8-multi/algofall8-2b.cfg

#cfg = p4-3x8-multi/mono-rothko-2b.cfg

#cfg = p4-3x8-multi/monument-to-the-glitch.cfg
#cfg = p4-3x8-multi/propagation.cfg
#cfg = p4-3x8-multi/square-marquee-b.cfg


canvasOffsetX = 0
canvasOffsetY = 0
canvasRotation = 0
#45


[w3]
#cfg = p4-3x8-multi/scroller-b.cfg
#cfg = p4-3x8-multi/diagnostics2b.cfg
#--------------------------------------------

#cfg = p4-3x8-multi/p4-5x8-mono-lights-gray-b.cfg
#cfg = p4-3x8-multi/p4-5x8-mono-lights-gray.cfg

#cfg = p4-3x8-multi/square-polys.cfg

#cfg = p4-3x8-multi/quilt2b.cfg
#cfg = p4-3x8-multi/quilt-triangles-b-2b.cfg
#cfg = p4-3x8-multi/quilt-polys2b.cfg

#cfg = p4-3x8-multi/alt-flames-2b-b.cfg
#cfg = p4-3x8-multi/algofall8-2b.cfg

#cfg = p4-3x8-multi/mono-rothko-2b.cfg

#cfg = p4-3x8-multi/monument-to-the-glitch.cfg
#cfg = p4-3x8-multi/propagation.cfg
cfg = p4-3x8-multi/square-marquee-b.cfg


canvasOffsetX = 60
canvasOffsetY = 60
canvasRotation = 0
#45


[othersets1]
canvasOffsetX = -10
canvasOffsetY = 120
canvasRotation = 85

[othersets2]
canvasOffsetX = -78
canvasOffsetY = -128
canvasRotation = -48