[worksList]
works = w1,w2
# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 64

# ---  preparing for rotation
windowWidth = 320
windowHeight = 64

canvasWidth = 320
canvasHeight = 64

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2977
windowYOffset = 145

repaintDelay = .02

useFilters = True

[w1]
cfg = p10/plank-movement-a.cfg


canvasOffsetX = 0
canvasOffsetY = 0
canvasRotation = 0

[w2]
cfg = p10/plank-movement-b.cfg



canvasOffsetX = 0
canvasOffsetY = 17
canvasRotation = 180



