[displayconfig]
#----------------------------------------------------##----------------------------------------------------#
# work = diagnostics
work = particles-v2
#----------------------------------------------------##----------------------------------------------------#

# changed to -90 from 90
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 258

# ---  preparing for rotation
windowWidth = 256
windowHeight = 258

canvasWidth = 256
canvasHeight = 258

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1047
windowYOffset = 269

brightness =  1.0
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 80
pixSortgap = 0
pixSortprobDraw = .2
pixSortprobGetNextColor = .99
pixSortSizeDecriment =  1.0
pixSortProbDecriment = .0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .1
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

# changed to True
useFilters = True
# forceBGSwap = True


# added this
## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

[base]


particle_fillRange = 30,59,.93,1.0,.48,.50,0,0,10,80
particle_outlineRange = 349,49,.9,1.0,.41,.50,0,0,100,255

# backgroundColor controls
bg_fillRange = 354, 12, 0.9, 1.0, 0.11, 0.3, 0, 0,100,125
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

overallBlur = 1
unitBlur = 0

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 350

#-------------------------------------------##----------------------------------------------------#
[particleSystem]
#-------------------------------------------##----------------------------------------------------#
numUnits = 190
delay = .033
slotRate = .03
restartprob = .001


# COLOR SETTINGS
# ----------------------------------

palettes = base,base
paletteChangeProb = .001


# ----------------------------------
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True
objColor = fixed
objTrails = False
trailingFade = 200
renderDiagnostics = False
# ----------------------------------

objWidth = 40
objHeight = 50
objType = rect

speedMin = 1
speedMax = 7

widthRate = .992
heightRate = .997

centerRangeXMin = 120
centerRangeXMax = 228

#  original production values
# centerRangeYMin = -260
# centerRangeYMax = -200
centerRangeYMin = 60
centerRangeYMax = -60

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
meanderFactor = 10.5
meanderFactor2 = 2.5
meanderDirection = 0
onedirection = False

particleWinkOutXMin = 1
particleWinkOutYMin = 1

ignoreBottom = False
borderCollisions = True
expireOnExit = True
reEmitNumber = 2

collisionDamping = 1
damping = 1
torqueDelta = 0
torqueRate = 0
xWind = 0
xGravity = 0
yGravity = 0



# ----------------------------------
useOverLay = False
overlayColor = 160,0,200,10
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190

# ----------------------------------
# added this because the first one didn't have sparks
# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapMinHoriSize = 140
filterRemapMaxHoriSize = 140
filterRemapMinVertSize = 140
filterRemapMaxVertSize = 240
filterremaprangex = 240
filterremaprangey = 240




#----------------------------------------------------##----------------------------------------------------#
[diag]
#----------------------------------------------------##----------------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,0
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0