[woodFrame]
patterns =  circlesPacked,
            petals,
            grainLines,
            circles,
            colorGrid,
            colorGridTriangles,
            gothic1,
            randomizer2,
            waveScales,
            fishScales,
            fishScales,
            wavePattern2,
            waveScales,
            decoBoxes,
            reMove,
            concentricBoxes,
            diamond,
            balls,
            concentricBoxes,
            randomizer,
            fishScales

palettes =  woody,
            heat

dominantPatterns = grainLines
dominantPatternProb = .0
# Border Controls
borderPattern = grainLines
useBorderPattern = True
altColoringProb = .5
popRandomColorProb = .1

usePolygonOverlay = True
tileOverlayGridProb = .5
# overlay subtract_modulo soft_light lighter
polyOverlayMode = overlay
combinationSetsMaxTime = 8
maxNumberOfRandomizers = 6


