[displayconfig]

work = stroop2

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 16
rows = 4
cols = 4

## Also determines the window geometry
screenWidth = 130
screenHeight = 130

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 130
canvasHeight = 130

brightness =  .75
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = 1000
windowYOffset = 165


[stroop]
fontSize = 84
vOffset = -10
scrollSpeed = .08
stroopSpeed = .03
# this affects the way the drawing / repainting happens - higher. more repeat trails
speedMultiplier = 2
revealSpeedMin = 1
revealSpeedMax = 2

stroopSteps = 1
shadowSize = 2
stroopFontSize = 30
useColorFlicker = 0
highervariability = True
verticalBg =  False
displayRows = 6
displayCols = 6
simulBlocks = 2
## options are reveal, revealmove, move
movementMode = reveal
moveProbability = .15
colorProbabilityReturn = .08
colorProbability = .015



