[markParams]
name=scribbleLine1
# winding scribbles
pointsPerLoop = 8
# how many loops
turnsRange = 3,7

# width of line
minMarkWidth = 2
maxMarkWidth = 14
changeMarkWidthProb =.05
incrementFactor = 1

# // line sizing
# and parameters for how the radius
# will change each time a point is
# created --> higher deltas and 
# higer probablilites mean more erratic
# loops
height = 100
radiusX = 50
radiusY = 60
radiusXMin = 10
radiusXMax = 50
radiusYMin = 50
radiusYMax = 100
noiseX = 10
noiseY = 10
xRadiusDelta = 4
yRadiusDelta = 7
deltaRadiusXChangeProb = 0.2
deltaRadiusYChangeProb = 0.2

# // line placement and centering
xCenter = 0
yCenter = 0
# random amount each point can take
# horizontally or vertically when made
# low values make for more regular loops
centerXDelta = 20
centerYDelta = 8
# chance that the x or y center position delta 
# will change
# low values mean that once a x or y delta
# is set, the loops will kind of travel in 
# that direction - so higer values are more
# erratic
deltaRadiusXCenterChangeProb = 0.4
deltaRadiusYCenterChangeProb = 0.4


# loops = R(loopsMin, loopsMax, True)
# points = round(loops * 8)