[displayconfig]
#---------------------------------#
#work = scroller-holder
#work = squares-poly
#work = marquee_2
#work = quilt-triangles
work = screen
#work = signage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 14
cols = 6

# ---  Also determines the window geometry
screenWidth = 448
screenHeight = 128

# ---  preparing for rotation
windowWidth = 448
windowHeight = 128

canvasWidth = 448
canvasHeight = 128

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 5

# Window Offset
windowXOffset = 2977
#5
windowYOffset = 169

brightness =  .8
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,64,160
remapImageBlockDestination = 0,-25


usePixelSort = False
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 26
pixSortboxWidth = 448
pixSortgap = 14
pixSortprobDraw = .9
pixSortprobGetNextColor = .99
pixSortProbDecriment = .0
pixSortSizeDecriment = .0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
randomColorProbabilty = .0001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelsortrotateswithimage = True


useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 2




[screenproject]
#-----------------------------------------------#
delay = .02
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 5
pointsCount = 3
drawCracks = False
origin = 150,40

## Used when first creating the cracks
yVarMin = 6
yVarMax = 36

randomColorSampleProb = .03
probDrawBoxes = .4
probDrawLines = .3
probDrawPerpLines = .001
probDrawVertLines = .991
crackChangeProb = .1
imageResetProb = .001

timeTrigger = True

pauseProb = .001
unpauseProb = .01

## This controls the range of background colors
tLimitBase = 10
minHue = 340
maxHue = 30
minSaturation = .8
maxSaturation = 1
minValue = .1
maxValue = .3
maxBrightness = .9





