
# ------------------------------------- #
[texture]
name = textureScrim2
useTextureLayer = True
# very scrim like
texture_step = 3
# dot size
texture_px = 0
# rows of dots
texture_rows = 64
# cols of dots
texture_cols = 32
# alpha change factor
texture_rate = 2
# base alpha value
texture_base = 255
# dot rgb
texture_clr_r = 20
texture_clr_g = 20 
texture_clr_b = 60

texture_blockRows = 14
texture_blockCols = 20
# chance the block does not get drawn
texture_skipProb = .1

texture_blur = 0
texture_xtick = 0
texture_ytick = 8
texture_drawMark = .02
texture_usedots = False