[displayconfig]
#-----------------------------------------------#
work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 8
cols = 4

## Also determines the window geometry
screenWidth = 256
screenHeight = 257

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 256
canvasHeight = 257

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2657
windowYOffset = 249

brightness =  .98
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 120
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 4
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 194
blurSectionHeight = 260
sectionBlurRadius = 2

#useBlur = True
#blurXOffset = 8
#blurYOffset = 8
#blurSectionWidth = 180
#blurSectionHeight = 240
#sectionBlurRadius = 2

useFilters = False

remapImageBlock = False
remapImageBlockSection = 0,0,64,64
remapImageBlockDestination = 0,0

useLastOverlay = True


[productionvalues]
#--------------------------#
changeBoxProb = .005
transitionStepsMin = 140
transitionStepsMax = 254
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
variableFilterProb = .002

useVariablePixelSort = True
variablePixelProb = .004
variablePixelProbOff = .2


useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0,s0a,s1a,s2,s3,s4,s5,s6,s7,s8,s9
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 192,0, 192,256, 0,256
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 180
maxHue = 260
minSaturation = .0
maxSaturation = .1
minValue = .0
maxValue = .2

#-------------#

[s0a]
position = 0,0
coords = 0,0, 184,0, 184,248, 0,248
varX = 4
varY = 4
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 350
maxHue = 20
minSaturation = .0
maxSaturation = .18
minValue = .0
maxValue = .1



[s1a]
position = 8,4
coords = 5,8, 10,8, 10,240, 5,240
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 5
maxHue = 65
minSaturation = 0.0
maxSaturation = 1.0
minValue = .8
maxValue = .99


[s2]
position = 28,4
coords = 5,8, 10,8, 10,240, 5,240
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 5
maxHue = 65
minSaturation = 0.0
maxSaturation = 1.0
minValue = .8
maxValue = .99


[s3]
position = 48,4
coords = 5,8, 10,8, 10,240, 5,240
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 5
maxHue = 65
minSaturation = 0.0
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s4]
position = 68,4
coords = 5,8, 10,8, 10,240, 5,240
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 5
maxHue = 65
minSaturation = 0.0
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s5]
position = 88,4
coords = 5,8, 10,8, 10,240, 5,240
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 5
maxHue = 65
minSaturation = 0.0
maxSaturation = 1.0
minValue = .8
maxValue = .99


[s6]
position = 108,4
coords = 5,8, 10,8, 10,240, 5,240
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 5
maxHue = 65
minSaturation = 0.0
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s7]
position = 128,4
coords = 5,8, 10,8, 10,240, 5,240
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 5
maxHue = 65
minSaturation = 0.0
maxSaturation = 1.0
minValue = .8
maxValue = .99

#--------------------------#

[s8]
position = 148,4
coords = 5,8, 10,8, 10,240, 5,240
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 5
maxHue = 65
minSaturation = 0.0
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s9]
position = 168,4
coords = 5,8, 10,8, 10,240, 5,240
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 5
maxHue = 65
minSaturation = 0.0
maxSaturation = 1.0
minValue = .8
maxValue = .99






















