[worksList]

works = w1,w2,w3,w4
screenWidth = 515
screenHeight = 232

canvasOffsetX = 0
canvasOffsetY = 0

windowXOffset = 1647
windowYOffset = 118

repaintDelay = 0.033

useFilters = False
useBlur = False

[w1]
cfg = dev/p4-512px-in-parts/mngd_celestials-m-1.cfg
; cfg = dev/p4-512px-in-parts/hashing-marks-v3-256x256.cfg
; cfg = dev/p4-512px-in-parts/repeatblocks_5-512px.cfg
canvasOffsetX = 0
canvasOffsetY = 0
canvasRotation = 20
randomChange = False

[w2]
cfg = dev/p4-512px-in-parts/mngd_celestials-m-2.cfg
; cfg = dev/p4-512px-in-parts/hashing-marks-v3-256x256.cfg
; cfg = dev/p4-512px-in-parts/repeatblocks_5-512px.cfg
canvasOffsetX = 156
canvasOffsetY = 0
canvasRotation = -10
randomChange = False
[w3]
cfg = dev/p4-512px-in-parts/mngd_celestials-m-3.cfg
; cfg = dev/p4-512px-in-parts/hashing-marks-v3-256x256.cfg
; cfg = dev/p4-512px-in-parts/repeatblocks_5-512px.cfg
canvasOffsetX = 0
canvasOffsetY = 128
canvasRotation = 0
randomChange = False

[w4]
cfg = dev/p4-512px-in-parts/mngd_celestials-m-4.cfg
; cfg = dev/p4-512px-in-parts/hashing-marks-v3-256x256.cfg
; cfg = dev/p4-512px-in-parts/repeatblocks_5-512px.cfg
canvasOffsetX = 192
canvasOffsetY = 128
canvasRotation = 0
randomChange = False
