[displayconfig]

work = collage
_work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = False
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 8
cols = 6

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 192

# ---  preparing for rotation
windowWidth = 256
windowHeight = 192

canvasWidth = 256
canvasHeight = 192


# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
windowYOffset = 147

brightness =  .99
minBrightness = 0

imageXOffset = 0
imageYOffset = 0


remapImageBlock = False
remapImageBlockSection = 0,0,640,384
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False
remapImageBlockSection2 = 320,32, 640,96
remapImageBlockDestination2 = 0,32
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 512,0, 768,32
remapImageBlockDestination3 = 0,64
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False
remapImageBlockSection4 = 768,0, 1024,32
remapImageBlockDestination4 = 0,96
remapImageBlockSection4Rotation = 0

useFilters = True
ditherFilterBrightness = .95

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 5

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 48
pixSortboxHeight = 2
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .2
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

forceBGSwap = False



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0


[productionvalues]
#--------------------------#
changeBoxProb = .005
transitionStepsMin = 140
transitionStepsMax = 254
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0



[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

forcelastoverlay = True
uselastoverlayprob = .01
lastoverlaybox = 0,0,1,1
lastoverlayfill = 100,0,0,100
lastOverLayColorRange = 0, 210, 0.9, .9, 0.0, .3, 40,180

filterpatchprob = .0

useVariableFilter = True
useVariablePixelSort = True
variablePixelProb = .001
variableFilterProb = .002

useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0,s0a,s1,s2,s3

#--------------------------#

[s0]
position = 0,0
coords = 0,0, 256,0, 256,192, 0,192
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 36
minSaturation = 0.8
maxSaturation = 0.99
minValue = .5
maxValue = .5


[s0a]
position = 10,10
coords = 0,0, 236,0, 236,172, 0,172
varX = 4
varY = 4
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 270
maxHue = 10
minSaturation = 0.8
maxSaturation = 0.99
minValue = .5
maxValue = .5

[s1]
position = 245,85
coords = 0,0, 16,0, 16,32, 0,32

varX = 2
varY = 20
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .0
maxValue = .0



[s2]
position = 245,5
coords = 0,0, 16,0, 16,32, 0,32

varX = 2
varY = 20
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .0
maxValue = .0


[s3]
position = 245,160
coords = 0,0, 16,0, 16,32, 0,32

varX = 2
varY = 20
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .0
maxValue = .0




