[displayconfig]
#-----------------------------------------------#

work = collage

rendering = hub
rotation = 0
#8.8
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

# * * * * * * * * *
useFilters = True


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 7
cols = 2

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 224

# ---  preparing for rotation
windowWidth = 128
windowHeight = 224

canvasWidth = 128
canvasHeight = 224

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 120
#4
windowYOffset = 120

brightness =  .65
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 64,0,128,192
remapImageBlockDestination = 64, 39
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 = 0,0,64,64
remapImageBlockDestination2 = 64,192
remapImageBlockSection2Rotation = 90

remapImageBlock3 = False
remapImageBlockSection3 = 64,0,128,128
remapImageBlockDestination3 = 64,7
remapImageBlockSection3Rotation = 0


usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 64
#70
pixSortYOffset = 48
pixSortboxHeight = 84
pixSortboxWidth = 20
pixSortgap = 0
pixSortprobDraw = .01
pixSortprobGetNextColor = .19
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 3
pixSortDrawVariance = 1
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .9
brightnessVarHi = 1.01
pixelSortAppearanceProb = 1.1

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 4





[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14





[collageShapes]
#-----------------------------------------------#

prisimBrightness = .95
redrawSpeed = .02
changeBoxProb = .002

transitionStepsMin = 140
transitionStepsMax = 254
# *4
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = False



# varianceMode = symmetrical, asymmetrical, independent
varianceMode = independent

sets = s0,s1
#,s2,s3
#,s1b
#,s1
#sets = s0,s1,s2,s4


[s0] 
postion =  0,0
coords = 0,0, 128,0, 128,224, 0,224 
varX = 0
varY = 0
fixedCenterColor = 50,30,10,100
usedFixedCenterColor = True

[s1b] 
postion = -2,-2
coords = 0,0, 116,4, 116,178, 0,182
varX = 18
varY = 18
fixedCenterColor = 50,30,10,250
usedFixedCenterColor = True

[s1] 
postion = -1,-5
coords = 16,25, 100,25, 104,168, 20,172
varX = 12
varY = 12
fixedCenterColor = 50,30,10,150
usedFixedCenterColor = True


[s2] 
postion = -4,0
coords = 0,0, 7,0, 7,228, 0,230
varX = 4
varY = 4
fixedCenterColor = 30,20,10,250
usedFixedCenterColor = True

[s3] 
postion =  -4,-4
coords = 0,0, 128,0, 128,10, 0,12 
varX = 0
varY = 0
fixedCenterColor = 30,20,10,250
usedFixedCenterColor = True








