[displayconfig]

work = quads

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

usePixelSort = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 100
pixSortYOffset = 10
pixSortboxHeight = 16
pixSortboxWidth = 6
pixSortgap = 1
pixSortprobDraw = .01
pixSortprobGetNextColor = .09
pixSortProbDecriment = 4
pixSortSizeDecriment = 2.0
pixSortSampleVariance = 2
pixSortDrawVariance = 8
randomColorProbabilty = .01
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = .3

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 192

# ---  preparing for rotation
windowWidth = 192
windowHeight = 192

canvasWidth = 192
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 4

# Window Offset
windowXOffset = 20
windowXOffset = 2623
windowYOffset = 280

brightness =  .5
minBrightness = 0

[animals]
yOffset = 0
xOffset = 40

blockWidth = 12
carcasBlockWidth = 10
carcasYOffset = 0
carcasXOffset = 10

l1Variance = 2
angleRotationRange = 4
xVariance = 20

carcas_pixSortYOffset = 10
base_pixSortYOffset = 80

flip = False
redrawSpeed = .01
redrawProbablility = .03
fade  = 7
redShift = 80
greyLevel = 80

bgR = 0
bgG = 100
bgB = 0

bgR = 00
bgG = 100
bgB = 00

useScrollingBackGround = False
useColorOverlayTransitions = True
applyColorOverlayToFullImage = False

patternRows = 20
patternCols = 24
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .01

bgForeGroundColor = 180,10,140,255
bgBackGroundColor = 170,10,130,255

bgForeGroundColor = 150,150,150,255
bgBackGroundColor = 100,100,100,255

alpha = 100
bgYStepSpeed = -9
bgXStepSpeed = 0

pigglyWiggle = 5
pigglyWiggleVariance = 30




