[displayconfig]

work = repeater

isRPI = False
rendering = hub
rotation = 90
fullRotation = False
rotationTrailing = True
checkForConfigChanges = True

useFilters = False

usePixelSort = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 100
pixSortYOffset = 100
pixSortboxHeight = 32
pixSortboxWidth = 60
pixSortgap = 1
pixSortprobDraw = .91
pixSortprobGetNextColor = .09
pixSortProbDecriment = 4
pixSortSizeDecriment = 2.0
pixSortSampleVariance = 2
pixSortDrawVariance = 8
randomColorProbabilty = .01
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = .93

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 60
rows = 10
cols = 6

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 320

# ---  preparing for rotation
windowWidth = 320
windowHeight = 320

canvasWidth = 320
canvasHeight = 320

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 5

# ---  Window Offset
windowXOffset = 60
windowYOffset = 65

brightness =  .5
minBrightness = 0


[repeater]
imageList = miscl/meat.png
#imageList = miscl/head-2tw.png
# Used for number of images etc
unitCount = 10

resizeMax = 1
resizeMin = 1
scalingFactor = 5
vOffset = -10

# Higher the speed factor, slower the movement
speedFactor = 3
scrollSpeed = .01

displayRows = 6
displayCols = 5

useJitter =  False
useBlink = False
noTrails = True

colorMode = getRedShiftedColors




