[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False

useFilters = True
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 6

## Also determines the window geometry
screenWidth = 192
screenHeight = 192

# preparing for rotation
windowWidth = 192
windowHeight = 192

# preparing for rotation
canvasWidth = 192
canvasHeight = 192


brightness =  .925
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 4

# Window Offset
windowXOffset = 2560
windowYOffset = 24

windowXOffset = 1700
windowYOffset = 700




