[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

usePixelSort = False
pixSortDirection = medial
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 70
pixSortboxHeight = 20
pixSortboxWidth = 40
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 160

# ---  preparing for rotation
windowWidth = 192
windowHeight = 160

canvasWidth = 192
canvasHeight = 160

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2690
windowYOffset = 50

brightness =  .5
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

[diag]
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 250,0,0
showGrid = True
fontSize = 14




