[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 6

## Also determines the window geometry
screenWidth = 192
screenHeight = 160

# preparing for rotation
windowWidth = 192
windowHeight = 160

# preparing for rotation
canvasWidth = 192
canvasHeight = 160

brightness =  .01
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 5

# Window Offset
windowXOffset = 2560
windowYOffset = 219

# Main shelf testing display
windowYOffset = 26
canvasOffsetX = 5

[diag]
fontColor = 200,0,0
outlineColor = 0,200,0




