[displayconfig]

work = fills

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

## Also determines the window geometry
screenWidth = 192
screenHeight = 160

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 192
canvasHeight = 160

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 4

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = -1
windowYOffset = 13

# Window Offset
windowXOffset = 2560
windowYOffset = 26

#For direct to HAT
transwiring = True
actualScreenWidth = 640

[fills]
redrawRate = .02

FillRows = 5
FillCols = 5

# Saturation
saturation = 0.111
# Value, Brightness, Lightness, Luma
value = 0.3
# Color, Hue
hueBase = 240

rangeOfSpread = 9
rateOfChange = .5,.9
vignette = True
crossbar = False
blurLevel = 12
# black/grey level of vignette
vval = 10