[displayconfig]

work = image

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True

useFilters = True

usePixelSort = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 40
pixSortboxWidth = 96
pixSortgap = 2
pixSortprobDraw = .95
pixSortprobGetNextColor = .02
pixSortProbDecriment = .1
pixSortSizeDecriment = .5
pixSortSampleVariance = 10
pixSortDrawVariance = 5
randomColorProbabilty = .01
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1


tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 162

# ---  preparing for rotation
windowWidth = 192
windowHeight = 160

canvasWidth = 192
canvasHeight = 162

brightness =  .6
minBrightness = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 2561
windowYOffset = 29

windowXOffset = 2600
windowYOffset = 220

[images]
i1 = flames/fire_o5b.gif
i1 = flames/fire_o5b-trans.gif
i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .72

[filter]
# for rotated image, lines are width, boxWidth is height
# 160
lines = 160
boxHeight = 16
boxWidth = 190
xPos1 = 0
yPosBase = 0
targetPalette = selective
targetClrs = 92,106,107,117,119,124
targetClrs = 104,91,96,104,112,104
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17

bgFilterProb = 0.01
imageFilterProb = .91
imageGlitchProb = .91
imageGlitchSize = 16
imageGlitchDisplacement = 10
animateProb = .19

# Color overlay / pixel color block
clrBlkWidth = 170
clrBlkHeight = 100
overlayxPos = 64
overlayyPos = 0
overlayChangeProb = .005
overlayChangePosProb = .5

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4


