[displayconfig]

work = image

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 162

# ---  preparing for rotation
windowWidth = 192
windowHeight = 160

canvasWidth = 192
canvasHeight = 162

brightness =  .99
minBrightness = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 2561
windowYOffset = 29

# daemon7 set up Kindling
canvasOffsetX = 4
canvasOffsetY = 2
windowXOffset = 0
windowYOffset = 0


[images]
i1 = flames/fire_o5b.gif
i1 = flames/fire-o2.gif
i1 = flames/fire-o2test.gif
i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .03

[filter]
# for rotated image, lines are width, boxWidth is height
# 160
lines = 160
boxHeight = 16
boxWidth = 190
xPos1 = 0
yPosBase = 0
targetPalette = selective
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17
targetClrs = 92,106,107,117,119,124
targetClrs = 104,91,96,104,112,104
targetClrs = 14,15,16

bgFilterProb = 0.01
imageFilterProb = .3
imageGlitchProb = .0081
imageGlitchSize = 16
imageGlitchDisplacement = 10
animateProb = .8

# Color overlay / pixel color block
clrBlkWidth = 17
clrBlkHeight = 100
overlayxPos = 64
overlayyPos = 0
overlayChangeProb = .005
overlayChangePosProb = .5

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4


