[displayconfig]

work = image

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False

useFilters = True
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

## Also determines the window geometry
screenWidth = 192
screenHeight = 162

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 192
canvasHeight = 162

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 5
canvasOffsetY = 6

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = 2560
windowYOffset = 24

# Window Offset -- using additional screen...
windowXOffset = 2560
windowYOffset = 219

windowXOffset = 40
windowYOffset = 10

#For direct to HAT
transwiring = True
actualScreenWidth = 640


[images]
i1 = flames/fire-o2.gif
i1 = flames/fire_o5b.gif
i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .02

[filter]
# for rotated image, lines are width, boxWidth is height
# 160
lines = 160
boxHeight = 16
boxWidth = 190
xPos1 = 0
yPosBase = 0
targetPalette = selective
targetClrs = 92,106,107,117,119,124
targetClrs = 104,91,96,104,112,104
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17

bgFilterProb = 0.01
imageFilterProb = .91
imageGlitchProb = .91
imageGlitchSize = 16
imageGlitchDisplacement = 10
animateProb = .19

# Color overlay / pixel color block
clrBlkWidth = 170
clrBlkHeight = 100
overlayxPos = 64
overlayyPos = 0
overlayChangeProb = .005
overlayChangePosProb = .25

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4


