[displayconfig]

work = marquee

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 160

# ---  preparing for rotation
windowWidth = 192
windowHeight = 160

canvasWidth = 192
canvasHeight = 160

brightness =  .8
minBrightness = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2728
windowYOffset = 50

[marquee]
fontSize = 11
sansSerif = True
shadowSize = 2
steps = 2
vOffset = -18

redrawSpeed = .02
marqueeNum = 9
marqueeWidth = 13
gap = 0
step = 2
decrement = 1
randomRange = 200.0

