[displayconfig]

work = particles

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 192

# ---  preparing for rotation
windowWidth = 192
windowHeight = 192

canvasWidth = 192
canvasHeight = 192

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2562
windowYOffset = 50

brightness =  .95
minBrightness = 0


[particleSystem]
numUnits = 75

xGravity = 0
yGravity = 0
ignoreBottom = False

speedMin = 3
speedMax = 5
variance = 0

objWidth = 2
objHeight = 6
objType = rect

widthRate = 1
heightRate = 1

overallBlur = 0
unitBlur = 0

objColor = rnd
fillColor = 240,150,0,100
outlineColor = 100,0,0,50

centerRangeXMin = 100
centerRangeXMax = 200
centerRangeYMin = 80
centerRangeYMax = 160

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = False

useFlocking = True
cohesionDistance = 20
repelDistance = 5
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .8

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

bgColor = 0,0,100,200
