[displayconfig]

work = particles

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 192

# ---  preparing for rotation
windowWidth = 192
windowHeight = 192

canvasWidth = 192
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2690
windowYOffset = 50

brightness =  1
minBrightness = 0


usePixelSort = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 194
pixSortboxWidth = 132
pixSortgap = 20
pixSortprobDraw = .15
pixSortprobGetNextColor = .2
pixSortProbDecriment = .5
pixSortSizeDecriment = .991
pixSortSampleVariance = 1
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = .98


[particleSystem]
numUnits = 1

xGravity = 0
yGravity = -.10

ignoreBottom = True

speedMin = 5
speedMax = 12

#initial direction 3.14/2
variance = 1

objWidth = 20
objHeight = 40
objType = rect

widthRate = .9
heightRate = .9

overallBlur = 2
unitBlur = 2

objColor = set
#fire
#fillColor = 245,245,0,10
#outlineColor = 190,10,0,70
#bgColor = 1,0,0,120

#ice
fillColor = 0,25,80,250
outlineColor = 0,10,200,90
bgColor = 190,100,0,50

centerRangeXMin = 30
centerRangeXMax = 0
centerRangeYMin = 120
centerRangeYMax = 150

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True

movement = fire 
useFlocking = False
cohesionDistance = 40 
repelDistance = 1
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = 1
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast






