[displayconfig]

work = particles

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 192

# ---  preparing for rotation
windowWidth = 192
windowHeight = 192

canvasWidth = 192
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2562
windowYOffset = 50

brightness =  1
minBrightness = 0


usePixelSort = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 64
pixSortboxWidth = 132
pixSortgap = 20
pixSortprobDraw = .05
pixSortprobGetNextColor = .9
pixSortProbDecriment = .95
pixSortSizeDecriment = .8
pixSortSampleVariance = 10
pixSortDrawVariance = 2
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1


[particleSystem]
numUnits = 30

xGravity = 0
yGravity = -.5

speedMin = 3
speedMax = 8

objWidth = 20
objHeight = 30

widthRate = .9
heightRate = .97

overallBlur = 3
unitBlur = 7

fillColor = 240,150,0,10
outlineColor = 100,0,0,50

centerRangeXMin = -60
centerRangeXMax = 60
centerRangeYMin = 100
centerRangeYMax = 100

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True

useFlocking = False
cohesionDistance = 20
repelDistance = 5
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .8

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

bgColor = 0,0,0,2
