[displayconfig]

work = particles

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 192

# ---  preparing for rotation
windowWidth = 192
windowHeight = 192

canvasWidth = 192
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2562
windowYOffset = 50

brightness =  1
minBrightness = 0


usePixelSort = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 64
pixSortboxWidth = 132
pixSortgap = 20
pixSortprobDraw = .15
pixSortprobGetNextColor = .2
pixSortProbDecriment = .5
pixSortSizeDecriment = .991
pixSortSampleVariance = 1
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = .98


[particleSystem]
numUnits = 20

xGravity = 0
yGravity = -.10

ignoreBottom = True

speedMin = 2
speedMax = 12

#initial direction 3.14/2
variance = 1

objWidth = 20
objHeight = 40
objType = poly

widthRate = .96
heightRate = .97

overallBlur = 1
unitBlur = 1

objColor = fire
fillColor = 245,245,0,10
outlineColor = 190,10,0,90

centerRangeXMin = -20
centerRangeXMax = 40
centerRangeYMin = 120
centerRangeYMax = 150

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True

movement = fire 
useFlocking = True
cohesionDistance = 40 
repelDistance = 1
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = 1
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

bgColor = 100,0,100,200
