[displayconfig]

#----------------------------------------------

work = plane

#----------------------------------------------

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False

useFilters = True
usePixelSort = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortxStart = 0
pixSortyStart = 0
pixSortboxHeight = 40
pixSortboxWidth = 96
pixSortgap = 2
pixSortprobDraw = .5
pixSortprobGetNextColor = .2
pixSortdecriment = .5

checkForConfigChanges = True
isRPI = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 40
rows = 6
cols = 5

# ---  Also determines the window geometry
screenWidth = 194
screenHeight = 164

# ---  preparing for rotation
windowWidth = 194
windowHeight = 194

canvasWidth = 194
canvasHeight = 194

brightness =  .99
minBrightness = .3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 4

# Window Offset
windowXOffset = 2623
windowYOffset = 280

#For direct to HAT
#----------------------------------------------
actualScreenWidth = 1280
transwiring = True



[repeater]
#----------------------------------------------

imageList = planes/plane-2tw-lrg.png
imageList = planes/plane-2twb0.png
imageList = planes/plane-2tw.png
imageList = planes/plane-2tw2s.png


[plane]
#----------------------------------------------
# Used for number of planes etc
unitCount = 8
scalingFactor = 1
speedFactor = 1
vOffset = -10
scrollSpeed = .005
displayRows = 5
displayCols = 6

useJitter =  True
jitterRate = .8
jitterResetRate = .2

useBlink = True
noTrails = True

#colorWheel  #random #colorRGB #fixed
colorMode = colorRGB
randomColorMode = True



