[displayconfig]

work = plane

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

## Also determines the window geometry
screenWidth = 96
screenHeight = 80

canvasWidth = 96
canvasHeight = 96

screenWidth = 193
screenHeight = 193

canvasWidth = 193
canvasHeight = 193

brightness =  .95
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = -10

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowYOffset = 24
windowXOffset = 2561


[output]
duration =  30
fps = 60
mode = video

[repeater]
imageList = planes/plane-2tw-lrg.png
imageList = planes/plane-2tw.png

[plane]
# Used for number of planes etc
unitCount = 14
scalingFactor = 1
speedFactor = 3
vOffset = -10
scrollSpeed = .0001
displayRows = 5
displayCols = 6
useJitter =  True
useBlink = True
noTrails = False
colorMode = colorRGB
randomColorMode = True
#colorWheel  #random #colorRGB #fixed

