[displayconfig]

work = plane

isRPI = False
rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 192

# ---  preparing for rotation
windowWidth = 192
windowHeight = 192

canvasWidth = 192
canvasHeight = 192

brightness =  .99
minBrightness = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 4

# Window Offset
windowXOffset = 2624
windowYOffset = 280

### To semi-center the repetition field
canvasOffsetY = -10

[repeater]
imageList = planes/plane-2tw-lrg.png
imageList = planes/plane-2tw.png

[plane]
# Used for number of planes etc
unitCount = 14
scalingFactor = 1
speedFactor = 3
vOffset = -10
scrollSpeed = .0001
displayRows = 5
displayCols = 6
useJitter =  True
useBlink = True
noTrails = False
colorMode = colorRGB
randomColorMode = True
#colorWheel  #random #colorRGB #fixed

