[displayconfig]

work = present

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True

useFilters = True
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 160

# ---  preparing for rotation
windowWidth = 192
windowHeight = 160

# ---  preparing for rotation
canvasWidth = 192
canvasHeight = 160

brightness =  .925
minBrightness = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 5

# ---  Window Offset
windowXOffset = 1700
windowYOffset = 700

# ---  Window Offset
windowXOffset = 2561
windowYOffset = 26

[images]

# ---  Testing
imageList = 192x160test.png
imageList = 192x160.png

imageList = 192x160blank.png
unitCount = 1
imageList = bgs/190bg2.png,sks/sk1l.png,sks/sk1r.png
imageList = bgs/190bg2.png,sks/sk1rf.png,sks/sk1lf.png
imageList = bgs/190bg3.png,sks/sk1lf.png,sks/sk1rf.png
unitCount = 3

displayRows = 5
displayCols = 6

useJitter = False    
useBlink = True
noTrails = False

scalingFactor = 1
speedFactor = 1
vOffset = -10
redrawSpeed = .02
jitterRange = 2

# --- Base probability per cycle that giltch will happen
glitchRate = .01

# --- Probability per cycle that giltches will start happening
glitchModeRate = .01

# --- Probability per cycle that giltch will return to normal
glitchResetRate = .01

# --- The height/width of the glitch box
imageGlitchSize = 4

colorChage = .01
colorBGChage = .1

# --- colorWheel #random #colorRGB #fixed
colorMode = colorRGB
randomColorMode = True

[filter]
# Color overlay / pixel color block
clrBlkWidth = 192
clrBlkHeight = 80
overlayxPos = 0
overlayyPos = 40
overlayChangeProb = .5
overlayChangePosProb = .001

