[displayconfig]

work = present

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = False

useFilters = True
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

## Also determines the window geometry
screenWidth = 192
screenHeight = 162

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 192
canvasHeight = 162

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 5
canvasOffsetY = 6

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = 2560
windowYOffset = 24

# Window Offset -- using additional screen...
windowXOffset = 2560
windowYOffset = 219

windowXOffset = 40
windowYOffset = 10

#For direct to HAT
transwiring = True
actualScreenWidth = 640


[images]
# ---  Testing
imageList = 192x160test.png
imageList = 192x160.png

imageList = 192x160blank.png
unitCount = 1
imageList = bgs/190bg2.png,sks/sk1l.png,sks/sk1r.png
imageList = bgs/190bg2.png,sks/sk1rf.png,sks/sk1lf.png
imageList = bgs/190bg2.png,sks/sk1lf.png,sks/sk1rf.png
unitCount = 3

displayRows = 5
displayCols = 6

useJitter = False    
useBlink = True
noTrails = False

scalingFactor = 1
speedFactor = 1
vOffset = -10
redrawSpeed = .02
jitterRange = 2

# --- Base probability per cycle that giltch will happen
glitchRate = .01

# --- Probability per cycle that giltches will start happening
glitchModeRate = .01

# --- Probability per cycle that giltch will return to normal
glitchResetRate = .01

# --- The height/width of the glitch box
imageGlitchSize = 4

colorChage = .01
colorBGChage = .01

# --- colorWheel #random #colorRGB #fixed
colorMode = colorRGB
randomColorMode = True

