[displayconfig]

work = quilt

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 160

# ---  preparing for rotation
windowWidth = 192
windowHeight = 160

canvasWidth = 192
canvasHeight = 160

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 4

# Window Offset
windowXOffset = 2624
windowYOffset = 280

brightness =  .75
minBrightness = 0

[quilt]
delay = .01
colorPopProb = .005

numUnits = 13


blockSize = 2
blockLength = 0
blockHeight = 0

blockRows = 4
blockCols = 3
gapSize = 0

cntrOffsetX = 24
cntrOffsetY = 24

lines = False
patternPrecision = True
blueFactor = 20
greenFactor = 20

## Like the "stiching" color
brightnessFactorDark = .1
brightnessFactorLight = .9