[displayconfig]

work = repaint

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True

useFilters = True
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 6

#--  Also determines the window geometry
screenWidth = 192
screenHeight = 160

#--  preparing for rotation
windowWidth = 192
windowHeight = 160

#--  preparing for rotation
canvasWidth = 192
canvasHeight = 160

brightness =  .925
minBrightness = 0

#-- for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 5

#--  Window Offset
windowXOffset = 1700
windowYOffset = 700

#--  Window Offset
windowXOffset = 2561
windowYOffset = 26

# Window Offset -- using additional screen...
windowXOffset = 2560
windowYOffset = 219
windowYOffset = 26

[repaint]
repaintDelay = .01
numBrushes = 21
ferrule = 14
bristle = 19
handle = 24
randomBrushWidth = True
# 20 is a good fixed brush width
brushWidth = 40
handleWidth = 6
holeWidth = 2
holeHeight = 3
speedRange = 5

#--  not really used
rotationProbability = .1

#-- chance per color/bounce change that brush will go 0/90/180
orthoProbability = .03

#--  chance per cycle that brushes are forced to 0/90/180
rectifyProbability = .01

