[displayconfig]

work = repeater

isRPI = False
rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 320

# ---  preparing for rotation
windowWidth = 320
windowHeight = 320

canvasWidth = 320
canvasHeight = 320

brightness =  .99
minBrightness = .5

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 4

# Window Offset
windowXOffset = 2728
windowYOffset = 50

[output]
duration =  30
fps = 15

[repeater]
# Used for number of images etc
imageList = icons/ak-2tw.png
#imageList = miscl/head-2tw.png
unitCount = 23
scalingFactor = 5
# Higher the speed factor, slower the movement
speedFactor = .5
vOffset = -10
scrollSpeed = .001
displayRows = 6
displayCols = 5
useJitter =  False
useBlink = True
noTrails = True
colormode = random




