[displayconfig]

work = repeater

isRPI = False
rendering = hub
rotation = 90
fullRotation = False
rotationTrailing = True
checkForConfigChanges = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 162

# ---  preparing for rotation
windowWidth = 192
windowHeight = 192

canvasWidth = 192
canvasHeight = 192

brightness =  .95
minBrightness = .3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# Window Offset
windowXOffset = 2630
windowYOffset = 296


[repeater]
# Used for number of images etc
imageList = icons/ak-2tw.png
#imageList = miscl/head-2tw.png
unitCount = 33
scalingFactor = 5
# Higher the speed factor, slower the movement
speedFactor = 2
vOffset = -10
scrollSpeed = .001
displayRows = 6
displayCols = 5
useJitter =  False
useBlink = True
noTrails = True

[output]
duration =  30
fps = 60
mode = video



