[displayconfig]

work = screensaver

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

## Also determines the window geometry
screenWidth = 192
screenHeight = 165

canvasWidth = 192
canvasHeight = 165
brightness =  .95
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 5
canvasOffsetY = 5

# Window Offset
windowXOffset = 0
windowYOffset = 0

# Window Offset
windowXOffset = 2560
windowYOffset = 26

windowOrientation = horizontal


[images]
i1 = Mac-Book-Black-On-icon.png
i1 = Computer-Hardware-Laptop-icon.png
i2 = 
useBlanks = False
useimagefilter = False
playSpeed = .01



txt1 = THIS  IS NOT          
txt2 = A COMPUTER.
txt3 = 

[txtdisplay]
txt1 = '      '
txt2 = ' COMPUTER'
txt3 = 

txt1 =        
txt2 = '+++++'
txt2 = '------'
txt2 = '____'
txt3 = 

crawlText = THIS IS NOT A COMPUTER

txtBoxHtMultuiplier = 1
fontSize = 14

xbuffer = 32
ybuffer = 32

xMin = -248
xMax = 190

yMin = -120
yMax = 165
