[displayconfig]

work = screensaver

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True

useFilters = False

usePixelSort = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 40
pixSortboxWidth = 190
pixSortgap = 20
pixSortprobDraw = .9
pixSortprobGetNextColor = .1
pixSortSizeDecriment = 1
pixSortProbDecriment = 1
pixSortSampleVariance = 1
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 160

# ---  preparing for rotation
windowWidth = 192
windowHeight = 160

canvasWidth = 192
canvasHeight = 160

brightness =  .925
minBrightness = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 4

# Window Offset
windowXOffset = 2624
windowYOffset = 280

windowOrientation = horizontal


[images]
i1 = icons/Mac-Book-Black-On-icon.png
i1 = icons/Computer-Hardware-Laptop-icon.png
i1 = icons/boxy.png
i2 = 
useBlanks = False
useimagefilter = False
playSpeed = .01


[txtdisplay]
txt1 = '      '
txt2 = ' COMPUTER'
txt3 = 

txt2 = '+++++'
txt1 = '      '
txt2 = '____'
txt3 = 
txt1 = '   NO'   
txt2 = 'SIGNAL'

crawlText = NO SIGNAL

txtBoxHtMultuiplier = 1
fontSize = 14

xbuffer = 32
ybuffer = 32

xMin = -248
xMax = 190

yMin = -120
yMax = 165
