[displayconfig]

work = screensaver

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

## Also determines the window geometry
screenWidth = 192
screenHeight = 165

canvasWidth = 192
canvasHeight = 165
brightness =  .95
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 5
canvasOffsetY = 5

# Window Offset
windowXOffset = 0
windowYOffset = 0

# Window Offset
windowXOffset = 2560
windowYOffset = 26


[images]
i1 = Mac-Book-Black-On-icon.png
i2 = 
useBlanks = False
useimagefilter = False
playSpeed = .01


[txtdisplay]
txt1 = THIS IS NOT A COMPUTER
txt2 = LEFT

fontSize = 16
shadowSize = 1
colorOverlay = False
bgColor = 20,0,30
bgColor = 10,0,15
colorMode = randomColor
#colorMode = getRandomRGB
#colorMode = getRandomColorWheel

