[displayconfig]

work = vertical

rendering = hub
rotation = 270
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

## Also determines the window geometry
screenWidth = 192
screenHeight = 192

# preparing for rotation
canvasWidth = 192
canvasHeight = 192

brightness =  .925
minBrightness = 0

# Window Offset
windowXOffset = 2562
windowYOffset = 28

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
# offset  = (3 - 16)...or something
canvasOffsetY = -16

#For direct to HAT
transwiring = True
actualScreenWidth = 640

[vertical]
vOffset = 0
redrawSpeed = .02
rateMultiplier = .1

brightness =  .75
outerColor = 90,0,180
innerColor = 250,100,0
borderColor = 170,0,0

### virtical variations
### h should be same as blockHeight 
### unless gaps are wanted
blockHeight = 32
h = 32

### horizontal variation
### higher makes it less flame-like
var = 1
varMulitplierWhenChangingUp = 16
varMulitplierWhenChangingDown = 8

destinationPercentage = .25
widthPercentage = .2
multiplier = .998
incrRate = 1.02
reduceRate = .995

inMotionProbability = .01
