[displayconfig]

work = counterscroll

rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 160

# ---  preparing for rotation
windowWidth = 160
windowHeight = 160

canvasWidth = 160
canvasHeight = 192

# Window Offset
windowXOffset = 2690
windowYOffset = 50

canvasOffsetX = 3
canvasOffsetY = 3

imageXoffset = 0

brightness =  .99
minBrightness = 0


[scroll]
useXOs = True
useArrows = False
usingEmoties = True
counterScrollText = False
directionOrder = RIGHT-LEFT
useBlanks = True
useThreeD = True
sansSerif = True

txt1 = 
txt2 = 

fontSize = 45
shadowSize = 2
vOffset = -11
steps = 1
scrollSpeed = .004

bgcolor = 0,0,0
coloroverlay = False

#colorMode = randomColor
colorMode = getRandomRGB
#colorMode = getRandomColorWheel

useColorFlicker = True
noTrails = True
displayRows = 5
displayCols = 10

