[displayconfig]
##########################################################

work = hashing-v3
; work = diagnostics

rotation = 0
checkForConfigChanges = False
doFullReloadOnChange = False

tileSizeHeight = 64
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 8

# ---  Also determines the window geometry
screenWidth = 212
screenHeight = 212

# ---  preparing for rotation
windowWidth = 212
windowHeight = 212

canvasWidth = 212
canvasHeight = 212

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowXOffset = 2647
# moved back 19 px
windowXOffset = 200
windowYOffset = 201

brightness = .75
minBrightness = 0


remapImageBlock = False
remapImageBlockSection = 0,0,100,10
remapImageBlockDestination = 0,0
# remapImageBlockSectionRotation = 0

# remapImageBlock2 = True
# remapImageBlockSection2 = 64,144,83,212
# remapImageBlockDestination2 = 64,128
# # remapImageBlockSection2Rotation = 0

# remapImageBlock3 = True
# remapImageBlockSection3 = 83,0,212,212
# remapImageBlockDestination3 = 83,-16
# # remapImageBlockSection3Rotation = 0

# remapImageBlock4 = True
# remapImageBlockSection4 = 64,128,192,212
# remapImageBlockDestination4 = 83,128
# # remapImageBlockSection5Rotation = 0

# remapImageBlock5 = True
# remapImageBlockSection5 = 0,128,83,212
# remapImageBlockDestination5 = 19,128
# remapImageBlockSection5Rotation = 0


remapImageBlockShift = True
remapImageBlockShiftSection = 0,0,68,64
remapImageBlockShiftStableSection = 0,0,0,0
remapImageBlockShiftDestination = 12,0

remapImageBlockShift2 = True
remapImageBlockShiftSection2 = 68,0,208,70
remapImageBlockShiftStableSection2 = 0,0,0,0
remapImageBlockShiftDestination2 = 80,-6

remapImageBlockShift3 = True
remapImageBlockShiftSection3 = 0,64,64,192
remapImageBlockShiftStableSection3 = 0,0,0,0
remapImageBlockShiftDestination3 = 16,64

remapImageBlockShift4 = True
remapImageBlockShiftSection4 = 64,70,128,212
remapImageBlockShiftStableSection4 = 0,0,0,0
remapImageBlockShiftDestination4 = 80,64

remapImageBlockShift5 = True
remapImageBlockShiftSection5 = 132,70,212,134
remapImageBlockShiftStableSection5 = 0,0,0,0
remapImageBlockShiftDestination5 = 144,64

remapImageBlockShift6 = True
remapImageBlockShiftSection6 = 128,134,212,212
remapImageBlockShiftStableSection6 = 0,0,0,0
remapImageBlockShiftDestination6 = 144,128



usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = -2
pixSortboxHeight = 1
pixSortboxWidth = 192
pixSortgap = 0
pixSortprobDraw = .02
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99

useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = True
ditherfilterbrightness = .99




#-----------------------------------------------#
[hatchingmarks]
#-----------------------------------------------#

# Framerate
redrawSpeed = .03
# amplitude of noise
pointsPerLine = 28
curveResolution = 10

drawingWidth = 196
drawingHeight = 196


# more loops and tangles
tangleProb = 1.0
backTrackRange = 1,10

# grid single-lines
drawingShape = grid
renderLinesAsEnvelope = True

; imageXPOSSpeed = .1

# these really control the feel of
# activity - frenetic grid, soft undulations
# sense of randomness on or through the grid
# @todo make into mode sets

xOffset = 6
pointsPerLineCol = 28
colAdj = 1
colFirst = True
noiseAmplitudeRangeCol = 1.1,4.0
colIntervalRange = 20,80
verticalMovement = True
verticalMovementProb = .002
vertLineChangeRange = .001,.02
vertLineSpeedRange = 1,3
vertBaseWidthRange = 0,0

yOffset = 6
pointsPerLineRow = 28
rowAdj = 1
rowIntervalRange = 20,80
horizontalMovement = True
noiseAmplitudeRangeRow = 1.1,4.0
horizontalMovementProb = 0.0020
horizLineChangeRange = .001,.002
horizLineSpeedRange = 1,3
horizBaseWidthRange = 0,0

uniformRatio = False
squareRatio = False

useSingleMode = False
# these only need to be set for singleMode
# vertLineChange = 0.5
# horizLineChange = 0.5
# bg_alpha = 10
# line_alpha = 180

# chance per frame the overall drawing character changes
changeLinesProb = .0004
changeBGProb = 0.0003

lightMode = False
lightModeProb = .0
lightLinesOnGroundProb = .0
lightLinesOnGround = False


pauseProb = .0002
unpauseProb = .003


# when going full black/white return to base at this per cycle
bg_alpha_returnrate = .2


#---------------------  blanks blocks
useBlanks = True
resetBlanksProb = .0002
numberOfDeadPixels = 1
blankColorAsColorProb = .0
sizeTarget = 196,196
colsRange = 16,32
rowsRange = 16,32
blankPolyVariation = 1

#--------------------- filterRemapping  ------------------
filterRemapping = True
filterRemappingProb = .0005
filterRemapMinHoriSize = 12
filterRemapMaxHoriSize = 192
filterRemapMinVertSize = 3
filterRemapMaxVertSize = 16
filterRemapRangeX = 196
filterRemapRangeY = 196

contractXSpeed = 1
contractYSpeed = 1
expandXSpeed = 1
expandYSpeed = 1

#---------------------  adding panel modulation to mimic physical panel differences
usingPanelOverlays = True
panelColumns = 4
panelRows = 4
panelWidth = 64
panelHeight = 64
panelOverlayRange = 2,4
panelOverlayChangeProb = .0005
panelOverlayAmount = .1


#---------------------  bgparameters]

paletteSets = palette_pinks,palette_all_on_naples,palette_aging

drawMoire = True
drawMoireProb = .01
drawMoireProbOff = .08

moireXPos  = 160
moireYPos  = 110
moireXDistance = 10
moireYDistance = 10

setMoireColor = True
moireColor = 0,140,60,50
moireColorAlt = 40,0,0,100
moireColorAltProb = .5

# chance that an overlay block is drawn
usebgBoxProb = .01
forceBgBox = False
useBgBox = False
clearbgBoxprob = .0003
bgBoxBox = 0,0,256,256

bgTileSizeWidthMin = 64
bgTileSizeHeightMin = 64
bgTileSizeWidthMax = 128
bgTileSizeHeightMax = 129


bgGlitchCyclesMin = 4
bgGlitchCyclesMax = 30
bgGlitchDisplacementHorizontal = 10
bgGlitchDisplacementVertical = 10

# chance that the background changes
backgroundColorChangeProb = .005

initialRunsOfBgBlocks = 30

[palette_pinks]
line_minHue = 0
line_maxHue = 60
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0
line_alpha_range = 18,30

line_mid_minHue = 355
line_mid_maxHue = 60
line_mid_minSaturation = .45
line_mid_maxSaturation = .55
line_mid_minValue = .5
line_mid_maxValue = .6
line_mid_minDropHue = 0
line_mid_maxDropHue = 0
line_mid_alpha_range = 180,230

line_light_minHue = 40
line_light_maxHue = 50
line_light_minSaturation = .5
line_light_maxSaturation = .50
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0

bg_minHue = 355
bg_maxHue = 10
bg_minSaturation = .1
bg_maxSaturation = .40
bg_minValue = .9
bg_maxValue = .90
bg_minDropHue = 0
bg_maxDropHue = 0
bg_alpha_range = 20,140

bgBoxColorRanges = 345,10,.50,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248


[palette_all_on_naples]
line_minHue = 0
line_maxHue = 60
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0
line_alpha_range = 18,30

line_mid_minHue = 355
line_mid_maxHue = 60
line_mid_minSaturation = .45
line_mid_maxSaturation = .55
line_mid_minValue = .5
line_mid_maxValue = .6
line_mid_minDropHue = 0
line_mid_maxDropHue = 0
line_mid_alpha_range = 180,230

line_light_minHue = 40
line_light_maxHue = 50
line_light_minSaturation = .5
line_light_maxSaturation = .50
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0
line_light_alpha_range = 180,230

bg_minHue = 34
bg_maxHue = 50
bg_minSaturation = .2
bg_maxSaturation = .990
bg_minValue = .9
bg_maxValue = .90
bg_minDropHue = 0
bg_maxDropHue = 0
bg_alpha_range = 20,140

bgBoxColorRanges = 180,66,.750,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248

[palette_aging]
line_minHue = 0
line_maxHue = 60
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0
line_alpha_range = 18,30

line_mid_minHue = 355
line_mid_maxHue = 60
line_mid_minSaturation = .45
line_mid_maxSaturation = .55
line_mid_minValue = .5
line_mid_maxValue = .6
line_mid_minDropHue = 0
line_mid_maxDropHue = 0
line_mid_alpha_range = 180,230

line_light_minHue = 40
line_light_maxHue = 50
line_light_minSaturation = .5
line_light_maxSaturation = .50
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0
line_light_alpha_range = 180,230

bg_minHue = 34
bg_maxHue = 50
bg_minSaturation = .2
bg_maxSaturation = .990
bg_minValue = .9
bg_maxValue = .90
bg_minDropHue = 0
bg_maxDropHue = 0
bg_alpha_range = 20,140

bgBoxColorRanges = 34,48,.750,1.0,.62,1.0,0,0
bgBoxAlphaRange = 40,248



#----------------------------------------------------##----------------------------------------------------#
[diag]
#----------------------------------------------------##----------------------------------------------------#
fontColor = 0,100,290
outlineColor = 205,0,0
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

