[displayconfig]
#----------------------------------------------------#
work = quilt-triangles
#----------------------------------------------------#

rotation = 2
fullRotation = True
rotationTrailing = False

checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 230

# ---  preparing for rotation
windowWidth = 260
windowHeight = 230

canvasWidth = 260
canvasHeight = 230


# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
windowYOffset = 374

brightness =  1.0
minBrightness = 0

#work = squares
#rotation = 0
#screenWidth = 320
#screenHeight = 192
#canvasWidth = 320
#canvasHeight = 192


remapImageBlock = False
remapImageBlockSection = 0,0,256,384
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0


remapImageBlock2 = True
remapImageBlockSection2 = 0,220,160,256
remapImageBlockDestination2 = 1,220
remapImageBlockSection2Rotation = 1

remapImageBlock3 = False
remapImageBlockSection3 = 224,0,256,384
remapImageBlockDestination3 = 0,0
remapImageBlockSection3Rotation = 0


usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = -2
pixSortboxHeight = 1
pixSortboxWidth = 192
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2


useFilters = False
ditherfilterbrightness = 1.0


[quilt-triangles]
#---------------------------------#
pattern = stars

# Framerate
delay = .01

## Approximating timing so that any one triange changes once every 2 minutes or so
## e.g. .0005 prob checked every .01 seconds ~ .0005/ .01s = 5% chance per second ...
resetTrianglesProb = .9995
colorPopProb = .0001

# the probability that at the completion of all transisitons that
# a new quilt sizeing will be made
resetSizeProbability  = .9

blockSizeMin = 8
blockColsMin = 10
blockRowsMin = 14

blockSizeMax = 10
blockColsMax = 20
blockRowsMax = 14

gapSize = 0

cntrOffsetX = -0
cntrOffsetY = -0

lines = False
patternPrecision = True

# the rate of change of colors and overall
# redraw of the quilt
timeToComplete = 60
transitionStepsMin = 15.0
transitionStepsMax = 150.0

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99


activeSet = set2

[set1]
## red grid, greens for squares - high lumen
## BASE
c1HueRange = 0,36
c1SaturationRange = .8,1
c1ValueRange = .5,.8

## SQUARE
c2HueRange = 90,180
c2SaturationRange = .4,.6
c2ValueRange = .5,.6

## CENTER
c3HueRange = 0,36
c3SaturationRange = .9,1
c3ValueRange = .8,.99


[set2]
## diamond/sqaures recede due to being low saturarion
## BASE
c1HueRange =  1,360
c1SaturationRange = .8,1
c1ValueRange = .5,.8

## SQUARE
c2HueRange = 0,360
c2SaturationRange = .1,.5
c2ValueRange = .1,.3

## CENTER
c3HueRange = 0,360
c3SaturationRange = 1,1
c3ValueRange = .1,.3

[set3]
#	Red center diamonds
## BASE
c1HueRange = 1,360
c1SaturationRange = .8,1 
c1ValueRange = .3,.5

## SQUARE
c2HueRange = 1,20
c2SaturationRange = .8,1
c2ValueRange = .9,1

## CENTER
c3HueRange = 0,360
c3SaturationRange = .7,.9
c3ValueRange =  .1,.5

[set4]
#	Red grid - has most stained-glass feel ++

## BASE
c1HueRange = 0,29 
c1SaturationRange =  .9,1
c1ValueRange = .2,.22

## SQUARE
c2HueRange =  1,360
c2SaturationRange = .8,1
c2ValueRange = .4,.5

## CENTER
c3HueRange =  0,32
c3SaturationRange = .9,1
c3ValueRange = .5,.51











