[displayconfig]

work = propagation


rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = True

#tileSizeHeight = 32
#tileSizeWidth = 64
#matrixTiles = 16
#rows = 4
#cols = 4


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 7

# ---  Also determines the window geometry
screenWidth = 448
screenHeight = 256

# ---  preparing for rotation
windowWidth = 448
windowHeight = 256

canvasWidth = 448
canvasHeight = 256

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# Window Offset

#windowXOffset = 1700
windowXOffset = 2684
windowYOffset = 169

brightness =  1.5
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 128,0,194,128
remapImageBlockDestination = 128,4

remapImageBlock2 = False
remapImageBlockSection2 = 16,0,64,128
remapImageBlockDestination2 = 16,12

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 188
pixSortboxHeight = 4
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 1



[propagation]
#-----------------------------------------------#
fontColor = 0,0,0
outlineColor = 0,0,0
showOutline = False
showText = False
timeTrigger = True
tLimitBase = 10
steps = 25
colorStepsRangeMin = 3
colorStepsRangeMax = 5
redrawDelay = .01

rows = 32
cols = 56

tileSizeWidth = 8
tileSizeHeight = 8


doneThreshold = .9
propagationProbability = .992
# 3 2 3 4
overCrowdingThreshold = 3
underPopulationThreshold = 2
#dieThreshold = 3
liveThreshold = 4

fullimageGiltchRate = .0001
useFixedPalette = True

## If this is set to 1, then
## will use the range for the whole set 
paletteRange = 2

# Hue min/max Saturation min,max Value min/max
## NOTE -- the ranges are parts of a "circle"
## so if the starting angle is 170 and the ending angle is 90
## colors between 90 and 170 will NOT be produced

#p1 = 205,215, .6,.9, .8,1
#p2 = 210,230, .6,.9, .,1
#p3 = 0,10, .6,.9, .8,1
#p4 = 0,5, .6,.9, .8,1


## ALL BLUES SCREEN
#p1 = 220,230, 1,1, .8,.81
#p1 = 0,360, 1, 1.1, .8,.81

## MINUS GREEN
#p1 = 290,70, 1,1, .8,.81
#p2 = 0,350, 1,1, .1,1
#p3 = 20,350, 1,1, .1,1
#p4 = 220,230, 1,1, .8,.81


#crimson-vermillion
p1 = 45,50, 1,1, .8,.81
#gold
p2 = 43,45, 1,1, .1,.8
p3 = 100,200, 1,1, .1,1
p4 = 100,200, 1,1, .8,.81

## The main background color
## Matisse-like green adjusted
deadColor = 0,100,80,10



## selective exclusion of color range
## set both to zero to turn off
dropHueMin = 0
dropHueMax = 0

