[displayconfig]


work = particles


rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 12

# ---  Also determines the window geometry
screenWidth = 448
screenHeight = 448

# ---  preparing for rotation
windowWidth = 448
windowHeight = 384

canvasWidth = 448
canvasHeight = 448

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# Window Offset

#windowXOffset = 1700
windowXOffset = 2684
windowYOffset = 169

brightness =  .85
minBrightness = 0

imageXOffset = 0

#************
remapImageBlock = False
remapImageBlockSection = 128,128,256,192
remapImageBlockDestination = 0,64

remapImageBlock2 = False
remapImageBlockSection2 = 16,0,64,128
remapImageBlockDestination2 = 16,12

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 127
pixSortboxHeight = 1
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


[particleSystem]
#-----------------------------------------------#
numUnits = 100

xGravity = 0
yGravity = -.10

ignoreBottom = True

speedMin = 2
speedMax = 5

#initial direction 3.14/2
variance = 1

objWidth = 25
objHeight = 50
objType = rect
objTrails = True

widthRate = .9
heightRate = .9

overallBlur = 15
unitBlur = 0

objColor = set

## bluescreen
fillColor = 88,40,0,19
outlineColor = 88,40,0,19
bgColor = 6,0,90,25

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 10,130


overlayColor = 60,60,60,6
#************
useOverLay = False
clrBlkWidth = 15
clrBlkHeight = 14
overlayxPos = 128
overlayyPos = 100
#overlayColor = 88,40,0,190


bgTransitions = True
bgRangeA =  10
bgRangeB = 30
minHue = 210
maxHue = 270
minValue = .1
maxValue = .6
tLimitBase = 20

#************ should be 25
bgTransparency = 25
maxBrightness = .55

centerRangeXMin = 20
centerRangeXMax = 20
centerRangeYMin = -222
centerRangeYMax = 115

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

movement = fire 
useFlocking = False
cohesionDistance = 40 
repelDistance = 1
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = 1
changeCohesion = False







