
#--------------------- COLORS    ---------------------
[palettesIncluded]
palettes = wildandcrazy2,galah,goldenx3,deep,deep2,china,oceansky,hartley,wildandcrazy,retrotest1,retrotest2,noir

[noir]
c2_minHue = 210
c2_maxHue = 225
c2_minSaturation = .01
c2_maxSaturation = .05
c2_minValue = .01
c2_maxValue = .05
c2_tLimitBase = 10

c1_minHue = 340
c1_maxHue = 353
c1_minSaturation = .01
c1_maxSaturation = .05
c1_minValue = .5
c1_maxValue = .99
c1_tLimitBase = 15

c3_minHue = 340
c3_maxHue = 353
c3_minSaturation = .01
c3_maxSaturation = .05
c3_minValue = .25
c3_maxValue = .99
c3_tLimitBase = 15

c4_minHue = 160
c4_maxHue = 172
c4_minSaturation = .01
c4_maxSaturation = .05
c4_minValue = .2
c4_maxValue = .3
c4_tLimitBase = 15

[hartley]
c2_minHue = 210
c2_maxHue = 225
c2_minSaturation = .40
c2_maxSaturation = .60
c2_minValue = .95
c2_maxValue = 1.0
c2_tLimitBase = 10

c1_minHue = 340
c1_maxHue = 353
c1_minSaturation = .7
c1_maxSaturation = 1.0
c1_minValue = .5
c1_maxValue = .99
c1_tLimitBase = 15

c3_minHue = 340
c3_maxHue = 353
c3_minSaturation = .5
c3_maxSaturation = 1.0
c3_minValue = .25
c3_maxValue = .99
c3_tLimitBase = 15

c4_minHue = 160
c4_maxHue = 172
c4_minSaturation = .9
c4_maxSaturation = 1.0
c4_minValue = .2
c4_maxValue = .3
c4_tLimitBase = 15

[hartley1]
c1_minHue = 220
c1_maxHue = 220
c1_minSaturation = .40
c1_maxSaturation = .40
c1_minValue = .75
c1_maxValue = .75
c1_tLimitBase = 10

c2_minHue = 326
c2_maxHue = 335
c2_minSaturation = .5
c2_maxSaturation = 1.0
c2_minValue = .2
c2_maxValue = .99
c2_tLimitBase = 15

c3_minHue = 326
c3_maxHue = 335
c3_minSaturation = .5
c3_maxSaturation = 1.0
c3_minValue = .85
c3_maxValue = .99
c3_tLimitBase = 15

c4_minHue = 326
c4_maxHue = 335
c4_minSaturation = .5
c4_maxSaturation = 1.0
c4_minValue = .85
c4_maxValue = .99
c4_tLimitBase = 15

[galah]
c1_minHue = 326
c1_maxHue = 335
c1_minSaturation = 1.0
c1_maxSaturation = 1.0
c1_minValue = .3
c1_maxValue = .4
c1_tLimitBase = 10

c2_minHue = 326
c2_maxHue = 335
c2_minSaturation = .5
c2_maxSaturation = 1.0
c2_minValue = .85
c2_maxValue = .99
c2_tLimitBase = 15

c3_minHue = 326
c3_maxHue = 335
c3_minSaturation = .5
c3_maxSaturation = 1.0
c3_minValue = .85
c3_maxValue = .99
c3_tLimitBase = 15

c4_minHue = 326
c4_maxHue = 335
c4_minSaturation = .5
c4_maxSaturation = 1.0
c4_minValue = .85
c4_maxValue = .99
c4_tLimitBase = 15

[_galah]
c1_minHue = 330
c1_maxHue = 345
c1_minSaturation = .1
c1_maxSaturation = .14
c1_minValue = .0
c1_maxValue = .1
c1_tLimitBase = 10

c2_minHue = 330
c2_maxHue = 345
c2_minSaturation = .5
c2_maxSaturation = 1.0
c2_minValue = .85
c2_maxValue = .99
c2_tLimitBase = 15

c3_minHue = 330
c3_maxHue = 345
c3_minSaturation = .5
c3_maxSaturation = 1.0
c3_minValue = .85
c3_maxValue = .99
c3_tLimitBase = 15

c4_minHue = 330
c4_maxHue = 345
c4_minSaturation = .5
c4_maxSaturation = 1.0
c4_minValue = .85
c4_maxValue = .99
c4_tLimitBase = 15

[tablecloth]
c1_minHue = 330
c1_maxHue = 345
c1_minSaturation = .8
c1_maxSaturation = 1.0
c1_minValue = .3
c1_maxValue = .5
c1_tLimitBase = 10

c2_minHue = 0
c2_maxHue = 360
c2_minSaturation = .80
c2_maxSaturation = 1.0
c2_minValue = .6
c2_maxValue = .95
c2_tLimitBase = 15

c3_minHue = 0
c3_maxHue = 360
c3_minSaturation = .80
c3_maxSaturation = 1.0
c3_minValue = .4
c3_maxValue = .9
c3_tLimitBase = 15

[goldenx3]
c1_minHue = 38
c1_maxHue = 48
c1_minSaturation = .99
c1_maxSaturation = 1.0
c1_minValue = .99
c1_maxValue = .99
c1_tLimitBase = 15

c2_minHue = 38
c2_maxHue = 42
c2_minSaturation = .01
c2_maxSaturation = .1
c2_minValue = .1
c2_maxValue = .5
c2_tLimitBase = 15

c3_minHue = 40
c3_maxHue = 48
c3_minSaturation = .1
c3_maxSaturation = .2
c3_minValue = .1
c3_maxValue = .2
c3_tLimitBase = 15

c4_minHue = 40
c4_maxHue = 48
c4_minSaturation = .8
c4_maxSaturation = 1.0
c4_minValue = .6
c4_maxValue = .95
c4_tLimitBase = 15

[goldenx]
c1_minHue = 40
c1_maxHue = 48
c1_minSaturation = .01
c1_maxSaturation = .1
c1_minValue = .1
c1_maxValue = .4
c1_tLimitBase = 15

c2_minHue = 38
c2_maxHue = 42
c2_minSaturation = .99
c2_maxSaturation = .99
c2_minValue = .5
c2_maxValue = .9
c2_tLimitBase = 15

c3_minHue = 40
c3_maxHue = 48
c3_minSaturation = .99
c3_maxSaturation = .99
c3_minValue = .4
c3_maxValue = .8
c3_tLimitBase = 15

c4_minHue = 40
c4_maxHue = 48
c4_minSaturation = .7
c4_maxSaturation = 1.0
c4_minValue = .85
c4_maxValue = .99
c4_tLimitBase = 15

[ocean-night]
# background
c1_minHue = 200
c1_maxHue = 225
c1_minSaturation = .2
c1_maxSaturation = .3
c1_minValue = .0
c1_maxValue = .1
c1_tLimitBase = 25

c2_minHue = 200
c2_maxHue = 225
c2_minSaturation = .2
c2_maxSaturation = .5
c2_minValue = .7
c2_maxValue = 1.0
c2_tLimitBase = 25

c3_minHue = 200
c3_maxHue = 230
c3_minSaturation = .2
c3_maxSaturation = .5
c3_minValue = .8
c3_maxValue = 1.0
c3_tLimitBase = 25

[oceansky]
c1_minHue = 200
c1_maxHue = 220
c1_minSaturation = .5
c1_maxSaturation = .5
c1_minValue = .5
c1_maxValue = .9
c1_tLimitBase = 25

c2_minHue = 200
c2_maxHue = 220
c2_minSaturation = .5
c2_maxSaturation = .5
c2_minValue = 1.0
c2_maxValue = 1.1
c2_tLimitBase = 25

c3_minHue = 200
c3_maxHue = 220
c3_minSaturation = .5
c3_maxSaturation = .5
c3_minValue = .05
c3_maxValue = .1
c3_tLimitBase = 25

c4_minHue = 50
c4_maxHue = 61
c4_minSaturation = .5
c4_maxSaturation = .99
c4_minValue = .8
c4_maxValue = 1.0
c4_tLimitBase = 25

[deep]
c1_minHue = 210
c1_maxHue = 215
c1_minSaturation = .5
c1_maxSaturation = .99
c1_minValue = .6
c1_maxValue = .9
c1_tLimitBase = 10

c2_minHue = 210
c2_maxHue = 215
c2_minSaturation = .5
c2_maxSaturation = .8
c2_minValue = .1
c2_maxValue = .3
c2_tLimitBase = 15

c3_minHue = 210
c3_maxHue = 215
c3_minSaturation = .5
c3_maxSaturation = .8
c3_minValue = .1
c3_maxValue = .3
c3_tLimitBase = 15

c4_minHue = 210
c4_maxHue = 215
c4_minSaturation = .5
c4_maxSaturation = .99
c4_minValue = .1
c4_maxValue = .6
c4_tLimitBase = 15

[deep2]
c1_minHue = 210
c1_maxHue = 215
c1_minSaturation = .5
c1_maxSaturation = .99
c1_minValue = .1
c1_maxValue = .3
c1_tLimitBase = 10

c2_minHue = 210
c2_maxHue = 215
c2_minSaturation = .5
c2_maxSaturation = .8
c2_minValue = .6
c2_maxValue = .6
c2_tLimitBase = 15

c3_minHue = 210
c3_maxHue = 215
c3_minSaturation = .5
c3_maxSaturation = .8
c3_minValue = .1
c3_maxValue = .6
c3_tLimitBase = 15

c4_minHue = 210
c4_maxHue = 215
c4_minSaturation = .5
c4_maxSaturation = .99
c4_minValue = .9
c4_maxValue = 1.0
c4_tLimitBase = 15

[china]
c1_minHue = 200
c1_maxHue = 245
c1_minSaturation = .01
c1_maxSaturation = .1
c1_minValue = .6
c1_maxValue = .9
c1_tLimitBase = 25

c2_minHue = 200
c2_maxHue = 245
c2_minSaturation = .9
c2_maxSaturation = .99
c2_minValue = .3
c2_maxValue = .9
c2_tLimitBase = 25

c3_minHue = 200
c3_maxHue = 260
c3_minSaturation = .9
c3_maxSaturation = .99
c3_minValue = .3
c3_maxValue = .9
c3_tLimitBase = 25


[wildandcrazy]
c1_minHue = 0
c1_maxHue = 360
c1_minSaturation = .5
c1_maxSaturation = 1.0
c1_minValue = .4
c1_maxValue = 1.0
c1_dropHueMin = 120
c1_dropHueMax = 140
c1_tLimitBase = 10

c2_minHue = 0
c2_maxHue = 360
c2_minSaturation = .4
c2_maxSaturation = .6
c2_minValue = .4
c2_maxValue = .85
c2_dropHueMin = 120
c2_dropHueMax = 140
c2_tLimitBase = 15

c3_minHue = 0
c3_maxHue = 360
c3_minSaturation = .4
c3_maxSaturation = 1.0
c3_minValue = .4
c3_maxValue = 1.0
c3_dropHueMin = 120
c3_dropHueMax = 140
c3_tLimitBase = 15

c4_minHue = 0
c4_maxHue = 360
c4_minSaturation = .4
c4_maxSaturation = 1.0
c4_minValue = .4
c4_maxValue = 1.0
c4_dropHueMin = 120
c4_dropHueMax = 140
c4_tLimitBase = 15

[wildandcrazy2]

c1_minHue = 40
c1_maxHue = 360
c1_minSaturation = .95
c1_maxSaturation = .95
c1_minValue = .74
c1_maxValue = .75
c1_tLimitBase = 10
c1_dropHueMin = 120
c1_dropHueMax = 140

c2_minHue = 40
c2_maxHue = 360
c2_minSaturation = .94
c2_maxSaturation = .96
c2_minValue = .74
c2_maxValue = .85
c2_tLimitBase = 15
c2_dropHueMin = 120
c2_dropHueMax = 140

c3_minHue = 40
c3_maxHue = 360
c3_minSaturation = .94
c3_maxSaturation = .95
c3_minValue = .74
c3_maxValue = .75
c3_tLimitBase = 15
c3_dropHueMin = 120
c3_dropHueMax = 140

c4_minHue = 40
c4_maxHue = 360
c4_minSaturation = .94
c4_maxSaturation = .95
c4_minValue = .74
c4_maxValue = .75
c4_tLimitBase = 15
c4_dropHueMin = 120
c4_dropHueMax = 140






[t1]
c1_minHue = 0
c1_maxHue = 0
c1_minSaturation = .77
c1_maxSaturation = .77
c1_minValue = .75
c1_maxValue = .75
c1_tLimitBase = 10

c2_minHue = 0
c2_maxHue = 0
c2_minSaturation = .6
c2_maxSaturation = .6
c2_minValue = .85
c2_maxValue = .85
c2_tLimitBase = 15

c3_minHue = 0
c3_maxHue = 0
c3_minSaturation = .3
c3_maxSaturation = .3
c3_minValue = .48
c3_maxValue = .68
c3_tLimitBase = 15
[t2]
c1_minHue = 120
c1_maxHue = 120
c1_minSaturation = .77
c1_maxSaturation = .77
c1_minValue = .75
c1_maxValue = .75
c1_tLimitBase = 10

c2_minHue = 120
c2_maxHue = 120
c2_minSaturation = .6
c2_maxSaturation = .6
c2_minValue = .85
c2_maxValue = .85
c2_tLimitBase = 15

c3_minHue = 120
c3_maxHue = 120
c3_minSaturation = .3
c3_maxSaturation = .3
c3_minValue = .48
c3_maxValue = .68
c3_tLimitBase = 15
[t3]
c1_minHue = 210
c1_maxHue = 215
c1_minSaturation = .5
c1_maxSaturation = .99
c1_minValue = .6
c1_maxValue = .6
c1_tLimitBase = 10

c2_minHue = 210
c2_maxHue = 215
c2_minSaturation = .5
c2_maxSaturation = .8
c2_minValue = .1
c2_maxValue = .6
c2_tLimitBase = 15

c3_minHue = 210
c3_maxHue = 215
c3_minSaturation = .5
c3_maxSaturation = .8
c3_minValue = .1
c3_maxValue = .6
c3_tLimitBase = 15

c4_minHue = 210
c4_maxHue = 215
c4_minSaturation = .5
c4_maxSaturation = .99
c4_minValue = .1
c4_maxValue = .6
c4_tLimitBase = 15




[retrotest2]
c1_minHue = 344
c1_maxHue = 344
c1_minSaturation = .77
c1_maxSaturation = .77
c1_minValue = .75
c1_maxValue = .75
c1_tLimitBase = 10

c2_minHue = 38
c2_maxHue = 38
c2_minSaturation = .6
c2_maxSaturation = .6
c2_minValue = .85
c2_maxValue = .85
c2_tLimitBase = 15

c3_minHue = 50
c3_maxHue = 88
c3_minSaturation = .3
c3_maxSaturation = .3
c3_minValue = .48
c3_maxValue = .68
c3_tLimitBase = 15

c4_minHue = 170
c4_maxHue = 180
c4_minSaturation = .78
c4_maxSaturation = .88
c4_minValue = .48
c4_maxValue = .48
c4_tLimitBase = 15

[retrotest1]
c1_minHue = 40
c1_maxHue = 55
c1_minSaturation = .78
c1_maxSaturation = .88
c1_minValue = .7
c1_maxValue = .7
c1_tLimitBase = 10

c2_minHue = 220
c2_maxHue = 270
c2_minSaturation = .63
c2_maxSaturation = .73
c2_minValue = .7
c2_maxValue = .7
c2_tLimitBase = 15

c3_minHue = 220
c3_maxHue = 270
c3_minSaturation = .78
c3_maxSaturation = .88
c3_minValue = .48
c3_maxValue = .48
c3_tLimitBase = 15

c4_minHue = 170
c4_maxHue = 180
c4_minSaturation = .78
c4_maxSaturation = .88
c4_minValue = .48
c4_maxValue = .48
c4_tLimitBase = 15
