[displayconfig]

#work = scroller-holder
work = particles
#work = repeater
#work = propagation


rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

usePixelSort = True
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 80
pixSortboxWidth = 400
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = True


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 30
rows = 6
cols = 5


# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 192

# ---  preparing for rotation
windowWidth = 320
windowHeight = 192

canvasWidth = 320
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 5
canvasOffsetY = 3

# Window Offset
windowXOffset = 2683
windowYOffset = 169

brightness =  .95
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 192,256,384,320
remapImageBlockDestination = 0,0




#-----------------------------------------------#


[particleSystem]
numUnits = 29

xGravity = 0
yGravity = 0
ignoreBottom = False

speedMin = .5
speedMax = 2
variance = 0

objWidth = 5
objHeight = 20
#objType = rect
objType = ellipse

widthRate = 1
heightRate = 1

overallBlur = 0
unitBlur = 0

objColor = rnd
#fillColor = 240,150,0,180
fillColor = 240,40,0,180
outlineColor = 100,0,0,50

centerRangeXMin = 10
centerRangeXMax = 20
centerRangeYMin = 8
centerRangeYMax = 16

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = False

#movement = meander
movement = travel
useFlocking = True
cohesionDistance = 20
repelDistance = 2
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = True

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

#bgColor = 0,0,100,230
bgColor = 0,50,40,80

p1 = 0,30, 1,1, .8,.81
deadColor = 0,100,80,10

useOverLay = False
overlayColor = 60,100,0,100
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 128
overlayyPos = 100

objtrails = False
bgtransitions = False
fixedunitarray = True
reemitnumber = 2
bgrangea = 1,360
linearmotionalsohorizontal = True
transparencyrange = 0,255

transformShape = False
transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0




