[displayconfig]
# workList = p4
workList =p1,p2,p3,p4,p5,p6
playInOrder = False


# /dev/p4-vertical-shift-home/actionmarks/actionmarks-1_1_init_config.cfg 
# /dev/p4-vertical-shift-home/actionmarks/actionmarks-1_2_a_spare.cfg 
# /dev/p4-vertical-shift-home/actionmarks/actionmarks-1_2_b_scrim_variant.cfg 
# /dev/dev_ondeck/actionmarks-1_2_b_variant.cfg 
# /dev/dev_ondeck/actionmarks-1_2_b.cfg 
# /dev/dev_ondeck/actionmarks-1_2_c_coastal_industry.cfg

# /dev/dev_ondeck/actionmarks-1_2_b_scrim_variant_lrg.cfg 
###########################################

[p1]
work = dev/p4-vertical-shift-home/actionmarks/actionmarks-1_2_a_spare.cfg
minDuration = 200
maxDuration = 260
brightnessOverride = .6

[p2]
work = dev/p4-vertical-shift-home/actionmarks/actionmarks-1_2_a_spare.cfg
minDuration = 200
maxDuration = 260
brightnessOverride = .6

[p3]
work = dev/p4-vertical-shift-home/actionmarks/actionmarks-1_2_b_scrim_variant.cfg
minDuration = 200
maxDuration = 260
brightnessOverride = .6

[p4]
work = dev/p4-vertical-shift-home/actionmarks/actionmarks-1_2_b_variant.cfg
minDuration = 200
maxDuration = 260
brightnessOverride = .6

[p5]
work = dev/p4-vertical-shift-home/actionmarks/actionmarks-1_2_b.cfg
minDuration = 200
maxDuration = 260
brightnessOverride = .6

[p6]
work = dev/p4-vertical-shift-home/actionmarks/actionmarks-1_2_c_coastal_industry.cfg
minDuration = 200
maxDuration = 260
brightnessOverride = .6

