[displayconfig]

work = particles

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 9
cols = 9

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2562
windowYOffset = 35

brightness =  .95
minBrightness = 0


usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 196
pixSortboxWidth = 196
pixSortgap = 80
pixSortprobDraw = .9
pixSortprobGetNextColor = .05
pixSortSizeDecriment = .60
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .001
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


[particleSystem]
numUnits = 55

xGravity = 0
yGravity = -.10

ignoreBottom = True

speedMin = 4
speedMax = 35

#initial direction 3.14/2
variance = 1

objWidth = 60
objHeight = 90
objType = rect

widthRate = .8
heightRate = .9

overallBlur = 0
unitBlur = 0

objColor = set
#fire
fillColor = 5,25,200,80
outlineColor = 10,10,190,200
bgColor = 140,80,0,100


centerRangeXMin = 340
centerRangeXMax = 590

centerRangeYMin = -150
centerRangeYMax = -250

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True

reemitnumber = 4

movement = fire 
useFlocking = False
cohesionDistance = 40 
repelDistance = 1
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = 1
changeCohesion = False

trailingFade = 200
objTrails = False
linearMotionAlsoHorizontal = False
fixedUnitArray = True
transparencyRange = 80,190

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 6,10,0,10
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 128
overlayyPos = 100
#overlayColor = 88,40,0,190





