[displayconfig]

work = repeater

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 9
cols = 9

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2562
windowYOffset = 35

brightness =  1.95
minBrightness = 0


[repeater]
# Used for number of images etc
imageList = icons/ak-2tw.png
#imageList = miscl/head-2tw.png
unitCount = 13
scalingFactor = 18


# Higher the speed factor, slower the movement
speedFactor = 2
vOffset = -10
scrollSpeed = .001
displayRows = 6
displayCols = 5
useJitter =  False
useBlink = False
noTrails = True
colormode = random




