[displayconfig]
#--------------------------#

work = collage
#work = fludd
#work = quilt-triangles

rendering = hub
isRPI = False
checkForConfigChanges = True

rotation = 0
fullRotation = True
rotationTrailing = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 288
screenHeight = 98

# ---  preparing for rotation
windowWidth = 288
windowHeight = 98

canvasWidth = 288
canvasHeight = 98

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2977
windowXOffset = 2977
windowYOffset = 165

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,384,384
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0,448,512
remapImageBlockDestination2 = 0,0

useFilters = False

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 320
sectionBlurRadius = 2

useLastOverlay = True
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 96
pixSortYOffset = 0
pixSortboxHeight = 8
pixSortboxWidth = 280
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1



[collageShapes]
#--------------------------#
redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = False
variableFilterProb = .002
useVariablePixelSort = True
variablePixelProb = .001
variablePixelProbOff = .002

useTweenTriggers = False
triggers = 1

useTransitionCallBacks =  False
numberOfDeadPixels = 0


sets = set1
set1 = s0,s2,s3,s4,s5
#s4,s5,s6,s7,s8,s9,s10,s11,s12,s13
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 448,0, 448,378, 0,378
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 200
maxHue = 240
minSaturation = .0
maxSaturation = .1
minValue = .1
maxValue = .3


[s2]
position = 0,3
coords = 0,0, 440,0, 440,8, 0,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s3]
position = 0,20
coords = 0,0, 440,0, 440,8, 0,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s4]
position = 0,40
coords = 0,0, 440,0, 440,8, 0,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s5]
position = 0,52
coords = 0,0, 440,0, 440,8, 0,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99




[diag]
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,12,12
bgColor = 10,10,100
showGrid = True
fontSize = 8
