[displayconfig]
#-----------------------------------------------#
work = repeatblocks

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 8
cols = 8

# ---  Also determines the window geometry
screenWidth = 600
screenHeight = 600

# ---  preparing for rotation
windowWidth = 512
windowHeight = 512

canvasWidth = 600
canvasHeight = 600

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1200
windowYOffset = 69

brightness =  .98
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 16
pixSortboxWidth = 128
pixSortgap = 1
pixSortprobDraw = .1
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .9


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,256,16
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = -182

remapImageBlock3 = False
remapImageBlockSection3 = 0,16,256,30
remapImageBlockDestination3 = 0,16
remapImageBlockSection3Rotation = -6

remapImageBlock4 = False
remapImageBlockSection4 = 0,32,128,256
remapImageBlockDestination4 = 0, 32
remapImageBlockSection4Rotation = -180


useBlur = False
blurXOffset = 20
blurYOffset = 0
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 3

useFilters = False

forceBGSwap = False

######################################################################
[movingpattern]
######################################################################

redrawSpeed =.03


# to be nice and even, has to be even multiple of blockWidth
# if you want artifcat, then anything else ;)
lineDiff = 3
useDoubleLine = True

lineColor =5,0,2,225
bgColor = 190,10,0,60

minHue = 300
maxHue = 36
minSaturation = .5
maxSaturation = .9
minValue = .1
maxValue = .5
tLimitBase = 10

line_minHue = 0
line_maxHue = 50
line_minSaturation = .0
line_maxSaturation = .0
line_minValue = .0
line_maxValue = .0
line_tLimitBase = 15

line2_minHue = 60
line2_maxHue = 360
line2_minSaturation = .0
line2_maxSaturation = .0
line2_minValue = .5
line2_maxValue = .990
line2_tLimitBase = 15

blockWidth = 17
blockHeight = 17

cols = 14
rows = 14

# the types of pattern
# wavePattern 
# reMove -->lines move
# diagonalMove  --> block moves 
# randomizer
# runningSpiral
# concentricBoxes
# runningSpiral
# diamond
# shingles
# circles

#patterns = wavePattern,reMove,randomizer,runningSpiral,concentricBoxes,runningSpiral,diamond,shingles,circles
patterns = reMove,shingles,concentricBoxes,diamond,balls,concentricBoxes

patternModel = balls
patternModelVariations = True
patternSequence = concentricBoxes,0,0
rebuildPatternProbability = 0.02

# for the diamond pattern
diamondStep = 1
randomizeSpeed = True

# for any moving pattern: diamond, reMove
xSpeed = .25
ySpeed = .8

# for the concentric squares
numConcentricBoxes = 8

# for the randomizer
randomBlockProb = .1
randomBlockWidth = 0
randomBlockHeight = 0

# skip the rendering of any block
#skipBlocks = 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97
skipBlocks = 1000

# For the sine wave repeater
steps = 4
amplitude = 12
yOffset = 12

steps2 = 6
amplitude2 = 12
yOffset2 = 13
phaseFactor = 4
speedFactor = 1





[mockup]
#---------------------------------#
useDrawingPoints = False
programmedPath = informalGrid
drawMarkers = False
bgColor = 100,100,100,255
yOffset = 60
xOffset = 250
# ellipse paramenters
a = 90
b = 90

panels = 36
orientation = 1
angleJiggle = 3

gridCols = 6
gridRows = 7

informalGridCols = 6
informalGridRows = 6

skipPanels = 1,2,3,4,5,7,8,9,10,13,14,15,19,20,25
#6,7,10,16,17,18,20

drawingPathPoints = 0,388,90|0,322,91|0,256,90|0,190,91|0,124,89|0,60,90|20,0,45|50,0,-45|70,60,-90|70,122,-91|70,188,-91
lsys = False
lsysDrawing = d1

# - -90
# + +90
# / +45
# | -45
# > +30
# < -30
# if more than 9 spaces required
# then do  +-[x]  e.g. 9+-5  will give 14

[dx]
# figure 8 / infinity
lsysPoints = 2>1>1>1>1>1>1>1>1>1>1<1<1<1<1<1<1<1<1<1<1<1
recalculateAngles = True
yOffset = 200
xOffset = 250

[d0]
# meandering
lsysPoints = 2>2<2>2>1>1>2<2>2>1>1>1>3>1>1>1>>1
recalculateAngles = True
yOffset = 30
xOffset = 25

[d0a]
# informal gyre
lsysPoints = |1+2>>1>1>1>>1>3>1>2>1>1>1>1>1>2>2>2>1>1>4>2>1
recalculateAngles = True
xOffset = 250
yOffset = 250

[d0b]
# informal spiral
lsysPoints = |1+2>>1>1>1>>1>3>1>2>1>1>1>3>3>2>2>1>1>5>2>1
recalculateAngles = True
xOffset = 250
yOffset = 250

[d1]
#open circuit for square panels
lsysPoints = -1-2+3+3+2+1-2
recalculateAngles = False
yOffset = 360
xOffset = 250

[d1b]
#open circuit for square panels
lsysPoints = -1-2+4+5+4+1-2
recalculateAngles = False
yOffset = 360
xOffset = 250

[d1a]
#open circuit
lsysPoints = -1-2+4+5+4+2-1
recalculateAngles = False
yOffset = 360
xOffset = 250

[d2]
#incomplete circuit / window
lsysPoints = --+4-2-9-2-3
recalculateAngles = False
yOffset = 360
xOffset = 250

[d3]
#incomplete arch
lsysPoints = --+9+-1/1/1/1/4
recalculateAngles = False
xOffset = 250
yOffset = 710

[d3a]
#incomplete arch
lsysPoints = --+9+-1/1//1/4
recalculateAngles = True
xOffset = 250
yOffset = 710

[d4]
#incomplete arch
lsysPoints = --+9+-1>1>1>1>1>1>4
recalculateAngles = True
xOffset = 250
yOffset = 780


