[displayconfig]
#-----------------------------------------------#
work = movingpattern
_work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 260

# ---  preparing for rotation
windowWidth = 384
windowHeight = 260

canvasWidth = 384
canvasHeight = 590

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2657
windowYOffset = 366

brightness =  .5
minBrightness = 0

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 20
pixSortboxHeight = 4
pixSortboxWidth = 240
pixSortgap = 1
pixSortprobDraw = .1
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False
remapImageBlockSection = 40,20,78,256
remapImageBlockDestination = 40, 20
remapImageBlockSectionRotation = 0


remapImageBlock2 = True  
remapImageBlockSection2 = 0,32,384,64
remapImageBlockDestination2 =  86,32
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False  
remapImageBlockSection3 = 0,64,384,96
remapImageBlockDestination3 =  44,64
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False  
remapImageBlockSection4 =  0,128,384,160
remapImageBlockDestination4 =  5,128
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False  
remapImageBlockSection5 = 0,160,384,192
remapImageBlockDestination5 =  38,160
remapImageBlockSection5Rotation = 0



useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = True

[movingpattern]
redrawSpeed =.01


# Titian Bachus and Ariadne
# Dionysus / Ariadne Madness and Labyrinth
baseImage = assets/imgs/drawings/titian-256.png

#baseImage = assets/imgs/drawings/testimg.png
#baseImage = assets/imgs/drawings/Studio-ii_3l.jpg


scrollStep = 2
step = 5
grout = 3
scrollDirection = 0
mosaicAlpha = 50


#speed of movement
limUp = 1024
limDown = 1
dpat = 100
deltapat = .63

#speed of pattern change
dpatColor = 1.920
deltapatColor = .1

mult_a = .060
mult_b = .60
mult_c = .90
mult_d = 1.0
mult_e = 50.0
changeProb = .0



[diag]
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
