[displayconfig]
# --------------------------------------------------#
workListDirectory = studio/base-controlled/p4-224x512/
# workList = p4
workList = p5,p0,p1,p2,p3,p4
; workList =p0,p1,p2
playInOrder = True
# --------------------------------------------------#

[p0]
work = studio/base-controlled/p4-224x512/actionmarks-v3_1a-512.cfg
minDuration = 41
maxDuration = 141
brightnessOverride = 1.0


[p1]
work = studio/base-controlled/p4-224x512/informal-marks-512.cfg
minDuration = 41
maxDuration = 41
brightnessOverride = 1.0

[p2]
work = studio/base-controlled/p4-224x512/repeatblocks_7-512px.cfg
minDuration = 91
maxDuration = 101
brightnessOverride = 1.0

[p3]
work = studio/base-controlled/p4-224x512/fludd-revisit.cfg
minDuration = 41
maxDuration = 41
brightnessOverride = 1.0

[p4]
work = studio/base-controlled/p4-224x512/screen-project-revisit.cfg
minDuration = 41
maxDuration = 41
brightnessOverride = 1.0

[p5]
work = studio/base-controlled/p4-224x512/dot-grid-gradients-revisit.cfg
minDuration = 41
maxDuration = 41
brightnessOverride = 1.0








