[displayconfig]
# --------------------------------------------------#
workListDirectory = studio/base-controlled/p4-224x512/
# workList = p4
workList =p0,p1,p2
; workList =p0,p1,p2
playInOrder = False
# --------------------------------------------------#

[p0]
work = studio/base-controlled/p4-224x512/informal-marks-512-b.cfg
minDuration = 61
maxDuration = 297
brightnessOverride = .9

[p1]
work = studio/base-controlled/p4-224x512/informal-marks-512.cfg
minDuration = 61
maxDuration = 297
brightnessOverride = .9

[p2]
work = studio/base-controlled/p4-224x512/repeatblocks_7-512px.cfg
minDuration = 61
maxDuration = 297
brightnessOverride = .9








