[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 6

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

# daemon7 set up Kindling
canvasOffsetX = 4
canvasOffsetY = 2
windowXOffset = 6
windowYOffset = 35

windowXOffset = 2624
windowYOffset = 280

# ---  Window Offset
windowXOffset = 2560
windowYOffset = 25

brightness =  .59
minBrightness = 0

[diag]
fontColor = 200,0,0
outlineColor = 0,100,0




