[displayconfig]

work = image

isRPI = False
rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 36
rows = 6
cols = 6

## Also determines the window geometry
screenWidth = 192
screenHeight = 192

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 192
canvasHeight = 192

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 4

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = -1
windowYOffset = 13

# Window Offset
windowXOffset = 2560
windowYOffset = 26

[images]

i1 = flames/flames-192x192.gif
i1 = flames/flame-comp-192.gif
i1 = flames/fire-real-192.gif
i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .02

[filter]
# for rotated image, lines are width, boxWidth is height
# 160
lines = 190
boxHeight = 16
boxWidth = 190
xPos1 = 0
yPosBase = 0
targetPalette = selective
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17
targetClrs = 92,106,107,117,119,124
targetClrs = 104,91,96,104,112,104
targetClrs = 14,15,16

bgFilterProb = 0.1
imageFilterProb = .2
imageGlitchProb = .081
imageGlitchSize = 16
imageGlitchDisplacement = 10
animateProb = .91

# Color overlay / pixel color block
clrBlkWidth = 180
clrBlkHeight = 180
overlayxPos = 6
overlayyPos = 0
overlayChangeProb = .05
overlayChangePosProb = .5

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4


