[displayconfig]

work = quilt

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 48
rows = 6
cols = 8

## Also determines the window geometry
screenWidth = 256
screenHeight = 192

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 256
canvasHeight = 192

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 2560
windowYOffset = 25

[quilt]
repaintDelay = .01
numUnits = 8
blockLength = 4
blockHeight = 4
blockRows = 5
blockCols = 7
speedRange = 5
delay = .1

