[displayconfig]

work = repeater

isRPI = False
rendering = hub
rotation = 90
fullRotation = False
rotationTrailing = True
checkForConfigChanges = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 8
cols = 8

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 2566
windowYOffset = 40

brightness =  .99
minBrightness = 0


[repeater]
# Used for number of images etc
imageList = icons/ak-2tw.png
#imageList = miscl/head-2tw.png
unitCount = 33
scalingFactor = 5
# Higher the speed factor, slower the movement
speedFactor = 2
vOffset = -10
scrollSpeed = .001
displayRows = 6
displayCols = 5
useJitter =  False
useBlink = True
noTrails = True




