#--------------------- COLORS    ---------------------
[palettesIncluded]
palettes =  wildandcrazy,yellow_gray,yellow_heat,woody,goldenx2a,BathersWithTurtle,BathersWithTurtle_hili,goldenx,red_world
[yellow_gray]
# background color - esp for randomizer2, gothic1, concentricBoxes
# diamond,balls
# foreground color for shellscales, grainlines, circles, fishScales2
c1_minHue = 31
c1_maxHue = 50
c1_minSaturation = .85
c1_maxSaturation = .85
c1_minValue = .8
c1_maxValue = .99
c1_tLimitBase = 15

# color used in alternating wavePattern,waveScales, decoBoxes,gothic1,
# concentricBoxes, balls
# background color fishScales2
c2_minHue = 29
c2_maxHue = 50
c2_minSaturation = .01
c2_maxSaturation = .1
c2_minValue = .1
c2_maxValue = .4
c2_tLimitBase = 15

# background color for shellscales, alternation color 
# for decoBoxes, wavePattern, waveScales
# alt color for grainlines
c3_minHue = 29
c3_maxHue = 50
c3_minSaturation = .85
c3_maxSaturation = .95
c3_minValue = .5
c3_maxValue = .9
c3_tLimitBase = 15

# highlight color / main body color
# grainlines, concentricBoxes, diamond, balls_hili,petals
c4_minHue = 29
c4_maxHue = 50
c4_minSaturation = .85
c4_maxSaturation = .95
c4_minValue = .2
c4_maxValue = .5
c4_tLimitBase = 15

[woody]
# background color - esp for randomizer2, gothic1, concentricBoxes
# diamond,balls
# foreground color for shellscales, grainlines, circles, fishScales2
c1_minHue = 34
c1_maxHue = 44
c1_minSaturation = .5
c1_maxSaturation = .85
c1_minValue = .8
c1_maxValue = .99
c1_tLimitBase = 25

# color used in alternating wavePattern,waveScales, decoBoxes,gothic1,
# concentricBoxes, balls
# background color fishScales2
c2_minHue = 34
c2_maxHue = 44
c2_minSaturation = .35
c2_maxSaturation = .95
c2_minValue = .1
c2_maxValue = .75
c2_tLimitBase = 25

# background color for shellscales, alternation color 
# for decoBoxes, wavePattern, waveScales
# alt color for grainlines
c3_minHue = 34
c3_maxHue = 44
c3_minSaturation = .35
c3_maxSaturation = .5
c3_minValue = .5
c3_maxValue = .9
c3_tLimitBase = 25

# highlight color
# grainlines, concentricBoxes, diamond
c4_minHue = 34
c4_maxHue = 44
c4_minSaturation = .9
c4_maxSaturation = .9
c4_minValue = .2
c4_maxValue = .5
c4_tLimitBase = 25
[woody-bak]
# background color - esp for randomizer2, gothic1, concentricBoxes
# diamond,balls
# foreground color for shellscales, grainlines, circles, fishScales2
c1_minHue = 20
c1_maxHue = 40
c1_minSaturation = .5
c1_maxSaturation = .85
c1_minValue = .8
c1_maxValue = .99
c1_tLimitBase = 25

# color used in alternating wavePattern,waveScales, decoBoxes,gothic1,
# concentricBoxes, balls
# background color fishScales2
c2_minHue = 0
c2_maxHue = 40
c2_minSaturation = .35
c2_maxSaturation = .95
c2_minValue = .1
c2_maxValue = .75
c2_tLimitBase = 25

# background color for shellscales, alternation color 
# for decoBoxes, wavePattern, waveScales
# alt color for grainlines
c3_minHue = 0
c3_maxHue = 40
c3_minSaturation = .35
c3_maxSaturation = .5
c3_minValue = .5
c3_maxValue = .9
c3_tLimitBase = 25

# highlight color
# grainlines, concentricBoxes, diamond
c4_minHue = 20
c4_maxHue = 40
c4_minSaturation = .9
c4_maxSaturation = .9
c4_minValue = .2
c4_maxValue = .5
c4_tLimitBase = 25


[red_world]
# background color - esp for randomizer2, gothic1, concentricBoxes
# diamond,balls
# foreground color for shellscales, grainlines, circles, fishScales2
c1_minHue = 348
c1_maxHue = 0
c1_minSaturation = .0
c1_maxSaturation = .01
c1_minValue = .2
c1_maxValue = .3
c1_tLimitBase = 15

# color used in alternating wavePattern,waveScales, decoBoxes,gothic1,
# concentricBoxes, balls
# background color fishScales2
c2_minHue = 348
c2_maxHue = 60
c2_minSaturation = .85
c2_maxSaturation = .95
c2_minValue = .51
c2_maxValue = .95
c2_tLimitBase = 15

# background color for shellscales, alternation color 
# for decoBoxes, wavePattern, waveScales
# alt color for grainlines
c3_minHue = 348
c3_maxHue = 60
c3_minSaturation = .85
c3_maxSaturation = .95
c3_minValue = .5
c3_maxValue = .99
c3_tLimitBase = 15

# highlight color / main body color
# grainlines, concentricBoxes, diamond, balls_hili,petals
c4_minHue = 340
c4_maxHue = 60
c4_minSaturation = .8
c4_maxSaturation = .9
c4_minValue = .72
c4_maxValue = .99
c4_tLimitBase = 15
[yellow_heat]
# background color - esp for randomizer2, gothic1, concentricBoxes
# diamond,balls
# foreground color for shellscales, grainlines, circles, fishScales2
c1_minHue = 31
c1_maxHue = 50
c1_minSaturation = .85
c1_maxSaturation = .85
c1_minValue = .8
c1_maxValue = .99
c1_tLimitBase = 15

# color used in alternating wavePattern,waveScales, decoBoxes,gothic1,
# concentricBoxes, balls
# background color fishScales2
c2_minHue = 11
c2_maxHue = 50
c2_minSaturation = .85
c2_maxSaturation = .95
c2_minValue = .1
c2_maxValue = .75
c2_tLimitBase = 15

# background color for shellscales, alternation color 
# for decoBoxes, wavePattern, waveScales
# alt color for grainlines
c3_minHue = 11
c3_maxHue = 50
c3_minSaturation = .85
c3_maxSaturation = .95
c3_minValue = .5
c3_maxValue = .9
c3_tLimitBase = 15

# highlight color / main body color
# grainlines, concentricBoxes, diamond, balls_hili,petals
c4_minHue = 11
c4_maxHue = 50
c4_minSaturation = .85
c4_maxSaturation = .95
c4_minValue = .2
c4_maxValue = .5
c4_tLimitBase = 15

[goldenx2a]
c1_minHue = 38
c1_maxHue = 48
c1_minSaturation = .8
c1_maxSaturation = .99
c1_minValue = .99
c1_maxValue = .99
c1_tLimitBase = 15


# the very low saturation looks
# like a light blue-grey against 
# the yellow backgrounds
c2_minHue = 200
c2_maxHue = 210
c2_minSaturation = .05
c2_maxSaturation = .3
c2_minValue = .5
c2_maxValue = .75
c2_tLimitBase = 15

c3_minHue = 40
c3_maxHue = 48
c3_minSaturation = .1
c3_maxSaturation = .82
c3_minValue = .1
c3_maxValue = .2
c3_tLimitBase = 15

c4_minHue = 34
c4_maxHue = 40
c4_minSaturation = .7
c4_maxSaturation = 1.0
c4_minValue = .5
c4_maxValue = .99
c4_tLimitBase = 15




# -------- standby ----------------------------#

[BathersWithTurtle_hili]
; bgColorSets = (159,190,.70,.92,.45,.7,0,0)|(159,190,.80,.92,.45,.7,0,0)
; bgBoxColorSets = (12,27,.77,.97,.35,.77,0,0)|(215,218,.77,.97,.35,.87,0,0)|(159,190,.70,.92,.45,.7,0,0)
; penColorSets = (28,30,.5,.99,.95,.99,0,0)|(18,20,.65,.650,.93,.99,0,0)|(10,18,.5,.50,.95,.99,0,0)|(10,18,.25,.350,.95,.99,0,0)|(10,20,.5,.750,.25,.49,0,0)

c1_minHue = 159
c1_maxHue = 190
c1_minSaturation = .7
c1_maxSaturation = .92
c1_minValue = .45
c1_maxValue = .7
c1_tLimitBase = 25

c2_minHue = 28
c2_maxHue = 30
c2_minSaturation = .77
c2_maxSaturation = .99
c2_minValue = .35
c2_maxValue = .87
c2_tLimitBase = 25

c3_minHue = 159
c3_maxHue = 190
c3_minSaturation = .5
c3_maxSaturation = .99
c3_minValue = .45
c3_maxValue = .99
c3_tLimitBase = 25

c4_minHue = 12
c4_maxHue = 50
c4_minSaturation = .77
c4_maxSaturation = .97
c4_minValue = .35
c4_maxValue = .77
c4_tLimitBase = 25
[BathersWithTurtle]
; bgColorSets = (159,190,.70,.92,.45,.7,0,0)|(159,190,.80,.92,.45,.7,0,0)
; bgBoxColorSets = (12,27,.77,.97,.35,.77,0,0)|(215,218,.77,.97,.35,.87,0,0)|(159,190,.70,.92,.45,.7,0,0)
; penColorSets = (28,30,.5,.99,.95,.99,0,0)|(18,20,.65,.650,.93,.99,0,0)|(10,18,.5,.50,.95,.99,0,0)|(10,18,.25,.350,.95,.99,0,0)|(10,20,.5,.750,.25,.49,0,0)

# background color - esp for randomizer2, gothic1,concentricBoxes
# diamond,balls
# foreground color for shellscales,grainlines,circles,fishScales2
c2_minHue = 159
c2_maxHue = 190
c2_minSaturation = .7
c2_maxSaturation = .92
c2_minValue = .45
c2_maxValue = .7
c2_tLimitBase = 25

# color used in alternating wavePattern,waveScales, decoBoxes,gothic2,
# concentricBoxes, balls
# background color fishScales2
c1_minHue = 12
c1_maxHue = 50
c1_minSaturation = .77
c1_maxSaturation = .97
c1_minValue = .35
c1_maxValue = .77
c1_tLimitBase = 25

# background color for shellscales, alternation color 
# for decoBoxes, wavePattern, waveScales
c3_minHue = 28
c3_maxHue = 30
c3_minSaturation = .77
c3_maxSaturation = .99
c3_minValue = .35
c3_maxValue = .87
c3_tLimitBase = 25

# highlight color
# grainlines,# concentricBoxes,diamond
c4_minHue = 159
c4_maxHue = 190
c4_minSaturation = .5
c4_maxSaturation = .99
c4_minValue = .95
c4_maxValue = .99
c4_tLimitBase = 25

[goldenx3]
c1_minHue = 38
c1_maxHue = 48
c1_minSaturation = .99
c1_maxSaturation = 1.0
c1_minValue = .99
c1_maxValue = .99
c1_tLimitBase = 15

c2_minHue = 38
c2_maxHue = 42
c2_minSaturation = .01
c2_maxSaturation = .1
c2_minValue = .1
c2_maxValue = .5
c2_tLimitBase = 15

c3_minHue = 40
c3_maxHue = 48
c3_minSaturation = .1
c3_maxSaturation = .2
c3_minValue = .1
c3_maxValue = .2
c3_tLimitBase = 15

c4_minHue = 40
c4_maxHue = 48
c4_minSaturation = .8
c4_maxSaturation = 1.0
c4_minValue = .6
c4_maxValue = .95
c4_tLimitBase = 15

[goldenx]
c1_minHue = 40
c1_maxHue = 48
c1_minSaturation = .01
c1_maxSaturation = .1
c1_minValue = .1
c1_maxValue = .4
c1_tLimitBase = 15

c2_minHue = 38
c2_maxHue = 42
c2_minSaturation = .99
c2_maxSaturation = .99
c2_minValue = .5
c2_maxValue = .9
c2_tLimitBase = 15

c3_minHue = 40
c3_maxHue = 48
c3_minSaturation = .99
c3_maxSaturation = .99
c3_minValue = .4
c3_maxValue = .8
c3_tLimitBase = 15

c4_minHue = 40
c4_maxHue = 48
c4_minSaturation = .7
c4_maxSaturation = 1.0
c4_minValue = .85
c4_maxValue = .99
c4_tLimitBase = 15




[wildandcrazy]
c1_minHue = 0
c1_maxHue = 360
c1_minSaturation = .1
c1_maxSaturation = 1.0
c1_minValue = .1
c1_maxValue = 1.0
c1_dropHueMin = 120
c1_dropHueMax = 140
c1_tLimitBase = 10

c2_minHue = 0
c2_maxHue = 360
c2_minSaturation = .1
c2_maxSaturation = .6
c2_minValue = .1
c2_maxValue = .85
c2_dropHueMin = 120
c2_dropHueMax = 140
c2_tLimitBase = 15

c3_minHue = 0
c3_maxHue = 360
c3_minSaturation = .1
c3_maxSaturation = 1.0
c3_minValue = .1
c3_maxValue = 1.0
c3_dropHueMin = 120
c3_dropHueMax = 140
c3_tLimitBase = 15

c4_minHue = 0
c4_maxHue = 360
c4_minSaturation = .1
c4_maxSaturation = 1.0
c4_minValue = .4
c4_maxValue = 1.0
c4_dropHueMin = 120
c4_dropHueMax = 140
c4_tLimitBase = 15

noGrays = True

[wildandcrazy2]

c1_minHue = 40
c1_maxHue = 360
c1_minSaturation = .95
c1_maxSaturation = .95
c1_minValue = .74
c1_maxValue = .75
c1_tLimitBase = 10
c1_dropHueMin = 120
c1_dropHueMax = 140

c2_minHue = 40
c2_maxHue = 360
c2_minSaturation = .94
c2_maxSaturation = .96
c2_minValue = .74
c2_maxValue = .85
c2_tLimitBase = 15
c2_dropHueMin = 120
c2_dropHueMax = 140

c3_minHue = 40
c3_maxHue = 360
c3_minSaturation = .94
c3_maxSaturation = .95
c3_minValue = .74
c3_maxValue = .75
c3_tLimitBase = 15
c3_dropHueMin = 120
c3_dropHueMax = 140

c4_minHue = 40
c4_maxHue = 360
c4_minSaturation = .94
c4_maxSaturation = .95
c4_minValue = .74
c4_maxValue = .75
c4_tLimitBase = 15
c4_dropHueMin = 120
c4_dropHueMax = 140

