[displayconfig]
workList =p-2,p-1
playInOrder = True


###########################################

[p-1]
work = staging/tilted-ladder/hashing-marks-64x512.cfg
minDuration = 30
maxDuration = 30
brightnessOverride = 1.0


[p-2]
work = staging/tilted-ladder/repeatblocks_7_long.cfg
minDuration = 30
maxDuration = 30
brightnessOverride = 1.0