[displayconfig]
# --------------------------------------------------#
work = repeatblocks_7
; work = diagnostics
# --------------------------------------------------#

rotation = 0
fullRotation = True
rotationTrailing = False

checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 64
tileSizeWidth = 64
matrixTiles = 48
rows = 2
cols = 20

# ---  Also determines the window geometry
screenWidth = 1200
screenHeight = 256

# ---  preparing for rotation
windowWidth = 1200
windowHeight = 256

canvasWidth = 1200
canvasHeight = 256

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset

# debug position
; windowXOffset = 283
; windowYOffset = 618

# testing postion
windowXOffset = 2583
windowYOffset = 630

brightness = 1.0
minBrightness = 0


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,500,3
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 = 320,0,640,64
remapImageBlockDestination2 = 0,64
remapImageBlockSection2Rotation = 0

remapImageBlock3 = True
remapImageBlockSection3 = 576,0,896,64
remapImageBlockDestination3 = 0,128
remapImageBlockSection3Rotation = 0

remapImageBlock4 = True
remapImageBlockSection4 = 832,0,1152,64
remapImageBlockDestination4 = 0,192
remapImageBlockSection4Rotation = 0


usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 1200
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 3
pixSortDrawVariance = 1
randomColorProbabilty = .01
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0

useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = True
ditherfilterbrightness = 1.1


#---------------------------------------------------------------------
#---------------------------------------------------------------------
[movingpattern]
#---------------------------------------------------------------------
#---------------------------------------------------------------------

setupDeBug = False

# Template for other versions 02-11-2025
redrawSpeed = .033
slotrate = .03
delay = .03

canvasRotation = -0

pictureWidth = 1200
pictureHeight = 72

imgCanvasOffsetX = 0
imgCanvasOffsetY = 0

XPOSSpeed = 1.0
# YPOSSpeed = .75

#---------------------------------------------------------------------
useBlurSection = False
blurSectionWidth = 120
blurSectionHeight = 60
mask_blur_amt = 20
cp_blur_amt = 3
blurSectionXPos = 220
blurSectionYPos = 0
usePixelSortRandomize = False

# -------------------- transitions and fading in/out -------------------

fadeThroughIncrement = .005
faderProbDissolve = .2
faderFadeDoingRefreshCountIterations = 1
faderDissolveDoingRefreshCountIterations = 20
faderDoingRefreshCountIterationsStartup = 100

faderLargeBlockXSections  = 10
faderLargeBlockYSections  = 2

faderSmallBlockXSections  = 32
faderSmallBlockYSections  = 64

sectionDeltaWidth = 20
sectionDeltaHeight = 5

faderParallelBlocks = 5


#--------------------- filterRemapping  ------------------

filterRemapping = True
filterRemappingProb = .002
filterRemapMinHoriSize = 128
filterRemapMaxHoriSize = 256
filterRemapMinVertSize = 3
filterRemapMaxVertSize = 48
filterRemapRangeX = 1000
filterRemapRangeY = 64

contractXSpeed = 20
contractYSpeed = 20
expandXSpeed = 50
expandYSpeed = 20


#--------------------- DISTURBANCES  ---------------------
sectionDisturbance = True
disturbancesConfigs = staging/tilted-ladder/disturbances_2.cfg
disturbanceConfigSets = light-medium
# disturbanceConfigSets = medium-heavy-horiz-bias
; disturbanceConfigSets = medium-heavy
# disturbanceConfigSets = minimal

changeDisturbanceSetProb = .25
stableSectionsMin = 2
stableSectionsMax = 3
stableSectionsMinWidth = 200
stableSectionsMinHeight = 24


#--------- WAVE DISTORTIONS ------------------
useWaveDistortion = True
waveAmplitude = 20
waveAmplitudeMin = -20
wavePeriodMod = 5
wavegridspace = 30
pNoiseMod = 10
waveDeformXPosRate = .001
waveAmplitudeSpeed = .0001
# waveAmplitudeSpeed = .0002

#--------- Transform       ------------------
transformShape = False
# width skew
# vertical sheer
# haorizontal ,vertical perspective
# transformTuples = 1.0, 1.0, .0, -.0,  1.50, 2.0, 0.0, 0.002
# transformTuples = .9, .0, .0, -.0,  1.0, .91, 0.001, 0.001
transformTuples = 1.20, 0, 1.0, -.0, 1, 0.10, 0.005, 0.000


#--------------------- PATTERNS  ---------------------

# dimensions of each pattern block
blockSizeChangeProb = .5
blockSizeChangeAlwaysUseMax = False
blockWidthMin = 48
blockWidthMax = 64

#--------------------- PATTERN CHANGE   ---------------------
# higher = more variation in patterns
# e.g. .2 is 20% chance each new block will change to a
# new pattern
patternChangeWhenBuilding = .05

# ***********  IMPORTANT **********************************
# rate the patterns change - if lower, then the distortions
# are more complete - checked each cycle so
# .001 roughly is a 3% chance every second
rebuildPatternProbability = 0.0004

# when the rebuildPattern function is called :
# the probability the whole pattern sequence is rebuilt
rebuildAllSlotsProb = .001

# the probility that random slots are used vs groups of
# sequential slots 
chanceRebuildPatternChoosesRandom = .20

# if random slots are changed, the probablility each one 
# gets selected 
rebuildIndividualSlotProb = .9

# when making a list of slots to change, the probability
# it skips for a while then starts adding again
rebuildSlotSkipRate = .1
rebuildSlotStartSkipRate = .05
# ***********  IMPORTANT **********************************

# checked every cycle, does combination set change?
# changeCombinationAnytimeProb = .00008
changeCombinationAnytimeProb = .99

# checked every cycle after fading done, does palette change?
; changePaletteAnytimeProb = .0002

# ***********  IMPORTANT **********************************

# does a rebuild of a new palette if combo changes
changePaletteWhenRebuildProb = .25

# after a new palette is chosen, does it force an pattern rebuild
probPatternsRebuildAfterNewPalette = .99

# chance that when the palette changes, it pulls
# a whole new palette from the available list
# lower means more uniform palette
changeFullPaletteWhenChangingPatternProb = 0.50

# when updating all the blocks with the new palette,
# chance that each one accepts the change
changeEachblockWhenChangingPatternProb = 0.950

patternModelVariations = True
drawbgcolorEachCycle = True


# chance that the palette will draw a new color
# from the active palette when the pattern changes
# lower means more uniform palette
# a zero value prevents any palette mixing
changePaletteWhenChangingPatternProb = 0.0


#--- individual pattern parameters  ---------------------
# forces the patterns to align to a certain rotation
# useful instead of rotation the whole piece etc
patternOrientation = 180

# increases density of pattern for diamonds, balls, shingles
numRows = 2
numDotRows = 3
numRowsRandomize = False
numShingleRows = 2

shingleVariation = True
shingleVariationRange = 6

# to be nice and even, has to be even multiple of blockWidth
# if you want artifact, then anything else ;)
lineDiff = 2
useDoubleLine = True

# decobox controls
decoboxbandwidth = 3

#waveScales controls
linesOnly = False
numScaleRows = 4
ringsRange = 10,18
stepsRange = 2,3

# for the diamond pattern
diamondStep = 1
randomizeSpeed = True

# for any moving pattern: diamond, reMove
xSpeed = .8
ySpeed = .1

# for the concentric squares
# careful with this, too many over the
# blockWidth will cause an issue....
minnumConcentricBoxes = 2
maxnumConcentricBoxes = 16

# for the randomizer
randomBlockProb = .99
randomBlockWidth = 0
randomBlockHeight = 0

# For the sine wave repeater
steps = 2
amplitude = 9
yOffset = 12

steps2 = 2
amplitude2 = 9
yOffset2 = 13
phaseFactor = 4
speedFactor = 1



#--------------------- COLORS   ---------------------
# palettesConfigFile = asset_configs/colors/colors.cfg
palettesConfigFile = staging/tilted-ladder/colors.cfg
bgColorAlpha = 100,250
altColoringProb = .5
popRandomColorProb = .8



#--------------------- IAMGES  ---------------------
#imageSources = ./assets/imgs/drawings/P1060494.jpg,./assets/imgs/miscl/comp-448.jpg,./assets/imgs/miscl/lm_a.png
# imageSources = ./assets/imgs/miscl/ptg_burn_320.jpg,./assets/imgs/miscl/config_screenshot.png,./assets/imgs/miscl/config_screenshot_2.png
imageSources = /Users/lamshell/Documents/Dev/LEDELI/RPI/assets/imgs/miscl/wp_tiles_2b.jpg
#imageSources = ./assets/imgs/miscl/config_screenshot.png,./assets/imgs/miscl/config_screenshot_2.png
outPutPath = /Users/lamshell/Dropbox/studio/In Progress & Working Images/GEN IMAGES/bending_output/
loadAnImageProb = 0.0
saveImages = False

usePolygonOverlay = True
useOverlayTileGrid = True
poly_tlimitbase = 100
poly_tlimit = 100
poly_steps = 5
poly_minHue = 200
poly_maxHue = 220
poly_minSaturation = .2
poly_maxSaturation = .5
poly_minValue = .2
poly_maxValue = .2
poly_alpha = 255
polyBaseVals = 0,0|100,0|100,100|0,100|0,0
tileOverlayGridProb = .25
polyOverlayChangeProb = .001


#--------------------- COMBINATIONS  ---------------------
# problem --  when choosing some palettes or patterns need to exclude certain 
# combinations as they don't work out so well
# so when choosing a palette then choosing a pattern, check the exclusion list
# and vis a versa
# not using logcabin as is not flat enough
# patterns = circlesPacked,logcabin,logcabinAlt2,logcabinAlt1

#---------------------#---------------------#---------------------
# Current List of Available Patterns 2025-10-6
#---------------------#---------------------#---------------------
# fishScales3
# fishScales2
# fishScales
# gothic1
# gothic2
# balls
# balls_hili
# compass
# compass_hili
# randomizer
# randomizer2
# randomizer3
# randomizer4
# wavePattern
# logcabin
# logcabinAlt1
# logcabinAlt2
# ropePattern
# wavePattern2
# runningSpiral
# chainLinks
# circlesPacked
# shingles
# shellScales
# ellipses
# waveScales
# circles
# tripart
# bars
# peaceCross
# fiboSeq
# logcabin
# littleCones
# coloredBlocks
# concentricBoxes
# decoBoxes
# diamond
# diagonalMove
# reMove
# grainLines
# colorGrid
# colorGridTriangles
# floralConfig
# petals
# circles,

# ----------------------------------------------------------- #
# ----------------------------------------------------------- #
combinationSets =  organics,coastals,organics_in_red
; combinationSets =  organics,coastals

# ----------------------------------------------------------- #
# ----------------------------------------------------------- #

# ----------------------------------------------------------- #
[organics_in_red]
patterns =  balls_hili,balls,petals,gothic1,randomizer3,grainLines,colorGrid

; palettes =  wildandcrazy
palettes =  red_world

dominantPatterns = petals
# ,colorGrid
dominantPatternProb = .5
# Border Controls
borderPattern = petals
useBorderPattern = False
altColoringProb = .5
popRandomColorProb = .1
patternsInBands = True
usePolygonOverlay = False
tileOverlayGridProb = .5
# overlay subtract_modulo soft_light lighter
polyOverlayMode = overlay
; combinationSetsMinTime = 10
combinationSetsMaxTime = 35
maxNumberOfRandomizers = 2

redoSectionDisturbance = .3

# ----------------------------------------------------------- #
[organics]
patterns =  balls_hili,balls,petals,gothic1,randomizer4,grainLines,colorGrid

; palettes =  wildandcrazy
palettes =  woody,
            woody,
            BathersWithTurtle_hili,
            BathersWithTurtle_hili,
            goldenx,
            goldenx,
            yellow_heat,
            yellow_heat,
            yellow_gray,
            yellow_gray,
            wildandcrazy,
            goldenx2a,
            goldenx2a


dominantPatterns = petals
# ,colorGrid
dominantPatternProb = .5
# Border Controls
borderPattern = petals
useBorderPattern = False
altColoringProb = .5
popRandomColorProb = .1
patternsInBands = True
usePolygonOverlay = False
tileOverlayGridProb = .5
# overlay subtract_modulo soft_light lighter
polyOverlayMode = overlay
; combinationSetsMinTime = 10
combinationSetsMaxTime = 35
maxNumberOfRandomizers = 2

redoSectionDisturbance = .3
# ----------------------------------------------------------- #
[coastals]
patterns =  waveScales,randomizer4,
            fishScales,
            fishScales2,
            fishScales3,petals,petals,
            wavePattern2,compass

; palettes = wildandcrazy            
palettes =  yellow_heat,
            yellow_gray,
            woody,
            BathersWithTurtle_hili,
            goldenx2a,
            goldenx,
            goldenx,
            yellow_heat,
            yellow_gray,
            wildandcrazy,
            woody,
            BathersWithTurtle,
            goldenx2a

dominantPatterns = colorGridTriangles
# ,colorGrid
dominantPatternProb = .0
# Border Controls
borderPattern = petals
useBorderPattern = False
altColoringProb = .5
popRandomColorProb = .1
patternsInBands = True
usePolygonOverlay = False
tileOverlayGridProb = .5
# overlay subtract_modulo soft_light lighter
polyOverlayMode = overlay
; combinationSetsMinTime = 10
combinationSetsMaxTime = 35
maxNumberOfRandomizers = 2

redoSectionDisturbance = .3







# ----------------------------------------------------------- #
# ----------------------------------------------------------- #
[geometries]
patterns =  tripart,shingles,randomizer4,
            decoBoxes,
            decoBoxes,
            reMove,
            diamond,
            compass
            

; palettes = wildandcrazy
palettes =  yellow_heat,
            yellow_gray,
            woody,
            BathersWithTurtle_hili,
            goldenx2a,
            yellow_heat,
            yellow_gray,
            wildandcrazy,
            BathersWithTurtle,
            goldenx2a

dominantPatterns = colorGridTriangles
# ,colorGrid
dominantPatternProb = .0
# Border Controls
borderPattern = petals
useBorderPattern = False
altColoringProb = .5
popRandomColorProb = .1
patternsInBands = True
usePolygonOverlay = False
tileOverlayGridProb = .5
# overlay subtract_modulo soft_light lighter
polyOverlayMode = "overlay"
combinationSetsMinTime = 30
combinationSetsMaxTime = 37
maxNumberOfRandomizers = 4

# ----------------------------------------------------------- #
[thebarn]
patterns =  chainLinks,randomizer4,
            ropePattern,
            grainLines,compass

; palettes = wildandcrazy
palettes =  yellow_heat,
            yellow_gray,
            woody,
            BathersWithTurtle_hili,
            goldenx2a,
            yellow_heat,
            yellow_gray,
            wildandcrazy,
            woody,
            BathersWithTurtle,
            goldenx2a

dominantPatterns = colorGridTriangles
# ,colorGrid
dominantPatternProb = .0
# Border Controls
borderPattern = petals
useBorderPattern = False
altColoringProb = .5
popRandomColorProb = .1
patternsInBands = True
usePolygonOverlay = False
tileOverlayGridProb = .5
# overlay subtract_modulo soft_light lighter
polyOverlayMode = "overlay"
combinationSetsMinTime = 30
combinationSetsMaxTime = 37
maxNumberOfRandomizers = 2




# ----------------------------------------------------------- #




[imageSequencePlayer]
useClipPlayer = True
clipXPos = 100
clipYPos = 100
clipRotate = 90
imageDirectory = ../video-python/result/
# delay = .02
# slotRate = .03
frameCount = 1072
useOverLay = True
overlayColor = 160,0,200,10
coloroverlayalpha = 200
clrBlkWidth = 100
clrBlkHeight = 100
overlayxPos = 0
overlayyPos = 0
overlayChangeProb = .05
overlayChangePosProb = .01
overlayChangeSizeProb = .01
randomPauseProb = .01
randomUnPauseProb = .01
videoWidth = 320
videoHeight = 240
clipWidth = 160
clipHeight = 110
maskBoxWidth = 64
maskBoxHeight = 32
maskBoxX = 10
maskBoxY = 0



[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,255,255
bgColor = 0,0,255
showGrid = True
fontSize = 9

brightness = .2
outerColor = 10,0,255
innerColor = 255,40,0
borderColor = 10,0,0