[displayconfig]

work = signage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 9
cols = 9

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2562
windowYOffset = 35

brightness =  .95
minBrightness = 0


usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 196
pixSortboxWidth = 196
pixSortgap = 80
pixSortprobDraw = .9
pixSortprobGetNextColor = .05
pixSortSizeDecriment = .60
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .001
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

[marquee]
fontSize = 11
sansSerif = True
shadowSize = 2
steps = 2
vOffset = -18

redrawSpeed = .02
marqueeNum = 10
marqueeWidth = 16
gap = 0
step = 2
decrement = 1
randomRange = 200.0

[signage]
fontColor = 100,0,0
outlineColor = 0,0,100
showGrid = True
coordinatedColorChange = True
timeTrigger = True
tLimitBase = 30
redrawDelay = .01

unhideRate = .5
rehideRate = .05

imageGlitchSize = 5
fullimageGiltchRate = .01

useOverLayImage = True
overLayImage = /assets/imgs/miscl/bursts.png
overlayBrightness = .3
overLayXPos = 100
overLayYPos = 428
overlayGlitchSize = 2
overlayGlitchRate = .01
overlayResetRate = .015




