[displayconfig]

work = scroller-holder
#work = diagnostics

rendering = hub
rotation = 2
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 16
cols = 12

# ---  Also determines the window geometry
screenWidth = 512
screenHeight = 512

# ---  preparing for rotation
windowWidth = 512
windowHeight = 512

canvasWidth = 512
canvasHeight = 512

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2595
windowYOffset = 327

brightness =  .7
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,256,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0


remapImageBlock2 = True
remapImageBlockSection2 = 192,0,384,32
remapImageBlockDestination2 = 0, 64
remapImageBlockSection2Rotation = 0

remapImageBlock3 = True
remapImageBlockSection3 = 192,32,384,64
remapImageBlockDestination3 = 0, 96
remapImageBlockSection3Rotation = 0


[scroller]
#-----------------------------------------------#
useOverLayImage = False
useArrows = False
useImages = True
useTransparentImages = False
useBackground = True
useText = False
useAltText = False


altDirectionScrolling = True
alwaysRandomPatternColor = True
alwaysRandomPattern = False
changeProb = 0.001
useUltraSlowSpeed = True

patternSpeed = 1
textSpeed = 1
arrowSpeed = -3
imageSpeed = -4

redrawSpeed = .02

xOffset = -5
yOffset = -0

displayRows = 15
displayCols = 5

#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 50
textVOffest = -12
shadowSize = 1

msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY
msg3 = 1234567890

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .002

patternRows = 2
patternCols = 240
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .71
pattern = diamonds

lineThickness = 2
arrowCols = 16
# This actually is not working  ;(
bgBackGroundColor = 0,0,0,190
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20

fg_minHue = 0
fg_maxHue = 44
fg_minSaturation = .99
fg_maxSaturation = .99
fg_minValue = .5
fg_maxValue = .8

bg_minHue = 350
bg_maxHue = 20
bg_minSaturation = .99
bg_maxSaturation = .99
bg_minValue = .2
bg_maxValue = .9


# for some reason with this piece I do not like 
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
fg_drophueminvalue = 0
fg_drophuemaxvalue = 0

backgroundColorChangeProb = .5

# contorls the fading timing
useFadeThruAnimation = False
doingRefreshCount = 2


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 8
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
imageBlockImage = /assets/imgs/sks/skull-s4d.png
# Spacing...
imageBlockBuffer = 40
imageBlockRemakeProb = .1


[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
