[displayconfig]

# work = diagnostics
work = signage

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False

tileSizeHeight = 32
tileSizeWidth = 64

matrixTiles = 32
rows = 10
cols = 6

screenWidth = 400
screenHeight = 192

# ---  preparing for rotation
windowWidth = 400
windowHeight = 192

canvasWidth = 400
canvasHeight = 192

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
# windowXOffset = 2711
windowYOffset = 60


remapImageBlock = False  
remapImageBlockSection = 0,0,384,256
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 320,0,384,32
remapImageBlockDestination2 = 256,32
remapimageblocksection2rotation = 0

remapImageBlock3 = False  
remapImageBlockSection3 = 0,96,100,128
remapImageBlockDestination3 = 288,48


brightness =  .99
minBrightness = 0



useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 400
blurSectionHeight = 192
sectionBlurRadius = 1

useFilters = False


usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = -1
pixSortboxHeight = 1
pixSortboxWidth = 320
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = .1
pixSortProbDecriment = .1
pixSortSizeDecriment = .1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .02
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = .1

[signage]
#------------------------------------------------#

redrawDelay = .02

tileSizeHeight = 15
tileSizeWidth = 29

rows = 3
cols = 15

gridSpacing = 3
magingSpacing = 3

fontColor = 0,0,0
outlineColor = 0,0,0

showGrid = True
showText = False
showOutline = False
randomRotation = True
coordinatedColorChange = False
timeTrigger = True
tLimitBase = 20
steps = 300

unhideRate = 0.001
rehideRate = 0.001

imageGlitchSize = 5
fullimageGiltchRate = .0002

useOverLayImage = False
overLayImage = /assets/imgs/miscl/mac-cursor.png
overlayBrightness = .3
overLayXPos = 100
overLayYPos = 5
overlayGlitchSize = 1
overlayGlitchRate = .001
overlayResetRate = .000000015

useEdgeSeedColors = True
edgeSeedColorsVisible = True
edgeSeedColorsVisibleChangeProb = .1
bgalpha = 216


## If this is set to 1, then
## will use the range for the whole set 
palettesToUse = p10,p9,p8,p7,p6,p5,p4,p3,p2,p1
# p10,p9,p8,p7,p6,p5,
paletteChangeProb = .002
choosePaletteForEachTile = False

p1 = 190,210, .1,.3, .8,.99
p2 = 190,210, .0,.1, .5,.99
p3 = 36,45, .1,.3, .5,.99
p4 = 36,45, .1,0.3, .5,.99
p5 = 36,45, .1,0.3, .5,.99
p6 = 36,45, .1,0.3, .5,.99
p7 = 36,45, .1,0.3, .5,.99
p8 = 36,45, .1,1.0, .7,.99
p9 = 36,45, .9,1.0, .7,.99
p10 = 36,45, .9,1.0, .7,.99

## selective exclusion of color range
## set both to zero to turn off
dropHueMin = 0
dropHueMax = 0




#----------------------------------------------------#
[diag]
#----------------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,0
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0