[displayconfig]

work = scroller-holder

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = True

checkForConfigChanges = True
doFullReloadOnChange = True


useFilters = False
tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 8
cols = 3

ditherBlurRadius = 30
ditherUnsharpMaskPercent = 30

# ---  Also determines the window geometry
screenWidth = 600
screenHeight = 40

# ---  preparing for rotation
windowWidth = 600
windowHeight = 40

canvasWidth = 600
canvasHeight = 40

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2977
windowXOffset = 2583
windowYOffset = 60


brightness =  .80
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,64,10
remapImageBlockDestination = 0,126

[scroller]
#-----------------------------------------------#

useOverLayImage = False
useArrows = False
useImages = False
useTransparentImages = False
useBackground = True
useText = True
useAltText = False

textSpeed = -1
arrowSpeed = -3
imageSpeed = -2

redrawSpeed = .01
delay = .03

changeprobreleasefactor = .1
usefadethruanimation = False

pauseProb = 0.0

bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .9
bg_maxSaturation = .9
bg_minValue = .1
bg_maxValue = .1

fg_minHue = 180
fg_maxHue = 280
fg_minSaturation = .7
fg_maxSaturation = .99
fg_minValue = .1
fg_maxValue = .1

xOffset = 0
yOffset = 0

displayRows = 1
displayCols = 3

doingRefreshCount = 80

patternSpeed = 1
patternRows = 20
patternCols = 200
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .80
# lines or diamonds bricks pluses regularLines
pattern = regularLines

bgBackGroundColor = 80,0,50,90

minHue = 0
maxHue = 40
minSaturation = .8
maxSaturation = 1.0
minValue = .7
maxValue = .7
tlimitbase = 15


altDirectionScrolling = True
alwaysRandomPatternColor = True
alwaysRandomPattern = False
changeProb = 0.001
useUltraSlowSpeed = True



#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 40
textVOffest = -4
shadowSize = 2


# msg1 = START1 RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY END1
# msg2 = START2 LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY END2
msg1 = swimming in the flickering dust
msg2 = floating in the fog that lifts you
msg3 = 1234567890

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .2



lineThickness = 2
arrowCols = 10
# This actually is not working  ;(
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 8
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
imageBlockImage = /assets/imgs/sks/skull-s4d.png
# Spacing...
imageBlockBuffer = 40
imageBlockRemakeProb = .1

