[displayconfig]

# work = diagnostics
work = particles

rendering = hub
# changed to -90 from 90
rotation = -90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False
# changed to True
useFilters = True

tileSizeHeight = 40
tileSizeWidth = 80
matrixTiles = 32
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 240
screenHeight = 240

# ---  preparing for rotation
windowWidth = 240
windowHeight = 240

canvasWidth = 240
canvasHeight = 240

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 2


windowXOffset = 2661
windowYOffset = 61


# changed to 1.1 from.95
brightness =  1.0
minBrightness = 0

usePixelSort = False 
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0 
pixSortYOffset = 0
pixSortboxHeight = 196
pixSortboxWidth = 196
pixSortgap = 80
pixSortprobDraw = .09
pixSortprobGetNextColor = .05
pixSortSizeDecriment = .60
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


# added this
## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,10,10
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0


#----------------------------------------------------#
[diag]
#----------------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,0
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0




[particleSystem]
#-------------------------------------------#
numUnits = 190

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = 2
speedMax = 7

# Added these new params
meanderFactor = 10
meanderFactor2 = 10
meanderDirection = 0
onedirection = False
xWind = 0
torqueDelta = 0
torqueRate = 0
restartprob = .001
particleWinkOutXMin = 1
particleWinkOutYMin = 1

#initial direction 3.14/2
variance = 1

objWidth = 50
objHeight = 60
objType = rect
objTrails = False

widthRate = .952
heightRate = .97

overallBlur = 1
unitBlur = 0

objColor = fixed
fillColor = 140,125,8,35
outlineColor = 200,10,40,250
# changed this to make it a bit darker like original
bgColor = 100,0,10,50

# added this because the first one didn't have sparks
# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapminHoriSize = 160
filterRemapminVertSize = 160
filterremaprangex = 240
filterremaprangey = 240

bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****

# orig vals
# centerRangeXMin = 30
# centerRangeXMax = 320
# centerRangeYMin = -150
# centerRangeYMax = 200
centerRangeXMin = 50
centerRangeXMax = 200
centerRangeYMin = 90
centerRangeYMax = 140

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False

useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

useOverLay = False
overlayColor = 160,0,200,10
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190

