[displayconfig]
#----------------------------------------------------#
work = spritesheet
# work = diagnostics
isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 64
rows = 4
cols = 12

# ---  Also determines the window geometry
screenWidth = 512
screenHeight = 128

# ---  preparing for rotation
windowWidth = 512
windowHeight = 128

canvasWidth = 512
canvasHeight = 128

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2997
#windowYOffset = 330

# Window Offset
# windowXOffset = 2583
# windowXOffset = 2583 + 192 + 10
windowXOffset = 2785
# windowYOffset = 60 + 128 + 60
windowYOffset = 60


remapImageBlock = False  
remapImageBlockSection = 0,0,128,256
remapImageBlockDestination = 0,0

remapImageBlock2 = True  
remapImageBlockSection2 = 0,64,256,96
remapImageBlockDestination2 = 0,32

remapImageBlock3 = True  
remapImageBlockSection3 = 256,64,512,96
remapImageBlockDestination3 = 0,0

remapImageBlock4 = False  
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64

brightness =  1.0
minBrightness = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = True
_ditherFilterBrightness = .95


#----------------------------------------------------#
[images]
#----------------------------------------------------#

# i1 = assets/imgs/flames/candle_384-Sheet.png
# i1 = assets/imgs/flames/fire-real-256-sheet-223-frames.png
i1 = assets/imgs/flames/fire-real-256-sheet-223-frames-b.png
# i1 = /assets/imgs/miscl/comp-384b.png

# Number of individual animation units
numberOfCells = 4
randomPlacement = False
# the spritesheet frame dimensions
frameWidth = 128
frameHeight = 128
totalFrames = 233
frameCols = 16
frameRows = 14

# slice parameters
sliceWidthMin = 100
sliceWidth = 128
sliceHeightMin = 100
sliceHeight = 128
step = 1
fixedPosition = True

# controls speed 2 is generally very smooth
animSpeedMin = 2
animSpeedMax = 2

# the animation is drawn onto a buffered image 
# that can be resized
animationWidth = 512
animationHeight = 96
resizeAnimationtoFit = True

# rotates each animation unit
animationRotation = 90
# random +/- range
animationRotationJitter = 0
# if this is non-zero, will rotate each unit
# in random +/- range
animationRotationRateRange = 0
# compensates for rotation if needed
animationXOffset = -0
animationYOffset = 64

randomPlacemnetXRange = 40
randomPlacemnetYRange = 40

# probability that any one unit changes parameters and position
changeAnimProb = .001
# chance that animations all pause
pauseProb = .02
# chance that unimations resume
unPauseProb = .005
# chance that the glitching pauses
freezeGlitchProb = .03
# chance that the glitching resumes
unFreezeGlitchProb = .06

# glitch displacement parameters 
# random from 1 to these values
imageGlitchDisplacementHorizontal = 20
imageGlitchDisplacementVertical = 30

# chance the pixelsort lines appear
pixelSortProbOn = .005
pixelSortProbOff = .015

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .02
filterRemapminHoriSize = 224
filterRemapminVertSize = 64

filterRemapRangeX = 256
filterRemapRangeY = 64

# background color HSV ranges
bg_minHue = 190
bg_maxHue = 190
bg_minSaturation = 0.95
bg_maxSaturation = 0.95
bg_minValue = .1
bg_maxValue = .5
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 10

# chance that the background changes
backgroundColorChangeProb = .01

# the delay between cycles
playSpeed = .02






#----------------------------------------------------#
[images_]
#----------------------------------------------------#
#i1 = assets/imgs/flames/fire-real-256-sheet-223-frames.png
i1 = /assets/imgs/flames/candle-Sheet.png
i2 =


numberOfCells = 300
frameWidth = 24
frameHeight = 26
totalFrames = 11
frameCols = 4
frameRows = 3
sliceWidthMin = 10
sliceHeightMin = 14
sliceWidth = 24
sliceHeight = 26
step = 1
fixedPosition = False

animSpeedMin = 1
animSpeedMax = 4

animationRotation = 90
animationRotationJitter = 10
animationRotationRateRange = 0
# compensates for rotation if needed
animationXOffset = -0
animationYOffset = -0

changeAnimProb = .001
pauseProb = .02
unPauseProb = .01
freezeGlitchProb = .03
unFreezeGlitchProb = .06

imageGlitchDisplacementHorizontal = 20
imageGlitchDisplacementVertical = 30

pixelSortProbOn = .005
pixelSortProbOff = .015

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .02
filterRemapminHoriSize = 224
filterRemapminVertSize = 236

filterRemapRangeX = 160
filterRemapRangeY = 256

bg_minHue = 200
bg_maxHue = 250
bg_minSaturation = 0.5
bg_maxSaturation = 0.5
bg_minValue = .1
bg_maxValue = .3
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
bg_alpha = 150

backgroundColorChangeProb = .01

playSpeed = .02




#----------------------------------------------------#
[images-fixedpos]
#----------------------------------------------------#
# Fixed position playing sprite sheet animation
# example
#i1 = assets/imgs/flames/fire-real-256-sheet-223-frames.png
#i1 = assets/imgs/flames/candle_384-Sheet.png
i1 = assets/imgs/flames/fire-real-256-sheet-223-frames-b.png

numberOfCells = 1
frameWidth = 128
frameHeight = 128
totalFrames = 233
frameCols = 16
frameRows = 14
sliceWidthMin = 128
sliceHeightMin = 128
sliceWidth = 128
sliceHeight = 128
step = 1
fixedPosition = True

animSpeedMin = 2
animSpeedMax = 2

animationRotation = 90
animationRotationJitter = 0
animationRotationRateRange = 0
# compensates for rotation if needed
animationXOffset = 0
animationYOffset = 0

changeAnimProb = .00
pauseProb = .0
unPauseProb = .005

imageGlitchDisplacementHorizontal = 0
imageGlitchDisplacementVertical = 0

pixelSortProbOn = .00
pixelSortProbOff = .015

# moves the dither sparkle around
filterRemapping = False
filterRemappingProb = .0
filterRemapminHoriSize = 224
filterRemapminVertSize = 236

filterRemapRangeX = 160
filterRemapRangeY = 256

bg_minHue = 190
bg_maxHue = 220
bg_minSaturation = 0.5
bg_maxSaturation = 0.5
bg_minValue = .1
bg_maxValue = .3
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
bg_alpha = 250

backgroundColorChangeProb = .01
playSpeed = .02





#----------------------------------------------------#
[images--larger]
#----------------------------------------------------#
# Fixed position playing sprite sheet animation
# example
#i1 = assets/imgs/flames/fire-real-256-sheet-223-frames.png
#i1 = assets/imgs/flames/candle_384-Sheet.png
i1 = assets/imgs/flames/fire-real-256-256-sheet-223-frames-b.png

numberOfCells = 1
frameWidth = 128
frameHeight = 256
totalFrames = 233
frameCols = 16
frameRows = 14
sliceWidthMin = 128
sliceHeightMin = 256
sliceWidth = 128
sliceHeight = 256
step = 1
fixedPosition = True

animSpeedMin = 2
animSpeedMax = 2

animationRotation = 90
animationRotationJitter = 0
animationRotationRateRange = 0
# compensates for rotation if needed
animationXOffset = 120
animationYOffset = -128

changeAnimProb = .00
pauseProb = .0
unPauseProb = .005
freezeGlitchProb = .03
unFreezeGlitchProb = .06

imageGlitchDisplacementHorizontal = 0
imageGlitchDisplacementVertical = 0

pixelSortProbOn = .00
pixelSortProbOff = .015

# moves the dither sparkle around
filterRemapping = False
filterRemappingProb = .0
filterRemapminHoriSize = 224
filterRemapminVertSize = 236

filterRemapRangeX = 160
filterRemapRangeY = 256

bg_minHue = 190
bg_maxHue = 220
bg_minSaturation = 0.5
bg_maxSaturation = 0.5
bg_minValue = .1
bg_maxValue = .3
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
bg_alpha = 250

backgroundColorChangeProb = .01
playSpeed = .02




#----------------------------------------------------#
[diag]
#----------------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,0
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

