[displayconfig]

workListDirectory = __active/

workList =p1,p2

playInOrder = False

rotation =  0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 256


imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 261
windowYOffset = 373


# restartScript = cntrlscripts/restart_industrial_incandescent_sequencer.sh

# commadStringPyth = python3 /home/daemon40/Documents/RPI/player.py -path /home/daemon40/Documents/RPI -mname studio -cfg
commadStringPyth = python3 /Users/lamshell/Documents/Dev/LEDELI/RPI/player.py -path /Users/lamshell/Documents/Dev/LEDELI/RPI/ -mname studio -cfg
repeatCountTrigger = 300


###########################################

[p1]
work = p4-tower-interrupted-collage.cfg
minDuration = 15
maxDuration = 15
#brightnessOverride = 1.1

[p2]
work = p4-tower-interrupted-composition.cfg
minDuration = 15
maxDuration = 15
#brightnessOverride = 1.1








