[displayconfig]

work = compositions2
# work = diagnostics

rendering = hub
# for 240 tower ...
rotation = -0
# rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True


usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 120
pixSortYOffset = 0
pixSortboxHeight = 356
pixSortboxWidth = 8
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .8
pixSortSizeDecriment =  .22
pixSortProbDecriment = 1.0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0.007
brightnessVarLow = .2
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
cols = 4
rows = 11

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 352

# ---  preparing for rotation
windowWidth = 256
windowHeight = 352

canvasWidth = 256
canvasHeight = 352

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset

windowXOffset = 3031
# windowXOffset = 1850
windowYOffset = 60


brightness =  1.02
minBrightness = 0


useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 3

useFilters = True
ditherfilterbrightness = .9

remapImageBlock = False
remapImageBlockSection = 0,0,256,448
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 =  0,64,256,448
remapImageBlockDestination2 = 7,64
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 =  0,0,256,448
remapImageBlockDestination3 = 0,0





[compositions]
#---------------------------------#
# Framerate
delay = .04
slotRate = .04
redrawSpeed = .02


canvasImageWidth = 256
canvasImageHeight = 448

refreshCount = 400
timeToComplete = 20
cleanSlateProbability = .8

filterPatchProb = .25

# initial bgColor if set
# bgColor = 255,5,2,200

#background Color Controls
minHue = 0
maxHue = 360
minSaturation = .8
maxSaturation = 1.0
minValue = .5
maxValue = .5
dropHueMin = 15
dropHueMax = 30

bgColorTransparency = 10

# insetGroumd i.e. the inset background
# currently set so always tied to bottom
# i.e. y points are greater than height of
# the canvas - sometimes a crack happens
# of course
inset_coords = 15,15, 240,15, 240,448, 15,448
inset_varX = 10
inset_varY = 10
insetRotate = False


useInsetColorControls = False
inset_minHue = 220
inset_maxHue = 260
inset_minSaturation = .5
inset_maxSaturation = .99
inset_minValue = .99
inset_maxValue = .99
inset_dropHueMin = 0
inset_dropHueMax = 0

insetMaxTransparency = 255

numSquarePairs = 3




[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

