[displayconfig]
#----------------------------------------------------#
work = spritesheet2
# work = diagnostics
isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 64
rows = 4
cols = 12

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 128

# ---  preparing for rotation
windowWidth = 128
windowHeight = 128

canvasWidth = 128
canvasHeight = 128

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2997
#windowYOffset = 330

# Window Offset
# windowXOffset = 2583
# windowXOffset = 2583 + 192 + 10
windowXOffset = 2775
windowYOffset = 60


remapImageBlock = False  
remapImageBlockSection = 0,0,128,128
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,64,128,96
remapImageBlockDestination2 = 0,32

remapImageBlock3 = False  
remapImageBlockSection3 = 128,64,512,96
remapImageBlockDestination3 = 0,0

remapImageBlock4 = False  
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64

brightness =  1.0
minBrightness = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 128
blurSectionHeight = 128
sectionBlurRadius = 1

useFilters = True
_ditherFilterBrightness = .95

outPutPath = /Users/lamshell/Library/CloudStorage/Dropbox/studio/Digital Works + Archive/GEN IMAGES/gengen/
saveToFile = No
timeToTakeInterval = 15

[base-parameters]
# chance the pixelsort lines appear
pixelSortProbOn = .005
pixelSortProbOff = .015

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .004
filterRemapminHoriSize = 192
filterRemapminVertSize = 128

filterRemapRangeX = 192
filterRemapRangeY = 192


# the delay between cycles
playSpeed = .02

animations = a-1
playTimes = 40,40,40
playInOrder = False

drawMoire = True
drawMoireProb = .001
drawMoireProbOff = .01



#----------------------------------------------------#
[a-1]
i1 = assets/imgs/icons/come_in_transparent.png
#----------------------------------------------------#

# Number of individual animation units
numberOfCells = 7

randomPlacement = True
# the spritesheet frame dimensions
frameWidth = 320
frameHeight = 320
totalFrames = 16
frameCols = 4
frameRows = 4

# slice parameters
sliceWidthMin = 320
sliceWidth = 320
sliceHeightMin = 320
sliceHeight = 320
step = 1
fixedPosition = True

# controls speed 2 is generally very smooth
animSpeedMin = 10
animSpeedMax = 10

# the animation is drawn onto a buffered image 
# that can be resized
animationWidth = 128
animationHeight = 128
resizeAnimationtoFit = True

# rotates each animation unit
animationRotation = 0
# random +/- range
animationRotationJitter = 3
# if this is non-zero, will rotate each unit
# in random +/- range
animationRotationRateRange = 0
# compensates for rotation if needed
animationXOffset = -5
animationYOffset = -5

randomPlacemnetXRange = 0
randomPlacemnetYRange = 0

# probability that any one unit changes parameters and position
changeAnimProb = .009
# chance that animations all pause
pauseProb = .003
# chance that unimations resume
unPauseProb = .005
# chance that the glitching pauses
freezeGlitchProb = .01
# chance that the glitching resumes
unFreezeGlitchProb = .06

# glitch displacement parameters 
# random from 1 to these values
imageGlitchDisplacementHorizontal = 2
imageGlitchDisplacementVertical = 3


# background color HSV ranges
bg_minHue = 350
bg_maxHue = 15
bg_minSaturation = 0.99
bg_maxSaturation = 0.99
bg_minValue = .8
bg_maxValue = .9
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 100

# chance that the background changes
backgroundColorChangeProb = .01


#----------------------------------------------------#
[diag]
#----------------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,0
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

