[displayconfig]
workListDirectory = dev/
# workList = p4
; workList =p0-1
workList = p0-1,p0-4
playInOrder = True

###########################################

[p0-1]
work = studio/p3-askew-tower-with-mike-ballou/p3-askew-tower-with-mike-ballou-informal-lines.cfg
minDuration = 120
maxDuration = 130
brightnessOverride = 1.0

[p0-3]
work = studio/p3-askew-tower-with-mike-ballou/p3-askew-tower-with-mike-ballou-barblocks.cfg
minDuration = 120
maxDuration = 130
brightnessOverride = 1.0

[p0-4]
work = studio/p3-askew-tower-with-mike-ballou/p3-askew-tower-with-mike-ballou-hashingmarks.cfg
minDuration = 120
maxDuration = 140
brightnessOverride = 1.0