[displayconfig]

work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 288
screenHeight = 64

# ---  preparing for rotation
windowWidth = 288
windowHeight = 64

canvasWidth = 288
canvasHeight = 64

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

imageXOffset = 0
imageYOffset = 0

# Window Offset
windowXOffset = 2977
windowYOffset = 165

brightness =  .9
minBrightness = 0

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 16
sectionBlurRadius = 4

remapImageBlock = False
remapImageBlockSection = 0,0,16,16
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0,16,16
remapImageBlockDestination2 = 0,0


useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 52
pixSortYOffset = 320
pixSortboxHeight = 8
pixSortboxWidth = 448
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1





[diag]
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9






[collageShapes]
#--------------------------#
redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = False
variableFilterProb = .002
useVariablePixelSort = False
variablePixelProb = .001
variablePixelProbOff = .002

useTweenTriggers = False
triggers = 1

useTransitionCallBacks =  False
numberOfDeadPixels = 0


sets = set1
set1 = s0,s2,s3,s4
#sets = s5,s6,s7,s8
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 288,0, 288,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 330
maxHue = 340
minSaturation = .95
maxSaturation = .95
minValue = .5
maxValue = .5

[s4]
position = 96,0
coords = 0,0, 4,0, 4,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 330
maxHue = 340
minSaturation = .9
maxSaturation = .95
minValue = .5
maxValue = .5

[s2]
position = 128,0
coords = 0,0, 64,0, 64,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99


[s3]
position = 64,0
coords = 0,0, 32,0, 32,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99



# INVERSE.....

[s5]
position = 0,0
coords = 0,0, 288,0, 288,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 30
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .6
maxValue = .8

[s6]
position = 128,0
coords = 0,0, 64,0, 64,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 200
maxHue = 240
minSaturation = .9
maxSaturation = .9
minValue = .1
maxValue = .2


[s7]
position = 64,0
coords = 0,0, 32,0, 32,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 200
maxHue = 240
minSaturation = .9
maxSaturation = .9
minValue = .1
maxValue = .2

[s8]
position = 96,0
coords = 0,0, 4,0, 4,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 200
maxHue = 240
minSaturation = .0
maxSaturation = .1
minValue = .1
maxValue = .2

