[displayconfig]

#work = pattern
#work = stroop2
#work = quilt-triangles
work = lines

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 5
cols = 5

# ---  Also determines the window geometry
screenWidth = 460
screenHeight = 260

# ---  preparing for rotation
windowWidth = 460
windowHeight = 260

canvasWidth = 460
canvasHeight = 260

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1267
windowYOffset = 40

brightness =  1.0
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 138,0,280,192
remapImageBlockDestination = 138,28


remapImageBlock2 = False
remapImageBlockSection2 = 126,0,190,320
remapImageBlockDestination2 = 126,-7

usePixelSort = False 
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 256
pixSortgap = 0
pixSortprobDraw = .9
pixSortprobGetNextColor = .05
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 4
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 4


[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14

[lines]
#-----------------------------------------------#

delay = .01
base = 10.0
rows = 100
cols = 100

widthmultiplier = 1
bgcolor = 0,00,0,10

# number of points to remove from test array when limit is reached
trim = 3
# number of points drawn before line is allowed to branch after tip crosses another point
trimLimit = 10
# chance the branch happens when the tip meets another line
branchProb = 1.0
# chance the branching happens at the tip of drawing line
branchAtTipProb = 0.0
#chance the branch does 2
doubleBranchProb = 1.0
# rate of curvature range
angleIncrementMin= 100
angleIncrementMax = 300

activeLineInterceptLimit = 5000
# Total Lines drawn
lineCountLimit = 300
segmentLength = 9.5
branchCountLimit = 6
simultaneousLines = 7
initWidth = 7



