[displayconfig]

work = repeater

isRPI = False
rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 12
cols = 4

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 260

# ---  preparing for rotation
windowWidth = 260
windowHeight = 260

canvasWidth = 260
canvasHeight = 260

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 0
canvasOffsetY = 2

# Window Offset
windowXOffset = 2690
windowYOffset = 50

imageXOffset = 131
imageYOffset = 0

remapImageBlock = True
remapImageBlockSection = 128,128,260,192
remapImageBlockDestination = 0,64


[repeater]
# Used for number of images etc
#imageList = miscl/head-2tw.png
#imageList = icons/ak-2tw.png
imageList = icons/test-img.png

unitCount = 23
scalingFactor = 4
# Higher the speed factor, slower the movement
speedFactor = 6
vOffset = -10
scrollSpeed = .005
displayRows = 6
displayCols = 5
useJitter =  False
useBlink = True
noTrails = True
colormode = random




