[displayconfig]
# --------------------------------------------------#
work = squares
; work = fludd
; work = repeater
; work = dicefactory
;work = diagnostics
; work = stroop2
# --------------------------------------------------#
# --------------------------------------------------#

rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 16
rows = 4
cols = 4

# ---  Also determines the window geometry
screenWidth = 576
screenHeight = 256

# ---  preparing for rotation
windowWidth = 576
windowHeight = 256

canvasWidth = 576
canvasHeight = 256

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2647
windowYOffset = 118


brightness =  .995
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 128,0,194,128
remapImageBlockDestination = 128,4

remapImageBlock2 = False
remapImageBlockSection2 = 16,0,64,128
remapImageBlockDestination2 = 16,12

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 188
pixSortboxHeight = 4
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


useBlur  = False
blurXOffset = 0
blurYOffset = 64
blurSectionWidth = 384
blurSectionHeight = 64
sectionBlurRadius = 4


[fludd]
#-----------------------------------------------#
# prism or plenum
# prism is all colors all at once, = no color
# plenum is all white, = all color = no color
borderModel = prism

# nothing or void 
# nothing is white nothing with nothing border implied
# void is black nothing implied
nothing = void
figureCols = 2
figureRows = 1
var = 17
# varianceMode = symmetrical, asymmetrical, independent
varianceMode = independent

refreshRate = .02
initialAnimationRate = .03

# probability that the border will change
# in conjunction with animation rate controls
# how often the border really changes
borderChangeProb = .8

# if demoMode == 0, no rotation of variants
# demoMode > 0 is seconds/variant
figureChangeTime = 10
figureChangeOnlyColor = False

# Affects the way the implied edges fade
# lower is smoother, but maybe less interesting
blackOpacity = 15
bgOpacity = 20

# The probablility that the gray level
# will change - note checked every cycle
# so if redraw speed is .01 1/100 of a second
# and prob = .02 the probablity that it will
# change is .02/.01 x100 = 20% per second
nothingChangeProbability = .005
blacknessChangeProbability = 0






[repeater]
#-----------------------------------------------#
# Used for number of images etc
#imageList = miscl/head-2tw.png
#imageList = icons/ak-2tw.png
#imageList = icons/test-img.png
imageList = icons/test-img.png


unitCount = 16
scalingFactor = 4
# Higher the speed factor, slower the movement
speedFactor = 30
vOffset = -10
scrollSpeed = .01
displayRows = 6
displayCols = 5
useJitter =  False
useBlink = True
noTrails = True
colormode = random
kaleidescopiceffect = True
k_rotations = 4
k_angle = 90
pauseprob = .0000000





[squares]
#-----------------------------------------------#
forceHoldDivision = -1
lineWidth = 1
countLimit = 2
pulseSpeed = .02
pasteDelay = .06
mode = cols



[dicefactory]
#-----------------------------------------------#
forceHoldDivision = -1
lineWidth = 1
countLimit = 2
pulseSpeed = .09
pasteDelay = .03
mode = cols

rows = 11
cols = 16
b = 0
w = 32
dibit = 4
reDrawProb = .009985
reRollProb = .51
deltaLim = .1
alwaysRedrawAfterReRoll = True
allChange = True



[pattern]
#-----------------------------------------------#

delay = .02
base = 2.5
rows = 18
cols = 18
patternXOffset = -6

minHue = 0
maxHue = 360
minSaturation = .5
maxSaturation = .95
minValue = .25
maxValue = .59
maxBrightness = .59


[stroop]
#-----------------------------------------------#
fontSize = 84
vOffset = -10
scrollSpeed = .03
stroopSpeed = .02
speedMultiplier = 2
revealSpeedMin = 1
revealSpeedMax = 3
stroopSteps = 2
shadowSize = 2
stroopFontSize = 30
useColorFlicker = 0
highervariability = True
verticalBg =  False
displayRows = 6
displayCols = 6
simulBlocks = 3
## options are reveal, revealmove, move
movementMode = reveal
moveProbability = .15
colorProbabilityReturn = .08
colorProbability = .015


[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14







