[displayconfig]

work = counterscroll

#----------------------------------------------

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 40
rows = 2
cols = 20

## Also determines the window geometry
#----------------------------------------------
screenWidth = 640
screenHeight = 64

canvasWidth = 640
canvasHeight = 64

brightness =  .95
minBrightness = .6

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 256
windowYOffset = 29

#For direct to HAT
#----------------------------------------------
actualScreenWidth = 1280
transwiring = True


[scroll]
useXOs = True
useArrows = True

usingEmoties = False
counterScrollText = True
directionOrder = RIGHT-LEFT
scrollSpeed = .004
bgColor = 20,0,30
colorMode = randomColor
colorOverlay = True
#colorMode = getRandomRGB
#colorMode = getRandomColorWheel

useBlanks = False
useThreeD = True

txt1 = RIGHTY TIGHTY
txt2 = LEFTY LOOSEY
#txtfile = ./assets/files/lines.txt

fontSize = 90
sansSerif = True
shadowSize = 2
steps = 2
vOffset = -18

useColorFlicker = True
noTrails = True
displayRows = 1
displayCols = 5



