[displayconfig]

_work = sparkles
work = vornoi_particles

isRPI = False
rendering = hub
rotation = 180
fullRotation = True
rotationTrailing = False

checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 8
rows = 8
cols = 6

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 192

# ---  preparing for rotation
windowWidth = 256
windowHeight = 192

canvasWidth = 256
canvasHeight = 192


# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
windowYOffset = 147


brightness =  .995
minBrightness = 0

#work = squares
#rotation = 0
#screenWidth = 320
#screenHeight = 192
#canvasWidth = 320
#canvasHeight = 192


useFilters = False

remapImageBlock = False
remapImageBlockSection = 0,0,640,384
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0


remapImageBlock2 = False
remapImageBlockSection2 = 0,220,160,256
remapImageBlockDestination2 = 1,220
remapImageBlockSection2Rotation = 1


[particles]

minParticles = 164
maxParticles = 164

speedFactorMin = .1
speedFactorMax = 1

initXRangeMin = 100
initXRangeMax = 100
initYRangeMin = 100
initYRangeMax = 100

systemRotation = 100

fadeRate = 90
fadeRateDelta = 1.0
sparkleProb = .001
fadeRateNewSystemThreshold = 2.0
orbitProb = .99

particleResetProb = .0001
totalResetProb = .25

rBase = 20
gBase = 14
bBase = 10

rBase2 = 30
gBase2 = 24
bBase2 = 2

rDiff = 5
gDiff = 1
bDiff = 5

bgColorSets = bg_a,bg_b,bg_c,bg_a

[bg_a]
bgColor = 1,1,2

[bg_b]
bgColor = 70,50,0

[bg_c]
bgColor = 1,1,60




[squares]
lineWidth = 1
countLimit = 12
pulseSpeed = .09
mode = cols

