[displayconfig]

work = fills

rendering = hub
isRPI = False
checkForConfigChanges = True

rotation = 0
fullRotation = True
rotationTrailing = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 12
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 256

# ---  preparing for rotation
windowWidth = 192
windowHeight = 256

canvasWidth = 192
canvasHeight = 256

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2977
windowXOffset = 1977
windowYOffset = 165

brightness = .8
minBrightness = .5


usefilters = False


[fills]
redrawRate = .01

## Equiv to cols if pieces is on side
FillRows = 48
## Equiv to rows if pieces is on side
FillCols = 48

# Saturation
saturation = .9
# Value, Brightness, Lightness, Luma
value = .6
# Color, Hue
hueBase = 50

rangeOfSpread = 30
#x100
rateOfChange = 5,30
vignette = True
crossbar = False
blurLevel = 0
# black/grey level of vignette
vval = 10