[displayconfig]

work = particles
#work=diagnostics
rendering = hub
rotation = -180
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 32
rows = 16
cols = 16

## Also determines the window geometry
screenWidth = 384
screenHeight = 128

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 384
canvasHeight = 128

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2722
windowYOffset = 550

brightness =  .8
minBrightness = 0


remapImageBlock = False
remapImageBlockSection = 0,0,256,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 = 192,0,384,32
remapImageBlockDestination2 = 0, 64
remapImageBlockSection2Rotation = 0

remapImageBlock3 = True
remapImageBlockSection3 = 192,32,384,64
remapImageBlockDestination3 = 0, 96
remapImageBlockSection3Rotation = 0



usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 512
pixSortboxWidth = 512
pixSortgap = 4
pixSortprobDraw = .2
pixSortprobGetNextColor = .1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 224
blurSectionHeight = 224
sectionBlurRadius = 5

forceBGSwap = True

useFilters = False




[particleSystem]
#-------------------------------------------#
numUnits = 1000

xGravity = 0
yGravity = 0
xWind = 0
torquedelta = 0

ignoreBottom = False

speedMin = 3
speedMax = 20

oneDirection = True
meanderDirection = 1

#initial direction 3.14/2
variance = 1

objWidth = 20
objHeight = 14
objType = ellipse
objTrails = False

widthRate = .982
heightRate = .967
particlewinkoutxmin = 0
particlewinkoutymin = 0

overallBlur = 3
unitBlur = 0

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 250
restartProb = .0001

# moves the dither sparkle around
filterRemapping = False
filterRemappingProb = .08
filterRemapminHoriSize = 224
filterRemapminVertSize = 236

filterRemapRangeX = 160
filterRemapRangeY = 256

objColor = fixed
#fillColor = 240,125,8,35
#outlineColor = 200,10,40,250
#bgColor = 60,0,4,50
#extraOutlineColor = 0,70,25,100

## reversed B-G colors
# actually a more interesting pink flame
fillColor = 240,8,125,135
outlineColor = 200,40,10,250
extraOutlineColor = 0,2,170,200
bgColor = 60,4,0,150


bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****
centerRangeXMin = 120
centerRangeXMax = 0

centerRangeYMin = -60
centerRangeYMax = 40



damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
meandorfactor = 3
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
trailingFade = 200

useOverLay = False
overlayColor = 160,0,200,10
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190


[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9


[particleVals-2]
fillColor = 14,180,1,10
outlineColor = 14,180,1,205 
bgColor = 14,180,1,20


[particleVals-1]
fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20
