[displayconfig]

work = particles
#work=diagnostics


isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True
doFullReloadOnChange = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 64
rows = 16
cols = 6

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 224

# ---  preparing for rotation
windowWidth = 384
windowHeight = 224

canvasWidth = 384
canvasHeight = 224

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3


# Window Offset
windowXOffset = 2607
windowYOffset = 0


brightness =  1.0
minBrightness = 0


remapImageBlock = False
remapImageBlockSection = 0,0,256,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False
remapImageBlockSection2 = 0,0,256,128
remapImageBlockDestination2 = 0, 128
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 128,0,256,128
remapImageBlockDestination3 = 256, 0
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False
remapImageBlockSection4 = 128,0,256,128
remapImageBlockDestination4 = 256, 128
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = False
_ditherFilterBrightness = .95


usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 60
pixSortboxHeight = 4
pixSortboxWidth = 384
pixSortgap = 40
pixSortprobDraw = .05
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .1
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0





[particleSystem]
#-------------------------------------------#
numUnits = 200

xGravity = 0
yGravity = 0
xWind = 0
torquedelta = 0

ignoreBottom = False

speedMin = 1
speedMax = 10

oneDirection = True
meanderDirection = 1

#initial direction 3.14/2
variance = 1

objWidth = 200
objHeight = 100
objType = ellipse
objTrails = False

widthRate = 1.001
heightRate = 1.001
particlewinkoutxmin = 0
particlewinkoutymin = 0

overallBlur = 3
unitBlur = 0

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 550
restartProb = .0001

# moves the dither sparkle around
filterRemapping = False
filterRemappingProb = .08
filterRemapminHoriSize = 224
filterRemapminVertSize = 236

filterRemapRangeX = 160
filterRemapRangeY = 256

objColor = fixed
#fillColor = 240,125,8,35
#outlineColor = 200,10,40,250
#bgColor = 60,0,4,50
#extraOutlineColor = 0,70,25,100

## reversed B-G colors
# actually a more interesting pink flame
fillColor = 10,8,125,35
outlineColor = 30,240,240,250
extraOutlineColor = 0,2,170,200
bgColor = 20,40,100,150


bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****
centerRangeXMin = 130
centerRangeXMax = -10

centerRangeYMin = 10
centerRangeYMax = 220

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 1
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
meanderFactor = 6.0
meanderFactor2 = 90.0

linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
trailingFade = 200

useOverLay = True
overlayColor = 160,0,200,10
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190


[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9


[particleVals-2]
fillColor = 14,180,1,10
outlineColor = 14,180,1,205 
bgColor = 14,180,1,20


[particleVals-1]
fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20
