[displayconfig]

work = rolling_distortion
#work=diagnostics


isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 64
rows = 16
cols = 6

# ---  Also determines the window geometry
screenWidth = 640
screenHeight = 240

# ---  preparing for rotation
windowWidth = 320
windowHeight = 240

canvasWidth = 640
canvasHeight = 64

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = -20


# Window Offset
windowXOffset = 2607
windowYOffset = 147


brightness =  1.0
minBrightness = 0


remapImageBlock = False
remapImageBlockSection = 0,0,640,240
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True  
remapImageBlockSection2 = 320,32, 640,96
remapImageBlockDestination2 = 0,32
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 128,0,256,128
remapImageBlockDestination3 = 256, 0
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False
remapImageBlockSection4 = 128,0,256,128
remapImageBlockDestination4 = 256, 128
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = False
_ditherFilterBrightness = .95


usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 60
pixSortboxHeight = 4
pixSortboxWidth = 384
pixSortgap = 40
pixSortprobDraw = .05
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .1
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0




[distortion]
#-------------------------------------------#

imageAsset = ./assets/imgs/bgs/stripes3.jpg
xPos = 0
yPos = 0
scrollSpeed = .150
xNoiseFactor = 10
yNoiseFactor = 1

period = 5.0
amplitude = 20.0
gridSpace = 10


[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9



