[displayconfig]

work = clouds

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 384

# ---  preparing for rotation
windowWidth = 384
windowHeight = 384

canvasWidth = 384
canvasHeight = 384

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 2

# Window Offset
windowXOffset = 2723
windowYOffset = 456

brightness =  .5
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,256,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0


remapImageBlock2 = True
remapImageBlockSection2 = 192,96,384,128
remapImageBlockDestination2 = 0, 160
remapImageBlockSection2Rotation = 0

remapImageBlock3 = True
remapImageBlockSection3 = 192,128,384,160
remapImageBlockDestination3 = 0, 192
remapImageBlockSection3Rotation = 0


## These are the full black-out boxes that seem to
## trap the viewer 
remapImageBlock4 = False
remapImageBlockSection4 = 384,0,452,31
remapImageBlockDestination4 = 128, 32
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0


usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = -1
pixSortboxHeight = 1
pixSortboxWidth = 384
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .51
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


useBlur = True
blurXOffset = 0
blurYOffset = 10
blurSectionWidth = 384
blurSectionHeight = 210
sectionBlurRadius = 4

useFilters = False

forceBGSwap = False



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0




[clouds]
#-----------------------------------------------#

directionOrder = RIGHT-LEFT
useBlanks = False

# number of greadient steps - higher is more crude
steps = 10
vOffset = -0

rings = 30
# rows of bands
rowsShown = 12
rowHeight = 32

unitBlockSize = 92

## the bands
heightMin =  8
heightMax =  36

# angle each gradient unit is rotated 
angle = 0
probDraw = .002
probDrawChange = .051
blackProb = .001

#this affects the overall visual speed
fadeInRefreshCount = 120


alpha1 = 0
alpha2 = 100
whiteColor = 190,190,170
#skyColor = 5,20,140,2
_skyColor = 2,20,110,2
skyColor = 120,20,60,2

# rate of time delay between cycles
redrawRate = .02

debug = False



