[displayconfig]
#-----------------------------------------------#
work = collage

rendering = hub
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = True

rotation = 0
fullRotation = True
rotationTrailing = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 16
cols = 8

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 128

# ---  preparing for rotation
windowWidth = 192
windowHeight = 128

canvasWidth = 192
canvasHeight = 128

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset


#windowXOffset = 2595
3windowYOffset = 358


# Window Offset
windowXOffset = 131
windowYOffset = 145

brightness =  .95
minBrightness = 0

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 60
pixSortYOffset = 0
pixSortboxHeight = 128
pixSortboxWidth = 3
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 2

useFilters = False

remapImageBlock = False
remapImageBlockSection = 0,0,64,64
remapImageBlockDestination = 0,0

useLastOverlay = True


[productionvalues]
#--------------------------#
changeBoxProb = .005
transitionStepsMin = 140
transitionStepsMax = 254
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

forcelastoverlay = True
uselastoverlayprob = .01
lastoverlaybox = 0,0,1,1
lastoverlayfill = 100,0,0,100
lastOverLayColorRange = 0, 210, 0.0, .9, 0.0, .3, 40,180


useVariableFilter = True
variableFilterProb = .002

useVariablePixelSort = True
variablePixelProb = .004
variablePixelProbOff = .2


useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s1a,s2a,s3a,s4a,s5a,s6a,s7a,s8a,s9a,s10a
#,s8,s9
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 256,0, 256,256, 0,256
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .0
maxSaturation = .4
minValue = .02
maxValue = .4

#-------------#

[s1]
position = 2,3
coords = 0,0, 0,58, 6,58, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 0.3
minValue = .8
maxValue = .99


[s2]
position = 22,3
coords = 0,0, 0,58, 6,58, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.0
maxSaturation = 0.1
minValue = .5
maxValue = .99

[s3]
position = 42,3
coords = 0,0, 0,58, 6,58, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[s4]
position = 62,3
coords = 0,0, 0,58, 6,58, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[s5]
position = 82,3
coords = 0,0, 0,58, 6,58, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[s6]
position = 102,3
coords = 0,0, 0,58, 6,58, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[s7]
position = 122,3
coords = 0,0, 0,58, 6,58, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99


[s8]
position = 142,3
coords = 0,0, 0,58, 6,58, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .7
maxValue = .99

[s9]
position = 162,3
coords = 0,0, 0,58, 6,58, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99


[s10]
position = 182,3
coords = 0,0, 0,58, 6,58, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99





[s1a]
position = 2,67
coords = 0,0, 0,59, 6,59, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 0.3
minValue = .8
maxValue = .99


[s2a]
position = 22,67
coords = 0,0, 0,59, 6,59, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.0
maxSaturation = 0.1
minValue = .5
maxValue = .99

[s3a]
position = 42,67
coords = 0,0, 0,59, 6,59, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[s4a]
position = 62,67
coords = 0,0, 0,59, 6,59, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[s5a]
position = 82,67
coords = 0,0, 0,59, 6,59, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[s6a]
position = 102,67
coords = 0,0, 0,59, 6,59, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[s7a]
position = 122,67
coords = 0,0, 0,59, 6,59, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99


[s8a]
position = 142,67
coords = 0,0, 0,59, 6,59, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .7
maxValue = .99

[s9a]
position = 162,67
coords = 0,0, 0,59, 6,59, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99


[s10a]
position = 182,67
coords = 0,0, 0,59, 6,59, 6,0
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99





[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0










