[displayconfig]
#-----------------------------------------------#
#work = diagnostics
#work = collage
work = scroller-holder-simple

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = False
isRPI = False

tileSizeHeight = 40
tileSizeWidth = 80
matrixTiles = 24
rows = 4
cols = 7

# ---  Also determines the window geometry
screenWidth = 480
screenHeight = 80

# ---  preparing for rotation
windowWidth = 480
windowHeight = 80

canvasWidth = 480
canvasHeight = 80


# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2595
windowYOffset = 359


brightness = .925
minBrightness = 0


usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 2
pixSortboxWidth = 20
pixSortgap = 0
pixSortprobDraw = .81
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = .9


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 400
blurSectionHeight = 80
sectionBlurRadius = 1

useFilters = False


remapImageBlock = False
remapImageBlockSection = 0, 0, 480, 160
remapImageBlockDestination = 0, 0

remapImageBlock2 = True
remapImageBlockSection2 = 240, 0, 480, 40
remapImageBlockDestination2 = 0, 40
remapImageBlockSection2Rotation = 0


useLastOverlay = False
useLastOverlayProb = .01



[scroller]
#-----------------------------------------------#

# for pattern scrolling
redrawSpeed = .02
useUltraSlowSpeed = False

displayRows = 2
displayCols = 1

patternSpeed = 1

#
patternRows = 1
patternCols = 5

# when randomizing the pattern remake, set limits
minPatternRows = 1
minPatternCols = 2

maxPatternRows = 8
maxPatternCols = 6

patternRowChangeProb = .5
patternColChangeProb = .5

patternHeight = 40

patternDrawProb = .50
minDrawProb = .1
maxDrawProb = .6


# lines or diamonds bricks pluses regularLines
pattern = regularLines
alwaysRandomPattern = True
altDirectionScrolling = True
alwaysRandomPatternColor = True

pauseProb = 0.0

bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .9
bg_maxSaturation = .9
bg_minValue = .5
bg_maxValue = .5

fg_minHue = 0
fg_maxHue = 360
fg_minSaturation = .7
fg_maxSaturation = .99
fg_minValue = .1
fg_maxValue = .8


# for some reason with this piece I do not like
bg_dropHueMinValue = 50
bg_dropHueMaxValue = 160
fg_drophueminvalue = 0
fg_drophuemaxvalue = 0

backgroundColorChangeProb = .5


# color combination - dependent palettes
redGreenSwapProb = 0
redBlueSwapProb = .0002
greenBlueSwapProb = 0


[scroller-bird]
#-----------------------------------------------#

# for pattern scrolling
redrawSpeed = .01
useUltraSlowSpeed = False

displayRows = 2
displayCols = 1

patternSpeed = 1.0

#
patternRows = 16
patternCols = 800

# when randomizing the pattern remake, set limits
minPatternCols = 200
maxPatternCols = 800

minPatternRows = 20
maxPatternRows = 32

patternHeight = 40

patternDrawProb = .50
minDrawProb = .1
maxDrawProb = .6


# lines or diamonds bricks pluses regularLines
pattern = regularLines
alwaysRandomPattern = True
altDirectionScrolling = True
alwaysRandomPatternColor = True

pauseProb = 0.0

fg_minHue = 36
fg_maxHue = 44
fg_minSaturation = .99
fg_maxSaturation = .99
fg_minValue = .4
fg_maxValue = .9

bg_minHue = 350
bg_maxHue = 20
bg_minSaturation = .99
bg_maxSaturation = .99
bg_minValue = .1
bg_maxValue = .4


# for some reason with this piece I do not like
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
fg_drophueminvalue = 0
fg_drophuemaxvalue = 0

backgroundColorChangeProb = .5


# color combination - dependent palettes
redGreenSwapProb = 0
redBlueSwapProb = .00
greenBlueSwapProb = 0


[diag]
#-----------------------------------------------#
fontColor = 0, 100, 90
outlineColor = 205, 0, 100
fontColor2 = 90, 100, 0
bgColor = 0, 0, 100
showGrid = True
fontSize = 14

brightness = .8
outerColor = 0, 0, 100
innerColor = 30, 40, 0
borderColor = 0, 0, 0


[productionvalues]
#--------------------------#
changeBoxProb = .005
transitionStepsMin = 140
transitionStepsMax = 254
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = False
useVariablePixelSort = True
variablePixelProb = .001
variableFilterProb = .002

useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0, s1, s1a, s1b, s3

# ,s2

# ,s2a,s3
# ,s6,s7,s8,s9
#--------------------------#

[s0]
position = 0, 0
coords = 0, 0, 448, 0, 448, 448, 0, 448
varX = 2
varY = 3
fixedCenterColor = 0, 0, 0, 240
usedFixedCenterColor = False
minHue = 20
maxHue = 30
minSaturation = 0.5
maxSaturation = 0.99
minValue = .2
maxValue = .5


# blue
[s1]
position = 0, 5
coords = 2, 0, 397, 0, 397, 2, 2, 2
varX = 0
varY = 0
fixedCenterColor = 0, 0, 0, 240
usedFixedCenterColor = False
minHue = 200
maxHue = 230
minSaturation = .90
maxSaturation = .9
minValue = .75
maxValue = .75


# gree
[s1a]
position = 0, 10
coords = 2, 0, 397, 0, 397, 2, 2, 2
varX = 0
varY = 0
fixedCenterColor = 0, 0, 0, 240
usedFixedCenterColor = False
minHue = 140
maxHue = 160
minSaturation = .990
maxSaturation = .990
minValue = .95
maxValue = .95


# red
[s1b]
position = 0, 15
coords = 2, 0, 397, 0, 397, 2, 2, 2
varX = 0
varY = 0
fixedCenterColor = 0, 0, 0, 240
usedFixedCenterColor = False
minHue = 0
maxHue = 15
minSaturation = .990
maxSaturation = .990
minValue = .95
maxValue = .95

[s2]
# blue
position = 0, 37
coords = 2, 0, 397, 0, 397, 5, 5, 5
varX = 0
varY = 0
fixedCenterColor = 0, 0, 0, 240
usedFixedCenterColor = False
minHue = 220
maxHue = 220
minSaturation = .90
maxSaturation = .9
minValue = .75
maxValue = .95


[s2a]
# green
position = 0, 44
coords = 5, 0, 397, 0, 397, 5, 5, 5
varX = 0
varY = 0
fixedCenterColor = 0, 0, 0, 240
usedFixedCenterColor = False
minHue = 90
maxHue = 90
minSaturation = .990
maxSaturation = .990
minValue = .95
maxValue = .95


[s3]
# red
position = 0, 29
coords = 2, 0, 397, 0, 397, 1, 2, 1
varX = 0
varY = 0
fixedCenterColor = 0, 0, 0, 240
usedFixedCenterColor = False
minHue = 0
maxHue = 5
minSaturation = .90
maxSaturation = .9
minValue = 1.18
maxValue = 1.19
