[displayconfig]

#work = scroller-holder
#work = particles
#work = repeater
work = propagation


rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

usePixelSort = False
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 80
pixSortboxWidth = 400
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = True


#tileSizeHeight = 32
#tileSizeWidth = 64
#matrixTiles = 30
#rows = 6
#cols = 5


### For propagation
tileSizeHeight = 8
tileSizeWidth = 6
matrixTiles = 48
rows = 24
cols = 53

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 192

# ---  preparing for rotation
windowWidth = 320
windowHeight = 192

canvasWidth = 320
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 5
canvasOffsetY = 3

# Window Offset
windowXOffset = 2683
windowYOffset = 169

brightness =  .95
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 192,256,384,320
remapImageBlockDestination = 0,0


#-----------------------------------------------#

[propagation]
fontColor = 0,0,0
outlineColor = 0,0,0
showOutline = False
showText = False
timeTrigger = True
tLimitBase = 10
steps = 25
colorStepsRangeMin = 3
colorStepsRangeMax = 5
redrawDelay = .01

doneThreshold = .9
propagationProbability = .992
# 3 2 3 4
overCrowdingThreshold = 3
underPopulationThreshold = 2
#dieThreshold = 3
liveThreshold = 4

fullimageGiltchRate = .0001
useFixedPalette = True

## If this is set to 1, then
## will use the range for the whole set 
paletteRange = 1

# Hue min/max Saturation min,max Value min/max
## NOTE -- the ranges are parts of a "circle"
## so if the starting angle is 170 and the ending angle is 90
## colors between 90 and 170 will NOT be produced

#p1 = 205,215, .6,.9, .8,1
#p2 = 210,230, .6,.9, .,1
#p3 = 0,10, .6,.9, .8,1
#p4 = 0,5, .6,.9, .8,1


## ALL BLUES SCREEN
#p1 = 220,230, 1,1, .8,.81
#p1 = 0,360, 1, 1.1, .8,.81

## MINUS GREEN
#p1 = 290,70, 1,1, .8,.81
#p2 = 0,350, 1,1, .1,1
#p3 = 20,350, 1,1, .1,1
#p4 = 220,230, 1,1, .8,.81

p1 = 0,30, 1,1, .8,.81
p2 = 100,200, 1,1, .1,1
p3 = 100,200, 1,1, .1,1
p4 = 100,200, 1,1, .8,.81

## The main background color
## Matisse-like green adjusted
deadColor = 0,100,80,10



## selective exclusion of color range
## set both to zero to turn off
dropHueMin = 0
dropHueMax = 0

