[displayconfig]
# incomplete passage / circuit / line / door
# undoing the knot

# work = collage
# work = signage
work = concentric_particles
# work = maze
# work = spots
# work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 12
cols = 12

## Also determines the window geometry
screenWidth = 192
screenHeight = 256

windowWidth = 192
windowHeight = 256

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 192
canvasHeight = 256

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
#windowYOffset = 147 + 320
windowYOffset = 153

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0


remapImageBlock = False
remapImageBlockSection = 0,0,192,256
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False
remapImageBlockSection2 = 320,0, 640,32
remapImageBlockDestination2 = 0,32
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 640,0, 960,32
remapImageBlockDestination3 = 0,64
remapImageBlockSection3Rotation = 0

remapimageblock4 = False
remapImageBlockSection4 = 960,0, 1280,96
remapImageBlockDestination4 = 0,96
remapImageBlockSection4Rotation = 0

useFilters = True

useBlur = False
blurXOffset = 20
blurYOffset = 0
blurSectionWidth = 160
blurSectionHeight = 8
sectionBlurRadius = 1

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 48
pixSortboxHeight = 2
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .2
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

forceBGSwap = False

[particles]

minParticles = 2666
maxParticles = 2666

speedFactorMin = .1
speedFactorMax = 1

initXRangeMin = 90
initXRangeMax = 138
initYRangeMin = 100
initYRangeMax = 160

PSXSpeed = 0.02
PSYSpeed = 0.0
PSRadiusFactor1 = 1.5
PSRadiusFactor2 = 1.5
PSRadiusMin = 120
PSRadiusMax = 240

systemRotation = 200

fadeRate = 90
fadeRateDelta = 1.0
sparkleProb = .001
fadeRateNewSystemThreshold = 2.0
orbitProb = .95

particleResetProb = .0001
totalResetProb = .25

rBase = 5
gBase = 30
bBase = 60
aBase = 10

radialAlpha = 180
radialRed = 55
radialGreen = 30
radialBlue = 0
radial2Red = 0
radial2Green = 0
radial2Blue = 180

# outer golden ring color
# if filters-dithering are on these will not
# appear exactly as anticipated so fiddling wiil
# be needed
rBase2 = 130
gBase2 = 104
bBase2 = 10
aBase2 = 50

rDiff = -1
gDiff = -1
bDiff = -1

bgColorSets = bg_a,bg_b,bg_c,bg_a

[bg_a]
bgColor = 1,4,10

[bg_b]
bgColor = 90,60,10

[bg_c]
bgColor = 5,30,60




[collageShapes]
#-----------------------------------------------#

redrawSpeed = .02
changeBoxProb = .003

transitionStepsMin = 140
transitionStepsMax = 254

tweenCountMax = 300
colOverlaytLimitBase = 25
colOverlaySteps = 60

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = True

usevariablefilter = True
variablefilterprob = .1
filterPatchProb = .001



sets = set1
set1 = c0,c1,c1a,c2,c2a,c3,c3a
#,s1a,s2,s2a

[c0]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 192,0, 192,390, 0,390
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 45
minSaturation = .5
maxSaturation = 1.0
minValue = .05
maxValue = .9

[c1]
#-----------------------------------------------#
position = -15,10
coords = 0,0, 185,0, 185, 110, 0,110
varX = 10
varY = 10
fixedCenterColor = 200,100,100,120
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .1
maxSaturation = 1.0
minValue = .01
maxValue = .4

[c1a]
#-----------------------------------------------#
position = 10,20
coords = 0,0, 140,0, 140, 90, 0,90
varX = 10
varY = 10
fixedCenterColor = 200,100,100,120
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .1
maxSaturation = 1.0
minValue = .01
maxValue = .4

#-----------------------------------------------#

[c2]
#-----------------------------------------------#
position = -15,138
coords = 0,0, 185,0, 185, 110, 0,110
varX = 10
varY = 10
fixedCenterColor = 200,100,100,120
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .1
maxSaturation = 1.0
minValue = .01
maxValue = .4

[c2a]
#-----------------------------------------------#
position = 10,148
coords = 0,0, 140,0, 140, 90, 0,90
varX = 10
varY = 10
fixedCenterColor = 200,100,100,120
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .1
maxSaturation = 1.0
minValue = .01
maxValue = .4

[c3]
#-----------------------------------------------#
position = -15,266
coords = 0,0, 185,0, 185, 110, 0,110
varX = 10
varY = 10
fixedCenterColor = 200,100,100,120
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .1
maxSaturation = 1.0
minValue = .01
maxValue = .4

[c3a]
#-----------------------------------------------#
position = 10,276
coords = 0,0, 140,0, 140, 90, 0,90
varX = 10
varY = 10
fixedCenterColor = 200,100,100,120
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .1
maxSaturation = 1.0
minValue = .01
maxValue = .4





[signage]
#------------------------------------------------#

redrawDelay = .02

tileSizeHeight = 20
tileSizeWidth = 24

rows = 20
cols = 20

fontColor = 0,0,0
outlineColor = 0,0,0

showGrid = True
showText = False
showOutline = False
randomRotation = True
coordinatedColorChange = False
timeTrigger = True
tLimitBase = 40
steps = 155

unhideRate = 0
rehideRate = 0

imageGlitchSize = 5
fullimageGiltchRate = .0002

useOverLayImage = False
overLayImage = /assets/imgs/miscl/mac-cursor.png
overlayBrightness = .3
overLayXPos = 100
overLayYPos = 5
overlayGlitchSize = 1
overlayGlitchRate = .001
overlayResetRate = .000000015

useEdgeSeedColors = True
edgeSeedColorsVisible = True
edgeSeedColorsVisibleChangeProb = .1
bgalpha = 216


## If this is set to 1, then
## will use the range for the whole set
palettesToUse = p2,p1,p2
paletteChangeProb = .005

# Hue min/max Saturation min,max Value min/max
#p1 = 205,215, .6,.9, .8,1
#p2 = 210,230, .6,.9, .,1
#p3 = 0,10, .6,.9, .8,1
#p4 = 0,5, .6,.9, .8,1

## NOTE -- the ranges are parts of a "circle"
## so if the starting angle is 170 and the ending angle is 90
## colors between 90 and 170 will NOT be produced

## ALL BLUES SCREEN
p1 = 220,230, .1,1, .1,.5

## MINUS GREEN
#p1 = 160,60, 1,1, .8,.81

p2 = 0,350, 1,1, .1,1
p3 = 20,350, 1,1, .1,1
p4 = 220,230, 1,1, .8,.81

## selective exclusion of color range
## set both to zero to turn off
dropHueMin = 0
dropHueMax = 0





[forms]
# ------------------------#
reDrawSpeed = .01
slotRate = .02
slotRateMaker = .01
slotRateSolver = .01

progressive = True

cellSizeMin = 4
cellSizeMax = 32
pWallsMin = 0
pWallsMax = 4
pLinesMin = 4
pLinesMax = 4

#obstacleIndex = 3,4,5,6,7,8,21,22,23,24
obstacleIndex = 1000,1001
reDoDelay = 2

saveImages = False
outPutPath = /Users/lamshell/Dropbox/studio/In Progress & Working Images/GEN IMAGES/bending_output/

# background color - higher the
# alpha = less persistent images
backgroundcolor = 0,0,0,0
pathValueAugment = 1.0

filterPatchProb = .01
filterPatchProbOff = .001

sets = s1,s2

[s1]

#background Color Controls
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .01
bg_maxSaturation = .99
bg_minValue = .2
bg_maxValue = .4
bg_dropHueMinValue= 0
bg_dropHueMaxValue = 0
bg_minAlpha = 255
bg_maxAlpha = 255

lines_minHue = 0
lines_maxHue = 360
lines_minSaturation = .1
lines_maxSaturation = .990
lines_minValue = .2
lines_maxValue = .9
lines_dropHueMinValue= 0
lines_dropHueMaxValue = 0
lines_minAlpha = 200
lines_maxAlpha = 255


[s2]

# lyrical abstraction colors
#background Color Controls
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .0
bg_maxSaturation = .80
bg_minValue = .2
bg_maxValue = .5
bg_dropHueMinValue= 200
bg_dropHueMaxValue = 360
bg_minAlpha = 200
bg_maxAlpha = 255

lines_minHue = 350
lines_maxHue = 36
lines_minSaturation = .40
lines_maxSaturation = .990
lines_minValue = .5
lines_maxValue = .90
lines_dropHueMinValue= 0
lines_dropHueMaxValue = 0
lines_minAlpha = 200
lines_maxAlpha = 255









[spots]
#-----------------------------------------------#
reDrawSpeed = .05
reFreshSpeed= .02
doingRefreshCount = 12

dotSize = 22
cols = 12
rows = 20
packing = -2
colsXOffset = 0
rowsYOffset = 0

spreadX = 3
spreadY = 3
gridVariation = .5

# Changes the size of each dotspot by the dotVariation amound
dotVariationByColor = True
dotVariationMax = 8
dotVariation = 1
dotVariationChangeProb = .01
blurRadius = 1

#bgColor = 175,35,85,10
bgColor = 120,0,2,1

clrA = 255,0,0,25
clrB = 0,220,0,25
clrC = 0,0,164,25

#hideDots = 0
hideDots = 1
#,2,3,4,7,8,9,10,14,15,21
hideDotRate = 0.1
changeDotRate = 0.15





[diag]
fontColor = 100,0,0
fontColor2 = 0,0,100
outlineColor = 0,100,0
bgColor = 0,0,40
showGrid = True
fontSize = 14
