[displayconfig]

work = gradients
_work = diagnostics 

rendering = hub
rotation = 180
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 320

# ---  preparing for rotation
windowWidth = 320
windowHeight = 320

canvasWidth = 320
canvasHeight = 320

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2607	
windowYOffset = 153


brightness =  .70
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,256,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0


remapImageBlock2 = False
remapImageBlockSection2 = 0,0,64,32
remapImageBlockDestination2 = 64, 64
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 192,128,384,160
remapImageBlockDestination3 = 0, 192
remapImageBlockSection3Rotation = 0


## These are the full black-out boxes that seem to
## trap the viewer 
remapImageBlock4 = False
remapImageBlockSection4 = 384,0,452,31
remapImageBlockDestination4 = 128, 32
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0


usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = -2
pixSortboxHeight = 1
pixSortboxWidth = 384
pixSortgap = 0
pixSortprobDraw = .05
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99





useBlur = False
blurXOffset = 150
blurYOffset = 0
blurSectionWidth = 140
blurSectionHeight = 110
sectionBlurRadius = 2

useFilters = False

forceBGSwap = False



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0




[gradients]
#-----------------------------------------------#


#directionOrder = RIGHT-LEFT
useBlanks = False
fromBlack = True

# number of greadient steps - lower is more crude
steps = 48
vOffset = -0

# rows of bands potentitally painted per cycle
rowsShown = 10

# not used
rowHeight = 0

## the bands
heightMin =  64
heightMax =  190

minWidth = 2
maxWidth = 16

# angle each gradient unit is rotated 
angle = 2
probDraw = .002
probDrawChange = .02
blackProb = .01
drawBarProb = .05
colorChange = 0.02

rotate = 90

#this affects the overall visual speed
fadeInRefreshCount = 180

# rgbAlpha rgb getRandomColorWheel randomColor
colorChoice = manual

c1 = 350,30,.5,.99,.5,.8
c2 = 0,30,.5,.99,.5,.8
c3 = 200,180,.5,.99,.5,.8

alpha1 = 0
alpha2 = 100

# rate of time delay between cycles
redrawRate = .02

debug = False



