[displayconfig]

work = collage
_work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 128

# ---  preparing for rotation
windowWidth = 320
windowHeight = 128

canvasWidth = 320
canvasHeight = 128

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2607	
windowYOffset = 153


brightness =  1.1
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,256,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0


remapImageBlock2 = False
remapImageBlockSection2 = 0,0,64,32
remapImageBlockDestination2 = 64, 64
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 30,8,48,60
remapImageBlockDestination3 = 0,37

useFilters = False

usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortDirection = lateral
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 380
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .9
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 30
pixSortDrawVariance = 0
randomColorProbabilty = 0
brightnessVarLow = .5
brightnessVarHi = .55
pixelSortAppearanceProb = 1.0


useBlur  = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 4

[holding]
#-----------------------------------------------#
usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 4
pixSortboxHeight = 148
pixSortboxWidth = 100
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .999
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .7
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0






[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0



[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
useVariablePixelSort = True
variablePixelProb = .01
variableFilterProb = .002

useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0,s1a,s2,s3
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 320,0, 320,128, 0,128
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 270
maxHue = 36
maxSaturation = .99
minSaturation = .5
minValue = .2
maxValue = .5

[s1a]
position = 10,4
coords = 0,0, 310,0, 310,83, 0,83
varX = 5
varY = 5
fixedCenterColor = 0,0,0,250
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .3

[s2]
position = 10,4
coords = 0,93, 310,93, 310,120, 0,120
varX = 5
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 250
maxHue = 20
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1

[s3]
position = 10,4
coords = 0,0, 32,0, 32,32, 0,32
varX = 5
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 10
maxHue = 30
maxSaturation = .99
minSaturation = .7
minValue = .4
maxValue = .6
