[displayconfig]

#work = fludd
#work = quilt-informal
#work = repeater
#work = dicefactory
work = adwords
_work = diagnostics


rendering = hub
rotation = 90
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 16
rows = 8
cols = 8

# ---  Also determines the window geometry
screenWidth = 257
screenHeight = 192

# ---  preparing for rotation
windowWidth = 257
windowHeight = 192

canvasWidth = 257
canvasHeight = 192


# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2714
windowYOffset = 151


brightness =  .7
minBrightness = .5

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 128,0,194,128
remapImageBlockDestination = 128,4

remapImageBlock2 = False
remapImageBlockSection2 = 16,0,64,128
remapImageBlockDestination2 = 16,12

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 188
pixSortboxHeight = 4
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


useBlur  = False
blurXOffset = 0
blurYOffset = 64
blurSectionWidth = 384
blurSectionHeight = 64
sectionBlurRadius = 4



[stroop]
#-----------------------------------------------#
vOffset = -10
scrollSpeed = .03
stroopSpeed = .04

speedMultiplier = 2
revealSpeedMin = 1
revealSpeedMax = 3
stroopSteps = 2
shadowSize = 2

fontSizeMin = 14
fontSizeMax = 30

useColorFlicker = 1
highervariability = True
verticalBg =  False

displayRows = 6
displayCols = 6
simulBlocks = 5

## options are reveal, revealmove, move
movementMode = revealmove
moveProbability = .05
colorProbabilityReturn = .08
colorProbability = .015

verticalOrientationProb = .50

wordsList = UNIQUE,NEW,RARE,MODERN,ALL-NEW,DREAM,EXCLUSIVE,LIMITED,SPECIAL,NEW,NEW,!!!!,NEW,LUXURY,COMING-SOON,DISCOUNT,$$$$$
modeChangeProb = .00


[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 100,0,100
fontColor2 = 90,100,0
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0



