[displayconfig]

workListDirectory = __in_progress/

#workList =p9,p9
workList =p1,p2

playInOrder = True

rotation = 0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 480
screenHeight = 80

# ---  preparing for rotation
windowWidth = 480
windowHeight = 80

canvasWidth = 480
canvasHeight = 80


imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 0
canvasOffsetY = 3

## on LINSN SENDER CARD
## x=41 y =127
windowXOffset = 2595
windowYOffset = 359


forceBGSwap = False

#restartScript = /cntrlscripts/restart_full_campfire_sequencer.sh

# production computer
#commadStringPyth = python3 /home/daemon58/Documents/RPI/player.py -path /home/daemon58/Documents/RPI -mname studio -cfg

# local Mac environment
commadStringPyth = python3 ~/Documents/Dev/RPI/player.py -path ~/Documents/Dev/RPI/ -mname studio -cfg
repeatCountTrigger = 3

###########################################

[p1]
work = p4-double-lean-test.cfg
minDuration = 30
maxDuration = 30
brightnessOverride = 1.1

[p2]
work = p4-double-lean-test-2.cfg
minDuration = 15
maxDuration = 15
brightnessOverride = 1.1



###########################################



