[displayconfig]

work = slots

rendering = hub
rotation = -0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 192

# ---  preparing for rotation
windowWidth = 256
windowHeight = 192

canvasWidth = 256
canvasHeight = 192

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2607
windowYOffset = 147

brightness =  .99
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,256,192,384
remapImageBlockDestination2 = 192,128

remapImageBlock3 = False  
remapImageBlockSection3 = 0,384,192,512
remapImageBlockDestination3 = 0,128

useBlur = True
blurXOffset = 120
blurYOffset = 140
blurSectionWidth = 64
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = False


[forms]
# ------------------------#
reDrawSpeed = .02

linesCreated = 510

slotSpeedMin = .1
slotSpeedMax = .2

slotSpeed2Min = .3
slotSpeed2Max = .4

slotSpeedMultiplier = 1.1

numerOfSlotsMax = 100
numerOfSlotsMin = 10

jitterAmount = 16
# offset set by up-to jitterAmount every n'th item drawn
jitterFreq = 2

slotWidthMin = 1
slotWidthMax = 3
slotHeightMin = 4
slotHeightMax = 8
slotSpacingMin = 2
slotSpacingMax = 3

outerRadius = 100
innerRadius = 1

yRange = 160
xRange = 256

orientationProb = .5

# background color - higher the 
# alpha = less persistent images
backgroundcolor = 0,0,0,0
backgroundFlashcolor = 180,50,10,240

bgFlashRate = .0001

filterPatchProb = .01
filterPatchProbOff = .001

#background Color Controls
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .0
bg_maxSaturation = .80
bg_minValue = .0
bg_maxValue = 1.0
bg_dropHueMinValue= 200
bg_dropHueMaxValue = 360
bg_minAlpha = 200
bg_maxAlpha = 255

lines_minHue = 350
lines_maxHue = 36
lines_minSaturation = .40
lines_maxSaturation = .990
lines_minValue = .5
lines_maxValue = .90
lines_dropHueMinValue= 0
lines_dropHueMaxValue = 0
lines_minAlpha = 200
lines_maxAlpha = 255






[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9


[particleVals-2]
fillColor = 14,180,1,10
outlineColor = 14,180,1,205 
bgColor = 14,180,1,20


[particleVals-1]
fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20
