[displayconfig]

work = slots

rendering = hub
rotation = -0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 384

# ---  preparing for rotation
windowWidth = 384
windowHeight = 384

canvasWidth = 384
canvasHeight = 384

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2721
windowYOffset = 335

brightness =  .99
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,20,400
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,256,192,384
remapImageBlockDestination2 = 192,128

remapImageBlock3 = False  
remapImageBlockSection3 = 0,384,192,512
remapImageBlockDestination3 = 0,128

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 200
blurSectionHeight = 400
sectionBlurRadius = 2

useFilters = True


[forms]
# ------------------------#
reDrawSpeed = .02

linesCreated = 100

slotSpeedMin = .04
slotSpeedMax = .2

numerOfSlotsMax = 100
numerOfSlotsMin = 10

jitterAmount = 10
jitterFreq = 2

slotSpacing = 10

slotWidthMin = 1
slotWidthMax = 1
slotHeightMin = 32
slotHeightMax = 42

outerRadius = 100
innerRadius = 1

yRange = 400
xRange = 400

orientationProb = 0.5

# background color - higher the 
# alpha = less persistent images
backgroundcolor = 0,0,0,3

#background Color Controls
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .0
bg_maxSaturation = 1.0
bg_minValue = .0
bg_maxValue = 1.0
bg_dropHueMinValue= 47
bg_dropHueMaxValue = 350


lines_minHue = 36
lines_maxHue = 360
lines_minSaturation = .1
lines_maxSaturation = .99
lines_minValue = .10
lines_maxValue = 1.0


