[displayconfig]
#----------------------------------------------------#
work = spritesheet
_work = diagnostics

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True
doFullReloadOnChange = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 64
rows = 16
cols = 6

## Also determines the window geometry
screenWidth = 384
screenHeight = 256

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 384
canvasHeight = 256

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 4

# Window Offset
#windowXOffset = 2722
#windowYOffset = 550

windowXOffset = 2594
windowYOffset = 350

brightness =  .8
minBrightness = 0


remapImageBlock = False
remapImageBlockSection = 0,0,256,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 = 0,0,256,128
remapImageBlockDestination2 = 0, 128
remapImageBlockSection2Rotation = 0

remapImageBlock3 = True
remapImageBlockSection3 = 128,0,256,128
remapImageBlockDestination3 = 256, 0
remapImageBlockSection3Rotation = 0

remapImageBlock4 = True
remapImageBlockSection4 = 128,0,256,128
remapImageBlockDestination4 = 256, 128
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = True
_ditherFilterBrightness = .95


usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 128
pixSortboxWidth = 384
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .01
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0


#----------------------------------------------------#
[images]
#----------------------------------------------------#

#i1 = assets/imgs/flames/fire-real-256-sheet-223-frames.png
#i1 = assets/imgs/flames/candle_384-Sheet.png
i1 = assets/imgs/flames/fire-real-256-256-sheet-223-frames-b.png


# Number of individual animation units
numberOfCells = 1
# the spritesheet frame dimensions
frameWidth = 128
frameHeight = 256
totalFrames = 233
frameCols = 16
frameRows = 14
# slice parameters
sliceWidthMin = 128
sliceHeightMin = 256
sliceWidth = 128
sliceHeight = 256
step = 1
fixedPosition = True

# controls speed 2 is generally very smooth
animSpeedMin = 3
animSpeedMax = 5

# rotates each animation unit
animationRotation = 90
# random +/- range
animationRotationJitter = 0
# if this is non-zero, will rotate each unit
# in random +/- range
animationRotationRateRange = 0
# compensates for rotation if needed
animationXOffset = 0
animationYOffset = 0

# probability that any one unit changes parameters and position
changeAnimProb = .001
# chance that animations all pause
pauseProb = .01
# chance that unimations resume
unPauseProb = .005
# chance that the glitching pauses
freezeGlitchProb = .03
# chance that the glitching resumes
unFreezeGlitchProb = .06

# glitch displacement parameters 
# random from 1 to these values
imageGlitchDisplacementHorizontal = -20
imageGlitchDisplacementVertical = -30

# chance the pixelsort lines appear
pixelSortProbOn = .05
pixelSortProbOff = .015

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .02
filterRemapminHoriSize = 224
filterRemapminVertSize = 236

filterRemapRangeX = 160
filterRemapRangeY = 256

# background color HSV ranges
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = 0.5
bg_maxSaturation = 0.9
bg_minValue = .4
bg_maxValue = .8
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 50

# chance that the background changes
backgroundColorChangeProb = .01

# the delay between cycles
playSpeed = .02





#----------------------------------------------------#
[diag]
#----------------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,0
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

