[displayconfig]
# incomplete passage / circuit / line / door
# undoing the knot

# Piece is named "Open Circuit"


work = spots
_work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 1
cols = 16

## Also determines the window geometry
screenWidth = 384
screenHeight = 128

windowWidth = 384
windowHeight = 128

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 384
canvasHeight = 128

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2727
#windowYOffset = 147 + 320
windowYOffset = 474

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0


remapImageBlock = False
remapImageBlockSection = 0,0,320,32
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False
remapImageBlockSection2 = 320,0, 640,32
remapImageBlockDestination2 = 0,32
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 640,0, 960,32
remapImageBlockDestination3 = 0,64
remapImageBlockSection3Rotation = 0

remapimageblock4 = False
remapImageBlockSection4 = 960,0, 1280,96
remapImageBlockDestination4 = 0,96
remapImageBlockSection4Rotation = 0

useFilters = False

useBlur = False
blurXOffset = 20
blurYOffset = 0
blurSectionWidth = 160
blurSectionHeight = 8
sectionBlurRadius = 1

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 48
pixSortboxHeight = 2
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .2
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

forceBGSwap = False


[spots]
#-----------------------------------------------#
reDrawSpeed = .02
doingRefreshCount = 180

dotSize = 12
cols = 30
rows = 27
packing = -1
colsXOffset = -3
rowsYOffset = -4

spreadX = 3
spreadY = 3
gridVariation = .5

# Changes the size of each dotspot by the dotVariation amound
dotVariationByColor = True
dotVariationMax = 8
dotVariation = 1
dotVariationChangeProb = .01
blurRadius = 1

#bgColor = 175,35,85,10
bgColor = 120,0,2,1

clrA = 255,0,0,25
clrB = 0,220,0,25
clrC = 0,0,164,25

#hideDots = 0
hideDots = 100
#,2,3,4,7,8,9,10,14,15,21
hideDotRate = 0.0
changeDotRate = 0.5





[diag]
fontColor = 100,0,0
fontColor2 = 0,0,100
outlineColor = 0,100,0
bgColor = 0,0,40
showGrid = True
fontSize = 14
