[displayconfig]
# --------------------------------------------------#
work = actionmarks_1_3
# work = diagnostics
# --------------------------------------------------#

rotation = 90

checkForConfigChanges = False
doFullReloadOnChange = False

tileSizeHeight = 16
tileSizeWidth = 32

rows = 8
cols = 11

# ---  Also determines the window geometry
screenWidth = 258
screenHeight = 258

# ---  preparing for rotation
windowWidth = 258
windowHeight = 258

canvasWidth = 258
canvasHeight = 258

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3


# Window Offset
windowXOffset = 110
windowYOffset = 55

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,32,258
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,96,768,128
remapImageBlockDestination2 = 384,0

remapImageBlock3 = False
remapImageBlockSection3 = 384,0,512,32
remapImageBlockDestination3 = 0,32

remapImageBlock4 = False
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64


usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 192
pixSortboxWidth = 1
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = True
ditherfilterbrightness = 1.0


# --------------------------------------------------#
[drawingField]

slotRate = .03

# change the drawing mode
changeDrawingModeTime = 20
# if this is too high, it all gets "poppy"
bgColorAlpha = 2
# chance, per cycle, move the dither around
filterremappingprob = .002
# chance, per cycle, that overlay blocks are cleared
# not realy that useful because the composite image is
# always being added to so retains a continuous pile
# of layers
clearbgBoxprob = .0003
# chance, per cycle, that the line drawing jitters
doJitterProb = .01
# change Palette and Drawing
changeColorSetTime = 60
# the range of time changeColorSetTime X changeColorSetTimeMaxMultiplier
changeColorSetTimeMaxMultiplier = 3
# # when adding background blocks also jitter drawing
doJitterWhenAddingBG = True


totalRandomPenColorProb = .5
totalRandomBGBoxColorProb = .02

jitterIterationsMin = 1
jitterIterationsMax = 10
jitterIterationsHoriz = 2
jitterIterationsVert = 2


penAlpha = 200
changePenColorWhileDrawingProb = .01
pen_centerVariationXMin = 10
pen_centerVariationXMax = 10
pen_centerVariationYMin = 10
pen_centerVariationYMax = 10

# time to clear the canvas
changeTime = 0

fadeRateNewSystemThreshold = 2.0

filterremapping = True
filterRemapMinHorzSize = 10
filterRemapMaxHorzSize = 60
filterRemapRangeX = 260

filterRemapMinVertSize = 40
filterRemapMaxVertSize = 280
filterRemapRangeY = 90


innerRadius = 50
outerRadius = 700

usebgBox = True
bgBoxBox = 0,0,384,256
bgTileSizeWidthMin = 64
bgTileSizeHeightMin = 64
bgTileSizeWidthMax = 160
bgTileSizeHeightMax = 129

bgBoxAlphaRange = 40,248
forcebgBox = True

compositionModeChangeProb = .01

bgGlitchCyclesMin = 4
bgGlitchCyclesMax = 30
bgGlitchDisplacementHorizontal = 5
bgGlitchDisplacementVertical = 5

# --------------------------------------------------#
penNames = longOvalSweeps,shortMarks,scratchyLong,spiralGyres,spiralGyres2,shortMarks2,scratchyLong2
# paletteSets = OnSystemBlue,OnSystemBlue
paletteSets = OnPink,YellowsOnGray,OnBrown,OnGray,OnSystemBlue,CoastalIndustry,OnBrownDrawing,PostItNotesBlueInk,PostItNotesBlueInk2
textureSets = texture1,texture2,texture3,texture4,textureScrim2

# --------------------------------------------------#


[PostItNotesBlueInk2]
# black range
bgColor =40,45,0.8,1.0,.6,1.0,0,0
penColor = 210,260,0.9,1.0,.1,.50,0,0
bgBoxColorRange = 40,180,0.7,1.0,.6,1.0,46,170
bgBoxAlphaRange = 140,248
penNames = spiralGyres,longOvalSweeps,spiralGyres2,shortMarks2,scratchyLong2
# penNames = spiralGyres2,spiralGyres,longOvalSweeps
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = .80
startNewLineDelayRange = 8,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .003
blendLevelRateBase = .01
clearCurrentDrawingProb = .0005


[PostItNotesBlueInk]
# black range
bgColor =40,45,0.7,1.0,.5,1.0,0,0
penColor = 190,260,0.9,1.0,.1,.50,0,0
bgBoxColorRange = 40,180,0.7,1.0,.6,1.0,46,170
bgBoxAlphaRange = 140,248
penNames = longOvalSweeps,shortMarks,scratchyLong,spiralGyres
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = .80
startNewLineDelayRange = 8,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .003
blendLevelRateBase = .01
clearCurrentDrawingProb = .0005

[PostItNotes]
# black range
bgColor =40,45,0.7,1.0,.5,1.0,0,0
penColor = 0,360,0.9,1.0,.7,1.0,0,0
bgBoxColorRange = 40,180,0.7,1.0,.6,1.0,46,170
bgBoxAlphaRange = 140,248
penNames = longOvalSweeps,shortMarks,scratchyLong,spiralGyres
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = .80
startNewLineDelayRange = 8,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .003
blendLevelRateBase = .01
clearCurrentDrawingProb = .0005


[OnPink]
bgColor =335,345,.9,1.0,.8,.9,0,0
penColor = 335,260,0.80,1.0,.10,1.0,0,0
bgBoxColorRange = 180,66,.750,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248
penNames = shortMarks2,scratchyLong2
texture = texture2
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .008

[OnBrown]
bgColor = 0,25,.8,1.0,.4,.5,0,0
penColor = 0,360,0.05,1.10,.01,1.0,0,0
bgBoxColorRange = 180,66,.0,.30,.2,1.0,0,0
bgBoxAlphaRange = 40,248
penNames = longOvalSweeps,shortMarks2,scratchyLong2
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .008

[OnBrownDrawing]
bgColor = 0,25,.8,1.0,.4,.5,0,0
penColor = 0,360,0.05,1.10,.01,1.0,0,0
bgBoxColorRange = 180,66,.0,.30,.2,1.0,0,0
bgBoxAlphaRange = 40,248
penNames = longOvalSweeps,shortMarks2,scratchyLong2,spiralGyres2
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 1,10
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .008

[YellowsOnGray]
# black range
bgColor =180,260,.0,.02,.02,.15,0,0
penColor = 44,50,0.9,1.0,.7,1.0,0,0
bgBoxColorRange = 40,45,0.7,1.0,.4,1.0,0,0
bgBoxAlphaRange = 40,248
penNames = longOvalSweeps,shortMarks2,scratchyLong2
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .008
blendLevelRateBase = .01
clearCurrentDrawingProb = .0005

[OnGray]
# black range
bgColor =0,360,.01,.15,.35,.4,0,0
penColor = 0,360,0.01,.10,.01,.90,0,0
bgBoxColorRange = 0,30,.850,1.0,.2,1.0,70,100
bgBoxAlphaRange = 40,248
penNames = scratchyLong,spiralGyres2,shortMarks2
texture = texture4
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .008

[OnSystemBlue]
# darker real red
bgColor = 200,250,.7, .9,.6, .7,0,0
penColor = 180,250,0.10,1.00,.40,1.0,0,0
bgBoxColorRange = 0,360,.750,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248
penNames = shortMarks2,scratchyLong2
texture = textureScrim2
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .008

[CoastalIndustry]
# darker real red
bgColor = 20,30,.47, .6,.3, .4,0,0
penColor = 40,20,.10,1.0,.4,1.0,240,350
bgBoxColorRange = 0,60,.10,.20,.4,1.0,20,40
bgBoxAlphaRange = 40,248
penNames = longOvalSweeps,shortMarks2,scratchyLong2,spiralGyres2
texture = texture1
# chance, per cycle, that a line is drawn
# startNewLineProb = .002
startNewLineProb = 1.0
startNewLineDelayRange = 3,22
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .008
blendLevelRateBase = .01
clearCurrentDrawingProb = .0009

# --------------------------------------------------#




[diag]
# --------------------------------------------------#
fontColor = 100,100,0
outlineColor = 100,0,0
fontColor2 = 0,0,255
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness = .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
