[displayconfig]

workListDirectory = prod/

# workList = p4
workList =p6

playInOrder = True


###########################################

[p0]
work = prod/p2.5-small-informal/voronoi-glass-informal.cfg
minDuration = 100
maxDuration = 120
brightnessOverride = .8

[p1]
work = prod/p2.5-small-informal/informal-abstractions-opening.cfg
minDuration = 300
maxDuration = 360
brightnessOverride = .8

[p2]
work = prod/p2.5-small-informal/informal-abstractions-grid.cfg
minDuration = 300
maxDuration = 360
brightnessOverride = .8

[p3]
work = prod/p2.5-small-informal/actionmarks-1_1_init_config.cfg
minDuration = 300
maxDuration = 360
brightnessOverride = .8

[p4]
work = prod/p2.5-small-informal/actionmarks-1_1_b.cfg
minDuration = 300
maxDuration = 360
brightnessOverride = .8

[p5]
work = prod/p2.5-small-informal/actionmarks-1_1_b_gyres.cfg
minDuration = 300
maxDuration = 360
brightnessOverride = .8

[p6]
work = prod/p2.5-small-informal/actionmarks-1_2_init_config.cfg
minDuration = 300
maxDuration = 360
brightnessOverride = .8
