[displayconfig]

workListDirectory = prod/4-beams-for-Julie/

# workList = p4
workList =p0,p1,p2

playInOrder = False


###########################################

[p0]
work = prod/p2.5-small-informal/voronoi-glass-informal.cfg
minDuration = 100
maxDuration = 120
brightnessOverride = 1.0

[p1]
work = prod/p2.5-small-informal/informal-abstractions-opening.cfg
minDuration = 300
maxDuration = 360
brightnessOverride = 1.2

[p2]
work = prod/p2.5-small-informal/informal-abstractions-grid.cfg
minDuration = 300
maxDuration = 360
brightnessOverride = 1.2

