[BathersWithTurtleOutlined]
# --------------------------------------------------#
# matisse
bgColorSets = (159,190,.70,.92,.45,.7,0,0)|(159,190,.80,.92,.45,.7,0,0)
bgBoxColorSets = (12,27,.77,.97,.35,.77,0,0)|(215,218,.77,.97,.35,.87,0,0)|(159,190,.70,.92,.45,.7,0,0)
penColorSets = (28,30,.5,.99,.95,.99,0,0)|(18,20,.65,.650,.93,.99,0,0)|(10,18,.5,.50,.95,.99,0,0)|(10,18,.25,.350,.95,.99,0,0)|(10,20,.5,.750,.25,.49,0,0)
bgBoxAlphaRange = 180,248
penNames = lineMarks2,longOvalSweeps2b
drawLineAsEnvelope = True
outlineStroke = True
outlineStrokeColor= 0,60,85,200

texture = texture1
# chance, per cycle, that the line drawing jitters
doJitterProb = .005
# probablility that after drawing jitter happens
doJitterWhenAddingBGUseProb = .150
# chance that the jitter happens all at once
doProgressiveJitterProb = .99
# probability jitter event happens per cycle
# 100% means it will continuously jitter until done
doJitterEventPerCyleProb = .9990
jitterIterationsMin = 4
jitterIterationsMax = 20
jitterDisplacementHorizontal = 4
jitterDisplacementVertical = 4
# chance, per cycle, that a new line is chosen
startNewLineProb = .90
# the time between actually drawing the lines
startNewLineDelayRange = 1,7
# chance, per cycle, that a ground block is drawn
penSpeedMinVal = 1
penSpeedMaxVal = 4
usebgBoxProb = .008
clearCurrentDrawingProb = .0001
changePenColorWhileDrawingProb = .01
blendLevelRateBase = .01

linesDrawnCountMin = 4
