[OnPink_v2]
# --------------------------------------------------#
bgColorSets = (335,345,.4,.50,.8,.9,0,0)
bgBoxColorSets = (170,180,.750,1.0,.5,1.0,0,0)|(335,350,.9,1.0,.8,.9,0,0)
penColorSets = (330,0,0.980,1.0,.10,1.0,0,0)|(60,260,0.80,1.0,.10,1.0,0,0)|(40,60,0.9,1.0,.95,.950,0,0)|(210,240,0.5,1.0,.95,.950,0,0)
bgBoxAlphaRange = 200,248
penNames = shortMarks,scratchyLong,lineMarksH1
drawLineAsEnvelope = True
texture = texture2
# chance, per cycle, that a new line is chosen
startNewLineProb = .2
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that a ground block is drawn
usebgBoxProb = .004
doJitterProb = .008
blendLevelRateBase = .01
clearCurrentDrawingProb = .00002
changePenColorWhileDrawingProb = .01

