[displayconfig]

work = vertical

rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = False
isRPI = False
useFilters = False
checkForConfigChanges = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 10

## Also determines the window geometry
screenWidth = 384
screenHeight = 384

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 384
canvasHeight = 384

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 30
windowYOffset = 40

brightness =  .9
minBrightness = 0

remapImageBlock = True
remapImageBlockSection = 0,0,384,161
remapImageBlockDestination = 64,0

[vertical]
drawCenteringLines = False
vOffset = 0
redrawSpeed = .02
rateMultiplier = 1

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 210,0,0

### virtical variations
### h should be same as blockHeight 
### unless gaps are wanted
blockHeight = 24
h = 8
verticalSpeed = 1


### horizontal variation
### higher makes it less flame-like
var = 5
varMulitplierWhenChangingUp = 16
varMulitplierWhenChangingDown = 8

minPercentWidth = 0.0001
maxPercentWidth = .45

destinationPercentage = .25
widthPercentage = .2
multiplier = .998
incrRate = 1.02
reduceRate = .995

# glitch or waver probablility
# best to keep low to lull the viewer
# into calm

inMotionProbability = .11
