[displayconfig]

work = gradients

rendering = hub
isRPI = False
checkForConfigChanges = True

rotation = 0
fullRotation = True
rotationTrailing = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 12
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 256

# ---  preparing for rotation
windowWidth = 192
windowHeight = 256

canvasWidth = 192
canvasHeight = 256

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2977
windowXOffset = 2655
windowYOffset = 145


brightness =  .9
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,384,256
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0,384,384
remapImageBlockDestination2 = 0,0

remapImageBlock3 = False  
remapImageBlockSection3 = 0,0,192,512
remapImageBlockDestination3 = 0,0

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 2

useFilters = False
ditherFilterBrightness = .95


usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 384
pixSortboxWidth = 256
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .15
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .0001
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.0



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0




[gradients]
#-----------------------------------------------#

directionOrder = RIGHT-LEFT
useBlanks = False

steps = 2
vOffset = -0

# rows of bands
rowsShown = 32
rowHeight = 8

angle = 90
probDraw = .9
probDrawChange = .0
blackProb = .001

# rgbAlpha rgb getRandomColorWheel
colorChoice = getRandomColorWheel

## the bands
heightMin =  6
heightMax =  26

alpha1 = 0
alpha2 = 255

# rate of time delay between cycles
redrawRate = .02

debug = False



