[displayconfig]

work = image

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True

useFilters = False

usePixelSort = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 8
pixSortboxWidth = 96
pixSortgap = 2
pixSortprobDraw = .95
pixSortprobGetNextColor = .52
pixSortProbDecriment = .01
pixSortSizeDecriment = .05
pixSortSampleVariance = 1
pixSortDrawVariance = 1
randomColorProbabilty = .01
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 198
screenHeight = 256

# ---  preparing for rotation
windowWidth = 198
windowHeight = 256

canvasWidth = 198
canvasHeight = 256

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3


windowXOffset = 2657
windowYOffset = 255

brightness =  .99
minBrightness = 0


[images]
#i1 = flames/fire_o5b.gif
#i1 = flames/fire-o2.gif
#i1 = flames/fire-o2test.gif
#i1 = icons/walk-v-256.png
i1 = icons/walk-v-256-b2.png


i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .03
verticalOrientation = 0
resetProbability = .001

# for rotated image, lines are width, boxWidth is height
# 160
lines = 6
boxHeight = 256
boxWidth = 190
xPos1 = 0
yPosBase = 0
targetPalette = selective
#targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17
#targetClrs = 92,106,107,117,119,124
#targetClrs = 104,91,96,104,112,104
targetClrs = 14,15,16

bgFilterProb = 0.01
imageFilterProb = .3
imageGlitchProb = .5
imageGlitchSize = 16
imageGlitchDisplacement = 2
animateProb = .95

# Color overlay / pixel color block
clrBlkWidth = 128
clrBlkHeight = 250
overlayxPos = 4
overlayyPos = 0

# probability that the color will change
overlayChangeProb = .005
# and if the color changes, probability that the 
# block will relocate
overlayChangePosProb = .85

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4


