[displayconfig]
#-----------------------------------------------#
work = movingpattern

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
useFilters = True
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 3

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2685
windowYOffset = 201

brightness =  .98
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 160
pixSortboxHeight = 16
pixSortboxWidth = 89
pixSortgap = 1
pixSortprobDraw = .9981
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = True
remapImageBlockSection = 0,0,128,256
remapImageBlockDestination = 108, 0
remapImageBlockSectionRotation = 180


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 256
sectionBlurRadius = 1



[movingpattern]
redrawSpeed =.02

baseImage = assets/imgs/bgs/pattern-t2c.jpg
_baseImage = assets/imgs/bgs/pat-2b2.png


limUp = 12256
limDown = 1
dpat = 1
deltapat = .85

dpatColor = .0
deltapatColor = .1

mult_a = .60
mult_b = 2.0
mult_c = 10.0
mult_d = 1000.0
mult_e = .0
changeProb = 1.0

