[displayconfig]
#-----------------------------------------------#
work = repeatblocks

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 8

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1600
windowYOffset = 69

brightness =  .98
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 160
pixSortboxHeight = 16
pixSortboxWidth = 89
pixSortgap = 1
pixSortprobDraw = .9981
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = True
remapImageBlockSection = 0,0,256,16
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = -182

remapImageBlock3 = True
remapImageBlockSection3 = 0,16,256,30
remapImageBlockDestination3 = 0,16
remapImageBlockSection3Rotation = -6

remapImageBlock4 = True
remapImageBlockSection4 = 0,32,128,256
remapImageBlockDestination4 = 0, 32
remapImageBlockSection4Rotation = -180


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = False

forceBGSwap = True

######################################################################
[movingpattern]
######################################################################

redrawSpeed =.03

blockWidth = 16
blockHeight = 32

rows = 16
cols = 64

# to be nice and even, has to be even multiple of blockWidth
# if you want artifcat, then anything else ;)
lineDiff = 2

lineColor =5,0,2,225
bgColor = 190,10,0,60

minHue = 240
maxHue = 360
minSaturation = .15
maxSaturation = .10
minValue = .15
maxValue = .15
tLimitBase = 5

line_minHue = 0
line_maxHue = 40
line_minSaturation = .85
line_maxSaturation = 1.0
line_minValue = .5
line_maxValue = .90
line_tLimitBase = 5



[p1]

blockWidth = 4
blockHeight =32

rows = 8
cols = 64

# to be nice and even, has to be even multiple of blockWidth
# if you want artifcat, then anything else ;)
lineDiff = 2

bgColor = 100,0,0,250
lineColor =255,210,0,255



