[displayconfig]

work = signage

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 128
tileSizeWidth = 96
matrixTiles = 32
rows = 2
cols = 2

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 256

# ---  preparing for rotation
windowWidth = 192
windowHeight = 256

canvasWidth = 192
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1534
windowYOffset = 164

brightness =  .65
minBrightness = 0

remapImageBlock = True  
remapImageBlockSection = 0,128,192,256
remapImageBlockDestination = 38,108

remapImageBlock2 = False  
remapImageBlockSection2 = 32,128,64,256
remapImageBlockDestination2 = 0,130



[signage]
fontColor = 0,0,0
outlineColor = 0,0,0
showGrid = True
showText = False
showOutline = False
randomRotation = True
coordinatedColorChange = False
timeTrigger = True
tLimitBase = 30
steps  = 155
redrawDelay = .01

unhideRate = 0
rehideRate = 0

imageGlitchSize = 5
fullimageGiltchRate = .001

useOverLayImage = False
overLayImage = /assets/imgs/miscl/mac-cursor.png
overlayBrightness = .3
overLayXPos = 100
overLayYPos = 5
overlayGlitchSize = 1
overlayGlitchRate = .001
overlayResetRate = .015




