[displayconfig]

work = screen

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 6

# ---  Also determines the window geometry
screenWidth = 194
screenHeight = 64

# ---  preparing for rotation
windowWidth = 194
windowHeight = 64

canvasWidth = 194
canvasHeight = 64

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 2
canvasOffsetY = 3

# Window Offset
windowXOffset = 2685
windowYOffset = 205

brightness =  .7
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 128,128,256,192
remapImageBlockDestination = 0,64

usePixelSort = False
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 448
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .0001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = True

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 194
blurSectionHeight = 64
sectionBlurRadius = 4




[diag]
#-----------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 14





[screenproject]
#-----------------------------------------------#
delay = .02
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 7
pointsCount = 5
drawCracks = False
origin = 15,4

## Used when first creating the cracks
yVarMin = 6
yVarMax = 36

randomColorSampleProb = .03
probDrawBoxes = .2
probDrawLines = .1
probDrawPerpLines = .1
crackChangeProb = .1
imageResetProb = .001

timeTrigger = True

pauseProb = .001
unpauseProb = .01

## This controls the range of background colors
tLimitBase = 10
minHue = 340
maxHue = 30
minSaturation = .8
maxSaturation = 1
minValue = .1
maxValue = .3
maxBrightness = .9






