[displayconfig]

work = scroller-holder

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 6

# ---  Also determines the window geometry
screenWidth = 194
screenHeight = 64

# ---  preparing for rotation
windowWidth = 194
windowHeight = 64

canvasWidth = 194
canvasHeight = 64

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 2
canvasOffsetY = 3

# Window Offset
windowXOffset = 2685
windowYOffset = 205

brightness =  .7
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 128,128,256,192
remapImageBlockDestination = 0,64

usePixelSort = False
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 448
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .0001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = True

useBlur  = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 194
blurSectionHeight = 64
sectionBlurRadius = 4




[diag]
#-----------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 14





[PatternAsTexture]
#-------------------#
patternSpeed = .5
patternRows = 130
patternCols = 440
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

[PatternAsBlocks]
#-------------------#
patternSpeed = .5
patternRows = 2
patternCols = 40
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .81
pattern = lines


[scroller]
#-----------------------------------------------#
redrawSpeed = .01

xOffset = -5
yOffset = 0

displayRows = 4
displayCols = 10

#--- Pattern BG
useBackGround = True
patternSpeed = .5
patternRows = 13
patternCols = 44
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

bgBackGroundColor = 0,0,20,80
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20

alwaysRandomPatternColor = True
altDirectionScrolling = True
alwaysRandomPattern = False



