[displayconfig]
# workList = p4
workList =p1,p2
playInOrder = True

# [p1]
# work = dev/p4slumped/actionmarks-1_3_a_256.cfg
# minDuration = 160
# maxDuration = 180
# brightnessOverride = 1.0

# [p2]
# work = dev/p4slumped/p4-slumped-voronoi-glass-floor.cfg
# minDuration = 100
# maxDuration = 160
# brightnessOverride = 1.0
[p1]
work = dev/p4slumped/actionmarks-1_3_a_256.cfg
minDuration = 2
maxDuration = 2
brightnessOverride = 1.0

[p2]
work = dev/p4slumped/p4-slumped-voronoi-glass-floor.cfg
minDuration = 2
maxDuration = 2
brightnessOverride = 1.0


