[displayconfig]
# workList = p4
workList =p1,p2
playInOrder = True

[p1]
work = dev/p4slumped/actionmarks-1_3_a_256.cfg
minDuration = 16
maxDuration = 18
brightnessOverride = 1.0

[p2]
work = dev/p4slumped/p4-slumped-voronoi-glass-floor.cfg
minDuration = 10
maxDuration = 16
brightnessOverride = 1.0