[displayconfig]
#work = sparkles
# work = voronoi_particles
work = diagnostics

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False

tileSizeHeight = 64
tileSizeWidth = 128
matrixTiles = 8
rows = 14
cols = 12

screenWidth = 512
screenHeight = 384

# ---  preparing for rotation
windowWidth = 512
windowHeight = 384

canvasWidth = 1472
canvasHeight = 384

canvasOffsetX = 3
canvasOffsetY = 3

windowXOffset = 20
windowYOffset = 118

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 512
pixSortboxWidth = 80
pixSortgap = 0
pixSortprobDraw = .2
pixSortprobGetNextColor = .99
pixSortSizeDecriment =  1.0
pixSortProbDecriment = .0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .1
brightnessVarLow = .05
brightnessVarHi = 1.0
pixelSortAppearanceProb = .99

## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False
remapImageBlockSection = 0,0,1472,160
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

# Panels in order from back to front

# Panel d  = 6 x 64             ==> 0 -> 384
# Panel c = 6 x 64 + 2 x 64     ==> 384 -> 768 + (128)
# Panel b = 4 x 64              ==> 896 -> 1152
# Panel a = 5 x 64              ==> 1152 -> 1472
# make-up mapping of 768 -> 896 sent to panel c 2 panels because
# card configuration was setup for max 384 pixels wide

# - - - - - -
# - - - - - - | - -
# - - - -
# - - - - -



# reverses the flow for the far-back beam
remapImageBlock2 = True
remapImageBlockSection2 = 64,0,128,64
remapImageBlockDestination2 = 30,30
remapImageBlockSection2Rotation = 90

# completes the 128 /2-panel to the long 8 panel beam
remapImageBlock3 = True
remapImageBlockSection3 = 64,256,256,384
remapImageBlockDestination3 = 30,270
remapImageBlockSection3Rotation = -180 

# reverses first / forward beam
remapImageBlock4 = False
remapImageBlockSection4 = 896,0,1152,32
remapImageBlockDestination4 = 128, 64
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 1152,0,1472,32
remapImageBlockDestination5 = 64, 96
remapImageBlockSection5Rotation = 0


useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = False
ditherfilterbrightness = 1.12
# filterremapping = True
# filterremappingprob  = .1
# filterremapminhorisize = 100
# filterremapminvertsize = 200
# filterremaprangex = 200
# filterremaprangey = 200
forceBGSwap = False


[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,255
bgColor = 0,0,50
showGrid = True
fontSize = 16

brightness =  .2
outerColor = 10,0,255
innerColor = 255,40,0
borderColor = 10,0,0
