[displayconfig]

work = maze
# work = diagnostics

rendering = hub
rotation = -0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False


tileSizeHeight = 64
tileSizeWidth = 64

matrixTiles = 8
rows = 2
cols = 11

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 448

# ---  preparing for rotation
windowWidth = 256
windowHeight = 448

canvasWidth = 256
canvasHeight = 448


# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
windowYOffset = 154

brightness =  .99
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,256,192,384
remapImageBlockDestination2 = 192,128

remapImageBlock3 = False  
remapImageBlockSection3 = 0,384,192,512
remapImageBlockDestination3 = 0,128

useBlur = False
blurXOffset = 8
blurYOffset = 0
blurSectionWidth = 128
blurSectionHeight = 5
sectionBlurRadius = 2

useFilters = False


[forms]
# ------------------------#
reDrawSpeed = .01
slotRate = .02
slotRateMaker = .03
slotRateSolver = .1

deBug = False

progressive = True

cellSizeMin = 8
cellSizeMax = 16
pWallsMin = 0
pWallsMax = 2
pLinesMin = 0
pLinesMax = 2

#obstacleIndex = 3,4,5,6,7,8,21,22,23,24
obstacleIndex = 1000,1001
reDoDelay = 2

saveImages = False
outPutPath = /Users/lamshell/Dropbox/studio/In Progress & Working Images/GEN IMAGES/bending_output/

# background color - higher the
# alpha = less persistent images
backgroundcolor = 0,0,0,0
pathValueAugment = 1.8

filterPatchProb = .01
filterPatchProbOff = .001

sets = s1,s2

[s1]

#background Color Controls
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .01
bg_maxSaturation = .99
bg_minValue = .2
bg_maxValue = .4
bg_dropHueMinValue= 0
bg_dropHueMaxValue = 0
bg_minAlpha = 255
bg_maxAlpha = 255

lines_minHue = 0
lines_maxHue = 360
lines_minSaturation = .1
lines_maxSaturation = .990
lines_minValue = .2
lines_maxValue = .9
lines_dropHueMinValue= 0
lines_dropHueMaxValue = 0
lines_minAlpha = 200
lines_maxAlpha = 255



[s2]

# lyrical abstraction colors
#background Color Controls
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .0
bg_maxSaturation = .80
bg_minValue = .0
bg_maxValue = 1.0
bg_dropHueMinValue= 200
bg_dropHueMaxValue = 360
bg_minAlpha = 200
bg_maxAlpha = 255

lines_minHue = 350
lines_maxHue = 36
lines_minSaturation = .40
lines_maxSaturation = .990
lines_minValue = .5
lines_maxValue = .90
lines_dropHueMinValue= 0
lines_dropHueMaxValue = 0
lines_minAlpha = 200
lines_maxAlpha = 255






[diag]
#---------------------------------#

fontColor = 100,100,0
outlineColor = 100,0,0
fontColor2 = 0,0,255
bgColor = 0,0,50
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0


[particleVals-2]
fillColor = 14,180,1,10
outlineColor = 14,180,1,205 
bgColor = 14,180,1,20


[particleVals-1]
fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20
