[displayconfig]
##########################################################

work = concentric_particles_v3
# work = diagnostics

isRPI = False
rendering = hub
rotation = 180
fullRotation = True
rotationTrailing = False

checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 64
tileSizeWidth = 64
matrixTiles = 48
rows = 6
cols = 4

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 384

# ---  preparing for rotation
windowWidth = 256
windowHeight = 384

canvasWidth = 256
canvasHeight = 384


# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowXOffset = 1200
windowXOffset = 2657
windowYOffset = 69
# windowXOffset = 125
# windowYOffset = 100


brightness =  1.0
minBrightness = 0

#work = squares
#rotation = 0
#screenWidth = 320
#screenHeight = 192
#canvasWidth = 320
#canvasHeight = 192


useFilters = True

remapImageBlock = False
remapImageBlockSection = 0,0,256,384
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0


remapImageBlock2 = True
remapImageBlockSection2 = 0,220,160,256
remapImageBlockDestination2 = 1,220
remapImageBlockSection2Rotation = 1

remapImageBlock3 = False
remapImageBlockSection3 = 224,0,256,384
remapImageBlockDestination3 = 0,0
remapImageBlockSection3Rotation = 0



##########################################################
[particles]
##########################################################


minParticles = 2500
maxParticles = 2700

speedFactorMin = .1
speedFactorMax = 1

initXRangeMin = 96
initXRangeMax = 224
initYRangeMin = 190
initYRangeMax = 300

PSXSpeed = 0.1
PSYSpeed = -.80
PSRadiusFactor1 = 1.5
PSRadiusFactor2 = 1.5

PSRadiusMin = 120
PSRadiusMax = 500
PSRadiusFixedColorMin = 300

PSMinBands = 12
PSMaxBands = 33

bandWidthMin = 11
bandWidthMax = 33

PSFixedColorRadiusDiffMin = 2
PSFixedColorRadiusDiffMax = 20

systemRotation = 200

fadeRate = 90
fadeRateDelta = 1.0
sparkleProb = .001
fadeRateNewSystemThreshold = 2.0
orbitProb = .95
particleResetProb = .01

# for some towers the seam between the 
# start and end needs to become semi-continuous
horizontalContinuity = True
horizontalOverlapFraction = 5

verticalContinuity = True
verticalOverlapFraction = 1

totalResetProb = .5

useFixedBandColorsProb = .5

# particle colors
particleColorRange = 180,300,0.8,1.0,.5,.95

rRangeMin = 100
rRange = 255
gRangeMin = 0
gRange = 200
bRangeMin = 100
bRange = 10


rBase = 5
gBase = 30
bBase = 60
aBase = 10

radialAlpha = 180
radialRed = 55
radialGreen = 30
radialBlue = 0

radial2Red = 0
radial2Green = 0
radial2Blue = 18


# outer golden ring color
# if filters-dithering are on these will not
# appear exactly as anticipated so fiddling wiil
# be needed

goldenRingsArray = 0,1,2,3,10,20,23,24

rBase2 = 130
gBase2 = 104
bBase2 = 10
aBase2 = 50

rDiff = -1
gDiff = -1
bDiff = -1

# bgColorSets = bg_a
bgColorSets = bg_a,bg_b,bg_c,bg_a

[bg_a]
bgColor = 1,1,10

[bg_b]
bgColor = 90,60,10

[bg_c]
bgColor = 5,30,60




[diag]
#---------------------------------#

fontColor = 150,150,0
outlineColor = 120,0,0
fontColor2 = 0,100,100
bgColor = 0,0,104
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 120,40,0
borderColor = 10,0,0

