[displayconfig]
#--------------------------#
# work = composition-var
# work = diagnostics
work = collage


rotation = 0
rendering = hub
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange =  True
isRPI = False


#tileSizeHeight = 32
#tileSizeWidth = 64
#matrixTiles = 16
#rows = 4
#cols = 4

tileSizeHeight = 40
tileSizeWidth = 80
matrixTiles = 32
rows = 8
cols = 8

screenWidth = 340
screenHeight = 60

# ---  preparing for rotation
windowWidth = 340
windowHeight = 60

canvasWidth = 340
canvasHeight = 60

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2643
# correct for 0 rotation
# windowYOffset = 335
windowYOffset = 604



brightness =  .8
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,256,352
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0


remapImageBlock2 = False
remapImageBlockSection2 = 192,0,384,32
remapImageBlockDestination2 = 0, 64
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 192,32,384,64
remapImageBlockDestination3 = 0, 96
remapImageBlockSection3Rotation = 0


# Note the pixels tearing dissipates after 4 levels or blocks
usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 210
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 4
pixSortgap = 1
pixSortprobDraw = .2
pixSortprobGetNextColor = .9
pixSortProbDecriment = 4
pixSortSizeDecriment = 2.0
pixSortSampleVariance = 2
pixSortDrawVariance = 8
randomColorProbabilty = .04
brightnessVarLow = .5
brightnessVarHi = 1.9
pixelSortAppearanceProb = .73

useFilters = True

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 340
blurSectionHeight = 256
sectionBlurRadius = 2

[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
variableFilterProb = .002

useVariablePixelSort = True
variablePixelProb = .01
variablePixelProbOff = .2


useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0,s1a,s2
set2 = s0,s5,s6,s7,s8,s9
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 480,0, 480,80, 0,80
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .0
maxSaturation = .1
minValue = .0
maxValue = .2

#--------------------------#

[s1a]
position = 0,16
coords = 25,0, 335,0, 335,10, 25,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 16
maxHue = 45
minSaturation = 0.5
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s2]
position = 0,34
coords = 25,0, 335,0, 335,10, 25,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 0.5
minValue = .8
maxValue = .99

[s2x]
position = 0,24
coords = 5,0, 472,0, 472,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99


#--------------------------#
#--------------------------#




[s3]
position = 0,64
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s4]
position = 0,92
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99





[s5]
position = 0,120
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.1
maxSaturation = 0.9
minValue = .8
maxValue = .99

[s6]
position = 0,148
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s7]
position = 0,176
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.1
maxSaturation = 0.9
minValue = .8
maxValue = .99

[s8]
position = 0,205
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s9]
position = 0,234
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99
















