[displayconfig]

work = image
# work = diagnostics

isRPI = False
rendering = hub
rotation = 180
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 64
rows = 6
cols = 4

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 224

# ---  preparing for rotation
windowWidth = 256
windowHeight = 224

canvasWidth = 256
canvasHeight = 224

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowXOffset = 120
# windowYOffset = 120

# Window Offset
windowXOffset = 2647
windowYOffset = 60

brightness =  .850
minBrightness = 0


remapImageBlock = False  
remapImageBlockSection = 0,0,384,256
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,0,256,128
remapImageBlockDestination2 = 0,192
remapImageBlockSection2rotation = 180

remapImageBlock3 = False
remapImageBlockSection3 = 128,0,256,128
remapImageBlockDestination3 = 0,96
remapImageBlockSection3rotation = 180

remapImageBlock4 = False
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64

usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 256
pixSortgap = 4
pixSortprobDraw = .012
pixSortprobGetNextColor = .1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .4
brightnessVarHi = 1.2
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = True
_ditherFilterBrightness = .95


###############################################
[images]
###############################################
# i1 = flames/fire-real-224x300-side-d2b2.gif

i1 = flames/fire-real-sheet-223-frames-y.png

imageIsSpriteSheet = True
frameWidth = 230
frameHeight = 224
totalFrames = 223
frameCols = 16
frameRows = 14

# slice parameters
sliceWidthMin = 230
sliceWidth = 230
sliceHeightMin = 224
sliceHeight = 224

resizeAnimationtoFit = True
animationWidth = 256
animationHeight = 224



useBlanks = False
useImageFilter = True
verticalOrientation = 0
resetProbability = .001

# for rotated image, lines are width, boxWidth is height
# 160
lines = 256
boxHeight = 16
boxWidth = 256
xPos1 = 0
yPosBase = 0
targetPalette = selective
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17
#targetClrs = 92,106,107,117,119,124
#targetClrs = 104,91,96,104,112,104
#targetClrs = 14,15,16
#targetClrs = 1,2,3

bgFilterProb = 0.1
imageFilterProb = .01

# the chance that the image stops and glitches
pausePlayProb = .031
# the chance release after pause
releasePauseProb = .004

# when and image is still, chance that a gltch happens
# the total number of glitches before things move on
imageGlitchProb = .06

# the increase of the imageGlichProb when the animation is paused
glitchChanceWhenPausedFactor = 20.0

# probability that the color will change
overlayChangeProb = .0075

# prob block will relocate
overlayChangePosProb = .01

# prob block will resize
overlayChangeSizeProb = .01

#alpha
colorOverlayAlpha = 150

# 1 = darker 0 = add
overLayMode = 1

# the prob that the animation of each frame happens
animateProb = 1.0

# total number of glitches per period allowed
imageGlitchCountLimit = 50

imageGlitchSize = 16
imageGlitchDisplacement = 70

imageGlitchDisplacementHorizontal = 20
imageglitchDisplacementVerical = 30
glitchCountRestFactor = 1

#after this many frames, force a glitch
forceGlitchFrameCount = 190

alterAsASCIIProb = .01

# delay is the time between checking if the frame should advance
delay = .02
# slotRate is kind of like frameRate in the sense that it represents
# the time delay before making a new frame
slotRate = .03

# used in fader class
# represents the number of fade-through frames between rendered images
# 0 is fast - i.e. same speed as delay, 1 evens things out, 40 is like
# slow motion
doingRefreshCount = 2
# if this is above 0 it will change the rate
doingRefreshCountVariability = .001
# the probability that the rate will return to the base fade-through count
doingRefreshCountVariabilityReset = .02
# the chance that the rate is fast vs slow-mo
doingRefreshCountFastProb = 0

# Color overlay / pixel color block
clrBlkWidth = 120
clrBlkHeight = 48
overlayxPos = 32
overlayyPos = 32

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .02
filterRemapminHoriSize = 256
filterRemapminVertSize = 236

filterRemapRangeX = 256
filterRemapRangeY = 256


[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 100,0,100
fontColor2 = 90,100,0
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

