[displayconfig]
#-----------------------------------------------#
# work = repeatblocks_2
# work = repeatblocks_3
work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
doFullReloadOnChange = False
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 8
cols = 4
rows = 11

# ---  Also determines the window geometry
screenWidth = 352
screenHeight = 352

# ---  preparing for rotation
windowWidth = 352
windowHeight = 352

canvasWidth = 352
canvasHeight = 352

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowXOffset = 3031
# windowYOffset = 60
windowXOffset = 120
windowYOffset = 100



brightness =  1.02
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,384,384
remapImageBlockDestination = 0,0

# remapImageBlock2 = True  
# remapImageBlockSection2 = 0,0,256,32
# remapImageBlockDestination2 = 16,0

# remapImageBlock3 = True  
# remapImageBlockSection3 = 0,32,256,64
# remapImageBlockDestination3 = 7,32

# remapImageBlock4 = True  
# remapImageBlockSection4 = 0,64,256,96
# remapImageBlockDestination4 = -10,64

# remapImageBlock5 = True  
# remapImageBlockSection5 = 0,96,256,128
# remapImageBlockDestination5 = -23,96

# remapImageBlock6 = True  
# remapImageBlockSection6 = 0,128,256,160
# remapImageBlockDestination6 = -37,128

usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = -2
pixSortboxHeight = 1
pixSortboxWidth = 192
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = False

forceBGSwap = False


[imageSequencePlayer]
useClipPlayer = True
clipXPos = 100
clipYPos = 100
clipRotate = 90
imageDirectory = ../video-python/result/
# delay = .02
# slotRate = .03
frameCount = 1072
useOverLay = True
overlayColor = 160,0,200,10
coloroverlayalpha = 200
clrBlkWidth = 100
clrBlkHeight = 100
overlayxPos = 0
overlayyPos = 0
overlayChangeProb = .05
overlayChangePosProb = .01
overlayChangeSizeProb = .01
randomPauseProb = .01
randomUnPauseProb = .01
videoWidth = 320
videoHeight = 240
clipWidth = 160
clipHeight = 110
maskBoxWidth = 64
maskBoxHeight = 32
maskBoxX = 10
maskBoxY = 0

#---------------------------------------------------------------------

[movingpattern]

#---------------------------------------------------------------------

# Template for other versions 11-18-2022

redrawSpeed =.03

blockWidth = 48
blockHeight = 48

cols = 10
rows = 10

useBlurSection = False
blurSectionWidth = 120
blurSectionHeight = 60
mask_blur_amt = 20
cp_blur_amt = 3
blurSectionXPos = 220
blurSectionYPos = 0

usePixelSortRandomize = False

canvasRotation = -0
canvasOffsetX = -0
canvasOffsetY = -0

transformShape = False
# width skew  
# vertical sheer
# haorizontal ,vertical perspective
transformTuples = 1.0, 1.0, .0, -.0,  1.50, 2.0, 0.0, 0.002
# transformTuples = .9, .0, .0, -.0,  1.0, .91, 0.001, 0.001
# transformTuples = 1.20, 0, 1.0, -.0,  1, 0.10, 0.005, 0.000

#--------------------- DISTURBANCES  ---------------------
sectionDisturbance = True
disturbanceConfigSets = standard
changeDisturbanceSetProb = .25

stableSectionsMin  = 4
stableSectionsMax  = 12
stableSectionsMinWidth  = 32
stableSectionsMinHeight  = 32
stableSectionsChangeProb  = .001

sectionWidthRange = 64,128
sectionHeightRange = 64,128

sectionPlacementXRange = 0,200
sectionPlacementYRange = 0,90

sectionRotationRange = 20

#--------------------- COLORS   ---------------------

bgColorAlpha = 100,250
# palettes = heat,blackOnPink
altColoringProb = 0.25
palettes = highkey,internet,heat,thegrays,china

#--------------------- PATTERNS  ---------------------
# the types of pattern
# wavePattern 
# reMove -->lines move
# diagonalMove  --> block moves 
# randomizer
# runningSpiral
# concentricBoxes
# runningSpiral
# diamond
# shingles
# circles
# waveScales
# fishScales

# patterns = decoBoxes,reMove,shingles,concentricBoxes,diamond,balls,concentricBoxes,randomizer,fishScales
patterns = waveScales,fishScales,randomizer
# circlesPacked

# initial patternModel
patternModel = waveScales
patternSequence = waveScales,0,0
rebuildPatternProbability = 0.007
patternModelVariations = True

# increases density of pattern for diamonds, balls, shingles
numRows = 2
numDotRows = 3
numRowsRandomize = False
numShingleRows = 2

shingleVariation = True 
shingleVariationRange = 6

# to be nice and even, has to be even multiple of blockWidth
# if you want artifact, then anything else ;)
lineDiff = 2
useDoubleLine = True

# decobox controls
decoboxbandwidth = 3

#waveScales controls
linesOnly = False
numScaleRows = 4
ringsRange = 8,16
stepsRange = 2,3

# for the diamond pattern
diamondStep = 1
randomizeSpeed = True

# for any moving pattern: diamond, reMove
xSpeed = .8
ySpeed = .25

# for the concentric squares
numConcentricBoxes = 24

# for the randomizer
randomBlockProb = .1
randomBlockWidth = 0
randomBlockHeight = 0

# skip the rendering of any block
#skipBlocks = 2, 3, 5, 7, 11, 13, 
skipBlocks = 1000

# For the sine wave repeater
steps = 2
amplitude = 9
yOffset = 12

steps2 = 2
amplitude2 = 9
yOffset2 = 13
phaseFactor = 4
speedFactor = 1



#--------------------- IAMGES  ---------------------
#imageSources = ./assets/imgs/drawings/P1060494.jpg,./assets/imgs/miscl/comp-448.jpg,./assets/imgs/miscl/lm_a.png
imageSources = ./assets/imgs/miscl/ptg_burn_320.jpg,./assets/imgs/miscl/config_screenshot.png,./assets/imgs/miscl/config_screenshot_2.png
#imageSources = ./assets/imgs/miscl/config_screenshot.png,./assets/imgs/miscl/config_screenshot_2.png
outPutPath = /Users/lamshell/Dropbox/studio/In Progress & Working Images/GEN IMAGES/bending_output/
loadAnImageProb = 0.0
saveImages = False


#--------------------- DISTURBANCE SETS #---------------------

[standard]
numberOfSections = 30
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 8,80
sectionHeightRange = 8,80
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .01
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .08
sectionSpeedFactorHorizontal = .80
sectionSpeedFactorVertical = 1.2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = False
randomDiagonal = True 
diagonalFixedAngle = 0


# the decrement in pasted movement - the higher the number up to 1.0 + 
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96

#--------------------- COLORS    ---------------------

[test]
minHue = 36
maxHue = 36
minSaturation = .0
maxSaturation = .0
minValue = .99
maxValue = .99
tLimitBase = 10

line_minHue = 0
line_maxHue = 0
line_minSaturation = .0
line_maxSaturation = .0
line_minValue = .0
line_maxValue = .0
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 0
line2_minSaturation = .90
line2_maxSaturation = .90
line2_minValue = .4
line2_maxValue = .4
line2_tLimitBase = 15

[internet]
minHue = 0
maxHue = 360
minSaturation = .1
maxSaturation = .99
minValue = .1
maxValue = .9
tLimitBase = 10

line_minHue = 0
line_maxHue = 360
line_minSaturation = .0
line_maxSaturation = .99
line_minValue = .0
line_maxValue = .0
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 360
line2_minSaturation = .0
line2_maxSaturation = 1.0
line2_minValue = .01
line2_maxValue = .9
line2_tLimitBase = 15

[highkey]
minHue = 0
maxHue = 360
minSaturation = .8
maxSaturation = .99
minValue = .5
maxValue = .9
tLimitBase = 10

line_minHue = 0
line_maxHue = 360
line_minSaturation = 1.0
line_maxSaturation = 1.0
line_minValue = .0
line_maxValue = .90
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 360
line2_minSaturation = 1.0
line2_maxSaturation = 1.0
line2_minValue = .5
line2_maxValue = .90
line2_tLimitBase = 15

[blackOnPink]
minHue = 300
maxHue = 340
minSaturation = .8
maxSaturation = .99
minValue = .3
maxValue = .5
tLimitBase = 10

line_minHue = 0
line_maxHue = 0
line_minSaturation = .0
line_maxSaturation = .10
line_minValue = .0
line_maxValue = .0
line_tLimitBase = 15

line2_minHue = 320
line2_maxHue = 10
line2_minSaturation = 1.0
line2_maxSaturation = 1.0
line2_minValue = .5
line2_maxValue = .5
line2_tLimitBase = 15

[highkeyOnPink]
minHue = 330
maxHue = 340
minSaturation = .8
maxSaturation = .99
minValue = .5
maxValue = .9
tLimitBase = 10

line_minHue = 0
line_maxHue = 360
line_minSaturation = 1.0
line_maxSaturation = 1.0
line_minValue = .0
line_maxValue = .90
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 360
line2_minSaturation = 1.0
line2_maxSaturation = 1.0
line2_minValue = .5
line2_maxValue = .90
line2_tLimitBase = 15

[china]
minHue = 200
maxHue = 245
minSaturation = .01
maxSaturation = .1
minValue = .5
maxValue = .9
tLimitBase = 25

line_minHue = 200
line_maxHue = 245
line_minSaturation = .9
line_maxSaturation = .99
line_minValue = .1
line_maxValue = .9
line_tLimitBase = 25

line2_minHue = 200
line2_maxHue = 360
line2_minSaturation = .9
line2_maxSaturation = .9
line2_minValue = .05
line2_maxValue = .9
line2_tLimitBase = 25

[thegrays]
minHue = 300
maxHue = 36
minSaturation = .01
maxSaturation = .1
minValue = .1
maxValue = .2
tLimitBase = 25

line_minHue = 0
line_maxHue = 45
line_minSaturation = .01
line_maxSaturation = .1
line_minValue = .510
line_maxValue = .60
line_tLimitBase = 25

line2_minHue = 60
line2_maxHue = 360
line2_minSaturation = .10
line2_maxSaturation = .10
line2_minValue = .05
line2_maxValue = .4
line2_tLimitBase = 25


[heat]
minHue = 355
maxHue = 10
minSaturation = .8
maxSaturation = .995
minValue = .1
maxValue = .5
tLimitBase = 25

line_minHue = 20
line_maxHue = 40
line_minSaturation = .85
line_maxSaturation = .99
line_minValue = .89
line_maxValue = .99
line_tLimitBase = 25

line2_minHue = 0
line2_maxHue = 15
line2_minSaturation = .99
line2_maxSaturation = .99
line2_minValue = .9
line2_maxValue = .9
line2_tLimitBase = 25



[diag]
#---------------------------------#

fontColor = 150,150,0
outlineColor = 120,0,0
fontColor2 = 0,100,100
bgColor = 0,0,104
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 120,40,0
borderColor = 10,0,0

