[displayconfig]

#work = image
# work = diagnostics
work = quilt-poly


rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True


isRPI = False

tileSizeHeight = 64
tileSizeWidth = 64
matrixTiles = 80
rows = 11
cols = 7

# ---  Also determines the window geometry
screenWidth = 452
screenHeight = 706

# ---  preparing for rotation
windowWidth = 452
windowHeight = 706

canvasWidth = 452
canvasHeight = 706

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 50
windowYOffset = 50


imageXOffset  = 0
imageYOffset  = 0

brightness =  1.2
minBrightness = 0

remapImageBlock = False
#********* If you want a little ghosting
#********* of the copied section, grab the full
#********* width of the image
#remapImageBlockSection = 0,128,192,256
remapImageBlockSection = 0,0,452,706
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 32,128,64,256
remapImageBlockDestination2 = 0,130

remapImageBlock3 = False
remapImageBlockSection3 = 0,128,192,256
remapImageBlockDestination3 = 0,130



usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 256
pixSortgap = 4
pixSortprobDraw = .005
pixSortprobGetNextColor = .1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .4
brightnessVarHi = 1.2
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = False
_ditherFilterBrightness = .95




[quilt-polys]
#---------------------------------#
pattern = polys

# Framerate
delay = .02

## Approximating timing so that any one triange changes once every 2 minutes or so
## e.g. .0005 prob checked every .01 seconds ~ .0005/ .01s = 5% chance per second ...
resetTrianglesProb = .9995
colorPopProb = .0001

# the probability that at the completion of all transisitons that
# a new quilt sizeing will be made
resetSizeProbability  = .8

blockSizeMin = 12
blockSizeMax = 12

blockRowsMin = 36
blockRowsMax = 36

blockColsMin = 10
blockColsMax = 10

gapSize = 0

cntrOffsetX = 0
cntrOffsetY = 0

lines = False
patternPrecision = True

timeToComplete = 60
transitionStepsMin = 25.0
transitionStepsMax = 150.0
randomness = 4

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99


transformShape = False

## No transform
transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0


activeSet = set2


[quilt-informal]
#-----------------------------------------------#
delay = .01
colorPopProb = .0001

numUnits = 12
blockSize = 2
blockLength = 2.6
blockHeight = 2.6

blockRows = 11
blockCols = 10
hGapSize = 4
vGapSize = 3

cntrOffsetX = 32
cntrOffsetY = 34

# LighteningStrike
# Regular
# Diagonals

opticalpatterns = Regular,LighteningStrike
# opticalpatterns = LighteningStrike,LighteningStrikeH,Regular,Diagonals,LighteningStrikeH
opticalPattern = Regular
saturationrangefactorleft = .8,1
saturationrangefactorright = .8,1
polyDistortion = 4
backgroundColor = 50,0,30,10

timeToComplete = 60

lines = True
patternPrecision = True

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .1
brightnessFactorLight = 1.99

transitionStepsMin = 15.0
transitionStepsMax = 300.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
#transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

## skew
transformTuples = .9, .5, 0, -.01,  1, 0, .0009, 0.00
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.0




[set1]
## red grid, greens for squares - high lumen
## BASE
c1HueRange = 0,36
c1SaturationRange = .8,1
c1ValueRange = .5,.8

## SQUARE
c2HueRange = 90,180
c2SaturationRange = .4,.6
c2ValueRange = .5,.6

## CENTER
c3HueRange = 0,36
c3SaturationRange = .9,1
c3ValueRange = .8,.99


[set2]
## diamond/sqaures recede due to being low saturarion
## BASE
c1HueRange =  1,360
c1SaturationRange = .8,1
c1ValueRange = .8,.99

## SQUARE
c2HueRange = 0,360
c2SaturationRange = .1,.5
c2ValueRange = .1,.8

## CENTER
c3HueRange = 0,360
c3SaturationRange = 1,1
c3ValueRange = .1,.8

[set3]
#	Red center diamonds
## BASE
c1HueRange = 1,360
c1SaturationRange = .8,1 
c1ValueRange = .3,.5

## SQUARE
c2HueRange = 1,20
c2SaturationRange = .8,1
c2ValueRange = .9,1

## CENTER
c3HueRange = 0,360
c3SaturationRange = .7,.9
c3ValueRange =  .1,.5

[set4]
#	Red grid - has most stained-glass feel ++

## BASE
c1HueRange = 0,29 
c1SaturationRange =  .9,1
c1ValueRange = .2,.22

## SQUARE
c2HueRange =  1,360
c2SaturationRange = .8,1
c2ValueRange = .4,.5

## CENTER
c3HueRange =  0,32
c3SaturationRange = .9,1
c3ValueRange = .5,.51






[diag]
#-----------------------------------------------#
fontColor = 0,255,90
outlineColor = 255,0,255
fontColor2 = 90,255,0
bgColor = 0,0,255
showGrid = True
fontSize = 9

brightness = 1.0
outerColor = 0,0,255
innerColor = 255,255,0
borderColor = 0,0,0

