[displayconfig]

work = informal-organix
# work = base
# work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = True

transwiring = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 320

# ---  preparing for rotation
windowWidth = 384
windowHeight = 320

canvasWidth = 384
canvasHeight = 320

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowXOffset = 2903
windowXOffset = 2583
windowYOffset = 123

brightness =  1.0
minBrightness = 0


usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 320
pixSortgap = 0
pixSortprobDraw = .95
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .1
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False
remapImageBlockSection = 0,0,100,200
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 0,96,448,128
remapImageBlockDestination3 = 64, 32
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False
remapImageBlockSection4 = 192,96,448,128
remapImageBlockDestination4 = 0, 0
remapImageBlockSection4Rotation = 0


useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 320
sectionBlurRadius = 4

useFilters = False
ditherfilterbrightness = 1.1

forceBGSwap = False

[output]
duration =  15
fps = 24
mode = video

[distortion]
#-------------------------------------------#

imageAsset = ./assets/imgs/bgs/stripes4.jpg
xPos = 0
yPos = 0
scrollSpeed = .150
xNoiseFactor = 10
yNoiseFactor = 1

period = 5.0
amplitude = 20.0
gridSpace = 10


#---------------------------------#
[noisescroller]
# Framerate
redrawSpeed = .03

#waves wavey rings ringLines ringLinesNoLoop
function = springs

# Springs
fixedYPos = 6
fixedYHeight = 240
changeColorSpringsProb = .001
changeSpringsProb = .005
springColorAlpha = 100
springXPosStart = 8
springYPosStart = 8
springXPosEnd = 20
springYPosEnd = 8


# rate of change
scrollRate = .002
# wave speed horizontal
travelRate = .05

# number of wave lines drawn
waveLines = 1

# wave height
amplitude = 3

amplitudeChangeProb = 1.0
amplitudeMin = 100
amplitudeMax = 100

# wave length
rowFactor = 10
colFactor = 20

# separation of lines
lineFactor = 2.75


# like "detail" level
# colInterval = 135
colInterval = 64

useWaveDistortion = False
wavegridspace = 10
waveAmplitude = 120
wavePeriodMod = 50
pNoiseMod = 0.1
waveDeformXPosRate = 1.10


xOffset = 0
yOffset = 96


# woody
lineColors = 200,135,5|255,135,2|105,50,2

# spectrum
# lineColors = 255,10,10|200,180,10|0,170,10|0,160,160|10,10,190|100,10,100

# lineColors = 200,55,5|100,22,5|100,220,5|10,120,5|10,120,5
# lineColors = 255,10,10|230,100,10|220,170,10|100,10,10|190,10,10

# reddish
bgColor = 120,0,60,190
# bgColor = 155,10,30,180
# bgColor = 40,1,3,180


rgbSplitFactor = 0
# if timeToChangeRings == -1 then time is randomized
# between 1 and 32 seconds
timeToChangeRings = 0
changeSizeOfMarkProb = 0

# ringLines repeats
frames = 0
radiusVal = 0
animationDuration = 0

radialFactor = 0
angle1ForFunnel = 0
angle2ForFunnel = 0

line_minHue = 0
line_maxHue = 0
line_minSaturation = 0
line_maxSaturation = 0
line_minValue = 0
line_maxValue = 0

numRings = 700
radiusMin = 35
pointsMin = 2
markSize = 0



bg_minHue = 0
bg_maxHue = 36
bg_minSaturation = .8
bg_maxSaturation = 1.0
bg_minValue = .05
bg_maxValue = .1

redAlpha = 50
greenAlpha = 80
blueAlpha = 100


# paletteSets = pal-rose,pal-yellows
paletteSets = pal_yellows,pal_rose,pal_rose,pal_rose,pal_rose

# 340,360,1.0,1.0,.250,.4
[pal_reds]
hMin = 0
hMax = 20
sMin = .8
sMax = 1.0
lMin = .20
lMax = .5

[pal_pinks]
hMin = 330
hMax = 350
sMin = 1.0
sMax = 1.0
lMin = .25
lMax = .4

[pal_rose]
hMin = 340
hMax = 345
sMin = .90
sMax = 1.0
lMin = .2
lMax = .5

[pal_yellows]
hMin = 37
hMax = 58
sMin = .8
sMax = 1.0
lMin = .40
lMax = .5

[pal_test]
hMin = 37
hMax = 58
sMin = .8
sMax = 1.0
lMin = .40
lMax = .5


[base]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = False
fontSize = 14


brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

