[displayconfig]
#----------------------------------------------------#
work = hashing-v2
# work = diagnostics
#----------------------------------------------------#

rotation = 0
fullRotation = True
rotationTrailing = False

checkForConfigChanges = False
doFullReloadOnChange = False

tileSizeHeight = 40
tileSizeWidth = 80
matrixTiles = 8
rows = 7
cols = 4

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 280

# ---  preparing for rotation
windowWidth = 320
windowHeight = 280

canvasWidth = 320
canvasHeight = 280


# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowXOffset = 647
# windowXOffset = 2583
# windowYOffset = 516
windowXOffset = 125
windowYOffset = 309


brightness =  1.1
minBrightness = 0


useFilters = False


# --------------------------------------------------#

# ################################################### #
# hatching hashing lines

[hatchingmarks]
#---------------------------------#
# Framerate
redrawSpeed = .03
# amplitude of noise
pointsPerLine = 28
curveResolution = 10

drawingWidth = 320
drawingHeight = 280


noiseAmplitude = 2
noiseAmplitudeRange = 1.1,4.0
lineSpeedRange = 1,3
baseWidthRange = 0,0
drawingHeightRange = 200,500
ratioFactorRange = 1,1
distributionRange = 4
numberOfinformalLines = 7

# more loops and tangles
tangleProb = 1.0
backTrackRange = 1,10

# grid single-lines
drawingShape = grid
renderLinesAsEnvelope = True

# these really control the feel of
# activity - frenetic grid, soft undulations
# sense of randomness on or through the grid
# @todo make into mode sets

xOffset = 0
pointsPerLineCol = 28
colAdj = 1
colFirst = True
noiseAmplitudeRangeCol = 1.1,4.0
colIntervalRange = 20,80
verticalMovement = True
verticalMovementProb = .002
vertLineChangeRange = .001,.02
vertLineSpeedRange = 1,3
vertBaseWidthRange = 0,0

yOffset = 0
pointsPerLineRow = 28
rowAdj = 1
rowIntervalRange = 20,80
horizontalMovement = True
noiseAmplitudeRangeRow = 1.1,4.0
horizontalMovementProb = 0.0020
horizLineChangeRange = .001,.002
horizLineSpeedRange = 1,3
horizBaseWidthRange = 0,0

uniformRatio = False
squareRatio = False

useSingleMode = False
# these only need to be set for singleMode
# vertLineChange = 0.5
# horizLineChange = 0.5
# bg_alpha = 10
# line_alpha = 180

# chance per frame the overall drawing character changes
changeLinesProb = .0008
changeBGProb = 0.0004

lightMode = True
lightModeProb = .5

pauseProb = .0002
unpauseProb = .003

bg_alpha_range = 20,140
line_alpha_range = 18,30

# when going full black/white return to base at this per cycle
bg_alpha_returnrate = .2

# smoothness + speed - higher is smoother
frames = 8
scrollRate = 0

line_minHue = 0
line_maxHue = 60
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0

line_light_minHue = 40
line_light_maxHue = 50
line_light_minSaturation = .5
line_light_maxSaturation = .50
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0
line_light_alpha_range = 180,230


bg_minHue = 355
bg_maxHue = 60
bg_minSaturation = 0.2
bg_maxSaturation = 0.5
bg_minValue = .6
bg_maxValue = .6
bg_dropHueMin = 11
bg_dropHueMax = 50

bgSets = 32,50,.2,.99,.9,.9|355,10,.2,.5,.6,.6

# blanks blocks
resetBlanksProb = .0005
numberOfDeadPixels = 2
blankColorAsColorProb = .0
sizeTarget = 320,280
colsRange = 32,128
rowsRange = 32,128



#--------------------- filterRemapping  ------------------

filterRemapping = False
filterRemappingProb = .002
filterRemapMinHoriSize = 12
filterRemapMaxHoriSize = 256
filterRemapMinVertSize = 3
filterRemapMaxVertSize = 16
filterRemapRangeX = 320
filterRemapRangeY = 280

contractXSpeed = 10
contractYSpeed = 10
expandXSpeed = 10
expandYSpeed = 10



[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

