[displayconfig]

work = particles

rendering = hub
isRPI = False
checkForConfigChanges = True

rotation = -90
fullRotation = True
rotationTrailing = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 16
cols = 8

# ---  Also determines the window geometry
screenWidth = 512
screenHeight = 512

# ---  preparing for rotation
windowWidth = 512
windowHeight = 512

canvasWidth = 512
canvasHeight = 512

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2977
windowXOffset = 2977
windowYOffset = 165


brightness =  .8
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False  
remapImageBlockSection = 256,256,448,384
remapImageBlockDestination = 64,128

remapImageBlock2 = False  
remapImageBlockSection2 = 256,384,448,512
remapImageBlockDestination2 = 64,0


useFilters = False


usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 12
pixSortboxWidth = 512
pixSortgap = 40
pixSortprobDraw = .1
pixSortprobGetNextColor = .1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .2
brightnessVarHi = 1.3
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0



useBlur  = False
blurXOffset = 64
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 128
sectionBlurRadius = 2




[particleSystem]
#-------------------------------------------#
numUnits = 229
delay = .02

xGravity = 0
yGravity = 0

xWind = -.2

torqueDelta = .1
torqueRate = -.1

ignoreBottom = False

speedMin = .2
speedMax = 9

meandorFactor = .5

#initial direction 3.14/2
variance = 1

objWidth = 50
objHeight = 60
objType = rect
objTrails = True

widthRate = .9994
heightRate = .9997

overallBlur = 1
unitBlur = 0

objColor = fixed

fillColor = 180,10,100,20
outlineColor = 184,40,1,105 
bgColor = 0,10,130,20


tlimitbase = 15

bgTransitions = True
bgRangeA =  100
bgRangeB = 300
hueMin = 0
hueMax = 360
maxBrightness = .955
bgTransparency = 10

transparencyRange = 100,230
#*****
centerRangeXMin = 200
centerRangeXMax = 950

centerRangeYMin = -300
centerRangeYMax = -90


damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 1,0,200,1
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190





[diag]
#-----------------------------------------------#
outlineColor = 85,0,10
fontColor = 0,100,0
fontColor2 = 90,100,0
bgColor = 0,0,20
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0




