[displayconfig]

work = particles

rendering = hub
rotation = 84
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 440
screenHeight = 440

# ---  preparing for rotation
windowWidth = 440
windowHeight = 440

canvasWidth = 440
canvasHeight = 440

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1680
windowYOffset = 275



brightness =  .95
minBrightness = 0

usePixelSort = False 
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 196
pixSortboxWidth = 196
pixSortgap = 80
pixSortprobDraw = .09
pixSortprobGetNextColor = .05
pixSortSizeDecriment = .60
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,448,448
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 0,0,128,32
remapImageBlockDestination3 = 128,128
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False
remapImageBlockSection4 = 64,32,128,64
remapImageBlockDestination4 = 128, 96
remapImageBlockSection4Rotation = 0



useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 320
sectionBlurRadius = 1


[particleSystem]
#-------------------------------------------#
numUnits = 100

ignoreBottom = False

speedMin = .1
speedMax = 3


useWaveDistortion = True
wavegridspace = 20
waveAmplitude = 90
wavePeriodMod = 10
pNoiseMod = 10

#initial direction 3.14/2
variance = 1

objWidth = 50
objHeight = 30
objType = rect
objTrails = False

widthRate = .995
heightRate = .9999

overallBlur = 1
unitBlur = 0

pixelsGoGrayModel = 1
pixelsGoGray = True
jumpToGray = True
greyRate = 350
restartProb = .0001

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapminHoriSize = 224
filterRemapminVertSize = 120

filterRemapRangeX = 300
filterRemapRangeY = 380

xGravity = 0
yGravity = 0
xWind = 0
torquedelta = 0

objColor = fixed
fillColor = 230,230,230,25
outlineColor = 230,230,230,25
bgColor = 3,20,120,5
extraOutlineColor = 0,25,70,100

bgTransitions = True
bgRangeA =  0
bgRangeB = 0
hueMin = 0
hueMax = 0
maxBrightness = .955
bgTransparency = 10

transparencyRange = 100,230
#*****
centerRangeXMin = 30
centerRangeXMax = 320
centerRangeYMin = -220
centerRangeYMax = 200

damping = 1
collisionDamping = 1

borderCollisions = False
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
meandorfactor = 0.1

useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 255,200,0,100
clrBlkWidth = 32
clrBlkHeight = 320
overlayxPos = 0
overlayyPos = 0
#overlayColor = 88,40,0,190



