[markParams]
name=longOvalSweeps1
minNumPoints = 8
maxNumPoints = 8

num_points = 8
turnsRange = 3,7
minInterpolatedPoints = 190
maxInterpolatedPoints = 220

baseRadiusFactorRange = 1.5,1.8
xRadiusFactorRange = .50,.71
yRadiusFactorRange = .90,1.2

xRadiusFactorNoiseFactor = 1.0
yRadiusFactorNoiseFactor = 1.0
xRandomRange = -10, 20
yRandomRange = -10, 10

rotationFactor = 8

# xOffsetRange = -0,0
# yOffsetRange = -0,-0
# xOffsetRange = -2,10
# yOffsetRange = -40,-10
w = 6
mode = 2
minMarkWidth = 1
maxMarkWidth = 12
changeMarkWidthProb =.09
incrementFactor = 1

xTravelRange = -4,8
yTravelRange = -4,4

radiusChangePerRound = -.1
