[displayconfig]

work0 = diagnostics
work1 = image
work2 = particles
work3 = marquee_2
work = scroller-holder

rendering = hub
rotation = .1
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

usePixelSort = False
pixSortDirection = medial
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 200
pixSortboxWidth = 400
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 20
rows = 8
cols = 5

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 256

# ---  preparing for rotation
windowWidth = 320
windowHeight = 256

canvasWidth = 320
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 2
canvasOffsetY = 3

# Window Offset
windowXOffset = 2606
windowYOffset = 169

brightness =  .95
minBrightness = 0

remapImageBlock = True
remapImageBlockSection = 0,0,128,128
remapImageBlockDestination = 192,128

#-----------------------------------------------#
[diag]
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14

#-----------------------------------------------#

[scroller]

useOverLayImage = False
useArrows = False
useImages = False
useTransparentImages = False
useBackground = True
useText = False
useAltText = False

patternSpeed = .3
textSpeed = 1
arrowSpeed = -3
imageSpeed = -2

redrawSpeed = .01

xOffset = -5
yOffset = 0

displayRows = 4
displayCols = 10

#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 50
textVOffest = -12
shadowSize = 1

msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY
msg3 = 1234567890

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .2

patternRows = 3
patternCols = 12
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .41
pattern = lines

lineThickness = 2
arrowCols = 10

bgBackGroundColor = 10,10,100,90
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20

alwaysRandomPatternColor = True
alwaysRandomPattern = False


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 8
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
imageBlockImage = /assets/imgs/sks/skull-s4d.png
# Spacing...
imageBlockBuffer = 40
imageBlockRemakeProb = .1





#-----------------------------------------------#
[marquee]
redrawSpeed = .02
marqueeNum = 10
marqueeWidth = 15
baseDashSize = 80
gap = 2
step = 3
decrement = 1
randomRange = 200.0

fontsize = 44
shadowSize = 1


#-----------------------------------------------#

[images]
i1 = flames/flame-comp5.gif
i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .001

[filter]
# for rotated image, lines are width, boxWidth is height
# 160
lines = 160
boxHeight = 16
boxWidth = 190
xPos1 = 0
yPosBase = 0
targetPalette = selective
#targetClrs = 92,106,107,117,119,124
#targetClrs = 104,91,96,104,112,104
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17

bgFilterProb = 0.01
imageFilterProb = .16
imageGlitchProb = .2
imageGlitchSize = 8
imageGlitchDisplacement = 15
animateProb = .988

# Color overlay / pixel color block
clrBlkWidth = 15
clrBlkHeight = 7
overlayxPos = 100
overlayyPos = 0
overlayChangeProb = .005
overlayChangePosProb = .85

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4

#-----------------------------------------------#

[particleSystem]

numUnits = 200

xGravity = 0
yGravity = 0
ignoreBottom = False

speedMin = 2
speedMax = 4
variance = 0

objWidth = 4
objHeight = 6
objType = rect

widthRate = 1
heightRate = 1

overallBlur = 0
unitBlur = 0

objColor = rnd
fillColor = 240,150,0,180
outlineColor = 100,0,0,50

centerRangeXMin = 10
centerRangeXMax = 20
centerRangeYMin = 8
centerRangeYMax = 16

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = False

#movement = meander
movement = travel
useFlocking = True
cohesionDistance = 10
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = True

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

bgColor = 0,0,100,230

useOverLay = False
overlayColor = 60,100,0,100
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 128
overlayyPos = 100
#overlayColor = 88,40,0,190




