[displayconfig]

work = user

isRPI = True
rendering = hat
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 8
rows = 2
cols = 4

## Also determines the window geometry
screenWidth = 128
screenHeight = 129

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 128
canvasHeight = 129

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 2

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = 40
windowYOffset = 40

# Window Offset
#windowXOffset = 2599
#windowYOffset = 66

#For direct to HAT
transwiring = True
actualScreenWidth = 256

[user]
scale = 2
userCenterx = -2
userCentery = 7

[squares]
lineWidth = 1
countLimit = 12
pulseSpeed = .09
mode = cols
