[displayconfig]
matrixTiles = 8
tileSizeHeight = 32
tileSizeWidth = 32
rows = 6
cols = 5
screenWidth = 192
screenHeight = 162
brightness =  .85
minBrightness = 0
work = stroop2
useFilters = False
rendering = hub
mode = video
rotation = 90
canvasWidth = 192
canvasHeight = 192

[output]
duration =  120
fps = 60

[stroop]
fontSize = 84
vOffset = -10
scrollSpeed = .03
stroopSpeed = .01
stroopSteps = 2
shadowSize = 2
stroopFontSize = 30
useColorFlicker = 0
highervariability = True
verticalBg =  False
displayRows = 6
displayCols = 6
simulBlocks = 3
## options are reveal, revealmove, move
movementMode = reveal
