[displayconfig]

work = particles

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 10
cols = 5

## Also determines the window geometry
screenWidth = 320
screenHeight = 384

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 320
canvasHeight = 384

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2977
windowYOffset = 165

brightness =  1.2
minBrightness = 0

brightnessVariation = True
brightnessVariationProb = .005


usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 320
pixSortgap = 4
pixSortprobDraw = .8
pixSortprobGetNextColor = 1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = 1.0


useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 320
sectionBlurRadius = 10

useFilters = True
ditherFilterBrightness = .95

remapImageBlock = True
remapImageBlockSection = 192,192,256,320
remapImageBlockDestination = 64,64

remapImageBlock2 = True
remapImageBlockSection2 = 192,256,256,320
remapImageBlockDestination2 = 64,128

remapImageBlock3 = True
remapImageBlockSection3 = 0,256,320,320
remapImageBlockDestination3 = -128,256

remapImageBlock4 = True
remapImageBlockSection4 = 0,256,320,320
remapImageBlockDestination4 = -64,256


[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,25
outlineColor = 0,255,0
bgColor = 50,50,200
showGrid = True
fontSize = 14



[particleSystem]
#--------------------------#
numUnits = 290
delay = .02

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = .1
speedMax = 1

meandorfactor = .35

#initial direction 3.14/2
variance = 1

objWidth = 50
objHeight = 60
objType = rect
objTrails = False

widthRate = .998
heightRate = .999

overallBlur = 1
unitBlur = 0

objColor = fixed
fillColor = 180,100,0,30
outlineColor = 184,80,1,105 
#bgColor = 80,10,0,20
bgColor = 80,10,30,20

bgTransitions = True
bgRangeA =  100
bgRangeB = 300
hueMin = 0
hueMax = 360
maxBrightness = .955
bgTransparency = 10

transparencyRange = 10,30

#*****
centerRangeXMin = 10
centerRangeYMin = -170

centerRangeXMax = 320
centerRangeYMax = -10

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 100,0,200,1
clrBlkWidth = 32
clrBlkHeight = 32
overlayxPos = 60
overlayyPos = 60
#overlayColor = 88,40,0,190



