[displayconfig]

work = screen

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 10
cols = 5

## Also determines the window geometry
screenWidth = 320
screenHeight = 384

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 320
canvasHeight = 384

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 5
canvasOffsetY = 3

# Window Offset
windowXOffset = 2811
windowYOffset = 137

brightness =  1.0
minBrightness = 0

brightnessVariation = True
brightnessVariationProb = .005


usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 320
pixSortgap = 4
pixSortprobDraw = .99
pixSortprobGetNextColor = 1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = 1.0


useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 320
sectionBlurRadius = 10

remapImageBlock = True
remapImageBlockSection = 192,0,256,64
remapImageBlockDestination = 64,64

remapImageBlock2 = True
remapImageBlockSection2 = 192,256,256,320
remapImageBlockDestination2 = 64,128

remapImageBlock3 = True
remapImageBlockSection3 = 0,256,320,320
remapImageBlockDestination3 = -64,256

[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,25
outlineColor = 0,255,0
bgColor = 50,50,200
showGrid = True
fontSize = 14




[screenproject]
#-----------------------------------------------#
delay = .02
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 7
pointsCount = 5
drawCracks = False
origin = 15,4

## Used when first creating the cracks
yVarMin = 6
yVarMax = 36

randomColorSampleProb = .03
probDrawBoxes = .2
probDrawLines = .001
probDrawPerpLines = .1
crackChangeProb = .1
imageResetProb = .001

timeTrigger = True

pauseProb = .001
unpauseProb = .01

## This controls the range of background colors
tLimitBase = 10
minHue = 340
maxHue = 30
minSaturation = .8
maxSaturation = 1
minValue = .1
maxValue = .3
maxBrightness = .9



