[displayconfig]

work = compositions

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
cols = 5
rows = 8

# ---  Also determines the window geometry
screenWidth = 322
screenHeight = 256

# ---  preparing for rotation
windowWidth = 322
windowHeight = 256

canvasWidth = 322
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2977
windowYOffset = 145

brightness =  .65
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,128,192,256
remapImageBlockDestination = 38,108

remapImageBlock2 = False  
remapImageBlockSection2 = 32,128,64,256
remapImageBlockDestination2 = 0,130




[compositions]
#---------------------------------#
# Framerate
delay = .02
canvasImageWidth = 322
canvasImageHeight = 256

refreshCount = 400
timeToComplete = 30
cleanSlateProbability = .8
filterPatchProb = .25

bgColor = 50,50,50

#background Color Controls
minHue = 0
maxHue = 360
minSaturation = .1
maxSaturation = .8
minValue = .1
maxValue = .4




[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
