[displayconfig]

work = fluddfactory

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

usePixelSort = False
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 2
pixSortboxWidth = 400
pixSortgap = 0
pixSortprobDraw = .98
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 130
pixSortDrawVariance = 0
randomColorProbabilty = .005
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 20
rows = 8
cols = 5

# ---  Also determines the window geometry
screenWidth = 322
screenHeight = 322

# ---  preparing for rotation
windowWidth = 320
windowHeight = 256

canvasWidth = 320
canvasHeight = 256

imageXOffset = 0
imageYOffset = -10

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 2
canvasOffsetY = 3

# Window Offset
windowXOffset = 2606
windowYOffset = 169

brightness =  1.0
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,128,128
remapImageBlockDestination = 192,128

#-----------------------------------------------#


[fludd]

### Now kind of like the Broken Modernist Project ...
## 16/12  8/6  4/3  
rowsOfSquares = 20
colsOfSquares = 8
var = 14

prisimBrightness = .95
redrawSpeed = .02
changeBoxProb = .0004

transitionStepsMin = 20
transitionStepsMax = 100

fixedCenterColor = 200,1,100
usedFixedCenterColor = False

# prism or plenum
# prism is all colors all at once, = no color
# plenum is all white, = all color = no color
borderModel = prism

# nothing or void 
# nothing is white nothing with nothing border implied
# void is black nothing implied
nothing = void

# varianceMode = symmetrical, asymmetrical, independent
varianceMode = asymmetrical

# if demoMode == 0, no rotation of variants
# demoMode > 0 is seconds/variant
demoMode = 0