[displayconfig]

work = present

rendering = hub
rotation = 180
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

usePixelSort = False
pixSortDirection = medial
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 70
pixSortboxHeight = 20
pixSortboxWidth = 40
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 12
rows = 8
cols = 5

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 256

# ---  preparing for rotation
windowWidth = 320
windowHeight = 256

canvasWidth = 320
canvasHeight = 256

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2562
windowYOffset = 35

brightness =  1.9
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

[images]

#imageList = bgs/320x192bg2.png,sks/sk320lf.png,sks/sk320rf.png
unitCount = 3
imageList = bgs/320x192bg.png,sks/sk320.png
#unitCount = 2

displayRows = 8
displayCols = 10

useJitter = False    
useBlink = True
noTrails = False

scalingFactor = 1
speedFactor = 1
vOffset = -10
redrawSpeed = .02
jitterRange = 20

# --- Base probability per cycle that giltch will happen
glitchRate = .01

# --- Probability per cycle that giltches will start happening
glitchModeRate = .01

# --- Probability per cycle that giltch will return to normal
glitchResetRate = .01

# --- The height/width of the glitch box
imageGlitchSize = 10

colorChage = .1
colorBGChage = .1

# --- colorWheel #random #colorRGB #fixed
colorMode = colorRGB
randomColorMode = True

[filter]
# Color overlay / pixel color block
clrBlkWidth = 0
clrBlkHeight = 0
overlayxPos = 0
overlayyPos = 0
overlayChangeProb = .5
overlayChangePosProb = .001

