[displayconfig]

work0 = diagnostics
work1 = image
work2 = particles
work3 = marquee_2
work4 = scroller-holder
work5 = repeater
work6 = quilt-informal
work = screen

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

usePixelSort = False
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 60
pixSortboxHeight = 2
pixSortboxWidth = 400
pixSortgap = 0
pixSortprobDraw = .98
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 130
pixSortDrawVariance = 0
randomColorProbabilty = .005
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 20
rows = 8
cols = 5

# ---  Also determines the window geometry
screenWidth = 322
screenHeight = 322

# ---  preparing for rotation
windowWidth = 320
windowHeight = 256

canvasWidth = 320
canvasHeight = 256

imageXOffset = 0
imageYOffset = -20

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 2
canvasOffsetY = 3

# Window Offset
windowXOffset = 2606
windowYOffset = 169

brightness =  1.95
minBrightness = 0

remapImageBlock = True
remapImageBlockSection = 0,0,128,128
remapImageBlockDestination = 192,128

#-----------------------------------------------#

[screenproject]
delay = .02
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 7
pointsCount = 5
drawCracks = False
origin = 15,4

## Used when first creating the cracks
yVarMin = 6
yVarMax = 36

randomColorSampleProb = .91
probDrawLines = .9
probDrawBoxes = .0004
probDrawPerpLines = .8
crackChangeProb = .01
imageResetProb = .001

timeTrigger = True
tLimitBase = 10

minHue = 0
maxHue = 360
minSaturation = .8
maxSaturation = 1
minValue = .1
maxValue = .3
maxBrightness = .3




