[displayconfig]
#-----------------------------------------------#
work = repeatblocks

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 4
pixSortboxHeight = 128
pixSortboxWidth = 100
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .999
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .7
brightnessVarHi = .7
pixelSortAppearanceProb = 1.0

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 8
rows = 6
cols = 6

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1656
windowYOffset = 69

brightness =  .7
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 1

useFilters = False
ditherfilterbrightness = .9

remapImageBlock = False
remapImageBlockSection = 0,0,256,192
remapImageBlockDestination = 0,0

remapImageBlock2 = True
remapImageBlockSection2 =  32,32,64,64
remapImageBlockDestination2 = 96,32
remapImageBlockSection2Rotation = 0

remapImageBlock3 = True
remapImageBlockSection3 =  32,64,64,96
remapImageBlockDestination3 = 64,64
remapImageBlockSection3Rotation = 0

remapImageBlock4 = True
remapImageBlockSection4 =  96,128,128,160
remapImageBlockDestination4 = 0,96

######################################################################

[basePalette]
minHue = 300
maxHue = 36
minSaturation = .1
maxSaturation = .6
minValue = .1
maxValue = .5
tLimitBase = 10

line_minHue = 180
line_maxHue = 45
line_minSaturation = .10
line_maxSaturation = .99
line_minValue = .010
line_maxValue = .60
line_tLimitBase = 15

line2_minHue = 60
line2_maxHue = 360
line2_minSaturation = .10
line2_maxSaturation = .10
line2_minValue = .0
line2_maxValue = .70
line2_tLimitBase = 15

[heat]
minHue = 0
maxHue = 8
minSaturation = .8
maxSaturation = .995
minValue = .3
maxValue = .3
tLimitBase = 15

line_minHue = 20
line_maxHue = 20
line_minSaturation = .7
line_maxSaturation = .99
line_minValue = .5
line_maxValue = .8
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 15
line2_minSaturation = .8
line2_maxSaturation = .99
line2_minValue = .1
line2_maxValue = .3
line2_tLimitBase = 15

[fishing]
minHue = 180
maxHue = 220
minSaturation = .5
maxSaturation = .99
minValue = .1
maxValue = .2
tLimitBase = 15

line_minHue = 15
line_maxHue = 36
line_minSaturation = .5
line_maxSaturation = .99
line_minValue = .25
line_maxValue = .99
line_tLimitBase = 15

line2_minHue = 170
line2_maxHue = 220
line2_minSaturation = .1
line2_maxSaturation = .99
line2_minValue = .1
line2_maxValue = .8
line2_tLimitBase = 15

[thegrays]
minHue = 300
maxHue = 36
minSaturation = .01
maxSaturation = .1
minValue = .1
maxValue = .5
tLimitBase = 10

line_minHue = 0
line_maxHue = 45
line_minSaturation = .01
line_maxSaturation = .1
line_minValue = .010
line_maxValue = .60
line_tLimitBase = 15

line2_minHue = 60
line2_maxHue = 360
line2_minSaturation = .10
line2_maxSaturation = .10
line2_minValue = .05
line2_maxValue = .4
line2_tLimitBase = 15


[movingpattern]
######################################################################

redrawSpeed =.03


# to be nice and even, has to be even multiple of blockWidth
# if you want artifcat, then anything else ;)
lineDiff = 3
useDoubleLine = True


palette = basePalette
palettes = fishing,heat,thegrays,basePalette


blockWidth = 18
blockHeight = 18

rows = 10
cols = 10

# the types of pattern
# wavePattern 
# reMove -->lines move
# diagonalMove  --> block moves 
# randomizer
# runningSpiral
# concentricBoxes
# runningSpiral
# diamond
# shingles
# circles
# balls

patterns = wavePattern,reMove,randomizer,runningSpiral,concentricBoxes,runningSpiral,diamond,shingles,circles,balls
patternModel = shingles
patternModelVariations = True

#patternSequence = shingles,0,0,diamond,4,0,runningSpiral,22,1,reMove,42,0,concentricBoxes,63,0,shingles,95,1
#patternSequence = shingles,0,0,runningSpiral,4,1,reMove,42,1

# clr (line_) dominant & uniform
# pattern,start-position,alternate-rotation, .....
patternSequence = shingles,0,0,diamond,42,1,diamond,84,0,randomizer,98,0,shingles,99,0
rebuildPatternProbability = 0.008

# increases density of pattern for diamonds, balls, shingles
numRows = 2
numRowsRandomize = True

# for the diamond pattern
diamondStep = 1
randomizeSpeed = True

# for any moving pattern: diamond, reMove
xSpeed = .25
ySpeed = .8

# for the concentric squares
numConcentricBoxes = 8

# for the randomizer
randomBlockProb = .4
randomBlockWidth = 0
randomBlockHeight = 0

# skip the rendering of any block
#skipBlocks = 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97
skipBlocks = 1000

# For the sine wave repeater
steps = 4
amplitude = 12
yOffset = 12

steps2 = 6
amplitude2 = 12
yOffset2 = 13
phaseFactor = 4
speedFactor = 1




[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,104
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0



