[displayconfig]

work = scroller-holder

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 8
rows = 6
cols = 9

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 96

# ---  preparing for rotation
windowWidth = 256
windowHeight = 96

canvasWidth = 256
canvasHeight = 96

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1496
windowYOffset = 69

brightness =  1.00
minBrightness = 0

imageXOffset = 0
imageYOffset = 0
remapImageBlock = False
remapImageBlockSection = 0,0,384,192
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0, 384,192
remapImageBlockDestination2 = 0,0

useFilters = False

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 96
sectionBlurRadius = 2

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 48
pixSortboxHeight = 2
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .2
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

forceBGSwap = False

[scroller]
#-----------------------------------------------#

useOverLayImage = False
useArrows = False
useImages = False
useTransparentImages = False

# for pattern scrolling
useBackground = True

useText = False
useAltText = False

textSpeed = 1
arrowSpeed = -3
imageSpeed = -2

redrawSpeed = .01

xOffset = 0
yOffset = 0

displayRows = 4
displayCols = 5

patternSpeed = .4
patternRows = 5
patternCols = 260
patternRowsOffset = 80
patternColsOffset = 10
patternDrawProb = .650
# lines or diamonds bricks pluses regularLines
pattern = lines

altDirectionScrolling = True
alwaysRandomPatternColor = True
alwaysRandomPattern = False
pauseProb = 0.0



#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 50
textVOffest = -12
shadowSize = 1


msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY
msg3 = 1234567890

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .2


lineThickness = 2
arrowCols = 10
# This actually is not working  ;(
bgBackGroundColor = 0,0,0,0
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20


bg_minHue = 350
bg_maxHue = 50
bg_minSaturation = .9
bg_maxSaturation = .9
bg_minValue = .5
bg_maxValue = .5

fg_minHue = 180
fg_maxHue = 260
fg_minSaturation = .7
fg_maxSaturation = .99
fg_minValue = .1
fg_maxValue = .5


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 8
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
imageBlockImage = /assets/imgs/sks/skull-s4d.png
# Spacing...
imageBlockBuffer = 40
imageBlockRemakeProb = .1

