[displayconfig]

#----------------------------------------------------##----------------------------------------------------#
work = spritesheet3
# work = diagnostics
# Production Config for ObearX v1.2 Seoul 2024-07-02
#----------------------------------------------------##----------------------------------------------------#

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True

isRPI = False

tileSizeHeight = 64
tileSizeWidth = 64
matrixTiles = 8
rows = 8
cols = 8

# ---  Also determines the window geometry
screenWidth = 448
screenHeight = 192

# ---  preparing for rotation
windowWidth = 448
windowHeight = 192

canvasWidth = 448
canvasHeight = 192

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583	
windowYOffset = 86

brightness =  1.0
minBrightness = 0.95

imageXOffset = 0
imageYOffset = 0


remapImageBlock = False
remapImageBlockSection = 0,0,320,384
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,0,192,192
remapImageBlockDestination2 = 0, -32
remapImageBlockSection2Rotation = 0


remapImageBlock3 = False
remapImageBlockSection3 =  0,0,192,192
remapImageBlockDestination3 = 0,0



usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 192
pixSortboxWidth = 1
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = True
ditherfilterbrightness = 1.0

forceBGSwap = False


#----------------------------------------------------##----------------------------------------------------#
[base-parameters]
#----------------------------------------------------##----------------------------------------------------#

# the delay between cycles
playSpeed = .02
delay = .05
slotRate = .03

# chance the pixelsort lines appear
pixelSortProbOn = .005
pixelSortProbOff = .015

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .004
filterRemapminHoriSize = 448
filterRemapminVertSize = 256

filterRemapRangeX = 448
filterRemapRangeY = 320


# animations = obear-turning,obear,obear-3,pensive-left,testy-char
# animations = obear-turning
animations = testy-char

playTimes = 30,30,30,30,20
playInOrder = False

drawMoire = True
drawMoireProb = .01
drawMoireProbOff = .08

moireXPos  = 160
moireYPos  = 110
moireXDistance = 10
moireYDistance = 10

setMoireColor = False
moireColor = 0,140,60,50
moireColorAlt = 40,0,0,100
moireColorAltProb = .5


animationFrameXOffset = 0
animationFrameYOffset = 0


usebgBox = True
# changed to be chance that an overlay block is drawn 
usebgBoxProb = .05
clearbgBoxprob = .0003
bgBoxBox = 0,0,256,256

bgTileSizeWidthMin = 64
bgTileSizeHeightMin = 64
bgTileSizeWidthMax = 128
bgTileSizeHeightMax = 129

# bgBoxColorRange = 0,360,0.10,1.0,.10,1.0,0,0
bgBoxColorRange = 120,66,.750,1.0,.0,1.0,0,0
bgBoxAlphaRange = 40,248
forcebgBox = True


compositionModeChangeProb = .01

bgGlitchCyclesMin = 4
bgGlitchCyclesMax = 30
bgGlitchDisplacementHorizontal = 10
bgGlitchDisplacementVertical = 10


#----------------------------------------------------##----------------------------------------------------#
[testy-char]
i1 = assets/imgs/spritesheets/mile.png
#----------------------------------------------------##----------------------------------------------------#

# Number of individual animation units
numberOfCells = 1

randomPlacement = True
# the spritesheet frame dimensions
frameWidth = 320
frameHeight = 320
totalFrames = 12
frameCols = 4
frameRows = 3

# slice parameters
sliceWidthMin = 320
sliceWidth = 320
sliceHeightMin = 320
sliceHeight = 320
step = 1
fixedPosition = True

# controls speed 2 is generally very smooth
animSpeedMin = 3
animSpeedMax = 3

reversing = True

# the animation is drawn onto a buffered image 
# that can be resized
animationWidth = 448
animationHeight = 192
resizeAnimationtoFit = True

# rotates each animation unit
animationRotation = 0
# random +/- range
animationRotationJitter = 1
# if this is non-zero, will rotate each unit
# in random +/- range
animationRotationRateRange = 0.05
# compensates for rotation if needed
animationXOffset = -28
animationYOffset = -0

# When first drawn onto canvas
# if rotated by 90 degrees, x offset becomes apparent
# y or vertical offset and visaversa for y becoming
# the horizontal displacement
# with the character animations, often best to keep
# tied to the bottom edge of the screen / canvas
randomPlacemnetXRange = 10
randomPlacemnetYRange = 10

# probability that any one unit changes parameters and position
changeAnimProb = .001
# chance that animations all pause
pauseProb = 0.05
# chance that unimations resume
unPauseProb = .01
# chance that the glitching pauses
freezeGlitchProb = 0.03
# chance that the glitching resumes
unFreezeGlitchProb = .06

# pause on first frame of spritesheet
pauseOnFirstFrameProb = .075
pauseOnLastFrameProb = .01

# glitch displacement parameters 
# random from 1 to these values
imageGlitchDisplacementHorizontal = 2
imageGlitchDisplacementVertical = 3


# background color HSV ranges
bg_minHue = 240
bg_maxHue = 37
bg_minSaturation = 1.0
bg_maxSaturation = 1.0
bg_minValue = .99
bg_maxValue = .99
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 255

# chance that the background changes
backgroundColorChangeProb = .01

#----------------------------------------------------##----------------------------------------------------#
[diag]
#----------------------------------------------------##----------------------------------------------------#
fontColor = 0,100,290
outlineColor = 205,0,0
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0


