[displayconfig]
#-----------------------------------------------#
__work = repeatblocks
_work = diagnostics

work = particles

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 110
matrixTiles = 8
rows = 2
cols = 16

# ---  Also determines the window geometry
screenWidth = 2800
screenHeight = 1200

# ---  preparing for rotation
windowWidth = 400
windowHeight = 1025

canvasWidth = 2800
canvasHeight = 32

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1537
windowYOffset = 69

brightness =  .98
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 16
pixSortboxWidth = 128
pixSortgap = 1
pixSortprobDraw = .1
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .9


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,256,16
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = -182

remapImageBlock3 = False
remapImageBlockSection3 = 0,16,256,30
remapImageBlockDestination3 = 0,16
remapImageBlockSection3Rotation = -6

remapImageBlock4 = False
remapImageBlockSection4 = 0,32,128,256
remapImageBlockDestination4 = 0, 32
remapImageBlockSection4Rotation = -180


useBlur = False
blurXOffset = 20
blurYOffset = 0
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 3

useFilters = False

forceBGSwap = False

[particleSystem]
#-------------------------------------------#
numUnits = 190

xGravity = 0
yGravity = 0
xWind = 0
torquedelta = 0

ignoreBottom = False

speedMin = 1
speedMax = 5

#initial direction 3.14/2
variance = 1

objWidth = 40
objHeight = 50
objType = rect
objTrails = False

widthRate = .992
heightRate = .997
particlewinkoutxmin = 10
particlewinkoutymin = 10

overallBlur = 1
unitBlur = 0

pixelsGoGrayModel = 1
pixelsGoGray = True
jumpToGray = True
greyRate = 350
restartProb = .0001

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapminHoriSize = 224
filterRemapminVertSize = 120

filterRemapRangeX = 160
filterRemapRangeY = 96

objColor = fixed
#fillColor = 240,125,8,35
#outlineColor = 200,10,40,250
#bgColor = 60,0,4,50
#extraOutlineColor = 0,70,25,100

## reversed B-G colors
# actually a more interesting pink flame
fillColor = 240,8,125,35
outlineColor = 200,40,10,250
bgColor = 60,4,0,50
extraOutlineColor = 0,25,70,100


bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****
centerRangeXMin = 30
centerRangeXMax = 320
centerRangeYMin = -10
centerRangeYMax = 100

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
meandorfactor = .5
linearMotionAlsoHorizontal = False
# meanderDirection = 0 is vertical, 1 is horizontal
meanderdirection = 1
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
trailingFade = 200

useOverLay = False
overlayColor = 10,0,250,200
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 0
overlayyPos = 0
#overlayColor = 88,40,0,190

[diag]
#---------------------------------#

fontColor = 150,150,0
outlineColor = 120,0,0
fontColor2 = 0,100,100
bgColor = 0,0,104
showGrid = True
fontSize = 8

brightness =  .2
outerColor = 10,0,100
innerColor = 120,40,0
borderColor = 10,0,0



######################################################################

[thegrays]
minHue = 300
maxHue = 36
minSaturation = .01
maxSaturation = .1
minValue = .1
maxValue = .5
tLimitBase = 10

line_minHue = 0
line_maxHue = 45
line_minSaturation = .01
line_maxSaturation = .1
line_minValue = .010
line_maxValue = .60
line_tLimitBase = 15

line2_minHue = 60
line2_maxHue = 360
line2_minSaturation = .10
line2_maxSaturation = .10
line2_minValue = .05
line2_maxValue = .4
line2_tLimitBase = 15


[basePalette]
minHue = 300
maxHue = 36
minSaturation = .1
maxSaturation = .6
minValue = .1
maxValue = .5
tLimitBase = 10

line_minHue = 180
line_maxHue = 45
line_minSaturation = .10
line_maxSaturation = .99
line_minValue = .010
line_maxValue = .60
line_tLimitBase = 15

line2_minHue = 60
line2_maxHue = 360
line2_minSaturation = .10
line2_maxSaturation = .10
line2_minValue = .05
line2_maxValue = .4
line2_tLimitBase = 15

[heat]
minHue = 0
maxHue = 8
minSaturation = .8
maxSaturation = .995
minValue = .3
maxValue = .3
tLimitBase = 15

line_minHue = 20
line_maxHue = 20
line_minSaturation = .7
line_maxSaturation = .99
line_minValue = .5
line_maxValue = .8
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 15
line2_minSaturation = .8
line2_maxSaturation = .99
line2_minValue = .1
line2_maxValue = .3
line2_tLimitBase = 15

[fishing]
minHue = 180
maxHue = 220
minSaturation = .5
maxSaturation = .99
minValue = .1
maxValue = .2
tLimitBase = 15

line_minHue = 15
line_maxHue = 36
line_minSaturation = .5
line_maxSaturation = .99
line_minValue = .25
line_maxValue = .99
line_tLimitBase = 15

line2_minHue = 170
line2_maxHue = 220
line2_minSaturation = .1
line2_maxSaturation = .99
line2_minValue = .1
line2_maxValue = .8
line2_tLimitBase = 15

######################################################################
[movingpattern]
######################################################################

redrawSpeed =.03

# to be nice and even, has to be even multiple of blockWidth
# if you want artifact, then anything else ;)
lineDiff = 2
useDoubleLine = True

blockWidth = 33
blockHeight = 33

cols = 30
rows = 12

palette = graph2
palettes = fishing,heat,thegrays

# the types of pattern
# wavePattern 
# reMove -->lines move
# diagonalMove  --> block moves 
# randomizer
# runningSpiral
# concentricBoxes
# runningSpiral
# diamond
# shingles
# circles

#patterns = wavePattern,reMove,randomizer,runningSpiral,concentricBoxes,runningSpiral,diamond,shingles,circles
patterns = reMove,shingles,concentricBoxes,diamond,balls,concentricBoxes,randomizer,runningSpiral,circles,fishScales

patternModel = diamond
patternModelVariations = True
patternSequence = shingles,0,0
rebuildPatternProbability = 0.0035

# increases density of pattern for diamonds, balls, shingles
numRows = 2
numShingleRows = 2
numDotRows = 4
numRowsRandomize = True

shingleVariation = True 
shingleVariationRange = 6

# for the diamond pattern
diamondStep = 1
randomizeSpeed = True

# for any moving pattern: diamond, reMove
xSpeed = .25
ySpeed = .8

# for the concentric squares
numConcentricBoxes = 8

# for the randomizer
randomBlockProb = .1
randomBlockWidth = 0
randomBlockHeight = 0

# skip the rendering of any block
#skipBlocks = 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97
skipBlocks = 1000

# For the sine wave repeater
steps = 4
amplitude = 12
yOffset = 12

steps2 = 6
amplitude2 = 12
yOffset2 = 13
phaseFactor = 4
speedFactor = 1


#also do court steps blocks




[mockup]
#---------------------------------#
useDrawingPoints = True
programmedPath = informalGrid
drawMarkers = False
bgColor = 200,200,200,255
yOffset = 360
xOffset = 250
# ellipse paramenters
a = 90
b = 90

panels = 40
orientation = 1

gridCols = 36
gridRows = 5

informalGridCols = 4
informalGridRows = 5

angleJiggle = 15

skipPanels = 100
#6,7,10,16,17,18,20

drawingPathPoints = 0,388,90|0,322,91|0,256,90|0,190,91|0,124,89|0,60,90|20,0,45|50,0,-45|70,60,-90|70,122,-91|70,188,-91
lsys = True
lsysDrawing = s1

# - -90
# + +90
# / +45
# | -45
# > +30
# < -30
# if more than 9 spaces required
# then do  +-[x]  e.g. 9+-5  will give 14

[s1]
#incomplete arch
lsysPoints = -1<1>>1<<1>>1<<1>++<1>1<1>11-->1<1111
#>1<1>1>+1<1>1<1>1
recalculateAngles = False
xOffset = 250
yOffset = 760

[dx]
# figure 8 / infinity
lsysPoints = 2>1>1>1>1>1>1>1>1>1>1<1<1<1<1<1<1<1<1<1<1<1
#lsysPoints = 2>1>1>1>1>1>1>1>1>1>1<1<1<1<1<1<1<1<1<1<1<1
recalculateAngles = True
yOffset = 200
xOffset = 250

[d0]
# meandering
lsysPoints = 2>2<2>2>1>1>2<2>2>1>1>1>3>1>1>1>>1
recalculateAngles = True
yOffset = 30
xOffset = 25

[d0a]
# informal gyre
lsysPoints = |1+2>>1>1>1>>1>3>1>2>1>1>1>1>1>2>2>2>1>1>4>2>1
recalculateAngles = True
xOffset = 250
yOffset = 250

[d0b]
# informal spiral
lsysPoints = |1+2>>1>1>1>>1>3>1>2>1>1>1>3>3>2>2>1>1>5>2>1
recalculateAngles = True
xOffset = 250
yOffset = 250

[d1]
#open circuit for square panels
lsysPoints = -1-2+3+3+2+1-2
recalculateAngles = False
yOffset = 360
xOffset = 250

[d1b]
#open circuit for square panels
lsysPoints = -1-2+4+5+4+1-2
recalculateAngles = False
yOffset = 360
xOffset = 250

[d1a]
#open circuit
lsysPoints = -1-2+4+5+4+2-1
recalculateAngles = False
yOffset = 360
xOffset = 250

[d2]
#incomplete circuit / window
lsysPoints = --+4-2-9-2-3
recalculateAngles = False
yOffset = 360
xOffset = 250

[d3]
#incomplete arch
lsysPoints = --+9+-1/1/1/1/4
recalculateAngles = False
xOffset = 250
yOffset = 710

[d3a]
#incomplete arch
lsysPoints = --+9+-1/1//1/4
recalculateAngles = True
xOffset = 250
yOffset = 710

[d4]
#incomplete arch
lsysPoints = --+9+-1>1>1>1>1>1>4
recalculateAngles = True
xOffset = 250
yOffset = 780


