[displayconfig]

work = repeater

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
isRPI = False
useFilters = False

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = medial
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 70
pixSortboxHeight = 20
pixSortboxWidth = 40
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 12
rows = 8
cols = 5

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 320

# ---  preparing for rotation
windowWidth = 320
windowHeight = 320

canvasWidth = 320
canvasHeight = 320

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 81
windowYOffset = 49

brightness =  1.8
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

[output]
duration =  30
fps = 15

[repeater]
# Used for number of images etc
#imageList = miscl/head-2tw.png
#imageList = icons/ak-2tw.png
#imageList = icons/test-img.png
imageList = icons/test-img.png


unitCount = 23
scalingFactor = 2
# Higher the speed factor, slower the movement
speedFactor = 1
vOffset = -10
scrollSpeed = .02
displayRows = 6
displayCols = 5
useJitter =  False
useBlink = True
noTrails = True
colormode = random

channelHeight = 70




