
[displayconfig]

work = diagnostics

rendering = hub
rotation = 180
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 16
rows = 20
cols = 20

# ---  Also determines the window geometry
screenWidth = 326
screenHeight = 260

# ---  preparing for rotation
windowWidth = 326
windowHeight = 260

canvasWidth = 326
canvasHeight = 260



imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#5

## working with 
## Start X 272
## Start Y 230

windowXOffset = 2651
windowYOffset = 331

brightness =  .5
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,0,0
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,16,256,32
remapImageBlockDestination2 =  0,16
remapImageBlockSection2Rotation = 180

remapImageBlock3 = False  
remapImageBlockSection3 = 0,0,0,0
remapImageBlockDestination3 = 0,0

remapImageBlock4 = False  
remapImageBlockSection4 = 0,0,0,0
remapImageBlockDestination4 = 0,0

remapImageBlock5 = False  
remapImageBlockSection5 = 0,0,0,0
remapImageBlockDestination5 = 0,0

remapImageBlock6 = False  
remapImageBlockSection6 = 0,0,0,0
remapImageBlockDestination6 = 0,0

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 256
pixSortgap = 80
pixSortprobDraw = .49
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

forceBGSwap = False

[diag]
#-----------------------------------------------#
fontColor = 255,150,0
outlineColor = 0,200,10
fontColor2 = 0,150,250
bgColor = 0,0,0
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0






