
[displayconfig]
#--------------------------#
work = quilt-informal

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
useFilters = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 80
rows = 8
cols = 10

# ---  Also determines the window geometry
screenWidth = 520
screenHeight = 340

# ---  preparing for rotation
windowWidth = 520
windowHeight = 340

canvasWidth = 520
canvasHeight = 340


# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = -3

# Window Offset
windowXOffset = 25
windowYOffset = 50


brightness =  .99
minBrightness = 0

imageXOffset  = 0
imageYOffset  = 0
remapImageBlock = False



[quilt]
#--------------------------#
delay = .01
colorPopProb = .0001

numUnits = 6
blockSize = 5
blockLength = 3.0
blockHeight = 3.5

blockRows = 8
blockCols = 14
hGapSize = 4
vGapSize = 1

cntrOffsetX = 16
cntrOffsetY = 28

# LighteningStrike
# Regular
# Diagonals

opticalPattern = LighteningStrikeH
polyDistortion = 5
backgroundColor = 20,0,10,10

timeToComplete = 33

lines = True
patternPrecision = True

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

transitionStepsMin = 15.0
transitionStepsMax = 300.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
#transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

## skew
transformTuples = .9, .5, 0, -.01,  1, 0, .0009, 0.00
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.0










