
[displayconfig]

work = particles
#work = diagnostics

rendering = hub
isRPI = False
checkForConfigChanges = True

rotation = 90
fullRotation = True
rotationTrailing = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 14
cols = 4

# ---  Also determines the window geometry
screenWidth = 520
screenHeight = 520

# ---  preparing for rotation
windowWidth = 320
windowHeight = 520

canvasWidth = 320
canvasHeight = 520

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = -194

# Window Offset
windowXOffset = 200
windowYOffset = 50

# Window Offset
#windowXOffset = 2849
#windowYOffset = 255


brightness =  .8
minBrightness = 0

imageXOffset = 0
imageYOffset = 0



useFilters = True
#ditherBlurRadius = 0
#ditherUnsharpMaskPercent = 90
ditherfilterbrightness = .98


remapImageBlock = False
remapImageBlockSection = 0,0,520,520
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0,0,0
remapImageBlockDestination2 = 0,0


usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 520
pixSortboxWidth = 80
pixSortgap = 4
pixSortprobDraw = .01
pixSortprobGetNextColor = .1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0.01
brightnessVarLow = .9
brightnessVarHi = 1.2
pixelSortAppearanceProb = 1.0
pixelsortprobchange = .002
pixelsortprobchangemin = .001
pixelsortprobchangemax = .002



useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 320
sectionBlurRadius = 2


[holding]
usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 448
pixSortboxWidth = 128
pixSortgap = 4
pixSortprobDraw = .004
pixSortprobGetNextColor = 1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 1
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = 1.2
pixelSortAppearanceProb = 1.0
pixelsortprobchange = .002
pixelsortprobchangemin = .001
pixelsortprobchangemax = .002

[particleSystem]
#-------------------------------------------#
numUnits = 190
delay = .02

xGravity = 0
yGravity = 0

xWind = -.01

torqueDelta = 0
torqueRate = 0

ignoreBottom = False

speedMin = .4
speedMax = 8

meandorFactor = .5

#initial direction 3.14/2
variance = 1

objWidth = 50
objHeight = 60
objType = rect
objTrails = True

particlewinkoutxmin = 40
particlewinkoutymin = 40

widthRate = .9994
heightRate = .9997

overallBlur = 1
unitBlur = 0

objColor = fixed


#fillColor = 255,0,0,35
#outlineColor = 255,0,0,0
#bgColor = 0,0,0,15

fillColor = 190,100,0,10
outlineColor = 224,90,0,100
bgColor = 80,0,20,20
#bgColor = 80,0,20,20

# also restart to steps - still somewhat unresolved 
# but nicer transtions as the colors cascade to gray
pixelsGoGray = True
jumpToGray = False
greyRate = 450
pixelsGoGrayModel = 1

# restarts the cascade
restartProb = .0005

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapminHoriSize = 240
filterRemapminVertSize = 360

minHue = 0
maxHue = 40
minSaturation = 0
maxSaturation = 40
minValue = 0
maxValue = 
tlimitbase = 15

bgTransitions = True
bgRangeA =  100
bgRangeB = 300
hueMin = 0
hueMax = 360
maxBrightness = .955
bgTransparency = 10

transparencyRange = 100,230
#*****
centerRangeXMin = 30
centerRangeYMin = -250

centerRangeXMax = 320
centerRangeYMax = 200

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 1,0,200,1
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190





[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0




