
[displayconfig]

work = stroop2b

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

# ---  Also determines the window geometry
screenWidth = 520
screenHeight = 340

# ---  preparing for rotation
windowWidth = 520
windowHeight = 340

canvasWidth = 520
canvasHeight = 340


brightness =  .999
minBrightness = 0.2

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
#canvasOffsetY = 3
### To semi-center the repetition field
canvasOffsetY = -1

# Window Offset
windowXOffset = 272
windowYOffset = 50


[output]
duration =  30
fps = 60
mode = video


[stroop]
fontSize = 54
vOffset = -5
scrollSpeed = .03
stroopSpeed = .02
speedMultiplier = 2
revealSpeedMin = 1
revealSpeedMax = 3
stroopSteps = 2
shadowSize = 2
stroopFontSize = 26
useColorFlicker = 0
highervariability = True
verticalBg =  False
displayRows = 6
displayCols = 6
simulBlocks = 3
## options are reveal, revealmove, move
movementMode = reveal
moveProbability = .15
colorProbabilityReturn = .08
colorProbability = .015



