[displayconfig]
# --------------------------------------------------#
work = actionmarks_v3_1
; work = diagnostics
# --------------------------------------------------#

rotation = 0
checkForConfigChanges = False
doFullReloadOnChange = False

tileSizeHeight = 64
tileSizeWidth = 16

rows = 8
cols = 11

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 209

# ---  preparing for rotation
windowWidth = 256
windowHeight = 209

canvasWidth = 256
canvasHeight = 209


# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# # ---  Window Offset
windowXOffset = 179
windowYOffset = 69
; windowXOffset = 179
; windowYOffset = 69

brightness = 1.10
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,132,122
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,96,768,128
remapImageBlockDestination2 = 384,0

remapImageBlock3 = False
remapImageBlockSection3 = 384,0,512,32
remapImageBlockDestination3 = 0,32

remapImageBlock4 = False
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64


remapImageBlockShift = False
remapImageBlockShiftSection = 128,0,256,209
remapImageBlockShiftStableSection = 0,0,128,209
remapImageBlockShiftDestination = 128,-17
# remapImageBlockShiftDestination = 38,128


usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 209
pixSortboxWidth = 1
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99

useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = True
ditherfilterbrightness = .95

# --------------------------------------------------#z
[drawingField]
# --------------------------------------------------#z

slotRate = .03

# change the drawing mode
changeDrawingModeTime = 30
# if this is too high, it all gets "poppy"
bgColorAlpha = 10

# chance, per cycle, that overlay blocks are cleared
# not realy that useful because the composite image is
# always being added to so retains a continuous pile
# of layers
clearbgBoxprob = .0003
# change Palette and Drawing
changeColorSetTime = 120
# the range of time changeColorSetTime X changeColorSetTimeMaxMultiplier
changeColorSetTimeMaxMultiplier = 2
# # when adding background blocks also jitter drawing
doJitterWhenAddingBG = True
# rate per cycle that a new bg is blended-in
blendLevelRateBase = .01

totalRandomPenColorProb = .5
totalRandomBGBoxColorProb = .02

# chance, per cycle, that the line drawing jitters
doJitterProb = .001
# probablility that after drawing jitter happens
doJitterWhenAddingBGUseProb = .50
# probablility that after LINE jitter happens
doJitterAfterLineUseProb = .50
# chance that the jitter happens all at once
doProgressiveJitterProb = .50
# probability jitter event happens per cycle
# 100% means it will continuously jitter until done
doJitterEventPerCyleProb = .50
jitterIterationsMin = 4
jitterIterationsMax = 30
jitterIterationsMaxAfterDraw = 10
jitterDisplacementHorizontal = 1
jitterDisplacementVertical = 1

jitterIterationsMin_roughing = 12
jitterIterationsMax_roughing = 30
jitterDisplacementHorizontal_roughing = 2
jitterDisplacementVertical_roughing = 2

justHitPauseProb = .0004
releaseFromJustHitPauseProb = .001

penAlpha = 200

# time to clear the canvas
changeTime = 0

fadeRateNewSystemThreshold = 2.0


#--------------------- filterRemapping  ------------------
filterremapping = True
filterRemappingProb = .002

filterRemapMinHorzSize = 60
filterRemapMaxHorzSize = 300
filterRemapMinVertSize = 8
filterRemapMaxVertSize = 90

filterRemapRangeX = 120
filterRemapRangeY = 260

contractXSpeed = 10
contractYSpeed = 20
expandXSpeed = 5
expandYSpeed = 2


innerRadius = 50
outerRadius = 700

usebgBox = True
bgBoxBox = 0,0,384,256
bgTileSizeWidthMin = 33
bgTileSizeWidthMax = 160
bgTileSizeHeightMin = 33
bgTileSizeHeightMax = 129

bgBoxAlphaRange = 40,248
forcebgBox = True


# --------------------------------------------------#

drawingBundle = prod/p2.5-vertical-16px-shifted-panels/action_assets/

# paletteSets = BathersWithTurtle

paletteSets = lyricalGrid,
            dripsAndDrab,
            lyricalBlocks,
            BathersWithTurtle,
            BathersWithTurtle,
            scribbles,
            rose_x_nograys,
            rose_xCurves,
            VirHeroicusSublimis_v1,
            CoastalIndustry,
            OnPink_v2,
            OnBrown_v1,
            OnSystemBlue_v1,
            PostItNotesBlueInk2_v1,
            dekoonig_v2,
            lasttwombly


textureSets = texture1,texture2,texture3,textureScrim2,texture4
penNames =  lineMarksDashed,
            lineMarksVertBands,
            lineMarksVertNarrow,
            longOvalSweeps1,
            longOvalSweeps2,
            longOvalSweeps2b,
            shortMarks,
            shortMarks2,
            scratchyLong,
            scratchyLong2,
            spiralGyres,
            spiralGyres2,
            lineMarksH1,
            lineMarks2,
            lineMarksVert,
            lineMarksVertHeavy,
            lineMarksVertHeavyLight,
            lineMarksVertHeavyLightColor

# default if not set in palatte
drawLineAsEnvelope = False

loadPalettesFromCfgFiles = True


# --------------------------------------------------#
