[displayconfig]

work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 8
rows = 6
cols = 9

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 96

# ---  preparing for rotation
windowWidth = 256
windowHeight = 96

canvasWidth = 256
canvasHeight = 96

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2657
windowYOffset = 339

brightness =  1.00
minBrightness = 0

imageXOffset = 0
imageYOffset = 0
remapImageBlock = False
remapImageBlockSection = 0,0,384,192
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0, 384,192
remapImageBlockDestination2 = 0,0

useFilters = False

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 96
sectionBlurRadius = 2

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 48
pixSortboxHeight = 2
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .2
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

forceBGSwap = False

[screenproject]
#-----------------------------------------------#
delay = .03
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 7
pointsCount = 5
drawCracks = False
origin = 15,4

## Used when first creating the cracks
yVarMin = 6
yVarMax = 10

randomColorSampleProb = .01
probDrawBoxes = .04
probDrawLines = .1
probDrawPerpLines = .1
probDrawVertLines = .991
crackChangeProb = .1
imageResetProb = .001

timeTrigger = True

pauseProb = .001
unpauseProb = .005

## This controls the range of background colors
tLimitBase = 10
minHue = 270
maxHue = 36
minSaturation = .8
maxSaturation = 1
minValue = .3
maxValue = .5
maxBrightness = .5


[diag]
#--------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9


[collageShapes]
#-----------------------------------------------#

prisimBrightness = 1.95
redrawSpeed = .02
changeBoxProb = .01

transitionStepsMin = 40
transitionStepsMax = 54
# *4
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = False

useTransitionCallBacks = False
useTweenTriggers = 1
triggers = 0
useVariableFilter = False
useVariablePixelSort = False
variablefilterprob = 0
variablepixelprob = 0
numberofdeadpixels = 0

forceLastOverlay =  False
useLastOverlayProb = .0
lastOverlayBox = 66,64,160,98
lastOverlayFill = 0,0,0,255


# varianceMode = symmetrical, asymmetrical, independent
varianceMode = symmetrical

sets = set1
set1 = s0,s1,s2,s3,s4,s5
#,s1a,s2,s2a

[s0]
position = 0,0
coords = 0,0, 256,0, 256,128, 0,128
varX = 0
varY = 0
fixedCenterColor = 200,70,10,240
usedFixedCenterColor = False
minHue = 160
maxHue = 190
minSaturation = .5
maxSaturation = .9
minValue = .01
maxValue = .7


[s1]
position = 2,0
coords = 0,0, 250,0, 250,12, 0,12
varX = 1
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 350
maxHue = 35
minSaturation = .2
maxSaturation = .9
minValue = .1
maxValue = .7


[s2]
position = 2,16
coords = 0,0, 250,0, 250,12, 0,12
varX = 1
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 350
maxHue = 35
minSaturation = .2
maxSaturation = .9
minValue = .1
maxValue = .7


[s3]
position = 2,32
coords = 0,0, 250,0, 250,12, 0,12
varX = 1
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 350
maxHue = 35
minSaturation = .2
maxSaturation = .9
minValue = .1
maxValue = .7


[s4]
position = 2,48
coords = 0,0, 250,0, 250,12, 0,12
varX = 1
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 350
maxHue = 35
minSaturation = .2
maxSaturation = .9
minValue = .1
maxValue = .7

[s5]
position = 2,64
coords = 0,0, 250,0, 250,12, 0,12
varX = 1
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 350
maxHue = 35
minSaturation = .2
maxSaturation = .9
minValue = .1
maxValue = .7