[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 16
cols = 6

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 512

# ---  preparing for rotation
windowWidth = 384
windowHeight = 256

canvasWidth = 384
canvasHeight = 512

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2562
windowYOffset = 39

brightness =  .5
minBrightness = 0

remapImageBlock = True  
remapImageBlockSection = 0,128,192,256
remapImageBlockDestination = 192,0

remapImageBlock2 = True  
remapImageBlockSection2 = 0,256,192,384
remapImageBlockDestination2 = 192,128

remapImageBlock3 = True  
remapImageBlockSection3 = 0,384,192,512
remapImageBlockDestination3 = 0,128

[diag]
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 10,10,10
showGrid = True
fontSize = 14




