[displayconfig]

work = particles

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 16
cols = 12

# ---  Also determines the window geometry
screenWidth = 512
screenHeight = 512

# ---  preparing for rotation
windowWidth = 512
windowHeight = 512

canvasWidth = 512
canvasHeight = 512

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 269
windowYOffset = 50

brightness =  .95
minBrightness = 0

remapImageBlock = True
remapImageBlockSection = 0,256,192,512
remapImageBlockDestination = 192,0


usePixelSort = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 96
pixSortboxWidth = 196
pixSortgap = 20
pixSortprobDraw = .5
pixSortprobGetNextColor = .05
pixSortSizeDecriment = .60
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


[particleSystem]
numUnits = 55

xGravity = 0
yGravity = -.10

ignoreBottom = True

speedMin = 5
speedMax = 12

#initial direction 3.14/2
variance = 1

objWidth = 80
objHeight = 120
objType = rect

widthRate = .95
heightRate = .98

overallBlur = 4
unitBlur = 1

objColor = set
#fire
fillColor = 245,205,0,10
outlineColor = 190,10,0,170
bgColor = 1,0,100,100

#ice
#fillColor = 0,25,80,250
#outlineColor = 0,10,200,90
#bgColor = 190,100,0,50

centerRangeXMin = 340
centerRangeXMax = 590
centerRangeYMin = -50
centerRangeYMax = -50

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True

movement = fire 
useFlocking = False
cohesionDistance = 40 
repelDistance = 1
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = 1
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 60,100,0,100
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 128
overlayyPos = 100
#overlayColor = 88,40,0,190





