[displayconfig]

work = quads

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 16
cols = 12

# ---  Also determines the window geometry
screenWidth = 512
screenHeight = 512

# ---  preparing for rotation
windowWidth = 512
windowHeight = 512

canvasWidth = 512
canvasHeight = 512

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2562
windowYOffset = 35

brightness =  .95
minBrightness = 0

remapImageBlock = True
remapImageBlockSection = 0,256,192,512
remapImageBlockDestination = 192,0


usePixelSort = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 196
pixSortboxWidth = 196
pixSortgap = 80
pixSortprobDraw = .09
pixSortprobGetNextColor = .05
pixSortSizeDecriment = .60
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99






[animals]
yOffset = 10
xOffset = 40

blockWidth = 18
carcasBlockWidth = 15
carcasYOffset = 0
carcasXOffset = 10

l1Variance = 4
angleRotationRange = 4
xVariance = 20

carcas_pixSortYOffset = 80
base_pixSortYOffset = 80

flip = False
redrawSpeed = .01
redrawProbablility = .03
fade  = 17

redShift = 40
greyLevel = 40

#bgR = 180
#bgG = 10
#bgB = 140

bgR = 10
bgG = 100
bgB = 10

useScrollingBackGround = False
useColorOverlayTransitions = True
applyColorOverlayToFullImage = False

colorTransitionRangeMin = 40
colorTransitionRangeMax = 230

patternRows = 20
patternCols = 24
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .2

#bgForeGroundColor = 180,10,140,255
#bgBackGroundColor = 170,10,130,0

bgForeGroundColor = 150,150,150,255
bgBackGroundColor = 100,100,100,0

alpha = 100
bgYStepSpeed = -9
bgXStepSpeed = 0

pigglyWiggle = 5
pigglyWiggleVariance = 30




