[displayconfig]

# work = diagnostics
work = particles-v2

rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 8
rows = 12
cols = 12

## Also determines the window geometry
screenWidth = 128
screenHeight = 140

windowWidth = 128
windowHeight = 140

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 128
canvasHeight = 140

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset

windowXOffset = 1647
windowYOffset = 102

brightness = 1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 14
pixSortboxWidth = 132
pixSortgap = 20
pixSortprobDraw = .01
pixSortprobGetNextColor = .01
pixSortProbDecriment = .65
pixSortSizeDecriment = 1.92
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

remapImageBlock = False
remapImageBlockSection = 0,0,128,140
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 = 0,16,64,110
remapImageBlockDestination2 = 84,26
remapImageBlockSection2Rotation = 180

remapImageBlock3 = False
remapImageBlockSection3 = 0,0, 384,384
remapImageBlockDestination3 = 0,-320
remapImageBlockSection3Rotation = -90

remapImageBlock4 = False
remapImageBlockSection4 = 0,160, 320,192
remapImageBlockDestination4 = 0,32
remapImageBlockSection4Rotation = 0

useFilters = True
ditherFilterBrightness = 1.0

[base]
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_fillRange = 20,40,.80,1.0,.5,1.0,14,16
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_outlineRange = 0,40,.50,1.0,.3,1.0,100,200
# backgroundColor controls
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

bg_minHue = 210
bg_maxHue = 260
bg_minSaturation = .1
bg_maxSaturation = 1.0
bg_minValue = .1
bg_maxValue = .5

bg_transparencyRange = 20,22

overallBlur = 4
unitBlur = 3

[base2]
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_fillRange = 20,40,.80,1.0,.5,1.0,140,160
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_outlineRange = 0,40,.50,1.0,.3,1.0,100,200
# backgroundColor controls
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20
bg_minHue = 210
bg_maxHue = 260
bg_minSaturation = .1
bg_maxSaturation = 1.0
bg_minValue = .1
bg_maxValue = .5
bg_transparencyRange = 200,220

overallBlur = 4
unitBlur = 3

[midnightBlue]
particle_fillRange = 350,33,.80,1.0,.5,1.0,100,200
particle_outlineRange = 350,33,.50,1.0,.3,1.0,100,200
# backgroundColor controls
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20
bg_minHue = 210
bg_maxHue = 270
bg_minSaturation = .8
bg_maxSaturation = 1.0
bg_minValue = .1
bg_maxValue = .6
bg_transparencyRange = 10,200

overallBlur = 1
unitBlur = 0

[pinkSacrifice]
particle_fillRange = 350,20,1.0,1.0,.80,1.0,100,220
particle_outlineRange = 350,350,1.0,1.0,1.0,1.0,100,200
# backgroundColor controls
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20
bg_minHue = 320
bg_maxHue = 350
bg_minSaturation = 1.0
bg_maxSaturation = 1.0
bg_minValue = .9
bg_maxValue = 1.0
bg_transparencyRange = 100,200

overallBlur = 1
unitBlur = 0

[particleSystem]
#-----------------------------------------------#
numUnits = 200
delay = .02
slotRate = .03
restartprob = .001

# COLOR SETTINGS
# ----------------------------------

# palettes = midnightBlue,pinkSacrifice,midnightBlue
palettes = base,base2,base,pinkSacrifice,midnightBlue
paletteChangeProb = .001

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 60

# ----------------------------------
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True
objColor = fixed
objTrails = True
trailingFade = 200
renderDiagnostics = False
# ----------------------------------

objWidth = 18
objHeight = 53
objType = rect

speedMin = .5
speedMax = 2

widthRate = .96
heightRate = .98

centerRangeXMin = -10
centerRangeXMax = 20
centerRangeYMin = -142
centerRangeYMax = 25

movement = fire
linearMotionAlsoHorizontal = True
useFlocking = False
cohesionDistance = 40
repelDistance = 1
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = 1
oneDirection = False
changeCohesion = False
meanderfactor = .95
meanderFactor2 = 90.0
meanderDirection = 0

particleWinkOutXMin = 5
particleWinkOutYMin = 5

ignoreBottom = True
borderCollisions = True
expireOnExit = True
reEmitNumber = 2

damping = 1
collisionDamping = 1
xGravity = 0
yGravity = -.10
xWind = 0
torqueDelta = 0
torqueRate = -0


# ----------------------------------
useOverLay = False
useOverLayEnhanced = False
clrBlkWidth = 100
clrBlkHeight = 200
overlayxPos = 0
overlayyPos = 0
overlayColor = 0,0,0,0


[diag]
#-----------------------------------------------#
fontColor = 0,240,90
outlineColor = 100,0,100
fontColor2 = 90,100,0
bgColor = 0,0,50
showGrid = True
fontSize = 11

brightness = .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0