[displayconfig]

work = particles

rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False



tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 8
rows = 12
cols = 12

## Also determines the window geometry
screenWidth = 128
screenHeight = 140

windowWidth = 128
windowHeight = 140

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 128
canvasHeight = 140

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset

windowXOffset = 2647
# windowYOffset = 60
#windowYOffset = 147 + 320
windowYOffset = 102

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0


usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 14
pixSortboxWidth = 132
pixSortgap = 20
pixSortprobDraw = .01
pixSortprobGetNextColor = .01
pixSortProbDecriment = .65
pixSortSizeDecriment = 1.92
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


remapImageBlock = False
remapImageBlockSection = 0,0,128,140
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False
remapImageBlockSection2 = 0,160, 80,200
remapImageBlockDestination2 = 320,200
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 0,0, 384,384
remapImageBlockDestination3 = 0,-320
remapImageBlockSection3Rotation = -90

remapImageBlock4 = False
remapImageBlockSection4 = 0,160, 320,192
remapImageBlockDestination4 = 0,32
remapImageBlockSection4Rotation = 0

useFilters = True
ditherFilterBrightness = .95




[particleSystem]
#-----------------------------------------------#
numUnits = 200

xGravity = 0
yGravity = -.10

ignoreBottom = True

restartprob = .001

speedMin = .5
speedMax = 2

#initial direction 3.14/2
variance = 1
meanderfactor = .95

objWidth = 25
objHeight = 70
objType = rect
objTrails = True

widthRate = .97
heightRate = .98

overallBlur = 1
unitBlur = 0

objColor = set

## bluescreen
fillColor = 188,90,0,19
outlineColor = 188,90,0,89
bgColor = 12,0,180,225

pUseHSV = True
pFillRange = 0,50,.50,1.0,.5,.65,120
pOutlineRange = 0,50,.50,1.0,.5,.65,200

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 10,130

overlayColor = 60,60,60,60
#************
useOverLay = False
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 128
overlayyPos = 100
#overlayColor = 88,40,0,190

bgTransitions = True
bgRangeA =  10
bgRangeB = 30
minHue = 210
maxHue = 270
minValue = .1
maxValue = .6
tLimitBase = 20

#************ should be 25
bgTransparency = 25
maxBrightness = .55

centerRangeXMin = -10
centerRangeXMax = 20
centerRangeYMin = -142
centerRangeYMax = 25

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

movement = fire 
useFlocking = False
cohesionDistance = 40 
repelDistance = 1
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = 1
changeCohesion = False



[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 10