[markParams]
name=scribbleLine1
# winding scribbles
# minNumPoints = 100
# maxNumPoints = 120
pointsPerLoop = 8
turnsRange = 3,7
# xOffsetRange = -20,20
# yOffsetRange = -20,-20
# xOffsetRange = -2,10
# yOffsetRange = -40,-10
w = 6
mode = 2
minMarkWidth = 2
maxMarkWidth = 10
changeMarkWidthProb =.05
incrementFactor = 1

drawLineAsEnvelope = True

noiseX = 10
noiseY = 10

# // line sizing
height = 100
radiusX = 50
radiusY = 60
radiusXMin = 10
radiusXMax = 50
radiusYMin = 50
radiusYMax = 100
xRadiusDelta = 4
yRadiusDelta = 7
deltaRadiusXChangeProb = 0.2
deltaRadiusYChangeProb = 0.2

# // line placement and centering
xCenter = 0
yCenter = 0
centerXDelta = 20
centerYDelta = 2
deltaRadiusXCenterChangeProb = 0.4
deltaRadiusYCenterChangeProb = 0.2

penSpeedMinVal = 5
penSpeedMaxVal = 5
# loops = R(loopsMin, loopsMax, True)
# points = round(loops * 8)