[displayconfig]
##########################################################
#---------------------------------------------------------
work = particles-v2
; work = diagnostics
#---------------------------------------------------------

rotation = 180
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 16
cols = 16

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 400
windowYOffset = 200

; windowXOffset = 2647
; windowYOffset = 54

brightness =  1.0
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,384,22
remapImageBlockDestination = 0,0


usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 512
pixSortboxWidth = 512
pixSortgap = 4
pixSortprobDraw = .2
pixSortprobGetNextColor = .1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0

forceBGSwap = False

useFilters = True


[particleSystem]
#-------------------------------------------#
numUnits = 300
delay = .02
slotRate = .03
restartProb = 0

# COLOR SETTINGS
# ----------------------------------

palettes = base,base
paletteChangeProb = .001

# ----------------------------------
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True
objColor = fixed
objTrails = False
trailingFade = 20
renderDiagnostics = False
# ----------------------------------

objWidth = 0
objHeight = 0

objWidthMin = 328
objWidthMax = 420

objHeightMin = 224
objHeightMax = 294

rndSizeFactorMin = 1.0
rndSizeFactorMax = 1.0
objType = ellipse

speedMin = 1
speedMax = 7

; widthRate = .99992
; heightRate = .999
widthRate = .999999999
heightRate = .99999999

centerRangeXMin = -220
centerRangeXMax = 0

centerRangeYMin = -200
centerRangeYMax = 250

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
meanderDirection = 1
oneDirection = True
meanderFactor = 5.0
meanderFactor2 = 110.0

particleWinkOutXMin = 2
particleWinkOutYMin = 2

ignoreBottom = False
borderCollisions = True
expireOnExit = True
reEmitNumber = 2

collisionDamping = 1
damping = 1
torqueDelta = 0
torqueRate = 0
xWind = 0
xGravity = 0
yGravity = 0

# ----------------------------------
## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 100,0,200,1
clrBlkWidth = 32
clrBlkHeight = 32
overlayxPos = 60
overlayyPos = 60
#overlayColor = 88,40,0,190


filterRemapping = True
filterRemappingProb = .01
filterRemapMinHoriSize = 180
filterRemapMaxHoriSize = 300
filterRemapMinVertSize = 4
filterRemapMaxVertSize = 32
filterRemapRangeX = 0
filterRemapRangeY = 250

useWaveDistortion = True
waveAmplitude = 80
wavePeriod  = 20
wavePeriodMod = 20.0
waveGridSpace = 90
pNoiseMod = .5

[base]
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_fillRange = 15,43,.7,1.0,.5,.90,0,0,4,5
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_outlineRange = 5,30,.6,1.0,.76,.9760,0,0,40,100
# backgroundColor controls
bg_fillRange = 355,14,.97,1.0,.1,.2,10,20
bg_bgTransitions = True
bg_bgRangeA = 210
bg_bgRangeB = 230
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 2
jumpToGray = True
greyRate = 600

overallBlur = 2
unitBlur = 0


[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9


[particleVals-2]
fillColor = 14,180,1,10
outlineColor = 14,180,1,205 
bgColor = 14,180,1,20


[particleVals-1]
fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20
