[displayconfig]

workListDirectory = prod/

#workList =p9,p9
workList =p0,p1,p2,p22

playInOrder = False

rotation = 0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 320

imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 0
canvasOffsetY = 3

## on LINSN SENDER CARD
## x=41 y =127
windowXOffset = 144
windowYOffset = 100

forceBGSwap = False

repeatCountTrigger = 100
restartScript = /cntrlscripts/restart_full_campfire_sequencer.sh
commadstringpyth = /cntrlscripts/restart_full_campfire_sequencer.sh

###########################################

[p0]
work = prod/seq-campfire-2-1/seq-campfire-spritesheet3a.cfg
minDuration = 67
maxDuration = 123
brightnessOverride = 1.0

[p1]
work = prod/seq-campfire-2-1/seq-campfire-repeatblocks_3.cfg
minDuration = 67
maxDuration = 123
brightnessOverride = 1.0

[p2]
work = prod/seq-campfire-2-1/seq-p4-4x6-campfire.cfg
minDuration = 67
maxDuration = 123
brightnessOverride = 1.0


[p22]
work = prod/seq-campfire-2-1/seq-campfire-2-1-flame-particles-firepile.cfg
minDuration = 67
maxDuration = 123
brightnessOverride = 1.0



[p23]
work = prod/seq-campfire-2-1/seq-campfire-2-1-img-hub1.cfg
minDuration = 15
maxDuration = 30
brightnessOverride = 1.0

[p23b]
work = prod/seq-campfire-2-1/seq-campfire-2-1-img-hub1-b.cfg
minDuration = 30
maxDuration = 120
brightnessOverride = 1.1

###########################################
