[displayconfig]
# This actually a rebuilt version of Westwind Sparks owned by Deborah Green, Austin TX 
# but piece is in Hudson, NY -- rebuilt with machine daemon110 with some upgrades
# the Campfire 2.1 piece - probably in Scottsdale will be reconsituted in another folder

workListDirectory = prod/

#workList =p9,p9
workList =p0,p2,p23b,p22



playInOrder = False


###########################################

[p0]
work = prod/seq-campfire-2-1/seq-campfire-spritesheet3a.cfg
minDuration = 93
maxDuration = 123
brightnessOverride = 1.0


# algorithmic flames
[p2]
work = prod/seq-campfire-2-1/seq-p4-4x6-campfire.cfg
minDuration = 93
maxDuration = 123
brightnessOverride = 1.0

# algorithmic flames
[p22]
work = prod/seq-campfire-2-1/seq-campfire-2-1-flame-particles-firepile.cfg
minDuration = 93
maxDuration = 123
brightnessOverride = 1.0

[p23b]
work = prod/seq-campfire-2-1/seq-campfire-2-1-img-hub1-b.cfg
minDuration = 93
maxDuration = 123
brightnessOverride = 1.1


###########################################


[p1]
work = prod/seq-campfire-2-1/seq-campfire-repeatblocks_3.cfg
minDuration = 67
maxDuration = 123
brightnessOverride = 1.0


[p23]
work = prod/seq-campfire-2-1/seq-campfire-2-1-img-hub1.cfg
minDuration = 15
maxDuration = 30
brightnessOverride = 1.0


