[displayconfig]
#--------------------------#

work = collage
#work = fludd
#work = quilt-triangles

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 10
cols = 6

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 320

# ---  preparing for rotation
windowWidth = 384
windowHeight = 256

canvasWidth = 384
canvasHeight = 320

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
## working with 
## Start X 272
## Start Y 230
## on LINSN SENDER CARD
windowXOffset = 50
windowYOffset = 50


brightness =  .84
minBrightness = 0

remapImageBlock2 = True  
remapImageBlockSection2 = 128,128, 192,246
remapImageBlockDestination2 = 128,130

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 320
sectionBlurRadius = 2

useLastOverlay = True
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 52
pixSortYOffset = 320
pixSortboxHeight = 8
pixSortboxWidth = 448
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1



[collageShapes]
#--------------------------#
redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
variableFilterProb = .002
useVariablePixelSort = True
variablePixelProb = .001
variablePixelProbOff = .002

useTweenTriggers = False
triggers = 1

useTransitionCallBacks =  False
numberOfDeadPixels = 0


sets = set1
set1 = s0,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12,s13
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 448,0, 448,378, 0,378
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 200
maxHue = 240
minSaturation = .0
maxSaturation = .1
minValue = .1
maxValue = .3


[s1a]
position = 0,8
coords = 262,0, 440,0, 440,8, 262,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s2]
position = 0,30
coords = 134,0, 315,0, 315,8, 134,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s3]
position = 0,52
coords = 134,0, 315,0, 315,8, 134,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s4]
position = 0,74
coords = 134,0, 315,0, 315,8, 134,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s5]
position = 0,96
coords = 134,0, 315,0, 315,8, 134,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99



# ------- odd ball ------
[s6]
position = 0,118
coords = 134,0, 315,0, 315,8, 134,8
varX = 0
varY = 0
minHue = 30
maxHue = 50
minSaturation = 0.5
maxSaturation = 1.0
minValue = .8
maxValue = .99



[s7]
position = 0,140
coords = 134,0, 315,0, 315,8, 134,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99




[s8]
position = 0,162
coords = 134,0, 315,0, 315,8, 134,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 30
maxHue = 50
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s9]
position = 0,184
coords = 134,0, 315,0, 315,8, 134,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s10]
position = 0,206
coords = 134,0, 315,0, 315,8, 134,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s11]
position = 0,228
coords = 134,0, 315,0, 315,8, 134,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99


[s12]
position = 0,250
coords = 134,0, 315,0, 315,8, 134,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

# Lone panel
[s13]
position = 64,0
coords = 0,2, 62,2, 62,126, 0,126
varX = 0
varY = 0
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99


[diag]
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,12,12
bgColor = 10,10,100
showGrid = True
fontSize = 14
