# ------------------------------------- #
[texture]
useTextureLayer = False
# dot density
texture_step = 7
# dot size
texture_px = 1
# rows of dots
texture_rows = 64
# cols of dots
texture_cols = 32
# alpha change factor
texture_rate = 2
# base alpha value
texture_base = 25
# dot rgb
texture_clr_r = 40
texture_clr_g = 40
texture_clr_b = 40

texture_blockRows = 14
texture_blockCols = 20
# chance the block does not get drawn
texture_skipProb = .1

texture_blur = 0
texture_xtick = -1
texture_ytick = 3
texture_drawMark = .7
texture_usedots = True
