[displayconfig]
#-----------------------------------------------#
work = scrolling_image
# work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 40
tileSizeWidth = 80
matrixTiles = 32
rows = 8
cols = 8

screenWidth = 400
screenHeight = 60

# ---  preparing for rotation
windowWidth = 400
windowHeight = 60

canvasWidth = 400
canvasHeight = 60

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
# windowYOffset = 55
windowYOffset = 335

brightness =  .8
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 4
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .9
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .05
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False
remapImageBlockSection = 0,0,400,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 0,0,320,256
remapImageBlockDestination3 = 56, 0
remapImageBlockSection3Rotation = -50

remapImageBlock4 = False
remapImageBlockSection4 = 0,0,128,256
remapImageBlockDestination4 = 18, 20
remapImageBlockSection4Rotation = -180


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = True

[scrollingImage]

redrawSpeed = .02
slotRate = .03

# baseImage = assets/imgs/spritesheets/mile-h2.png
baseImage = assets/imgs/spritesheets/mile-h2-70-percent.png
# baseImage = assets/imgs/spritesheets/mile-h2b.png
segmentWidth = 400
segmentHeight = 60

# set to 0 or 1 to use image height
resizeHeight = 65

# this sets the desired size of drawing
# to scale up to - so 1609344mm = 1 mile
# mmSizeOfDrawing = 1000000
mmSizeOfDrawing = 1609344

# the dot-pitch of the display
mmPerPixel = 4

# the desired apparent speed
speedMPH = 5

# this is ignored if mph is set
speedX = 12
# speedKmPH = 0

xoffset = 0
yoffset = 0

# background color HSV ranges
bg_minHue = 300
bg_maxHue = 180
bg_minSaturation = 0.95
bg_maxSaturation = 1.0
bg_minValue = .8
bg_maxValue = .999
bg_dropHueMinValue = 50
bg_dropHueMaxValue = 170
# background color alpha 
bg_alpha = 200
# chance that the background changes
backgroundColorChangeProb = .01

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .004
filterRemapHorizSize = 240
filterRemapVertSize = 240
filterRemapMinHorizSize = 100
filterRemapMinVertiSize = 100

filterRemapRangeX = 300
filterRemapRangeY = 80



[diag]
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
