[displayconfig]
# prostrate at the alter of the grid .... ;)
work = spritesheet3
# work = diagnostics

rotation = 0
rendering = hub
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange =  True
isRPI = False


#tileSizeHeight = 32
#tileSizeWidth = 64
#matrixTiles = 16
#rows = 4
#cols = 4


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 7

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 320

# ---  preparing for rotation
windowWidth = 320
windowHeight = 320

canvasWidth = 320
canvasHeight = 320


# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowXOffset = 2647
# windowYOffset = 60
windowXOffset = 2647
windowYOffset = 118

brightness =  1.2
minBrightness = 0



imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,256,384
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 16,0,64,128
remapImageBlockDestination2 = 0,0

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 0,0

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 40
pixSortboxWidth = 50
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  2.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

# usePixelSort = True
# pixelSortRotatesWithImage = True
# pixSortDirection = medial
# unsharpMaskPercent = 30
# blurRadius = 0
# pixSortXOffset = 120
# pixSortYOffset = 80
# pixSortboxHeight = 24
# pixSortboxWidth = 4
# pixSortgap = 1
# pixSortprobDraw = .1
# pixSortprobGetNextColor = .9
# pixSortProbDecriment = 4
# pixSortSizeDecriment = 2.0
# pixSortSampleVariance = 2
# pixSortDrawVariance = 8
# randomColorProbabilty = .04
# brightnessVarLow = .5
# brightnessVarHi = 1.9
# pixelSortAppearanceProb = .73

useBlur  = False
blurXOffset = 0
blurYOffset = 32
blurSectionWidth = 448
blurSectionHeight = 8
sectionBlurRadius = 4

useFilters = True
ditherfilterbrightness = 1.02

#----------------------------------------------------##----------------------------------------------------#
[base-parameters]
#----------------------------------------------------##----------------------------------------------------#

# the delay between cycles
playSpeed = .02
delay = .05
slotRate = .03

# chance the pixelsort lines appear
pixelSortProbOn = .005
pixelSortProbOff = .015

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .004
filterRemapminHoriSize = 256
filterRemapminVertSize = 256

filterRemapRangeX = 256
filterRemapRangeY = 320


animations = long_box_pink,long_box_black,long_box_blue
# animations = obear-turning
# animations = testy-char

playTimes = 60,60,60
playInOrder = False

drawMoire = False
drawMoireProb = .01
drawMoireProbOff = .08

moireXPos  = 160
moireYPos  = 110
moireXDistance = 10
moireYDistance = 10

setMoireColor = True
moireColor = 0,140,60,50
moireColorAlt = 40,0,0,100
moireColorAltProb = .5


animationFrameXOffset = 0
animationFrameYOffset = 0


usebgBox = True
# changed to be chance that an overlay block is drawn 
usebgBoxProb = .5
clearbgBoxprob = .0003
bgBoxBox = 0,0,256,256

bgTileSizeWidthMin = 64
bgTileSizeHeightMin = 64
bgTileSizeWidthMax = 128
bgTileSizeHeightMax = 129

# bgBoxColorRange = 0,360,0.10,1.0,.10,1.0,0,0
bgBoxColorRange = 120,66,.750,1.0,.0,1.0,0,0
bgBoxAlphaRange = 40,248
forcebgBox = True


compositionModeChangeProb = .01

bgGlitchCyclesMin = 4
bgGlitchCyclesMax = 30
bgGlitchDisplacementHorizontal = 10
bgGlitchDisplacementVertical = 10


#----------------------------------------------------##----------------------------------------------------#
[long_box_pink]
i1 = assets/imgs/spritesheets/long_box_full_2.png
#----------------------------------------------------##----------------------------------------------------#

# Number of individual animation units
numberOfCells = 1

randomPlacement = True
# the spritesheet frame dimensions
frameWidth = 640
frameHeight = 640
totalFrames = 4
frameCols = 2
frameRows = 2

# slice parameters
sliceWidthMin = 640
sliceWidth = 640
sliceHeightMin = 640
sliceHeight = 640
step = 1
fixedPosition = True

# controls speed 2 is generally very smooth
animSpeedMin = 20
animSpeedMax = 20

reversing = True

# the animation is drawn onto a buffered image 
# that can be resized
animationWidth = 256
animationHeight = 320
resizeAnimationtoFit = True

# rotates each animation unit
animationRotation = -90
# random +/- range
animationRotationJitter = 1
# if this is non-zero, will rotate each unit
# in random +/- range
animationRotationRateRange = 0.05
# compensates for rotation if needed
animationXOffset = -5
animationYOffset = -10

# When first drawn onto canvas
# if rotated by 90 degrees, x offset becomes apparent
# y or vertical offset and visaversa for y becoming
# the horizontal displacement
# with the character animations, often best to keep
# tied to the bottom edge of the screen / canvas
randomPlacemnetXRange = 1
randomPlacemnetYRange = 1

# probability that any one unit changes parameters and position
changeAnimProb = .001
# chance that animations all pause
pauseProb = 0.2
# chance that unimations resume
unPauseProb = .01
# chance that the glitching pauses
freezeGlitchProb = 0.03
# chance that the glitching resumes
unFreezeGlitchProb = .06

# pause on first frame of spritesheet
pauseOnFirstFrameProb = .075
pauseOnLastFrameProb = .01

# glitch displacement parameters 
# random from 1 to these values
imageGlitchDisplacementHorizontal = 4
imageGlitchDisplacementVertical = 4


# background color HSV ranges
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = 1.0
bg_maxSaturation = 1.0
bg_minValue = .99
bg_maxValue = .99
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 255

# chance that the background changes
backgroundColorChangeProb = .01


#----------------------------------------------------##----------------------------------------------------#
[long_box_black]
i1 = assets/imgs/spritesheets/long_box_full_1.png
#----------------------------------------------------##----------------------------------------------------#

# Number of individual animation units
numberOfCells = 1

randomPlacement = True
# the spritesheet frame dimensions
frameWidth = 640
frameHeight = 640
totalFrames = 4
frameCols = 2
frameRows = 2

# slice parameters
sliceWidthMin = 640
sliceWidth = 640
sliceHeightMin = 640
sliceHeight = 640
step = 1
fixedPosition = True

# controls speed 2 is generally very smooth
animSpeedMin = 20
animSpeedMax = 20

reversing = True

# the animation is drawn onto a buffered image 
# that can be resized
animationWidth = 256
animationHeight = 320
resizeAnimationtoFit = True

# rotates each animation unit
animationRotation = -90
# random +/- range
animationRotationJitter = 1
# if this is non-zero, will rotate each unit
# in random +/- range
animationRotationRateRange = 0.05
# compensates for rotation if needed
animationXOffset = -5
animationYOffset = -10

# When first drawn onto canvas
# if rotated by 90 degrees, x offset becomes apparent
# y or vertical offset and visaversa for y becoming
# the horizontal displacement
# with the character animations, often best to keep
# tied to the bottom edge of the screen / canvas
randomPlacemnetXRange = 1
randomPlacemnetYRange = 1

# probability that any one unit changes parameters and position
changeAnimProb = .001
# chance that animations all pause
pauseProb = 0.2
# chance that unimations resume
unPauseProb = .01
# chance that the glitching pauses
freezeGlitchProb = 0.03
# chance that the glitching resumes
unFreezeGlitchProb = .06

# pause on first frame of spritesheet
pauseOnFirstFrameProb = .075
pauseOnLastFrameProb = .01

# glitch displacement parameters 
# random from 1 to these values
imageGlitchDisplacementHorizontal = 4
imageGlitchDisplacementVertical = 4


# background color HSV ranges
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = 1.0
bg_maxSaturation = 1.0
bg_minValue = .99
bg_maxValue = .99
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 255

# chance that the background changes
backgroundColorChangeProb = .01


#----------------------------------------------------##----------------------------------------------------#
[long_box_blue]
i1 = assets/imgs/spritesheets/long_box_full_3.png
#----------------------------------------------------##----------------------------------------------------#

# Number of individual animation units
numberOfCells = 1

randomPlacement = True
# the spritesheet frame dimensions
frameWidth = 640
frameHeight = 640
totalFrames = 4
frameCols = 2
frameRows = 2

# slice parameters
sliceWidthMin = 640
sliceWidth = 640
sliceHeightMin = 640
sliceHeight = 640
step = 1
fixedPosition = True

# controls speed 2 is generally very smooth
animSpeedMin = 20
animSpeedMax = 20

reversing = True

# the animation is drawn onto a buffered image 
# that can be resized
animationWidth = 256
animationHeight = 320
resizeAnimationtoFit = True

# rotates each animation unit
animationRotation = -90
# random +/- range
animationRotationJitter = 1
# if this is non-zero, will rotate each unit
# in random +/- range
animationRotationRateRange = 0.05
# compensates for rotation if needed
animationXOffset = -5
animationYOffset = -10

# When first drawn onto canvas
# if rotated by 90 degrees, x offset becomes apparent
# y or vertical offset and visaversa for y becoming
# the horizontal displacement
# with the character animations, often best to keep
# tied to the bottom edge of the screen / canvas
randomPlacemnetXRange = 1
randomPlacemnetYRange = 1

# probability that any one unit changes parameters and position
changeAnimProb = .001
# chance that animations all pause
pauseProb = 0.2
# chance that unimations resume
unPauseProb = .01
# chance that the glitching pauses
freezeGlitchProb = 0.03
# chance that the glitching resumes
unFreezeGlitchProb = .06

# pause on first frame of spritesheet
pauseOnFirstFrameProb = .075
pauseOnLastFrameProb = .01

# glitch displacement parameters 
# random from 1 to these values
imageGlitchDisplacementHorizontal = 4
imageGlitchDisplacementVertical = 4


# background color HSV ranges
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = 1.0
bg_maxSaturation = 1.0
bg_minValue = .99
bg_maxValue = .99
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 255

# chance that the background changes
backgroundColorChangeProb = .01


#----------------------------------------------------##----------------------------------------------------#
[diag]
#----------------------------------------------------##----------------------------------------------------#
fontColor = 0,100,290
outlineColor = 205,0,0
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0


