[displayconfig]

#----------------------------------------------

work = plane

#----------------------------------------------

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = True
checkForConfigChanges = True
isRPI = False
useFilters = True
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 40
rows = 2
cols = 20

## Also determines the window geometry
#----------------------------------------------
screenWidth = 640
screenHeight = 64

canvasWidth = 640
canvasHeight = 64

brightness =  .95
minBrightness = .6

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 4

# ---  Window Offset
windowXOffset = 0
windowYOffset = 26

#For direct to HAT
#----------------------------------------------
actualScreenWidth = 1280
transwiring = True


[plane]
#----------------------------------------------
#imageList = planes/plane-2tw-lrg.png
#imageList = planes/plane-2twb0.png
#imageList = planes/plane-2tw.png
#imageList = planes/bar.png
imageList = planes/plane-2tw2s.png
# Used for number of planes etc
unitCount = 1

scalingFactor = 1
vOffset = -10

scrollSpeed = .01
speedFactor = 1

displayRows = 5
displayCols = 6

useJitter =  True
jitterRate = .8
jitterResetRate = .2

useBlink = True
noTrails = True

#colorWheel  #random #colorRGB #fixed
colorMode = colorRGB
randomColorMode = True



