[displayconfig]

work = repeater

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 20
rows = 10
cols = 10

# ---  Also determines the window geometry
screenWidth = 640
screenHeight = 640

# ---  preparing for rotation
windowWidth = 640
windowHeight = 128

canvasWidth = 640
canvasHeight = 640

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 25
windowYOffset = 50


remapImageBlock = True
remapImageBlockSection = 320,0,640,64
remapImageBlockDestination = 0,64


brightness =  .99
minBrightness = .5


[repeater]
# Used for number of images etc
#imageList = miscl/head-2tw.png
imageList = icons/ak-2tw.png
#imageList = icons/test-img.png

unitCount = 23
scalingFactor = 4
# Higher the speed factor, slower the movement
speedFactor = 6
vOffset = -10
scrollSpeed = .005
displayRows = 6
displayCols = 5
useJitter =  False
useBlink = True
noTrails = True
colormode = random




