[displayconfig]

work = concentric_particles

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False

checkForConfigChanges = True
doFullReloadOnChange = True


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 128

# ---  preparing for rotation
windowWidth = 128
windowHeight = 128

canvasWidth = 128
canvasHeight = 128

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
windowYOffset = 147

brightness =  .995
minBrightness = 0


useFilters = True

remapImageBlock = False
remapImageBlockSection = 0,0,257,80
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0


remapImageBlock2 = False
remapImageBlockSection2 = 0,70,160,80
remapImageBlockDestination2 = 1,70
remapImageBlockSection2Rotation = -1


[particles]

minParticles = 100
maxParticles = 100

speedFactorMin = .1
speedFactorMax = 1

initXRangeMin = 64
initXRangeMax = 64
initYRangeMin = 64
initYRangeMax = 64

PSXSpeed = 0
PSYSpeed = 0
PSRadiusFactor1 = 1.5
PSRadiusFactor2 = 1.5
PSRadiusMin = 120
PSRadiusMax = 130

systemRotation = 200

fadeRate = 90
fadeRateDelta = 1.0
sparkleProb = .001
fadeRateNewSystemThreshold = 2.0
orbitProb = .95

particleResetProb = .0001
totalResetProb = .25

rBase = 150
gBase = 130
bBase = 0
aBase = 10

radialAlpha = 180
radialRed = 55
radialGreen = 30
radialBlue = 0
radial2Red = 0
radial2Green = 0
radial2Blue = 180


# outer golden ring color
# if filters-dithering are on these will not
# appear exactly as anticipated so fiddling wiil
# be needed
rBase2 = 180
gBase2 = 104
bBase2 = 10
aBase2 = 50

rDiff = -1
gDiff = -1
bDiff = -1

bgColorSets = bg_a,bg_b,bg_c,bg_a

[bg_a]
bgColor = 1,1,2

[bg_b]
bgColor = 70,50,0

[bg_c]
bgColor = 1,1,60







