[displayconfig]

workListDirectory = _works/
_workListDirectory = __in_progress/

#workList =p9,p9
workList = p1

playInOrder = False


# production computer
#commadStringPyth = python3 /home/daemon58/Documents/RPI/player.py -path /home/daemon58/Documents/RPI -mname studio -cfg

# local Mac environment
commadStringPyth = python3 ~/Documents/Dev/RPI/player.py -path ~/Documents/Dev/RPI -mname studio -cfg
repeatCountTrigger = 3

###########################################

[p1]
_work = repeatblocks_2-flat_a.cfg
work = p4-2x4-asym_collage2.cfg
minDuration = 10
maxDuration = 10
startPiece = 10:00
stopPiece = 00:30
brightnessOverride = 1.1


###########################################
