[displayconfig]
#-----------------------------------------------#
work = quilt-informal-v2
# work = diagnostics
#-----------------------------------------------#


rotation = 0
checkForConfigChanges = False
doFullReloadOnChange = False

tileSizeHeight = 32
tileSizeWidth = 64

rows = 8
cols = 11

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 256

# ---  preparing for rotation
windowWidth = 192
windowHeight = 256

canvasWidth = 192
canvasHeight = 256

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3


# Window Offset
# windowXOffset = 2110
windowXOffset = 110
windowYOffset = 55


brightness = 1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,12,220
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,96,258,258
remapImageBlockDestination2 = 384,0

remapImageBlock3 = False
remapImageBlockSection3 = 384,0,512,32
remapImageBlockDestination3 = 0,32

remapImageBlock4 = False
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64


remapImageBlockShift = False
remapImageBlockShiftSection = 0,128,268,224
remapImageBlockShiftStableSection = 0,0,268,128
remapImageBlockShiftDestination = 38,128

usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 192
pixSortboxWidth = 1
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99

useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = False
ditherfilterbrightness = .95

#-----------------------------------------------#
[quilt-informal]
#-----------------------------------------------#
delay = .02
redrawspeed = .02
slotRate = .03

colorPopProb = .0001

numUnits = 12
blockSize = 2
# blockLength = 5.0
# blockHeight = 5.04
blockLength = 2.5
blockHeight = 2.52
# blockLength = 1.25
# blockHeight = 1.251

blockRows = 11
blockCols = 10
hGapSize = 4
vGapSize = 3



cntrOffsetX = 32
cntrOffsetY = 34

# LighteningStrike
# Regular
# Diagonals

opticalpatterns = Regular,LighteningStrike
# opticalpatterns = LighteningStrike,LighteningStrikeH,Regular,Diagonals,LighteningStrikeH
opticalPattern = Regular
saturationrangefactorleft = .8,1
saturationrangefactorright = .8,1
polyDistortion = 8
backgroundColor = 50,0,30,10

timeToComplete = 60

sizeFactorChangeProb = .9
baseSizeMultiplier = 1
extraSizeMultiplier = 2

lines = True
patternPrecision = True

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .1
brightnessFactorLight = 1.99

transitionStepsMin = 15.0
transitionStepsMax = 60.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
#transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

## skew
transformTuples = .9, .5, 0, -.01,  1, 0, .0009, 0.00
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.0

#---------------------------------------------------------------------
[distortionsConfigs]
#---------------------------------------------------------------------

blockWidth = 48
blockHeight = 48

canvasOffsetX = 0
canvasOffsetY = 0

#--------------------- DISTURBANCES  ---------------------
sectionDisturbance = True
disturbanceConfigSets = heavy
changeDisturbanceSetProb = .01

stableSectionsMin  = 5
stableSectionsMax  = 12
stableSectionsMinWidth  = 64
stableSectionsMinHeight  = 128

# tieing this to changes in the piece
# rather than by straight probability
# otherwise can result in a jaring overlay
stableSectionsChangeProb  = .00
rebuildPatternProbability = .00

sectionWidthRange = 64,128
sectionHeightRange = 64,128

sectionPlacementXRange = 0,384
sectionPlacementYRange = 0,700

sectionRotationRange = 20

#--------- WAVE DISTORTIONS ------------------
useWaveDistortion = True
waveAmplitude = 30
wavePeriodMod = 2
wavegridspace = 40
pNoiseMod = 10
waveDeformXPosRate = .06
#--------------------- DISTURBANCE SETS #---------------------


[heavy]
numberOfSections = 70
# the number of steps per section movement
sectionMovementCountMax = 100
sectionWidthRange = 8,180
sectionHeightRange = 8,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,600
sectionRotationRange = .5
stopProbMax = .001

# higher number reduces the speed in that direction
baseSectionSpeed = .080
sectionSpeedFactorHorizontal = 1.0
sectionSpeedFactorVertical = 1.0
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = True
randomDiagonal = True 
diagonalFixedAngle = 0

# the decrement in pasted movement - the higher the number up to 1.0 + 
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96

[standard]
numberOfSections = 30
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 8,80
sectionHeightRange = 8,80
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .01
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .08
sectionSpeedFactorHorizontal = .80
sectionSpeedFactorVertical = 1.2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = False
randomDiagonal = True 
diagonalFixedAngle = 0

# the decrement in pasted movement - the higher the number up to 1.0 + 
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96















[diag]
#-----------------------------------------------#
fontColor = 0,255,90
outlineColor = 255,0,255
fontColor2 = 90,255,0
bgColor = 0,0,255
showGrid = True
fontSize = 9

brightness = 1.0
outerColor = 0,0,255
innerColor = 255,255,0
borderColor = 0,0,0

