[compassFrame]
patterns =  circlesPacked,
            pluses,
            petals,
            tripart,
            circles,
            colorGrid,
            colorGridTriangles,
            gothic1,
            randomizer2,
            randomizer,
            waveScales,
            fishScales,
            wavePattern2,
            decoBoxes,
            reMove,
            concentricBoxes,
            diamond,
            balls,
            compass_hili,
            balls_hili

palettes =  delft
            ,allpink
            ,goldenx2
            ,oceansky

dominantPatterns = fishScales3
dominantPatternProb = .1
# Border Controls
borderPattern = compass_hili
useBorderPattern = True

usePolygonOverlay = False
tileOverlayGridProb = .5
# overlay subtract_modulo soft_light lighter
polyOverlayMode = overlay
combinationSetsMinTime = 47
combinationSetsMaxTime = 61

