[displayconfig]
#-----------------------------------------------#
work = collage
#--------------------#

rendering = hub
isRPI = False

rotation = 0
#8.8
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 5
cols = 5

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 132

# ---  preparing for rotation
windowWidth = 256
windowHeight = 132

canvasWidth = 256
canvasHeight = 132

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2749
windowYOffset = 165

brightness =  .65
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 138,0,280,192
remapImageBlockDestination = 138,28

remapImageBlock2 = False
remapImageBlockSection2 = 128,128,256,128
remapImageBlockDestination2 = 128,60

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 3
pixSortYOffset = 20
pixSortboxHeight = 2
pixSortboxWidth = 244
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .995
pixSortSizeDecriment =  .0
pixSortProbDecriment = .0
pixSortSampleVariance = 1
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.0

useBlur  = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 2



[collageShapes]
#--------------------------#
redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = False
variableFilterProb = .002
useVariablePixelSort = True
variablePixelProb = .001
variablePixelProbOff = .002

useTweenTriggers = False
triggers = 1

useTransitionCallBacks =  False
numberOfDeadPixels = 0


sets = set1
set1 = s0,s2,s3,s4,s5
#s4,s5,s6,s7,s8,s9,s10,s11,s12,s13
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 256,0, 256,132, 0,132
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 200
maxHue = 240
minSaturation = .0
maxSaturation = .1
minValue = .1
maxValue = .3


[s2]
position = 2,3
coords = 0,0, 248,0, 248,8, 0,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s3]
position = 2,20
coords = 0,0, 248,0, 248,8, 0,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s4]
position = 2,38
coords = 0,0, 248,0, 248,8, 0,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s5]
position = 2,56
coords = 0,0, 248,0, 248,8, 0,8
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99




