[displayconfig]

work = screen

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 320

# ---  preparing for rotation
windowWidth = 320
windowHeight = 320

canvasWidth = 320
canvasHeight = 320

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 2
canvasOffsetY = 2

imageXOffset = 0
imageYOffset = 0

# Window Offset
windowXOffset = 2685
windowYOffset = 201

brightness =  .9
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 128,128,256,192
remapImageBlockDestination = 0,64


remapImageBlock2 = False  
remapImageBlockSection2 = 128,128, 192,246
remapImageBlockDestination2 = 128,130

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 320
sectionBlurRadius = 1

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 52
pixSortYOffset = 320
pixSortboxHeight = 8
pixSortboxWidth = 448
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1





[diag]
#--------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9




[screenproject]
#-----------------------------------------------#
delay = .02
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 7
pointsCount = 5
drawCracks = False
origin = 0,0

## Used when first creating the cracks
yVarMin = 6
yVarMax = 56

randomColorSampleProb = .01
probDrawBoxes = .4
probDrawLines = .41
probDrawPerpLines = .001
crackChangeProb = .1
imageResetProb = .001

pauseProb = .01
unpauseProb = .2

timeTrigger = True

## This controls the range of background colors
tLimitBase = 10
minHue = 360
maxHue = 15
minSaturation = .8
maxSaturation = 1
minValue = .4
maxValue = .5
maxBrightness = .9




