[displayconfig]

work = hang

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 16
rows = 4
cols = 4

## Also determines the window geometry
screenWidth = 128
screenHeight = 129

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 128
canvasHeight = 129

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 2

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = 40
windowYOffset = 40

# Window Offset
#windowXOffset = 2599
#windowYOffset = 66

#For direct to HAT
transwiring = True
actualScreenWidth = 640

[hang]
redrawSpeed = .05
fontSize = 11
sansSerif = True
shadowSize = 2
steps = 2
vOffset = -18
xOffset = 15
imageXOffset = -35
imageYOffset = -15

[marquee]
fontSize = 11
sansSerif = True
shadowSize = 2
steps = 2
vOffset = -18

marqueeNum = 12
marqueeWidth = 12
gap = 0

redrawSpeed = .02
marqueeNum = 10
marqueeWidth = 10
gap = 1
step = 2
decrement = 1
randomRange = 200.0