[displayconfig]
#-----------------------------------------------#

#--------------------#


work = marquee_2

#--------------------#


rendering = hub
rotation = 45
#8.8
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 4
cols = 4

# ---  Also determines the window geometry
screenWidth = 350
screenHeight = 290

# ---  preparing for rotation
windowWidth = 280
windowHeight = 290

canvasWidth = 280
canvasHeight = 290

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2632
windowYOffset = 50

brightness =  .65
minBrightness = 0

imageXOffset = 0

remapImageBlock = True
remapImageBlockSection = 182,0,308,192
remapImageBlockDestination = 182,28

remapImageBlock2 = True
remapImageBlockSection2 = 50,0,80,182
remapImageBlockDestination2 = 26,0

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 25
pixSortgap = 80
pixSortprobDraw = .09
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

useBlur  = False
blurXOffset = 13
blurYOffset = 0
blurSectionWidth = 144
blurSectionHeight = 256
sectionBlurRadius = 10



[marquee]
#-----------------------------------------------#
redrawSpeed = .02
marqueeNum = 8
marqueeWidth = 22
baseDashSize = 56
gap = 0
step = 2
decrement = 1
randomRange = 200.0

fontsize = 44
shadowSize = 1





