[displayconfig]

work = pattern-pent

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

#tileSizeHeight = 32
#tileSizeWidth = 64
#matrixTiles = 16
#rows = 4
#cols = 4


tileSizeHeight = 4
tileSizeWidth = 4
matrixTiles = 48
rows = 32
cols = 64

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 260

# ---  preparing for rotation
windowWidth = 256
windowHeight = 260

canvasWidth = 260
canvasHeight = 260

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# Window Offset
windowXOffset = 1700
#2685
windowYOffset = 169

brightness =  .85
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 192,256,384,320
remapImageBlockDestination = 0,0

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 25
pixSortgap = 80
pixSortprobDraw = .09
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


[pattern]
#-----------------------------------------------#

delay = .05
base = 3.0
rows = 10
cols = 10

patternSet = patternSet3


[patternSet1]
# Bang Spiral
initialRadius = 100
nSides = 3
reduceRate = 1.5
turnRate = 4
repeatFigures = 50
colorRep = 3

[patternSet2]
# classic turned square
initialRadius = 100
nSides = 4
reduceRate = 1.5
turnRate = 2
repeatFigures = 50
colorRep = 3

[patternSet3]
# Crazy star
initialRadius = 100
nSides = 3
reduceRate = 1.5
turnRate = 3
repeatFigures = 50
colorRep = 6

[patternSet4]
# poly spiral
initialRadius = 100
nSides = 7
reduceRate = 1.5
turnRate = 10
repeatFigures = 50
colorRep = 2

[patternSet5]
# classic spiral from square
# 2 colors is spiral
# 4 colors+ is floral
initialRadius = 100
nSides = 4
reduceRate = 1.5
turnRate = 3
repeatFigures = 50
colorRep = 4

[patternSet6]
# fractional turns
initialRadius = 100
nSides = 3
reduceRate = 1.5
turnRate = 4.4
repeatFigures = 50
colorRep = 6
