[displayconfig]
#-----------------------------------------------#
work = quilt-triangles
#--------------------#

rendering = hub
rotation = 12
#8.8
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 5
cols = 5

# ---  Also determines the window geometry
screenWidth = 148
screenHeight = 168

# ---  preparing for rotation
windowWidth = 148
windowHeight = 168

canvasWidth = 148
canvasHeight = 168

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 0
canvasOffsetY = -12

# Window Offset
windowXOffset = 2813
windowYOffset = 233

brightness =  .85
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 138,0,280,192
remapImageBlockDestination = 138,28

remapImageBlock2 = False
remapImageBlockSection2 = 128,128,256,128
remapImageBlockDestination2 = 128,60

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 15
pixSortboxHeight = 64
pixSortboxWidth = 16
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .995
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 1
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 4





[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14




[quilt]
#-----------------------------------------------#
pattern = stars

delay = .01
colorPopProb = .01

## Approximating timing so that any one triange changes once every 2 minutes or so
## e.g. .0005 prob checked every .01 seconds ~ .0005/ .01s = 5% chance per second ...
resetTrianglesProd = .9995

numUnits = 1
blockSize = 50
blockLength = 0
blockHeight = 0

blockRows = 4
blockCols = 4
gapSize = 0

cntrOffsetX = 0
cntrOffsetY = 0

lines = False
patternPrecision = True
timeToComplete = 30

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

transitionStepsMin = 15.0
transitionStepsMax = 300.0

transformShape = False

## No transform
transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

activeSet = set1

[set1]
## red grid, greens for squares - high lumen
## BASE
c1HueRange = 0,360
c1SaturationRange = .1,.91
c1ValueRange = .01,.51

## SQUARE
c2HueRange = 0,360
c2SaturationRange = .1,.91
c2ValueRange = .01,.51

## CENTER
c3HueRange = 0,36
c3SaturationRange = .8,.99
c3ValueRange = .5,.51


[set2]
## diamond/sqaures recede due to being low saturarion
## BASE
c1HueRange =  1,360
c1SaturationRange = .8,1
c1ValueRange = .5,.8

## SQUARE
c2HueRange = 0,360
c2SaturationRange = .1,.5
c2ValueRange = .1,.3

## CENTER
c3HueRange = 0,360
c3SaturationRange = 1,1
c3ValueRange = .1,.3



