[displayconfig]
#-----------------------------------------------#
work = diagnostics
#--------------------#

rendering = hub
isRPI = False

rotation = 0
#8.8
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 5
cols = 5

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 132

# ---  preparing for rotation
windowWidth = 256
windowHeight = 132

canvasWidth = 256
canvasHeight = 132

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2749
windowYOffset = 165

brightness =  .65
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 138,0,280,192
remapImageBlockDestination = 138,28

remapImageBlock2 = False
remapImageBlockSection2 = 128,128,256,128
remapImageBlockDestination2 = 128,60

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 20
pixSortboxHeight = 64
pixSortboxWidth = 8
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .995
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 1
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 4



[collageShapes]
#-----------------------------------------------#

prisimBrightness = .95
redrawSpeed = .02
changeBoxProb = .005

transitionStepsMin = 140
transitionStepsMax = 254
# *4
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = True


# varianceMode = symmetrical, asymmetrical, independent
varianceMode = symmetrical

sets = s0,s1,s1a,s2,s2a

[s0]
postion = 0,0
coords = 0,0, 448,0, 256,448, 0,448
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s1]
postion = 0,0
coords = 0,0, 172,0, 172,256, 0,256
varX = 40
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s1a]
postion = 10,-20
coords = 0,0, 152,0, 152,236, 0,236
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s2]
postion = 178,0
coords = 0,0, 248,0, 248,248, 0,248
varX = 40
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s2a]
postion = 188,10
coords = 0,0, 228,0, 228,228, 0,228
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False



[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14



[squares]
#-----------------------------------------------#
forceHoldDivision = -1
lineWidth = 1
countLimit = 2
pulseSpeed = .02
pasteDelay = .06
mode = rows



[dicefactory]
#-----------------------------------------------#
forceHoldDivision = -1
lineWidth = 1
countLimit = 2

pulseSpeed = .01
pasteDelay = .01

rows = 12
cols = 20
b = 1
w = 12
dibit = -1
reDrawProb = .01
reRollProb = .01

deltaLim = .1
alwaysRedrawAfterReRoll = False
allChange = True



[bricks]
#-----------------------------------------------#
delay = .01
colorPopProb = .0001

numUnits = 6
blockSize = 3
blockHeight = 16
blockLength = 48

blockRows = 16
blockCols = 8
hGapSize = 4
vGapSize = 4
scrollSpeed = .5

cntrOffsetX = 0
cntrOffsetY = 0

polyDistortion = 2

timeToComplete = 130

lines = True
patternPrecision = True

redRange = 10,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

transitionStepsMin = 15.0
transitionStepsMax = 300.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
#transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

## skew
transformTuples = .9, .5, 0, -.01,  1, 0, .0009, 0.00
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.0


[quilt]
#-----------------------------------------------#
pattern = stars

delay = .01
colorPopProb = .0001

## Approximating timing so that any one triange changes once every 2 minutes or so
## e.g. .0005 prob checked every .01 seconds ~ .0005/ .01s = 5% chance per second ...
resetTrianglesProd = .9995

numUnits = 1
blockSize = 20
blockLength = 0
blockHeight = 0

blockRows = 4
blockCols = 4
gapSize = 0

cntrOffsetX = 0
cntrOffsetY = 0

lines = False
patternPrecision = True
timeToComplete = 30

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

transitionStepsMin = 15.0
transitionStepsMax = 300.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

#transformTuples = 1, 0, 0, 0.0,  1, 0, 0, 0.0
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.0

activeSet = set2

[set1]
## red grid, greens for squares - high lumen
## BASE
c1HueRange = 0,36
c1SaturationRange = .8,1
c1ValueRange = .8,.99

## SQUARE
c2HueRange = 0,360
c2SaturationRange = .4,.99
c2ValueRange = .1,.86

## CENTER
c3HueRange = 0,36
c3SaturationRange = .9,1
c3ValueRange = .8,.99


[set2]
## diamond/sqaures recede due to being low saturarion
## BASE
c1HueRange =  1,360
c1SaturationRange = .8,1
c1ValueRange = .5,.8

## SQUARE
c2HueRange = 0,360
c2SaturationRange = .1,.5
c2ValueRange = .1,.3

## CENTER
c3HueRange = 0,360
c3SaturationRange = 1,1
c3ValueRange = .1,.3

[set3]
#	Red center diamonds
## BASE
c1HueRange = 1,360
c1SaturationRange = .8,1 
c1ValueRange = .3,.5

## SQUARE
c2HueRange = 1,20
c2SaturationRange = .8,1
c2ValueRange = .9,1

## CENTER
c3HueRange = 0,360
c3SaturationRange = .7,.9
c3ValueRange =  .1,.5

[set4]
#	Red grid - has most stained-glass feel ++

## BASE
c1HueRange = 0,29 
c1SaturationRange =  .9,1
c1ValueRange = .2,.22

## SQUARE
c2HueRange =  1,360
c2SaturationRange = .8,1
c2ValueRange = .4,.5

## CENTER
c3HueRange =  0,32
c3SaturationRange = .9,1
c3ValueRange = .5,.51






