[displayconfig]

work = repaint

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True

useFilters = True
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 16
rows = 4
cols = 4

## Also determines the window geometry
screenWidth = 128
screenHeight = 128

# preparing for rotation
windowWidth = 128
windowHeight = 128

# preparing for rotation
canvasWidth = 128
canvasHeight = 128

brightness =  .3
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 2

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = -1
windowYOffset = 13

[repaintorig]
repaintDelay = .01
numBrushes = 14
ferrule = 14
bristle = 19
handle = 24
brushWidth = 24
handleWidth = 6
holeWidth = 2
holeHeight = 3
speedRange = 3
rotationProbability = .1
orthoProbability = .03
rectifyProbability = .01


[repaint]
repaintDelay = .01
numBrushes = 4
ferrule = 10
bristle = 12
handle = 18
randomBrushWidth = True
# 20 is a good fixed brush width
brushWidth = 20
handleWidth = 6
holeWidth = 2
holeHeight = 3
speedRange = 2

#--  not really used
rotationProbability = .1

#-- chance per color/bounce change that brush will go 0/90/180
orthoProbability = .03

#--  chance per cycle that brushes are forced to 0/90/180
rectifyProbability = .01