[displayconfig]

work = repaint

isRPI = True
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 16
rows = 4
cols = 4

## Also determines the window geometry
screenWidth = 128
screenHeight = 128

# preparing for rotation
windowWidth = 128
windowHeight = 128

# preparing for rotation
canvasWidth = 128
canvasHeight = 128

brightness =  .925
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 5

# Window Offset
windowXOffset =  0
windowYOffset =  173

[repaint]
repaintDelay = .01
numBrushes = 14
ferrule = 14
bristle = 19
handle = 24
brushWidth = 24
handleWidth = 6
holeWidth = 2
holeHeight = 3
speedRange = 5
rotationProbability = .1
orthoProbability = .03
rectifyProbability = .01

