[displayconfig]

work = repeater

isRPI = False
rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 16
rows = 4
cols = 4

## Also determines the window geometry
screenWidth = 128
### oops this is not right ....
screenHeight = 128

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 128
canvasHeight = 128

actualScreenWidth = 512
transwiring = True

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 2

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = -1
windowYOffset = 13

[repeater]
#imageList = miscl/head-2tw.png
imageList = icons/ak-2tw.png

# Used for number of images etc
unitCount = 33
scalingFactor = 4

# Higher the speed factor, slower the movement
# for GB box, set to 5
speedFactor = 2
scrollSpeed = .004

vOffset = -10

displayRows = 4
displayCols = 4

useJitter =  False
useBlink = True
noTrails = True

resizeMin = .1
resizeMax = 1.5



