[displayconfig]

work = screensaver

windowOrientation = horizontal
rendering = hub
rotation = 3
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0

pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 32
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = .1
pixSortProbDecriment = .1
pixSortSizeDecriment = .1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .0012
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = .1

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 4
cols = 4

# ---  Also determines the window geometry
screenWidth = 170
screenHeight = 160

# ---  preparing for rotation
windowWidth = 160
windowHeight = 160

canvasWidth = 160
canvasHeight = 160

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 2
canvasOffsetY = 3

# Window Offset
# Window Offset
windowXOffset = 2501
windowYOffset = 370

brightness =  .8
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,64,160
remapImageBlockDestination = 0,-25

[images]
#i1 = icons/Mac-Book-Black-On-icon.png
#i1 = icons/Computer-Hardware-Laptop-icon.png
i1 = icons/boxy.png
i2 = 
useBlanks = True
useimagefilter = False
playSpeed = .01


[txtdisplay]
#txt1 = '      '
#txt2 = ' COMPUTER'
#txt3 = 

#txt2 = '+++++'
#txt1 = '      '
#txt2 = '____'
txt3 = 
txt1 = ' PLEASE TURN OFF WHEN NOT IN USE '   
txt2 = ''

fontColor1_ = 10,10,80,140
fontColor1__ = 255,200,0,200
fontColor1 = 5,200,0,200
fontColor2 = 255,200,0
fontColor3 = 255,200,0
txtBackgroundColor = 10,10,50,140
backgroundColor = 50,5,50,10

crawlText = PLEASE TURN OFF WHEN NOT IN USE
crawlHeight = 50
crawlPositionX = -6
crawlPositionY = -2
crawlRepeatDistanceFactor = 3.0

txtBoxHtMultuiplier = 2
fontSize = 12

xbuffer = 62
ybuffer = 32

xMin = -248
xMax = 190

yMin = -120
yMax = 165
