[displayconfig]

work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 4
pixSortboxHeight = 128
pixSortboxWidth = 100
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .999
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .7
brightnessVarHi = .7
pixelSortAppearanceProb = 1.0

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 4
cols = 4

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2749
windowYOffset = 205

brightness =  .95
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 3

useFilters = False
ditherfilterbrightness = .9

remapImageBlock = False
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 =  192,0,256,256
remapImageBlockDestination2 = 192,8
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 =  0,0,256,256
remapImageBlockDestination3 = 0,0

[collageShapes]
#-----------------------------------------------#

redrawSpeed = .02
changeBoxProb = .002

transitionStepsMin = 140
transitionStepsMax = 254

tweenCountMax = 300
colOverlaytLimitBase = 15
colOverlaySteps = 60

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = True

## Affects all colors
maxHue = 0
minHue = 360
maxSaturation = .5
minSaturation = .1
maxValue = .5
minValue = .2


sets = set1
set1 = s0,s1
set2 = s0a,s1a
#,s1a,s2,s2a

[s0]
position = 0,0
coords = 0,0, 260,0, 260,220, 0,220
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s1]
position = 0,0
coords = 0,0, 256,60, 250,256, 110,256
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False


[s0a]
position = 0,0
coords = 0,0, 260,0, 260,220, 0,220
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s1a]
position = -20,-10
coords = -10,-10, 160,0, 270,192, 0,100
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[compositions]
#---------------------------------#
# Framerate
delay = .02
canvasImageWidth = 256
canvasImageHeight = 128

refreshCount = 400
timeToComplete = 30
cleanSlateProbability = .8
filterPatchProb = .25

bgColor = 50,50,50

#background Color Controls
minHue = 0
maxHue = 360
minSaturation = .1
maxSaturation = .3
minValue = .1
maxValue = .4


[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0


[fludd]
#---------------------------------#
# prism or plenum
# prism is all colors all at once, = no color
# plenum is all white, = all color = no color
borderModel = plenum

# nothing or void 
# nothing is white nothing with nothing border implied
# void is black nothing implied
nothing = nothing

var =  7
# varianceMode = symmetrical, asymmetrical, independent
varianceMode = independent

# deprecated...
prisimBrightness = .95
redrawSpeed = .02

# if demoMode == 0, no rotation of variants
# demoMode > 0 is seconds/variant
demoMode = 0

# Affects the way the implied edges fade
# lower is smoother, but maybe less interesting
blackOpacity = 20

# The probablility that the gray level
# will change - note checked every cycle
# so if redraw speed is .01 1/100 of a second
# and prob = .02 the probablity that it will
# change is .02/.01 x100 = 20% per second
nothingChangeProbability = .005
blacknessChangeProbability = .001


