[displayconfig]
#---------------------------------#
work = squares-poly
#---------------------------------#
rendering = hub
isRPI = False

rotation = 0
#8.8
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 5
cols = 5

# ---  Also determines the window geometry
screenWidth = 198
screenHeight = 132

# ---  preparing for rotation
windowWidth = 198
windowHeight = 132

canvasWidth = 198
canvasHeight = 132

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2749
windowYOffset = 165

brightness =  .92
minBrightness = 0

imageXOffset  = 0
imageYOffset  = 0
remapImageBlock = False

usePixelSort = True
pixSortDirection = medial
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 60
pixSortYOffset = 0
pixSortboxHeight = 128
pixSortboxWidth = 4
pixSortgap = 20
pixSortprobDraw = .95
pixSortprobGetNextColor = .99
pixSortProbDecriment = .01
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 130
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = False


[quilt]
#---------------------------------#
pattern = polys

# Framerate
delay = .02

## Approximating timing so that any one triange changes once every 2 minutes or so
## e.g. .0005 prob checked every .01 seconds ~ .0005/ .01s = 5% chance per second ...
resetTrianglesProb = .9995
colorPopProb = .0001

# the probability that at the completion of all transisitons that
# a new quilt sizeing will be made
resetSizeProbability  = .8

blockSizeMin = 8
blockSizeMax = 18

blockColsMin = 13
blockRowsMin = 3

blockColsMax = 14
blockRowsMax = 4

gapSize = 0

cntrOffsetX = 0
cntrOffsetY = 0

lines = False
patternPrecision = True

timeToComplete = 10
transitionStepsMin = 15.0
transitionStepsMax = 25.0
randomness = 0

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99


transformShape = False

## No transform
transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0


activeSet = set1


[set1]
## The top / base diamond / square
c1HueRange = 1,360
c1SaturationRange = .8,.85
c1ValueRange = .4,.9

# the "Shaded" side
c2HueRange = 0,360
c2SaturationRange = .2,1
c2ValueRange = .1,.5

## The "bright side"
c3HueRange = 1,360
c3SaturationRange = .2,1
c3ValueRange = .8,.95








