[displayconfig]

work = marquee_2

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0

pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 32
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = .1
pixSortProbDecriment = .1
pixSortSizeDecriment = .1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .0012
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = .1

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 4
cols = 4

# ---  Also determines the window geometry
screenWidth = 170
screenHeight = 160

# ---  preparing for rotation
windowWidth = 160
windowHeight = 160

canvasWidth = 160
canvasHeight = 160

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 5
canvasOffsetY = 3

# Window Offset
# Window Offset
windowXOffset = 2500
windowYOffset = 10

brightness =  .8
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,64,160
remapImageBlockDestination = 0,-25

#-----------------------------------------------#
[diag]
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0


#-----------------------------------------------#
[marquee]
redrawSpeed = .02
marqueeNum = 10
marqueeWidth = 10
baseDashSize = 80
gap = 2
step = 1
decrement = 1
randomRange = 200.0

#-----------------------------------------------#
[scroller]

useOverLayImage = False
useArrows = False
useImages = True
useTransparentImages = False
useBackground = False
useText = False
useAltText = False

overallBlur = 0

patternSpeed = .3
textSpeed = 1
arrowSpeed = -3
imageSpeed = -.6

redrawSpeed = .02

xOffset = -0
yOffset = -0

displayRows = 2
displayCols = 8

#--- Text Message
# randomColor
# getRandomRGB
# getRandomColorWheel
colorMode = randomColor
sansSerif = True
fontSize = 50
textVOffest = -12
shadowSize = 1

#msg1 = REASON MAKES MONSTERS IN ITS SLEEP

msg1 = THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
msg2 = THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG

#msg1 = PACK MY BOX WITH FIVE DOZEN LIQUOR JUGS
#msg2 = PACK MY BOX WITH FIVE DOZEN LIQUOR JUGS
msg3 = 

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .2

patternRows = 64
patternCols = 240
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .01
pattern = lines

lineThickness = 2
arrowCols = 10
# This actually is not working  ;(
bgBackGroundColor = 14,10,0,90
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -10
overLayYPos = 80
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
#imageBlockImage = /assets/imgs/sks/skull-s4d.png
#imageBlockImage = /assets/imgs/bgs/blue_and_white_woodblock_daisy.png
#imageBlockImage = /assets/imgs/bgs/pat-2c.png
#imageBlockImage = /assets/imgs/bgs/pattern-template-1.png

#imageBlockImage = /assets/imgs/bgs/pattern-t3c.png
# generally better
imageBlockImage = /assets/imgs/bgs/pattern-t2.png
# Blurred
#imageBlockImage = /assets/imgs/bgs/pattern-t3d.png

# Spacing...
imageBlockBuffer = 0
imageBlockRemakeProb = .01


#-----------------------------------------------#
[signage]
fontColor = 0,0,0
outlineColor = 0,0,0
showGrid = True
showText = False
showOutline = False
randomRotation = True
coordinatedColorChange = False
timeTrigger = True
tLimitBase = 30
steps  = 155
redrawDelay = .01

unhideRate = 0
rehideRate = 0

imageGlitchSize = 5
fullimageGiltchRate = .0001

useOverLayImage = False
overLayImage = /assets/imgs/miscl/mac-cursor.png
overlayBrightness = .3
overLayXPos = 100
overLayYPos = 5
overlayGlitchSize = 1
overlayGlitchRate = .001
overlayResetRate = .015


#-----------------------------------------------#
[signage-set]
fontColor = 0,0,0
outlineColor = 0,0,0
showGrid = True
showText = False
showOutline = False
randomRotation = True
coordinatedColorChange = False
timeTrigger = True
tLimitBase = 40
steps = 155
redrawDelay = .02

unhideRate = 0
rehideRate = 0

imageGlitchSize = 5
fullimageGiltchRate = .00002

useOverLayImage = False
overLayImage = /assets/imgs/miscl/mac-cursor.png
overlayBrightness = .3
overLayXPos = 100
overLayYPos = 5
overlayGlitchSize = 1
overlayGlitchRate = .001
overlayResetRate = .000000015

useFixedPalette = True

## If this is set to 1, then
## will use the range for the whole set 
paletteRange = 1

# Hue min/max Saturation min,max Value min/max
#p1 = 205,215, .6,.9, .8,1
#p2 = 210,230, .6,.9, .,1
#p3 = 0,10, .6,.9, .8,1
#p4 = 0,5, .6,.9, .8,1

## NOTE -- the ranges are parts of a "circle"
## so if the starting angle is 170 and the ending angle is 90
## colors between 90 and 170 will NOT be produced

## ALL BLUES SCREEN
p1 = 220,230, .98,1, .4,.41

## MINUS GREEN
#p1 = 160,60, 1,1, .8,.81

p2 = 0,350, 1,1, .1,1
p3 = 20,350, 1,1, .1,1
p4 = 220,230, 1,1, .8,.81

## selective exclusion of color range
## set both to zero to turn off
dropHueMin = 0
dropHueMax = 0

