[displayconfig]

work = scroller-holder-simple

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 4
cols = 6

# ---  Also determines the window geometry
screenWidth = 480
screenHeight = 128

# ---  preparing for rotation
windowWidth = 192
windowHeight = 64

canvasWidth = 480
canvasHeight = 128

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1000
windowYOffset = 335

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,384,192
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 192,0, 384,32
remapImageBlockDestination2 = 0,32

useFilters = False

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 96
sectionBlurRadius = 2

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 48
pixSortboxHeight = 2
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .2
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

forceBGSwap = False

[scroller]
#-----------------------------------------------#


# for pattern scrolling
redrawSpeed = .02
useUltraSlowSpeed = False

displayRows = 2
displayCols = 1

patternSpeed = 5

patternRows = 16
patternCols = 64

# when randomizing the pattern remake, set limits
minPatternCols = 5
minPatternRows = 8

maxPatternCols = 480
maxPatternRows = 32

patternDrawProb = .10
maxDrawProb = .5
minDrawProb = .5


# lines or diamonds bricks pluses regularLines
pattern = pluses
alwaysRandomPattern = True
altDirectionScrolling = True
alwaysRandomPatternColor = True

pauseProb = 0.0


bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .9
bg_maxSaturation = .9
bg_minValue = .1
bg_maxValue = .8

fg_minHue = 0
fg_maxHue = 360
fg_minSaturation = .99
fg_maxSaturation = .99
fg_minValue = .8
fg_maxValue = .8


# for some reason with this piece I do not like 
bg_dropHueMinValue = 50
bg_dropHueMaxValue = 180
fg_drophueminvalue = 50
fg_drophuemaxvalue = 180

backgroundColorChangeProb = .25

# color combination - dependent palettes
redGreenSwapProb = 0
redBlueSwapProb = .0
greenBlueSwapProb = 0




[diag]
fontColor = 100,0,0
fontColor2 = 0,0,100
outlineColor = 0,100,0
bgColor = 0,0,40
showGrid = True
fontSize = 14

