[markParams]
name=shortMarks2
minNumPoints = 8
maxNumPoints = 8

turnsRange = 5,15
minInterpolatedPoints = 80
maxInterpolatedPoints = 100

# effectively 3 = 1/3 of smallest canvas dimension
baseRadiusFactorRange = 3.0,3.0
# .01 means a very shallow x - more like lines "up and down"
xRadiusFactorRange = .01,.01
yRadiusFactorRange = 1.0,1.1

# the range of randomness of individual points
xRadiusFactorNoiseFactor = 1.0
yRadiusFactorNoiseFactor = 2.0
yRandomRange = -15, 15
xRandomRange = -5, 5
# higher means less rotations of drawing
rotationFactor = 10

# placement controls
# xOffsetRange = -140,140
# yOffsetRange = -100,100

w = 1
minMarkWidth = 3
maxMarkWidth = 12
changeMarkWidthProb =.09
incrementFactor = 2

mode = 2

xTravelRange = -0,0
yTravelRange = -0,0

xtravelProb = .1
ytravelProb = .1
xTravelIncrRange = 0,0
yTravelIncrRange = 0,0

radiusChangePerRound = 0

angleDiffMax = 10

drawLineAsEnvelope = True