[markParams]
name=spiralGyres2
# winding scribbles
minNumPoints = 8
maxNumPoints = 8

num_points = 8
turnsRange = 3,11
minInterpolatedPoints = 190
maxInterpolatedPoints = 220

baseRadiusFactorRange = 2.50,2.50
xRadiusFactorRange = 1.0,1.50
yRadiusFactorRange = 1.0,1.50

xRadiusFactorNoiseFactor = 2.0
yRadiusFactorNoiseFactor = 2.0
xRandomRange = -10, 10
yRandomRange = -10, 10

rotationFactor = 8

# xOffsetRange = -0,0
# yOffsetRange = -0,-0
# xOffsetRange = -2,10
# yOffsetRange = -40,-10
w = 6
mode = 2
minMarkWidth = 2
maxMarkWidth = 10
changeMarkWidthProb =.05
incrementFactor = 1

xTravelRange = -5,12
yTravelRange = -5,5

radiusChangePerRound = -2