[displayconfig]
#-----------------------------------------------#
# work = diagnostics
work = concentric_particles_v4
#-----------------------------------------------#

rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 30

rows = 2
cols = 22

# ---  Also determines the window geometry
screenWidth = 1408
screenHeight = 192

# ---  preparing for rotation
windowWidth = 1408
windowHeight = 192

canvasWidth = 1408
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2647
windowYOffset = 736

#windowXOffset = 2785
#windowYOffset = 165

brightness =  1.0
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,1408,192
remapImageBlockDestination = 0,0

remapImageBlock2 = True
remapImageBlockSection2 = 256,0,512,32
remapImageBlockDestination2 = 0,32

remapImageBlock3 = True
remapImageBlockSection3 = 512,0,768,32
remapImageBlockDestination3 = 0,64

remapImageBlock4 = True
remapImageBlockSection4 = 768,0,896,32
remapImageBlockDestination4 = 128,96

remapImageBlock5 = True
remapImageBlockSection5 = 896,0,1152,32
remapImageBlockDestination5 = 0,128

remapImageBlock6 = True
remapImageBlockSection6 = 1152,0,1408,32
remapImageBlockDestination6 = 0,160

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .51
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

useFilters = True
ditherFilterBrightness = .95


useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 128
sectionBlurRadius = 2



##########################################################
[particles]
##########################################################

numberOfCenters = 17

# the minimum and maximum radius
PSRadiusMin = 23
PSRadiusMax = 86

# the range of center positions
initXRangeMin = 32
initXRangeMax = 1408
initYRangeMin = -5
initYRangeMax = 40

PSXSpeed = -0.0
PSYSpeed = 0.0

PSRadiusFactor1 = 1.0
PSRadiusFactor2 = 1.0

# the width/height max destination as
# a multiple of canvas width/height eg 5 == 1/5
xMaxFactor = 12
yMaxFactor = 12

# background alpha
backgroundAlpha = 70
backgroundAlphaMin = 60
backgroundAlphaMax = 120
backgroundAlphaDelta = -1
backgroundAlphaDeltaSpeed = .1
backgroundAlphaNewSystemThreshold = 4.0

useFixedBandColorsProb = .5
totalResetProb = .0075


##########################################################
# the following parameters affect the particles
minParticles = 100
maxParticles = 200

sparkleProb = .005
orbitProb = .95
particleResetProb = .01

speedFactorMin = .8
speedFactorMax = 1.2
radialSpeedFactor = 120
particleColorRange = 180,220,0.8,1.0,.5,.75


##########################################################
# The following affect the radial spokes
radialSetMinNum = 20
radialSetMaxNum = 73

radialRed = 101
radialGreen = 79
radialBlue = 50
radialAlpha = 80

radial2Red = 80
radial2Green = 0
radial2Blue = 18


radialSetInnerRadiusFactorFixedBands = 4
radialSetInnerRadiusFactor = 1
radialSetInnerRadiusRange = -5,5
radialSetOuterRadiusRange = -50,70

# higher is slower
rotationSpeedFactor = 10


##########################################################
# for fixed color bands, the interior ring or gap
# can be set to a minimum value
PSRadiusFixedColorMinInternalRadius = 32

# fixed color bands' min and max width
# i.e. when fixed colored rings are used,
# all the bands for a given instance will be of a
# random size between these two values
bandWidthMin = 1
bandWidthMax = 7

PSFixedColorRadiusDiffMin = 13
PSFixedColorRadiusDiffMax = 17
# the following parameters affect the banding
# The number of rings around the center
PSMinBands = 23
PSMaxBands = 43

# hsv = 47,92,51
probGoldBand = .25
bandGoldColorsRange = 40,50,.92,1.0,.51,.61
bandBlueColorsRange = 200,250,.92,1.0,.21,.31
bandWidthRange = 3,12
bandDecrimentRange = 3,12
bandAlphaRange = 140,190

bandColors=50,10,50
            |8,87,173
            |8,87,173
            |78,87,173
            |78,87,173
            |78,87,173
            |120,90,90
            |120,50,50
            |50,120,90
            |151,165,194
            |222,208,182
            |10,90,150
            |10,80,0
            |96,71,67
            |80,90,0
            |80,0,0
            |120,74,52
            |187,189,168
            |129,137,158
            |204,228,232
            |253,240,195
            |199,166,151
            |151,165,194
            |89,113,175
            |53,73,136
            |27,38,83
            |27,38,83




# ------------------------------
# for some towers the seam between the 
# start and end needs to become semi-continuous
horizontalContinuity = False
horizontalOverlapFraction = 1

verticalContinuity = False
verticalOverlapFraction = 1

# ------------------------------

bgColorSets = bg_c,bg_a
# bgColorSets = bg_a,bg_b,bg_c,bg_a

[bg_a]
bgColor = 1,1,10

[bg_c]
bgColor = 5,15,30

[bg_b]
bgColor = 90,60,10


[bg_d]
bgColor = 0,40,20




[diag]
#---------------------------------#

fontColor = 150,150,0
outlineColor = 120,0,0
fontColor2 = 0,100,100
bgColor = 0,0,104
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 120,40,0
borderColor = 10,0,0

