[displayconfig]

work = particles-v2
# work = diagnostics

# not necessarily 90 rotated
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 30

rows = 2
cols = 14

# ---  Also determines the window geometry
screenWidth = 896
screenHeight = 128

# ---  preparing for rotation
windowWidth = 896
windowHeight = 128

canvasWidth = 896
canvasHeight = 128

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2647
windowYOffset = 236

#windowXOffset = 2785
#windowYOffset = 165

brightness =  .7
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,896,128
remapImageBlockDestination = 0,0

remapImageBlock2 = True
remapImageBlockSection2 = 256,0,512,32
remapImageBlockDestination2 = 0,32

remapImageBlock3 = True
remapImageBlockSection3 = 512,0,768,32
remapImageBlockDestination3 = 0,64

remapImageBlock4 = True
remapImageBlockSection4 = 768,0,896,32
remapImageBlockDestination4 = 128,96

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .51
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

useFilters = True
ditherFilterBrightness = .95


useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 128
sectionBlurRadius = 2




[diag]
#-----------------------------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0



[base]
fillColor = 180,100,10,100
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20

particle_fillRange = 20,40,.80,1.0,.5,1.0,220,220
particle_outlineRange = 0,40,.50,1.0,.3,1.0,10,20
# backgroundColor controls
bg_fillRange = 0,18,.2,1.0,.1,.6,10,20
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 1550

overallBlur = 1
unitBlur = 0

[midnightBlue]
particle_fillRange = 350,33,.80,1.0,.5,1.0,100,200
particle_outlineRange = 350,33,.50,1.0,.3,1.0,100,200
# backgroundColor controls
bg_fillRange = 210,270,.8,1.0,.1,.6,10,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 1300

overallBlur = 1
unitBlur = 0

[pinkSacrifice]
particle_fillRange = 320,350,1.0,1.0,.80,1.0,100,220
particle_outlineRange = 320,350,1.0,1.0,1.0,1.0,100,200
# backgroundColor controls
bg_fillRange = 320,350,1.0,1.0,.9,1.0,100,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = False
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 150

overallBlur = 2
unitBlur = 0

[test]
particle_fillRange = 350,20,1.0,1.0,.80,1.0,100,220
particle_outlineRange = 350,350,1.0,1.0,1.0,1.0,100,200
# backgroundColor controls
bg_fillRange = 320,350,1.0,1.0,.9,1.0,100,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = False
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 15

overallBlur = 0
unitBlur = 0


[particleSystem]
#-------------------------------------------#
numUnits = 300
delay = .02
slotRate = .03
restartProb = .0001

# COLOR SETTINGS
# ----------------------------------

palettes = base
paletteChangeProb = .002

# ----------------------------------
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True
objColor = fixed
objTrails = True
trailingFade = 200
renderDiagnostics = False
# ----------------------------------

objWidth = 30
objHeight = 6
objType = rect

speedMin = .2
speedMax = 2.2

widthRate = .9994
heightRate = .9997

centerRangeXMin = 230
centerRangeXMax = 500
centerRangeYMin = 50
centerRangeYMax = 20

# travel fire linearMotion
movement = linearMotion
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
meanderFactor2 = 90.0
meanderFactor = .5
meanderDirection = 0
oneDirection = False

particleWinkOutXMin = 5
particleWinkOutYMin = 5

ignoreBottom = False
borderCollisions = True
expireOnExit = True
reEmitNumber = 2

damping = 1
collisionDamping = 1
xGravity = 0
yGravity = 0
xWind = 0
torqueDelta = 0
torqueRate = -0

# ----------------------------------
# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapminHoriSize = 24
filterRemapminVertSize = 36

# ----------------------------------
## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 1,0,200,1
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190


