[displayconfig]

work = sparkles

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
useFilters = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 10

# ---  Also determines the window geometry
screenWidth = 389
screenHeight = 256

# ---  preparing for rotation
windowWidth = 384
windowHeight = 256

canvasWidth = 384
canvasHeight = 256


# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2609
windowYOffset = 147


brightness =  .995
minBrightness = 0

#work = squares
#rotation = 0
#screenWidth = 320
#screenHeight = 192
#canvasWidth = 320
#canvasHeight = 192


[squares]
lineWidth = 1
countLimit = 12
pulseSpeed = .09
mode = cols

