[displayconfig]

#----------------------------------------------

work = plane

#----------------------------------------------

rendering = hub
rotation = 90
fullRotation = False
rotationTrailing = False
useFilters = True
unsharpMaskPercent = 40

checkForConfigChanges = True
isRPI = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 40
rows = 5
cols = 6

## Also determines the window geometry
screenWidth = 192
screenHeight = 192

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 192
canvasHeight = 192

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 4

# ---  Window Offset
windowXOffset = 0
windowYOffset = 26

# ---  Window Offset
windowXOffset = 2566
windowYOffset = 40

#For direct to HAT
#----------------------------------------------
actualScreenWidth = 1280
transwiring = True



[repeater]
#----------------------------------------------

imageList = planes/plane-2tw-lrg.png
imageList = planes/plane-2twb0.png
imageList = planes/plane-2tw.png
imageList = planes/plane-2tw2s.png


[plane]
#----------------------------------------------
# Used for number of planes etc
unitCount = 1
scalingFactor = 1
speedFactor = 1
vOffset = -10
scrollSpeed = .01
displayRows = 5
displayCols = 6

useJitter =  True
jitterRate = .8
jitterResetRate = .2

useBlink = True
noTrails = True

#colorWheel  #random #colorRGB #fixed
colorMode = colorRGB
randomColorMode = True



