[displayconfig]
#----------------------------------------------

work = progressbar

#----------------------------------------------

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = True
useFilters = True
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 40
rows = 2
cols = 20

## Also determines the window geometry
#----------------------------------------------
screenWidth = 640
screenHeight = 64

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 640
canvasHeight = 64

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 5

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = 2561
windowYOffset = 24

windowXOffset = 1
windowYOffset = 184


#For direct to HAT
#----------------------------------------------
transwiring = True
actualScreenWidth = 640

#----------------------------------------------
[repeater]
imageList = plane-2tw-lrg.png
imageList = plane-2twb0.png
imageList = plane-2tw.png
imageList = plane-2tw2s.png


#----------------------------------------------
[plane]
# Used for number of planes etc
unitCount = 1
scalingFactor = 1
speedFactor = 1
vOffset = -10
scrollSpeed = .01
displayRows = 5
displayCols = 6

useJitter =  True
jitterRate = .8
jitterResetRate = .2

useBlink = True
noTrails = True

#colorWheel  #random #colorRGB #fixed
colorMode = colorRGB
randomColorMode = True %
messageOverrideProbability = 1.0




