[displayconfig]

_work = compositions2
work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 4
pixSortboxHeight = 128
pixSortboxWidth = 100
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .999
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .7
brightnessVarHi = .7
pixelSortAppearanceProb = 1.0

tileSizeHeight = 64
tileSizeWidth = 64
matrixTiles = 8
rows = 6
cols = 7

# ---  Also determines the window geometry
screenWidth = 160
screenHeight = 192

# ---  preparing for rotation
windowWidth = 160
windowHeight = 192

canvasWidth = 160
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 335
windowYOffset = 123

brightness =  .95
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 3

useFilters = True
ditherfilterbrightness = .9

remapImageBlock = False
remapImageBlockSection = 0,0,256,192
remapImageBlockDestination = 0,0


# This accounts for the 16px "gap"
remapImageBlock2 = True
remapImageBlockSection2 =  80,0,256,64
remapImageBlockDestination2 = 64,0
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 =  0,0,94,37
remapImageBlockDestination3 = 120,20
remapImageBlockSection3Rotation = 10

[compositions]
#---------------------------------#
# Framerate
delay = .04
canvasImageWidth = 256
canvasImageHeight = 192

refreshCount = 400
timeToComplete = 30
cleanSlateProbability = .8
filterPatchProb = .25

bgColor = 160,50,20

#background Color Controls
minHue = 0
maxHue = 360
minSaturation = .21
maxSaturation = .75
minValue = .1
maxValue = .4

# insetGroumd
inset_coords = 15,30, 190,30, 190,130, 18,130
inset_varX = 5
inset_varY = 10
inset_minHue = 0
inset_maxHue = 36
inset_minSaturation = .00
inset_maxSaturation = .99
inset_minValue = .6
inset_maxValue = .6



[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

