[displayconfig]
#-----------------------------------------------#
work = actionmarks_1_1
# work = diagnostics

rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 384

# ---  preparing for rotation
windowWidth = 320
windowHeight = 384

canvasWidth = 320
canvasHeight = 384

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 120
windowYOffset = 108

brightness = 1.0
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,320,384
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False
remapImageBlockSection2 = 192,96,384,128
remapImageBlockDestination2 = 0, 160
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 192,128,384,160
remapImageBlockDestination3 = 0, 192
remapImageBlockSection3Rotation = 0

## These are the full black-out boxes that seem to
## trap the viewer
remapImageBlock4 = False
remapImageBlockSection4 = 384,0,452,31
remapImageBlockDestination4 = 128, 32
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0

usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 382
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99

useBlur = False
blurXOffset = 120
blurYOffset = 0
blurSectionWidth = 200
blurSectionHeight = 200
sectionBlurRadius = 1

useFilters = True
ditherfilterbrightness = 1.0


# pen params
# --------------------------------------------------#
[scratchyLong]
minNumPoints = 4
maxNumPoints = 10

turns = 8, 12
minInterpolatedPoints = 80
maxInterpolatedPoints = 200

baseRadiusFactor = 1.8,3
yRadiusFactor = 0.001,.05
xRadiusFactor = 1.8, 2.5

xRadiusFactorNoiseFactor = 10.10
yRadiusFactorNoiseFactor = 10.0
yRandom = -10, 10
xRandom = -10, 140

rotationFactor = 12

xOffset = -100,100
yOffset = -100,100
w = 1
mode = 1

xTravelRange = -4,4
yTravelRange = -4,4

xtravelProb = .1
ytravelProb = .1
xTravelIncrRange = 1.01,1.05
yTravelIncrRange = 1.01,1.05

radiusChangePerRound = -.1

# --------------------------------------------------#
[shortMarks]
minNumPoints = 4
maxNumPoints = 10

turns = 3, 4
minInterpolatedPoints = 80
maxInterpolatedPoints = 100

baseRadiusFactor = 1.0,1.1
xRadiusFactor = 0.001,.01
yRadiusFactor = .45, .6

xRadiusFactorNoiseFactor = 1.1
yRadiusFactorNoiseFactor = .0
yRandom = -50, 50
xRandom = -10, 10

rotationFactor = 4

xOffset = -100,100
yOffset = -200,200
w = 1
mode = 1

xTravelRange = -4,4
yTravelRange = -4,4

xtravelProb = .1
ytravelProb = .1
xTravelIncrRange = 1.01,1.05
yTravelIncrRange = 1.01,1.05

radiusChangePerRound = -.1

# --------------------------------------------------#
[spiralGyres]
# winding scribbles
minNumPoints = 8
maxNumPoints = 8

num_points = 8
turns = 3,11
minInterpolatedPoints = 190
maxInterpolatedPoints = 220

baseRadiusFactor = 1.4,1.7
xRadiusFactor = .50,1.1
yRadiusFactor = .20,.40

xRadiusFactorNoiseFactor = 1.0
yRadiusFactorNoiseFactor = 1.0
xRandom = -10, 20
yRandom = -10, 10

rotationFactor = 8

xOffset = -0,0
yOffset = -0,-0
# xOffset = -2,10
# yOffset = -40,-10
w = 6
mode = 2

xTravelRange = -4,4
yTravelRange = -1,8

radiusChangePerRound = -2

# --------------------------------------------------#
[longOvalSweeps]
# winding scribbles
minNumPoints = 8
maxNumPoints = 8

num_points = 8
turns = 3,7
minInterpolatedPoints = 190
maxInterpolatedPoints = 220

baseRadiusFactor = 1.4,1.7
xRadiusFactor = .50,.71
yRadiusFactor = .90,1.0

xRadiusFactorNoiseFactor = 1.0
yRadiusFactorNoiseFactor = 1.0
xRandom = -10, 20
yRandom = -10, 10

rotationFactor = 8

xOffset = -0,0
yOffset = -0,-0
# xOffset = -2,10
# yOffset = -40,-10
w = 6
mode = 2

xTravelRange = -4,4
yTravelRange = -4,8

radiusChangePerRound = -.1

# --------------------------------------------------#
[drawingField]

slotRate = .03
fadeRate = 5
fadeRateDelta = .0
startNewLineProb = .01

# penNames = spiralGyress
penNames = longOvalSweeps,shortMarks,scratchyLong,spiralGyres

penAlpha = 200
changePenColorWhileDrawingProb = .01
pen_centerVariationXMin = 10
pen_centerVariationXMax = 10
pen_centerVariationYMin = 10
pen_centerVariationYMax = 10

# any color
penColor_a  = 0,360,0.10,1.0,.10,1.0,0,0
# lighter gray
penColor_b  = 0,360,0.05,.10,.40,.70,0,0
# black range
penColor_c  = 0,360,0.01,.10,.01,.10,0,0
# darker real red
penColor_d  = 0,10,0.80,1.00,.40,1.0,0,0

config.color_b_prob = .1
config.color_c_prob = .7
config.color_d_prob = .4


# not used yet
changeColorSetTime = 63

# time to clear the canvas
changeTime = 0

# if this is too high, it all gets "poppy"
bgColorAlpha = 20

fadeRateNewSystemThreshold = 2.0

filterremapping = True
filterremappingprob = .01
filterRemapMinHorzSize = 100
filterRemapMaxHorzSize = 260
filterRemapMinVertSize = 320
filterRemapMaxVertSize = 320
filterRemapRangeX = 260
filterRemapRangeY = 128

innerRadius = 50
outerRadius = 700

usebgBox = True

# changed to be chance that an overlay block is drawn 
usebgBoxProb = .02
clearbgBoxprob = .0003
bgBoxBox = 0,0,384,256

bgTileSizeWidthMin = 64
bgTileSizeHeightMin = 64
bgTileSizeWidthMax = 160
bgTileSizeHeightMax = 129

# bgBoxColorRange = 0,360,0.10,1.0,.10,1.0,0,0
bgBoxColorRange = 180,66,.750,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248
forcebgBox = True

compositionModeChangeProb = .01

bgGlitchCyclesMin = 4
bgGlitchCyclesMax = 30
bgGlitchDisplacementHorizontal = 10
bgGlitchDisplacementVertical = 10

bgColorSets = bg_a,bg_b,bg_c,bg_d,bg_e
# bgColorSets = bg_e,bg_e
# --------------------------------------------------#
[bg_a]
bgColor =160,5,70

[bg_b]
bgColor = 200,10,10

[bg_c]
bgColor =90,85,80

[bg_d]
bgColor = 10,10,50

[bg_e]
bgColor =90,90,170
# --------------------------------------------------#

[diag]
# --------------------------------------------------#
fontColor = 100,100,0
outlineColor = 100,0,0
fontColor2 = 0,0,255
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
