[displayconfig]
#-----------------------------------------------#
work = compositions
#--------------------#

rendering = hub
isRPI = False

rotation = 0
#8.8
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 5
cols = 5

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 70

# ---  preparing for rotation
windowWidth = 128
windowHeight = 70

canvasWidth = 128
canvasHeight = 70

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 0

# Window Offset
windowXOffset = 2657
windowYOffset = 145

brightness =  .65
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,128,67
remapImageBlockDestination = 0,0

remapImageBlock2 = True
remapImageBlockSection2 = 0,0,64,67
remapImageBlockDestination2 = 0,3

remapImageBlock3 = False
remapImageBlockSection3 = 0,0,0,0
remapImageBlockDestination3 = 0,0

usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 20
pixSortboxHeight = 64
pixSortboxWidth = 8
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .995
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 1
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 4

useFilters = True
ditherfilterbrightness = .9


[compositions]
#---------------------------------#
# Framerate
delay = .04
canvasImageWidth = 130
canvasImageHeight = 67

refreshCount = 400
timeToComplete = 30
cleanSlateProbability = .8
filterPatchProb = .25

bgColor = 60,50,20

#background Color Controls
minHue = 0
maxHue = 360
minSaturation = .21
maxSaturation = .75
minValue = .1
maxValue = .4


[diag]
#--------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 12


[collageShapes]
#-----------------------------------------------#

prisimBrightness = .95
redrawSpeed = .02
changeBoxProb = .005

transitionStepsMin = 140
transitionStepsMax = 254
# *4
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = True


# varianceMode = symmetrical, asymmetrical, independent
varianceMode = symmetrical

sets = set1
set1 = s0,s1,s2
#,s1a,s2,s2a

[s0]
position = 0,0
coords = 0,0, 384,0, 384,192, 0,192
varX = 2
varY = 2
fixedCenterColor = 200,70,10,240
usedFixedCenterColor = False
minHue = 170
maxHue = 190
minSaturation = .8
maxSaturation = .99
minValue = .2
maxValue = .9


[s1]
position = 0,2
coords = 0,20, 300,20, 300,168, 0,148
varX = 5
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 80
maxHue = 360
minSaturation = .1
maxSaturation = .2
minValue = .7
maxValue = .96


[s2]
position = 8,0
coords = 0,0, 142,0, 142,120, 0,120
varX = 7
varY = 2
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 50
minSaturation = .8
maxSaturation = .99
minValue = .3
maxValue = .7


