[displayconfig]

work = diagnostics


rotation = 0
rendering = hub
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 7

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 224

# ---  preparing for rotation
windowWidth = 128
windowHeight = 224

canvasWidth = 128
canvasHeight = 224

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
## working with 
## Start X 
## Start Y 
## on LINSN SENDER CARD
windowXOffset = 151
windowYOffset = 50

brightness =  .75
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 74,78,128,130
remapImageBlockDestination = 74, 78
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 =64,0,128,192
remapImageBlockDestination2 = 64, -4
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 64,0,128,128
remapImageBlockDestination3 = 64,7
remapImageBlockSection3Rotation = 0


usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 116
pixSortboxHeight = 4
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 8


[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14



[collageShapes]
#-----------------------------------------------#

redrawSpeed = .02
changeBoxProb = .003

transitionStepsMin = 140
transitionStepsMax = 254

tweenCountMax = 300
colOverlaytLimitBase = 15
colOverlaySteps = 60

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = True

## Affects all colors
maxHue = 0
minHue = 360
maxSaturation = .5
minSaturation = .1
maxValue = .5
minValue = .2


sets = s0,s1
#,s1a,s2,s2a

[s0]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 260,0, 260,220, 0,220
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = 1.99
minSaturation = .5
maxValue = .96
minValue = .5

[s1]
#-----------------------------------------------#
position = 10,30
coords = 0,0, 110,0, 110, 160, 0,160
varX = 40
varY = 40
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = 1.99
minSaturation = .5
maxValue = .96
minValue = .5


#-----------------------------------------------#









[s1a]
position = 10,-20
coords = 0,0, 120,0, 120,236, 0,236
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s2]
position = 178,0
coords = 0,0, 248,0, 248,248, 0,248
varX = 40
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s2a]
position = 188,10
coords = 0,0, 228,0, 228,228, 0,228
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

