[displayconfig]
# Pixels, Stream, Speed  -- Notes on Turner
# coloration based on Turner's painting Wind, Steam, Speed

# work = diagnostics

work = particles-v2

rendering = hub
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = True

rotation = 90
fullRotation = True
rotationTrailing = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 16
cols = 8

# ---  Also determines the window geometry
screenWidth = 512
screenHeight = 512

# ---  preparing for rotation
windowWidth = 512
windowHeight = 512

canvasWidth = 512
canvasHeight = 192

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1164
windowYOffset = 100


brightness =  1.15
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,25,448
remapImageBlockDestination = 0,0

# remapImageBlock4 = True  
# remapImageBlockSection4 = 0,256,192,384
# remapImageBlockDestination4 = 192,0

# remapImageBlock3 = True  
# remapImageBlockSection3 = 0,384,192,512
# remapImageBlockDestination3 = 192,128

renderDiagnostics = True

useFilters = True


usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
pixSortboxHeight = 128
pixSortboxWidth = 192

blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortgap = 4
pixSortprobDraw = .2
pixSortprobGetNextColor = .1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0


useBlur  = False
blurXOffset = 64
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 128
sectionBlurRadius = 2

[base]

fillColor = 180,100,10,100
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20


particle_fillRange = 20,40,.80,1.0,.5,1.0,10,22
particle_outlineRange = 0,40,.50,1.0,.3,1.0,100,200
# backgroundColor controls
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20
bg_minHue = 0
bg_maxHue = 18
bg_minSaturation = .1
bg_maxSaturation = 1.0
bg_minValue = .1
bg_maxValue = .6
bg_transparencyRange = 10,20

overallBlur = 4
unitBlur = 0

[midnightBlue]
particle_fillRange = 350,33,.80,1.0,.5,1.0,100,200
particle_outlineRange = 350,33,.50,1.0,.3,1.0,100,200
# backgroundColor controls
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20
bg_minHue = 210
bg_maxHue = 270
bg_minSaturation = .8
bg_maxSaturation = 1.0
bg_minValue = .1
bg_maxValue = .6
bg_transparencyRange = 10,200

overallBlur = 4
unitBlur = 0

[pinkSacrifice]
particle_fillRange = 350,20,1.0,1.0,.80,1.0,100,220
particle_outlineRange = 350,350,1.0,1.0,1.0,1.0,100,200
# backgroundColor controls
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20
bg_minHue = 320
bg_maxHue = 350
bg_minSaturation = 1.0
bg_maxSaturation = 1.0
bg_minValue = .9
bg_maxValue = 1.0
bg_transparencyRange = 100,200

overallBlur = 4
unitBlur = 0


[particleSystem]
#-------------------------------------------#
numUnits = 100
delay = .02
slotRate = .03
restartProb = .0001

# COLOR SETTINGS
# ----------------------------------

palettes = base,base,base
paletteChangeProb = .001

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 15

# ----------------------------------
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True
objColor = fixed
objTrails = True
trailingFade = 200
renderDiagnostics = False
# ----------------------------------

objWidth = 50
objHeight = 60
objType = rect

speedMin = 1
speedMax = 10

widthRate = .9994
heightRate = .9997

centerRangeXMin = -300
centerRangeXMax = -600
centerRangeYMin = -18
centerRangeYMax = 10

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
meanderFactor2 = 90.0
meanderFactor = .5
meanderDirection = 0
oneDirection = False

particleWinkOutXMin = 5
particleWinkOutYMin = 5

ignoreBottom = False
borderCollisions = True
expireOnExit = True
reEmitNumber = 2

damping = 1
collisionDamping = 1
xGravity = 0
yGravity = 0
xWind = 0
torqueDelta = 0
torqueRate = -0

# ----------------------------------
# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapminHoriSize = 24
filterRemapminVertSize = 36

# ----------------------------------
## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 1,0,200,1
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190





[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0




