[displayconfig]

#----------------------------------------------------##----------------------------------------------------#
# work = diagnostics
work = particles
#----------------------------------------------------##----------------------------------------------------#
isRPI = False
rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = True
checkForConfigChanges = False
doFullReloadOnChange = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 64
rows = 16
cols = 6

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 260

# ---  preparing for rotation
windowWidth = 260
windowHeight = 260

canvasWidth = 260
canvasHeight = 260

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# Window Offset
windowXOffset = 116
windowYOffset = 100

brightness =  1.10
minBrightness = 0


remapImageBlock = False  
remapImageBlockSection = 0,0,512,512
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 192,320,384,448
remapImageBlockDestination2 = 0,192
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False  
remapImageBlockSection3 = 192,448,384,512
remapImageBlockDestination3 = 0,64
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False  
remapImageBlockSection4 = 192,0,384,64
remapImageBlockDestination4 = 0,128
remapImageBlockSection4Rotation = 0


remapImageBlock5 = False  
remapImageBlockSection5 = 192,0,384,24
remapImageBlockDestination5 = 0,96
remapImageBlockSection5Rotation = -180

remapImageBlock6 = False  
remapImageBlockSection6 = 192,60,384,74
remapImageBlockDestination6 = 0,70
remapImageBlockSection6Rotation = 0

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = True
_ditherFilterBrightness = .95


usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 128
pixSortboxWidth = 384
pixSortgap = 0
pixSortprobDraw = .3
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .01
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0


forceBGSwap = True

[particleSystem]
#-------------------------------------------#
numUnits = 390

xGravity = 0
yGravity = 0
xWind = 0
torquedelta = 0

ignoreBottom = False

speedMin = .35
speedMax = 1.9

#initial direction 3.14/2
variance = 1

objWidth = 10
objHeight = 20
objType = rect
objTrails = False

widthRate = .9992
heightRate = .9997
particlewinkoutxmin = 10
particlewinkoutymin = 10

overallBlur = 3
unitBlur = 0

pixelsGoGrayModel = 1
pixelsGoGray = True
jumpToGray = True
greyRate = 650
restartProb = .0001

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapminHoriSize = 224
filterRemapminVertSize = 236

filterRemapRangeX = 160
filterRemapRangeY = 256

objColor = fixed
#fillColor = 240,125,8,35
#outlineColor = 200,10,40,250
#bgColor = 60,0,4,50
#extraOutlineColor = 0,70,25,100

## reversed B-G colors
# actually a more interesting pink flame
fillColor = 240,8,125,75
outlineColor = 200,40,10,80
bgColor = 60,4,0,50
extraOutlineColor = 0,25,70,100


bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****
#centerRangeXMin = 30
#centerRangeXMax = 320
#centerRangeYMin = -150
#centerRangeYMax = 200


centerRangeXMin = 250
centerRangeXMax = 520
centerRangeYMin = 80
centerRangeYMax = 160

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
meandorfactor = .5
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
trailingFade = 200

useOverLay = False
overlayColor = 160,0,200,10
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190


[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9


[particleVals-2]
fillColor = 14,180,1,10
outlineColor = 14,180,1,205 
bgColor = 14,180,1,20


[particleVals-1]
fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20
