[displayconfig]
# --------------------------------------------------#
work = actionmarks_1_2
# work = diagnostics
# --------------------------------------------------#

rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 8
rows = 8
cols = 11

# ---  Also determines the window geometry
screenWidth = 194
screenHeight = 228

# ---  preparing for rotation
windowWidth = 194
windowHeight = 228

canvasWidth = 194
canvasHeight = 228

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3


# Window Offset
windowXOffset = 2647
windowYOffset = 118


brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,32,22
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,96,768,128
remapImageBlockDestination2 = 384,0

remapImageBlock3 = False
remapImageBlockSection3 = 384,0,512,32
remapImageBlockDestination3 = 0,32

remapImageBlock4 = False
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64


usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 192
pixSortboxWidth = 1
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = True
ditherfilterbrightness = 1.0
# filterremapping = True
# filterremappingprob  = .1
# filterremapminhorisize = 100
# filterremapminvertsize = 200
# filterremaprangex = 200
# filterremaprangey = 200
forceBGSwap = False

# pen params
# --------------------------------------------------#
[scratchyLong]
minNumPoints = 4
maxNumPoints = 10

turns = 8, 12
minInterpolatedPoints = 80
maxInterpolatedPoints = 200

baseRadiusFactor = 1.8,3
yRadiusFactor = 0.001,.05
xRadiusFactor = 1.8, 2.5

xRadiusFactorNoiseFactor = 10.10
yRadiusFactorNoiseFactor = 10.0
yRandom = -10, 10
xRandom = -10, 140

rotationFactor = 12

xOffset = -100,100
yOffset = -100,100
w = 1
mode = 1

xTravelRange = -4,4
yTravelRange = -4,4

xtravelProb = .1
ytravelProb = .1
xTravelIncrRange = 1.01,1.05
yTravelIncrRange = 1.01,1.05

radiusChangePerRound = -.1

# --------------------------------------------------#
[shortMarks]
minNumPoints = 4
maxNumPoints = 10

turns = 3, 4
minInterpolatedPoints = 80
maxInterpolatedPoints = 100

baseRadiusFactor = 1.0,1.1
xRadiusFactor = 0.001,.01
yRadiusFactor = .45, .6

xRadiusFactorNoiseFactor = 1.1
yRadiusFactorNoiseFactor = .0
yRandom = -50, 50
xRandom = -10, 10

rotationFactor = 4

xOffset = -100,100
yOffset = -200,200
w = 1
mode = 1

xTravelRange = -4,4
yTravelRange = -4,4

xtravelProb = .1
ytravelProb = .1
xTravelIncrRange = 1.01,1.05
yTravelIncrRange = 1.01,1.05

radiusChangePerRound = -.1

# --------------------------------------------------#
[spiralGyres]
# winding scribbles
minNumPoints = 8
maxNumPoints = 8

num_points = 8
turns = 3,11
minInterpolatedPoints = 190
maxInterpolatedPoints = 220

baseRadiusFactor = 1.4,1.7
xRadiusFactor = .50,1.3
yRadiusFactor = .20,.40

xRadiusFactorNoiseFactor = 1.0
yRadiusFactorNoiseFactor = 1.0
xRandom = -10, 20
yRandom = -10, 10

rotationFactor = 8

xOffset = -0,0
yOffset = -0,-0
# xOffset = -2,10
# yOffset = -40,-10
w = 6
mode = 2

xTravelRange = -4,8
yTravelRange = -1,4

radiusChangePerRound = -2

# --------------------------------------------------#
[longOvalSweeps]
# winding scribbles
minNumPoints = 8
maxNumPoints = 8

num_points = 8
turns = 3,7
minInterpolatedPoints = 190
maxInterpolatedPoints = 220

baseRadiusFactor = 1.5,1.8
xRadiusFactor = .50,.71
yRadiusFactor = .90,1.2

xRadiusFactorNoiseFactor = 1.0
yRadiusFactorNoiseFactor = 1.0
xRandom = -10, 20
yRandom = -10, 10

rotationFactor = 8

xOffset = -0,0
yOffset = -0,-0
# xOffset = -2,10
# yOffset = -40,-10
w = 6
mode = 2

xTravelRange = -4,8
yTravelRange = -4,4

radiusChangePerRound = -.1

# --------------------------------------------------#
[drawingField]

slotRate = .03
fadeRate = 5
fadeRateDelta = .0

startNewLineProb = .001

penNames = shortMarks
# penNames = longOvalSweeps,shortMarks,scratchyLong,spiralGyres

penAlpha = 200
changePenColorWhileDrawingProb = .01
pen_centerVariationXMin = 10
pen_centerVariationXMax = 10
pen_centerVariationYMin = 10
pen_centerVariationYMax = 10

# any color
penColor_a  = 0,360,0.10,1.0,.10,1.0,0,0
# lighter gray
penColor_b  = 0,360,0.05,.10,.40,.70,0,0
# black range
penColor_c  = 0,360,0.01,.10,.01,.10,0,0
# darker real red
penColor_d  = 0,60,0.80,1.00,.40,1.0,0,0

config.color_b_prob = .1
config.color_c_prob = .7
config.color_d_prob = .4


# not used yet
changeColorSetTime = 63

# time to clear the canvas
changeTime = 0

# if this is too high, it all gets "poppy"
bgColorAlpha = 20

fadeRateNewSystemThreshold = 2.0

filterremapping = True
filterremappingprob = .008
filterRemapMinHorzSize = 100
filterRemapMaxHorzSize = 260
filterRemapMinVertSize = 320
filterRemapMaxVertSize = 320
filterRemapRangeX = 260
filterRemapRangeY = 128

innerRadius = 50
outerRadius = 700

usebgBox = True

# changed to be chance that an overlay block is drawn 
usebgBoxProb = .0002
clearbgBoxprob = .0003
bgBoxBox = 0,0,384,256

bgTileSizeWidthMin = 64
bgTileSizeHeightMin = 64
bgTileSizeWidthMax = 160
bgTileSizeHeightMax = 129

# bgBoxColorRange = 0,360,0.10,1.0,.10,1.0,0,0
bgBoxColorRange = 180,66,.750,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248
forcebgBox = True

compositionModeChangeProb = .01

bgGlitchCyclesMin = 4
bgGlitchCyclesMax = 30
bgGlitchDisplacementHorizontal = 10
bgGlitchDisplacementVertical = 10

bgColorSets = bg_a,bg_b,bg_c,bg_d,bg_e
# bgColorSets = bg_e,bg_e

useTextureLayer = True
# dot density
texture_step = 7
# dot size
texture_px = 2
# rows of dots
texture_rows = 64
# cols of dots
texture_cols = 32
# alpha change factor
texture_rate = 2
# base alpha value
texture_base = 125
# dot rgb
texture_clr_r = 40
texture_clr_g = 40 
texture_clr_b = 240

texture_blockRows = 6
texture_blockCols = 6
# chance the block does not get drawn
texture_skipProb = .6

bgHSVColorSets = bghsv_a,bghsv_b,bghsv_c,bghsv_d,bghsv_e
# --------------------------------------------------#
[bghsv_a]
bgColor =335,335,.97,.97,.62,.62

[bghsv_b]
bgColor = 0,5,.9,.95,.7,.78

[bghsv_c]
bgColor =30,35,.12,.5,.35,.4

[bghsv_d]
bgColor = 240,250,.8,.9,.19,.25

[bghsv_e]
bgColor = 240,250,.47, .9,.6, .7
# --------------------------------------------------#
# --------------------------------------------------#
[bg_a]
bgColor =160,5,70

[bg_b]
bgColor = 200,10,10

[bg_c]
bgColor =90,85,80

[bg_d]
bgColor = 10,10,50

[bg_e]
bgColor =90,90,170
# --------------------------------------------------#

[diag]
# --------------------------------------------------#
fontColor = 100,100,0
outlineColor = 100,0,0
fontColor2 = 0,0,255
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
