[displayconfig]

#work = image
#work = diagnostics

work = particles


rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = False


isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 3

# ---  Also determines the window geometry
screenWidth = 230
screenHeight = 256

# ---  preparing for rotation
windowWidth = 230
windowHeight = 256

canvasWidth = 230
canvasHeight = 256

imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 217
windowYOffset = 69

#windowXOffset = 1646
#windowYOffset = 65

brightness =  .90
minBrightness = 0

remapImageBlock = False
#********* If you want a little ghosting
#********* of the copied section, grab the full
#********* width of the image
#remapImageBlockSection = 0,128,192,256
remapImageBlockSection = 0,0,230,256
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,128,230,256
remapImageBlockDestination2 = 38,128

remapImageBlock3 = False
remapImageBlockSection3 = 0,128,192,256
remapImageBlockDestination3 = 0,130



usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 256
pixSortgap = 4
pixSortprobDraw = .005
pixSortprobGetNextColor = .1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .4
brightnessVarHi = 1.2
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = True
_ditherFilterBrightness = .95



[particleSystem]
#-------------------------------------------#
numUnits = 200

xGravity = 0
yGravity = 0
xWind = 0
torquedelta = 0

ignoreBottom = False

delay = .02
slotRate = .03

speedMin = 1
speedMax = 5

oneDirection = True
meanderDirection = 1

#-------------------------------------------#
#-------------------------------------------#
#-------------------------------------------#
useWaveDistortion = True
wavegridspace = 25
waveAmplitude = 8
wavePeriodMod = 20
pNoiseMod = 55
#-------------------------------------------#
#-------------------------------------------#
#-------------------------------------------#
#-------------------------------------------#
#-------------------------------------------#

#initial direction 3.14/2
variance = 1

objWidth = 400
objHeight = 80
objType = ellipse
objTrails = False

widthRate = .998
heightRate = .99800
particlewinkoutxmin = 0
particlewinkoutymin = 0

overallBlur = 4
unitBlur = 0

pixelsGoGray = False
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 850

restartProb = .0001

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .01
filterRemapminHoriSize = 124
filterRemapminVertSize = 136

pixelsortprobchange = .02

filterRemapRangeX = 190
filterRemapRangeY = 200

objColor = fixed

# fillColor = 190,90,98,35
# outlineColor = 100,10,10,250

fillColor = 50,0,0,35
outlineColor = 0,0,0,250

pUseHSV = True
pFillRange = 0,20,.95,1.0,.5,.95,35
pOutlineRange = 10,10,.95,1.0,.5,.5,250

bgColor = 50,0,0,20
extraOutlineColor = 220,70,2,100

useSecondColorProb = .20
fillColor2 = 190,100,0,35
outlineColor2 = 90,50,9,35
extraOutlineColor2 = 90,50,8,35


bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****
centerRangeXMin = 10
centerRangeXMax = 10

centerRangeYMin = 10
centerRangeYMax = 220

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 1
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
meanderFactor = 6.0
meanderFactor2 = 90.0

linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
trailingFade = 200

useOverLay = True
useOverLayEnhanced = True
useOverOnBG = True
overlayColor = 250,120,0,100
clrBlkWidth = 257
clrBlkHeight = 4
overlayxPos = 0
overlayyPos = 0
#overlayColor = 88,40,0,190




[images]
#i1 = flames/fire-real-256b.gif
#i1 = flames/fire-real-320x224.gif
#i1 = flames/fire-real-320x320-side.gif
#i1 = flames/fire-real-128x384-side-b.gif
i1 = flames/fire-real-224x384-side.gif
i2 =

useBlanks = False
useImageFilter = True
verticalOrientation = 0
resetProbability = .001

# for rotated image, lines are width, boxWidth is height
# 160
lines = 256
boxHeight = 16
boxWidth = 256
xPos1 = 0
yPosBase = 0
targetPalette = selective
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17
#targetClrs = 92,106,107,117,119,124
#targetClrs = 104,91,96,104,112,104
#targetClrs = 14,15,16
#targetClrs = 1,2,3

bgFilterProb = 0.1
imageFilterProb = .01

# the chance that the image stops and glitches
pausePlayProb = .031
# the chance release after pause
releasePauseProb = .004

# when and image is still, chance that a gltch happens
# the total number of glitches before things move on
imageGlitchProb = .06

# the increase of the imageGlichProb when the animation is paused
glitchChanceWhenPausedFactor = 20.0

# probability that the color will change
overlayChangeProb = .0075

# prob block will relocate
overlayChangePosProb = .01

# prob block will resize
overlayChangeSizeProb = .01

# 1 = darker 0 = add
overLayMode = 1

# the prob that the animation of each frame happens
animateProb = 1.0

# total number of glitches per period allowed
imageGlitchCountLimit = 50

imageGlitchSize = 16
imageGlitchDisplacement = 70

imageGlitchDisplacementHorizontal = 20
imageglitchDisplacementVerical = 30
glitchCountRestFactor = 1

#after this many frames, force a glitch
forceGlitchFrameCount = 190

alterAsASCIIProb = .01


playSpeed = .02
# used in fader class
# represents the number of fade-through frames between rendered images
# 0 is fast - i.e. same speed as delay, 1 evens things out, 40 is like
# slow motion
doingRefreshCount = 2
# if this is above 0 it will change the rate
doingRefreshCountVariability = .001
# the probability that the rate will return to the base fade-through count
doingRefreshCountVariabilityReset = .02
# the chance that the rate is fast vs slow-mo
doingRefreshCountFastProb = 0

# Color overlay / pixel color block
clrBlkWidth = 120
clrBlkHeight = 48
overlayxPos = 32
overlayyPos = 32

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .02
filterRemapminHoriSize = 224
filterRemapminVertSize = 236

filterRemapRangeX = 160
filterRemapRangeY = 256



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 100,0,100
fontColor2 = 90,100,0
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

