[displayconfig]
matrixTiles = 8
tileSizeHeight = 128
tileSizeWidth = 128
rows = 5
cols = 7
screenWidth = 896
screenHeight = 640
brightness =  .95
minBrightness = .2
work = stroop2
useFilters = True
rendering = out
mode = video
rotation = 0
canvasWidth = 896
canvasHeight = 640

[output]
duration =  30
fps = 60

[stroop]
fontSize = 84
vOffset = -10
scrollSpeed = .03
stroopSpeed = .005
stroopSteps = 3
shadowSize = 2
stroopFontSize = 120
useColorFlicker = 0
highervariability = True
verticalBg =  False
displayRows = 5
displayCols = 7
simulBlocks = 3
## options are reveal, revealmove, move
movementMode = reveal

