[displayconfig]

work = signage

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 17
tileSizeWidth = 36
matrixTiles = 32
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 148

# ---  preparing for rotation
windowWidth = 128
windowHeight = 148

canvasWidth = 128
canvasHeight = 148

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 25
windowYOffset = 50

brightness =  .8
minBrightness = 0

## This masks the pixelsorting disturbance 
## on the right -- keeping it to one line of pixels
remapImageBlock = False  
remapImageBlockSection = 0,4,128,6
remapImageBlockDestination = 0,1

## This takes a chunk of off-screen
## image and places it over the 
## lower right 'corner' of the removal
remapImageBlock2 = True  
remapImageBlockSection2 = 0,96,128,134
remapImageBlockDestination2 = 56,17

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0

pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 32
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = .1
pixSortProbDecriment = .1
pixSortSizeDecriment = .1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .0002
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = .1

[signage]
fontColor = 0,0,0
outlineColor = 0,0,0
showGrid = True
showText = False
showOutline = False
randomRotation = True
coordinatedColorChange = False
timeTrigger = True
tLimitBase = 40
steps = 155
redrawDelay = .02

unhideRate = 0
rehideRate = 0

imageGlitchSize = 5
fullimageGiltchRate = .00002

useOverLayImage = False
overLayImage = /assets/imgs/miscl/mac-cursor.png
overlayBrightness = .3
overLayXPos = 100
overLayYPos = 5
overlayGlitchSize = 1
overlayGlitchRate = .001
overlayResetRate = .000000015

useFixedPalette = True

## If this is set to 1, then
## will use the range for the whole set 
paletteRange = 1

# Hue min/max Saturation min,max Value min/max
#p1 = 205,215, .6,.9, .8,1
#p2 = 210,230, .6,.9, .,1
#p3 = 0,10, .6,.9, .8,1
#p4 = 0,5, .6,.9, .8,1

## NOTE -- the ranges are parts of a "circle"
## so if the starting angle is 170 and the ending angle is 90
## colors between 90 and 170 will NOT be produced

## ALL BLUES SCREEN
p1 = 220,230, .98,1, .4,.41

## MINUS GREEN
#p1 = 160,60, 1,1, .8,.81

p2 = 0,350, 1,1, .1,1
p3 = 20,350, 1,1, .1,1
p4 = 220,230, 1,1, .8,.81

## selective exclusion of color range
## set both to zero to turn off
dropHueMin = 0
dropHueMax = 0


