[displayconfig]
#-----------------------------------------------#

work = collage

rendering = hub
rotation = 0
#8.8
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 7
cols = 2

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 224

# ---  preparing for rotation
windowWidth = 128
windowHeight = 224

canvasWidth = 128
canvasHeight = 224

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# dev
#1900

# display
#2814
windowXOffset = 2814
windowYOffset = 169

brightness =  .85
minBrightness = 0

imageXOffset = 0

remapImageBlock = True
remapImageBlockSection = 64,0,128,192
remapImageBlockDestination = 64, 39
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 = 0,0,64,64
remapImageBlockDestination2 = 64,192
remapImageBlockSection2Rotation = 90

remapImageBlock3 = False
remapImageBlockSection3 = 24,24,100,100
remapImageBlockDestination3 = 24,24
remapImageBlockSection3Rotation = -4


usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 64
#70
pixSortYOffset = 48
pixSortboxHeight = 84
pixSortboxWidth = 20
pixSortgap = 0
pixSortprobDraw = .01
pixSortprobGetNextColor = .19
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 3
pixSortDrawVariance = 1
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .9
brightnessVarHi = 1.01
pixelSortAppearanceProb = 1.1

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 4




[collageShapes]
#-----------------------------------------------#

prisimBrightness = .95
redrawSpeed = .02
changeBoxProb = .002

transitionStepsMin = 140
transitionStepsMax = 254
# *4
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = True



# varianceMode = symmetrical, asymmetrical, independent
varianceMode = independent

sets = s0,s1b,s1
#sets = s0,s1,s2,s4


[s0] 
postion =  0,0
coords = 0,0, 128,0, 128,224, 0,224 
varX = 0
varY = 0
fixedCenterColor = 200,100,100,150
usedFixedCenterColor = False

[s1b] 
postion = -2,-2
coords = 0,0, 116,4, 116,178, 0,182
varX = 18
varY = 18
fixedCenterColor = 200,100,100,250
usedFixedCenterColor = False

[s1] 
postion = 0,0
coords = 16,15, 100,15, 104,168, 20,172
varX = 12
varY = 12
fixedCenterColor = 200,100,100,150
usedFixedCenterColor = False


[s2] 
postion = 0,0
coords = 38,38, 120,38, 120,130, 38,130
varX = 2
varY = 2


[s4] 
postion =  84,84
coords = 0,0, 24,0, 24,28, 0,28 
varX = 0
varY = 0

[s5] 
postion = 90,0
coords = 0,0, 0,62, 32,62, 32,0
varX = 0
varY = 0

[s7] 
postion = 90,0
coords = 0,0, 0,62, 72,62, 72,0
varX = 0
varY = 0

[s9] 
postion = 164,18
coords = 0,0, 0,24, 24,24, 24,0
varX = 0
varY = 0

#,s5
#sets = s1,s2,s3,s4,s5
#setsVariants = s1Variants,s2Variants,s3Variants,s4Variants,s5Variants










