[displayconfig]

#--------------------#
work = diagnostics
#--------------------#

rendering = hub
rotation = 0
#8.8
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 7
cols = 2

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 224

# ---  preparing for rotation
windowWidth = 128
windowHeight = 224

canvasWidth = 128
canvasHeight = 224

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2814
windowYOffset = 169

brightness =  .65
minBrightness = 0

imageXOffset = 0

remapImageBlock = True
remapImageBlockSection = 0,0,64,64
remapImageBlockDestination = 64,192
remapImageBlockRotation = 90

remapImageBlock2 = False
remapImageBlockSection2 = 64,192,128,224
remapImageBlockDestination2 = 64,160
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 64,0,128,128
remapImageBlockDestination3 = 64,7
remapImageBlockSection3Rotation = 0

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 25
pixSortgap = 80
pixSortprobDraw = .09
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

useBlur  = False
blurXOffset = 13
blurYOffset = 0
blurSectionWidth = 144
blurSectionHeight = 256
sectionBlurRadius = 10



[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14



