[displayconfig]

#--------------------#
work = particles
#--------------------#

rendering = hub
rotation = 0
#8.8
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True
isRPI = False
useFilters = True


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 7
cols = 2

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 224

# ---  preparing for rotation
windowWidth = 128
windowHeight = 224

canvasWidth = 128
canvasHeight = 224

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2814
#4
windowYOffset = 169

brightness =  .65
minBrightness = 0

imageXOffset = 0

remapImageBlock = True
remapImageBlockSection = 64,0,128,192
remapImageBlockDestination = 64, 39
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 = 0,0,64,64
remapImageBlockDestination2 = 64,192
remapImageBlockSection2Rotation = 90

remapImageBlock3 = False
remapImageBlockSection3 = 64,0,128,128
remapImageBlockDestination3 = 64,7
remapImageBlockSection3Rotation = 0


usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 128
pixSortYOffset = 10
pixSortboxHeight = 262
pixSortboxWidth = 4
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = 1.1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.1

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 4


[particleSystem]
#-------------------------------------------#
numUnits = 190

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = 3
speedMax = 7

#initial direction 3.14/2
variance = 1

objWidth = 50
objHeight = 60
objType = rect
objTrails = False

widthRate = .92
heightRate = .97

overallBlur = 1
unitBlur = 0

objColor = fixed
fillColor = 10,1,140,80
outlineColor = 184,100,1,225 
bgColor = 180,100,0,50

bgTransitions = True
bgRangeA =  100
bgRangeB = 300
hueMin = 0
hueMax = 360
maxBrightness = .955
bgTransparency = 10

transparencyRange = 100,230
#*****
centerRangeXMin = 30
centerRangeXMax = 220
centerRangeYMin = -80
centerRangeYMax = 200

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 100,0,200,1
clrBlkWidth = 32
clrBlkHeight = 32
overlayxPos = 60
overlayyPos = 60
#overlayColor = 88,40,0,190



[propagation]
#-----------------------------------------------#
fontColor = 0,0,0
outlineColor = 0,0,0
showOutline = False
showText = False
timeTrigger = True
tLimitBase = 10
steps = 25
colorStepsRangeMin = 3
colorStepsRangeMax = 5
redrawDelay = .01

tileSizeWidth = 4
tileSizeHeight = 4
rows = 48
cols = 32

doneThreshold = .9
propagationProbability = .992
# 3 2 3 4
overCrowdingThreshold = 3
underPopulationThreshold = 2
#dieThreshold = 3
liveThreshold = 4

fullimageGiltchRate = .0001
useFixedPalette = True

## If this is set to 1, then
## will use the range for the whole set 
paletteRange = 2

# Hue min/max Saturation min,max Value min/max
## NOTE -- the ranges are parts of a "circle"
## so if the starting angle is 170 and the ending angle is 90
## colors between 90 and 170 will NOT be produced

#p1 = 205,215, .6,.9, .8,1
#p2 = 210,230, .6,.9, .,1
#p3 = 0,10, .6,.9, .8,1
#p4 = 0,5, .6,.9, .8,1


## ALL BLUES SCREEN
#p1 = 220,230, 1,1, .8,.81
#p1 = 0,360, 1, 1.1, .8,.81

## MINUS GREEN
#p1 = 290,70, 1,1, .8,.81
#p2 = 0,350, 1,1, .1,1
#p3 = 20,350, 1,1, .1,1
#p4 = 220,230, 1,1, .8,.81


#crimson-vermillion
p1 = 45,50, 1,1, .8,.81
#gold
p2 = 43,45, 1,1, .1,.8
p3 = 100,200, 1,1, .1,1
p4 = 100,200, 1,1, .8,.81

## The main background color
## Matisse-like green adjusted
deadColor = 0,100,80,10



## selective exclusion of color range
## set both to zero to turn off
dropHueMin = 0
dropHueMax = 0





[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14



