[displayconfig]
#-----------------------------------------------#
work = collage

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
isRPI = False
useFilters = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 3

# ---  Also determines the window geometry
screenWidth = 130
screenHeight = 130

# ---  preparing for rotation
windowWidth = 130
windowHeight = 130

canvasWidth = 130
canvasHeight = 130

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 3003
windowYOffset = 145

brightness =  .98
minBrightness = 0

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 160
pixSortboxHeight = 16
pixSortboxWidth = 89
pixSortgap = 1
pixSortprobDraw = .9981
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False
remapImageBlockSection = 0,180,48,214
remapImageBlockDestination = 0, 180
remapImageBlockSectionRotation = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 256
sectionBlurRadius = 8




[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 420

transitionStepsMin = 90
transitionStepsMax = 120
colOverlaytLimitBase = 18
colOverlaySteps = 0

useVariableFilter = False
useVariablePixelSort = False
variablePixelProb = .0002
variableFilterProb = .002

useTweenTriggers = False
triggers = 1

#numberOfDeadPixels = 10


sets = set1
set1 = s0,s1
#,s2
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 130,0, 130,130, 0,130
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = 1.99
minSaturation = .5
maxValue = .96
minValue = .1

[s1]
position = 4,4
coords = 0,0, 110,0, 110,130, 0,130
varX = 10
varY = 10
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1

[s1a]
position = 4,4
coords = 0,0, 172,0, 172,83, 0,83
varX = 5
varY = 5
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1

[s2]
position = 4,4
coords = 0,93, 172,93, 172,236, 0,236
varX = 5
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1




[s2a]
postion = 188,10
coords = 0,0, 122,0, 122,192, 0,192
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False