[displayconfig]

#----------------------------------------------

; work = diagnostics
work = progressbar

#----------------------------------------------

rotation = 0
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 64
tileSizeWidth = 64

rows = 2
cols = 9

# ---  Also determines the window geometry
screenWidth = 512
screenHeight = 132

# ---  preparing for rotation
windowWidth = 512
windowHeight = 132

canvasWidth = 512
canvasHeight = 132

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
windowYOffset = 118

; this piece is meant to be run on a brighter, outdoors type
; display panel setup 
brightness =  .90
minBrightness = 0


# Note the pixels tearing dissipates after 4 levels or blocks
usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 20
pixSortYOffset = 0
pixSortboxHeight = 3
pixSortboxWidth = 60
pixSortgap = 1
pixSortprobDraw = .1
pixSortprobGetNextColor = .9
pixSortProbDecriment = 4
pixSortSizeDecriment = 1.8
pixSortSampleVariance = 2
pixSortDrawVariance = 8
randomColorProbabilty = .04
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = .005



## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,83,34
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 = 256,0,512,64
remapImageBlockDestination2 = 0,64
remapImageBlockSection2Rotation = 0


useFilters = True

overallResize = False
saveToFile = False
outPutPath = /Users/lamshell/Desktop/
timetotakeinterval = 5


[progressbar]
#-----------------------------------------------#
directionOrder = RIGHT-LEFT
useBlanks = False
useVerticalColorGradient = True
useHorizontalColorGradient = False
sansSerif = True
fontSize = 30
; text positioning
indent = 8
yindent = 16
shadowSize = 2
steps = 1
vOffset = -0

progressbarHeight = 64

# rate of time delay between cycles
redrawRate = .02

# These "inherit" from the changeProbablity - i.e. they
# are probablitlies based on a random toss after a random toss
# has allowed for any change
###### ALL PROBABILITIES ARE IN PERCENT - 
###### USE 5.0  which equals  5.0% which becomes .05 
spinnerAngleSteps = 120
spinnerRadius = 20
spinnerInnerRadius = 14
spinnerLineWidth = 2
spinnerMarkSteps = 8

completeProbability = 0.1
completeProbabilityBase = 0.1
goBackwardsProb = .2
changeRateProbability = .01
rateMin = 1
rateMax = 4
noBarProb = 0.01
noDoneProb = 0.050
# chance different message is shown, when shown
overrideMessagProb = .50

# These are probablilities that are tested against
# a random toss every iteration / cycle
pauseProbability = .05
goFwdProb = .05
goPastProb = .01
# chance that a message shows instead of %
messageOverrideProbability = .05

debug = True

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .002
filterRemapminHoriSize = 480
filterRemapminVertSize = 64
filterRemapRangeX = 480
filterRemapRangeY = 64


[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

