[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 7
cols = 4

## Also determines the window geometry
screenWidth = 256
screenHeight = 256

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 256
canvasHeight = 256

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2749
windowYOffset = 169

brightness =  .51
minBrightness = 0

[diag]
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 0,225,0
bgColor = 250,0,0
showGrid = True
fontSize = 14

#-----------------------------------------------#
[marquee]
redrawSpeed = .02
marqueeNum = 12
marqueeWidth = 16
baseDashSize = 80
gap = 2
step = 3
decrement = 1
randomRange = 200.0

fontsize = 44
shadowSize = 1




