[displayconfig]

work = particles-v2
# work = diagnostics

rotation = -90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 16
cols = 16

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 144
#windowYOffset = 100

windowXOffset = 2584
windowYOffset = 118

brightness =  1.0
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,384,384
remapImageBlockDestination = 0,0


usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 512
pixSortboxWidth = 512
pixSortgap = 4
pixSortprobDraw = .2
pixSortprobGetNextColor = .1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0

forceBGSwap = False

useFilters = True


[particleSystem]
#-------------------------------------------#
numUnits = 290
delay = .02
slotRate = .03
restartProb = 0

# COLOR SETTINGS
# ----------------------------------

palettes = base,base
paletteChangeProb = .001

# ----------------------------------
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True
objColor = fixed
objTrails = False
trailingFade = 200
renderDiagnostics = False
# ----------------------------------

objWidth = 40
objHeight = 50
objType = rect

speedMin = 1
speedMax = 7

widthRate = .992
heightRate = .997

centerRangeXMin = 60
centerRangeXMax = 220
centerRangeYMin = 50
centerRangeYMax = 20

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
meanderFactor = .5
meanderFactor2 = 90.0
meanderDirection = 0
oneDirection = False

particleWinkOutXMin = 10
particleWinkOutYMin = 10

ignoreBottom = False
borderCollisions = True
expireOnExit = True
reEmitNumber = 2

collisionDamping = 1
damping = 1
torqueDelta = 0
torqueRate = 0
xWind = 0
xGravity = 0
yGravity = 0

# ----------------------------------
## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 100,0,200,1
clrBlkWidth = 32
clrBlkHeight = 32
overlayxPos = 60
overlayyPos = 60
#overlayColor = 88,40,0,190


filterRemapping = True
filterRemappingProb = .001
filterRemapminHoriSize = 100
filterRemapMaxHoriSize = 300
filterRemapMinVertSize = 260
filterRemapMaxVertiSize = 320
filterRemapRangeX = 300
filterRemapRangeY = 300



[base]
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_fillRange = 355,60,.73,1.0,.64,1.0,0,0,35,45
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_outlineRange = 355,40,.75,1.0,.76,.760,0,0,80,150
# backgroundColor controls
bg_fillRange = 4,4,.97,1.0,.75,.27,0,0,50,80
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 200

overallBlur = 1
unitBlur = 0


[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9


[particleVals-2]
fillColor = 14,180,1,10
outlineColor = 14,180,1,205 
bgColor = 14,180,1,20


[particleVals-1]
fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20
