[displayconfig]
workListDirectory = dev/
# workList = p4
workList =p0-3,p0-4
playInOrder = True

###########################################

[p0-3]
work = dev/p3-askew-tower/p3-askew-tower-with-mike-ballou-barblocks.cfg
minDuration = 220
maxDuration = 430
brightnessOverride = 1.0

[p0-4]
work = dev/p3-askew-tower/p3-askew-tower-with-mike-ballou-repeatblocks.cfg
minDuration = 220
maxDuration = 430
brightnessOverride = 1.0