[displayconfig]
#-----------------------------------------------#
work = informal-lines
; work = diagnostics
#-----------------------------------------------#

rotation = 0
fullRotation = True
rotationTrailing = False

checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 384

# ---  preparing for rotation
windowWidth = 260
windowHeight = 384

canvasWidth = 260
canvasHeight = 384

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 120
windowYOffset = 108

brightness = 1.0
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,320,384
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False
remapImageBlockSection2 = 192,96,384,128
remapImageBlockDestination2 = 0, 160
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 192,128,384,160
remapImageBlockDestination3 = 0, 192
remapImageBlockSection3Rotation = 0

## These are the full black-out boxes that seem to
## trap the viewer
remapImageBlock4 = False
remapImageBlockSection4 = 384,0,452,31
remapImageBlockDestination4 = 128, 32
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0

usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 382
pixSortboxWidth = 2
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 384
sectionBlurRadius = 1

useFilters = False
ditherfilterbrightness = 1.2
forceBGSwap = False






#---------------------------------#
[informalMarksGrid]
#---------------------------------#
# Framerate
redrawSpeed = .03
# amplitude of noise
pointsPerLine = 28
curveResolution = 10

drawingWidth = 280
drawingHeight = 384


# more loops and tangles
backTrackRange = 1,10

renderLinesAsEnvelope = True

xOffset = 8
pointsPerLineCol = 8

#---------------------------------#
yOffset = 16
noiseAmplitudeRangeCol = .1,.210
angleRange = 40,50
angleAltRange = -8,8
sizeRange = 5
vertLineWidthRange = 0,2

colIntervalRange = 20,20
rowIntervalRange = 10,10
markMinWidth = 12
markMinHeight = 32
minXSpacing = 1
minYSpacing = 36

skipMarksProb = .05
altMarksProb = .80
marksAltColorProb = .2

#---------------------------------#
scribbleSkipMarksProb = .75
scribbleAltMarksProb = .00

scribbleCols = 12
scribbleRows = 12

scribblexOffset = 20
scribbleyOffset = 18
scibbleXPacking = 2.4
scibbleYPacking = 2.5

scribbleHeightRange = 4,5
scribbleLineBaseWidthRange = 4

scribbleRadiusXRange = 4,8
scribbleRadiusYRange = 8,12

scribblePoints = 20
scribbleLoopsRange = 2,4

scribbleNoiseXRange = 8,8
scribbleNoiseYRange = 3,4

scribbleAltColorProb = .3

#---------------------------------#

# chance per frame any line drawing character changes
changeLinesProb = .005
# chance per frame the overall drawing character changes
changeAllLinesProb = .001
# chance that the background changes
changeBGProb = 0.001


lightMode = True
lightModeProb = .90
lightLinesOnGroundProb = .0
lightLinesOnGround = False

pauseProb = .0002
unpauseProb = .03

#---------------------  bgparameters]

scribbleOnTop = False
singlesOnTop = True
xsOnTop = False

# when going full black/white return to base at this per cycle
bg_alpha_returnrate = 10

paletteSets =  palette_blues
; ,palette_orange,palette_pinks
; palette_pinks,palette_all_on_naples,palette_aging,palette_orange

# chance that an overlay block is drawn
usebgBoxProb = .001
forceBgBox = True
clearbgBoxprob = .0003
bgBoxBox = 0,0,128,128

bgTileSizeWidthMin = 64
bgTileSizeHeightMin = 64
bgTileSizeWidthMax = 128
bgTileSizeHeightMax = 129

bgGlitchCyclesMin = 4
bgGlitchCyclesMax = 30
bgGlitchDisplacementHorizontal = 10
bgGlitchDisplacementVertical = 10

initialRunsOfBgBlocks = 30



[palette_orange]
line_minHue = 20
line_maxHue = 40
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0
line_alpha_range = 18,30

line_mid_minHue = 20
line_mid_maxHue = 40
line_mid_minSaturation = .45
line_mid_maxSaturation = .55
line_mid_minValue = .5
line_mid_maxValue = .6
line_mid_minDropHue = 0
line_mid_maxDropHue = 0
line_mid_alpha_range = 180,230

line_light_minHue = 20
line_light_maxHue = 40
line_light_minSaturation = .5
line_light_maxSaturation = .50
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0

bg_minHue = 20
bg_maxHue = 40
bg_minSaturation = .7
bg_maxSaturation = .990
bg_minValue = .7
bg_maxValue = .80
bg_minDropHue = 0
bg_maxDropHue = 0
bg_alpha_range = 22,23

bgBoxColorRanges = 20,40,.50,1.0,.6,1.0,0,0
bgBoxAlphaRange = 40,248


[palette_blues]
line_minHue = 180
line_maxHue = 222
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0
line_alpha_range = 18,30

line_mid_minHue = 180
line_mid_maxHue = 230
line_mid_minSaturation = .45
line_mid_maxSaturation = .55
line_mid_minValue = .5
line_mid_maxValue = .6
line_mid_minDropHue = 0
line_mid_maxDropHue = 0
line_mid_alpha_range = 180,230

line_light_minHue = 20
line_light_maxHue = 38
line_light_minSaturation = .5
line_light_maxSaturation = .990
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0

bg_minHue = 200
bg_maxHue = 222
bg_minSaturation = .1
bg_maxSaturation = .990
bg_minValue = .4
bg_maxValue = .90
bg_minDropHue = 0
bg_maxDropHue = 0
bg_alpha_range = 22,23

bgBoxColorRanges = 210,220,.50,1.0,.2,.60,0,0
bgBoxAlphaRange = 40,248

[palette_pinks]
line_minHue = 0
line_maxHue = 60
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0
line_alpha_range = 18,30

line_mid_minHue = 355
line_mid_maxHue = 60
line_mid_minSaturation = .45
line_mid_maxSaturation = .55
line_mid_minValue = .5
line_mid_maxValue = .6
line_mid_minDropHue = 0
line_mid_maxDropHue = 0
line_mid_alpha_range = 180,230

line_light_minHue = 40
line_light_maxHue = 50
line_light_minSaturation = .5
line_light_maxSaturation = .50
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0

bg_minHue = 350
bg_maxHue = 1
bg_minSaturation = .1
bg_maxSaturation = .990
bg_minValue = .4
bg_maxValue = .90
bg_minDropHue = 0
bg_maxDropHue = 0
bg_alpha_range = 22,23

bgBoxColorRanges = 345,10,.50,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248


[palette_all_on_naples]
line_minHue = 0
line_maxHue = 60
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0
line_alpha_range = 18,30

line_mid_minHue = 355
line_mid_maxHue = 60
line_mid_minSaturation = .45
line_mid_maxSaturation = .55
line_mid_minValue = .5
line_mid_maxValue = .6
line_mid_minDropHue = 0
line_mid_maxDropHue = 0
line_mid_alpha_range = 180,230

line_light_minHue = 40
line_light_maxHue = 50
line_light_minSaturation = .5
line_light_maxSaturation = .50
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0
line_light_alpha_range = 180,230

bg_minHue = 34
bg_maxHue = 50
bg_minSaturation = .2
bg_maxSaturation = .990
bg_minValue = .9
bg_maxValue = .90
bg_minDropHue = 0
bg_maxDropHue = 0
bg_alpha_range = 22,23

bgBoxColorRanges = 180,220,.750,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248

[palette_aging]
line_minHue = 0
line_maxHue = 60
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0
line_alpha_range = 18,30

line_mid_minHue = 355
line_mid_maxHue = 60
line_mid_minSaturation = .45
line_mid_maxSaturation = .55
line_mid_minValue = .5
line_mid_maxValue = .6
line_mid_minDropHue = 0
line_mid_maxDropHue = 0
line_mid_alpha_range = 180,230

line_light_minHue = 40
line_light_maxHue = 50
line_light_minSaturation = .5
line_light_maxSaturation = .50
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0
line_light_alpha_range = 180,230

bg_minHue = 34
bg_maxHue = 50
bg_minSaturation = .2
bg_maxSaturation = .990
bg_minValue = .9
bg_maxValue = .90
bg_minDropHue = 0
bg_maxDropHue = 0
bg_alpha_range = 22,23

bgBoxColorRanges = 34,48,.750,1.0,.62,1.0,0,0
bgBoxAlphaRange = 40,248


