[displayconfig]
#-----------------------------------------------#
work = hashing-v3
# work = diagnostics
#-----------------------------------------------#

rotation = 0
fullRotation = True
rotationTrailing = False

checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 384

# ---  preparing for rotation
windowWidth = 320
windowHeight = 384

canvasWidth = 320
canvasHeight = 384

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 120
windowYOffset = 108

brightness = 1.0
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,32,84
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False
remapImageBlockSection2 = 192,96,384,128
remapImageBlockDestination2 = 0, 160
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 192,128,384,160
remapImageBlockDestination3 = 0, 192
remapImageBlockSection3Rotation = 0

## These are the full black-out boxes that seem to
## trap the viewer
remapImageBlock4 = False
remapImageBlockSection4 = 384,0,452,31
remapImageBlockDestination4 = 128, 32
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0

usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 382
pixSortboxWidth = 2
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 384
sectionBlurRadius = 1

useFilters = True
ditherfilterbrightness = 1.2
forceBGSwap = False


#-----------------------------------------------#
[hatchingmarks]
#-----------------------------------------------#

# Framerate
redrawSpeed = .03
# amplitude of noise
pointsPerLine = 28
curveResolution = 10

drawingWidth = 320
drawingHeight = 384


# more loops and tangles
tangleProb = 1.0
backTrackRange = 1,10

# grid single-lines
drawingShape = grid
renderLinesAsEnvelope = True

; imageXPOSSpeed = .1

# these really control the feel of
# activity - frenetic grid, soft undulations
# sense of randomness on or through the grid
# @todo make into mode sets

xOffset = 6
pointsPerLineCol = 28
colAdj = 1
colFirst = True
noiseAmplitudeRangeCol = 1.1,4.0
colIntervalRange = 20,80
verticalMovement = True
verticalMovementProb = .002
vertLineChangeRange = .001,.02
vertLineSpeedRange = 1,3
vertBaseWidthRange = 0,0

yOffset = 6
pointsPerLineRow = 28
rowAdj = 1
rowIntervalRange = 20,80
horizontalMovement = True
noiseAmplitudeRangeRow = 1.1,4.0
horizontalMovementProb = 0.0020
horizLineChangeRange = .001,.002
horizLineSpeedRange = 1,3
horizBaseWidthRange = 0,0

uniformRatio = False
squareRatio = False

useSingleMode = False
# these only need to be set for singleMode
# vertLineChange = 0.5
# horizLineChange = 0.5
# bg_alpha = 10
# line_alpha = 180

# chance per frame the overall drawing character changes
changeLinesProb = .0004
changeBGProb = 0.0003

lightMode = True
lightModeProb = .990
lightLinesOnGroundProb = .0
lightLinesOnGround = False

pauseProb = .0002
unpauseProb = .003


# when going full black/white return to base at this per cycle
bg_alpha_returnrate = .2


#---------------------  blanks blocks
useBlanks = True
resetBlanksProb = .0002
numberOfDeadPixels = 3
blankColorAsColorProb = .0
sizeTarget = 300,360
colsRange = 32,128
rowsRange = 32,128
blankPolyVariation = 1

#--------------------- filterRemapping  ------------------
filterRemapping = True
filterRemappingProb = .0005
filterRemapMinHoriSize = 12
filterRemapMaxHoriSize = 192
filterRemapMinVertSize = 3
filterRemapMaxVertSize = 16
filterRemapRangeX = 320
filterRemapRangeY = 360

contractXSpeed = 1
contractYSpeed = 1
expandXSpeed = 1
expandYSpeed = 1

#---------------------  adding panel modulation to mimic physical panel differences
usingPanelOverlays = True
panelColumns = 4
panelRows = 4
panelWidth = 64
panelHeight = 64
panelOverlayRange = 2,4
panelOverlayChangeProb = .0005
panelOverlayAmount = .1


#---------------------  bgparameters]

paletteSets = palette_blues

; paletteSets = palette_pinks,palette_all_on_naples,palette_aging

drawMoire = True
drawMoireProb = .01
drawMoireProbOff = .08

moireXPos  = 160
moireYPos  = 110
moireXDistance = 10
moireYDistance = 10

setMoireColor = True
moireColor = 0,140,60,50
moireColorAlt = 40,0,0,100
moireColorAltProb = .5

# chance that an overlay block is drawn
usebgBoxProb = .01
forceBgBox = False
useBgBox = False
clearbgBoxprob = .0003
bgBoxBox = 0,0,256,256

bgTileSizeWidthMin = 64
bgTileSizeHeightMin = 64
bgTileSizeWidthMax = 128
bgTileSizeHeightMax = 129

bgGlitchCyclesMin = 4
bgGlitchCyclesMax = 30
bgGlitchDisplacementHorizontal = 10
bgGlitchDisplacementVertical = 10

# chance that the background changes
backgroundColorChangeProb = .005

initialRunsOfBgBlocks = 30

[palette_blues]
line_minHue = 0
line_maxHue = 60
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0
line_alpha_range = 18,30

line_mid_minHue = 355
line_mid_maxHue = 60
line_mid_minSaturation = .45
line_mid_maxSaturation = .55
line_mid_minValue = .5
line_mid_maxValue = .6
line_mid_minDropHue = 0
line_mid_maxDropHue = 0
line_mid_alpha_range = 180,230

line_light_minHue = 180
line_light_maxHue = 220
line_light_minSaturation = .5
line_light_maxSaturation = .50
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0
line_light_alpha_range = 180,230

bg_minHue = 180
bg_maxHue = 220
bg_minSaturation = .2
bg_maxSaturation = .990
bg_minValue = .9
bg_maxValue = .90
bg_minDropHue = 0
bg_maxDropHue = 0
bg_alpha_range = 20,140

bgBoxColorRanges = 180,66,.750,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248


[palette_pinks]
line_minHue = 0
line_maxHue = 60
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0
line_alpha_range = 18,30

line_mid_minHue = 355
line_mid_maxHue = 60
line_mid_minSaturation = .45
line_mid_maxSaturation = .55
line_mid_minValue = .5
line_mid_maxValue = .6
line_mid_minDropHue = 0
line_mid_maxDropHue = 0
line_mid_alpha_range = 180,230

line_light_minHue = 40
line_light_maxHue = 50
line_light_minSaturation = .5
line_light_maxSaturation = .50
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0

bg_minHue = 355
bg_maxHue = 10
bg_minSaturation = .1
bg_maxSaturation = .40
bg_minValue = .9
bg_maxValue = .90
bg_minDropHue = 0
bg_maxDropHue = 0
bg_alpha_range = 20,140

bgBoxColorRanges = 345,10,.50,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248


[palette_all_on_naples]
line_minHue = 0
line_maxHue = 60
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0
line_alpha_range = 18,30

line_mid_minHue = 355
line_mid_maxHue = 60
line_mid_minSaturation = .45
line_mid_maxSaturation = .55
line_mid_minValue = .5
line_mid_maxValue = .6
line_mid_minDropHue = 0
line_mid_maxDropHue = 0
line_mid_alpha_range = 180,230

line_light_minHue = 40
line_light_maxHue = 50
line_light_minSaturation = .5
line_light_maxSaturation = .50
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0
line_light_alpha_range = 180,230

bg_minHue = 34
bg_maxHue = 50
bg_minSaturation = .2
bg_maxSaturation = .990
bg_minValue = .9
bg_maxValue = .90
bg_minDropHue = 0
bg_maxDropHue = 0
bg_alpha_range = 20,140

bgBoxColorRanges = 180,66,.750,1.0,.2,1.0,0,0
bgBoxAlphaRange = 40,248

[palette_aging]
line_minHue = 0
line_maxHue = 60
line_minSaturation = .5
line_maxSaturation = .50
line_minValue = .05
line_maxValue = .10
line_minDropHue = 0
line_maxDropHue = 0
line_alpha_range = 18,30

line_mid_minHue = 355
line_mid_maxHue = 60
line_mid_minSaturation = .45
line_mid_maxSaturation = .55
line_mid_minValue = .5
line_mid_maxValue = .6
line_mid_minDropHue = 0
line_mid_maxDropHue = 0
line_mid_alpha_range = 180,230

line_light_minHue = 40
line_light_maxHue = 50
line_light_minSaturation = .5
line_light_maxSaturation = .50
line_light_minValue = .65
line_light_maxValue = 1.0
line_light_minDropHue = 0
line_light_maxDropHue = 0
line_light_alpha_range = 180,230

bg_minHue = 34
bg_maxHue = 50
bg_minSaturation = .2
bg_maxSaturation = .990
bg_minValue = .9
bg_maxValue = .90
bg_minDropHue = 0
bg_maxDropHue = 0
bg_alpha_range = 20,140

bgBoxColorRanges = 34,48,.750,1.0,.62,1.0,0,0
bgBoxAlphaRange = 40,248





[diag]
#---------------------------------#

fontColor = 150,150,0
outlineColor = 120,0,0
fontColor2 = 0,100,100
bgColor = 0,0,104
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 120,40,0
borderColor = 10,0,0

