[displayconfig]
#-----------------------------------------------#
work = repeatblocks_5
# work = diagnostics
#-----------------------------------------------#

rotation = 0
fullRotation = True
rotationTrailing = False

checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 384

# ---  preparing for rotation
windowWidth = 320
windowHeight = 384

canvasWidth = 320
canvasHeight = 384

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 120
windowYOffset = 108

brightness = 1.0
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,320,384
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False
remapImageBlockSection2 = 192,96,384,128
remapImageBlockDestination2 = 0, 160
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 192,128,384,160
remapImageBlockDestination3 = 0, 192
remapImageBlockSection3Rotation = 0

## These are the full black-out boxes that seem to
## trap the viewer
remapImageBlock4 = False
remapImageBlockSection4 = 384,0,452,31
remapImageBlockDestination4 = 128, 32
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0

usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 382
pixSortboxWidth = 2
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 384
sectionBlurRadius = 1

useFilters = True
ditherfilterbrightness = 1.2
forceBGSwap = False

######################################################################

#---------------------------------------------------------------------
#---------------------------------------------------------------------
[movingpattern]
#---------------------------------------------------------------------
#---------------------------------------------------------------------

setupDeBug = False

# Template for other versions 02-11-2025
redrawSpeed = .03
slotrate = .04
delay = .03

canvasRotation = -0
canvasOffsetX = -0
canvasOffsetY = -0

imgCanvasOffsetX = 0
imgCanvasOffsetY = 0

#---------------------------------------------------------------------
useBlurSection = False
blurSectionWidth = 120
blurSectionHeight = 60
mask_blur_amt = 20
cp_blur_amt = 3
blurSectionXPos = 220
blurSectionYPos = 0
usePixelSortRandomize = False

# -------------------- transitions and fading in/out -------------------

faderDoingRefreshCount = 30

#--------------------- filterRemapping  ------------------

filterRemapping = True
filterRemappingProb = .005
filterRemapMinHoriSize = 32
filterRemapMinVertSize = 32
filterRemapMaxHoriSize = 256
filterRemapMaxVertSize = 256
filterRemapRangeX = 448
filterRemapRangeY = 220



#--------------------- DISTURBANCES  ---------------------
disturbancesConfigs = asset_configs/disturbances/disturbances_1.cfg

sectionDisturbance = True
disturbanceConfigSets = light-medium
# disturbanceConfigSets = minimal
changeDisturbanceSetProb = .25

stableSectionsMin = 4
stableSectionsMax = 5
stableSectionsMinWidth = 32
stableSectionsMinHeight = 32
stableSectionsChangeProb = .0005



#--------- WAVE DISTORTIONS ------------------
useWaveDistortion = True
waveAmplitude = 30
wavePeriodMod = 5
wavegridspace = 30
pNoiseMod = 10
waveDeformXPosRate = .003

#--------- Transform       ------------------
transformShape = False
# width skew
# vertical sheer
# haorizontal ,vertical perspective
# transformTuples = 1.0, 1.0, .0, -.0,  1.50, 2.0, 0.0, 0.002
# transformTuples = .9, .0, .0, -.0,  1.0, .91, 0.001, 0.001
transformTuples = 1.20, 0, 1.0, -.0, 1, 0.10, 0.005, 0.000


#--------------------- PATTERNS  ---------------------
# fishScales3,fishScales2,shellScales,tripart,circles,colorGrid,colorGridTriangles,gothic1,randomizer2,randomizer,waveScales,waveScales,fishScales,fishScales,fishScales,wavePattern2,decoBoxes,reMove,concentricBoxes,diamond,balls,compass,compass_hili,peaceCross,littleCones,balls_hili,logcabin,logcabinAlt1,logcabinAlt2


# dimensions of each pattern block
blockSizeChangeProb = .5
blockSizeChangeAlwaysUseMax = False
blockWidthMin = 32
blockWidthMax = 80

# the higher the pattern sequence limits,
# means more changes in the patterns shown
# NOT IN USE CURRENTLY
patternSequenceMin = 3
patternSequenceMax = 8

#--------------------- PATTERN CHANGE   ---------------------
# higher = more variation in patterns
# e.g. .2 is 20% chance each new block will change to a
# new pattern
patternChangeWhenBuilding = .2

# ***********  IMPORTANT **********************************
# rate the patterns change - if lower, then the distortions
# are more complete - checked each cycle so
# .001 roughly is a 3% chance every second
rebuildPatternProbability = 0.001

# checked every cycle, does combination set change?
changeCombinationAnytimeProb = .0008

# checked every cycle, does palette change?
changePaletteAnytimeProb = .002
# ***********  IMPORTANT **********************************


# does a rebuild of the patterns also trigger a new palette
changePaletteWhenRebuildProb = .0005

# after a new palette is chosen, does it force an pattern rebuild
probPatternsRebuildAfterNewPalette = .99

# chance that when the palette changes, it pulls
# a whole new palette from the available list
# lower means more uniform palette
changeFullPaletteWhenChangingPatternProb = 0.50

# when updating all the blocks with the new palette,
# chance that each one accepts the change
changeEachblockWhenChangingPatternProb = 0.950

patternModelVariations = True
drawbgcolorEachCycle = True

# chance that the palette will draw a new color
# from the active palette when the pattern changes
# lower means more uniform palette
# a zero value prevents any palette mixing
changePaletteWhenChangingPatternProb = 0.0


#--- individual pattern parameters  ---------------------
# forces the patterns to align to a certain rotation
# useful instead of rotation the whole piece etc
patternOrientation = -90

# increases density of pattern for diamonds, balls, shingles
numRows = 2
numDotRows = 3
numRowsRandomize = False
numShingleRows = 2

shingleVariation = True
shingleVariationRange = 6

# to be nice and even, has to be even multiple of blockWidth
# if you want artifact, then anything else ;)
lineDiff = 2
useDoubleLine = True

# decobox controls
decoboxbandwidth = 3

#waveScales controls
linesOnly = False
numScaleRows = 4
ringsRange = 10,18
stepsRange = 2,3

# for the diamond pattern
diamondStep = 1
randomizeSpeed = True

# for any moving pattern: diamond, reMove
xSpeed = .8
ySpeed = .1

# for the concentric squares
# careful with this, too many over the
# blockWidth will cause an issue....
minnumConcentricBoxes = 2
maxnumConcentricBoxes = 16

# for the randomizer
randomBlockProb = .1
randomBlockWidth = 3
randomBlockHeight = 3

# For the sine wave repeater
steps = 2
amplitude = 9
yOffset = 12

steps2 = 2
amplitude2 = 9
yOffset2 = 13
phaseFactor = 4
speedFactor = 1




#--------------------- COLORS   ---------------------
palettesConfigFile = dev/p3-askew-tower/colors.cfg
bgColorAlpha = 100,250
altColoringProb = .5
popRandomColorProb = .8



#--------------------- IAMGES  ---------------------
#imageSources = ./assets/imgs/drawings/P1060494.jpg,./assets/imgs/miscl/comp-448.jpg,./assets/imgs/miscl/lm_a.png
# imageSources = ./assets/imgs/miscl/ptg_burn_320.jpg,./assets/imgs/miscl/config_screenshot.png,./assets/imgs/miscl/config_screenshot_2.png
imageSources = /Users/lamshell/Documents/Dev/LEDELI/RPI/assets/imgs/miscl/wp_tiles_2b.jpg
#imageSources = ./assets/imgs/miscl/config_screenshot.png,./assets/imgs/miscl/config_screenshot_2.png
outPutPath = /Users/lamshell/Dropbox/studio/In Progress & Working Images/GEN IMAGES/bending_output/
loadAnImageProb = 0.0
saveImages = False

usePolygonOverlay = True
useOverlayTileGrid = True
poly_tlimitbase = 100
poly_tlimit = 100
poly_steps = 5
poly_minHue = 200
poly_maxHue = 220
poly_minSaturation = .2
poly_maxSaturation = .5
poly_minValue = .2
poly_maxValue = .2
poly_alpha = 255
polyBaseVals = 0,0|100,0|100,100|0,100|0,0
tileOverlayGridProb = .25
polyOverlayChangeProb = .001


#--------------------- COMBINATIONS  ---------------------
# problem --  when choosing some palettes or patterns need to exclude certain 
# combinations as they don't work out so well
# so when choosing a palette then choosing a pattern, check the exclusion list
# and vis a versa
# not using logcabin as is not flat enough
# patterns = circlesPacked,logcabin,logcabinAlt2,logcabinAlt1

# [TEST]
# [ropesAndChains]
# [grids-1]
# [florals-1-floral]
# [florals-1-woody]
# [combo-oceaninc]
# [florals-1-delft]
# [comboSet-noir]
# [homefires]
# [comboSet-vhs]
# [heavydots]
# [comboDrapedFullSink]
# [compassFrame]
# [fishScaleDom]
# [roundrounds]
# [florals-1]
# [florals-2]
# [tester2]
# [woodFrame]
# [cools]
# [comboSet0]
# [combo-peaceCross]
# [comboSet3]

#---------------------#---------------------#---------------------
# Current List of Available Patterns 2025-10-6
#---------------------#---------------------#---------------------
# fishScales3
# fishScales2
# fishScales
# gothic1
# gothic2
# balls
# balls_hili
# compass
# compass_hili
# randomizer
# randomizer2
# randomizer3
# wavePattern
# logcabin
# logcabinAlt1
# logcabinAlt2
# ropePattern
# wavePattern2
# runningSpiral
# chainLinks
# circlesPacked
# shingles
# shellScales
# ellipses
# waveScales
# circles
# tripart
# bars
# peaceCross
# fiboSeq
# logcabin
# littleCones
# coloredBlocks
# concentricBoxes
# decoBoxes
# diamond
# diagonalMove
# reMove
# grainLines
# colorGrid
# colorGridTriangles
# floralConfig
# petals



combinationSets =   mike-1-delft

# florals-1-floral - ok
# florals-1-delft - ok but needs tuning
# florals-1-woody - ok 
# combo-oceaninc - ok
# comboSet-noir - ok
# homefires - ok
# comboSet-vhs -ok , odd
# heavydots - ok
# roundrounds - ok
# comboDrapedFullSink - ok
# compassFrame - ok
# fishScaleDom - ok


[imageSequencePlayer]
useClipPlayer = True
clipXPos = 100
clipYPos = 100
clipRotate = 90
imageDirectory = ../video-python/result/
# delay = .02
# slotRate = .03
frameCount = 1072
useOverLay = True
overlayColor = 160,0,200,10
coloroverlayalpha = 200
clrBlkWidth = 100
clrBlkHeight = 100
overlayxPos = 0
overlayyPos = 0
overlayChangeProb = .05
overlayChangePosProb = .01
overlayChangeSizeProb = .01
randomPauseProb = .01
randomUnPauseProb = .01
videoWidth = 320
videoHeight = 240
clipWidth = 160
clipHeight = 110
maskBoxWidth = 64
maskBoxHeight = 32
maskBoxX = 10
maskBoxY = 0



[mike-1-delft]
patterns =  circlesPacked,
            petals,
            grainLines,
            circles,
            colorGrid,
            colorGridTriangles,
            gothic1,
            randomizer2,
            waveScales,
            fishScales,
            fishScales,
            wavePattern2,
            waveScales,
            decoBoxes,
            reMove,
            concentricBoxes,
            diamond,
            balls,
            concentricBoxes,
            randomizer,
            fishScales

palettes =  delft,
            china,
            deep

dominantPatterns = petals
dominantPatternProb = .75
# Border Controls
borderPattern = petals
useBorderPattern = False
altColoringProb = .5
popRandomColorProb = .1

usePolygonOverlay = True
tileOverlayGridProb = .5
# overlay subtract_modulo soft_light lighter
polyOverlayMode = overlay


#--------------------- DISTURBANCE SETS #---------------------

[medium-heavy]
numberOfSections = 10
# the number of steps per section movement
sectionMovementCountMax = 100
sectionWidthRange = 88,180
sectionHeightRange = 88,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .5
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .2
sectionSpeedFactorHorizontal = 1.0
sectionSpeedFactorVertical = 1.0
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = True
randomDiagonal = True 
diagonalFixedAngle = 0


# the decrement in pasted movement - the higher the number up to 1.0 + 
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96

[minimal]
numberOfSections = 30
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 8,80
sectionHeightRange = 8,80
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .01
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .08
sectionSpeedFactorHorizontal = .80
sectionSpeedFactorVertical = 1.2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = False
randomDiagonal = True 
diagonalFixedAngle = 0


# the decrement in pasted movement - the higher the number up to 1.0 + 
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96


[standard]
numberOfSections = 30
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 8,80
sectionHeightRange = 8,80
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .01
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .08
sectionSpeedFactorHorizontal = .80
sectionSpeedFactorVertical = 1.2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = False
randomDiagonal = True 
diagonalFixedAngle = 0


# the decrement in pasted movement - the higher the number up to 1.0 + 
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96



#--------------------- COLORS    ---------------------


[china2]
minHue = 200
maxHue = 245
minSaturation = .01
maxSaturation = .1
minValue = .6
maxValue = .8
tLimitBase = 25

line_minHue = 210
line_maxHue = 245
line_minSaturation = .9
line_maxSaturation = .99
line_minValue = .1
line_maxValue = .8
line_tLimitBase = 25

line2_minHue = 210
line2_maxHue = 260
line2_minSaturation = .9
line2_maxSaturation = .99
line2_minValue = .1
line2_maxValue = .8
line2_tLimitBase = 25


[china]
minHue = 210
maxHue = 245
minSaturation = .01
maxSaturation = .1
minValue = .6
maxValue = .8
tLimitBase = 25

line_minHue = 210
line_maxHue = 245
line_minSaturation = .9
line_maxSaturation = .99
line_minValue = .1
line_maxValue = .8
line_tLimitBase = 25

line2_minHue = 210
line2_maxHue = 260
line2_minSaturation = .9
line2_maxSaturation = .99
line2_minValue = .1
line2_maxValue = .8
line2_tLimitBase = 25


[galah]
minHue = 330
maxHue = 345
minSaturation = .1
maxSaturation = .30
minValue = .2
maxValue = .3
tLimitBase = 10

line_minHue = 330
line_maxHue = 345
line_minSaturation = .60
line_maxSaturation = 1.0
line_minValue = .5
line_maxValue = .99
line_tLimitBase = 15

line2_minHue = 330
line2_maxHue = 355
line2_minSaturation = .60
line2_maxSaturation = 1.0
line2_minValue = .5
line2_maxValue = .99
line2_tLimitBase = 15


[tablecloth]
minHue = 330
maxHue = 345
minSaturation = .8
maxSaturation = 1.0
minValue = .3
maxValue = .5
tLimitBase = 10

line_minHue = 0
line_maxHue = 360
line_minSaturation = .80
line_maxSaturation = 1.0
line_minValue = .6
line_maxValue = .95
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 360
line2_minSaturation = .80
line2_maxSaturation = 1.0
line2_minValue = .4
line2_maxValue = .9
line2_tLimitBase = 15



[goldenx2]
minHue = 38
maxHue = 48
minSaturation = .8
maxSaturation = .99
minValue = .99
maxValue = .99
tLimitBase = 15

line_minHue = 38
line_maxHue = 42
line_minSaturation = .01
line_maxSaturation = .1
line_minValue = .1
line_maxValue = .5
line_tLimitBase = 15

line2_minHue = 40
line2_maxHue = 48
line2_minSaturation = .1
line2_maxSaturation = .2
line2_minValue = .1
line2_maxValue = .2
line2_tLimitBase = 15

[goldenx]
minHue = 40
maxHue = 48
minSaturation = .01
maxSaturation = .1
minValue = .1
maxValue = .4
tLimitBase = 15

line_minHue = 38
line_maxHue = 42
line_minSaturation = .99
line_maxSaturation = .99
line_minValue = .5
line_maxValue = .9
line_tLimitBase = 15

line2_minHue = 40
line2_maxHue = 48
line2_minSaturation = .99
line2_maxSaturation = .99
line2_minValue = .4
line2_maxValue = .8
line2_tLimitBase = 15


[ocean-night]
# background
minHue = 200
maxHue = 225
minSaturation = .2
maxSaturation = .3
minValue = .0
maxValue = .1
tLimitBase = 25

line_minHue = 200
line_maxHue = 225
line_minSaturation = .2
line_maxSaturation = .5
line_minValue = .7
line_maxValue = 1.0
line_tLimitBase = 25

line2_minHue = 200
line2_maxHue = 230
line2_minSaturation = .2
line2_maxSaturation = .5
line2_minValue = .8
line2_maxValue = 1.0
line2_tLimitBase = 25

[oceansky]
minHue = 200
maxHue = 220
minSaturation = .5
maxSaturation = .5
minValue = .5
maxValue = .9
tLimitBase = 25

line_minHue = 200
line_maxHue = 220
line_minSaturation = .5
line_maxSaturation = .5
line_minValue = 1.0
line_maxValue = 1.1
line_tLimitBase = 25

line2_minHue = 200
line2_maxHue = 220
line2_minSaturation = .5
line2_maxSaturation = .5
line2_minValue = .05
line2_maxValue = .1
line2_tLimitBase = 25






[diag]
#---------------------------------#

fontColor = 150,150,0
outlineColor = 120,0,0
fontColor2 = 0,100,100
bgColor = 0,0,104
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 120,40,0
borderColor = 10,0,0

