[displayconfig]

work = particles-v2
# work = diagnostics


rotation = 90
# rotation = 180
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True


useFilters = True
ditherFilterBrightness = 1.0

tileSizeHeight = 20
tileSizeWidth = 20
matrixTiles = 8
rows = 20
cols = 20

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 384

# ---  preparing for rotation
windowWidth = 384
windowHeight = 384

canvasWidth = 384
canvasHeight = 384

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2593
windowYOffset = 69


brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,64,104
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,0,384,384
remapImageBlockDestination2 = 0, 0
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 0,0,384,384
remapImageBlockDestination3 = 0, 0
remapImageBlockSection3Rotation = 0


usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 96
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = 1.1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.1

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 2



[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0




[base]
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_fillRange = 20,40,.80,1.0,.5,1.0,14,16,0,255
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_outlineRange = 0,40,.50,1.0,.3,1.0,100,200,0,255
# backgroundColor controls
bg_fillRange = 210,260,.1,1.0,.1,.5,20,22,0,255
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = False
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 15

overallBlur = 4
unitBlur = 3


[base2]
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_fillRange = 20,40,.80,1.0,.5,1.0,140,160,0,255
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_outlineRange = 0,40,.50,1.0,.3,1.0,100,200,0,255
# backgroundColor controls
bg_fillRange = 210,260,.1,1.0,.1,.5,200,220,0,255
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = False
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 15

overallBlur = 4
unitBlur = 3


[particleSystem]
#-------------------------------------------#
numUnits = 190
delay = .02
slotRate = .03
restartProb = 0

# COLOR SETTINGS
# ----------------------------------

palettes = base,base
paletteChangeProb = .001

# ----------------------------------
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True
objColor = fixed
objTrails = False
trailingFade = 200
renderDiagnostics = False
# ----------------------------------

objWidth = 50
objHeight = 60
objType = rect

speedMin = 1
speedMax = 4

widthRate = .92
heightRate = .97

centerRangeXMin = 30
centerRangeXMax = 220
centerRangeYMin = -60
centerRangeYMax = 10

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
meanderFactor = .5
meanderFactor2 = 90.0
meanderDirection = 0
oneDirection = False

particleWinkOutXMin = 5
particleWinkOutYMin = 5

ignoreBottom = False
borderCollisions = True
expireOnExit = True
reEmitNumber = 2

collisionDamping = 1
damping = 1
torqueDelta = 0
torqueRate = 0
xWind = 0
xGravity = 0
yGravity = 0

# ----------------------------------
## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 100,0,200,1
clrBlkWidth = 32
clrBlkHeight = 32
overlayxPos = 60
overlayyPos = 60
#overlayColor = 88,40,0,190


filterRemapping = True
filterRemappingProb = .001
filterRemapminHoriSize = 100
filterRemapMaxHoriSize = 300
filterRemapMinVertSize = 260
filterRemapMaxVertiSize = 320
filterRemapRangeX = 300
filterRemapRangeY = 300



