[displayconfig]

work = quilt-triangles

rendering = hub
rotation = -0
fullRotation = True
rotationTrailing = False
isRPI = False
useFilters = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 7
cols = 8

## Also determines the window geometry
screenWidth = 260
screenHeight = 228

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 256
canvasHeight = 224

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2749
windowYOffset = 165

brightness =  .86
minBrightness = 0

imageXOffset  = 0
imageYOffset  = 0
remapImageBlock = False

usePixelSort = False
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 8
pixSortboxWidth = 320
pixSortgap = 0
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = .01
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 130
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = False


[quilt]

pattern = stars

delay = .01
colorPopProb = .0001
timeToComplete = 30

## Approximating timing so that any one triange changes once every 2 minutes or so
## e.g. .0005 prob checked every .01 seconds ~ .0005/ .01s = 5% chance per second ...
resetTrianglesProb = .9995

# the probability that at the completion of all transisitons that
# a new quilt sizeing will be made
resetSizeProbability  = .8

numUnits = 1
blockSizeMin = 8
blockColsMin = 10
blockRowsMin = 14

blockSizeMax = 18
blockColsMax = 10
blockRowsMax = 14

gapSize = 1

cntrOffsetX = -0
cntrOffsetY = -0

lines = False
patternPrecision = True

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

transitionStepsMin = 15.0
transitionStepsMax = 300.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

#transformTuples = 1, 0, 0, 0.0,  1, 0, 0, 0.0
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.0

activeSet = set2

[set1]
## red grid, greens for squares - high lumen
## BASE
c1HueRange = 0,36
c1SaturationRange = .8,1
c1ValueRange = .5,.8

## SQUARE
c2HueRange = 90,180
c2SaturationRange = .4,.6
c2ValueRange = .5,.6

## CENTER
c3HueRange = 0,36
c3SaturationRange = .9,1
c3ValueRange = .8,.99


[set2]
## diamond/sqaures recede due to being low saturarion
## BASE
c1HueRange =  1,360
c1SaturationRange = .8,1
c1ValueRange = .5,.8

## SQUARE
c2HueRange = 0,360
c2SaturationRange = .1,.5
c2ValueRange = .1,.3

## CENTER
c3HueRange = 0,360
c3SaturationRange = 1,1
c3ValueRange = .1,.3

c4HueRange = 80,90
c4SaturationRange = .9,1
c4ValueRange = .8,.99

c5HueRange = 100,120
c5SaturationRange = .9,1
c5ValueRange = .8,.99


[set3]
#	Red center diamonds
## BASE
c1HueRange = 1,360
c1SaturationRange = .8,1 
c1ValueRange = .3,.5

## SQUARE
c2HueRange = 1,20
c2SaturationRange = .8,1
c2ValueRange = .9,1

## CENTER
c3HueRange = 0,360
c3SaturationRange = .7,.9
c3ValueRange =  .1,.5

[set4]
#	Red grid - has most stained-glass feel ++

## BASE
c1HueRange = 0,29 
c1SaturationRange =  .9,1
c1ValueRange = .2,.22

## SQUARE
c2HueRange =  1,360
c2SaturationRange = .8,1
c2ValueRange = .4,.5

## CENTER
c3HueRange =  0,32
c3SaturationRange = .9,1
c3ValueRange = .5,.51











