[displayconfig]

work = sparkles
#work = fludd
work = image

rendering = hat
rotation = 0
fullRotation = True
rotationTrailing = False

useFilters = True
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 16
rows = 4
cols = 4

## Also determines the window geometry
screenWidth = 130
screenHeight = 130

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 130
canvasHeight = 130

actualScreenWidth = 512
transwiring = True

brightness =  .95
minBrightness = 0

actualScreenWidth = 512
transwiring = True

brightness =  .99
minBrightness = .4

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 7

# Window Offset
windowXOffset = 2560
windowYOffset = 24

[images]
i1 = fire-o2_130.gif
i2 = 


[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4