[displayconfig]

#work=repeater
#work=machine
#work = sparkles
#work = fludd
work = image
work = squares
#work=plane

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

## Also determines the window geometry
screenWidth = 192
screenHeight = 162
canvasWidth = 192
canvasHeight = 192
brightness =  .95
minBrightness = 0


# Window Offset
windowXOffset = 2560
windowYOffset = 24

actualScreenWidth = 512
transwiring = True

brightness =  .95
minBrightness = 0

actualScreenWidth = 512
transwiring = True

brightness =  .99
minBrightness = .4

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 6

# Window Offset
windowXOffset = 2560
windowYOffset = 24

[squares]
lineWidth = 1
countLimit = 10
pulseSpeed = .1
mode = cols


[images]
i1 = fire-o3.gif
i2 = 


[scroll]
vOffset = -10
scrollSpeed = .02
useColorFlicker = False
displayRows = 4
displayCols = 4

[repeater]
# Used for number of images etc
imageList = shane-2tw.png
#imageList = head-2tw.png
unitCount = 33
scalingFactor = 6
# Higher the speed factor, slower the movement
speedFactor = 2
vOffset = -10
scrollSpeed = .001
displayRows = 4
displayCols = 4
useJitter =  False
useBlink = True
noTrails = True


[repeater]
imageList = plane-2tw-lrg.png
imageList = plane-2tw.png

[plane]
# Used for number of planes etc
unitCount = 14
scalingFactor = 1
speedFactor = 3
vOffset = -10
scrollSpeed = .0001
displayRows = 2
displayCols = 5
useJitter =  True
useBlink = True
noTrails = False
colorMode = colorRGB
#colorWheel  #random #colorRGB #fixed

[fludd]
# prism or plenum
# prism is all colors all at once, = no color
# plenum is all white, = all color = no color
borderModel=prism
# nothing or void
# nothing is white nothing with nothing border implied
# void is black nothing implied
nothing = void
var = 7
# varianceMode = symmetrical, asymmetrical, independent
varianceMode = independent
prisimBrightness = .5


