[displayconfig]

work = sparkles
work = fludd

rendering = hat
rotation = 0
fullRotation = True
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 4
rows = 2
cols = 2

## Also determines the window geometry
screenWidth = 64
screenHeight = 64

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 64
canvasHeight = 64

actualScreenWidth = 128
transwiring = True

brightness =  .925
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 7

[fludd]
# prism or plenum
borderModel = prism
# nothing or void
nothing = void
var = 5