[displayconfig]

work = fills

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

## Also determines the window geometry
screenWidth = 192
screenHeight = 160

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 192
canvasHeight = 160

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 4

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = -1
windowYOffset = 13

# Window Offset
windowXOffset = 2560
windowYOffset = 26

#For direct to HAT
transwiring = True
actualScreenWidth = 640

[fills]
redrawRate = .02
mode = cols
blurLevel = 9
speedFactor = 90
redModel = 100,140,100,110,100,110
greenModel = 100,110,100,140,100,105
blueModel = 90,105,110,115,100,140

redModel = 100,155,100,110,100,110
greenModel = 100,120,100,125,100,105
blueModel = 90,105,110,115,100,140