[displayconfig]

work = fludd

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 16
rows = 4
cols = 4

## Also determines the window geometry
screenWidth = 128
screenHeight = 129

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 128
canvasHeight = 129

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 2

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = -1
windowYOffset = 13

# Window Offset
windowXOffset = 2560
windowYOffset = 24

#For direct to HAT
transwiring = True
actualScreenWidth = 640

[fludd]
# prism or plenum
# prism is all colors all at once, = no color
# plenum is all white, = all color = no color
borderModel=prism
# nothing or void 
# nothing is white nothing with nothing border implied
# void is black nothing implied
nothing = void
var = 7
# varianceMode = symmetrical, asymmetrical, independent
varianceMode = independent
prisimBrightness = .5
redrawSpeed = .01
# if demoMode == 0, no rotation of variants
demoMode = 0


