[displayconfig]

work = plane

rendering = out
rotation = 90
fullRotation = True
rotationTrailing = True

useFilters = False
tileSizeHeight = 128
tileSizeWidth = 128
matrixTiles = 30
rows = 5
cols = 5

## Also determines the window geometry
screenWidth = 720
screenHeight = 720
canvasWidth = 720
canvasHeight = 720
brightness =  .95
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 7


[output]
duration =  100
fps = 30
mode = video


[repeater]
imageList = plane-2tw-lrg.png

[plane]
# Used for number of planes etc
unitCount = 10
scalingFactor = 3
speedFactor = 3
vOffset = -10
scrollSpeed = .0001
displayRows = 5
displayCols = 5
useJitter =  True
useBlink = True
noTrails = False
colorMode = colorRGB
#colorWheel  #random #colorRGB #fixed


