[displayconfig]

work = repeater

rendering = hub
rotation = 90
fullRotation = False
rotationTrailing = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

## Also determines the window geometry
screenWidth = 192
### oops this is not right ....
screenHeight = 162

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 192
canvasHeight = 192

actualScreenWidth = 640
transwiring = True

brightness =  .93
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 7

# Window Offset
windowXOffset = 2560
windowYOffset = 24

[repeater]
# Used for number of images etc
imageList = shane-2tw.png
#imageList = head-2tw.png
unitCount = 33
scalingFactor = 6
# Higher the speed factor, slower the movement
speedFactor = 2
vOffset = -10
scrollSpeed = .001
displayRows = 6
displayCols = 5
useJitter =  False
useBlink = True
noTrails = True

[output]
duration =  30
fps = 60
mode = video



