[displayconfig]

work = squares

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

## Also determines the window geometry
screenWidth = 192
screenHeight = 162

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 192
canvasHeight = 162

brightness =  .95
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 7

# Window Offset
windowXOffset = 2560
windowYOffset = 24

[output]
duration =  30
fps = 60
mode = video

[squares]
lineWidth = 1
countLimit = 10
pulseSpeed = .1
mode = cols

