[displayconfig]

work = vertical

rendering = hub
rotation = 90
fullRotation = False
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

## Also determines the window geometry
screenWidth = 192
screenHeight = 192

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 192
canvasHeight = 192

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = -10

#For direct to HAT
transwiring = True
actualScreenWidth = 640

[vertical]
vOffset = 0


