[displayconfig]

work = screen
work__ = fluddfactory
work___ = scroller-holder
work____ = stroop2
work_ = marquee_2

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

usePixelSort = False
pixSortDirection = medial
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 70
pixSortboxHeight = 20
pixSortboxWidth = 40
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 4
cols = 1

# ---  Also determines the window geometry
screenWidth = 130
screenHeight = 130

# ---  preparing for rotation
windowWidth = 130
windowHeight = 130

canvasWidth = 130
canvasHeight = 130

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 2
canvasOffsetY = 2

# Window Offset

windowXOffset = 2941
windowYOffset = 169

brightness =  .8
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,64,160
remapImageBlockDestination = 0,-25

#-----------------------------------------------#

[marquee]
redrawSpeed = .02
marqueeNum = 10
marqueeWidth = 10
baseDashSize = 80
gap = 2
step = 3
decrement = 1
randomRange = 200.0

fontsize = 44
shadowSize = 1

#--------------------------#

[stroop]
fontSize = 84
vOffset = -10
scrollSpeed = .03
stroopSpeed = .02
speedMultiplier = 2
revealSpeedMin = 1
revealSpeedMax = 3
stroopSteps = 2
shadowSize = 2
stroopFontSize = 30
useColorFlicker = 0
highervariability = True
verticalBg =  False
displayRows = 6
displayCols = 6
simulBlocks = 3
## options are reveal, revealmove, move
movementMode = reveal
moveProbability = .15
colorProbabilityReturn = .08
colorProbability = .015

#--------------------------#

[diag]
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0


#--------------------------#
[screenproject]
delay = .02
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 7
pointsCount = 5
drawCracks = False
origin = 15,4

## Used when first creating the cracks
yVarMin = 6
yVarMax = 36

randomColorSampleProb = .91
probDrawBoxes = .000004
probDrawLines = .09
probDrawPerpLines = .0001
crackChangeProb = .01
imageResetProb = .001

timeTrigger = True

tLimitBase = 5
minHue = 210
maxHue = 270
minSaturation = .8
maxSaturation = 1
minValue = .1
maxValue = .3
maxBrightness = .5


#--------------------------#

[fludd]

### Now kind of like the Broken Modernist Project ...
## 16/12  8/6  4/3  
rowsOfSquares = 8
colsOfSquares = 4
var = 16

prisimBrightness = .95
redrawSpeed = .02
changeBoxProb = .001

transitionStepsMin = 20
transitionStepsMax = 100

fixedCenterColor = 10,1,10,220
usedFixedCenterColor = True

# prism or plenum
# prism is all colors all at once, = no color
# plenum is all white, = all color = no color
borderModel = prism

# nothing or void 
# nothing is white nothing with nothing border implied
# void is black nothing implied
nothing = void

# varianceMode = symmetrical, asymmetrical, independent
varianceMode = asymmetrical

# if demoMode == 0, no rotation of variants
# demoMode > 0 is seconds/variant
demoMode = 0

#-----------------------------------------------#

[scroller]

useOverLayImage = False
useArrows = False
useImages = False
useTransparentImages = False
useBackground = True
useText = False
useAltText = False


textSpeed = 1
arrowSpeed = -3
imageSpeed = -2

redrawSpeed = .01

xOffset = -5
yOffset = 0

displayRows = 4
displayCols = 10

#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 50
textVOffest = -12
shadowSize = 1

msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY
msg3 = 1234567890

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .2

patternSpeed = .4
patternRows = 2
patternCols = 12
patternDrawProb = .51
patternRowsOffset = 0
patternColsOffset = 0
pattern = lines
pauseProb = .001

lineThickness = 2
arrowCols = 10

bgBackGroundColor = 10,10,100,90
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20

alwaysRandomPatternColor = True
alwaysRandomPattern = False


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 8
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
imageBlockImage = /assets/imgs/sks/skull-s4d.png
# Spacing...
imageBlockBuffer = 40
imageBlockRemakeProb = .1


#-----------------------------------------------#


#--------------------------#
[scroll]
useXOs = True
useArrows = False
usingEmoties = True
counterScrollText = False
directionOrder = RIGHT-LEFT
useBlanks = True
useThreeD = True
sansSerif = True

txt1 =
txt2 =

fontSize = 38
shadowSize = 2
vOffset = -5
steps = 1
scrollSpeed = .014

bgcolor = 0,0,0
coloroverlay = False

#colorMode = randomColor
colorMode = getRandomRGB
#colorMode = getRandomColorWheel

useColorFlicker = True
noTrails = True
displayRows = 4
displayCols = 10


#--------------------------#
