[displayconfig]
#-----------------------------------------------#
work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
useFilters = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 3

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 256

# ---  preparing for rotation
windowWidth = 192
windowHeight = 256

canvasWidth = 192
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2657
windowYOffset = 255

brightness =  .98
minBrightness = 0

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 60
pixSortYOffset = 90
pixSortboxHeight = 10
pixSortboxWidth = 120
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 256
sectionBlurRadius = 8


[productionvalues]
#--------------------------#
changeBoxProb = .005
transitionStepsMin = 140
transitionStepsMax = 254
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = False
useVariablePixelSort = False
variablePixelProb = .0002
variableFilterProb = .002

useTweenTriggers = False
triggers = 1

sets = set1
set1 = s0,s1a,s2
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 192,0, 192,256, 0,256
varX = 0
varY = 0
minHue = 50
maxHue = 50
maxSaturation = .99
minSaturation = .99
maxValue = .6
minValue = .6

[s1a]
position = -4,4
coords = 0,0, 172,0, 172,83, 0,83
varX = 5
varY = 5
minHue = 30
maxHue = 60
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .3

[s2]
position = -4,4
coords = 0,93, 172,93, 172,238, 0,238
varX = 5
varY = 5
minHue = 30
maxHue = 60
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .3





[s1]
position = 4,4
coords = 0,0, 172,0, 172,236, 0,236
varX = 5
varY = 5
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1





[s2a]
position = 188,10
coords = 0,0, 122,0, 122,192, 0,192
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False