[displayconfig]

# work = diagnostics
work = grid_packer

rendering = hub
rotation = 180
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
# windowXOffset = 2647
windowYOffset = 118

brightness =  1.0
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0,64,64
remapImageBlockDestination2 = 100,100
remapImageBlockSection2Rotation = 2

remapImageBlock3 = False  
remapImageBlockSection3 = 0,384,192,512
remapImageBlockDestination3 = 0,128

useBlur = False
blurXOffset = 120
blurYOffset = 140
blurSectionWidth = 64
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = False


[forms]
sets = set-1


[set-1]
# ------------------------#
reDrawSpeed = .04
slotRate = .04

# background color - higher the 
# alpha = less persistent images
backgroundcolor = 50,0,20,100
backgroundFlashcolor = 0,0,0,100

# dithering patch moves around
filterPatchProb = .01
filterPatchProbOff = .001

#background Color Controls
bg_minHue = 320
bg_maxHue = 340
bg_minSaturation = .99
bg_maxSaturation = .99 
bg_minValue = .1
bg_maxValue = .7
bg_dropHueMinValue= 0
bg_dropHueMaxValue = 0
bg_minAlpha = 200
bg_maxAlpha = 255

# clr1
clr1_minHue = 160
clr1_maxHue = 170
clr1_minSaturation = .5
clr1_maxSaturation = .990
clr1_minValue = .4
clr1_maxValue = .5
clr1_dropHueMinValue= 0
clr1_dropHueMaxValue = 0
clr1_minAlpha = 200
clr1_maxAlpha = 255

# clr2
clr2_minHue = 10
clr2_maxHue = 36
clr2_minSaturation = .1
clr2_maxSaturation = .99
clr2_minValue = .1
clr2_maxValue = .99
clr2_dropHueMinValue= 0
clr2_dropHueMaxValue = 0
clr2_minAlpha = 200
clr2_maxAlpha = 255

# clr3
clr3_minHue = 350
clr3_maxHue = 10
clr3_minSaturation = .9
clr3_maxSaturation = .990
clr3_minValue = .5
clr3_maxValue = .99
clr3_dropHueMinValue= 0
clr3_dropHueMaxValue = 0
clr3_minAlpha = 200
clr3_maxAlpha = 255

# clr4
clr4_minHue = 330
clr4_maxHue = 36
clr4_minSaturation = .8
clr4_maxSaturation = .990
clr4_minValue = .8
clr4_maxValue = .99
clr4_dropHueMinValue= 0
clr4_dropHueMaxValue = 0
clr4_minAlpha = 200
clr4_maxAlpha = 255



# Grid controls
# ------------------------------#
# the spacing between each block
gridSize = 5
unitsToDraw = 53

minW = 1
maxW = 10
minH = 4
maxH = 11

# if sorting then the units are placed according
# to their size (area)
doSortProb = .1
# non-reverse sorting arranges Small to Big
# reverse sorting arranges Big to Small
reversedSortProb = 1.01

# higher = more full color rectangles
drawFullColorUnit = .0

# othewise draw butterfly/hourglass
drawTwoTrianglesProb = .0

# lower more single color
drawLeftTriangle = .50

# lower = more black/bg
drawGreyTriangleUnit = .00

# lower = more black/bg on left
drawRedTriangleUnit = .99

drawConcentricEllipse = .0
concentricENum = 1

drawFullUnitOutline = False
allSquare = False

# reset probability
bgFlashRate = .009





[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9


[particleVals-2]
fillColor = 14,180,1,10
outlineColor = 14,180,1,205 
bgColor = 14,180,1,20


[particleVals-1]
fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20
