[displayconfig]

# work = diagnostics
work = grid_packer

rendering = hub
rotation = -0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 320

# ---  preparing for rotation
windowWidth = 320
windowHeight = 320

canvasWidth = 320
canvasHeight = 320

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
windowYOffset = 118

brightness =  .8
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0,64,64
remapImageBlockDestination2 = 100,100
remapImageBlockSection2Rotation = 2

remapImageBlock3 = False  
remapImageBlockSection3 = 0,384,192,512
remapImageBlockDestination3 = 0,128

useBlur = False
blurXOffset = 120
blurYOffset = 140
blurSectionWidth = 64
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = False


[forms]
# ------------------------#
reDrawSpeed = .04
slotRate = .04

# background color - higher the 
# alpha = less persistent images
backgroundcolor = 50,0,20,100
backgroundFlashcolor = 0,0,0,100

# dithering patch moves around
filterPatchProb = .01
filterPatchProbOff = .001

#background Color Controls
bg_minHue = 320
bg_maxHue = 350
bg_minSaturation = .99
bg_maxSaturation = .99
bg_minValue = .0
bg_maxValue = .9
bg_dropHueMinValue= 0
bg_dropHueMaxValue = 0
bg_minAlpha = 200
bg_maxAlpha = 255

# clr1
clr1_minHue = 0
clr1_maxHue = 360
clr1_minSaturation = .80
clr1_maxSaturation = .990
clr1_minValue = .2
clr1_maxValue = .7
clr1_dropHueMinValue= 0
clr1_dropHueMaxValue = 0
clr1_minAlpha = 200
clr1_maxAlpha = 255

# clr2
clr2_minHue = 0
clr2_maxHue = 360
clr2_minSaturation = .1
clr2_maxSaturation = .1
clr2_minValue = .8
clr2_maxValue = .99
clr2_dropHueMinValue= 0
clr2_dropHueMaxValue = 0
clr2_minAlpha = 100
clr2_maxAlpha = 255

# clr3
clr3_minHue = 350
clr3_maxHue = 10
clr3_minSaturation = .8
clr3_maxSaturation = .990
clr3_minValue = .8
clr3_maxValue = .99
clr3_dropHueMinValue= 0
clr3_dropHueMaxValue = 0
clr3_minAlpha = 100
clr3_maxAlpha = 255



# Grid controls
# ------------------------------#
# the spacing between each block
gridSize = 6
unitsToDraw = 160
minW = 1
maxW = 12
minH = 4
maxH = 14

# if sorting then the units are placed according
# to their size (area)
# reverse sorting arranges Big to Small
# non-reverse sorting arranges Small to Big
doSortProb = .5
reversedSortProb = .1


# higher = more full color rectangles
drawFullColorUnit = .0001
# lower more single color
drawLeftTriangle = .5
# lower = more black/bg
drawGreyTriangleUnit = .99
# lower = more black/bg on left
drawRedTriangleUnit = .25

drawTwoTrianglesProb = .99


# reset probability
bgFlashRate = .009



[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9


[particleVals-2]
fillColor = 14,180,1,10
outlineColor = 14,180,1,205 
bgColor = 14,180,1,20


[particleVals-1]
fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20
