[displayconfig]

work = grid_repeater

rendering = hub
rotation = -0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 4

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1607
windowYOffset = 147

brightness =  1.2
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0,64,64
remapImageBlockDestination2 = 100,100
remapImageBlockSection2Rotation = 2

remapImageBlock3 = False  
remapImageBlockSection3 = 0,384,192,512
remapImageBlockDestination3 = 0,128

useBlur = False
blurXOffset = 120
blurYOffset = 140
blurSectionWidth = 64
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = False


[forms]
# ------------------------#
reDrawSpeed = .02

blockSpeedMin = .02
blockSpeedMax = .03

blockSpeed2Min = .3
blockSpeed2Max = .4

blockSpeedMultiplier = .1

# range of sizes of each block
blockWidthMin = 28
blockWidthMax = 28
blockHeightMin = 34
blockHeightMax = 34

# when pasting each rotated version
# expand the block or limit to set
# block size
expandPaste = False
# grid or spiral
patternType = spiral
# lines or boxes
figureType = lines
boxSize = 1

# background color - higher the 
# alpha = less persistent images
backgroundcolor = 50,0,20,100
backgroundFlashcolor = 180,50,10,240

# reset probability
bgFlashRate = .001

# dithering patch moves around
filterPatchProb = .01
filterPatchProbOff = .001

# how many elements 1,2,3
elementNumber = 3

#background Color Controls
# lineA
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .191
bg_maxSaturation = .19199
bg_minValue = .26280
bg_maxValue = .29299
bg_dropHueMinValue= 0
bg_dropHueMaxValue = 0
bg_minAlpha = 200
bg_maxAlpha = 255

# lineB
line1_minHue = 0
line1_maxHue = 360
line1_minSaturation = .80
line1_maxSaturation = .990
line1_minValue = .8
line1_maxValue = .99
line1_dropHueMinValue= 0
line1_dropHueMaxValue = 0
line1_minAlpha = 200
line1_maxAlpha = 255

# lineC
line2_minHue = 160
line2_maxHue = 160
line2_minSaturation = .8
line2_maxSaturation = .990
line2_minValue = .8
line2_maxValue = .99
line2_dropHueMinValue= 0
line2_dropHueMaxValue = 0
line2_minAlpha = 100
line2_maxAlpha = 255



# Grid controls
# ------------------------------#
# the spacing between each block
blockRowSpacingMin = -4
blockRowSpacingMax = -4
blockColSpacingMin = -4
blockColSpacingMax = -4

# the range of how much to
# rotate each iteration of
# the repeated blocks
gridAngleIncrementMin = .1
gridAngleIncrementMax = 1.5

repeatFactorMin = .1
repeatFactorMax = .1


# Spiral controls
# ------------------------------#
# spiral shape coiling
sAngleRate = 16.01
# initial distance from center point
initialRadius = 5
# expansion rate
sRadiusRate =.3
# change in rate as the spiral expands
# i.e. can make the rings closer as it
# expands instead of just getting bigger
sRadiusRateChange =.999

# initial position
xPosInit = 50
yPosInit = 50

# controls overall size
radiusMutiplier = 11

spiralAngleIncrementMin = .5
spiralAngleIncrementMax = 2.5






[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9


[particleVals-2]
fillColor = 14,180,1,10
outlineColor = 14,180,1,205 
bgColor = 14,180,1,20


[particleVals-1]
fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20
