[displayconfig]

work = lsys

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False

checkForConfigChanges = True
doFullReloadOnChange = True

isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

## Also determines the window geometry
screenWidth = 500
screenHeight = 500

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 500
canvasHeight = 500

brightness = .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 5
canvasOffsetY = 5

# Window Offset
windowXOffset = 960
windowYOffset = 318

#For direct to HAT
transwiring = True
actualScreenWidth = 640

[lsys]
redrawRate = .03
slotRate = .03

movementProb1 = .2
movementProb2 = .1

segmentWidth = 30
segmentDecrement = 0.75
segmentWidthDecrement = 0.75
useRandom = False
foliage = False

angleRange = .1
lsysOrigin = 250,500

bgColor = 20,10,10
bgColorAlpha = 1
lineColor = 100,100,100,100
endColor = 150,200,10,10
branchPointColor = 100,1,1,1

# Axiom = F((-F)(+F))F

# curling tree with splits
# Axiom = F
# Rule1 = G
# iternations = 5
# segmentLength = 30
# baseAngle = 40
# Rule2 = G(G)(+F)(-F)

# BINARY TREE ...
Axiom = F
Rule1 = G
iternations = 6
segmentLength = 56
baseAngle = 20
Rule2 = G(-F)(+F)

# # long tree branch splits
# Axiom = F
# Rule1 = GG
# iternations = 5
# segmentLength = 16
# baseAngle = 30
# Rule2 = G((-F)(+F))F

# # round tree branch splits
# Axiom = F
# Rule1 = G
# iternations = 5
# segmentLength = 46
# baseAngle = 20
# Rule2 = G((-F)(+F))F

# # Asymmetrical tree
# Axiom = F
# Rule1 = GG
# iternations = 5
# segmentLength = 6
# baseAngle = 30
# Rule2 = G(G(FG)(++FG)(--FG))

# # generic bush
# Axiom = F
# Rule1 = G
# iternations = 5
# segmentLength = 28
# baseAngle = 30
# Rule2 = G((+F)(-F))GF

# # generic tree
# Axiom = F
# Rule1 = GG
# iternations = 5
# segmentLength = 8
# baseAngle = 30
# Rule2 = G((+F)(-F))GF


