[displayconfig]

# work = gradients
work = repeatblocks_3
# work = diagnostics 
# work = collage


rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 448
screenHeight = 192

# ---  preparing for rotation
windowWidth = 448
windowHeight = 192

canvasWidth = 448
canvasHeight = 192

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1583	
windowYOffset = 86

brightness =  1.0
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,384,384
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0


remapImageBlock2 = False
remapImageBlockSection2 = 0,0,192,192
remapImageBlockDestination2 = 0, -32
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 192,128,384,160
remapImageBlockDestination3 = 0, 192
remapImageBlockSection3Rotation = 0


## These are the full black-out boxes that seem to
## trap the viewer 
remapImageBlock4 = False
remapImageBlockSection4 = 384,0,452,31
remapImageBlockDestination4 = 128, 32
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0


usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = -2
pixSortboxHeight = 1
pixSortboxWidth = 384
pixSortgap = 0
pixSortprobDraw = .05
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99





useBlur = False
blurXOffset = 150
blurYOffset = 0
blurSectionWidth = 140
blurSectionHeight = 110
sectionBlurRadius = 2

useFilters = False

forceBGSwap = False




[collageShapes]
#-----------------------------------------------#

redrawSpeed = .02
changeBoxProb = .003

transitionStepsMin = 140
transitionStepsMax = 254

tweenCountMax = 300
colOverlaytLimitBase = 25
colOverlaySteps = 60

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = True

usevariablefilter = True
variablefilterprob = .1
filterPatchProb = .001



sets = set1
set1 = s0,s1,s2
#,s1a,s2,s2a

[s0]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 448,0, 448,193, 0,448
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .8
maxSaturation = 1.0
minValue = .05
maxValue = .5

[s1]
#-----------------------------------------------#
position = -8,5
coords = 0,0, 448,0, 448, 140, 0,140
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .4
maxSaturation = 1.0
minValue = .5
maxValue = .5

[s2]
#-----------------------------------------------#
position = 5,45
coords = 0,0, 440,0, 440,90, 0,90
varX = 5
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .9
maxSaturation = 1.0
minValue = .0
maxValue = .50


#-----------------------------------------------#




#---------------------------------------------------------------------

[movingpattern]

#---------------------------------------------------------------------

# Template for other versions 11-18-2022

redrawSpeed =.03

blockWidth = 48
blockHeight = 48

cols = 10
rows = 10

useBlurSection = False
blurSectionWidth = 120
blurSectionHeight = 60
mask_blur_amt = 20
cp_blur_amt = 3
blurSectionXPos = 220
blurSectionYPos = 0

usePixelSortRandomize = False

canvasRotation = -0
canvasOffsetX = -0
canvasOffsetY = -0

transformShape = False
# width skew  
# vertical sheer
# haorizontal ,vertical perspective
# transformTuples = 1.0, 1.0, .0, -.0,  1.50, 2.0, 0.0, 0.002
# transformTuples = .9, .0, .0, -.0,  1.0, .91, 0.001, 0.001
transformTuples = 1.20, 0, 1.0, -.0,  1, 0.10, 0.005, 0.000

#--------------------- DISTURBANCES  ---------------------
sectionDisturbance = True
disturbanceConfigSets = heavy
changeDisturbanceSetProb = .25

stableSectionsMin  = 4
stableSectionsMax  = 5
stableSectionsMinWidth  = 32
stableSectionsMinHeight  = 32
stableSectionsChangeProb  = .01

sectionWidthRange = 64,128
sectionHeightRange = 64,128

sectionPlacementXRange = 0,200
sectionPlacementYRange = 0,90

sectionRotationRange = 20

#--------- WAVE DISTORTIONS ------------------
useWaveDistortion = True
waveAmplitude = 100
wavePeriodMod = 5
wavegridspace = 30
pNoiseMod = 10
waveDeformXPosRate = .06




#--------------------- COLORS   ---------------------

bgColorAlpha = 100,250

altColoringProb = 0.25
palettes = golden,highkey,internet,heat,thegrays,china
# palettes = golden

#--------------------- PATTERNS  ---------------------
# the types of pattern
# wavePattern 
# reMove -->lines move
# diagonalMove  --> block moves 
# randomizer
# runningSpiral
# concentricBoxes
# runningSpiral
# diamond
# shingles
# circles
# waveScales
# fishScales

# patterns = decoBoxes,reMove,shingles,concentricBoxes,diamond,balls,concentricBoxes,randomizer,fishScales
patterns = waveScales,fishScales,randomizer
# circlesPacked

# initial patternModel
patternModel = waveScales
patternSequence = waveScales,0,0
# rate the patterns change - if lower, then the distortions 
# are more complete
rebuildPatternProbability = 0.003
patternModelVariations = True

# increases density of pattern for diamonds, balls, shingles
numRows = 2
numDotRows = 3
numRowsRandomize = False
numShingleRows = 2

shingleVariation = True 
shingleVariationRange = 6

# to be nice and even, has to be even multiple of blockWidth
# if you want artifact, then anything else ;)
lineDiff = 2
useDoubleLine = True

# decobox controls
decoboxbandwidth = 3

#waveScales controls
linesOnly = False
numScaleRows = 4
ringsRange = 8,16
stepsRange = 2,3

# for the diamond pattern
diamondStep = 1
randomizeSpeed = True

# for any moving pattern: diamond, reMove
xSpeed = .8
ySpeed = .25

# for the concentric squares
numConcentricBoxes = 24

# for the randomizer
randomBlockProb = .1
randomBlockWidth = 0
randomBlockHeight = 0

# skip the rendering of any block
#skipBlocks = 2, 3, 5, 7, 11, 13, 
skipBlocks = 1000

# For the sine wave repeater
steps = 2
amplitude = 9
yOffset = 12

steps2 = 2
amplitude2 = 9
yOffset2 = 13
phaseFactor = 4
speedFactor = 1



#--------------------- IAMGES  ---------------------
#imageSources = ./assets/imgs/drawings/P1060494.jpg,./assets/imgs/miscl/comp-448.jpg,./assets/imgs/miscl/lm_a.png
imageSources = ./assets/imgs/miscl/ptg_burn_320.jpg,./assets/imgs/miscl/config_screenshot.png,./assets/imgs/miscl/config_screenshot_2.png
#imageSources = ./assets/imgs/miscl/config_screenshot.png,./assets/imgs/miscl/config_screenshot_2.png
outPutPath = /Users/lamshell/Dropbox/studio/In Progress & Working Images/GEN IMAGES/bending_output/
loadAnImageProb = 0.0
saveImages = False


#--------------------- DISTURBANCE SETS #---------------------

[heavy]
numberOfSections = 30
# the number of steps per section movement
sectionMovementCountMax = 100
sectionWidthRange = 8,180
sectionHeightRange = 8,180
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .5
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .08
sectionSpeedFactorHorizontal = 1.80
sectionSpeedFactorVertical = 1.2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = True
randomDiagonal = True 
diagonalFixedAngle = 0


# the decrement in pasted movement - the higher the number up to 1.0 + 
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96

[standard]
numberOfSections = 30
# the number of steps per section movement
sectionMovementCountMax = 10
sectionWidthRange = 8,80
sectionHeightRange = 8,80
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .01
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .08
sectionSpeedFactorHorizontal = .80
sectionSpeedFactorVertical = 1.2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = False
randomDiagonal = True 
diagonalFixedAngle = 0


# the decrement in pasted movement - the higher the number up to 1.0 + 
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96

#--------------------- COLORS    ---------------------

[golden]
minHue = 50
maxHue = 55
minSaturation = .99
maxSaturation = .99
minValue = .8
maxValue = .99
tLimitBase = 10

line_minHue = 30
line_maxHue = 35
line_minSaturation = .99
line_maxSaturation = .99
line_minValue = .0
line_maxValue = .9
line_tLimitBase = 15

line2_minHue = 50
line2_maxHue = 55
line2_minSaturation = .99
line2_maxSaturation = .99
line2_minValue = .4
line2_maxValue = .8
line2_tLimitBase = 15

[internet]
minHue = 0
maxHue = 360
minSaturation = .1
maxSaturation = .99
minValue = .1
maxValue = .9
tLimitBase = 10

line_minHue = 0
line_maxHue = 360
line_minSaturation = .0
line_maxSaturation = .99
line_minValue = .0
line_maxValue = .0
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 360
line2_minSaturation = .0
line2_maxSaturation = 1.0
line2_minValue = .01
line2_maxValue = .9
line2_tLimitBase = 15

[highkey]
minHue = 0
maxHue = 360
minSaturation = .8
maxSaturation = .99
minValue = .5
maxValue = .9
tLimitBase = 10

line_minHue = 0
line_maxHue = 360
line_minSaturation = 1.0
line_maxSaturation = 1.0
line_minValue = .0
line_maxValue = .90
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 360
line2_minSaturation = 1.0
line2_maxSaturation = 1.0
line2_minValue = .5
line2_maxValue = .90
line2_tLimitBase = 15

[blackOnPink]
minHue = 300
maxHue = 340
minSaturation = .8
maxSaturation = .99
minValue = .3
maxValue = .5
tLimitBase = 10

line_minHue = 0
line_maxHue = 0
line_minSaturation = .0
line_maxSaturation = .10
line_minValue = .0
line_maxValue = .0
line_tLimitBase = 15

line2_minHue = 320
line2_maxHue = 10
line2_minSaturation = 1.0
line2_maxSaturation = 1.0
line2_minValue = .5
line2_maxValue = .5
line2_tLimitBase = 15

[highkeyOnPink]
minHue = 330
maxHue = 340
minSaturation = .8
maxSaturation = .99
minValue = .5
maxValue = .9
tLimitBase = 10

line_minHue = 0
line_maxHue = 360
line_minSaturation = 1.0
line_maxSaturation = 1.0
line_minValue = .0
line_maxValue = .90
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 360
line2_minSaturation = 1.0
line2_maxSaturation = 1.0
line2_minValue = .5
line2_maxValue = .90
line2_tLimitBase = 15

[china]
minHue = 200
maxHue = 245
minSaturation = .01
maxSaturation = .1
minValue = .5
maxValue = .9
tLimitBase = 25

line_minHue = 200
line_maxHue = 245
line_minSaturation = .9
line_maxSaturation = .99
line_minValue = .1
line_maxValue = .9
line_tLimitBase = 25

line2_minHue = 200
line2_maxHue = 360
line2_minSaturation = .9
line2_maxSaturation = .9
line2_minValue = .05
line2_maxValue = .9
line2_tLimitBase = 25

[thegrays]
minHue = 300
maxHue = 36
minSaturation = .01
maxSaturation = .1
minValue = .1
maxValue = .2
tLimitBase = 25

line_minHue = 0
line_maxHue = 45
line_minSaturation = .01
line_maxSaturation = .1
line_minValue = .510
line_maxValue = .60
line_tLimitBase = 25

line2_minHue = 60
line2_maxHue = 360
line2_minSaturation = .10
line2_maxSaturation = .10
line2_minValue = .05
line2_maxValue = .4
line2_tLimitBase = 25


[heat]
minHue = 355
maxHue = 10
minSaturation = .8
maxSaturation = .995
minValue = .1
maxValue = .5
tLimitBase = 25

line_minHue = 20
line_maxHue = 40
line_minSaturation = .85
line_maxSaturation = .99
line_minValue = .89
line_maxValue = .99
line_tLimitBase = 25

line2_minHue = 0
line2_maxHue = 15
line2_minSaturation = .99
line2_maxSaturation = .99
line2_minValue = .9
line2_maxValue = .9
line2_tLimitBase = 25



[diag]
#---------------------------------#

fontColor = 150,150,0
outlineColor = 120,0,0
fontColor2 = 0,100,100
bgColor = 0,0,104
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 120,40,0
borderColor = 10,0,0






[gradients]
#-----------------------------------------------#


#directionOrder = RIGHT-LEFT
useBlanks = False
fromBlack = True

# number of greadient steps - lower is more crude
steps = 48
vOffset = -0

# rows of bands potentitally painted per cycle
rowsShown = 10

# not used
rowHeight = 0

## the bands
heightMin =  64
heightMax =  190

minWidth = 2
maxWidth = 16

# angle each gradient unit is rotated 
angle = 2
probDraw = .002
probDrawChange = .02
blackProb = .01
drawBarProb = .05
colorChange = 0.02

rotate = 90

#this affects the overall visual speed
fadeInRefreshCount = 180

# rgbAlpha rgb getRandomColorWheel randomColor
colorChoice = manual

c1 = 350,30,.5,.99,.5,.8
c2 = 0,30,.5,.99,.5,.8
c3 = 200,180,.5,.99,.5,.8

alpha1 = 0
alpha2 = 100

# rate of time delay between cycles
redrawRate = .02

debug = False



