[displayconfig]

# work = collage
work = collage_2_distortions
# work = diagnostics

rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 8

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 192

# ---  preparing for rotation
windowWidth = 192
windowHeight = 192

canvasWidth = 192
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
## working with 
## Start X 
## Start Y 
## on LINSN SENDER CARD
windowXOffset = 2711
windowYOffset = 118


brightness =  .8
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False
remapImageBlockSection2 = 0,0,256,256
remapImageBlockDestination2 = 0,0
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 0,64,128,192
remapImageBlockDestination3 = 7, 64
remapImageBlockSection3Rotation = 0


useFilters = True
ditherfilterbrightness = 1.0


usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 116
pixSortboxHeight = 4
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 8


[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 10



[collageShapes]
#-----------------------------------------------#

redrawSpeed = .02
delay = .03
slotRate = .03

changeBoxProb = .005

transitionStepsMin = 55
transitionStepsMax = 125

tweenCountMax = 150
colOverlaytLimitBase = 25
colOverlaySteps = 50

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = True

usevariablefilter = True
variablefilterprob = .1

filterPatchProb = .001
minFilterPatchWidth = 50
minFilterPatchHeight = 50


sets = set1
set1 = s0,s1,sx
#,s1a,s2,s2a

[s0]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 192,0, 192,256, 0,256
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
changeboxprob = .001
minHue = 20
maxHue = 55
minSaturation = .1
maxSaturation = .20
minValue = .2
maxValue = 1.0
alpha = 255


[s1]
#-----------------------------------------------#
position = -0,2
coords = 0,0, 182,0, 182, 230, 0,230
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
changeboxprob = .001
minHue = 240
maxHue = 260
minSaturation = .8
maxSaturation = 1.0
minValue = .9
maxValue = 1.0
alpha = 100



#-----------------------------------------------#


[sx]
position = 15,20
coords = 0,0, 150,0, 150, 190, 0,190
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
changeboxprob = .001
minHue = 30
maxHue = 42
minSaturation = .9
maxSaturation = 1.0
minValue = .99
maxValue = 1.0
alpha = 250







#---------------------------------------------------------------------
[distortionsConfigs]
#---------------------------------------------------------------------

blockWidth = 32
blockHeight = 32

canvasOffsetX = 0
canvasOffsetY = 0

#--------------------- DISTURBANCES  ---------------------
sectionDisturbance = True
disturbanceConfigSets = medium
changeDisturbanceSetProb = .001

stableSectionsMin  = 5
stableSectionsMax  = 12
stableSectionsMinWidth  = 64
stableSectionsMinHeight  = 128

# tieing this to changes in the piece
# rather than by straight probability
# otherwise can result in a jaring overlay
stableSectionsChangeProb  = .00
rebuildPatternProbability = .00

sectionWidthRange = 64,128
sectionHeightRange = 64,128

sectionPlacementXRange = 0,256
sectionPlacementYRange = 0,256

sectionRotationRange = 20

#--------- WAVE DISTORTIONS ------------------


useWaveDistortion = True
waveAmplitude = 10
wavePeriodMod = 4
# lower = more chop
wavegridspace = 38
pNoiseMod = 10
waveDeformXPosRate = .003



#--------------------- DISTURBANCE SETS #---------------------
[medium]
numberOfSections = 10
# the number of steps per section movement
sectionMovementCountMax = 30
sectionWidthRange = 28,180
sectionHeightRange = 28,180
sectionPlacementXRange = -10,256
sectionPlacementYRange = -10,256
sectionRotationRange = .85
stopProbMax = .001

# higher number reduces the speed in that direction
baseSectionSpeed = .050
sectionSpeedFactorHorizontal = 1.0
sectionSpeedFactorVertical = 1.0
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = True
randomDiagonal = True 
diagonalFixedAngle = 0

# the decrement in pasted movement - the higher the number up to 1.0 + 
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96

[heavy]
numberOfSections = 10
# the number of steps per section movement
sectionMovementCountMax = 100
sectionWidthRange = 8,180
sectionHeightRange = 8,180
sectionPlacementXRange = -10,256
sectionPlacementYRange = -10,256
sectionRotationRange = .85
stopProbMax = .001

# higher number reduces the speed in that direction
baseSectionSpeed = .180
sectionSpeedFactorHorizontal = 1.0
sectionSpeedFactorVertical = 1.0
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01

diagonalmovement = True
randomDiagonal = True 
diagonalFixedAngle = 0

# the decrement in pasted movement - the higher the number up to 1.0 + 
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96