[displayconfig]

work = gradients

rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 384

# ---  preparing for rotation
windowWidth = 384
windowHeight = 384

canvasWidth = 384
canvasHeight = 384

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# Window Offset
windowXOffset = 140
windowYOffset = 100

brightness =  .6
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 382
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock3 = True
remapImageBlockSection3 = 0,0,128,32
remapImageBlockDestination3 = 128,128
remapImageBlockSection3Rotation = 0

remapImageBlock4 = True
remapImageBlockSection4 = 64,32,128,64
remapImageBlockDestination4 = 128, 96
remapImageBlockSection4Rotation = 0


useBlur = False
blurXOffset = 150
blurYOffset = 0
blurSectionWidth = 140
blurSectionHeight = 110
sectionBlurRadius = 2

useFilters = False

forceBGSwap = False



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0




[gradients]
#-----------------------------------------------#

directionOrder = RIGHT-LEFT
useBlanks = False
fromBlack = True

# number of greadient steps - lower is more crude
steps = 48
vOffset = -0

# rows of bands potentitally painted per cycle
rowsShown = 8

# not used
rowHeight = 0

## the bands
heightMin =  64
heightMax =  380

minWidth = 2
maxWidth = 12

# angle each gradient unit is rotated 
angle = 2
probDraw = .002
probDrawChange = .051
blackProb = .01
drawBarProb = .05
colorChange = .003

#this affects the overall visual speed
fadeInRefreshCount = 80

# rgbAlpha rgb getRandomColorWheel randomColor
colorChoice = random

alpha1 = 0
alpha2 = 100

# rate of time delay between cycles
redrawRate = .02

debug = False



