[displayconfig]

work = scroller-holder-simple
# work = diagnostics

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = False
isRPI = False

tileSizeHeight = 40
tileSizeWidth = 40
matrixTiles = 24
rows = 4
cols = 20

## Also determines the window geometry
screenWidth = 480
screenHeight = 128

## Also determines the window geometry
windowWidth = 480
windowHeight = 128

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 480
canvasHeight = 128

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2671
#windowYOffset = 154


#windowXOffset = 2657
#windowYOffset = 219

windowXOffset = 100
windowYOffset = 196

brightness =  .9
minBrightness = 0


remapImageBlock = False
remapImageBlockSection = 0,0,480,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 = 0,0,240,40
remapImageBlockDestination2 = 0, 40
remapImageBlockSection2Rotation = 0

remapImageBlock3 = True
remapImageBlockSection3 = 240,0,480,40
remapImageBlockDestination3 = 0, 80
remapImageBlockSection3Rotation = 0


useLastOverlay = False
useLastOverlayProb = .1

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = -2
pixSortboxHeight = 1
pixSortboxWidth = 480
pixSortgap = 0
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .7
brightnessVarHi = 1.5
pixelSortAppearanceProb = 1

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 480
blurSectionHeight = 40
sectionBlurRadius = 1

useFilters = False



[wrking]
remapImageBlock5 = True
remapImageBlockSection5 = 32,0,64,32
remapImageBlockDestination5 = 32,0
remapImageBlockSection5Rotation = -90

[scroller]
#-----------------------------------------------#

# for pattern scrolling
redrawSpeed = .01
useUltraSlowSpeed = False

displayRows = 2
displayCols = 1

patternSpeed = 1.0

#
patternRows = 22
patternCols = 80

# when randomizing the pattern remake, set limits
minPatternCols = 200
maxPatternCols = 800
minPatternRows = 22
maxPatternRows = 32

patternHeight = 40

patternDrawProb = .50
minDrawProb = .1
maxDrawProb = .6


# lines or diamonds bricks pluses regularLines
pattern = regularLines
alwaysRandomPattern = True
altDirectionScrolling = True
alwaysRandomPatternColor = True

pauseProb = 0.0

fg_minHue = 340
fg_maxHue = 350
fg_minSaturation = .99
fg_maxSaturation = .99
fg_minValue = .6
fg_maxValue = .9

bg_minHue = 320
bg_maxHue = 350
bg_minSaturation = .99
bg_maxSaturation = .99
bg_minValue = .9
bg_maxValue = .9


# for some reason with this piece I do not like 
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
fg_drophueminvalue = 0
fg_drophuemaxvalue = 0

backgroundColorChangeProb = .5


# color combination - dependent palettes
redGreenSwapProb = 0.0
redBlueSwapProb = .00
greenBlueSwapProb = 0.


# additional randomness to pattern
addrndProb = .0001
addrnd_minHue = 0
addrnd_maxHue = 175
addrnd_minSaturation = .7
addrnd_maxSaturation = .99
addrnd_minValue = .5
addrnd_maxValue = .9
addrnd_dropHueMinValue = 0
addrnd_dropHueMaxValue = 0



[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

