[displayconfig]
#-----------------------------------------------#

work = collage
#-----------------------------------------------#


rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 10
cols = 8

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 260

# ---  preparing for rotation
windowWidth = 260
windowHeight = 260

canvasWidth = 260
canvasHeight = 260

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset


windowXOffset = 2749
windowYOffset = 201

brightness =  .8
minBrightness = 0

imageXOffset = 0
imageYOffset = 0



usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 96
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = 1.1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.1

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 2



[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0



[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 420

transitionStepsMin = 90
transitionStepsMax = 120
colOverlaytLimitBase = 18
colOverlaySteps = 0

useVariableFilter = False
useVariablePixelSort = False

variablePixelProb = .000
variableFilterProb = .00

useTweenTriggers = False
triggers = 1

#numberOfDeadPixels = 10

sets = s0_1,s0_2,s1_1,s1_2,s2_1,s2_2,s3_1,s3_2
#,s2
#--------------------------#

[s0_1]
position = 4,0
coords = 0,0, 64,0, 64,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = 1.99
minSaturation = .5
maxValue = .96
minValue = .1

[s0_2]
position = 8,4
coords = 0,0, 56,0, 56,56, 0,56
varX = 5
varY = 5
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1

#--------------------------#
[s1_1]
position = 4,0
coords = 64,0, 128,0, 128,64, 64,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = 1.99
minSaturation = .5
maxValue = .96
minValue = .1

[s1_2]
position = 8,4
coords = 64,0, 120,0, 120,56, 64,56
varX = 5
varY = 5
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360

maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1

#--------------------------#

[s2_1]
position = 4,0
coords = 128,0, 192,0, 192,64, 128,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = 1.99
minSaturation = .5
maxValue = .96
minValue = .1

[s2_2]
position = 8,4
coords = 128,0, 184,0, 184,56, 128,56
varX = 5
varY = 5
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1

#--------------------------#

[s3_1]
position = 4,0
coords = 192,0, 256,0, 256,64, 192,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = 1.99
minSaturation = .5
maxValue = .96
minValue = .1

[s3_2]
position = 8,4
coords = 192,0, 248,0, 248,56, 192,56
varX = 4
varY = 4
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1

#--------------------------#



