[displayconfig]
#-----------------------------------------------#

work = diagnostics
#-----------------------------------------------#

rendering = hub
isRPI = False
checkForConfigChanges = False

rotation = 0
fullRotation = True
rotationTrailing = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 6
cols = 5

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 192

# ---  preparing for rotation
windowWidth = 260
windowHeight = 192

canvasWidth = 260
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 3069
windowYOffset = 201

imageXOffset = 0
imageYOffset = 0

brightness =  .8
minBrightness = 0

useFilters = False

usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 96
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = 1.1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.1

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 270
sectionBlurRadius = 2



[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0





[screenproject]
#-----------------------------------------------#
delay = .02
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 7
pointsCount = 5
drawCracks = False
origin = 0,0

## Used when first creating the cracks
yVarMin = 6
yVarMax = 56

randomColorSampleProb = .01
probDrawBoxes = .4
probDrawLines = .41
probDrawPerpLines = .001
crackChangeProb = .1
imageResetProb = .001

pauseProb = .0005
unpauseProb = .002

timeTrigger = True

## This controls the range of background colors
tLimitBase = 10
minHue = 180
maxHue = 240
minSaturation = .8
maxSaturation = 1
minValue = .4
maxValue = .5
maxBrightness = .9




[user]
#-----------------------------------------------#
scale = 2
userCenterx = -2
userCentery = 5


[squares]
#-----------------------------------------------#
forceHoldDivision = -1
lineWidth = 1
countLimit = 2
pulseSpeed = .02
pasteDelay = .06
mode = cols








[quilt]
#-----------------------------------------------#

pattern = stars
delay = .01
colorPopProb = .0001

## Approximating timing so that any one triange changes once every 2 minutes or so
## e.g. .0005 prob checked every .01 seconds ~ .0005/ .01s = 5% chance per second ...
resetTrianglesProb = .9995

# the probability that at the completion of all transisitons that
# a new quilt sizeing will be made
resetSizeProbability  = .8

blockSizeMin = 6
blockSizeMax = 12
gapSize = 0

blockColsMin = 4
blockRowsMin = 16
blockColsMax = 4
blockRowsMax = 16

cntrOffsetX = 0
cntrOffsetY = 0

lines = False
patternPrecision = True

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

timeToComplete = 30
transitionStepsMin = 35.0
transitionStepsMax = 150.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

#transformTuples = 1, 0, 0, 0.0,  1, 0, 0, 0.0
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.0

# initial destination colors
activeSet = set1

[set1]
# major outline squares and diamonds
c1HueRange = 0,360
c1SaturationRange = .8,1
c1ValueRange = .3,.5
# wings of the 8-point inner starts
c2HueRange = 0,30
c2SaturationRange = .9,1
c2ValueRange = .4,.9
# the star center diamond
c3HueRange = 0,60
c3SaturationRange = .4,1
c3ValueRange = .4,.5



[set2]
c1HueRange = 0,320
c1SaturationRange = .8,1
c1ValueRange = .3,.5

c2HueRange = 0,30
c2SaturationRange = .9,1
c2ValueRange = .84,.9

c3HueRange = 0,60
c3SaturationRange = .4,1
c3ValueRange = .74,.5



[set3]
# major outline squares and diamonds
c1HueRange = 0,360
c1SaturationRange = .8,1
c1ValueRange = .1,.8

# wings of the 8-point inner starts
c2HueRange =  0,30
c2SaturationRange = .9,1
c2ValueRange = 0,0

# the star center diamond
c3HueRange = 0,60
c3SaturationRange = .4,1
c3ValueRange = 0,0





[particleSystemBAK]
#-------------------------------------------#
objColor = fixed
fillColor = 10,1,140,80
outlineColor = 184,100,1,225 
bgColor = 180,100,0,50


[particleSystem]
#-------------------------------------------#
numUnits = 190

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = 1
speedMax = 4

meandorfactor = .5

#initial direction 3.14/2
variance = 1

objWidth = 50
objHeight = 60
objType = rect
objTrails = False

widthRate = .92
heightRate = .97

overallBlur = 1
unitBlur = 0

objColor = fixed
fillColor = 180,100,0,50
outlineColor = 184,80,1,225 
bgColor = 10,1,140,80

bgTransitions = True
bgRangeA =  100
bgRangeB = 300
hueMin = 0
hueMax = 360
maxBrightness = .955
bgTransparency = 10

transparencyRange = 100,230

#*****
centerRangeXMin = 30
centerRangeYMin = -10

centerRangeXMax = 220
centerRangeYMax = 10

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 100,0,200,1
clrBlkWidth = 32
clrBlkHeight = 32
overlayxPos = 60
overlayyPos = 60
#overlayColor = 88,40,0,190


#-----------------------------------------------#


