[displayconfig]
#-----------------------------------------------#
# setup for cross beam in corner
# like a moving Fred Sanback

# work = scrolling_image
work = diagnostics


rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 6
cols = 23

screenWidth = 1472
screenHeight = 192

# ---  preparing for rotation
windowWidth = 512
windowHeight = 192

canvasWidth = 1472
canvasHeight = 192


canvasOffsetX = 3
canvasOffsetY = 3

windowXOffset = 20
windowYOffset = 58

brightness =  .9
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 4
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .9
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .05
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False
remapImageBlockSection = 0,0,1472,160
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

# Panels in order from back to front

# Panel d  = 6 x 64             ==> 0 -> 384
# Panel c = 6 x 64 + 2 x 64     ==> 384 -> 768 + (128)
# Panel b = 4 x 64              ==> 896 -> 1152
# Panel a = 5 x 64              ==> 1152 -> 1472
# make-up mapping of 768 -> 896 sent to panel c 2 panels because
# card configuration was setup for max 384 pixels wide

# - - - - - -
# - - - - - - | - -
# - - - -
# - - - - -


# remapImageBlock3 = True
# remapImageBlockSection3 = 384,0,896,32
# remapImageBlockDestination3 = -128, 32
# remapImageBlockSection3Rotation = 180

# # completes the 128 /2-panel to the long 8 panel beam
# remapImageBlock5 = True
# remapImageBlockSection5 = 768,0,896,32
# remapImageBlockDestination5 = 256, 128
# remapImageBlockSection5Rotation = 180

# remapImageBlock4 = True
# remapImageBlockSection4 = 896,0,1152,32
# remapImageBlockDestination4 = 0, 64
# remapImageBlockSection4Rotation = 0

# remapImageBlock6 = True
# remapImageBlockSection6 = 1152,0,1472,32
# remapImageBlockDestination6 = 0, 96
# remapImageBlockSection6Rotation = 0







# remapImageBlock = False		
# remapImageBlockSection = 0,0,512,512
# remapImageBlockDestination = 0, 0
# remapImageBlockSectionRotation = 0

# reverses the flow for the far-back beam
remapImageBlock2 = True
remapImageBlockSection2 = 0,160,448,192
remapImageBlockDestination2 = 0, 32
remapImageBlockSection2Rotation = 180

# completes the 128 /2-panel to the long 8 panel beam
remapImageBlock3 = True
remapImageBlockSection3 = 384,0,512,32
remapImageBlockDestination3 = 256, 128
remapImageBlockSection3Rotation = 0

# reverses first / forward beam
remapImageBlock4 = True
remapImageBlockSection4 = 0,192,448,224
remapImageBlockDestination4 = 0, 64
remapImageBlockSection4Rotation = 180


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = True
ditherfilterbrightness = 1.0

[scrollingImage]

redrawSpeed = .02
slotRate = .03

# baseImage = assets/imgs/spritesheets/mile-h2.png
# baseImage = assets/imgs/spritesheets/mile-h2-70-percent.png
baseImage = assets/imgs/spritesheets/mile-h2-red.png
# baseImage = assets/imgs/spritesheets/mile-h2b.png
segmentWidth = 1472
segmentHeight = 32

xOffSet = 0
yOffSet = 0

# set to 0 or 1 to use image height
resizeHeight = 32

# this sets the desired size of drawing
# to scale up to - so 1609344mm = 1 mile
# mmSizeOfDrawing = 1000000
mmSizeOfDrawing = 1609344

# the dot-pitch of the display
mmPerPixel = 5

# the desired apparent speed
speedMPH = 3

# this is ignored if mph is set
speedX = 12
# speedKmPH = 0


# background color HSV ranges
bg_minHue = 340
bg_maxHue = 25
bg_minSaturation = .90
bg_maxSaturation = 1.0
bg_minValue = .3
bg_maxValue = .5
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 150
# chance that the background changes
backgroundColorChangeProb = .01

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .004
filterRemapHorizSize = 448
filterRemapVertSize = 240
filterRemapMinHorizSize = 448
filterRemapMinVertiSize = 240

filterRemapRangeX = 0
filterRemapRangeY = 60



[diag]
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
