[YellowsOnGray_v1]
# --------------------------------------------------#
# black range
bgColorSets = (180,260,.0,.02,.02,.15,0,0)
bgBoxColorSets = (40,45,0.7,1.0,.4,1.0,0,0)
penColorSets = (44,50,0.9,1.0,.7,1.0,0,0)
bgBoxAlphaRange = 40,248
penNames = longOvalSweeps2b,shortMarks,scratchyLong,lineMarksH1
texture = texture4
# chance, per cycle, that a new line is chosen
startNewLineProb = 1.0
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0025
blendLevelRateBase = .01
clearCurrentDrawingProb = .00002

changePenColorWhileDrawingProb = .01
# placement
##xOffsetRange = 8,448
##yOffsetRange = 0,384
# drawLineAsEnvelope = False

