[displayconfig]

# work = diagnostics
work = particles-v2

rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 8
rows = 12
cols = 12

## Also determines the window geometry
screenWidth = 200
screenHeight = 200

windowWidth = 200
windowHeight = 200

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 200
canvasHeight = 200

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2583
windowYOffset = 756

brightness = 1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 14
pixSortboxWidth = 132
pixSortgap = 20
pixSortprobDraw = .01
pixSortprobGetNextColor = .01
pixSortProbDecriment = .65
pixSortSizeDecriment = 1.92
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

remapImageBlock = False
remapImageBlockSection = 0,0,165,165
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 = 0,0,96,96
remapImageBlockDestination2 = 96,0
remapImageBlockSection2Rotation = 180

remapImageBlock3 = False
remapImageBlockSection3 = 0,0, 384,384
remapImageBlockDestination3 = 0,-320
remapImageBlockSection3Rotation = -90

remapImageBlock4 = False
remapImageBlockSection4 = 0,165, 320,192
remapImageBlockDestination4 = 0,32
remapImageBlockSection4Rotation = 0

useFilters = True
ditherFilterBrightness = 1.0

[basex]
particle_fillRange = 20,40,.80,1.0,.5,1.0,10,22
particle_outlineRange = 0,40,.50,1.0,.3,1.0,100,200
# backgroundColor controls
bg_fillRange = 0,18,.4,1.0,.4,.6,100,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 305

overallBlur = 1
unitBlur = 1


[base]
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_fillRange = 20,40,.80,1.0,.5,1.0,14,16
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_outlineRange = 0,40,.50,1.0,.3,1.0,100,200
# backgroundColor controls
bg_fillRange = 210,260,.5,1.0,.5,.5,50,62
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 60

overallBlur = 4
unitBlur = 3

[base2]
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_fillRange = 20,40,.80,1.0,.5,1.0,140,160
# minHue, maxHue, minSaturation, maxSaturation, minValue, maxValue, minAlpha, maxAlpha
particle_outlineRange = 0,40,.50,1.0,.3,1.0,100,200
# backgroundColor controls
bg_fillRange = 210,260,.3,1.0,.3,.5,200,220
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 60

overallBlur = 4
unitBlur = 3

[midnightBlue]
particle_fillRange = 350,33,.80,1.0,.5,1.0,100,200
particle_outlineRange = 350,33,.50,1.0,.3,1.0,100,200
# backgroundColor controls
bg_fillRange = 210,270,.8,1.0,.3,.6,10,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 60

overallBlur = 1
unitBlur = 0

[pinkSacrifice]
particle_fillRange = 350,10,1.0,1.0,.80,1.0,100,120
particle_outlineRange = 350,10,1.0,1.0,1.0,1.0,100,160
# backgroundColor controls
bg_fillRange = 340,355,1.0,1.0,.5,1.0,100,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 360

overallBlur = 1
unitBlur = 0

[particleSystem]
#-----------------------------------------------#
numUnits = 200
delay = .02
slotRate = .03
restartprob = .001

# COLOR SETTINGS
# ----------------------------------

palettes = midnightBlue,basex,pinkSacrifice
# palettes = base,base2,pinkSacrifice,midnightBlue
paletteChangeProb = .001

# ----------------------------------
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True
objColor = fixed
objTrails = True
trailingFade = 200
renderDiagnostics = False
# ----------------------------------

objWidth = 18
objHeight = 53
objType = rect

speedMin = .5
speedMax = 2

widthRate = .96
heightRate = .98

centerRangeXMin = 15
centerRangeXMax = 20
centerRangeYMin = -142
centerRangeYMax = 25

movement = fire
linearMotionAlsoHorizontal = True
useFlocking = False
cohesionDistance = 40
repelDistance = 1
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = 1
oneDirection = False
changeCohesion = False
meanderfactor = .95
meanderFactor2 = 90.0
meanderDirection = 0

particleWinkOutXMin = 5
particleWinkOutYMin = 5

ignoreBottom = True
borderCollisions = True
expireOnExit = True
reEmitNumber = 2

damping = 1
collisionDamping = 1
xGravity = 0
yGravity = -.10
xWind = 0
torqueDelta = 0
torqueRate = -0

# ----------------------------------
# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .01
filterRemapminHoriSize = 140
filterRemapminVertSize = 140
filterRemapRangeX = 100
filterRemapRangeY = 100

filterRemapminHoriMinSize = 60
filterRemapminVertMinSize = 60

# ----------------------------------
useOverLay = False
useOverLayEnhanced = False
clrBlkWidth = 100
clrBlkHeight = 200
overlayxPos = 0
overlayyPos = 0
overlayColor = 0,0,0,0


[diag]
#-----------------------------------------------#
fontColor = 150,150,0
fontColor2 = 100,100,0
outlineColor = 100,0,0
bgColor = 0,0,80
showGrid = True
fontSize = 9

brightness = .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0