[displayconfig]
#----------------------------------------------------##----------------------------------------------------#
# work = diagnostics
work = particles-v2
#----------------------------------------------------##----------------------------------------------------#
isRPI = False
rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = True
checkForConfigChanges = False
doFullReloadOnChange = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 64
rows = 16
cols = 6

# ---  Also determines the window geometry
screenWidth = 512
screenHeight = 512

# ---  preparing for rotation
windowWidth = 512
windowHeight = 512

canvasWidth = 512
canvasHeight = 512

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 98
windowYOffset = 102

# Window Offset
#windowXOffset = 2595
#windowYOffset = 295


brightness =  1.0
minBrightness = 0


remapImageBlock = False  
remapImageBlockSection = 0,0,384,512
remapImageBlockDestination = 0,0

remapImageBlock2 = True  
remapImageBlockSection2 = 192,320,384,448
remapImageBlockDestination2 = 0,192
remapImageBlockSection2Rotation = 0

remapImageBlock3 = True  
remapImageBlockSection3 = 192,448,384,512
remapImageBlockDestination3 = 0,64
remapImageBlockSection3Rotation = 0

remapImageBlock4 = True  
remapImageBlockSection4 = 192,0,384,64
remapImageBlockDestination4 = 0,128
remapImageBlockSection4Rotation = 0


remapImageBlock5 = True  
remapImageBlockSection5 = 192,0,384,24
remapImageBlockDestination5 = 0,96
remapImageBlockSection5Rotation = -180

remapImageBlock6 = True  
remapImageBlockSection6 = 192,60,384,74
remapImageBlockDestination6 = 0,70
remapImageBlockSection6Rotation = 0

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = True
_ditherFilterBrightness = .95


usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 128
pixSortboxWidth = 384
pixSortgap = 0
pixSortprobDraw = .3
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .01
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0




[base]
particle_fillRange = 20,40,.80,1.0,.5,1.0,10,22
particle_outlineRange = 0,40,.50,1.0,.3,1.0,100,200
# backgroundColor controls
bg_fillRange = 0,18,.2,1.0,.1,.6,10,20
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 305

overallBlur = 1
unitBlur = 0

[midnightBlue]
particle_fillRange = 350,33,.80,1.0,.5,1.0,100,200
particle_outlineRange = 350,33,.50,1.0,.3,1.0,100,200
# backgroundColor controls
bg_fillRange = 210,270,.8,1.0,.1,.6,10,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 15

overallBlur = 2
unitBlur = 0

[pinkSacrifice]
particle_fillRange = 350,20,1.0,1.0,.80,1.0,100,220
particle_outlineRange = 350,350,1.0,1.0,1.0,1.0,100,200
# backgroundColor controls
bg_fillRange = 320,350,1.0,1.0,.9,1.0,100,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = False
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 15

overallBlur = 3
unitBlur = 0

[test]
particle_fillRange = 350,20,1.0,1.0,.80,1.0,100,220
particle_outlineRange = 350,350,1.0,1.0,1.0,1.0,100,200
# backgroundColor controls
bg_fillRange = 320,350,1.0,1.0,.9,1.0,100,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = False
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 15

overallBlur = 3
unitBlur = 0

#-------------------------------------------##----------------------------------------------------#
[particleSystem]
#-------------------------------------------##----------------------------------------------------#
numUnits = 1290
delay = .02
slotRate = .03
restartProb = .0001

# COLOR SETTINGS
# ----------------------------------

palettes = base,base
paletteChangeProb = .001

# ----------------------------------
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True
objColor = fixed
# objTrails = True
trailingFade = 200
renderDiagnostics = False
# ----------------------------------

objWidth = 50
objHeight = 60
objType = rect
objTrails = False

speedMin = 2
speedMax = 7

widthRate = .9952
heightRate = .997


# ----------------------------------

centerRangeXMin = 190
centerRangeXMax = 480
centerRangeYMin = 80
centerRangeYMax = 160

# ----------------------------------
# travel fire linearMotion
movement = fire
# travel fire linearMotion
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
meanderFactor = 10
meanderFactor2 = 10
meanderDirection = 0
onedirection = False

particleWinkOutXMin = 1
particleWinkOutYMin = 1

ignoreBottom = False
borderCollisions = True
expireOnExit = True
reEmitNumber = 2

damping = 1
collisionDamping = 1
xGravity = 0
yGravity = 0
xWind = 0
torqueDelta = 0
torqueRate = 0


# ----------------------------------
# added this because the first one didn't have sparks
# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapminHoriSize = 240
filterRemapminVertSize = 240
filterremaprangex = 512
filterremaprangey = 512

# ----------------------------------

useOverLay = False
overlayColor = 160,0,200,10
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190




# ------ OLDER v1 configs ----------#
#initial direction 3.14/2
variance = 1
overallBlur = 1
unitBlur = 0

pixelsGoGrayModel = 1
pixelsGoGray = True
jumpToGray = True
greyRate = 250

fillColor = 140,0,58,35
outlineColor = 200,90,0,200
# changed this to make it a bit darker like original
bgColor = 10,0,40,80

bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****










#----------------------------------------------------##----------------------------------------------------#
[diag]
#----------------------------------------------------##----------------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,0
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0