[displayconfig]

workList =p0,p1,p2,p4
playInOrder = True


###########################################

[p0]
work = prod/p4-firebox-2024/p4-firebox-particles_fire_algo-a.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = 1.0


[p1]
work = prod/p4-firebox-2024/p4-firebox-spritesheet3-a.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = 1.0

[p2]
work = prod/p4-firebox-2024/p4-firebox-flame-particles.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = 1.0

[p3]
work = prod/p4-firebox-2024/p4-firebox-fire-image.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = 1.0

[p4]
work = prod/p4-firebox-2024/p4-firebox-chimney-5.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = 1.2
