[displayconfig]

work0 = diagnostics
work1 = image
work2 = particles
work3 = marquee_2
work4 = scroller-holder
work5 = repeater
work6 = quilt-informal
work = screen



rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

usePixelSort = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 70
pixSortboxHeight = 20
pixSortboxWidth = 40
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 30

rows = 6
cols = 5

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 192

# ---  preparing for rotation
windowWidth = 320
windowHeight = 192

canvasWidth = 320
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 5
canvasOffsetY = 3

# Window Offset
windowXOffset = 2683
windowYOffset = 169

brightness =  .5
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 192,256,384,320
remapImageBlockDestination = 0,0

#-----------------------------------------------#
[diag]
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14

#-----------------------------------------------#



[screenproject]
delay = .02
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 7
pointsCount = 5
drawCracks = False
origin = 15,4

## Used when first creating the cracks
yVarMin = 6
yVarMax = 36

randomColorSampleProb = .91
probDrawBoxes = .0004
probDrawLines = .09
probDrawPerpLines = .0001
crackChangeProb = .01
imageResetProb = .001

timeTrigger = True

tLimitBase = 10
minHue = 300
maxHue = 360
minSaturation = .8
maxSaturation = 1
minValue = .1
maxValue = .3
maxBrightness = .9




