[displayconfig]

workListDirectory = sequencer/
#workList = p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,p17,p18,p19,p20,p21

# quilt sequence
#workList = p15,p16,p17,p18,p19,p20,p21

#workList = p2,p14,p4,p9
#workList = p2,p3,p13,p14,p19,p21
workList =p22,p23,p4,p14,p9,p14a

playInOrder = True

rotation = 0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 160

imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1601
windowYOffset = 69

forceBGSwap = True


###########################################
[p23]
work = img-hub1-recovery.cfg
minDuration = 15
maxDuration = 15
brightnessOverride = 1.1

[p22]
work = flame-particles-firepile-2.cfg
minDuration = 13
maxDuration = 13
brightnessOverride = 1.1


[p4]
work = single-line-crossing-fire.cfg
minDuration = 15
maxDuration = 20


[p9]
work = diagnostics-run.cfg
minDuration = 3
maxDuration = 3


[p14]
work = pink-algoflames-2.cfg
minDuration = 20
maxDuration = 30
brightnessOverride = .65


[p14a]
work = pink-algoflames-2x.cfg
minDuration = 20
maxDuration = 30
brightnessOverride = .65


###########################################

[p2]
work = stroop2.cfg
minDuration = 30
maxDuration = 60
brightnessOverride = 1.1

[p5]
work = sign-scroller.cfg
minDuration = 8
maxDuration = 10

[p0]
work = gradients.cfg
minDuration = 30
maxDuration = 60
brightnessOverride = .99


[p3]
work = steps-algofall.cfg
minDuration = 20
maxDuration = 30
brightnessOverride = .8


[p13]
work = cloud-repeater-2.cfg
minDuration = 20
maxDuration = 30
brightnessOverride = 1.2



[p18]
work = quilt-squares.cfg
minDuration = 8
maxDuration = 15
brightnessOverride = .8


[p19]
work = quilt-stars.cfg
minDuration = 8
maxDuration = 15
brightnessOverride = .8


[p21]
work = quilt-informal.cfg
minDuration = 10
maxDuration = 30
brightnessOverride = .8

###########################################


[p1]
work = XOs.cfg
minDuration = 8
maxDuration = 8




[p6]
work = marquee2.cfg
minDuration = 8
maxDuration = 10

[p7]
work = machine.cfg
minDuration = 8
maxDuration = 10

[p8]
work = honkytonk-dot-grid.cfg
minDuration = 8
maxDuration = 10



[p10]
work = dangler-tourmaline.cfg
minDuration = 2
maxDuration = 10

[p11]
work = counterwords.cfg
minDuration = 8
maxDuration = 10

[p12]
work = counter.cfg
minDuration = 8
maxDuration = 10


[p15]
work = quilt-informal-2.cfg
minDuration = 8
maxDuration = 10

[p16]
work = quilt-polys.cfg
minDuration = 8
maxDuration = 10

[p17]
work = quilt-squares-plane.cfg
minDuration = 8
maxDuration = 10


[p20]
work = quilt-triangles-b.cfg
minDuration = 8
maxDuration = 10
