[displayconfig]

workList = prod/p4-5x7-logcabin-lightening-for-small-child.cfg,p4-3x5/machine.cfg,sequencer/sign-scroller.cfg,sequencer/diagnostics.cfg,p4-5x8/corner-repeater.cfg,p10-line/p10-single-line-crossing-fire.cfg

rotation = 0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 640
screenHeight = 320

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 0
canvasOffsetY = 0

# Window Offset
windowXOffset = 100
windowYOffset = 165

