[displayconfig]

work = image

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True

useFilters = False

usePixelSort = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 256
pixSortgap = 0
pixSortprobDraw = .95
pixSortprobGetNextColor = .02
pixSortProbDecriment = .9
pixSortSizeDecriment = .9
pixSortSampleVariance = 10
pixSortDrawVariance = 5
randomColorProbabilty = .1
brightnessVarLow = .8
brightnessVarHi = 1.2
pixelSortAppearanceProb = 1


tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

brightness =  .99
minBrightness = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2670
windowYOffset = 69

#imageXOffset = 18
#imageYOffset = 24

imageXOffset = 0
imageYOffset = 0

remapImageBlock = True  
remapImageBlockSection = 0,0,0,0
remapImageBlockDestination = 0,0

remapImageBlock2 = True  
remapImageBlockSection2 = 0,16,256,32
remapImageBlockDestination2 =  0,16
remapImageBlockSection2Rotation = 180

remapImageBlock3 = True  
remapImageBlockSection3 = 0,32,256,48
remapImageBlockDestination3 = 0,32
remapImageBlockSection3Rotation = 180

remapImageBlock4 = True  
remapImageBlockSection4 = 0,80,256,96
remapImageBlockDestination4 = 0,80
remapImageBlockSection4Rotation = 180

remapImageBlock5 = True  
remapImageBlockSection5 = 0,112,256,128
remapImageBlockDestination5 = 0,112
remapImageBlockSection5Rotation = 180

remapImageBlock6 = True  
remapImageBlockSection6 = 0,144,256,160
remapImageBlockDestination6 = 0,144
remapImageBlockSection6Rotation = 180

forceBGSwap = True


[images]
#i1 = flames/fire-o2_256.gif
i1 = flames/flames_256x160.gif


i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .03
verticalOrientation = 0
resetProbability = .01

# for rotated image, lines are width, boxWidth is height
# 160
lines = 6
boxHeight = 256
boxWidth = 256
xPos1 = 0
yPosBase = 0
targetPalette = selective
#targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17
targetClrs = 92,106,107,117,119,124
#targetClrs = 104,91,96,104,112,104
#targetClrs = 14,15,16

bgFilterProb = 0.01
imageFilterProb = .03

# the chance that the image stops and glitches
pausePlayProb = .002
# the chance release after pause
releasePauseProb = .005

# when and image is still, chance that a gltch happens
# the total number of glitches before things move on
imageGlitchProb = .01

# the increase of the imageGlichProb when the animation is paused
glitchChanceWhenPausedFactor = 8.0

# probability that the color will change
overlayChangeProb = .0075

# prob block will relocate
overlayChangePosProb = .001

# prob block will resize
overlayChangeSizeProb = .001

# the prob that the animation of each frame happens
animateProb = .990

# total number of glitches per period allowed
imageGlitchCountLimit = 10

imageGlitchSize = 10
imageGlitchDisplacement = 10

imageGlitchDisplacementHorizontal = 10
imageglitchDisplacementVerical = 10
glitchCountRestFactor = 1

#after this many frames, force a glitch
forceGlitchFrameCount = 200
doingRefreshCount = 5


# Color overlay / pixel color block
clrBlkWidth = 256
clrBlkHeight = 256
overlayxPos = 0
overlayyPos = 0





[diag]
#-----------------------------------------------#
fontColor = 0,250,0
outlineColor = 205,0,10
fontColor2 = 255,150,0
bgColor = 0,0,150
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

