[displayconfig]

workListDirectory = sequencer/

workList =p1,p2

playInOrder = True

rotation = 0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 326
screenHeight = 260

imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2721
windowYOffset = 335

restartScript = cntrlscripts/restart_tower_sequencer-2.sh
repeatCountTrigger = 30


###########################################
[p1]
work = seq-post-line-flames-b.cfg
minDuration = 10
maxDuration = 20
#brightnessOverride = 1.1

[p2]
work = seq-post-line-repeater-re-test.cfg
minDuration = 10
maxDuration = 20
#brightnessOverride = 1.1


[p3]
work = seq-post-line-sign-scroller.cfg
minDuration = 10
maxDuration = 20
#brightnessOverride = 1.1





