[displayconfig]

workListDirectory = sequencer/works/
workList = p0

playInOrder = True

rotation = 0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 520
screenHeight = 320

imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2689
windowYOffset = 339

forceBGSwap = False

###########################################

[p0]
work = p4-2x4-asym-collage3.cfg
minDuration = 10
maxDuration = 10
brightnessOverride = .99

