[displayconfig]

#----------------------------------------------

work = plane

#----------------------------------------------

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = True
checkForConfigChanges = True
isRPI = False
tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 40
rows = 4
cols = 9

## Also determines the window geometry
#----------------------------------------------
screenWidth = 576
screenHeight = 128

canvasWidth = 576
canvasHeight = 64

brightness =  .95
minBrightness = .6

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# ---  Window Offset
#windowXOffset = 2684
windowXOffset = 2698
windowYOffset = 165

#For direct to HAT
#----------------------------------------------
actualScreenWidth = 576
transwiring = True

useFilters = True

remapImageBlock = False
remapImageBlockSection = 0,0,576,128
remapImageBlockDestination = 0,0

remapImageBlock2 = True
remapImageBlockSection2 = 256,0,576,64
remapImageBlockDestination2 = 0,64

[plane]
#----------------------------------------------
#imageList = planes/plane-2tw-lrg.png
#imageList = planes/plane-2twb0.png
#imageList = planes/plane-2tw.png
#\imageList = planes/bar.png
imageList = planes/plane-2tw2s.png
# Used for number of planes etc
unitCount = 1

scalingFactor = 1
vOffset = -4

scrollSpeed = .01
speedFactor = .25

displayRows = 5
displayCols = 6

useJitter =  True
jitterRate = .8
jitterResetRate = .2

useBlink = True
noTrails = False

#colorWheel  #random #colorRGB #fixed
colorMode = colorRGB
randomColorMode = True

channelHeight = 70



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

