[displayconfig]

work = scroller-holder

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 20
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 640
screenHeight = 128

# ---  preparing for rotation
windowWidth = 640
windowHeight = 128

canvasWidth = 640
canvasHeight = 128

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 0
canvasOffsetY = 3

# Window Offset
windowXOffset = 81
windowYOffset = 49

brightness =  .95
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 320,0,640,64
remapImageBlockDestination = 0,64

[scroller]
#-----------------------------------------------#

useOverLayImage = False
useArrows = False
useImages = False
useTransparentImages = False
useBackground = True
useText = False
useAltText = False

patternSpeed = .3
textSpeed = 1
arrowSpeed = -3
imageSpeed = -2

redrawSpeed = .01

xOffset = 0
yOffset = 0

displayRows = 2
displayCols = 2

#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 50
textVOffest = -12
shadowSize = 1

altDirectionScrolling = True
alwaysRandomPatternColor = True
alwaysRandomPattern = False
pauseProb = 0.0

msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY
msg3 = 1234567890

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .2

patternRows = 12
patternCols = 100
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .890
# lines or diamonds bricks pluses
pattern = pluses


lineThickness = 2
arrowCols = 10
# This actually is not working  ;(
bgBackGroundColor = 100,0,0,90
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 8
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
imageBlockImage = /assets/imgs/sks/skull-s4d.png
# Spacing...
imageBlockBuffer = 40
imageBlockRemakeProb = .1

