[displayconfig]

#work = diagnostics
#work = compositions2
work = quilt-informal

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = True
doFullReloadOnChange = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 200

# ---  preparing for rotation
windowWidth = 384
windowHeight = 200

canvasWidth = 384
canvasHeight = 200

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2593
windowYOffset = 335

brightness =  .7
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 382
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock3 = True
remapImageBlockSection3 = 0,0,64,32
remapImageBlockDestination3 = 64,64
remapImageBlockSection3Rotation = 0

remapImageBlock4 = True
remapImageBlockSection4 = 44,96,96,128
remapImageBlockDestination4 = 324, 160
remapImageBlockSection4Rotation = 0


useBlur = False
blurXOffset = 120
blurYOffset = 0
blurSectionWidth = 186
blurSectionHeight = 82
sectionBlurRadius = 1

useFilters = False

forceBGSwap = False


[quilt-informal]
#---------------------------------#
delay = .02
colorPopProb = .0001

numUnits = 6
blockSize = 3
blockLength = 3
blockHeight = 3

blockRows = 5
blockCols = 9
hGapSize = 4
vGapSize = 1

cntrOffsetX = 48
cntrOffsetY = 0

# LighteningStrike
# Regular
# Diagonals


opticalPattern = LighteningStrike
polyDistortion = 6

timeToComplete = 30

lines = True
patternPrecision = True


# Controls color of overall top or red colors
# MinHue,MaxHue in degrees -- e.g. 0,40 is red

#the pink-red variant used
# in many works
# redRange = 320,10 
#backgroundColor = 20,0,10,10

# Blue Cabin
#redRange = 180,270
#backgroundcolor = 30,10,100

#yellows
redRange = 30,50 
backgroundcolor = 30,10,100

#red-oranges
#redRange = 330,30 
#backgroundcolor = 20,30,60


## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

saturationRangeFactorRight = 1,1
saturationRangeFactorLeft = .1,.9

transitionStepsMin = 15.0
transitionStepsMax = 300.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
#transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

## skew
transformTuples = .9, .5, 0, -.01,  1, 0, .0009, 0.00
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.


[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,180,180
bgColor = 0,0,254
showGrid = True
fontSize = 9

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0


[compositions]
#---------------------------------#
# Framerate
delay = .04
canvasImageWidth = 256
canvasImageHeight = 192

refreshCount = 50
timeToComplete = 5
cleanSlateProbability = .8
filterPatchProb = .25

bgColor = 0,0,255

#background Color Controls
minHue = 0
maxHue = 360
minSaturation = .5
maxSaturation = 1.0
minValue = .5
maxValue = 1.0

# insetGroumd
inset_coords = 15,30, 190,30, 190,130, 18,130
inset_varX = 5
inset_varY = 10

inset_minHue = 0
inset_maxHue = 360
inset_minSaturation = .5
inset_maxSaturation = .99
inset_minValue = .5
inset_maxValue = 1.0

