[displayconfig]
workList =p-1,p-2,p-1a
playInOrder = True


###########################################

[p-1]
work = dev/ladder-base/p4-6x16_scroller-ladder.cfg
minDuration = 23
maxDuration = 33
brightnessOverride = 1.2

[p-1a]
work = dev/ladder-base/p4-6x16_scroller-ladder_harlequin.cfg
minDuration = 23
maxDuration = 33
brightnessOverride = 1.2

[p-2]
work = dev/ladder-base/particle-v2-movements_b.cfg
minDuration = 33
maxDuration = 67
brightnessOverride = 1.0