[displayconfig]
##########################################################
#---------------------------------------------------------
workListDirectory = staging/p4-post-fire-spill/
# workList = p4
workList =p0,p1,p2,p4
playInOrder = False
#---------------------------------------------------------
[p0]
work = staging/p4-post-fire-spill/p4-firepile-particles_fire_algo-a.cfg
minDuration = 61
maxDuration = 97
brightnessOverride = .85

[p1]
work = staging/p4-post-fire-spill/p4-firepile-spritesheet3a.cfg
minDuration = 61
maxDuration = 97
brightnessOverride = .9

[p2]
work = staging/p4-post-fire-spill/p4-firepile-flame-particles.cfg
minDuration = 23
maxDuration = 61
brightnessOverride = .85

[p4]
work = staging/p4-post-fire-spill/for-ref-seq-westwind-2-1-flame-particles-firepile.cfg
minDuration = 61
maxDuration = 97
brightnessOverride = .9






