[displayconfig]

work = machine
work = stroop
work = squares
work = user
work = plane
#work = stroop2
work = counterscroll
#work = curves

rendering = hat
rotation = 0
fullRotation = True
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 20
rows = 2
cols = 10

## Also determines the window geometry
screenWidth = 320
screenHeight = 64

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 320
canvasHeight = 64

actualScreenWidth = 640
transwiring = True

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 7

[output]
duration =  30
fps = 60
mode = video

[stroop]
fontSize = 84
vOffset = -10
scrollSpeed = .03
stroopSpeed = .01
stroopSteps = 2
shadowSize = 2
stroopFontSize = 30
useColorFlicker = 0
highervariability = True
verticalBg =  False
displayRows = 6
displayCols = 6
simulBlocks = 3
## options are reveal, revealmove, move
movementMode = reveal

[plane]
# Used for number of planes etc
unitCount = 1
scalingFactor = .5
vOffset = -10
scrollSpeed = .004
displayRows = 2
displayCols = 10
useJitter =  True
useBlink = True
noTrails = True

[scroll]
useXOs = True
useArrows = True

usingEmoties = False
counterScrollText = False
directionOrder = LEFT-RIGHT

useBlanks = False
useThreeD = False
sansSerif = True

txt1 = FEEL
txt2 = GOOD BAD

fontSize = 90
shadowSize = 1
steps = 2
vOffset = -16

scrollSpeed = .004

useColorFlicker = True
noTrails = True
displayRows = 1
displayCols = 4

[user]
scale = 2.2
userCenterx = 6
userCentery = 96

