[displayconfig]

work = machine
work = stroop
work = squares
work = user

#work = stroop2
work = counterscroll
#work = curves
#work = plane
#work = repeater

rendering = hat
rotation = 0
fullRotation = False
rotationTrailing = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 20
rows = 2
cols = 10

## Also determines the window geometry
screenWidth = 320
### oops this is not right ....
screenHeight = 64

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 320
canvasHeight = 64

actualScreenWidth = 640
transwiring = True

brightness =  .93
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 7

[repeater]
# Used for number of images etc
imageList = shane-2tw.png
#imageList = head-2tw.png
unitCount = 33
scalingFactor = 6
# Higher the speed factor, slower the movement
speedFactor = 2
vOffset = -10
scrollSpeed = .002
displayRows = 6
displayCols = 5
useJitter =  False
useBlink = True
noTrails = True

[output]
duration =  30
fps = 60
mode = video

[stroop]
fontSize = 84
vOffset = -10
scrollSpeed = .03
stroopSpeed = .01
stroopSteps = 2
shadowSize = 2
stroopFontSize = 30
useColorFlicker = 0
highervariability = True
verticalBg =  False
displayRows = 6
displayCols = 6
simulBlocks = 3
## options are reveal, revealmove, move
movementMode = reveal

[plane]
# Used for number of planes etc
unitCount = 14
scalingFactor = 1.2
vOffset = -10
scrollSpeed = .002
displayRows = 2
displayCols = 10
useJitter =  True
useBlink = True
noTrails = True

[scroll]
useXOs = True
useArrows = True

usingEmoties = False
counterScrollText = False
directionOrder = RIGHT-LEFT

useBlanks = True
useThreeD = False
sansSerif = True

txt1 = FEELING GOOD
txt2 = FEELING BAD

fontSize = 90
shadowSize = 1
steps = 2
vOffset = -16

scrollSpeed = .004

useColorFlicker = True
noTrails = True
displayRows = 3
displayCols = 5

[user]
scale = 2.2
userCenterx = 6
userCentery = 96

