[displayconfig]

work = machine
work = stroop
work = squares
work = user
work = plane
#work = stroop2

rendering = hub
rotation = 90
mode = video

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5
screenWidth = 192
screenHeight = 162
canvasWidth = 192
canvasHeight = 192
brightness =  .95
minBrightness = 0


[output]
duration =  120
fps = 60


[stroop]
fontSize = 84
vOffset = -10
scrollSpeed = .03
stroopSpeed = .01
stroopSteps = 2
shadowSize = 2
stroopFontSize = 30
useColorFlicker = 0
highervariability = True
verticalBg =  False
displayRows = 6
displayCols = 6
simulBlocks = 3
## options are reveal, revealmove, move
movementMode = reveal

[plane]
# Used for number of planes etc
unitCount = 14
scalingFactor = 1
vOffset = -10
scrollSpeed = .001
displayRows = 2
displayCols = 5
useJitter =  True
useBlink = True
noTrails = False


[scroll]
vOffset = -10
scrollSpeed = .001
useColorFlicker = True
displayRows = 2
displayCols = 5


[user]
scale = 2.2
userCenterx = 6
userCentery = 96