[displayconfig]

work = counterscroll

rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

## Also determines the window geometry
screenWidth = 192
screenHeight = 162

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 192
canvasHeight = 192

brightness =  .925
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 7


[output]
duration =  30
fps = 60
mode = video


[scroll]
useXOs = True
useArrows = False
usingEmoties = True
counterScrollText = False
directionOrder = RIGHT-LEFT
useBlanks = False
useThreeD = False
sansSerif = True

txt1 = 
txt2 = 

fontSize = 44
shadowSize = 2
vOffset = -10
steps = 1
scrollSpeed = .004

useColorFlicker = True
noTrails = True
displayRows = 5
displayCols = 5
