[bands]
# darker rea1 red
bgColorSets = (20,30,.47, .6,.3, .4,0,0)
bgBoxColorSets = (0,60,.10,.20,.4,1.0,20,40)
penColorSets = (40,20,.10,1.0,.4,1.0,240,350)
bgBoxAlphaRange = 40,248
# penNames =  scratchyLong,lineMarksVertHeavyLight,shortMarks,longOvalSweeps2b,lineMarks2
penNames = lineMarksVertBands
texture = texture1
# chance, per cycle, that a new line is chosen
# startNewLineProb = .002
# the time between actually drawing the lines
startNewLineProb = 1.0
startNewLineDelayRange = 3,23
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0025
blendLevelRateBase = .01
clearCurrentDrawingProb = .0001

changePenColorWhileDrawingProb = .01
# placement
#xOffsetRange = -16,420
#yOffsetRange = 0,384
drawLineAsEnvelope = True




