[CoastalIndustry]
bgColorSets = (20,30,.47, .6,.3, .4,0,0)
bgBoxColorSets = (0,60,.10,.20,.4,1.0,20,40)
penColorSets = (40,20,.10,1.0,.4,1.0,240,350)
bgBoxAlphaRange = 40,248
penNames = longOvalSweeps2b,shortMarks,scratchyLong,spiralGyres2,lineMarksH1
drawLineAsEnvelope = True
texture = texture1
# chance, per cycle, that a new line is chosen
startNewLineProb = .30
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0025
doJitterProb = .0008
blendLevelRateBase = .01
clearCurrentDrawingProb = .00002
changePenColorWhileDrawingProb = .01
# --------------------------------------------------#

