[diag]
#---------------------------------#

fontColor = 220,220,0
outlineColor = 220,0,0
fontColor2 = 0,220,220
bgColor = 0,0,125
fontSize = 10
showGrid = True
showWhitesGreys = False
colorPalette = False
TVPalette = False

brightness = .2
outerColor = 10,0,220
innerColor = 220,40,0
borderColor = 10,0,0





# --------------------------------------------------#
# --------------------------------------------------#
# --------------------------------------------------#
# --------------------------------------------------#
# UNUSED
# --------------------------------------------------#
# --------------------------------------------------#
# --------------------------------------------------#
# --------------------------------------------------#





