[lyricalBlocks]
bgColorSets = (20,30,.47, .6,.3, .4,0,0)
bgBoxColorSets = (0,60,.10,.20,.4,1.0,20,40)
penColorSets = (350,40,.10,1.0,.4,1.0,0,0)|(20,240,.10,1.0,.4,1.0,0,0)|(220,225,.9,1.0,.86,.99,0,0)
# skyblue (220,225,.9,1.0,.86,.99,0,0)
bgBoxAlphaRange = 40,48
penNames =  scratchyLong,shortMarks
drawLineAsEnvelope = True
texture = texture1
jitterIterationsMin = 30
jitterIterationsMax = 130
jitterDisplacementHorizontal = 2
jitterDisplacementVertical = 2
# chance, per cycle, that a new line is chosen
startNewLineProb = .010
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that a ground block is drawn
usebgBoxProb = .004
doJitterProb = .0008
clearCurrentDrawingProb = .0001
changePenColorWhileDrawingProb = .01
blendLevelRateBase = .01
# --------------------------------------------------#

