[OnSystemBlue_v1]
bgColorSets = (200,250,.7, .9,.6, .7,0,0)
bgBoxColorSets = (0,360,.750,1.0,.2,1.0,0,0)
penColorSets = (180,250,0.10,1.00,.40,1.0,0,0)
bgBoxAlphaRange = 40,248
penNames = shortMarks2,scratchyLong2
drawLineAsEnvelope = True
texture = textureScrim2
# chance, per cycle, that a new line is chosen
startNewLineProb = 1.0
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0025
doJitterProb = .0008
clearCurrentDrawingProb = .0003
blendLevelRateBase = .05
changePenColorWhileDrawingProb = .01
# --------------------------------------------------#

