[rose_x]
# darker real red
bgColorSets = (326,346,.6,.95,.43,.94,0,0)
bgBoxColorSets = (321,22,.170,.972,.24,.650,0,0)
penColorSets = (320,350,.1,.94,.15,.960,0,0)
bgBoxAlphaRange = 120,148
penNames = lineMarks2,scratchyLong,lineMarksVertHeavyLight,shortMarks
texture = texture1
# chance, per cycle, that a new line is chosen
startNewLineProb = .2
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0025
clearCurrentDrawingProb = .001
blendLevelRateBase = .05

changePenColorWhileDrawingProb = .01
# placement
##xOffsetRange = 8,448
##yOffsetRange = 0,384
# drawLineAsEnvelope = False


