[VirHeroicusSublimis_v1]
bgColorSets = (0,8,.80,.96,.5,.55,0,0)
bgBoxColorSets = (355,6,.60,.92,.45,.57,0,0)
penColorSets = (0,60,.1,1.0,.3,.99,0,0)|(180,245,.1,1.0,.3,.3,0,0)|(220,230,.6,.70,.9,.99,0,0)
penAlphaRange = 150,220
bgBoxAlphaRange = 140,248
penNames = lineMarksVert
drawLineAsEnvelope = True
texture = texture1
jitterIterationsMin = 1
jitterIterationsMax = 5
jitterDisplacementHorizontal = 1
jitterDisplacementVertical = 1
# chance, per cycle, that a new line is chosen
startNewLineProb = .5
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0002
doJitterProb = .0001
clearCurrentDrawingProb = .0003
blendLevelRateBase = .05
changePenColorWhileDrawingProb = .001
# --------------------------------------------------#

