[VirHeroicusSublimis2]
bgColorSets = (0,8,.80,.96,.4,.45,0,0)
bgBoxColorSets = (3,6,.60,.62,.45,.47,0,0)
penColorSets = (0,60,.1,1.0,.3,.99,0,0)|(180,245,.1,1.0,.3,.3,0,0)|(220,230,.6,.70,.9,.99,0,0)
bgBoxAlphaRange = 140,248
penNames = lineMarks2
texture = texture1
# chance, per cycle, that a new line is chosen
startNewLineProb = .5
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0025
clearCurrentDrawingProb = .0003
blendLevelRateBase = .05

changePenColorWhileDrawingProb = .01
# placement
##xOffsetRange = 8,448
##yOffsetRange = 0,384
drawLineAsEnvelope = True



