[displayconfig]

work = quilt-triangles

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 288
screenHeight = 64

# ---  preparing for rotation
windowWidth = 288
windowHeight = 64

canvasWidth = 288
canvasHeight = 64

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

imageXOffset = 0
imageYOffset = 0

# Window Offset
windowXOffset = 2977
windowYOffset = 165

brightness =  .9
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 128,128,256,192
remapImageBlockDestination = 0,64


remapImageBlock2 = False  
remapImageBlockSection2 = 128,128, 192,246
remapImageBlockDestination2 = 128,130

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 320
sectionBlurRadius = 1

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 52
pixSortYOffset = 320
pixSortboxHeight = 8
pixSortboxWidth = 448
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1





[diag]
#--------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9





[quilt]
#--------------------------#
pattern = triangles
delay = .02
colorPopProb = .0001

## Approximating timing so that any one triange changes once every 2 minutes or so
## e.g. .0005 prob checked every .01 seconds ~ .0005/ .01s = 5% chance per second ...
resetTrianglesProb = .9995

# the probability that at the completion of all transisitons that
# a new quilt sizeing will be made
resetSizeProbability  = .8

gapSize = 0

blockSizeMin = 4
blockColsMin = 4
blockRowsMin = 10

blockSizeMax = 20
blockColsMax = 8
blockRowsMax = 10

cntrOffsetX = 0
cntrOffsetY = 0

lines = False
patternPrecision = True

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

timeToComplete = 20
transitionStepsMin = 35.0
transitionStepsMax = 150.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

#transformTuples = 1, 0, 0, 0.0,  1, 0, 0, 0.0
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.0

# initial destination colors
activeSet = set1

[set1]
# major outline squares and diamonds
c1HueRange = 0,360
c1SaturationRange = .8,1
c1ValueRange = .3,.5
# wings of the 8-point inner starts
c2HueRange = 0,30
c2SaturationRange = .9,1
c2ValueRange = .4,.9
# the star center diamond
c3HueRange = 0,60
c3SaturationRange = .4,1
c3ValueRange = .4,.5



[set2]
c1HueRange = 0,320
c1SaturationRange = .8,1
c1ValueRange = .3,.5

c2HueRange = 0,30
c2SaturationRange = .9,1
c2ValueRange = .84,.9

c3HueRange = 0,60
c3SaturationRange = .4,1
c3ValueRange = .74,.5



[set3]
# major outline squares and diamonds
c1HueRange = 0,360
c1SaturationRange = .8,1
c1ValueRange = .1,.8

# wings of the 8-point inner starts
c2HueRange =  0,30
c2SaturationRange = .9,1
c2ValueRange = 0,0

# the star center diamond
c3HueRange = 0,60
c3SaturationRange = .4,1
c3ValueRange = 0,0





