[displayconfig]

work = image

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True

useFilters = False

usePixelSort = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 40
pixSortboxWidth = 96
pixSortgap = 2
pixSortprobDraw = .95
pixSortprobGetNextColor = .02
pixSortProbDecriment = .1
pixSortSizeDecriment = .5
pixSortSampleVariance = 10
pixSortDrawVariance = 5
randomColorProbabilty = .01
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1


tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 448
screenHeight = 448

# ---  preparing for rotation
windowWidth = 448
windowHeight = 448

canvasWidth = 448
canvasHeight = 448

brightness =  .6
minBrightness = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2728
windowYOffset = 50

#imageXOffset = 18
#imageYOffset = 24

imageXOffset = -1
imageYOffset = -2


[images]
#i1 = flames/fire_o5b.gif
#i1 = flames/fire_o5b.png
#i1 = flames/fire_o5b-trans.gif
#i1 = flames/fire_o5b-480.gif
i1 = flames/fire-o2_480.gif
#i1 = flames/fire-o2test.gif

i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .005
verticalOrientation = 0
resetProbability = .01

# for rotated image, lines are width, boxWidth is height
# 160
lines = 6
boxHeight = 448
boxWidth = 448
xPos1 = 0
yPosBase = 0
targetPalette = selective
#targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17
#targetClrs = 92,106,107,117,119,124
targetClrs = 104,91,96,104,112,104
#targetClrs = 14,15,16

bgFilterProb = 0.01
imageFilterProb = .03
imageGlitchProb = .01
imageGlitchSize = 10
imageGlitchDisplacement = 10
imageGlitchDisplacementHorizontal = 2
imageglitchDisplacementVerical = 2
animateProb = .99
glitchCountRestFactor = 10
forceGlitchFrameCount = 100
doingRefreshCount = 5


# Color overlay / pixel color block
clrBlkWidth = 200
clrBlkHeight = 200
overlayxPos = 10
overlayyPos = 0

# probability that the color will change
overlayChangeProb = .01
# and if the color changes, probability that the 
# block will relocate
overlayChangePosProb = .01

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4


