[dekoonig_v2_outlined]
# --------------------------------------------------#
bgColorSets = (40,45,0.3,.40,.8,.80,0,0)
bgBoxColorSets = (40,180,0.1,.4,.5,1.0,46,170)
penColorSets = (1,60,0.9,1.0,.95,.950,0,0)|(40,60,0.9,1.0,.95,.950,0,0)|(210,240,0.9,1.0,.95,.950,0,0)|(210,240,0.1,.60,.95,.950,0,0)
bgBoxAlphaRange = 40,100
penNames = lineMarks2,lineMarks2
drawLineAsEnvelope = True
outlineStroke = True
outlineStrokeColor = 210,200,100,200
texture = texture4
# chance, per cycle, that a new line is chosen
startNewLineProb = .990
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0025
doJitterProb = .0008
blendLevelRateBase = .01
clearCurrentDrawingProb = .0001
changePenColorWhileDrawingProb = .01
linesDrawnCountMin = 6

