[lasttwombly_outlined]
# --------------------------------------------------#
bgColorSets = (40,45,0.3,.40,.8,.80,0,0)
bgBoxColorSets = (40,180,0.1,.4,.5,1.0,46,170)
# penColorSets = (1,60,0.9,1.0,.95,.950,0,0)|(40,60,0.9,1.0,.95,.950,0,0)|(210,240,0.9,1.0,.95,.950,0,0)|(210,240,0.1,.60,.95,.950,0,0)
penColorSets = (350,5,.7,.99,.76,.96,0,0)|(356,5,.99,.99,.56,.86,0,0)
# penColorSets = (336,352,.43,.99,.1,.96,240,350)
bgBoxAlphaRange = 20,108
outlineStroke = True
outlineStrokeColor= 90,6,5,200
penNames = longOvalSweeps2,longOvalSweeps2b,spiralGyres,spiralGyres2,lineMarks2
drawLineAsEnvelope = True
texture = texture4
# chance, per cycle, that a new line is chosen
startNewLineProb = .82
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .001
doJitterProb = .0008
clearCurrentDrawingProb = .0001
blendLevelRateBase = .05
changePenColorWhileDrawingProb = .01
# placement
##xOffsetRange = 8,448
##yOffsetRange = 0,384
linesDrawnCountMin = 4

