[lyricalGrid]
# --------------------------------------------------#
# darker rea1 red
bgColorSets = (20,30,.47, .6,.3, .4,0,0)
bgBoxColorSets = (0,60,.10,.20,.4,1.0,20,40)
penColorSets = (40,20,.10,1.0,.4,1.0,240,350)
bgBoxAlphaRange = 40,248
penNames =  scratchyLong,shortMarks
drawLineAsEnvelope = True
# penNames = lineMarksDashed,lineMarksVertBands
# penNames = lineMarksVertNarrow
# penNames = longOvalSweeps2b
texture = texture1
# chance, per cycle, that a new line is chosen
startNewLineProb = .10
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that a ground block is drawn
usebgBoxProb = .004
doJitterProb = .0008
clearCurrentDrawingProb = .0001
changePenColorWhileDrawingProb = .01
# min x, max x, min y, max y
# cluster in upper left ...
#bgBoxRange = 0,120,0,120
blendLevelRateBase = .01

