[PostItNotesBlueInk2_v2]
# --------------------------------------------------#
# black range
bgColorSets = (40,45,0.8,1.0,.6,1.0,0,0)
bgBoxColorSets = (40,46,0.7,1.0,.6,1.0,0,0)|(170,180,0.7,1.0,.6,.60,0,0)
penColorSets = (210,260,0.9,1.0,.1,.50,0,0)|(210,260,0.9,1.0,.51,.70,0,0)
bgBoxAlphaRange = 140,248
penNames = scribbleLine1,scribbleLine1,spiralGyres,longOvalSweeps2b,spiralGyres2,shortMarks2,scratchyLong2,lineMarksH1
# penNames = lineMarksH1
drawLineAsEnvelope = True
outlineStroke = True
outlineStrokeColor= 0,0,55,200
dripProbablility = .01
dripWidthMax = 2
dripLengthMax = 300
dripSpeedMin = 10
dripSpeedMax = 30
texture = texture4
# chance, per cycle, that a line is drawn
startNewLineProb = .95
startNewLineDelayRange = 1,7
# chance, per cycle, that a new line is chosen
usebgBoxProb = .0025
blendLevelRateBase = .01
clearCurrentDrawingProb = .00002

changePenColorWhileDrawingProb = .01
# placement
##xOffsetRange = 8,448
##yOffsetRange = 0,512

