[displayconfig]
#-----------------------------------------------#
work- = fluddfactory
work = workmodules.collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
useFilters = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 3

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 256

# ---  preparing for rotation
windowWidth = 192
windowHeight = 256

canvasWidth = 192
canvasHeight = 256

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 268
windowYOffset = 205

brightness =  .98
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 180
pixSortboxHeight = 4
pixSortboxWidth = 29
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

useBlur = False
blurXOffset = 0
blurYOffset = 40
blurSectionWidth = 192
blurSectionHeight = 256
sectionBlurRadius = 8



[collageShapes]
#--------------------------#

redrawSpeed = .02
delay = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
useVariablePixelSort = True
variablePixelProb = .01
variableFilterProb = .002

useTweenTriggers = False
triggers = 1


sets = s0,s1a,s2
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 192,0, 192,256, 0,256
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .5
maxSaturation = .99
minValue = .3
maxValue = .6

[s1a]
position = -4,4
coords = 0,0, 172,0, 172,83, 0,83
varX = 5
varY = 5
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .7
maxSaturation = .99
minValue = .3
maxValue = .6

[s2]
position = -4,4
coords = 0,93, 172,93, 172,238, 0,238
varX = 5
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 100
maxHue = 210
minSaturation = .7
maxSaturation = .99
minValue = .1
maxValue = .6





[s1]
position = 4,4
coords = 0,0, 172,0, 172,236, 0,236
varX = 5
varY = 5
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1





[s2a]
position = 188,10
coords = 0,0, 122,0, 122,192, 0,192
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False