[displayconfig]

work = workmodules/quilt-triangles

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
useFilters = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 80
rows = 8
cols = 10

## Also determines the window geometry
screenWidth = 196
screenHeight = 260

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 196
canvasHeight = 260

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2977
windowYOffset = 145

brightness =  .8
minBrightness = 0

imageXOffset  = 0
imageYOffset  = 0
remapImageBlock = False

usePixelSort = False
pixSortDirection = medial
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 400
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = .01
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 130
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = False


[quilt]

pattern = triangles
delay = .01
colorPopProb = .0001

## Approximating timing so that any one triange changes once every 2 minutes or so
## e.g. .0005 prob checked every .01 seconds ~ .0005/ .01s = 5% chance per second ...
resetTrianglesProb = .9995

# the probability that at the completion of all transisitons that
# a new quilt sizeing will be made
resetSizeProbability  = .8

gapSize = 0

blockSizeMin = 8
blockColsMin = 7
blockRowsMin = 14

blockSizeMax = 28
blockColsMax = 8
blockRowsMax = 18

cntrOffsetX = 0
cntrOffsetY = 0

lines = False
patternPrecision = True

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

timeToComplete = 60
transitionStepsMin = 35.0
transitionStepsMax = 150.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

#transformTuples = 1, 0, 0, 0.0,  1, 0, 0, 0.0
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.0

# initial destination colors
activeSet = set1

[set1]
# major outline squares and diamonds
c1HueRange = 0,360
c1SaturationRange = .8,1
c1ValueRange = .3,.5
# wings of the 8-point inner starts
c2HueRange = 0,30
c2SaturationRange = .9,1
c2ValueRange = .4,.9
# the star center diamond
c3HueRange = 0,60
c3SaturationRange = .4,1
c3ValueRange = .4,.5



[set2]
c1HueRange = 0,320
c1SaturationRange = .8,1
c1ValueRange = .3,.5

c2HueRange = 0,30
c2SaturationRange = .9,1
c2ValueRange = .84,.9

c3HueRange = 0,60
c3SaturationRange = .4,1
c3ValueRange = .74,.5



[set3]
# major outline squares and diamonds
c1HueRange = 0,360
c1SaturationRange = .8,1
c1ValueRange = .1,.8

# wings of the 8-point inner starts
c2HueRange =  0,30
c2SaturationRange = .9,1
c2ValueRange = 0,0

# the star center diamond
c3HueRange = 0,60
c3SaturationRange = .4,1
c3ValueRange = 0,0








