[displayconfig]
#~~~~~~~~~~~~~~~~~~~~~~~~~~

#work = diagnostics
#work = particles

#work = squares-poly
work = workmodules.marquee_2
#work = compositions
#~~~~~~~~~~~~~~~~~~~~~~~~~~


rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 8
cols = 4

## Also determines the window geometry
screenWidth = 90
screenHeight = 90

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 90
canvasHeight = 90

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2809
windowYOffset = 201


remapImageBlock = False
remapImageBlockSection = 64,128,128,160
remapImageBlockDestination = 0,32

remapImageBlock2 = False
remapImageBlockSection2 = 0,124,192,192
remapImageBlockDestination2 = -64,128

remapImageBlock3 = False
remapImageBlockSection3 = 160,64,192,128
remapImageBlockDestination3 = 96,64


brightness =  .6
minBrightness = 0

useFilters = False

#~~~~~~~~~~~~~~~~~~~~~~~~~~
usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxWidth = 80
pixSortboxHeight = 256
pixSortgap = 0
pixSortprobDraw = .1
pixSortprobGetNextColor = 1.0
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0.0001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1.0
#~~~~~~~~~~~~~~~~~~~~~~~~~~

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 320
sectionBlurRadius = 2


r = 0,0,0

[marquee]
#-----------------------------------------------#
redrawSpeed = .02
delay = .02
changePaletteInterval = 30
marqueeNum = 19
marqueeWidth = 6
baseDashSize = 40
gap = 0
step = 1
decrement = 1
randomRangeMin = 400
randomRangeMax = 700


fontsize = 44
shadowSize = 1

mulitColor = False







