[displayconfig]
matrixTiles = 8
tileSizeHeight = 128
tileSizeWidth = 128
rows = 5
cols = 7
screenWidth = 896
screenHeight = 640
brightness =  .995
minBrightness = .2
work = stroop2
useFilters = True
rendering = out
mode = video
canvasWidth = 896
canvasHeight = 640

rotation = 0
fullRotation = False
rotationTrailing = False

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 7


[output]
duration =  120
fps = 30

[stroop]
fontSize = 84
vOffset = -10
scrollSpeed = .003
stroopSpeed = .0001
speedMultiplier = 10
revealSpeedMin = 3
revealSpeedMax = 8
stroopSteps = 4
shadowSize = 2
stroopFontSize = 120
useColorFlicker = 0
highervariability = True
verticalBg =  False
displayRows = 5
displayCols = 7
simulBlocks = 3
## options are reveal, revealmove, move
movementMode = reveal
moveProbability = .3
colorProbability = .2
colorProbabilityReturn = .09

