[displayconfig]

work0 = diagnostics
work1 = image
work2 = particles
work3 = marquee_2
work4 = scroller-holder
work5 = repeater
work6 = quilt-informal
work = screen

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

usePixelSort = False
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 60
pixSortboxHeight = 2
pixSortboxWidth = 400
pixSortgap = 0
pixSortprobDraw = .98
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 130
pixSortDrawVariance = 0
randomColorProbabilty = .005
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 20
rows = 8
cols = 5

# ---  Also determines the window geometry
screenWidth = 322
screenHeight = 322

# ---  preparing for rotation
windowWidth = 320
windowHeight = 256

canvasWidth = 320
canvasHeight = 256

imageXOffset = 0
imageYOffset = -20

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 2
canvasOffsetY = 3

# Window Offset
windowXOffset = 2606
windowYOffset = 169

brightness =  1.95
minBrightness = 0

remapImageBlock = True
remapImageBlockSection = 0,0,128,128
remapImageBlockDestination = 192,128

#-----------------------------------------------#

[screenproject]
delay = .02
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 7
pointsCount = 5
drawCracks = False
origin = 15,4

## Used when first creating the cracks
yVarMin = 6
yVarMax = 36

randomColorSampleProb = .91
probDrawLines = .9
probDrawBoxes = .0004
probDrawPerpLines = .8

timeTrigger = True
tLimitBase = 30


#-----------------------------------------------#

[quilt]
delay = .01
colorPopProb = .0001

numUnits = 6
blockSize = 3
blockLength = 3
blockHeight = 3

blockRows = 5
blockCols = 11
hGapSize = 4
vGapSize = 1

cntrOffsetX = 20
cntrOffsetY = 16

# LighteningStrike
# Regular
# Diagonals

opticalPattern = LighteningStrike
polyDistortion = 4

timeToComplete = 30

lines = True
patternPrecision = True

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

transitionStepsMin = 15.0
transitionStepsMax = 300.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
#transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

## skew
transformTuples = .9, .5, 0, -.01,  1, 0, .0009, 0.00
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.0


#-----------------------------------------------#

[repeater]
# Used for number of images etc
#imageList = miscl/head-2tw.png
#imageList = icons/ak-2tw.png
imageList = icons/test-img.png

unitCount = 43
scalingFactor = 9
resizeMin = .1
resizeMax = .5
# Higher the speed factor, slower the movement
speedFactor = 10
vOffset = -10
scrollSpeed = .01
displayRows = 2
displayCols = 2
useJitter =  False
useBlink = True
noTrails = True
colormode = random

kaleidescopicEffect = True
k_rotations = 6
k_angle = 60

pauseProb = 0

#-----------------------------------------------#
[diag]
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14

#-----------------------------------------------#

[scroller]

useOverLayImage = False
useArrows = False
useImages = False
useTransparentImages = False
useBackground = True
useText = False
useAltText = False


textSpeed = 1
arrowSpeed = -3
imageSpeed = -2

redrawSpeed = .01

xOffset = -5
yOffset = 0

displayRows = 4
displayCols = 10

#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 50
textVOffest = -12
shadowSize = 1

msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY
msg3 = 1234567890

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .2

patternSpeed = .4
patternRows = 2
patternCols = 12
patternDrawProb = .51
patternRowsOffset = 0
patternColsOffset = 0
pattern = lines
pauseProb = .001

lineThickness = 2
arrowCols = 10

bgBackGroundColor = 10,10,100,90
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20

alwaysRandomPatternColor = True
alwaysRandomPattern = False


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 8
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
imageBlockImage = /assets/imgs/sks/skull-s4d.png
# Spacing...
imageBlockBuffer = 40
imageBlockRemakeProb = .1





#-----------------------------------------------#
[marquee]
redrawSpeed = .02
marqueeNum = 22
marqueeWidth = 14
baseDashSize = 40
gap = 1
step = 3
decrement = 1
randomRange = 200.0

fontsize = 44
shadowSize = 1


#-----------------------------------------------#

[images]
i1 = flames/flame-comp5.gif
i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .001

[filter]
# for rotated image, lines are width, boxWidth is height
# 160
lines = 160
boxHeight = 16
boxWidth = 190
xPos1 = 0
yPosBase = 0
targetPalette = selective
#targetClrs = 92,106,107,117,119,124
#targetClrs = 104,91,96,104,112,104
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17

bgFilterProb = 0.01
imageFilterProb = .16
imageGlitchProb = .2
imageGlitchSize = 8
imageGlitchDisplacement = 15
animateProb = .988

# Color overlay / pixel color block
clrBlkWidth = 15
clrBlkHeight = 7
overlayxPos = 100
overlayyPos = 0
overlayChangeProb = .005
overlayChangePosProb = .85

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4

#-----------------------------------------------#

[particleSystem]

numUnits = 200

xGravity = 0
yGravity = 0
ignoreBottom = False

speedMin = 2
speedMax = 4
variance = 0

objWidth = 4
objHeight = 6
objType = rect

widthRate = 1
heightRate = 1

overallBlur = 0
unitBlur = 0

objColor = rnd
fillColor = 240,150,0,180
outlineColor = 100,0,0,50

centerRangeXMin = 10
centerRangeXMax = 20
centerRangeYMin = 8
centerRangeYMax = 16

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = False

#movement = meander
movement = travel
useFlocking = True
cohesionDistance = 10
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = True

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

bgColor = 0,0,100,230

useOverLay = False
overlayColor = 60,100,0,100
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 128
overlayyPos = 100
#overlayColor = 88,40,0,190




