[displayconfig]
#----------------------------------------------------##----------------------------------------------------#
# work = diagnostics
work = particles-v2
#----------------------------------------------------##----------------------------------------------------#
rendering = hub
# changed to -90 from 90
rotation = -90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True
isRPI = False


tileSizeHeight = 40
tileSizeWidth = 40
matrixTiles = 32
rows = 16
cols = 16

# ---  Also determines the window geometry
screenWidth = 480
screenHeight = 480

# ---  preparing for rotation
windowWidth = 480
windowHeight = 480

# WHEN RUNNING PIECE
canvasWidth = 200

# FOR DIAGNOSTIC and PANEL MAPPING
# canvasWidth = 480
canvasHeight = 480

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowXOffset = 120
# windowYOffset = 120

# Window Offset
# windowXOffset = 2647
# windowYOffset = 60

# Window Offset
windowXOffset = 2583
windowYOffset = 38


brightness =  .9
minBrightness = 0

usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 480
pixSortboxWidth = 80
pixSortgap = 0
pixSortprobDraw = .2
pixSortprobGetNextColor = .99
pixSortSizeDecriment =  1.0
pixSortProbDecriment = .0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .1
brightnessVarLow = .05
brightnessVarHi = 1.0
pixelSortAppearanceProb = .99

# changed to True
useFilters = True


# added this
## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,480,480
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

# reverses the flow for the far-back beam
remapImageBlock2 = True
remapImageBlockSection2 = 0,40,240,80
remapImageBlockDestination2 = 0, 80
remapImageBlockSection2Rotation = 0

# completes the 128 /2-panel to the long 8 panel beam
remapImageBlock3 = True
remapImageBlockSection3 = 240,40,480,80
remapImageBlockDestination3 = 0, 120
remapImageBlockSection3Rotation = 0

# reverses first / forward beam
remapImageBlock4 = False
remapImageBlockSection4 = 0,192,480,224
remapImageBlockDestination4 = 0, 64
remapImageBlockSection4Rotation = 180


[test]

objColor = fixed
fillColor = 140,0,58,35
outlineColor = 200,90,0,200
# changed this to make it a bit darker like original
bgColor = 10,0,40,80


particle_fillRange = 350,20,1.0,1.0,.80,1.0,100,220
particle_outlineRange = 350,350,1.0,1.0,1.0,1.0,100,200
# backgroundColor controls
bg_fillRange = 320,350,1.0,1.0,.9,1.0,100,200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

pixelsGoGray = False
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 15

overallBlur = 4
unitBlur = 0


[midnightBlue]
# fillColor = 140,0,58,35
# outlineColor = 200,90,0,200
# # changed this to make it a bit darker like original
# bgColor = 10,0,40,80

particle_fillRange = 350,33,.80,1.0,.5,1.0,10,20
particle_outlineRange = 340,40,.50,1.0,.3,1.0,100,200

# backgroundColor controls
bg_fillRange = 210, 270, 0.8, 1.0, 0.1, 0.3, 10, 200
bg_bgTransitions = True
bg_bgRangeA = 10
bg_bgRangeB = 30
bg_tLimitBase = 20

overallBlur = 2
unitBlur = 0

pixelsGoGray = True
pixelsGoGrayModel = 1
jumpToGray = True
greyRate = 80

#-------------------------------------------##----------------------------------------------------#
[particleSystem]
#-------------------------------------------##----------------------------------------------------#
numUnits = 490
delay = .033
slotRate = .03
restartprob = .001


# COLOR SETTINGS
# ----------------------------------

palettes = midnightBlue,midnightBlue
paletteChangeProb = .001


# ----------------------------------
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True
objColor = fixed
objTrails = False
trailingFade = 200
renderDiagnostics = False
# ----------------------------------

objWidth = 50
objHeight = 60
objType = rect

speedMin = .5
speedMax = 3

widthRate = .952
heightRate = .97

centerRangeXMin = 80
centerRangeXMax = 250
centerRangeYMin = 160
centerRangeYMax = 450

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False
meanderFactor = 10
meanderFactor2 = 10
meanderDirection = 0
onedirection = False

particleWinkOutXMin = 1
particleWinkOutYMin = 1

ignoreBottom = False
borderCollisions = True
expireOnExit = True
reEmitNumber = 2

collisionDamping = 1
damping = 1
torqueDelta = 0
torqueRate = 0
xWind = 0
xGravity = 0
yGravity = 0



# ----------------------------------
useOverLay = False
overlayColor = 160,0,200,10
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190

# ----------------------------------
# added this because the first one didn't have sparks
# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapminHoriSize = 240
filterRemapminVertSize = 240
filterremaprangex = 240
filterremaprangey = 240





#-------------------------------------------##----------------------------------------------------#
[_particleSystem]
#-------------------------------------------##----------------------------------------------------#
numUnits = 490
delay = .02
slotRate = .03
restartProb = .0001

# COLOR SETTINGS
# ----------------------------------

palettes = test,test
paletteChangeProb = .001

# ----------------------------------
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True
objColor = fixed
objTrails = False
trailingFade = 200
renderDiagnostics = False
# ----------------------------------

objWidth = 50
objHeight = 60
objType = rect

widthRate = .9952
heightRate = .997




xGravity = 0
yGravity = 0


speedMin = .5
speedMax = 3


# Added these new params
meanderFactor = 10
meanderFactor2 = 10
meanderDirection = 0
onedirection = False
xWind = 0
torqueDelta = 0
torqueRate = 0

particleWinkOutXMin = 1
particleWinkOutYMin = 1

ignoreBottom = False


overallBlur = 1
unitBlur = 0

pixelsGoGrayModel = 1
pixelsGoGray = True
jumpToGray = True
greyRate = 250




# added this because the first one didn't have sparks
# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .08
filterRemapminHoriSize = 240
filterRemapminVertSize = 440
filterremaprangex = 480
filterremaprangey = 480

bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****

# orig vals
# centerRangeXMin = 30
# centerRangeXMax = 320
# centerRangeYMin = -150
# centerRangeYMax = 200
centerRangeXMin = 80
centerRangeXMax = 250
centerRangeYMin = 160
centerRangeYMax = 450

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2


# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False

useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False


useOverLay = False
overlayColor = 160,0,200,10
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190





#----------------------------------------------------##----------------------------------------------------#
[diag]
#----------------------------------------------------##----------------------------------------------------#
fontColor = 0,255,90
outlineColor = 205,0,0
fontColor2 = 200,255,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0