[displayconfig]

work = particles

rendering = hub
isRPI = False
checkForConfigChanges = True

rotation = 0
fullRotation = True
rotationTrailing = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 10
cols = 4

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 320

# ---  preparing for rotation
windowWidth = 260
windowHeight = 320

canvasWidth = 260
canvasHeight = 320

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 3005
#windowXOffset = 2877
windowXOffset = 2877
windowYOffset = 201

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = True
remapImageBlockSection = 128,256,256,320
remapImageBlockDestination = 0,192


usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 320
pixSortboxWidth = 128
pixSortgap = 4
pixSortprobDraw = .09
pixSortprobGetNextColor = 1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = 1.0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 2

useFilters = False

[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .4
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0



[marquee]
#-----------------------------------------------#
redrawSpeed = .02
changePaletteInterval = 30
marqueeNum = 26
marqueeWidth = 9
baseDashSize = 13
gap = 1
step = 1
decrement = 1
randomRangeMin = 400
randomRangeMax = 800

fontsize = 44
shadowSize = 1

mulitColor = False




[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
useVariablePixelSort = True
variablePixelProb = .01
variableFilterProb = .002

useTweenTriggers = False
triggers = 1


sets = s0,s1a,s2
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 256,0, 256,256, 0,256
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .5
maxValue = .6
minValue = .3

[s1a]
position = -4,4
coords = 0,0, 240,0, 240,83, 0,83
varX = 5
varY = 5
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .3

[s2]
position = -4,4
coords = 0,93, 240,93, 240,238, 0,238
varX = 5
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 100
maxHue = 210
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1





[s1]
position = 4,4
coords = 0,0, 172,0, 172,236, 0,236
varX = 5
varY = 5
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1





[s2a]
position = 188,10
coords = 0,0, 122,0, 122,192, 0,192
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False





[particleSystem]
#--------------------------#
numUnits = 290
delay = .02

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = .1
speedMax = 1

meandorfactor = .35

#initial direction 3.14/2
variance = 1

objWidth = 50
objHeight = 60
objType = rect
objTrails = False

widthRate = .998
heightRate = .999

overallBlur = 1
unitBlur = 0

objColor = fixed
fillColor = 180,100,0,30
outlineColor = 184,80,1,105 
#bgColor = 80,10,0,20
#bgColor = 80,10,30,20
bgColor = 80,10,30,20

bgTransitions = True
bgRangeA =  100
bgRangeB = 300
hueMin = 0
hueMax = 360
maxBrightness = .955
bgTransparency = 10

transparencyRange = 10,30

#*****
centerRangeXMin = -120
centerRangeXMax = 320
centerRangeYMin = -190
centerRangeYMax = -10

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 100,0,200,1
clrBlkWidth = 32
clrBlkHeight = 32
overlayxPos = 60
overlayyPos = 60
#overlayColor = 88,40,0,190
