[displayconfig]


work = collage
#work = particles
#work = screen

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 14
cols = 5

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 448

# ---  preparing for rotation
windowWidth = 260
windowHeight = 448

canvasWidth = 260
canvasHeight = 448

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 3005
#windowXOffset = 2877
windowXOffset = 2877
windowYOffset = 201

brightness =  1.0
minBrightness = 0

brightnessVariation = True
brightnessVariationProb = .005


usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 448
pixSortboxWidth = 8
pixSortgap = 4
pixSortprobDraw = .09
pixSortprobGetNextColor = 1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = 1.0


useBlur  = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 448
sectionBlurRadius = 2


remapImageBlock = True
remapImageBlockSection = 0,192,128,448
remapImageBlockDestination = 128,0


[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0



[marquee]
#-----------------------------------------------#
redrawSpeed = .02
changePaletteInterval = 30
marqueeNum = 26
marqueeWidth = 9
baseDashSize = 13
gap = 1
step = 1
decrement = 1
randomRangeMin = 400
randomRangeMax = 800

fontsize = 44
shadowSize = 1

mulitColor = False




[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
useVariablePixelSort = True
variablePixelProb = .01
variableFilterProb = .002

useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0,s1a,s2,s3,s4
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 320,0, 320,320, 0,320
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 270
maxHue = 36
maxSaturation = .99
minSaturation = .5
maxValue = .5
minValue = .1

[s1a]
position = -4,-10
coords = 0,0, 95,0, 95,40, 0,40
varX = 5
varY = 5
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .8
minValue = .3

[s2]
position = -4,40
coords = 0,0, 115,0, 115,130, 0,130
varX = 5
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 100
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .8
minValue = .1


[s3]
position = -4,182
coords = 0,0, 95,0, 95,130, 0,130
varX = 5
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 10
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .6
minValue = .1

[s4]
position = -4,362
coords = 0,0, 115,0, 95,130, 0,130
varX = 5
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 10
maxHue = 360
maxSaturation = .99
minSaturation = .7
maxValue = .8
minValue = .1


