[displayconfig]

work = diagnostics
#work = collage
#work = particles
#work = screen

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 14
cols = 5

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 448

# ---  preparing for rotation
windowWidth = 260
windowHeight = 448

canvasWidth = 260
canvasHeight = 448

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 3005
#windowXOffset = 2877
windowXOffset = 2877
windowYOffset = 205

brightness =  .50
minBrightness = 0

brightnessVariation = True
brightnessVariationProb = .005


usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 10
pixSortgap = 4
pixSortprobDraw = .09
pixSortprobGetNextColor = 1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = 1.0


useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 320
sectionBlurRadius = 2


remapImageBlock = True
remapImageBlockSection = 0,192,128,448
remapImageBlockDestination = 128,0



[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0





