[BathersWithTurtle2]
# --------------------------------------------------#
# matisse
bgColorSets = (159,190,.70,.92,.45,.7,0,0)|(159,190,.80,.92,.45,.7,0,0)
bgBoxColorSets = (12,27,.77,.97,.35,.77,0,0)|(215,218,.77,.97,.35,.87,0,0)|(159,190,.70,.92,.45,.7,0,0)
penColorSets = (28,30,.5,.99,.95,.99,0,0)|(18,20,.65,.650,.93,.99,0,0)|(10,18,.5,.50,.95,.99,0,0)|(10,18,.25,.350,.95,.99,0,0)|(10,20,.5,.750,.25,.49,0,0)
bgBoxAlphaRange = 180,248
penNames = lineMarks2,longOvalSweeps2b,scribbleLine1
drawLineAsEnvelope = True
outlineStroke = True
outlineStrokeColor= 0,0,55,200
dripProbablility = .01
dripWidthMax = 3
dripLengthMax = 300
dripSpeedMin = 10
dripSpeedMax = 30
texture = texture1
# chance, per cycle, that a line is drawn
startNewLineProb = .95
startNewLineDelayRange = 1,7
# chance, per cycle, that a new line is chosen
usebgBoxProb = .005
# chance, per cycle, that the drawing jitters
doJitterProb = .04
jitterIterationsMin = 30
jitterIterationsMax = 130
jitterhDisplacementHorizontal = 2
jitterhDisplacementVertical = 2
# min x, max x, min y, max y
# cluster in upper left ...
#bgBoxRange = 0,120,0,120
blendLevelRateBase = .01
clearCurrentDrawingProb = .0001
changePenColorWhileDrawingProb = .01
# only affects scribble lines
# e.g. scribbleLine1
penSpeedMinVal = 1
penSpeedMaxVal = 12
# placement
xOffsetRange = 100,300
yOffsetRange = 200,300

