[rose_xCurves]
# --------------------------------------------------#
bgColorSets = (336,346,.6,.99,.43,.964,0,0)
bgBoxColorSets = (331,352,.170,.972,.24,.650,0,0)
penColorSets = (336,350,.7,.99,.96,.96,0,0)|(336,350,.99,.99,.36,.46,0,0)
bgBoxAlphaRange = 120,148
penNames = longOvalSweeps2,longOvalSweeps2b,spiralGyres,spiralGyres2,lineMarks2
drawLineAsEnvelope = True
texture = texture1
# chance, per cycle, that a new line is chosen
startNewLineProb = .9
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0025
doJitterProb = .0008
clearCurrentDrawingProb = .0001
blendLevelRateBase = .05
changePenColorWhileDrawingProb = .01

