[VirHeroicusSublimis]
# --------------------------------------------------#
bgColorSets = (0,8,.80,.96,.4,.5,0,0)
bgBoxColorSets = (3,6,.60,.62,.45,.47,0,0)
penColorSets = (50,60,.7,1.0,.65,.99,0,0)|(350,20,.7,1.0,.35,.99,0,0)|(350,20,.7,1.0,.35,.99,0,0)|(350,20,.7,1.0,.35,.99,0,0)|(200,220,.7,1.0,.45,.99,0,0)|(200,220,.3,.40,.85,.99,0,0)|(180,245,.1,1.0,.3,.3,0,0)
# penColorSets = (0,60,.1,1.0,.3,.99,0,0)|(180,245,.1,1.0,.3,.3,0,0)|(220,230,.6,.70,.9,.99,0,0)

# (50,60,.7,1.0,.65,.99,0,0) yellows
# (350,20,.7,1.0,.35,.99,0,0) reds
# (200,230,.7,1.0,.45,.99,0,0) blues 1
# (200,230,.3,.40,.85,.99,0,0) cool light blues
# (180,245,.1,1.0,.3,.3,0,0) darker more teal blues - not sure
bgBoxAlphaRange = 140,248
penNames = lineMarksVert
texture = texture1
# chance, per cycle, that a new line is chosen
startNewLineProb = .5
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that an overlay block is drawn
usebgBoxProb = .0002
clearCurrentDrawingProb = .0003
blendLevelRateBase = .05

changePenColorWhileDrawingProb = .001
# placement
##xOffsetRange = 8,448
##yOffsetRange = 0,384
drawLineAsEnvelope = True
doJitterProb = .0001
jitterIterationsMin = 1
jitterIterationsMax = 5
jitterDisplacementHorizontal = 1
jitterDisplacementVertical = 1







