[displayconfig]

work = screen

rotation = 0
rendering = hub
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange =  True
isRPI = False


#tileSizeHeight = 32
#tileSizeWidth = 64
#matrixTiles = 16
#rows = 4
#cols = 4


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 7

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 385

# ---  preparing for rotation
windowWidth = 256
windowHeight = 385

canvasWidth = 256
canvasHeight = 385


# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowXOffset = 2583
# windowYOffset = 60
windowXOffset = 125
windowYOffset = 99


brightness =  1.2
minBrightness = 0



imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,256,385
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 16,0,64,128
remapImageBlockDestination2 = 0,0

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 0,0

usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 40
pixSortboxWidth = 50
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  2.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

# usePixelSort = True
# pixelSortRotatesWithImage = True
# pixSortDirection = medial
# unsharpMaskPercent = 30
# blurRadius = 0
# pixSortXOffset = 120
# pixSortYOffset = 80
# pixSortboxHeight = 24
# pixSortboxWidth = 4
# pixSortgap = 1
# pixSortprobDraw = .1
# pixSortprobGetNextColor = .9
# pixSortProbDecriment = 4
# pixSortSizeDecriment = 2.0
# pixSortSampleVariance = 2
# pixSortDrawVariance = 8
# randomColorProbabilty = .04
# brightnessVarLow = .5
# brightnessVarHi = 1.9
# pixelSortAppearanceProb = .73

useBlur  = False
blurXOffset = 0
blurYOffset = 32
blurSectionWidth = 448
blurSectionHeight = 8
sectionBlurRadius = 4

useFilters = True


[screenproject]
#-----------------------------------------------#
delay = .03
slotRate = .03


crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 7
pointsCount = 5
drawCracks = False
origin = 15,4

## Used when first creating the cracks
yVarMin = 6
yVarMax = 36

randomColorSampleProb = .01

probDrawBoxes = .1
probDrawLines = .1
probDrawPerpLines = .1
probDrawVertLines = .991
crackChangeProb = .1
imageResetProb = .001

timeTrigger = True

pauseProb = .001
unpauseProb = .005

## This controls the range of background colors
tLimitBase = 10
minHue = 0
maxHue = 360
minSaturation = .99
maxSaturation = 1
minValue = .99
maxValue = .99
maxBrightness = .99
dropHueMin = 50
dropHueMax = 170

probabilitymultiplierrange = .5


filterremapping = True
filterremappingprob = .1
filterremapminhorisize = 256
filterremapminvertsize = 256
filterremaprangex = 120
filterremaprangey = 120

pixelsortprobon = .01
pixelsortproboff = .01

blackOutProb = .0003
blackOutProbOff = .02
blackOutBlock = 256,384
