[displayconfig]

work = scroller-holder
#work = diagnostics

rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 30

rows = 6
cols = 14

# ---  Also determines the window geometry
screenWidth = 896
screenHeight = 256

# ---  preparing for rotation
windowWidth = 896
windowHeight = 256

canvasWidth = 896
canvasHeight = 128

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 200
windowYOffset = 200

brightness =  1.1
minBrightness = 0

imageXOffset = 0

useFilters = True

remapImageBlock = False
remapImageBlockSection = 0,0,896,32
remapImageBlockDestination = 0,0

remapImageBlock2 = True
remapImageBlockSection2 = 0,32,896,64
remapImageBlockDestination2 = 0,0
remapImageBlockSection2rotation =180

remapImageBlock3 = True
remapImageBlockSection3 = 448,0,896,64
remapImageBlockDestination3 = 0,64
remapImageBlockSection3rotation = 0

[scroller]
#-----------------------------------------------#
useOverLayImage = False
useArrows = False
useImages = True
useTransparentImages = False
useBackground = True
useText = False
useAltText = False


altDirectionScrolling = True
alwaysRandomPatternColor = True
alwaysRandomPattern = False
changeProb = 0.003
changeProbReleaseFactor = 1

useUltraSlowSpeed = True
# contorls the fading timing
useFadeThruAnimation = True
doingRefreshCount = 20


patternSpeed = 1
textSpeed = 1
arrowSpeed = -3
imageSpeed = -1.8

redrawSpeed = .02

displayRows = 4
displayCols = 5

#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 50
textVOffest = -12
shadowSize = 1

msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY
msg3 = 1234567890

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .002

patternRows = 3
patternCols = 640
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .71
pattern = diamonds


#--- Image Scrolling
imageBlockImage = /assets/imgs/sks/skull-s4e.png
# Spacing...
imageBlockBuffer = 10
imageBlockRemakeProb = .1
imageDrawProb = .9
xOffset = -1
yOffset = -2

lineThickness = 2
arrowCols = 16
# This actually is not working  ;(
bgBackGroundColor = 0,0,0,190
bgforegroundcolor = 0,0,0,0
greylevel = 0
redShift = 0

fg_minHue = 340
fg_maxHue = 350
fg_minSaturation = .7
fg_maxSaturation = .99
fg_minValue = .7
fg_maxValue = .99

bg_minHue = 340
bg_maxHue = 350
bg_minSaturation = .99
bg_maxSaturation = .99
bg_minValue = .2
bg_maxValue = .5


# for some reason with this piece I do not like 
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
fg_drophueminvalue = 0
fg_drophuemaxvalue = 0

backgroundColorChangeProb = .5



#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = 1.8
overLayXPos = -1
overLayYPos = 8
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1




[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
