[displayconfig]

#work = pattern
#work = stroop2
#work = quilt-triangles
work = lines

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 5
cols = 5

# ---  Also determines the window geometry
screenWidth = 280
screenHeight = 192

# ---  preparing for rotation
windowWidth = 280
windowHeight = 192

canvasWidth = 280
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2676
windowYOffset = 140

brightness =  .75
minBrightness = 0

imageXOffset = 0

remapImageBlock = True
remapImageBlockSection = 138,0,280,192
remapImageBlockDestination = 138,28


remapImageBlock2 = False
remapImageBlockSection2 = 126,0,190,320
remapImageBlockDestination2 = 126,-7

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 25
pixSortgap = 80
pixSortprobDraw = .09
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

useBlur  = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 4


[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14

[lines]
#-----------------------------------------------#

delay = .01
base = 10.0
rows = 10
cols = 10



