[displayconfig]

work = pattern-pent

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 5
cols = 5

# ---  Also determines the window geometry
screenWidth = 280
screenHeight = 192

# ---  preparing for rotation
windowWidth = 280
windowHeight = 192

canvasWidth = 280
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2676
windowYOffset = 140

brightness =  .65
minBrightness = 0

imageXOffset = 0

remapImageBlock = True
remapImageBlockSection = 138,0,280,192
remapImageBlockDestination = 138,38

remapImageBlock2 = False
remapImageBlockSection2 = 128,0,192,128
remapImageBlockDestination2 = 128,3

remapImageBlock3 = False
remapImageBlockSection3 = 30,8,48,60
remapImageBlockDestination3 = 0,37

usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 4
pixSortboxHeight = 190
pixSortboxWidth = 16
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .99
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .5
brightnessVarHi = .55
pixelSortAppearanceProb = 1.0


useBlur  = True
blurXOffset = 20
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 0

[holding]
#-----------------------------------------------#
usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 4
pixSortboxHeight = 148
pixSortboxWidth = 100
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .999
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .7
brightnessVarHi = .7
pixelSortAppearanceProb = 1.0

[pattern]
#-----------------------------------------------#

delay = .01
base = 3.0
rows = 10
cols = 10
turnRateChange = .001
turnRateLimPlus = 2
turnRateLimNeg = .98
xOffset = 130
yOffset = 20
turnRate = 2
turnRateFactor = 500

block = 0,0,2,16
blockLineHeight = 0
blockSteps = 164

patternSet = patternSet1

minHue = 0
maxHue = 360
minSaturation = .99
maxSaturation = .99
minValue = .5
maxValue = .5
maxBrightness = .5



[patternSet1]
# Bang Spiral
initialRadius = 100
nSides = 3
reduceRate = 1.5
turnRate = 1.5
repeatFigures = 50
colorRep = 5

[patternSet2]
# fractional turns
initialRadius = 200
nSides = 3
reduceRate = 1.5
turnRate = 4.4
repeatFigures = 50
colorRep = 6

[patternSet3]
# Crazy star
initialRadius = 100
nSides = 3
reduceRate = 1.5
turnRate = 3
repeatFigures = 50
colorRep = 6

[patternSet4]
# classic turned square
initialRadius = 100
nSides = 4
reduceRate = 1.5
turnRate = 2
repeatFigures = 50
colorRep = 3

[patternSet5]
# classic spiral from square
initialRadius = 20
nSides = 5
reduceRate = 1.3
turnRate = 1.28
repeatFigures = 12
colorRep = 6

[patternSet6]
# classic spiral from square
# 2 colors is spiral
# 4 colors+ is floral
initialRadius = 100
nSides = 4
reduceRate = 1.5
turnRate = 3
repeatFigures = 50
colorRep = 4

[patternSet7]
# poly spiral
initialRadius = 100
nSides = 7
reduceRate = 1.5
turnRate = 10
repeatFigures = 50
colorRep = 2
