[displayconfig]
#-----------------------------------------------#

#--------------------#


work = pattern
#marquee_2

#--------------------#


rendering = hub
rotation = 09
#8.8
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 5
cols = 5

# ---  Also determines the window geometry
screenWidth = 280
screenHeight = 192

# ---  preparing for rotation
windowWidth = 280
windowHeight = 192

canvasWidth = 280
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2676
windowYOffset = 140

brightness =  .65
minBrightness = 0

imageXOffset = 0

remapImageBlock = True
remapImageBlockSection = 138,0,280,192
remapImageBlockDestination = 138,28

remapImageBlock2 = False
remapImageBlockSection2 = 128,128,256,128
remapImageBlockDestination2 = 128,60

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 25
pixSortgap = 80
pixSortprobDraw = .09
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

useBlur  = False
blurXOffset = 13
blurYOffset = 0
blurSectionWidth = 144
blurSectionHeight = 256
sectionBlurRadius = 10




[pattern]
#-----------------------------------------------#

delay = .02
base = 3.50
rows = 4
cols = 4
patternXOffset = 16

minHue = 0
maxHue = 360
minSaturation = .5
maxSaturation = .95
minValue = .25
maxValue = .59
maxBrightness = .59






