[displayconfig]
#-----------------------------------------------#


#--------------------#
work = screensaver
#--------------------#

rendering = hub
rotation = 0
#8.8
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 5
cols = 5

# ---  Also determines the window geometry
screenWidth = 280
screenHeight = 192

# ---  preparing for rotation
windowWidth = 280
windowHeight = 192

canvasWidth = 280
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2676
windowYOffset = 140

brightness =  .65
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 138,0,280,192
remapImageBlockDestination = 138,28

remapImageBlock2 = False
remapImageBlockSection2 = 128,128,256,128
remapImageBlockDestination2 = 128,60

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 25
pixSortgap = 80
pixSortprobDraw = .09
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

useBlur  = True
blurXOffset = 13
blurYOffset = 0
blurSectionWidth = 144
blurSectionHeight = 256
sectionBlurRadius = 7



[txtdisplay]
#-----------------------------------------------#

windowOrientation = horizontal
#txt1 = '      '
#txt2 = ' COMPUTER'
#txt3 = 

#txt2 = '+++++'
#txt1 = '      '
#txt2 = '____'
txt3 = 
txt1 = ' PLEASE TURN OFF WHEN NOT IN USE '   
txt2 = ''

fontColor1_ = 10,10,80,140
fontColor1__ = 255,200,0,200
fontColor1 = 5,200,0,200
fontColor2 = 255,200,0
fontColor3 = 255,200,0
txtBackgroundColor = 10,10,50,140
backgroundColor = 50,5,50,10

crawlText = PLEASE TURN OFF WHEN NOT IN USE PLEASE TURN OFF WHEN NOT IN USE PLEASE TURN OFF WHEN NOT IN USE
crawlHeight = 50
crawlPositionX = 0
crawlPositionY = 9
crawlRepeatDistanceFactor = 1

txtBoxHtMultuiplier = 2
fontSize = 12

xbuffer = 52
ybuffer = 32

xMin = -248
xMax = 190

yMin = -120
yMax = 165



[images]
#-----------------------------------------------#

#i1 = icons/Mac-Book-Black-On-icon.png
#i1 = icons/Computer-Hardware-Laptop-icon.png
i1 = icons/boxy.png
i2 = 
useBlanks = True
useimagefilter = False
playSpeed = .01
