[lasttwomblyxs]
# --------------------------------------------------#
bgColorSets = (40,45,0.3,.40,.8,.80,0,0)
bgBoxColorSets = (40,180,0.1,.4,.5,1.0,46,170)
# penColorSets = (1,60,0.9,1.0,.95,.950,0,0)|(40,60,0.9,1.0,.95,.950,0,0)|(210,240,0.9,1.0,.95,.950,0,0)|(210,240,0.1,.60,.95,.950,0,0)
penColorSets = (348,357,.7,.99,.26,.96,0,0)|(0,7,.99,.99,.26,.56,0,0)
# penColorSets = (336,352,.43,.99,.1,.96,240,350)
bgBoxAlphaRange = 20,108
penNames = scribbleLine1
# ,longOvalSweeps2b,spiralGyres,spiralGyres2,lineMarks2
# penNames = lineMarks2,longOvalSweeps2,longOvalSweeps2b,spiralGyres,spiralGyres2,lineMarks2
drawLineAsEnvelope = True
outlineStroke = True
outlineStrokeColor= 0,0,55,200
dripProbablility = .1
dripWidthMax = 3
dripLengthMax = 20
dripSpeedMin = 10
dripSpeedMax = 30
texture = texture4
# chance, per cycle, that a line is drawn
startNewLineProb = .95
startNewLineDelayRange = 1,7
# chance, per cycle, that a new line is chosen
usebgBoxProb = .001
clearCurrentDrawingProb = .002
blendLevelRateBase = .85

changePenColorWhileDrawingProb = .01
# only affects scribble lines
penSpeedMinVal = 7
penSpeedMaxVal = 12
# placement
xOffsetRange = 100,300
yOffsetRange = 150,200

