[scribbles]
# --------------------------------------------------#
bgColorSets = (320,30,.47, .96,.1,.64,0,0)
bgBoxColorSets = (0,20,.510,.920,.4,.50,0,0)|(340,360,.50,.720,.4,1.0,0,0)
penColorSets = (0,360,.60,1.0,.8,1.0,0,0)
bgBoxAlphaRange = 40,248
penAlphaRange = 100,200
penNames = lineMarksDashed,lineMarks2
drawLineAsEnvelope = True
texture = texture1
# chance, per cycle, that a new line is chosen
startNewLineProb = .50
# the time between actually drawing the lines
startNewLineDelayRange = 3,23
# chance, per cycle, that a ground block is drawn
usebgBoxProb = .004
doJitterProb = .0008
clearCurrentDrawingProb = .0001
changePenColorWhileDrawingProb = .01
blendLevelRateBase = .01

