[grids-1]
patterns =  colorGridTriangles,
            colorGrid,
            petals,
            colorGrid,
            gothic1,
            randomizer2,
            decoBoxes,
            reMove,
            concentricBoxes,
            diamond,
            balls,
            concentricBoxes,
            randomizer

palettes =  allpink,
            vhs,
            woody,
            galahx,
            oceansky,
            goldenx2,
            delft,
            wildandcrazy2
dominantPatterns = colorGridTriangles
# ,colorGrid
dominantPatternProb = .2
# Border Controls
borderPattern = petals
useBorderPattern = False
altColoringProb = .5
popRandomColorProb = .1

usePolygonOverlay = False
tileOverlayGridProb = .5
# overlay subtract_modulo soft_light lighter
polyOverlayMode = "overlay"

# ----------------------------------------------------------- #
