[displayconfig]
#-----------------------------------------------#

work = collage
_work = diagnostics

rendering = hub
rotation = -0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = False
isRPI = False


tileSizeHeight = 64
tileSizeWidth = 64
matrixTiles = 8
rows = 2
cols = 11

# ---  Also determines the window geometry
screenWidth = 130
screenHeight = 704

# ---  preparing for rotation
windowWidth = 130
windowHeight = 704

canvasWidth = 130
canvasHeight = 704


# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2581
windowYOffset = 150

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,384,384
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,96,768,128
remapImageBlockDestination2 = 384,0

remapImageBlock3 = False
remapImageBlockSection3 = 384,0,512,32
remapImageBlockDestination3 = 0,32

remapImageBlock4 = False
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64



usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 5
pixSortYOffset = 5
pixSortboxHeight = 690
pixSortboxWidth = 4
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .1
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 130
blurSectionHeight = 704
sectionBlurRadius = 2

useFilters = False
ditherfilterbrightness =1.1

forceBGSwap = False

######################################################################
[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
variableFilterProb = .002

useVariablePixelSort = True
variablePixelProb = .01
variablePixelProbOff = .2


useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 130,0, 130,704, 0,704
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .0
maxSaturation = .1
minValue = .0
maxValue = .4

#--------------------------#

[s1a]
position = 5,60
coords = 0,0, 128,0, 128,6, 0,6
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99


[s2a]
position = 5,74
coords = 0,0, 128,0, 128,6, 0,6
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

#--------------------------#

[s1]
position = 3,0
coords = 0,5, 6,5, 6,698, 0,698
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s2]
position = 16,0
coords = 0,5, 6,5, 6,698, 0,698
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 0.3
minValue = .8
maxValue = .99

[s3]
position = 29,0
coords = 0,5, 6,5, 6,698, 0,698
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s4]
position = 42,0
coords = 0,5, 6,5, 6,698, 0,698
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99


[s5]
position = 55,0
coords = 0,5, 6,5, 6,698, 0,698
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 30
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s6]
position = 68,0
coords = 0,5, 6,5, 6,698, 0,698
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s7]
position = 81,0
coords = 0,5, 6,5, 6,698, 0,698
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s8]
position = 94,0
coords = 0,5, 6,5, 6,698, 0,698
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s9]
position = 107,0
coords = 0,5, 6,5, 6,698, 0,698
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 30
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s10]
position = 120,0
coords = 0,5, 6,5, 6,698, 0,698
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

#--------------------------#
#--------------------------#











[diag]
#---------------------------------#

fontColor = 150,150,0
outlineColor = 120,0,0
fontColor2 = 0,100,100
bgColor = 0,0,104
showGrid = True
fontSize = 8

brightness =  .2
outerColor = 10,0,100
innerColor = 120,40,0
borderColor = 10,0,0

