[displayconfig]

work = marqueeb

rendering = hub
rotation = -4
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48

rows = 8
cols = 6

# ---  Also determines the window geometry
screenWidth = 264
screenHeight = 264

# ---  preparing for rotation
windowWidth = 264
windowHeight = 264

canvasWidth = 264
canvasHeight = 264

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = -14
canvasOffsetY = -5

# Window Offset
windowXOffset = 2728
windowYOffset = 50

brightness =  .85
minBrightness = 0

imageXOffset = -1
imageYOffset = -1

[marquee]
redrawSpeed = .01
marqueeNum = 17
marqueeWidth = 16
gap = 0
step = 2
decrement = 0
randomRange = 80.0

