[displayconfig]

work = stroop2

isRPI = False
rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48

rows = 8
cols = 6

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 256

# ---  preparing for rotation
windowWidth = 192
windowHeight = 256

canvasWidth = 192
canvasHeight = 256

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
#canvasOffsetY = 3

# Window Offset
windowXOffset = 2728
windowYOffset = 50

brightness =  .75
minBrightness = .1

### To semi-center the repetition field
canvasOffsetY = -10

[output]
duration =  30
fps = 60
mode = video


[stroop]
fontSize = 84
vOffset = -10
scrollSpeed = .03
stroopSpeed = .02
speedMultiplier = 2
revealSpeedMin = 1
revealSpeedMax = 3
stroopSteps = 2
shadowSize = 2
stroopFontSize = 30
useColorFlicker = 0
highervariability = True
verticalBg =  False
displayRows = 6
displayCols = 6
simulBlocks = 3
## options are reveal, revealmove, move
movementMode = reveal
moveProbability = .15
colorProbabilityReturn = .08
colorProbability = .015



