[displayconfig]
# incomplete passage / circuit / line / door
# undoing the knot


work = scroller-holder
_work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 1
cols = 16

# ---  Also determines the window geometry
screenWidth = 960
screenHeight = 128

# ---  preparing for rotation
windowWidth = 320
windowHeight = 128

canvasWidth = 960
canvasHeight = 32

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 45
#windowYOffset = 223

windowXOffset = 2657
windowYOffset = 335

brightness =  .700
minBrightness = 0

imageXOffset = 0
imageYOffset = 0


remapImageBlock = False
remapImageBlockSection = 0,0,320,32
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True  
remapImageBlockSection2 = 320,0, 640,32
remapImageBlockDestination2 = 0,32
remapImageBlockSection2Rotation = 0

remapImageBlock3 = True  
remapImageBlockSection3 = 640,0, 960,32
remapImageBlockDestination3 = 0,64
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False  
remapImageBlockSection4 = 0,64, 320,96
remapImageBlockDestination4 = 0,64
remapImageBlockSection4Rotation = 180

useFilters = False

useBlur = True
blurXOffset = 20
blurYOffset = 0
blurSectionWidth = 160
blurSectionHeight = 8
sectionBlurRadius = 2

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 48
pixSortboxHeight = 2
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .2
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

forceBGSwap = False

[scroller]
#-----------------------------------------------#

useOverLayImage = False
useArrows = False
useImages = False
useTransparentImages = False

# for pattern scrolling
useBackground = True

useText = False
useAltText = False

textSpeed = 1
arrowSpeed = -3
imageSpeed = -2

redrawSpeed = .01

xOffset = 0
yOffset = 0

displayRows = 2
displayCols = 1

patternSpeed = 1.1
patternRows = 8
patternCols = 960
patternRowsOffset = 0
patternColsOffset = 10
patternDrawProb = .50
# lines or diamonds bricks pluses regularLines
pattern = regularLines
alwaysRandomPattern = True


altDirectionScrolling = True
alwaysRandomPatternColor = False
pauseProb = 0.0
useHSV = True


#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 50
textVOffest = -12
shadowSize = 1


msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY
msg3 = 123456789

#--- Pattern BG
lineThickness = 2
arrowCols = 10
# This actually is not working  ;(
bgBackGroundColor = 0,0,0,0
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20

bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .9
bg_maxSaturation = .9
bg_minValue = .5
bg_maxValue = .5

fg_minHue = 180
fg_maxHue = 280
fg_minSaturation = .7
fg_maxSaturation = .99
fg_minValue = .1
fg_maxValue = .8


# for some reason with this piece I do not like 
bg_dropHueMinValue = 50
bg_dropHueMaxValue = 160
fg_drophueminvalue = 0
fg_drophuemaxvalue = 0

backgroundColorChangeProb = 1.25



# color combination - dependent palettes
redGreenSwapProb = 0
redBlueSwapProb = .001
greenBlueSwapProb = 0


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 8
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
imageBlockImage = /assets/imgs/sks/skull-s4d.png
# Spacing...
imageBlockBuffer = 40
imageBlockRemakeProb = .1

[var]
bg_minHue = 0
bg_maxHue = 360
bg_minSaturation = .9
bg_maxSaturation = .9
bg_minValue = .5
bg_maxValue = .5

fg_minHue = 180
fg_maxHue = 280
fg_minSaturation = .7
fg_maxSaturation = .99
fg_minValue = .1
fg_maxValue = .5


[diag]
fontColor = 100,0,0
fontColor2 = 0,0,100
outlineColor = 0,100,0
bgColor = 0,0,40
showGrid = True
fontSize = 14

