[displayconfig]

work = scroller-holder

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 20
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 640
screenHeight = 128

# ---  preparing for rotation
windowWidth = 640
windowHeight = 128

canvasWidth = 640
canvasHeight = 64

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2749
#windowYOffset = 201
# Window Offset
windowXOffset = 30
windowYOffset = 40

brightness =  .6 
minBrightness = 0

remapImageBlock = True
remapImageBlockSection = 320,0,640,64
remapImageBlockDestination = 0,64


[PatternAsTexture]
#-------------------#
patternSpeed = .5
patternRows = 130
patternCols = 440
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

[PatternAsBlocks]
#-------------------#
patternSpeed = .5
patternRows = 2
patternCols = 40
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .81
pattern = lines


[scroller]
#-----------------------------------------------#
redrawSpeed = .02

xOffset = -5
yOffset = 0

displayRows = 2
displayCols = 10

#--- Pattern BG
useBackGround = True
patternSpeed = .7
patternRows = 130
patternCols = 440
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

bgBackGroundColor = 30,70,200,80
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20

alwaysRandomPatternColor = True
altDirectionScrolling = True
alwaysRandomPattern = False



