[displayconfig]

#work = scroller-holder
work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 20
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 640
screenHeight = 128

# ---  preparing for rotation
windowWidth = 640
windowHeight = 128

canvasWidth = 640
canvasHeight = 128

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2749
windowYOffset = 205
# Window Offset
#windowXOffset = 70
#windowYOffset = 40

brightness =  .6 
minBrightness = 0

remapImageBlock = True
remapImageBlockSection = 320,0,640,128
remapImageBlockDestination = 0,64

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 640
blurSectionHeight = 128
sectionBlurRadius = 2

useVariablePixelSort = True
useLastOverlay = True
useLastOverlayProb = .0072

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 4
pixSortYOffset = 8
pixSortboxHeight = 3
pixSortboxWidth = 250
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
variableFilterProb = .002

useVariablePixelSort = True
variablePixelProb = .002
variablePixelProbOff = .2


useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0,s1a,s2
#,s3,s4
#,s3,s4,s5,s6,s7,s8,s9
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 642,0, 642,128, 0,128
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 240
maxHue = 200
minSaturation = .0
maxSaturation = .1
minValue = .2
maxValue = .3

#-------------#

[s1a]
position = 0,8
coords = 5,0, 636,0, 636,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.90
maxSaturation = 0.93
minValue = .98
maxValue = .99

[s2]
position = 0,36
coords = 5,0, 636,0, 636,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.90
maxSaturation = 0.93
minValue = .98
maxValue = .99

[s3]
position = 0,64
coords = 5,0, 636,0, 636,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.0
maxSaturation = 0.3
minValue = .8
maxValue = .99

[s4]
position = 0,92
coords = 5,0, 620,0, 620,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.0
maxSaturation = 0.3
minValue = .8
maxValue = .99



[PatternAsTexture]
#-------------------#
patternSpeed = .5
patternRows = 130
patternCols = 440
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

[PatternAsBlocks]
#-------------------#
patternSpeed = .5
patternRows = 2
patternCols = 40
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .81
pattern = lines


[scroller]
#-----------------------------------------------#
redrawSpeed = .02

xOffset = -5
yOffset = 0

displayRows = 2
displayCols = 10

#--- Pattern BG
useBackGround = True
patternSpeed = .7
patternRows = 130
patternCols = 440
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

bgBackGroundColor = 30,70,200,80
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20

alwaysRandomPatternColor = True
altDirectionScrolling = True
alwaysRandomPattern = False



