[displayconfig]

work = screen

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 20
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 642
screenHeight = 129

# ---  preparing for rotation
windowWidth = 642
windowHeight = 122

canvasWidth = 642
canvasHeight = 66

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 2
canvasOffsetY = 3

# Window Offset
windowXOffset = 2749
windowYOffset = 201

brightness =  .6 
minBrightness = 0


remapImageBlock = True
remapImageBlockSection = 320,0,640,68
remapImageBlockDestination = 0,63
remapImageBlockSectionRotation = .5






[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0



[screenproject]
#-----------------------------------------------#
delay = .02
crackColor = 100,100,100,3
outlineColor = 160,200,240,50
bgColor = 180,20,24,5
## Needs to be odd number ...
numCracks = 7
pointsCount = 5
drawCracks = False
origin = 0,0

## Used when first creating the cracks
yVarMin = 6
yVarMax = 56

randomColorSampleProb = .01
probDrawBoxes = .4
probDrawLines = .41
probDrawPerpLines = .001
crackChangeProb = .1
imageResetProb = .001

pauseProb = .0005
unpauseProb = .002

timeTrigger = True

## This controls the range of background colors
tLimitBase = 10
minHue = 180
maxHue = 240
minSaturation = .8
maxSaturation = 1
minValue = .4
maxValue = .5
maxBrightness = .9

