[displayconfig]
#-----------------------------------------------#

work = collage

rendering = hub
rotation = 0
#8.8
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 7
cols = 2

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 224

# ---  preparing for rotation
windowWidth = 128
windowHeight = 224

canvasWidth = 128
canvasHeight = 224

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 281
#4
windowYOffset = 169

brightness =  .65
minBrightness = 0

imageXOffset = 0

remapImageBlock = True
remapImageBlockSection = 0,0,64,64
remapImageBlockDestination = 64,192
remapImageBlockRotation = 90

remapImageBlock2 = False
remapImageBlockSection2 = 64,192,128,224
remapImageBlockDestination2 = 64,160
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 64,0,128,128
remapImageBlockDestination3 = 64,7
remapImageBlockSection3Rotation = 0


usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 128
pixSortYOffset = 10
pixSortboxHeight = 262
pixSortboxWidth = 4
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = 1.1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.1

useBlur  = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 0




[collageShapes]
#-----------------------------------------------#

prisimBrightness = .95
redrawSpeed = .02
changeBoxProb = .01

transitionStepsMin = 80
transitionStepsMax = 100

fixedCenterColor = 0,1,0
usedFixedCenterColor = False


# varianceMode = symmetrical, asymmetrical, independent
varianceMode = independent

sets = set1
set1 = s1,s2b,s2c
#,s3,s2a

## 28px vertical buffer

[s1] 
postion = 0,0
coords = 0,0, 0,280, 256,280, 256,0
varX = 2
varY = 0

[s2b] 
postion = 0,0
coords = 4,30, 4,146, 120,146, 120,116, 244,116, 244,3, 132,3, 132,32 
varX = 8
varY = 8

[s2c] 
postion = 20,44
coords = 0,0, 0,64, 222,64, 222,0
varX = 8
varY = 8

[s2a] 
postion = 0,19
coords = 0,0, 0,120, 124,120, 124,0
varX = 12
varY = 8

[s3] 
postion =  110,0
coords = 0,0, 0,110, 128,110, 128,0 
varX = 12
varY = 8






[s4] 
postion =  110,0
coords = 0,0, 0,148, 138,148, 138,0 
varX = 10
varY = 10

[s5] 
postion = 90,0
coords = 0,0, 0,62, 32,62, 32,0
varX = 0
varY = 0

[s7] 
postion = 90,0
coords = 0,0, 0,62, 72,62, 72,0
varX = 0
varY = 0

[s9] 
postion = 164,18
coords = 0,0, 0,24, 24,24, 24,0
varX = 0
varY = 0

#,s5
#sets = s1,s2,s3,s4,s5
#setsVariants = s1Variants,s2Variants,s3Variants,s4Variants,s5Variants










