[displayconfig]

work = diagnostics
#pattern-pent

rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
useFilters = False

rendering = hat
isRPI = True
actualscreenwidth = 256
transwiring = False

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 4
pixSortboxHeight = 128
pixSortboxWidth = 100
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .999
pixSortSizeDecriment =  .05
pixSortProbDecriment = 1.0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0
brightnessVarLow = .7
brightnessVarHi = .7
pixelSortAppearanceProb = 1.0

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 4
rows = 2
cols = 4

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 64

# ---  preparing for rotation
windowWidth = 256
windowHeight = 64

canvasWidth = 256
canvasHeight = 64

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 0
windowYOffset = 0

brightness =  .9
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,32,128,64
remapImageBlockDestination = 128,0

[diag]
#---------------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0
rowstoshow = 4


[compositions]
#---------------------------------#
# Framerate
delay = .02
canvasImageWidth = 192
canvasImageHeight = 256

refreshCount = 400
timeToComplete = 30
cleanSlateProbability = .8
filterPatchProb = .25

bgColor = 50,50,50

#background Color Controls
minHue = 0
maxHue = 360
minSaturation = .1
maxSaturation = .8
minValue = .1
maxValue = .4
