[displayconfig]
#-----------------------------------------------#

#work = diagnostics
#work = repeater
#work = scroller-holder
#-----------------------------------------------#


rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
cols = 5
rows = 6

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 192

# ---  preparing for rotation
windowWidth = 320
windowHeight = 192

canvasWidth = 320
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# Window Offset

#windowXOffset = 1700
#windowXOffset = 2812
windowXOffset = 2684
windowYOffset = 165

brightness =  1.5
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,64,448,96
remapImageBlockDestination = 3,64

remapImageBlock2 = False
remapImageBlockSection2 = 16,0,64,128
remapImageBlockDestination2 = 16,12

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 188
pixSortboxHeight = 4
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

useBlur  = False
blurXOffset = 0
blurYOffset = 64
blurSectionWidth = 448
blurSectionHeight = 64
sectionBlurRadius = 3


[repeater]
#-----------------------------------------------#
# Used for number of images etc
#imageList = miscl/head-2tw.png
#imageList = icons/ak-2tw.png
#imageList = icons/test-img.png
imageList = icons/test-img.png


unitCount = 23
scalingFactor = 4
# Higher the speed factor, slower the movement
speedFactor = 8
vOffset = -10
scrollSpeed = .01
displayRows = 6
displayCols = 5
useJitter =  False
useBlink = True
noTrails = True
colormode = random
kaleidescopiceffect = False
k_rotations = 2
k_angle = 90
pauseprob = .0000000


[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,255
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14


 
[PatternAsTexture]
#-------------------#
patternSpeed = .5
patternRows = 130
patternCols = 440
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

[PatternAsBlocks]
#-------------------#
patternSpeed = .5
patternRows = 2
patternCols = 40
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .81
pattern = lines


[scroller]
#-----------------------------------------------#
redrawSpeed = .01

xOffset = -5
yOffset = 0

displayRows = 3
displayCols = 10

#--- Pattern BG
useBackGround = True
patternSpeed = .5
patternRows = 130
patternCols = 440
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

bgBackGroundColor = 30,70,200,80
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20

alwaysRandomPatternColor = True
altDirectionScrolling = True
alwaysRandomPattern = False





