[displayconfig]

work = screen

rotation = 0
rendering = hub
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

#tileSizeHeight = 32
#tileSizeWidth = 64
#matrixTiles = 16
#rows = 4
#cols = 4


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 7

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 192

# ---  preparing for rotation
windowWidth = 320
windowHeight = 192

canvasWidth = 320
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# Window Offset

#windowXOffset = 1700
windowXOffset = 2684
windowYOffset = 165

brightness =  .85
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,240,384,256
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 16,0,64,128
remapImageBlockDestination2 = 16,12

remapImageBlock3 = False
remapImageBlockSection3 = 186,56,192,80
remapImageBlockDestination3 = 190,66

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 116
pixSortboxHeight = 4
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99



useBlur  = False
blurXOffset = 0
blurYOffset = 32
blurSectionWidth = 448
blurSectionHeight = 8
sectionBlurRadius = 4


[screenproject]
#-----------------------------------------------#
redrawSpeed = .01

xOffset = -5
yOffset = 0

displayRows = 3
displayCols = 10

#--- Pattern BG
useBackGround = True
patternSpeed = .5
patternRows = 130
patternCols = 440
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

bgBackGroundColor = 30,70,200,80
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20

alwaysRandomPatternColor = True
altDirectionScrolling = True
alwaysRandomPattern = False



