[markParams]
name=lineMarks

minNumPoints = 40


turnsRange = 3, 4
minInterpolatedPoints = 100
maxInterpolatedPoints = 200

baseRadiusFactorRange = 1.0,1.1
xRadiusFactorRange = 0.001,.01
yRadiusFactorRange = .45, .6

xRadiusFactorNoiseFactor = 1.1
yRadiusFactorNoiseFactor = .0

xRandomRange = -10, 10

rotationFactor = 1000

w = 10
minMarkWidth = 7
maxMarkWidth = 33
changeMarkWidthProb =.2
incrementFactor = 2

mode = 1

xTravelRange = -4,4
yTravelRange = -14,14

xtravelProb = .1
ytravelProb = .1
xTravelIncrRange = 1.01,1.05
yTravelIncrRange = 1.01,1.05

radiusChangePerRound = -.1


# xOffsetRange = 1,16
# yOffsetRange = 16,200
forceOrientation = horizontal
yRandomRange = -60, 60
maxNumPoints = 200
linePoints = 13
lopOff = 200
