[markParams]
name=scratchLong
minNumPoints = 4
maxNumPoints = 10

turnsRange = 8, 12
minInterpolatedPoints = 80
maxInterpolatedPoints = 200

baseRadiusFactorRange = 1.8,3
yRadiusFactorRange = 0.001,.05
xRadiusFactorRange = 1.8, 2.5

xRadiusFactorNoiseFactor = 10.10
yRadiusFactorNoiseFactor = 10.0
yRandomRange = -10, 10
xRandomRange = -10, 140

rotationFactor = 12

# xOffsetRange = -100,100
# yOffsetRange = -100,100
w = 14
minMarkWidth = 7
maxMarkWidth = 33
changeMarkWidthProb =.09
incrementFactor = 2

mode = 1

xTravelRange = -4,4
yTravelRange = -4,4

xtravelProb = .1
ytravelProb = .1
xTravelIncrRange = 1.01,1.05
yTravelIncrRange = 1.01,1.05

radiusChangePerRound = -.1
angleDiffMax = 90

drawLineAsEnvelope = True