[displayconfig]

work = quads

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = True

usePixelSort = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 210
pixSortYOffset = 80
pixSortboxHeight = 24
pixSortboxWidth = 4
pixSortgap = 1
pixSortprobDraw = .1
pixSortprobGetNextColor = .9
pixSortProbDecriment = 4
pixSortSizeDecriment = 2.0
pixSortSampleVariance = 2
pixSortDrawVariance = 8
randomColorProbabilty = .04
brightnessVarLow = .5
brightnessVarHi = 1.9
pixelSortAppearanceProb = .73

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 60
rows = 10
cols = 6

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 320

# ---  preparing for rotation
windowWidth = 320
windowHeight = 320

canvasWidth = 320
canvasHeight = 320

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 5

# ---  Window Offset
windowXOffset = 60
windowYOffset = 65

brightness =  .4
minBrightness = 0

[animals]
yOffset = 10
xOffset = 40

blockWidth = 18
carcasBlockWidth = 15
carcasYOffset = 0
carcasXOffset = 10

l1Variance = 4
angleRotationRange = 4
xVariance = 20

carcas_pixSortYOffset = 80
base_pixSortYOffset = 80

flip = False
redrawSpeed = .01
redrawProbablility = .03
fade  = 170
redShift = 0
greyLevel = 80
bgR = 180
bgG = 10
bgB = 140

useScrollingBackGround = False
patternRows = 20
patternCols = 24
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .5
bgForeGroundColor = 0,50,0,255
bgBackGroundColor = 50,10,50,255
alpha = 100
bgYStepSpeed = -30
bgXStepSpeed = 0

pigglyWiggle = 5
pigglyWiggleVariance = 30




