[displayconfig]

work = quads

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = True

usePixelSort = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 180
pixSortYOffset = 80
pixSortboxHeight = 24
pixSortboxWidth = 8
pixSortgap = 1
pixSortprobDraw = .01
pixSortprobGetNextColor = .09
pixSortProbDecriment = 4
pixSortSizeDecriment = 2.0
pixSortSampleVariance = 2
pixSortDrawVariance = 8
randomColorProbabilty = .004
brightnessVarLow = .5
brightnessVarHi = 1.6

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 60
rows = 10
cols = 6

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 320

# ---  preparing for rotation
windowWidth = 320
windowHeight = 320

canvasWidth = 320
canvasHeight = 320

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 5

# ---  Window Offset
windowXOffset = 60
windowYOffset = 65

brightness =  .9
minBrightness = 0

[animals]
blockWidth = 18
carcasBlockWidth = 15
l1Variance = 4
xVariance = 20

yOffset = 10
xOffset = 40

carcasYOffset = 0
carcasXOffset = 10

carcas_pixSortYOffset = 10
base_pixSortYOffset = 80

redrawSpeed = .05
redrawProbablility = .03
fade  = 70

redShift = 80
greyLevel = 80
flip = False
angleRotationRange = 4




