[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 10

## Also determines the window geometry
screenWidth = 320
screenHeight = 256

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 320
canvasHeight = 256

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2600
windowYOffset = 50

brightness =  .1
minBrightness = 0

[diag]
fontColor = 200,0,0
outlineColor = 0,100,0
showGrid = True




