[displayconfig]

work = fludd
work = fluddfactory

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 60
rows = 10
cols = 6

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 192

# ---  preparing for rotation
windowWidth = 320
windowHeight = 192

canvasWidth = 320
canvasHeight = 192

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 5

# ---  Window Offset
windowXOffset = 60
windowYOffset = 65

brightness =  .99
minBrightness = 0

[fludd]
# prism or plenum
# prism is all colors all at once, = no color
# plenum is all white, = all color = no color
borderModel = prism

# nothing or void 
# nothing is white nothing with nothing border implied
# void is black nothing implied
nothing = void

var = 4
# varianceMode = symmetrical, asymmetrical, independent
varianceMode = independent

prisimBrightness = .91
redrawSpeed = .01

# if demoMode == 0, no rotation of variants
# demoMode > 0 is seconds/variant
demoMode = 20

rowsOfSquares = 3
colsOfSquares = 5

