[displayconfig]

work = present

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
useFilters = True
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 10

## Also determines the window geometry
screenWidth = 320
screenHeight = 320

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 320
canvasHeight = 256

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2600
windowYOffset = 50

brightness =  .9
minBrightness = 0

[images]

imageList = bgs/320x192bg2.png,sks/sk320lf.png,sks/sk320rf.png
unitCount = 3
#imageList = bgs/320x192bg.png,sks/sk320.png
#unitCount = 2

displayRows = 8
displayCols = 10

useJitter = False    
useBlink = True
noTrails = False

scalingFactor = 1
speedFactor = 1
vOffset = -10
redrawSpeed = .02
jitterRange = 20

# --- Base probability per cycle that giltch will happen
glitchRate = .01

# --- Probability per cycle that giltches will start happening
glitchModeRate = .01

# --- Probability per cycle that giltch will return to normal
glitchResetRate = .01

# --- The height/width of the glitch box
imageGlitchSize = 10

colorChage = .1
colorBGChage = .1

# --- colorWheel #random #colorRGB #fixed
colorMode = colorRGB
randomColorMode = True

[filter]
# Color overlay / pixel color block
clrBlkWidth = 0
clrBlkHeight = 0
overlayxPos = 0
overlayyPos = 0
overlayChangeProb = .5
overlayChangePosProb = .001

