[displayconfig]

work = present

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True

useFilters = True
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 60
rows = 10
cols = 6

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 192

# ---  preparing for rotation
windowWidth = 320
windowHeight = 192

# ---  preparing for rotation
canvasWidth = 320
canvasHeight = 192

brightness =  .925
minBrightness = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 5

# ---  Window Offset
windowXOffset = 1700
windowYOffset = 700

# ---  Window Offset
windowXOffset = 2561
windowYOffset = 26

[images]

# ---  Testing
imageList = 192x160test.png
imageList = 192x160.png

imageList = 192x160blank.png
unitCount = 1
imageList = bgs/190bg2.png,sks/sk1l.png,sks/sk1r.png
imageList = bgs/190bg2.png,sks/sk1rf.png,sks/sk1lf.png
imageList = bgs/320x192bg.png,sks/sk320lf.png,sks/sk320rf.png
unitCount = 3
imageList = bgs/320x192bg.png,sks/sk320.png
unitCount = 2

displayRows = 5
displayCols = 6

useJitter = False    
useBlink = True
noTrails = False

scalingFactor = 1
speedFactor = 1
vOffset = -10
redrawSpeed = .02
jitterRange = 2

# --- Base probability per cycle that giltch will happen
glitchRate = .01

# --- Probability per cycle that giltches will start happening
glitchModeRate = .01

# --- Probability per cycle that giltch will return to normal
glitchResetRate = .01

# --- The height/width of the glitch box
imageGlitchSize = 4

colorChage = .01
colorBGChage = .01

# --- colorWheel #random #colorRGB #fixed
colorMode = colorRGB
randomColorMode = True

