[displayconfig]

work = repaint

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True

useFilters = True
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 60
rows = 10
cols = 6

#--  Also determines the window geometry
screenWidth = 320
screenHeight = 192

#--  preparing for rotation
windowWidth = 320
windowHeight = 192

#--  preparing for rotation
canvasWidth = 320
canvasHeight = 192

brightness =  .925
minBrightness = 0

#-- for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 5


# ---  Window Offset
windowXOffset = 60
windowYOffset = 65

[repaint]
repaintDelay = .01
numBrushes = 33
ferrule = 14
bristle = 19
handle = 24
randomBrushWidth = True
# 20 is a good fixed brush width
brushWidth = 40
handleWidth = 6
holeWidth = 2
holeHeight = 3
speedRange = 5

#--  not really used
rotationProbability = .1

#-- chance per color/bounce change that brush will go 0/90/180
orthoProbability = .03

#--  chance per cycle that brushes are forced to 0/90/180
rectifyProbability = .01

