[displayconfig]

work = repaint

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
useFilters = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 10

## Also determines the window geometry
screenWidth = 320
screenHeight = 320

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 320
canvasHeight = 256

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2600
windowYOffset = 50

brightness =  .5
minBrightness = 0

[repaint]
repaintDelay = .01
numBrushes = 33
ferrule = 14
bristle = 19
handle = 24
randomBrushWidth = True
# 20 is a good fixed brush width
brushWidth = 40
handleWidth = 6
holeWidth = 2
holeHeight = 3
speedRange = 5

#--  not really used
rotationProbability = .1

#-- chance per color/bounce change that brush will go 0/90/180
orthoProbability = .03

#--  chance per cycle that brushes are forced to 0/90/180
rectifyProbability = .01

