[displayconfig]

work = screensaver

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True

useFilters = False

usePixelSort = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 30
pixSortYOffset = 0
pixSortboxHeight = 40
pixSortboxWidth = 190
pixSortgap = 20
pixSortprobDraw = .9
pixSortprobGetNextColor = .1
pixSortSizeDecriment = 1
pixSortProbDecriment = 1
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 10

## Also determines the window geometry
screenWidth = 320
screenHeight = 256

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 320
canvasHeight = 256

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2600
windowYOffset = 50

windowOrientation = horizontal

brightness =  .925
minBrightness = 0

[images]
#i1 = icons/Mac-Book-Black-On-icon.png
#i1 = icons/Computer-Hardware-Laptop-icon.png
i1 = icons/boxy.png
i2 = 
useBlanks = False
useimagefilter = False
playSpeed = .01


[txtdisplay]
#txt1 = '      '
#txt2 = ' COMPUTER'
#txt3 = 

#txt2 = '+++++'
#txt1 = '      '
#txt2 = '____'
txt3 = 
txt1 = '   PLEASE TURN OFF WHEN NOT IN USE'   
txt2 = ''

crawlText = PLEASE TURN OFF WHEN NOT IN USE

txtBoxHtMultuiplier = 2
fontSize = 30

xbuffer = 32
ybuffer = 32

xMin = -248
xMax = 190

yMin = -120
yMax = 165
