[displayconfig]

work = sparkles
#work = squares

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 60
rows = 10
cols = 6

## Also determines the window geometry
screenWidth = 320
screenHeight = 320

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 320
canvasHeight = 320

brightness =  .9
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 0

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = 60
windowYOffset = 67

windowXOffset = 2615
windowYOffset = 0



#work = squares
#rotation = 0
#screenWidth = 320
#screenHeight = 192
#canvasWidth = 320
#canvasHeight = 192


[squares]
lineWidth = 1
countLimit = 12
pulseSpeed = .09
mode = cols

