[displayconfig]

work = vertical

rendering = hub
rotation = -90
fullRotation = True
rotationTrailing = False
isRPI = False
useFilters = True
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 10

## Also determines the window geometry
screenWidth = 320
screenHeight = 320

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 320
canvasHeight = 320

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2600
windowYOffset = 20

brightness =  .9
minBrightness = 0

[vertical]
vOffset = 0
redrawSpeed = .01
rateMultiplier = 1

brightness =  .5
outerColor = 10,0,180
innerColor = 250,40,0
borderColor = 250,0,0

### virtical variations
### h should be same as blockHeight 
### unless gaps are wanted
blockHeight = 8
h = 8

### horizontal variation
### higher makes it less flame-like
var = 5
varMulitplierWhenChangingUp = 16
varMulitplierWhenChangingDown = 8

minPercentWidth = 0.0001
maxPercentWidth = .8

destinationPercentage = .25
widthPercentage = .2
multiplier = .998
incrRate = 1.02
reduceRate = .995

# glitch or waver probablility
# best to keep low to lull the viewer
# into calm

inMotionProbability = .001
