[displayconfig]

work = image
#work = diagnostics

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
doFullReloadOnChange = True

useFilters = False

usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 64
pixSortboxWidth = 256
pixSortgap = 0
pixSortprobDraw = .01
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .1
brightnessVarLow = .05
brightnessVarHi = 1.2
pixelSortAppearanceProb = .03


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 30
rows = 6
cols = 6

# ---  Also determines the window geometry
screenWidth = 448
screenHeight = 256

# ---  preparing for rotation
windowWidth = 448
windowHeight = 256

canvasWidth = 448
canvasHeight = 256


# Window Offset
windowXOffset = 2582
windowYOffset = 472

brightness =  1.0
minBrightness = .5



ditherfilterbrightness = 1.1

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3



imageXOffset = 0
imageYOffset = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,320,256
remapImageBlockDestination = 0,0

remapImageBlock2 = True  
remapImageBlockSection2 = 0,0,64,128
remapImageBlockDestination2 =  384,0
remapImageBlockSection2Rotation = 0


forceBGSwap = False


[images]
#------------------------------------------#


#i1 = flames/f2-7.gif
#i1 = flames/fire-pit3.gif
#i1 = flames/fire-pit1.gif
i1 = flames/f2-8-384-r.gif

#i1 = flames/candle_384.gif
#i2 = flames/fire-pit3.gif
useBlanks = False
useImageFilter = True
verticalOrientation = 0
resetProbability = .001

# for rotated image, lines are width, boxWidth is height
# 160
lines = 6
boxHeight = 256
boxWidth = 256
xPos1 = 0
yPosBase = 0
targetPalette = selective
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17
#targetClrs = 92,106,107,117,119,124
#targetClrs = 104,91,96,104,112,104
#targetClrs = 14,15,16
#targetClrs = 1,2,3

bgFilterProb = 0.01
imageFilterProb = .01

# the chance that the image stops and glitches
pausePlayProb = .031
# the chance release after pause
releasePauseProb = .004

# when and image is still, chance that a gltch happens
# the total number of glitches before things move on
imageGlitchProb = .09

# the increase of the imageGlichProb when the animation is paused
glitchChanceWhenPausedFactor = 20.0

# probability that the color will change
overlayChangeProb = .0075

# prob block will relocate
overlayChangePosProb = .01

# prob block will resize
overlayChangeSizeProb = .01

# 1 = darker 0 = add
overLayMode = 1

# the prob that the animation of each frame happens
animateProb = 1.0

# total number of glitches per period allowed
imageGlitchCountLimit = 50

imageGlitchSize = 10
imageGlitchDisplacement = 10

imageGlitchDisplacementHorizontal = 20
imageglitchDisplacementVerical = 30
glitchCountRestFactor = 1

#after this many frames, force a glitch
forceGlitchFrameCount = 400

alterAsASCIIProb = .01


playSpeed = .03
# used in fader class
# represents the number of fade-through frames between rendered images
# 0 is fast - i.e. same speed as delay, 1 evens things out, 40 is like
# slow motion
doingRefreshCount = 2
# if this is above 0 it will change the rate
doingRefreshCountVariability = .001
# the probability that the rate will return to the base fade-through count
doingRefreshCountVariabilityReset = .02
# the chance that the rate is fast vs slow-mo
doingRefreshCountFastProb = 0

# Color overlay / pixel color block
clrBlkWidth = 4
clrBlkHeight = 4
overlayxPos = 0
overlayyPos = 0

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .02
filterRemapminHoriSize = 224
filterRemapminVertSize = 236

filterRemapRangeX = 160
filterRemapRangeY = 256


[mockup]
useDrawingPoints = False
xOffset = 200
yOffset = 200
programmedPath = ellipse
drawMarkers = False

# ellipse paramenters
a = 100
b = 120
panels = 14
orientation = 0

drawingPathPoints = 0,388,90|0,322,91|0,256,90|0,190,91|0,124,89|0,60,90|20,0,45|50,0,-45|70,60,-90|70,122,-91|70,188,-91

[diag]
#-----------------------------------------------#
fontColor = 0,250,0
outlineColor = 205,0,10
fontColor2 = 255,150,0
bgColor = 0,0,150
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

