[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 16
rows = 2
cols = 10

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 160

# ---  preparing for rotation
windowWidth = 320
windowHeight = 160

canvasWidth = 320
canvasHeight = 64

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2600
windowYOffset = 50

brightness =  .5
minBrightness = 0

[diag]
fontColor = 200,0,0
outlineColor = 0,200,0
showGrid = True




