[displayconfig]

work = signage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 16
rows = 3
cols = 10

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 160

# ---  preparing for rotation
windowWidth = 320
windowHeight = 160

canvasWidth = 320
canvasHeight = 160

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2600
windowYOffset = 50

brightness =  .8
minBrightness = 0

usePixelSort = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 128
pixSortYOffset = 64
pixSortboxHeight = 32
pixSortboxWidth = 16
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


[signage]
fontColor = 200,0,0
outlineColor = 0,100,0
showGrid = True
redrawDelay = .01

imageGlitchSize = 30
fullimageGiltchRate = .01

useOverLayImage = False
overLayImage = /assets/imgs/miscl/bursts.png
overlayBrightness = .59
overLayXPos = -5
overLayYPos = -60
overlayGlitchSize = 25
overlayGlitchRate = .01
overlayResetRate = .05




