[displayconfig]

work = propagation

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
useFilters = False
checkForConfigChanges = True

tileSizeHeight = 8
tileSizeWidth = 6
matrixTiles = 48
rows = 28
cols = 43

## Also determines the window geometry
screenWidth = 256
screenHeight = 224

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 256
canvasHeight = 224

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2749
windowYOffset = 169

brightness =  .96
minBrightness = 0

imageXOffset  = 0
imageYOffset  = 0
remapImageBlock = False

usePixelSort = False
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 400
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = .01
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 130
pixSortDrawVariance = 0
randomColorProbabilty = .001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = False


[propagation]
fontColor = 0,0,0
outlineColor = 0,0,0
showOutline = False
showText = False
timeTrigger = True
tLimitBase = 10
steps = 25
colorStepsRangeMin = 3
colorStepsRangeMax = 5
redrawDelay = .01

doneThreshold = .9
propagationProbability = .992
# 3 2 3 4
overCrowdingThreshold = 3
underPopulationThreshold = 2
#dieThreshold = 3
liveThreshold = 3

fullimageGiltchRate = .0001
useFixedPalette = True

## If this is set to 1, then
## will use the range for the whole set 
paletteRange = 1

# Hue min/max Saturation min,max Value min/max
#p1 = 205,215, .6,.9, .8,1
#p2 = 210,230, .6,.9, .,1
#p3 = 0,10, .6,.9, .8,1
#p4 = 0,5, .6,.9, .8,1

## NOTE -- the ranges are parts of a "circle"
## so if the starting angle is 170 and the ending angle is 90
## colors between 90 and 170 will NOT be produced

## ALL BLUES SCREEN
#p1 = 220,230, 1,1, .8,.81

## MINUS GREEN
p1 = 290,70, 1,1, .8,.81

#p1 = 0,360, 1, 1.1, .8,.81

p2 = 0,350, 1,1, .1,1
p3 = 20,350, 1,1, .1,1
p4 = 220,230, 1,1, .8,.81

deadColor = 0,100,0,10

## selective exclusion of color range
## set both to zero to turn off
dropHueMin = 0
dropHueMax = 0




