[displayconfig]

work = image

isRPI = True
rendering = hat
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True

useFilters = False

usePixelSort = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortxStart = 0
pixSortyStart = 0
pixSortboxHeight = 8
pixSortboxWidth = 16
pixSortgap = 0
pixSortprobDraw = .9
pixSortprobGetNextColor = .05
pixSortProbDecriment = .1
pixSortSizeDecriment = .5
pixSortSampleVariance = 5
pixSortDrawVariance = 5

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 2
rows = 1
cols = 2

# ---  Also determines the window geometry
screenWidth = 73
screenHeight = 32

# ---  preparing for rotation
windowWidth = 73
windowHeight = 32

canvasWidth = 73
canvasHeight = 32

brightness =  .99
minBrightness = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 2561
windowYOffset = 29

windowXOffset = 2623
windowYOffset = 280

#For direct to HAT
#----------------------------------------------
actualScreenWidth = 64
transwiring = True

[images]
i1 = flames/fire_o5b.gif
i1 = flames/flames-1b.gif
i2 = 
useBlanks = True
useImageFilter = True
playSpeed = .02

[filter]
# for rotated image, lines are width, boxWidth is height
# 160
lines = 32
boxHeight = 8
boxWidth = 64
xPos1 = 0
yPosBase = 0
targetPalette = selective
targetClrs = 92,106,107,117,119,124
targetClrs = 104,91,96,104,112,104
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17

bgFilterProb = 0.01
imageFilterProb = .91
imageGlitchProb = .1
imageGlitchSize = 8
imageGlitchDisplacement = 10
animateProb = .9

# Color overlay / pixel color block
clrBlkWidth = 40
clrBlkHeight = 16
overlayxPos = 0
overlayyPos = 16
overlayChangeProb = .5
overlayChangePosProb = .5

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4


