[displayconfig]
#-----------------------------------------------#

work = squares-poly
work_ = diagnostics
#-----------------------------------------------#

rendering = hub
isRPI = False
checkForConfigChanges = True

rotation = 0
fullRotation = True
rotationTrailing = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 6
cols = 4

# ---  Also determines the window geometry
screenWidth = 198
screenHeight = 198

# ---  preparing for rotation
windowWidth = 198
windowHeight = 198

canvasWidth = 198
canvasHeight = 198

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2749
windowXOffset = 2813
windowYOffset = 205

imageXOffset = 0
imageYOffset = 0


remapImageBlock = True
remapImageBlockSection = 93,64,192,128
remapImageBlockDestination = 64,64

remapImageBlock2 = True
remapImageBlockSection2 = 0,128,192,192
remapImageBlockDestination2 = -29,128

brightness =  .98
minBrightness = 0

useFilters = False

usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 2
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 18
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = 1.0
pixSortSizeDecriment =  0.0
pixSortProbDecriment = 0.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.1

useBlur  = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 270
sectionBlurRadius = 5


[diag]
#--------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0


[drawBlock_]
#---------------------------------#
#drawBlockCoords = 93,64|96,70|96,131|70,131|64,127
drawBlockCoords = 64,64|96,64|96,131|64,131
#drawBlockCoords = 60,63|112,63|112,128|60,128
#drawBlockCoords = 64,64|112,64|112,144|64,144
#drawBlockCoords = 83,84|110,84|110,150|83,150
drawBlockFixedColor = 10,10,210,235
c1HueRange = 1,360
c1SaturationRange = .1,.85
c1ValueRange = .4,.5


[quilt]
#---------------------------------#
pattern = polys

# Framerate
delay = .02

## Approximating timing so that any one triange changes once every 2 minutes or so
## e.g. .0005 prob checked every .01 seconds ~ .0005/ .01s = 5% chance per second ...
resetTrianglesProb = .9995
colorPopProb = .0001

# the probability that at the completion of all transisitons that
# a new quilt sizeing will be made
resetSizeProbability  = .8

blockSizeMin = 80
blockSizeMax = 160

blockColsMin = 7
blockRowsMin = 4

blockColsMax = 10
blockRowsMax = 6

# The gap between pattern blocks
gapSize = 0
# the amount to reduce the "vertical" blocks: allowable values are 1-5
elongation = 4

cntrOffsetX = 0
cntrOffsetY = 0

lines = False
patternPrecision = True

timeToComplete = 40
transitionStepsMin = 15.0
transitionStepsMax = 205.0
randomness = 8

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99


transformShape = False

## No transform
transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0


activeSet = set1


[set1]
## The top / base diamond / square
c1HueRange = 1,360
c1SaturationRange = .8,.85
c1ValueRange = .4,.9

# the "Shaded" side
c2HueRange = 0,360
c2SaturationRange = .2,1
c2ValueRange = .1,.5

## The "bright side"
c3HueRange = 1,360
c3SaturationRange = .2,1
c3ValueRange = .8,.95



