[displayconfig]

#----------------------------------------------

work = plane

#----------------------------------------------

rendering = hat
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
isRPI = True
useFilters = False

usePixelSort = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortxStart = 0
pixSortyStart = 0
pixSortboxHeight = 8
pixSortboxWidth = 16
pixSortgap = 0
pixSortprobDraw = .9
pixSortprobGetNextColor = .99
pixSortProbDecriment = .5
pixSortSizeDecriment = .5
pixSortSampleVariance = 2
pixSortDrawVariance = 0
pixSortDirection = lateral
pixelSortAppearanceProb = 1

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 2
rows = 1
cols = 2

## Also determines the window geometry
#----------------------------------------------
screenWidth = 64
screenHeight = 32

canvasWidth = 64
canvasHeight = 32

brightness =  .95
minBrightness = .6

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 4

# ---  Window Offset
windowXOffset = 0
windowYOffset = 26

#For direct to HAT
#----------------------------------------------
actualScreenWidth = 64
transwiring = True


[repeater]
#----------------------------------------------



[plane]
#----------------------------------------------
#imageList = planes/plane-2tw-lrg.png
#imageList = planes/plane-2twb0.png
#imageList = planes/plane-2tw.png
imageList = planes/plane-2tw2s.png
# Used for number of planes etc
unitCount = 19
scalingFactor = .5
speedFactor = .5
vOffset = -10
scrollSpeed = .02
displayRows = 1
displayCols = 2

useJitter =  True
jitterRate = .8
jitterResetRate = .2

useBlink = True
noTrails = True

#colorWheel  #random #colorRGB #fixed
colorMode = colorRGB
randomColorMode = True



