[displayconfig]

work = quilt

isRPI = True
rendering = hat
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True
transWiring=True
actualScreenWidth = 64

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 2
rows = 1
cols = 2

## Also determines the window geometry
screenWidth = 64
screenHeight = 32

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 64
canvasHeight = 32

brightness =  .99
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 2560
windowYOffset = 25

[quilt]

delay = .01
colorPopProb = .005

numUnits = 5

blockLength = 3
blockHeight = 3

blockRows = 2
blockCols = 2

cntrOffsetX = 14
cntrOffsetY = 14

lines = True
blueFactor = 20
greenFactor = 20

## Like the "stiching" color
brightnessFactorDark = .1
brightnessFactorLight = .9