[displayconfig]
##########################################################

# work = concentric_particles_v2
work = concentric_particles_v3
# work = diagnostics

isRPI = False
rendering = hub
rotation = -180
fullRotation = True
rotationTrailing = False

checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 64
tileSizeWidth = 64
matrixTiles = 48
rows = 6
cols = 4

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 384

# ---  preparing for rotation
windowWidth = 256
windowHeight = 384

canvasWidth = 256
canvasHeight = 384


# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowXOffset = 1200
# windowXOffset = 2657
# windowYOffset = 69
windowXOffset = 120
windowYOffset = 120


brightness =  1.2
minBrightness = 0

#work = squares
#rotation = 0
#screenWidth = 320
#screenHeight = 192
#canvasWidth = 320
#canvasHeight = 192


useFilters = True
ditherfilterbrightness = 1.2

remapImageBlock = False
remapImageBlockSection = 0,0,256,384
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0


remapImageBlock2 = True
remapImageBlockSection2 = 0,220,160,256
remapImageBlockDestination2 = 1,220
remapImageBlockSection2Rotation = 1

remapImageBlock3 = False
remapImageBlockSection3 = 224,0,256,384
remapImageBlockDestination3 = 0,0
remapImageBlockSection3Rotation = 0



##########################################################
[particles]
##########################################################

# the following parameters affect the particles
minParticles = 200
maxParticles = 270

speedFactorMin = .1
speedFactorMax = 1

# Note this piece is flipped 180 degrees so the overlap
# appears on the back "maintenance panel"
# the manifest animation should have the celestial figure
# rising near the middle of the piece - so in a non-flipped instance
#  the setup would be more like:

# initXRangeMin = 80
# initXRangeMax = 120
# initYRangeMin = 10
# initYRangeMax = 280

# PSXSpeed = 0.1
# PSYSpeed = -.60


initXRangeMin = 128
initXRangeMax = 168
initYRangeMin = 10
initYRangeMax = 280

PSXSpeed = 0.3
PSYSpeed = .60

PSRadiusFactor1 = 1.5
PSRadiusFactor2 = 1.5

# the width/height max destination as
# a multiple of canvas width/height eg 5 == 1/5
xMaxFactor = 8
yMaxFactor = 3

fadeRate = 90
fadeRateDelta = 1.0
sparkleProb = .01
fadeRateNewSystemThreshold = 4.0
totalResetProb = .85
orbitProb = .95
particleResetProb = .01

# particle colors
particleColorRange = 180,220,0.8,1.0,.5,.95

rRangeMin = 100
rRange = 255
gRangeMin = 0
gRange = 200
bRangeMin = 100
bRange = 10


rBase = 5
gBase = 30
bBase = 60
aBase = 10

# The following affect the radial spokes

radialAlpha = 180
radialRed = 55
radialGreen = 30
radialBlue = 0

radial2Red = 0
radial2Green = 0
radial2Blue = 18

radialSetMinNum = 120
radialSetMaxNum = 300
radialSetInnerRadiusFactorFixedBands = 5
radialSetInnerRadiusFactor = 3
radialSetInnerRadiusRange = -50,50
radialSetOuterRadiusRange = -50,50



# ------------------------------
# the following parameters affect the banding
# The number of rings around the center
            # self.bandColors = [
            #     [50,10,50],
            #     [120,90,90],
            #     [120,50,50],
            #     [50,120,90],
            #     [151,165,194],

            #     [222,208,182],
            #     [10,90,150],
            #     [10,80,∑0],
            #     [80,90,0],
            #     [80,0,0],
            #     [120,74,52],
            #     [187,189,168],
            #     [129,137,158],
            #     [204,228,232],
            #     [253,240,195],
                
            #     [199,166,151],
            #     [151,165,194],
            #     [89,113,175],
            #     [53,73,136],
            #     [27,38,83],
            #     [27,38,83],

            # ]
            # self.__bandColors = [
            #     [0,0,0],
            #     [50,10,50],
            #     [120,50,50],
            #     [50,120,90],
            #     [222,208,182],
            #     [120,74,52],
            #     [129,137,158],
            #     [204,228,232],

                
            #     [50,10,50],
            #     [120,50,50],
            #     [50,120,90],
            #     [222,208,182],
            #     [120,74,52],
            #     [129,137,158],
            #     [204,228,232],
            #     [253,240,195],
            #     [199,166,151],
            #     [151,165,194],
            #     [89,113,175],
            #     [53,73,136],
            #     [27,38,83],
            #     [27,38,83],
            #     [27,38,253],
            # ]

            # self._bandColors = [
            #     [255,0,0],
            #     [255,255,0],
            #     [0,255,0],
            #     [0,255,255],
            #     [0,0,250],
            #     [255,0,250],
            # ]

bandColors=154,90,255
    154,90,62|
    146,82,57|
    96,71,67|
    96,71,67|
    96,71,67|
    154,90,62|
    141,133,70|
    141,133,70|
    227,208,201|
    227,208,201|
    215,71,36|
    173,170,187|
    152,157,179|
    152,157,179|
    197,202,206|
    246,241,211|
    183,157,144|
    132,143,161|
    81,110,166|
    137,170,215|
    42,65,133|
    68,93,185|
    78,107,173|
    29,48,88



# bandColors= 50,10,50|120,90,90|120,50,50|50,120,90|151,165,194|222,208,182|10,90,150|10,80,0|80,90,0|50,0,0|120,74,52|187,189,168|129,137,158|204,228,232|253,240,195|199,166,151|151,165,194|89,113,175|53,73,136|27,38,83|27,38,83



useFixedBandColorsProb = 1.0

PSMinBands = 17
PSMaxBands = 33

# the minimum and maximum radius
# PSRadiusMin = 120
# PSRadiusMax = 300
PSRadiusMin = 200
PSRadiusMax = 400

# for fixed color bands, the interior ring or gap
# can be set to a minimum value
PSRadiusFixedColorMinInternalRadius = 64

# fixed color bands' min and max width
# i.e. when fixed colored rings are used,
# all the bands for a given instance will be of a
# random size between these two values
bandWidthMin = 17
bandWidthMax = 33

PSFixedColorRadiusDiffMin = 13
PSFixedColorRadiusDiffMax = 17

# ------------------------------
# for some towers the seam between the 
# start and end needs to become semi-continuous
horizontalContinuity = True
horizontalOverlapFraction = 1

verticalContinuity = True
verticalOverlapFraction = 1

# ------------------------------
# outer golden ring color
# if filters-dithering are on these will not
# appear exactly as anticipated so fiddling wiil
# be needed

goldenRingsArray = 0,1,2,3,7,17,23,24
# goldenRingsArray = 23,24

rBase2 = 130
gBase2 = 104
bBase2 = 10
aBase2 = 50

rDiff = -1
gDiff = -1
bDiff = -1

# bgColorSets = bg_a
bgColorSets = bg_a,bg_b,bg_c,bg_a

[bg_a]
bgColor = 1,1,10

[bg_b]
bgColor = 90,60,10

[bg_c]
bgColor = 5,30,60




[diag]
#---------------------------------#

fontColor = 150,150,0
outlineColor = 120,0,0
fontColor2 = 0,100,100
bgColor = 0,0,104
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 120,40,0
borderColor = 10,0,0

