[displayconfig]

work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 6

# ---  Also determines the window geometry
screenWidth = 194
screenHeight = 64

# ---  preparing for rotation
windowWidth = 194
windowHeight = 64

canvasWidth = 194
canvasHeight = 64

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 2
canvasOffsetY = 3

# Window Offset
windowXOffset = 2685
windowYOffset = 233

brightness =  .7
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 128,128,256,192
remapImageBlockDestination = 0,64

usePixelSort = False
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 448
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .0001
brightnessVarLow = 1
brightnessVarHi = 1.1
pixelsortrotateswithimage = True

useBlur  = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 194
blurSectionHeight = 64
sectionBlurRadius = 4




[diag]
#-----------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 14





[collageShapes]
#-----------------------------------------------#

prisimBrightness = .95
redrawSpeed = .02
changeBoxProb = .005

transitionStepsMin = 140
transitionStepsMax = 254
# *4
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = False


# varianceMode = symmetrical, asymmetrical, independent
varianceMode = symmetrical

sets = s0,s1
#,s1a,s2,s2a

[s0]
postion = 0,0
coords = 0,0, 100,0, 100,70, 0,70
varX = 0
varY = 0
fixedCenterColor = 200,70,10,240
usedFixedCenterColor = True

[s1]
postion = 0,0
coords = 0,0, 172,0, 172,256, 0,256
varX = 40
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s1a]
postion = 10,10
coords = 0,0, 152,0, 152,236, 0,236
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s2]
postion = 178,0
coords = 0,0, 248,0, 248,248, 0,248
varX = 40
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s2a]
postion = 188,10
coords = 0,0, 228,0, 228,228, 0,228
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False



