[displayconfig]

work = particles

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .51
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .05
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 8
rows = 6
cols = 9

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 320

# ---  preparing for rotation
windowWidth = 320
windowHeight = 320

canvasWidth = 128
canvasHeight = 320

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = -192

# Window Offset
windowXOffset = 2689
#9
windowYOffset = 165

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 3

useFilters = False
ditherFilterBrightness = .95

forceBGSwap = False

remapImageBlock = False
remapImageBlockSection = 0,0,320,128
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 =  0,0,320,128
remapImageBlockDestination2 = 0,0
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 =  0,0,320,128
remapImageBlockDestination3 = 0,0

[scroller]
#-----------------------------------------------#

useOverLayImage = False
useArrows = False
useImages = False
useTransparentImages = False
useBackground = True
useText = False
useAltText = False

patternSpeed = 6
textSpeed = 1
arrowSpeed = -3
imageSpeed = -2

redrawSpeed = .02

xOffset = 0
yOffset = 0

displayRows = 7
displayCols = 2

altDirectionScrolling = True
alwaysRandomPatternColor = True
alwaysRandomPattern = False
changeprob = 0.003
useUltraSlowSpeed = True


#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 30
textVOffest = -4
shadowSize = 1
msg1 = ooooo oooOOOO OOOOOoooOOOOOOO
msg2 = XOXO OOXOXO OOXOX OXOX OXO XXX ))
msg3 = 1234567890

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .2

patternRows = 30
patternCols = 170
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .10
# lines or diamonds bricks pluses
pattern = lines


lineThickness = 2
arrowCols = 10
bgBackGroundColor = 220,0,80,100
# This actually is not working  ;(
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 8
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
imageBlockImage = /assets/imgs/sks/skull-s4d.png
# Spacing...
imageBlockBuffer = 40
imageBlockRemakeProb = .1



[particleSystem]
#-------------------------------------------#
numUnits = 120

delay = .02

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = .3
speedMax = 2

meandorFactor = .15
xWind = 0
torqueDelta = 0
torqueRate = 0

particleWinkOutXMin = 20
particleWinkOutYMin = 30

#initial direction 3.14/2
variance = 1

objWidth = 60
objHeight = 100
objType = rect
objTrails = False

widthRate = .9992
heightRate = .9997

overallBlur = 1
unitBlur = 0

objColor = fixed

fillColor = 180,10,100,20
outlineColor = 134,90,1,255 
bgColor = 80,10,30,20

pixelsGoGrayModel = 0
pixelsGoGray = True
greyRate = 350
restartProb = .0001


bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****
centerRangeXMin = 0
centerRangeYMin = -320

centerRangeXMax = 320
centerRangeYMax = -0

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

useOverLay = False
overlayColor = 160,0,200,10
#overlayColor = 88,40,0,190
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100



[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,104
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

