[displayconfig]

work = particles

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

usePixelSort = False
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 320
pixSortgap = 1
pixSortprobDraw = .51
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .05
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 8
rows = 6
cols = 9

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 320

# ---  preparing for rotation
windowWidth = 320
windowHeight = 320

canvasWidth = 128
canvasHeight = 320

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = -192

# Window Offset
windowXOffset = 2657
windowYOffset = 165

brightness =  1.0
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 270
blurSectionHeight = 170
sectionBlurRadius = 3

useFilters = True
ditherFilterBrightness = .95

forceBGSwap = False

remapImageBlock = False
remapImageBlockSection = 0,0,320,320
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 =  0,0,320,128
remapImageBlockDestination2 = 0,0
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 =  0,0,320,128
remapImageBlockDestination3 = 0,0


[particleSystem]
#-------------------------------------------#
numUnits = 190

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = .2
speedMax = 7

meandorFactor = .25
xWind = 0
torqueDelta = 0
torqueRate = 0

particleWinkOutXMin = 10
particleWinkOutYMin = 10


#initial direction 3.14/2
variance = 1

objWidth = 50
objHeight = 60
objType = rect
objTrails = False

widthRate = .992
heightRate = .997

overallBlur = 1
unitBlur = 0

objColor = fixed
#fillColor = 10,1,140,80
#outlineColor = 184,100,1,225 
#bgColor = 180,100,0,50

fillColor = 184,100,1,80
outlineColor =  10,1,140,180
bgColor = 180,100,0,50

bgTransitions = True
bgRangeA =  100
bgRangeB = 300
hueMin = 0
hueMax = 360
maxBrightness = .955
bgTransparency = 10

transparencyRange = 100,230
#*****
centerRangeXMin = 30
centerRangeXMax = 220
centerRangeYMin = -180
centerRangeYMax = 200

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 1,0,200,1
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190





[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,104
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0

