[displayconfig]

work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 288
screenHeight = 98

# ---  preparing for rotation
windowWidth = 288
windowHeight = 98

canvasWidth = 288
canvasHeight = 98

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

imageXOffset = 0
imageYOffset = 0

# Window Offset
windowXOffset = 2685
windowYOffset = 201

brightness =  .9
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 96,0,192,64
remapImageBlockDestination = 0,0



useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 120
sectionBlurRadius = 8

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 52
pixSortYOffset = 320
pixSortboxHeight = 8
pixSortboxWidth = 448
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1





[diag]
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9





[collageShapes]
#-----------------------------------------------#

prisimBrightness = 1.95
redrawSpeed = .02
changeBoxProb = .005

transitionStepsMin = 140
transitionStepsMax = 254
# *4
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = False

useTransitionCallBacks = False
useTweenTriggers = 1
triggers = 0
useVariableFilter = False
useVariablePixelSort = False
variablefilterprob = 0
variablepixelprob = 0
numberofdeadpixels = 0


# varianceMode = symmetrical, asymmetrical, independent
varianceMode = symmetrical

sets = s0,s1
#,s1a,s2,s2a

[s0]
position = 0,0
coords = 0,0, 288,0, 288,96, 0,96
varX = 10
varY = 10
fixedCenterColor = 200,70,10,240
usedFixedCenterColor = False
minHue = 0
maxHue = 40
minSaturation = .8
maxSaturation = 1
maxValue = .9
minValue = .5


[s1]
position = 10,0
coords = 0,0, 96,0, 96,64, 0,64
varX = 10
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 40
maxHue = 360
minSaturation = .5
maxSaturation = 1
maxValue = .96
minValue = .5
