[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 10

# ---  Also determines the window geometry
screenWidth = 288
screenHeight = 128

# ---  preparing for rotation
windowWidth = 288
windowHeight = 128

canvasWidth = 288
canvasHeight = 128

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

imageXOffset = 0
imageYOffset = 0

# Window Offset
windowXOffset = 2977
windowYOffset = 145

brightness =  .3
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 128,128,256,192
remapImageBlockDestination = 0,64


remapImageBlock2 = False  
remapImageBlockSection2 = 128,128, 192,246
remapImageBlockDestination2 = 128,130

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 320
sectionBlurRadius = 1

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 52
pixSortYOffset = 320
pixSortboxHeight = 8
pixSortboxWidth = 448
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


forceBGSwap = False


[diag]
#--------------------------#
fontColor = 200,0,0
outlineColor = 0,200,0
fontColor2 = 0,200,00
bgColor = 0,0,100
showGrid = True
fontSize = 7




