[displayconfig]

work = particles
#-------------------------------------------#

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 288
screenHeight = 288

# ---  preparing for rotation
windowWidth = 98
windowHeight = 288

canvasWidth = 98
canvasHeight = 288

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = -221

imageXOffset = 0
imageYOffset = 0

# Window Offset
windowXOffset = 2977
windowYOffset = 145

brightness =  .9
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,320,320
remapImageBlockDestination = 0,0


remapImageBlock2 = False  
remapImageBlockSection2 = 0,0, 192,246
remapImageBlockDestination2 = 0,0

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 320
sectionBlurRadius = 1

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 300
pixSortboxWidth = 20
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


useFilters = True
ditherFilterBrightness = .95


[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9


[particleVals-2]
fillColor = 14,180,1,10
outlineColor = 14,180,1,205 
bgColor = 14,180,1,20


[particleVals-1]
fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20



[particleSystem]
#-------------------------------------------#
numUnits = 120

delay = .02

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = .3
speedMax = 2

meandorFactor = .15
xWind = 0
torqueDelta = 0
torqueRate = 0

particleWinkOutXMin = 20
particleWinkOutYMin = 30

#initial direction 3.14/2
variance = 1

objWidth = 60
objHeight = 100
objType = rect
objTrails = False

widthRate = .9992
heightRate = .9997

overallBlur = 1
unitBlur = 0

objColor = fixed

#fillColor = 180,10,100,10
#outlineColor = 184,80,100,205 

fillColor = 180,10,100,20
outlineColor = 184,80,100,105 
bgColor = 80,10,30,20

pixelsGoGrayModel = 0
pixelsGoGray = True
greyRate = 550
restartProb = .0001


bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****
centerRangeXMin = 20
centerRangeYMin = -260

centerRangeXMax = 428
centerRangeYMax = -200

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

useOverLay = False
overlayColor = 160,0,200,10
#overlayColor = 88,40,0,190
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100




