[displayconfig]

work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 288
screenHeight = 64

# ---  preparing for rotation
windowWidth = 288
windowHeight = 64

canvasWidth = 288
canvasHeight = 64

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

imageXOffset = 0
imageYOffset = 0

# Window Offset
windowXOffset = 2685
windowYOffset = 201

brightness =  .9
minBrightness = 0

remapImageBlock = True
remapImageBlockSection = 96,0,192,64
remapImageBlockDestination = 0,0



useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 120
sectionBlurRadius = 8

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 52
pixSortYOffset = 320
pixSortboxHeight = 8
pixSortboxWidth = 448
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1



[diag]
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9



[collageShapes]
#-----------------------------------------------#

prisimBrightness = .95
redrawSpeed = .02
changeBoxProb = .005

transitionStepsMin = 140
transitionStepsMax = 254
# *4
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = False

useTransitionCallBacks = False
useTweenTriggers = 1
triggers = 0
useVariableFilter = False
useVariablePixelSort = False
variablefilterprob = 0
variablepixelprob = 0
numberofdeadpixels = 0


# varianceMode = symmetrical, asymmetrical, independent
varianceMode = symmetrical

timeBetweenSetChanges = 50.0
probablilitySetChanges = 1.0
sets = set1,set2,set3,set4

# Tourmaline
set1 = s0-tourmaline,s1-tourmaline
set2 = s5-inverse,s6-inverse,s7-inverse,s8-inverse
set3 = s0-branch,s2-branch,s3-branch,s4-branch
set4 = s0-branch2,s2-branch2,s3-branch2,s4-branch2
#--------------------------#

[s0-tourmaline]
position = 0,0
coords = 0,0, 288,0, 288,64, 0,64
varX = 10
varY = 10
fixedCenterColor = 200,70,10,240
usedFixedCenterColor = False
minHue = 0
maxHue = 40
minSaturation = .8
maxSaturation = 1
maxValue = .9
minValue = .5


[s1-tourmaline]
position = 0,0
coords = 0,0, 120,0, 120,32, 0,32
varX = 10
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 40
maxHue = 360
minSaturation = .5
maxSaturation = 1
maxValue = .96
minValue = .5



#--------------------------#
# INVERSE.....

[s5-inverse]
position = 0,0
coords = 0,0, 288,0, 288,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 30
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .6
maxValue = .8

[s6-inverse]
position = 128,0
coords = 0,0, 64,0, 64,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 200
maxHue = 240
minSaturation = .9
maxSaturation = .9
minValue = .1
maxValue = .2


[s7-inverse]
position = 64,0
coords = 0,0, 32,0, 32,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 200
maxHue = 240
minSaturation = .9
maxSaturation = .9
minValue = .1
maxValue = .2

[s8-inverse]
position = 96,0
coords = 0,0, 4,0, 4,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 200
maxHue = 240
minSaturation = .0
maxSaturation = .1
minValue = .1
maxValue = .2



#--------------------------#
[s0-branch]
position = 0,0
coords = 0,0, 288,0, 288,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 330
maxHue = 340
minSaturation = .95
maxSaturation = .95
minValue = .5
maxValue = .5

[s2-branch]
position = 128,0
coords = 0,0, 64,0, 64,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99


[s3-branch]
position = 64,0
coords = 0,0, 32,0, 32,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s4-branch]
position = 96,0
coords = 0,0, 4,0, 4,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 330
maxHue = 340
minSaturation = .9
maxSaturation = .95
minValue = .5
maxValue = .5




#--------------------------#

[s0-branch2]
position = 0,0
coords = 0,0, 288,0, 288,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 200
maxHue = 240
minSaturation = .0
maxSaturation = .1
minValue = .1
maxValue = .2


[s2-branch2]
position = 128,0
coords = 0,0, 64,0, 64,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99


[s3-branch2]
position = 64,0
coords = 0,0, 32,0, 32,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s4-branch2]
position = 96,0
coords = 0,0, 4,0, 4,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 200
maxHue = 240
minSaturation = .0
maxSaturation = .1
minValue = .1
maxValue = .2


