[displayconfig]

work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = True

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 288
screenHeight = 32

# ---  preparing for rotation
windowWidth = 288
windowHeight = 32

canvasWidth = 288
canvasHeight = 32

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

imageXOffset = 0
imageYOffset = 0

# Window Offset
windowXOffset = 2977
windowYOffset = 145

brightness =  .9
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,290,192
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0, 192,246
remapImageBlockDestination2 = 0,0

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 320
sectionBlurRadius = 1

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 52
pixSortYOffset = 320
pixSortboxHeight = 8
pixSortboxWidth = 448
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1





[diag]
#--------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9






[collageShapes]
#--------------------------#
redrawSpeed = .02
changeBoxProb = .003

transitionStepsMin = 140
transitionStepsMax = 254

tweenCountMax = 300
colOverlaytLimitBase = 15
colOverlaySteps = 60

useTransitionCallBacks =  False
numberOfDeadPixels = 0

useTweenTriggers = False
triggers = 1

useVariableFilter = False
variableFilterProb = .001

useVariablePixelSort = False
variablePixelProb = .001
variablePixelProbOff = .002


sets = set1
set1 = s0,s2
#s4,s5,s6,s7,s8,s9,s10,s11,s12
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 288,0, 288,32, 0,32
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = 1.99
minSaturation = .5
maxValue = .96
minValue = .5



[s2]
position = 0,0
coords = 0,0, 280,0, 280,10, 0,10
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = 1.99
minSaturation = .5
maxValue = .96
minValue = .5

[s3]
position = 4,9
coords = 0,0, 280,0, 280,32, 0,32
varX = 40
varY = 40
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
maxSaturation = 1.99
minSaturation = .5
maxValue = .96
minValue = .5



