[displayconfig]

work = scroller-holder

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 32

# ---  preparing for rotation
windowWidth = 256
windowHeight = 32

canvasWidth = 256
canvasHeight = 32

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

imageXOffset = 0
imageYOffset = 0

# Window Offset
windowXOffset = 2685
windowYOffset = 205

brightness =  1.2
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,320,64
remapImageBlockDestination = 0,0

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 320
blurSectionHeight = 120
sectionBlurRadius = 8

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 52
pixSortYOffset = 320
pixSortboxHeight = 8
pixSortboxWidth = 448
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


useFilters = True
ditherFilterBrightness = .99



[diag]
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9



[scroller]
#-----------------------------------------------#

useOverLayImage = False
useArrows = False
useImages = False
useTransparentImages = False
useBackground = True
useText = False
useAltText = False

patternSpeed = .4
textSpeed = 1
arrowSpeed = -3
imageSpeed = -2

redrawSpeed = .02

xOffset = 0
yOffset = 0

displayRows = 4
displayCols = 2

#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 50
textVOffest = -12
shadowSize = 1

altDirectionScrolling = True
alwaysRandomPatternColor = True
alwaysRandomPattern = False
changeprob = 0.001
changeProbReleaseFactor = 10.0

useUltraSlowSpeed = True

msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY
msg3 = 1234567890

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .2

patternRows = 30
patternCols = 170
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .10
# lines or diamonds bricks pluses
pattern = lines


lineThickness = 2
arrowCols = 10
bgBackGroundColor = 10,0,100,90
# This actually is not working  ;(
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 8
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
imageBlockImage = /assets/imgs/sks/skull-s4d.png
# Spacing...
imageBlockBuffer = 40
imageBlockRemakeProb = .1


