[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 12
cols = 4

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 192

# ---  preparing for rotation
windowWidth = 256
windowHeight = 192

canvasWidth = 256
canvasHeight = 192

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 2

imageXOffset = 128
imageYOffset = 0

# Window Offset
windowXOffset = 50
windowYOffset = 50

brightness =  .95
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 128,128,256,192
remapImageBlockDestination = 0,64

[diag]
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 14




