[displayconfig]

work = image

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True

useFilters = True

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 192

# ---  preparing for rotation
windowWidth = 260
windowHeight = 192

canvasWidth = 256
canvasHeight = 192

brightness =  .393
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 0
canvasOffsetY = 2

# Window Offset
windowXOffset = 2690
windowYOffset = 50

imageXOffset = 131
imageYOffset = 0

remapImageBlock = True
remapImageBlockSection = 128,128,260,192
remapImageBlockDestination = 0,64


[images]
#i1 = flames/fire_o5b.gif
#i1 = flames/fire_o5b-trans-nobg.gif
#i1 = flames/fire_o5b-trans.gif
i1 = flames/fire_o5b-trans-b.gif
i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .02

[filter]
# for rotated image, lines are width, boxWidth is height
# 160
lines = 160
boxHeight = 16
boxWidth = 190
xPos1 = 0
yPosBase = 0
targetPalette = selective
#targetClrs = 92,106,107,117,119,124
#targetClrs = 104,91,96,104,112,104
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17

bgFilterProb = 0.01
imageFilterProb = .91
imageGlitchProb = .1
imageGlitchSize = 16
imageGlitchDisplacement = 10
animateProb = .09

# Color overlay / pixel color block
clrBlkWidth = 64
clrBlkHeight = 100
overlayxPos = 60
overlayyPos = 126
overlayChangeProb = .01
overlayChangePosProb = .01

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4


