[displayconfig]

#work = pattern
#work = stroop2
#work = quilt-triangles
work = lines

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False


tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 288
screenHeight = 64

# ---  preparing for rotation
windowWidth = 288
windowHeight = 64

canvasWidth = 288
canvasHeight = 64

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3



# Window Offset
windowXOffset = 2685
windowYOffset = 201

brightness =  .75
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 138,0,280,192
remapImageBlockDestination = 138,28


remapImageBlock2 = False
remapImageBlockSection2 = 126,0,190,320
remapImageBlockDestination2 = 126,-7

usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 256
pixSortgap = 0
pixSortprobDraw = .9
pixSortprobGetNextColor = .05
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 4
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 4


[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14

[lines]
#-----------------------------------------------#

delay = .01
base = 10.0
rows = 10
cols = 10



