[displayconfig]

work = particles

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 12
cols = 8

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 192

# ---  preparing for rotation
windowWidth = 256
windowHeight = 192

canvasWidth = 256
canvasHeight = 192

brightness =  .9
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 6
canvasOffsetY = 4

# Window Offset
windowXOffset = 59
windowYOffset = 50

imageXOffset = 140
imageYOffset = 0

#************
remapImageBlock = True
remapImageBlockSection = 128,128,256,192
remapImageBlockDestination = 0,64


usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 14
pixSortboxWidth = 132
pixSortgap = 20
pixSortprobDraw = .01
pixSortprobGetNextColor = .01
pixSortProbDecriment = .65
pixSortSizeDecriment = 1.92
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = .001
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


[particleSystem]
numUnits = 1

xGravity = 0
yGravity = -.10

ignoreBottom = True

speedMin = 5
speedMax = 12

#initial direction 3.14/2
variance = 1

objWidth = 25
objHeight = 50
objType = rect

widthRate = .9
heightRate = .9

overallBlur = 9
unitBlur = 0

objColor = set
#fire
#fillColor = 245,245,0,10
#outlineColor = 190,10,0,70
#bgColor = 1,0,0,120

#ice
#fillColor = 0,25,80,250
#outlineColor = 0,10,200,90
#bgColor = 190,100,0,50

## Paler yellow flame
#fillColor = 88,40,0,19
#outlineColor = 88,40,0,19
#bgColor = 80,60,9,25
#overlayColor = 88,40,0,190

## crepescule
#fillColor = 88,40,0,19
#outlineColor = 88,40,0,19
#bgColor = 60,0,60,25
#overlayColor = 68,40,50,200

## bluescreen
fillColor = 88,40,0,19
outlineColor = 88,40,0,19
bgColor = 6,0,90,25
overlayColor = 60,100,0,100

bgTransitions = True
bgRangeA =  40
bgRangeB = 30

centerRangeXMin = -20
centerRangeXMax = 20
centerRangeYMin = -122
centerRangeYMax = 115

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True

movement = fire 
useFlocking = False
cohesionDistance = 40 
repelDistance = 1
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = 1
changeCohesion = False

#************
useOverLay = True
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 128
overlayyPos = 100
#overlayColor = 88,40,0,190







