[displayconfig]

work = plane

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 6
cols = 5

## Also determines the window geometry
screenWidth = 97
screenHeight = 97
canvasWidth = 97
canvasHeight = 97
brightness =  .95
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 6

# Window Offset
# windowOffset = [-1,13] for Linux stand-alones
windowXOffset = 2560
windowYOffset = 24


[repeater]
imageList = plane-2tw-lrg.png
imageList = plane-2tw.png

[plane]
# Used for number of planes etc
unitCount = 14
scalingFactor = 1
speedFactor = 3
vOffset = -10
scrollSpeed = .0001
displayRows = 2
displayCols = 5
useJitter =  True
useBlink = True
noTrails = False
colorMode = colorRGB
randomColorMode = True
#colorWheel  #random #colorRGB #fixed

