[displayconfig]

work = gradients

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 30
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 64

# ---  preparing for rotation
windowWidth = 64
windowHeight = 320

canvasWidth = 128
canvasHeight = 320

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

imageXOffset = 0
imageYOffset = 0

# Window Offset
windowXOffset = 2657
windowYOffset = 165

brightness =  .9
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 128,128,256,192
remapImageBlockDestination = 0,64


remapImageBlock2 = False  
remapImageBlockSection2 = 128,128, 192,246
remapImageBlockDestination2 = 128,130

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 2

useFilters = False
ditherFilterBrightness = .95


usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 384
pixSortboxWidth = 256
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .15
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .0001
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.0



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0




[gradients]
#-----------------------------------------------#

directionOrder = RIGHT-LEFT
useBlanks = False
useVerticalColorGradient = True
useHorizontalColorGradient = False
steps = 2
vOffset = -0

# rgbAlpha rgb getRandomColorWheel
colorChoice = getRandomColorWheel

rowsShown = 2
rowHeight = 16

angle = 90
probDraw = .1
probDrawChange = .0
blackProb = .01
heightMin =  6
heightMax =  256

alpha1 = 0
alpha2 = 255

# rate of time delay between cycles
redrawRate = .02

debug = False



