[displayconfig]

work = scroller-holder

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 192

# ---  preparing for rotation
windowWidth = 260
windowHeight = 192

canvasWidth = 260
canvasHeight = 192

brightness =  .8
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 0
canvasOffsetY = 2

# Window Offset
windowXOffset = 2690
windowYOffset = 50

imageXOffset = 131
imageYOffset = 0

remapImageBlock = True
remapImageBlockSection = 128,128,260,192
remapImageBlockDestination = 0,64


[scroller]

useOverLayImage = False
useArrows = False
useImages = True
useTransparentImages = True
useBackground = True
useText = False
useAltText = True

patternSpeed = 1
textSpeed = 1
arrowSpeed = -3
imageSpeed = -2

redrawSpeed = .01

xOffset = -5
yOffset = 0

displayRows = 12
displayCols = 8

#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 24
textVOffest = -5
shadowSize = 1

msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY
msg3 = 1234567890

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .2

patternRows = 64
patternCols = 240
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .01
pattern = diamonds

lineThickness = 2
arrowCols = 10
bgBackGroundColor = 0,0,0,2
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 8
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
imageBlockImage = /assets/imgs/sks/skull-s4d.png
# Spacing...
imageBlockBuffer = 40
imageBlockRemakeProb = .1

