[displayconfig]

work = signage

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
useFilters = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 5
cols = 6

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 192

# ---  preparing for rotation
windowWidth = 260
windowHeight = 192

canvasWidth = 256
canvasHeight = 192

brightness =  .393
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 0
canvasOffsetY = 2

# Window Offset
windowXOffset = 2690
windowYOffset = 50

imageXOffset = 131
imageYOffset = 0

remapImageBlock = True
remapImageBlockSection = 128,128,260,192
remapImageBlockDestination = 0,64

usePixelSort = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 64
pixSortboxWidth = 116
pixSortgap = 10
pixSortprobDraw = .951
pixSortprobGetNextColor = .1
pixSortProbDecriment = 1
pixSortSizeDecriment = 1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .0001
brightnessVarLow = .97
brightnessVarHi = 1.0
pixelSortAppearanceProb = 1


[signage]
fontColor = 200,0,0
outlineColor = 0,100,0
showGrid = True
coordinatedColorChange = True
redrawDelay = .01

unhideRate = .1
rehideRate = .01

imageGlitchSize = 5
fullimageGiltchRate = .01

useOverLayImage = False
overLayImage = /assets/imgs/miscl/bursts.png
overlayBrightness = .59
overLayXPos = -5
overLayYPos = -60
overlayGlitchSize = 25
overlayGlitchRate = .01
overlayResetRate = .05




