[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 32
rows = 8
cols = 4

## Also determines the window geometry
screenWidth = 128
screenHeight = 128

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 128
canvasHeight = 128

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 2

# Window Offset
windowXOffset = 2690
windowYOffset = 50

imageXOffset = -0
imageYOffset = -0

brightness =  .95
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 128,0,256,64
remapImageBlockDestination = 0,64

[diag]
fontColor = 200,0,0
outlineColor = 0,100,0
showGrid = True
fontSize = 12




