[displayconfig]

work = counterscroll

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 30
rows = 12
cols = 8

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 192

# ---  preparing for rotation
windowWidth = 260
windowHeight = 192

canvasWidth = 260
canvasHeight = 192

brightness =  .93
minBrightness = 0

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 0
canvasOffsetY = 2

# Window Offset
windowXOffset = 2685
windowYOffset = 205

imageXOffset = 131
imageYOffset = 0

remapImageBlock = True
remapImageBlockSection = 128,128,260,192
remapImageBlockDestination = 0,64


[scroll]
useXOs = True
useArrows = False
usingEmoties = True
counterScrollText = False
directionOrder = RIGHT-LEFT
useBlanks = True
useThreeD = False
sansSerif = True

txt1 = 
txt2 = 

fontSize = 20
shadowSize = 2
vOffset = -6
steps = 2
scrollSpeed = .02

bgcolor = 00,50,100
coloroverlay = False

#colorMode = randomColor
colorMode = getRandomRGB
#colorMode = getRandomColorWheel

useColorFlicker = False
noTrails = True
displayRows = 6
displayCols = 5

