[displayconfig]
#----------------------------------------------------#
work = spritesheet2
# work = diagnostics
isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 64
rows = 4
cols = 12

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2997
#windowYOffset = 330

# Window Offset
# windowXOffset = 2583
# windowXOffset = 2583 + 192 + 10
windowXOffset = 2583
windowYOffset = 60


remapImageBlock = False  
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,64,256,96
remapImageBlockDestination2 = 0,32

remapImageBlock3 = False  
remapImageBlockSection3 = 256,64,512,96
remapImageBlockDestination3 = 0,0

remapImageBlock4 = False  
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64

brightness =  1.0
minBrightness = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = True
_ditherFilterBrightness = .95

outPutPath = /Users/lamshell/Library/CloudStorage/Dropbox/studio/Digital Works + Archive/GEN IMAGES/gengen/
saveToFile = No
timeToTakeInterval = 15

[base-parameters]
# chance the pixelsort lines appear
pixelSortProbOn = .005
pixelSortProbOff = .015

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .004
filterRemapminHoriSize = 192
filterRemapminVertSize = 256

filterRemapRangeX = 192
filterRemapRangeY = 192


# the delay between cycles
playSpeed = .02

animations = a-2,a-3
playTimes = 40,40,40
playInOrder = False

drawMoire = True
drawMoireProb = .001
drawMoireProbOff = .01



#----------------------------------------------------#
[a-1]
i1 = assets/imgs/drawings/the-great-worry.png
#----------------------------------------------------#

# Number of individual animation units
numberOfCells = 7

randomPlacement = True
# the spritesheet frame dimensions
frameWidth = 256
frameHeight = 256
totalFrames = 1
frameCols = 1
frameRows = 1

# slice parameters
sliceWidthMin = 225
sliceWidth = 225
sliceHeightMin = 256
sliceHeight = 256
step = 1
fixedPosition = True

# controls speed 2 is generally very smooth
animSpeedMin = 10
animSpeedMax = 10

# the animation is drawn onto a buffered image 
# that can be resized
animationWidth = 256
animationHeight = 256
resizeAnimationtoFit = False

# rotates each animation unit
animationRotation = 90
# random +/- range
animationRotationJitter = 3
# if this is non-zero, will rotate each unit
# in random +/- range
animationRotationRateRange = 0
# compensates for rotation if needed
animationXOffset = 0
animationYOffset = -10

randomPlacemnetXRange = 10
randomPlacemnetYRange = 10

# probability that any one unit changes parameters and position
changeAnimProb = .009
# chance that animations all pause
pauseProb = .003
# chance that unimations resume
unPauseProb = .005
# chance that the glitching pauses
freezeGlitchProb = .01
# chance that the glitching resumes
unFreezeGlitchProb = .06

# glitch displacement parameters 
# random from 1 to these values
imageGlitchDisplacementHorizontal = 2
imageGlitchDisplacementVertical = 3


# background color HSV ranges
bg_minHue = 20
bg_maxHue = 30
bg_minSaturation = 0.05
bg_maxSaturation = 0.05
bg_minValue = .8
bg_maxValue = .9
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 50

# chance that the background changes
backgroundColorChangeProb = .01

#----------------------------------------------------#
[a-2]
i1 = assets/imgs/spritesheets/babyanimalsheet-bear-head-left.png
#----------------------------------------------------#

# Number of individual animation units
numberOfCells = 1

randomPlacement = True
# the spritesheet frame dimensions
frameWidth = 256
frameHeight = 256
totalFrames = 24
frameCols = 4
frameRows = 6

# slice parameters
sliceWidthMin = 256
sliceWidth = 256
sliceHeightMin = 256
sliceHeight = 256
step = 1
fixedPosition = True

# controls speed 2 is generally very smooth
animSpeedMin = 10
animSpeedMax = 10

# the animation is drawn onto a buffered image 
# that can be resized
animationWidth = 256
animationHeight = 256
resizeAnimationtoFit = False

# rotates each animation unit
animationRotation = 90
# random +/- range
animationRotationJitter = 1
# if this is non-zero, will rotate each unit
# in random +/- range
animationRotationRateRange = 0.05
# compensates for rotation if needed
animationXOffset = 0
animationYOffset = -10

randomPlacemnetXRange = 10
randomPlacemnetYRange = 10

# probability that any one unit changes parameters and position
changeAnimProb = .001
# chance that animations all pause
pauseProb = .006
# chance that unimations resume
unPauseProb = .005
# chance that the glitching pauses
freezeGlitchProb = .01
# chance that the glitching resumes
unFreezeGlitchProb = .06

# glitch displacement parameters 
# random from 1 to these values
imageGlitchDisplacementHorizontal = 2
imageGlitchDisplacementVertical = 3


# background color HSV ranges
bg_minHue = 340
bg_maxHue = 40
bg_minSaturation = 0.9
bg_maxSaturation = 0.95
bg_minValue = .8
bg_maxValue = .9
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 50

# chance that the background changes
backgroundColorChangeProb = .01

#----------------------------------------------------#
[a-3]
i1 = assets/imgs/spritesheets/babyanimalsheet-bunny-right.png
#----------------------------------------------------#

# Number of individual animation units
numberOfCells = 1

randomPlacement = False
# the spritesheet frame dimensions
frameWidth = 256
frameHeight = 256
totalFrames = 24
frameCols = 4
frameRows = 6

# slice parameters
sliceWidthMin = 256
sliceWidth = 256
sliceHeightMin = 256
sliceHeight = 256
step = 1
fixedPosition = True

# controls speed 2 is generally very smooth
animSpeedMin = 10
animSpeedMax = 10

# the animation is drawn onto a buffered image 
# that can be resized
animationWidth = 256
animationHeight = 256
resizeAnimationtoFit = False

# rotates each animation unit
animationRotation = 90
# random +/- range
animationRotationJitter = 0
# if this is non-zero, will rotate each unit
# in random +/- range
animationRotationRateRange = 0
# compensates for rotation if needed
animationXOffset = 0
animationYOffset = -10

randomPlacemnetXRange = 10
randomPlacemnetYRange = 10

# probability that any one unit changes parameters and position
changeAnimProb = .001
# chance that animations all pause
pauseProb = .003
# chance that unimations resume
unPauseProb = .005
# chance that the glitching pauses
freezeGlitchProb = .01
# chance that the glitching resumes
unFreezeGlitchProb = .06

# glitch displacement parameters 
# random from 1 to these values
imageGlitchDisplacementHorizontal = 2
imageGlitchDisplacementVertical = 3


# background color HSV ranges
bg_minHue = 340
bg_maxHue = 40
bg_minSaturation = 0.95
bg_maxSaturation = 0.95
bg_minValue = .8
bg_maxValue = .9
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 50
# chance that the background changes
backgroundColorChangeProb = .01





#----------------------------------------------------#
[diag]
#----------------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,0
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

