# pen params
# --------------------------------------------------#
[markParams]
name = scratchyLong2
minNumPoints = 4
maxNumPoints = 10

turnsRange = 8, 12
minInterpolatedPoints = 80
maxInterpolatedPoints = 200

baseRadiusFactorRange = 3.0,3.0
xRadiusFactorRange = 1.0, 1.10
yRadiusFactorRange = 0.01,.01

xRadiusFactorNoiseFactor = 1.0
yRadiusFactorNoiseFactor = 1.0
yRandomRange = -1, 1
xRandomRange = -200, 140

rotationFactor = 12

# xOffsetRange = -100,100
# yOffsetRange = -100,100
w = 14
minMarkWidth = 3
maxMarkWidth = 5
changeMarkWidthProb =.09
incrementFactor = 2

mode = 1

xTravelRange = -14,14
yTravelRange = -14,14

xtravelProb = .5
ytravelProb = .5
xTravelIncrRange = 1.01,1.05
yTravelIncrRange = 1.01,1.05

radiusChangePerRound = .1
angleDiffMax = 30
drawLineAsEnvelope = True