[displayconfig]
workList =p-1,p-2,p-1a
playInOrder = True


###########################################

[p-1]
work = staging/ladder-base/p4-6x16_scroller-ladder.cfg
minDuration = 43
maxDuration = 63
brightnessOverride = 1.2

[p-1a]
work = staging/ladder-base/p4-6x16_scroller-ladder_harlequin.cfg
minDuration = 53
maxDuration = 73
brightnessOverride = 1.2

[p-2]
work = staging/ladder-base/particle-v2-movements_b.cfg
minDuration = 43
maxDuration = 67
brightnessOverride = 1.0