[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

usePixelSort = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 40
pixSortboxWidth = 96
pixSortgap = 2
pixSortprobDraw = .95
pixSortprobGetNextColor = .02
pixSortProbDecriment = .1
pixSortSizeDecriment = .5
pixSortSampleVariance = 10
pixSortDrawVariance = 5
randomColorProbabilty = .00000
brightnessVarLow = .5
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1

unsharpMaskPercent = 30
blurRadius = 0

pixSortXOffset = 0
pixSortYOffset = 70

pixSortboxHeight = 20
pixSortboxWidth = 40

pixSortgap = 10

pixSortprobDraw = .5
pixSortprobGetNextColor = .99

pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5

pixSortSampleVariance = 0
pixSortDrawVariance = 0

randomColorProbabilty = .001

brightnessVarLow = 1
brightnessVarHi = 1.1


tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 70
rows = 7
cols = 10

# ---  Also determines the window geometry
screenWidth = 320
screenHeight = 224

# ---  preparing for rotation
windowWidth = 320
windowHeight = 224

canvasWidth = 320
canvasHeight = 224

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2623
windowYOffset = 280


brightness =  .5
minBrightness = 0

[diag]
fontColor = 200,0,0
outlineColor = 0,200,0




