[displayconfig]

work = image

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True

useFilters = True
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 70
rows = 7
cols = 10

brightness = .9
minbrightness = .3

## Also determines the window geometry
screenWidth = 320
screenHeight = 224

# ---  preparing for rotation
windowWidth = 320
windowHeight = 224

canvasWidth = 320
canvasHeight = 224

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2623
windowYOffset = 280

[images]
i1 = flames/fire-real-256b.gif
i1 = flames/fire-real-320x224.gif
i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .03

[filter]
# for rotated image, lines are width, boxWidth is height
# 160
lines = 256
boxHeight = 16
boxWidth = 256
xPos1 = 0
yPosBase = 0
targetPalette = selective
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17
targetClrs = 92,106,107,117,119,124

# background horizontal "scan" lines, so ridiculous ;)
bgFilterProb = 0.1
imageFilterProb = .083
imageGlitchProb = .05
imageGlitchSize = 16
imageGlitchDisplacement = 70
animateProb = 1
forceGlitchFrameCount = 190

# Color overlay / pixel color block
clrBlkWidth = 120
clrBlkHeight = 200
overlayxPos = 32
overlayyPos = 32
overlayChangeProb = .05
overlayChangePosProb = .5

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4