[displayconfig]

work = quilt

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 70
rows = 7
cols = 10

brightness = .9
minbrightness = .3

## Also determines the window geometry
screenWidth = 320
screenHeight = 224

# ---  preparing for rotation
windowWidth = 320
windowHeight = 224

canvasWidth = 320
canvasHeight = 224

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2623
windowYOffset = 280

[quilt]

delay = .01
colorPopProb = .005

numUnits = 6

blockSize = 4
blockLength = 3
blockHeight = 3

blockRows = 7
blockCols = 10
gapSize = 0

cntrOffsetX = 20
cntrOffsetY = 18

lines = True
patternPrecision = False
blueFactor = 20
greenFactor = 20

## Like the "stiching" color
brightnessFactorDark = .1
brightnessFactorLight = .9