[displayconfig]

work = iconscroller

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 70
rows = 7
cols = 10

brightness = .94
minbrightness = .3

## Also determines the window geometry
screenWidth = 320
screenHeight = 224

# ---  preparing for rotation
windowWidth = 320
windowHeight = 224

canvasWidth = 320
canvasHeight = 224

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2623
windowYOffset = 280

windowXOffset = 0
windowYOffset = 0

[scroller]

redrawSpeed = .005

msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY
msg3 = 1234567890

patternSpeed = -4
textSpeed = 2
arrowSpeed = 1
imageSpeed = 4

xOffset = -85
yOffset = 0

displayRows = 7
displayCols = 10

displayRows = 7
displayCols = 10

lineThickness = 2
arrowCols = 10

bgBackGroundColor = (0,0,0,100)
colorMode = getRandomRGB
sansSerif = True
fontSize = 54
textVOffest = -15
shadowSize = 2

patternRows = 20
patternCols = 100

patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .2

bgForeGroundColor = 250,10,100,255
bgBackGroundColor = 100,100,100,255

blockWidth = 3

l1Variance = 2
angleRotationRange = 4
xVariance = 20

flip = False
redrawSpeed = .01
fade  = 100
redShift = 20

## when leaving on in studio
greyLevel = 40

bgR = 00
bgG = 100
bgB = 00

overLayImage = /assets/imgs/sks/skull-s4c.png
useOverLayImage = True
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 148
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1


