[displayconfig]

work = iconscroller

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 32
matrixTiles = 70
rows = 7
cols = 10

brightness = .96
minbrightness = .3

## Also determines the window geometry
screenWidth = 320
screenHeight = 224

# ---  preparing for rotation
windowWidth = 320
windowHeight = 224

canvasWidth = 320
canvasHeight = 224

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2623
windowYOffset = 280

[scroller]

redrawSpeed = .01
xOffset = 0
yOffset = 0
displayRows = 5
displayCols = 10



useXOs = True
useArrows = False

usingEmoties = False
counterScrollText = True
directionOrder = RIGHT-LEFT

useBlanks = False
numberofdeadpixels = 20
useThreeD = False
sansSerif = True


txt1 = 
txt2 = 
txt1 = RIGHTY TIGHTY
txt2 = LEFTY LOOSEY

txtfile = 

fontSize = 84
shadowSize = 1
steps = 2
vOffset = -24
arrowOffset = -8
scrollSpeed = .01

colorOverlay = True
overlayX = 0
overlayY = 0
overlayWidth = 320
overlayHeight = 320

bgColor = 20,0,30
bgColor = 10,0,15
bgColor = 50,50,50
colorMode = randomColor
colorMode = getRandomRGB
#colorMode = getRandomColorWheel

useColorFlicker = True
noTrails = True
displayRows = 6
displayCols = 10

