[displayconfig]

workListDirectory = prod/

workList =p1,p2

playInOrder = False

rotation =  0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 256


imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 36
windowYOffset = 100


restartScript = cntrlscripts/restart_industrial_incandescent_sequencer.sh
commadStringPyth = python3 /home/daemon40/Documents/RPI/player.py -path /home/daemon40/Documents/RPI -mname studio -cfg
repeatCountTrigger = 300


###########################################

[p1]
work = industrial-incandescent-led-comp-spritesheet-2.cfg
minDuration = 7
maxDuration = 27
#brightnessOverride = 1.1

[p2]
work = industrial-incandescent-p5-spots3.cfg
minDuration = 7
maxDuration = 27
#brightnessOverride = 1.1








