[displayconfig]
#-----------------------------------------------#
work = spots
#work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
useFilters = False
checkForConfigChanges = True
doFullReloadOnChange = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 24
cols = 24

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 256

# ---  preparing for rotation
windowWidth = 192
windowHeight = 256

canvasWidth = 192
canvasHeight = 256

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 36
windowYOffset = 100


brightness =  .9
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,256,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0


remapImageBlock2 = False
remapImageBlockSection2 =  160,0,400,40
remapImageBlockDestination2 = 0,40
remapImageBlockSection2Rotation = 0


remapImageBlock3 = False
remapImageBlockSection3 = 192,32,384,64
remapImageBlockDestination3 = 0, 96
remapImageBlockSection3Rotation = 0


## These are the full black-out boxes that seem to
## trap the viewer 
remapImageBlock4 = False
remapImageBlockSection4 = 384,0,452,31
remapImageBlockDestination4 = 128, 32
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0



usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 190
pixSortYOffset = 16
pixSortboxHeight = 12
pixSortboxWidth = 10
pixSortgap = 0
pixSortprobDraw = .81
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = .9



useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 256
sectionBlurRadius = 0


[spots]
#-----------------------------------------------#
reDrawSpeed = .02
doingRefreshCount = 180

dotSize = 20
cols = 9
rows = 12
packing = 1
colsXOffset = 1
rowsYOffset = 0

spreadX = 2
spreadY = 2
gridVariation = .5

# Changes the size of each dotspot by the dotVariation amound
dotVariationByColor = True
dotVariationMax = 8
dotVariation = 1
dotVariationChangeProb = .01
blurRadius = 1

#bgColor = 175,35,85,10
bgColor = 12,0,2,2

clrA = 238,0,0,25
clrB = 0,238,0,25
clrC = 0,0,164,25

#hideDots = 0
hideDots = 100
#,2,3,4,7,8,9,10,14,15,21
hideDotRate = 0.0
changeDotRate = 0.5



[flag]
#-----------------------------------------------#
delay = .02
numberOfDeadPixels = 50
whiteBrightness = .75
starBrightness = .95
colorBrightness = .90


[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0
