[worksList]

# this is for the quilt - chair intersection piece
# the chair was found on 118th st - discarded from the old folks home
# the double quilt patterns are the log cabin/ court steps with a triangles backdrop

# startup files are in ~/.config/autostart/startup1.desktop



works = w1,w2


## Also determines the window geometry
screenWidth = 390
screenHeight = 260

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 390
canvasHeight = 260

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3


# ---  preparing for rotation
windowWidth = 324
windowHeight = 260


imageXOffset = 0
imageYOffset = 0


# Window Offset
windowXOffset = 2657
windowYOffset = 255



[w1]

#cfg = p4-3x8-informal/quilt.cfg
#cfg = p4-4x8/monument-to-the-glitch.cfg

cfg = prod/multi-p4-6x8-quilt-informal-1.cfg
#cfg = p4-2xsteps/p4-2x14-steps-algofall.cfg
#cfg = p4-3x8-informal/mono-rothko.cfg
#cfg = p4-3x8-informal/quilt-stars.cfg
#cfg = p4-3x8-informal/diagnostics.cfg
#cfg = p4-3x8-informal/propagation.cfg
canvasOffsetX = -90
canvasOffsetY = -240
canvasRotation = 115
randomChange = False

[w2]
#cfg = staging/p4-4x7-slope-quilt-triangles2.cfg
cfg = prod/multi-p4-6x8-quilt-informal-2.cfg

#cfg = prod/p4-5x8-mono-lights-gray.cfg
#cfg = prod/p4-5x7-logcabin-lightening-for-small-child.cfg
#cfg = staging/p4-4x7-slope-quilt-triangles2.cfg
#cfg = p4-3x8-informal/mono-rothko.cfg
#cfg = p4-6x8/algofall8b.cfg
canvasOffsetX = 100
canvasOffsetY = 200
canvasRotation = 20
randomChange = True
