[displayconfig]
# "Discarded" police barrier piece from June 2020, for LA NIght Gallery 2021
# Light and Power
# Running on daemon23 Linux box -- replace as needed - relplace anything as needed to make it work
# Luke Murphy Jan 2021


work = particles

rendering = hub
isRPI = False
checkForConfigChanges = False

rotation = 270
fullRotation = True
rotationTrailing = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 8
rows = 16
cols = 8

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
canvasWidth = 64
canvasHeight = 256



# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset

windowXOffset = 2657
windowYOffset = 335


# Window Offset
#windowXOffset = 150
#windowYOffset = 50

brightness =  1.1
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,320,448
remapImageBlockDestination = 0,0

remapImageBlock3 = False
remapImageBlockSection3 = 0,0,448,384
remapImageBlockDestination3 = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,0,448,512
remapImageBlockDestination2 = 0,0


useFilters = True
ditherfilterbrightness = 1.1

usePixelSort = True
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 16
pixSortgap = 4
pixSortprobDraw = .2
pixSortprobGetNextColor = .51
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = medial
randomColorProbabilty = 0.01
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0


useBlur  = False
blurXOffset = 64
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 128
sectionBlurRadius = 2



[particleSystem]
#-------------------------------------------#
numUnits = 100
delay = .02

xGravity = 0
yGravity = 0

xWind = 0

torqueDelta = 0
torqueRate = -0

ignoreBottom = False

speedMin = .52
speedMax = 2.4

meandorFactor = 0

#initial direction 3.14/2
variance = 1

objWidth = 50
objHeight = 60
objType = rect
objTrails = True

#*****
centerRangeXMin = -64
centerRangeXMax = -60

centerRangeYMin = -144
centerRangeYMax = 10

widthRate = .99999
heightRate = .99999

legacyUnsharpMask = True
optionallegacyToggleProb = .01
overallBlur = 4
unitBlur = 0

objColor = fixed

fillColor = 10,0,200,40
outlineColor = 100,60,10,20
bgColor = 180,20,120,10

# Rain, Steam and Speed
pixelsGoGray = True
greyRate = 800
jumpToGray = False
pixelsGoGrayModel = 3

restartProb = .0001

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .02

# because this is rotated, Y = X ....
filterRemapminHoriSize = 64
filterRemapminVertSize = 256

# because this whole piece is rotated, the rangeX is actually the vertical range and visaversa ...
filterRemapRangeX = 64
filterRemapRangeY = 128


minHue = 0
maxHue = 40
minSaturation = 0
maxSaturation = 40
minValue = 0
maxValue =
tlimitbase = 15

bgTransitions = True
bgRangeA =  100
bgRangeB = 300
hueMin = 0
hueMax = 360
maxBrightness = .955
bgTransparency = 10

transparencyRange = 100,230



damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 1,0,200,1
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100
#overlayColor = 88,40,0,190





[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0




