[displayconfig]

work = particles

rendering = hub
rotation = 1
fullRotation = False
rotationTrailing = False
checkForConfigChanges = False
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 20
rows = 2
cols = 10

# ---  Also determines the window geometry
screenWidth = 640
screenHeight = 320

# ---  preparing for rotation
windowWidth = 640
windowHeight = 320

canvasWidth = 800
canvasHeight = 128

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = -2
canvasOffsetY = 3

# Window Offset
windowXOffset = 81
windowYOffset = 49

brightness =  1
minBrightness = .1

remapImageBlock = True
remapImageBlockSection = 320,0,640,64
remapImageBlockDestination = 0,64


[particleSystem]
#-------------------------------------------#
numUnits = 80

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = 1
speedMax = 3

#initial direction 3.14/2
variance = 1

objWidth = 64
objHeight = 64
objType = rect
objTrails = False

widthRate = 1
heightRate = 1

overallBlur = 0
unitBlur = 0

objColor = alphaRandom
#fire
#fillColor = 245,205,0,10
#outlineColor = 190,10,0,170
#bgColor = 1,0,100,100

#ice
fillColor = 0,25,80,250
outlineColor = 0,10,200,90
bgColor = 90,0,80,250

transparencyRange = 10,130

centerRangeXMin = 20
centerRangeXMax = 20
centerRangeYMin = 100
centerRangeYMax = 200

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

movement = linearMotion 
useFlocking = False
cohesionDistance = 50
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 60,100,0,100
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 128
overlayyPos = 100
#overlayColor = 88,40,0,190







