[displayconfig]

work = collage


rotation = 0
rendering = hub
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 8
cols = 7

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 64

# ---  preparing for rotation
windowWidth = 128
windowHeight = 64

canvasWidth = 128
canvasHeight = 64

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 240
windowYOffset = 100

brightness =  .75
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,128,130
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = False
remapImageBlockSection2 =64,0,128,192
remapImageBlockDestination2 = 64, 39
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 64,0,128,128
remapImageBlockDestination3 = 64,7
remapImageBlockSection3Rotation = 0


usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 116
pixSortboxHeight = 4
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 8

useFilters = True


[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14



[collageShapes]
#-----------------------------------------------#

redrawSpeed = .02
changeBoxProb = .002

transitionStepsMin = 140
transitionStepsMax = 254

tweenCountMax = 300
colOverlaytLimitBase = 15
colOverlaySteps = 60

usevariablefilter = True
variablefilterprob = .1
filterPatchProb = .0021

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = True

## Affects all colors
maxHue = 0
minHue = 360
maxSaturation = .5
minSaturation = .1
maxValue = .5
minValue = .2


sets = set1
set1 = s0,s0a,s1,s2
#,s1a,s2,s2a

[s0]
position = 0,0
coords = 0,0, 128,0, 128,64, 0,64
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 180
maxHue = 220
minSaturation = .85
maxSaturation = 1.0
minValue = .5
maxValue = .6

[s0a]
position = 14,-4
coords = 0,0, 128,0, 128,57, 0,57
varX = 2
varY = 2
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 180
maxHue = 220
minSaturation = .85
maxSaturation = 1.0
minValue = .5
maxValue = .6

[s1]
position = 18,0
coords = 0,0, 110,0, 110, 42, 0,42
varX = 1
varY = 4
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 36
maxHue = 46
minSaturation = .05
maxSaturation = 1.0
minValue = .05
maxValue = .96

[s2]
position = 18,0
coords = 0,0, 110,0, 110, 42, 0,42
varX = 2
varY = 5
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 36
maxHue = 46
minSaturation = .05
maxSaturation = 1.0
minValue = .05
maxValue = .96


