[displayconfig]

# set up for donation on 6-8-2020

work = collage
_work = diagnostics


rotation = 180
rendering = hub
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
doFullReloadOnChange = False
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 4
cols = 2

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 136

# ---  preparing for rotation
windowWidth = 128
windowHeight = 136

canvasWidth = 128
canvasHeight = 136

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
## working with 
## Start X 
## Start Y 
## on LINSN SENDER CARD
windowXOffset = 50
windowYOffset = 100


brightness =  .99
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,0,0
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 =64,0,128,192
remapImageBlockDestination2 = 64, -5
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 64,0,128,128
remapImageBlockDestination3 = 64,7
remapImageBlockSection3Rotation = 0


useFilters = True
ditherfilterbrightness = .9


usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 116
pixSortboxHeight = 4
pixSortboxWidth = 448
pixSortgap = 0
pixSortprobDraw = .99
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 8


[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14



[collageShapes]
#-----------------------------------------------#

redrawSpeed = .02
changeBoxProb = .003

transitionStepsMin = 140
transitionStepsMax = 254

tweenCountMax = 300
colOverlaytLimitBase = 25
colOverlaySteps = 60

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = True

usevariablefilter = True
variablefilterprob = .1
filterPatchProb = .001



sets = set1
set1 = s0,s1
#,s1a,s2,s2a

[s0]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 128,0, 128,140, 0,140
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .01
maxSaturation = 1.0
minValue = .05
maxValue = .9

[s1]
#-----------------------------------------------#
position = -0,5
coords = 0,0, 110,0, 110, 140, 0,140
varX = 10
varY = 20
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .01
maxSaturation = 1.0
minValue = .01
maxValue = .9


#-----------------------------------------------#









[s1a]
position = 10,-20
coords = 0,0, 120,0, 120,236, 0,236
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s2]
position = 178,0
coords = 0,0, 248,0, 248,248, 0,248
varX = 40
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

[s2a]
position = 188,10
coords = 0,0, 228,0, 228,228, 0,228
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False

