[displayconfig]

work_ = signage
work = quilt-informal

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = False
isRPI = False

useFilters = False

tileSizeHeight = 128
tileSizeWidth = 96
matrixTiles = 32
rows = 2
cols = 2

# ---  Also determines the window geometry
screenWidth = 196
screenHeight = 260

# ---  preparing for rotation
windowWidth = 196
windowHeight = 262

canvasWidth = 196
canvasHeight = 262

imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 220
windowYOffset = 65

brightness =  .5
minBrightness = 0

remapImageBlock = False  
#********* If you want a little ghosting
#********* of the copied section, grab the full
#********* width of the image
#remapImageBlockSection = 0,128,192,256
remapImageBlockSection = 0,128,96,256
remapImageBlockDestination = 38,108

remapImageBlock2 = False  
remapImageBlockSection2 = 32,128,64,256
remapImageBlockDestination2 = 0,130

remapImageBlock3 = False  
remapImageBlockSection3 = 0,128,192,256
remapImageBlockDestination3 = 0,130


[signage]
fontColor = 0,0,0
outlineColor = 0,0,0
showGrid = True
showText = False
showOutline = False
randomRotation = True
coordinatedColorChange = False
timeTrigger = True
tLimitBase = 30
steps  = 155
redrawDelay = .01

unhideRate = 0
rehideRate = 0

imageGlitchSize = 5
fullimageGiltchRate = .0001

useOverLayImage = False
overLayImage = /assets/imgs/miscl/mac-cursor.png
overlayBrightness = .3
overLayXPos = 100
overLayYPos = 5
overlayGlitchSize = 1
overlayGlitchRate = .001
overlayResetRate = .015


[quilt]
delay = .01
colorPopProb = .0001

numUnits = 6
blockSize = 3
blockLength = 3
blockHeight = 3

blockRows = 7
blockCols = 5
hGapSize = 4
vGapSize = 1

cntrOffsetX = 20
cntrOffsetY = 19

# LighteningStrike
# Regular
# Diagonals

opticalPattern = LighteningStrikeH
polyDistortion = 4

timeToComplete = 100

lines = True
patternPrecision = True

redRange = 320,10

## Like the "stiching" color
brightnessFactorDark = .61
brightnessFactorLight = .99

transitionStepsMin = 15.0
transitionStepsMax = 300.0

transformShape = False

#transformTuples_ = .9, 0, 0, -0.05,  .6, 0, -0.001, 0
#transformTuples__ = 1.2, .5, 0, 0.081,  1, 0, 0.0009, 0.0

#transformTuples = 1.2, .5, 0, 0.071,  1, 0, 0.0005, 0.0
## No transform
#transformTuples = 1, .5, 0, 0.0,  1, 0, 0.0, 0.0

## skew
transformTuples = .9, .5, 0, -.01,  1, 0, .0009, 0.00
#transformTuples = 0, 0, 0, 0,  0, 0, 0, 0.0


