[displayconfig]
#-----------------------------------------------#
work = collage

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 8
cols = 4

## Also determines the window geometry
screenWidth = 256
screenHeight = 257

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 256
canvasHeight = 257

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 100
windowYOffset = 102

brightness =  .98
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 175
pixSortboxHeight = 3
pixSortboxWidth = 250
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 2

useFilters = False

remapImageBlock = False
remapImageBlockSection = 0,0,64,64
remapImageBlockDestination = 0,0

useLastOverlay = True


[productionvalues]
#--------------------------#
changeBoxProb = .005
transitionStepsMin = 140
transitionStepsMax = 254
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
variableFilterProb = .002

useVariablePixelSort = True
variablePixelProb = .004
variablePixelProbOff = .2


useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0,s1a,s2,s3,s4,s5,s6,s7,s8,s9
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 256,0, 256,256, 0,256
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .0
maxSaturation = .1
minValue = .05
maxValue = .3

#-------------#

[s1a]
position = 0,8
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s2]
position = 0,36
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s3]
position = 0,64
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99

[s4]
position = 0,92
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99

[s5]
position = 0,120
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.9
maxSaturation = 0.9
minValue = .7
maxValue = .99

[s6]
position = 0,148
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99

[s7]
position = 0,176
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.9
maxSaturation = 0.9
minValue = .7
maxValue = .99

[s8]
position = 0,205
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99

[s9]
position = 0,234
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99

















