[displayconfig]
#-----------------------------------------------#
work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
isRPI = False


tileSizeHeight = 40
tileSizeWidth = 80
matrixTiles = 24
rows = 4
cols = 7

# ---  Also determines the window geometry
screenWidth = 480
screenHeight = 80

# ---  preparing for rotation
windowWidth = 480
windowHeight = 80

canvasWidth = 480
canvasHeight = 80


# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2595
#windowYOffset = 359

windowXOffset = 98
windowYOffset = 98


brightness = 1.0
minBrightness = 0

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 4
pixSortboxWidth = 475
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 2

useFilters = False

remapImageBlock = False
remapImageBlockSection = 0, 0, 480, 160
remapImageBlockDestination = 0, 0

remapImageBlock2 = True
remapImageBlockSection2 = 240, 0, 480, 40
remapImageBlockDestination2 = 0, 40
remapImageBlockSection2Rotation = 0

remapImageBlock3 = True
remapImageBlockSection3 = 480, 0, 960, 80
remapImageBlockDestination3 = 248, 0
remapImageBlockSection3Rotation = 0

useLastOverlay = False


[productionvalues]
#--------------------------#
changeBoxProb = .005
transitionStepsMin = 140
transitionStepsMax = 254
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

useVariableFilter = True
variableFilterProb = .002

useVariablePixelSort = True
variablePixelProb = .01
variablePixelProbOff = .2


useTweenTriggers = False
triggers = 1


sets = set1
set1 = s0,s1a,s2
set2 = s0,s5,s6,s7,s8,s9
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 480,0, 480,80, 0,80
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .0
maxSaturation = .1
minValue = .0
maxValue = .4

#--------------------------#

[s1a]
position = 0,6
coords = 5,0, 472,0, 472,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s2]
position = 0,24
coords = 5,0, 472,0, 472,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 0.3
minValue = .8
maxValue = .99

[s2x]
position = 0,24
coords = 5,0, 472,0, 472,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99


#--------------------------#
#--------------------------#




[s3]
position = 0,64
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s4]
position = 0,92
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99





[s5]
position = 0,120
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.1
maxSaturation = 0.9
minValue = .8
maxValue = .99

[s6]
position = 0,148
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s7]
position = 0,176
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.1
maxSaturation = 0.9
minValue = .8
maxValue = .99

[s8]
position = 0,205
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

[s9]
position = 0,234
coords = 5,0, 250,0, 250,10, 5,10
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 1.0
minValue = .8
maxValue = .99

















