[displayconfig]
#--------------------------#
work = composition-var
# work = diagnostics


rotation = 0
rendering = hub
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
doFullReloadOnChange =  False
isRPI = False


#tileSizeHeight = 32
#tileSizeWidth = 64
#matrixTiles = 16
#rows = 4
#cols = 4

tileSizeHeight = 40
tileSizeWidth = 80
matrixTiles = 32
rows = 8
cols = 8

screenWidth = 320
screenHeight = 40

# ---  preparing for rotation
windowWidth = 320
windowHeight = 40

canvasWidth = 320
canvasHeight = 40

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 120
# correct for 0 rotation
# windowYOffset = 335
windowYOffset = 120



brightness =  .8
minBrightness = 0

remapImageBlock = False
remapImageBlockSection = 0,0,256,352
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0


remapImageBlock2 = False
remapImageBlockSection2 = 192,0,384,32
remapImageBlockDestination2 = 0, 64
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 192,32,384,64
remapImageBlockDestination3 = 0, 96
remapImageBlockSection3Rotation = 0


# Note the pixels tearing dissipates after 4 levels or blocks
usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 210
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 4
pixSortgap = 1
pixSortprobDraw = .2
pixSortprobGetNextColor = .9
pixSortProbDecriment = 4
pixSortSizeDecriment = 2.0
pixSortSampleVariance = 2
pixSortDrawVariance = 8
randomColorProbabilty = .04
brightnessVarLow = .5
brightnessVarHi = 1.9
pixelSortAppearanceProb = .73

useFilters = True


[compositions]
#--------------------------#
delay = .04
slotRate = .04
redrawSpeed = .02

# The size of the drawing to be made
canvasImageWidth = 320
canvasImageHeight = 40

refreshCount = 340
timeToComplete = 10
cleanSlateProbability = .8

filterPatchProb = .025

inset_varX = 10
inset_varY = 30

insetMaxTransparency = 255
numSquarePairs = 3

yOffset = 0
xOffset = 0

angleRotationRange = 4
xVariance = 20

redrawProbablility = .005
fade  = 17

# Color is overlayed on this to give final color
bgForeGroundColor = 255,255,255,200
bgBackGroundColor = 255,255,255,0

### This is the speed range of transitions in color
### Higher numbers means more possible steps so slower
### transitions - 1,10 very blinky, 10,200 slower
colorTransitionRangeMin = 10
colorTransitionRangeMax = 50

useScrollingBackGround = True
useColorOverlayTransitions = True
applyColorOverlayToFullImage = False

patternRows = 5
patternCols = 20


patternRowsOffset = 2
patternColsOffset = 0
patternDrawProb = .1

bgYStepSpeed = 0
bgXStepSpeed = 4

colorSetsToUse = c_set0,c_set3,c_set1,c_set2

[c_set0]
# Coastal rusts and reds
insets = 0,25,.99,.99,.1,.4,0,0
bg = 220,260,.3,1.0,.5,.5,0,0

[c_set1]
insets = 340,355,.99,.99,.1,.8,0,0
bg = 320,360,.8,1.0,.5,.5,0,0

[c_set2]
insets = 190,220,.99,.99,.1,.8,0,0
bg = 270,360,.8,1.0,.5,.5,0,0

[c_set3]
insets = 0,0,.1,.99,.1,.5,0,0
bg = 350,360,.99,.99,.1,.8,0,0







#  NOT IN USE 
#  NOT IN USE 
#  NOT IN USE 
#  NOT IN USE 
#  NOT IN USE 
[collageShapes]
#-----------------------------------------------#

changeBoxProb = .003

transitionStepsMin = 140
transitionStepsMax = 254

tweenCountMax = 300
colOverlaytLimitBase = 25
colOverlaySteps = 60


set0 = s0,s1
set1 = s0.1,s1.1
set2 = s0.2,s1.2
set3 = s0.3,s1.3
set4 = s0.4,s1.4
set5 = s0.5,s1.5
set6 = s0.6,s1.6,s2.6
set7 = s0.7,s1.7

# sets = set0,set1,set2,set3,set4,set5,set7
sets = set6


[s0]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 256,0, 256,352, 0,352
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .99
maxSaturation = 1.0
minValue = .05
maxValue = .99
changeboxprob = .01

[s1]
#-----------------------------------------------#
position = -0,60
coords = 0,0, 240,0, 240,352, 0,352
varX = 10
varY = 40
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .99
maxSaturation = 1.0
minValue = .5
maxValue = .99
changeboxprob = .01

[s0.1]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 256,0, 256,352, 0,352
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 80
maxHue = 190
minSaturation = .99
maxSaturation = 1.0
minValue = .05
maxValue = .99
changeboxprob = .004

[s1.1]
#-----------------------------------------------#
position = -0,60
coords = 0,0, 240,0, 240,352, 0,352
varX = 10
varY = 40
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 80
maxHue = 190
minSaturation = .99
maxSaturation = 1.0
minValue = .5
maxValue = .5
changeboxprob = .004

[s0.2]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 256,0, 256,352, 0,352
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 40
minSaturation = .99
maxSaturation = 1.0
minValue = .05
maxValue = .99
changeboxprob = .004

[s1.2]
#-----------------------------------------------#
position = -0,60
coords = 0,0, 240,0, 240,352, 0,352
varX = 10
varY = 40
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 190
maxHue = 270
minSaturation = .99
maxSaturation = 1.0
minValue = .5
maxValue = .5
changeboxprob = .004


#-----------------------------------------------#

[s0.3]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 256,0, 256,352, 0,352
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .1
maxSaturation = .1
minValue = .05
maxValue = .1
changeboxprob = .004

[s1.3]
#-----------------------------------------------#
position = -0,60
coords = 0,0, 240,0, 240,352, 0,352
varX = 10
varY = 40
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .99
maxSaturation = 1.0
minValue = .5
maxValue = .99
changeboxprob = .004

#-----------------------------------------------#
[s0.4]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 256,0, 256,352, 0,352
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 300
maxHue = 355
minSaturation = .91
maxSaturation = .99
minValue = .5
maxValue = .99
changeboxprob = .004

[s1.4]
#-----------------------------------------------#
position = -0,60
coords = 0,0, 240,0, 240,352, 0,352
varX = 10
varY = 40
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 160
maxHue = 200
minSaturation = .99
maxSaturation = 1.0
minValue = .5
maxValue = .99
changeboxprob = .004


#-----------------------------------------------#
[s0.5]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 256,0, 256,352, 0,352
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 190
maxHue = 230
minSaturation = .91
maxSaturation = .99
minValue = .5
maxValue = .99
changeboxprob = .004

[s1.5]
#-----------------------------------------------#
position = -0,60
coords = 0,0, 240,0, 240,352, 0,352
varX = 10
varY = 40
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 30
maxHue = 50
minSaturation = .99
maxSaturation = 1.0
minValue = .5
maxValue = .99
changeboxprob = .004


#-----------------------------------------------#
#-----------------------------------------------#
[s0.6]
#-----------------------------------------------#
position = 0,0
coords = 0,10, 60,10, 60,352, 0,352
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .91
maxSaturation = .99
minValue = .5
maxValue = .5
changeboxprob = .004

[s1.6]
#-----------------------------------------------#
position = -0,0
coords = 0,80, 120,80, 120,340, 60,340
varX = 10
varY = 10
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 0
maxHue = 36
minSaturation = .99
maxSaturation = 1.0
minValue = .5
maxValue = .5
changeboxprob = .004

[s2.6]
#-----------------------------------------------#
position = -0,0
coords = 128,10, 256,10, 256,352, 128,352
varX = 30
varY = 30
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 180
maxHue = 36
minSaturation = .91
maxSaturation = .99
minValue = .5
maxValue = .5
changeboxprob = .004


#-----------------------------------------------#
#-----------------------------------------------#
[s0.7]
#-----------------------------------------------#
position = 0,0
coords = 0,0, 256,0, 256,352, 0,352
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 320
maxHue = 340
minSaturation = .91
maxSaturation = .99
minValue = .3
maxValue = .99
changeboxprob = .004

[s1.7]
#-----------------------------------------------#
position = -0,60
coords = 0,0, 240,0, 240,352, 0,352
varX = 10
varY = 40
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 320
maxHue = 340
minSaturation = .99
maxSaturation = 1.0
minValue = .5
maxValue = .99
changeboxprob = .004


#-----------------------------------------------#




#----------------------------------------------------#
[diag]
#----------------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,0
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0
