[displayconfig]

work = particles

rendering = hub
rotation =90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 30

rows = 6
cols = 4

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 150
windowYOffset = 50

brightness =  .95
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,384,320
remapImageBlockDestination = 0,0

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .1
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .5
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

useFilters = True
ditherFilterBrightness = .95



[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14



[particleSystem]
#-------------------------------------------#
numUnits = 190

delay = .02

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = .3
speedMax = 6

meandorFactor = .15
xWind = 0
torqueDelta = 0
torqueRate = 0

particleWinkOutXMin = 20
particleWinkOutYMin = 30

#initial direction 3.14/2
variance = 1

objWidth = 60
objHeight = 100
objType = rect
objTrails = False

widthRate = .9992
heightRate = .9997

overallBlur = 1
unitBlur = 0

objColor = fixed

fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20

pixelsGoGrayModel = 0
pixelsGoGray = True
greyRate = 350
restartProb = .0001


bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****
centerRangeXMin = 20
centerRangeYMin = -260

centerRangeXMax = 428
centerRangeYMax = -200

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

useOverLay = False
overlayColor = 160,0,200,10
#overlayColor = 88,40,0,190
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100




