[displayconfig]
#-----------------------------------------------#
work = collage
_work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
useFilters = False
checkForConfigChanges = True

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 32
rows = 8
cols = 3

# ---  Also determines the window geometry
screenWidth = 192
screenHeight = 128

# ---  preparing for rotation
windowWidth = 192
windowHeight = 128

canvasWidth = 192
canvasHeight = 128

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 150
windowYOffset = 100

brightness =  .98
minBrightness = 0

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 126
pixSortboxHeight = 1
pixSortboxWidth = 192
pixSortgap = 0
pixSortprobDraw = .9981
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .005
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False
remapImageBlockSection = 0,0,192,256
remapImageBlockDestination = 0, 180
remapImageBlockSectionRotation = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 256
sectionBlurRadius = 8

[diag]
#---------------------------------#

fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 9

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0



[productionvalues]
#--------------------------#
changeBoxProb = .005
transitionStepsMin = 140
transitionStepsMax = 254
tweenCountMax = 400
colOverlaytLimitBase = 25
colOverlaySteps = 0

[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 420

transitionStepsMin = 90
transitionStepsMax = 120
colOverlaytLimitBase = 18
colOverlaySteps = 0

useVariableFilter = False
useVariablePixelSort = False
variablePixelProb = .0002
variableFilterProb = .002

useTweenTriggers = False
triggers = 1

#numberOfDeadPixels = 10


sets = set1
set1 = s0,s1,s2,s3
#,s2
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 192,0, 192,130, 0,130
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 36
minSaturation = .2
maxSaturation = .60
minValue = .3
maxValue = .6

[s1]
position = 4,-20
coords = 0,0, 178,0, 178,64, 0,64
varX = 10
varY = 10
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 260
minSaturation = .7
maxSaturation = .99
minValue = .1
maxValue = .6

[s2]
position = 4,44
coords = 0,0, 178,0, 178,64, 0,64
varX = 10
varY = 10
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 19
maxHue = 26
minSaturation = .7
maxSaturation = .99
minValue = .1
maxValue = .6

[s3]
position = 0,40
coords = 0,0, 192,0, 192,28, 0,28
varX = 0
varY = 4
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 36
minSaturation = .2
maxSaturation = .60
minValue = .3
maxValue = .6


