[displayconfig]
#-------------------------------------------#

work = particles
#-------------------------------------------#
# Fire Pile piece for Drag City group show Chicago, 2019 #

rendering = hub
isRPI = False
checkForConfigChanges = True

rotation = 270
fullRotation = True
rotationTrailing = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 16
cols = 8

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 384

# ---  preparing for rotation
windowWidth = 384
windowHeight = 384

canvasWidth = 384
canvasHeight = 384

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2977
windowXOffset = 20
windowYOffset = 120

brightness =  .95
minBrightness = 0

#brightnessVariation = True
#brightnessVariationProb = .05

imageXOffset = 0
imageYOffset = 0

remapImageBlock = True  
remapImageBlockSection = 0,0,200,190
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0,0,0
remapImageBlockDestination2 = 0,0


useFilters = True
#ditherBlurRadius = 0
#ditherUnsharpMaskPercent = 90
ditherfilterbrightness = .98



usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 512
pixSortboxWidth = 512
pixSortgap = 4
pixSortprobDraw = .02
pixSortprobGetNextColor = 1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .9
brightnessVarHi = .9
pixelSortAppearanceProb = 1.0


useBlur  = False
blurXOffset = 64
blurYOffset = 0
blurSectionWidth = 192
blurSectionHeight = 128
sectionBlurRadius = 2


[particleSystem]
#-------------------------------------------#
numUnits = 120

delay = .02

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = .3
speedMax = 7

meandorFactor = .15
xWind = 0
torqueDelta = 0
torqueRate = 0

particleWinkOutXMin = 20
particleWinkOutYMin = 30

#initial direction 3.14/2
variance = 1

objWidth = 60
objHeight = 100
objType = rect
objTrails = False

widthRate = .9992
heightRate = .9997

overallBlur = 1
unitBlur = 0

objColor = fixed

fillColor = 180,10,100,10
outlineColor = 184,80,1,205 
bgColor = 80,10,30,20

pixelsGoGrayModel = 0
pixelsGoGray = True
greyRate = 450
restartProb = .0001


bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****
centerRangeXMin = 120
centerRangeXMax = 428

centerRangeYMin = -260
centerRangeYMax = -200

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

useOverLay = False
overlayColor = 160,0,200,10
#overlayColor = 88,40,0,190
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100





[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 14

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0




