[displayconfig]

work = particles

rendering = hub
rotation = 95
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 16
cols = 12

# ---  Also determines the window geometry
screenWidth = 512
screenHeight = 512

# ---  preparing for rotation
windowWidth = 512
windowHeight = 512

canvasWidth = 512
canvasHeight = 512

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2562
windowYOffset = 35

brightness =  .95
minBrightness = 0

remapImageBlock = True  
remapImageBlockSection = 0,128,192,256
remapImageBlockDestination = 192,0

remapImageBlock2 = True  
remapImageBlockSection2 = 0,256,192,384
remapImageBlockDestination2 = 192,128

remapImageBlock3 = True  
remapImageBlockSection3 = 0,384,192,512
remapImageBlockDestination3 = 0,128


usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 196
pixSortboxWidth = 196
pixSortgap = 80
pixSortprobDraw = .9
pixSortprobGetNextColor = .05
pixSortSizeDecriment = .60
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .001
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99


[particleSystem]
numUnits = 355

xGravity = 0
yGravity = -.10

ignoreBottom = True

speedMin = 4
speedMax = 35

#initial direction 3.14/2
variance = 1

objWidth = 60
objHeight = 90
objType = rect

widthRate = .8
heightRate = .9

overallBlur = 3
unitBlur = 0

objColor = set
#fire
fillColor = 245,205,0,80
outlineColor = 190,10,0,200
bgColor = 1,0,100,100

#ice
#fillColor = 0,25,80,250
#outlineColor = 0,10,200,90
#bgColor = 190,100,0,50

centerRangeXMin = 340
centerRangeXMax = 590
centerRangeYMin = -50
centerRangeYMax = -50

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True

reemitnumber = 4

movement = fire 
useFlocking = False
cohesionDistance = 40 
repelDistance = 1
repelFactor = 1
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = 1
changeCohesion = False

trailingFade = 200
objTrails = False
linearMotionAlsoHorizontal = False
fixedUnitArray = True
transparencyRange = 80,190

## This color should have a little red in it
## but my current card configs paint pure blue 
## more like 10,0,50,200 -- should have a slight
## purple cast

useOverLay = False
overlayColor = 60,100,0,100
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 128
overlayyPos = 100
#overlayColor = 88,40,0,190





