[displayconfig]

# diagnostics
# particles
# image


work = particles

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
isRPI = False

useFilters = False
tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48
rows = 16
cols = 8

# ---  Also determines the window geometry
screenWidth = 512
screenHeight = 512

# ---  preparing for rotation
windowWidth = 384
windowHeight = 256

canvasWidth = 512
canvasHeight = 512

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 1
windowYOffset = 31

brightness =  .94
minBrightness = 0

remapImageBlock = True  
remapImageBlockSection = 0,128,192,256
remapImageBlockDestination = 192,0

remapImageBlock2 = True  
remapImageBlockSection2 = 0,256,192,384
remapImageBlockDestination2 = 192,128

remapImageBlock3 = True  
remapImageBlockSection3 = 0,384,192,384
remapImageBlockDestination3 = 0,128

usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 80
pixSortboxWidth = 194
pixSortgap = 80
pixSortprobDraw = 1.99
pixSortprobGetNextColor = .85
pixSortSizeDecriment = .60
pixSortProbDecriment = 1.0
pixSortSampleVariance = 30
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = 1.99

#-------------------------------------------#

[diag]
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,12,12
bgColor = 10,10,100
showGrid = True
fontSize = 14




[particleSystem]
#-------------------------------------------#
numUnits = 190

xGravity = 0
yGravity = 0

ignoreBottom = False

speedMin = 2
speedMax = 7

#initial direction 3.14/2
variance = 1

objWidth = 60
objHeight = 100
objType = rect
objTrails = False

widthRate = .92
heightRate = .97

overallBlur = 16
unitBlur = 0

objColor = fixed
fillColor = 140,145,8,35
outlineColor = 200,10,40,250
#bgColor = 130,0,40,50
bgColor = 200,0,100,50

bgTransitions = False
bgRangeA =  100
bgRangeB = 300
minHue = 0
maxHue = 360
minValue = .1
maxValue = .95
tLimitBase = 20
maxBrightness = .955
bgTransparency = 10

#*** Transparency of particle elements
#*** if drawn as rectangles etc
transparencyRange = 100,230
#*****
centerRangeXMin = 30
centerRangeXMax = 380
centerRangeYMin = -10
centerRangeYMax = 100

damping = 1
collisionDamping = 1

borderCollisions = True
expireOnExit = True
reEmitNumber = 2
### If this is True, always creating just
### one unit when one goes off screen vs.
### bursting -- prevents flickering of the
### units when one gets removed and the
### drawing order changes mid-stream
fixedUnitArray = True

# travel fire linearMotion
movement = fire
linearMotionAlsoHorizontal = False
useFlocking = False
cohesionDistance = 40
repelDistance = 3
repelFactor = 2
clumpingFactor = 1
distanceFactor = 1
cohesionDegrades = .99
changeCohesion = False

trailingFade = 200

useOverLay = False
overlayColor = 160,0,200,10
#overlayColor = 88,40,0,190
clrBlkWidth = 150
clrBlkHeight = 140
overlayxPos = 28
overlayyPos = 100

#-------------------------------------------#

[images]
i1 = flames/flame-comp4.gif
i2 = 
useBlanks = False
useImageFilter = True
playSpeed = .001

[filter]
# for rotated image, lines are width, boxWidth is height
# 160
lines = 160
boxHeight = 16
boxWidth = 190
xPos1 = 0
yPosBase = 0
targetPalette = selective
#targetClrs = 92,106,107,117,119,124
#targetClrs = 104,91,96,104,112,104
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17

bgFilterProb = 0.01
imageFilterProb = .16
imageGlitchProb = .2
imageGlitchSize = 8
imageGlitchDisplacement = 15
animateProb = .988

# Color overlay / pixel color block
clrBlkWidth = 195
clrBlkHeight = 77
overlayxPos = 100
overlayyPos = 0
overlayChangeProb = .005
overlayChangePosProb = .85

[scroll]
vOffset = -10
scrollSpeed = .01
useColorFlicker = False
displayRows = 4
displayCols = 4




