[displayconfig]

work = signage

rendering = hub
rotation = 90
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 48

rows = 8
cols = 6

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 256

# ---  preparing for rotation
windowWidth = 256
windowHeight = 256

canvasWidth = 256
canvasHeight = 256

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 102
windowYOffset = 45

brightness =  .5
minBrightness = 0

imageXOffset = 0
imageYOffset = 0

remapImageBlock = False
remapImageBlockSection = 192,256,384,320
remapImageBlockDestination = 0,0

usePixelSort = True
pixSortDirection = medial
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 64
pixSortboxWidth = 64
pixSortgap = 10
pixSortprobDraw = .951
pixSortprobGetNextColor = .1
pixSortProbDecriment = 1
pixSortSizeDecriment = 1
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .0001
brightnessVarLow = .97
brightnessVarHi = 1.0
pixelSortAppearanceProb = 1


[signage]
fontColor = 200,0,0
outlineColor = 0,100,0
showGrid = True
coordinatedColorChange = True
redrawDelay = .01

unhideRate = .001
rehideRate = .01

imageGlitchSize = 5
fullimageGiltchRate = .01

useOverLayImage = False
overLayImage = /assets/imgs/miscl/bursts.png
overlayBrightness = .59
overLayXPos = 5
overLayYPos = 60
overlayGlitchSize = 25
overlayGlitchRate = .01
overlayResetRate = .05




