[displayconfig]

workListDirectory = prod/

workList =p0,p1,p2

playInOrder = False


###########################################

[p0]
work = p4-firepile-particles_fire_algo-a.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = .85

[p1]
work = p4-firepile-spritesheet3a.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = .9

[p2]
work = p4-firepile-flame-particles.cfg
minDuration = 30
maxDuration = 90
brightnessOverride = .85








