[displayconfig]

work = scroller-holder

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = False
isRPI = False

useFilters = False

tileSizeHeight = 48
tileSizeWidth = 64
matrixTiles = 32
rows = 3
cols = 3

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 128

# ---  preparing for rotation
windowWidth = 128
windowHeight = 128

canvasWidth = 128
canvasHeight = 128

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 25
windowYOffset = 50


brightness =  .9
minBrightness = 0

remapImageBlock = False  
#********* If you want a little ghosting
#********* of the copied section, grab the full
#********* width of the image
remapImageBlockSection = 60,0,128,16
remapImageBlockDestination = 80,64

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0,128,32
remapImageBlockDestination2 = -35,0


remapImageBlock3 = False  
remapImageBlockSection3 = 0,32,128,64
remapImageBlockDestination3 = 64,20

[scroller]

useOverLayImage = False
useArrows = False
useImages = True
useTransparentImages = False
useBackground = False
useText = False
useAltText = False

patternSpeed = .3
textSpeed = 1
arrowSpeed = -3
imageSpeed = -.4

redrawSpeed = .01

xOffset = -5
yOffset = -0

displayRows = 3
displayCols = 10

#--- Text Message
colorMode = getRandomRGB
sansSerif = True
fontSize = 50
textVOffest = -12
shadowSize = 1

msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY
msg3 = 1234567890

#--- Pattern BG
#patternRows = 200
#patternCols = 100
#patternDrawProb = .2

patternRows = 64
patternCols = 240
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .01
pattern = lines

lineThickness = 2
arrowCols = 10
# This actually is not working  ;(
bgBackGroundColor = 14,10,0,90
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20


#--- Overlay image
overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -10
overLayYPos = 80
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

#--- Image Scrolling
#imageBlockImage = /assets/imgs/sks/skull-s4d.png
#imageBlockImage = /assets/imgs/bgs/blue_and_white_woodblock_daisy.png
#imageBlockImage = /assets/imgs/bgs/pat-2c.png
#imageBlockImage = /assets/imgs/bgs/pattern-template-1.png

imageBlockImage = /assets/imgs/bgs/pattern-t2.png
#imageBlockImage = /assets/imgs/bgs/pattern-t3c.png

# Spacing...
imageBlockBuffer = 0
imageBlockRemakeProb = .01

