[displayconfig]

work = image
_work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 4
cols = 6

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 64

# ---  preparing for rotation
windowWidth = 192
windowHeight = 64

canvasWidth = 384
canvasHeight = 64

# - for small adjustments when sending to
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 100
windowYOffset = 100

brightness =  .800
minBrightness = 0

imageXOffset = 0
imageYOffset = 0


remapImageBlock = False
remapImageBlockSection = 0,0,384,192
remapImageBlockDestination = 0,0

remapImageBlock2 = True
remapImageBlockSection2 = 0,16,384,32
remapImageBlockDestination2 = 0,16
remapImageBlockSection2rotation = 180

remapImageBlock3 = True
remapImageBlockSection3 = 192,0, 384,32
remapImageBlockDestination3 = 0,32



useFilters = False

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 96
sectionBlurRadius = 2

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 48
pixSortboxHeight = 2
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .2
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

forceBGSwap = False


[images]
#------------------------------------------#

#i1 = flames/fire-o2_256.gif
#i1 = flames/flames_256x160.gif
i1 = flames/f2-8-384.gif


i2 = 
useBlanks = False
useImageFilter = True
verticalOrientation = 0
resetProbability = .001

# for rotated image, lines are width, boxWidth is height
# 160
lines = 6
boxHeight = 384
boxWidth = 384
xPos1 = 0
yPosBase = 0
targetPalette = selective
targetClrs = 68,78,83,89,111,121,10,12,13,14,15,16,17
#targetClrs = 92,106,107,117,119,124
#targetClrs = 104,91,96,104,112,104
#targetClrs = 14,15,16
#targetClrs = 1,2,3

bgFilterProb = 0.01
imageFilterProb = .01

# the chance that the image stops and glitches
pausePlayProb = .031
# the chance release after pause
releasePauseProb = .004

# when and image is still, chance that a gltch happens
# the total number of glitches before things move on
imageGlitchProb = .06

# the increase of the imageGlichProb when the animation is paused
glitchChanceWhenPausedFactor = 40.0

# probability that the color will change
overlayChangeProb = .0075

# prob block will relocate
overlayChangePosProb = .01

# prob block will resize
overlayChangeSizeProb = .01

# 1 = darker 0 = add
overLayMode = 1

# the prob that the animation of each frame happens
animateProb = 1.0

# total number of glitches per period allowed
imageGlitchCountLimit = 50

imageGlitchSize = 10
imageGlitchDisplacement = 10

imageGlitchDisplacementHorizontal = 20
imageglitchDisplacementVerical = 30
glitchCountRestFactor = 1

#after this many frames, force a glitch
forceGlitchFrameCount = 400


playSpeed = .03
# used in fader class
# represents the number of fade-through frames between rendered images
# 0 is fast - i.e. same speed as delay, 1 evens things out, 40 is like
# slow motion
doingRefreshCount = 2
# if this is above 0 it will change the rate
doingRefreshCountVariability = .001
# the probability that the rate will return to the base fade-through count
doingRefreshCountVariabilityReset = .02
# the chance that the rate is fast vs slow-mo
doingRefreshCountFastProb = 0

# Color overlay / pixel color block
clrBlkWidth = 16
clrBlkHeight = 6
overlayxPos = 0
overlayyPos = 0

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .02
filterRemapminHoriSize = 224
filterRemapminVertSize = 236

filterRemapRangeX = 160
filterRemapRangeY = 256


[diag]
#-------------------------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9
