[displayconfig]
#-----------------------------------------------#
work = repeatblocks_2
# work = repeatblocks
# work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
isRPI = False
checkForConfigChanges = False
doFullReloadOnChange = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 7
cols = 7

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 192

# ---  preparing for rotation
windowWidth = 384
windowHeight = 192

canvasWidth = 384
canvasHeight = 128

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 2

windowXOffset = 100
#windowYOffset = 147 + 320
windowYOffset = 100

brightness =  1.0
minBrightness = 0


## This is re-used by the dither filter
## to set the patch affected
remapImageBlock = False		
remapImageBlockSection = 0,0,256,256
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

# first move the 4th row down to 5th - this represents
# the 4th column or side of the piece 
remapImageBlock2 = True
remapImageBlockSection2 = 0,96,384,160
remapImageBlockDestination2 = 0,128
remapImageBlockSection2Rotation = 0


remapImageBlock3 = True
remapImageBlockSection3 = 320,0,384,32
remapImageBlockDestination3 = 256,96
remapImageBlockSection3Rotation = 0

remapImageBlock4 = True
remapImageBlockSection4 = 320,32,384,64
remapImageBlockDestination4 = 192,96
remapImageBlockSection4Rotation = 0

remapImageBlock5 = True
remapImageBlockSection5 = 320,64,384,96
remapImageBlockDestination5 = 128,96
remapImageBlockSection5Rotation = 0

remapImageBlock6 = True
remapImageBlockSection6 = 320,128,384,160
remapImageBlockDestination6 = 256,160
remapImageBlockSection6Rotation = 0





usePixelSort = True
pixelSortRotatesWithImage = False
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 1
pixSortboxWidth = 382
pixSortgap = 0
pixSortprobDraw = .7
pixSortprobGetNextColor = 1
pixSortProbDecriment = 0
pixSortSizeDecriment = 0
pixSortSampleVariance = 12
pixSortDrawVariance = 1
randomColorProbabilty = .001
brightnessVarLow = .9
brightnessVarHi = 1.1
pixelSortAppearanceProb = .99


useBlur = False
blurXOffset = 120
blurYOffset = 120
blurSectionWidth = 90
blurSectionHeight = 20
sectionBlurRadius = 2

useFilters = False

forceBGSwap = False


######################################################################
[movingpattern]
######################################################################

redrawSpeed =.03

blockWidth = 33
blockHeight = 33

cols = 12
rows = 10

useBlurSection = False
blurSectionWidth = 120
blurSectionHeight = 60
mask_blur_amt = 20
cp_blur_amt = 3
blurSectionXPos = 220
blurSectionYPos = 0


usePixelSortRandomize = True


#################### DISTURBANCES  ##########################
sectionDisturbance = True
disturbanceConfigSets = standard
changeDisturbanceSetProb = .25

stableSectionsMin  = 4
stableSectionsMax  = 12
stableSectionsMinWidth  = 32
stableSectionsMinHeight  = 32
stableSectionsChangeProb  = .001

sectionWidthRange = 64,128
sectionHeightRange = 64,128

sectionPlacementXRange = 0,200
sectionPlacementYRange = 0,90

sectionRotationRange = 20

# the types of pattern
# wavePattern 
# reMove -->lines move
# diagonalMove  --> block moves 
# randomizer
# runningSpiral
# concentricBoxes
# runningSpiral
# diamond
# shingles
# circles

# patterns = reMove,shingles,diamond,randomizer
# patternModel = randomizer
# patternSequence = randomizer,0,0

patterns = decoBoxes,reMove,shingles,concentricBoxes,diamond,balls,concentricBoxes,randomizer,fishScales,randomizer
patternModel = diamond
patternSequence = diamond,0,0

patternModelVariations = True
rebuildPatternProbability = 0.0015


#################### COLORS    ##############################
palette = thegrays
palettes = thegrays,highkeyOnPink,heat,thegrays,fishing,highkey
bgColorAlpha = 100,250


# increases density of pattern for diamonds, balls, shingles
numRows = 2
numShingleRows = 2
numDotRows = 4
numRowsRandomize = True

shingleVariation = True 
shingleVariationRange = 6

# to be nice and even, has to be even multiple of blockWidth
# if you want artifact, then anything else ;)
lineDiff = 2
useDoubleLine = True

# decoBoxPatten
decoBoxBandWidth = 3

# for the diamond pattern
diamondStep = 1
randomizeSpeed = True

# for any moving pattern: diamond, reMove
xSpeed = .25
ySpeed = .8

# for the concentric squares
numConcentricBoxes = 8

# for the randomizer
randomBlockProb = .1
randomBlockWidth = 0
randomBlockHeight = 0

# skip the rendering of any block
#skipBlocks = 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97
skipBlocks = 1000

# For the sine wave repeater
steps = 4
amplitude = 12
yOffset = 12

steps2 = 6
amplitude2 = 12
yOffset2 = 13
phaseFactor = 4
speedFactor = 1


#also do court steps blocks
#################### IAMGES  ##############################
#imageSources = ./assets/imgs/drawings/P1060494.jpg,./assets/imgs/miscl/comp-448.jpg,./assets/imgs/miscl/lm_a.png
imageSources = ./assets/imgs/miscl/ptg_burn_320.jpg,./assets/imgs/miscl/config_screenshot.png,./assets/imgs/miscl/config_screenshot_2.png
#imageSources = ./assets/imgs/miscl/config_screenshot.png,./assets/imgs/miscl/config_screenshot_2.png
outPutPath = /Users/lamshell/Dropbox/studio/In Progress & Working Images/GEN IMAGES/bending_output/
loadAnImageProb = 0.0
saveImages = False



###################### Color Palettes ##################################
###################### Color Palettes ##################################
###################### Color Palettes ##################################
[highkeyOnPink]
minHue = 330
maxHue = 340
minSaturation = .8
maxSaturation = .99
minValue = .5
maxValue = .9
tLimitBase = 10

line_minHue = 0
line_maxHue = 360
line_minSaturation = 1.0
line_maxSaturation = 1.0
line_minValue = .0
line_maxValue = .90
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 360
line2_minSaturation = 1.0
line2_maxSaturation = 1.0
line2_minValue = .5
line2_maxValue = .90
line2_tLimitBase = 15

[highkey]
minHue = 0
maxHue = 360
minSaturation = .8
maxSaturation = .99
minValue = .5
maxValue = .9
tLimitBase = 10

line_minHue = 0
line_maxHue = 360
line_minSaturation = 1.0
line_maxSaturation = 1.0
line_minValue = .0
line_maxValue = .90
line_tLimitBase = 15

line2_minHue = 0
line2_maxHue = 360
line2_minSaturation = 1.0
line2_maxSaturation = 1.0
line2_minValue = .5
line2_maxValue = .90
line2_tLimitBase = 15

[thegrays]
minHue = 300
maxHue = 36
minSaturation = .01
maxSaturation = .1
minValue = .1
maxValue = .2
tLimitBase = 25

line_minHue = 0
line_maxHue = 45
line_minSaturation = .01
line_maxSaturation = .1
line_minValue = .2
line_maxValue = .60
line_tLimitBase = 25

line2_minHue = 60
line2_maxHue = 360
line2_minSaturation = .10
line2_maxSaturation = .10
line2_minValue = .1
line2_maxValue = .4
line2_tLimitBase = 25

[graypinktasty]
minHue = 347
maxHue = 347
minSaturation = .2
maxSaturation = .2
minValue = .5
maxValue = .5
tLimitBase = 15

line_minHue = 350
line_maxHue = 350
line_minSaturation = .63
line_maxSaturation = .63
line_minValue = .77
line_maxValue = .77
line_tLimitBase = 15

line2_minHue = 356
line2_maxHue = 356
line2_minSaturation = .6
line2_maxSaturation = .6
line2_minValue = .93
line2_maxValue = .93
line2_tLimitBase = 15

[basePalette]
minHue = 300
maxHue = 25
minSaturation = .8
maxSaturation = .99
minValue = .8
maxValue = .9
tLimitBase = 25

line_minHue = 60
line_maxHue = 190
line_minSaturation = .80
line_maxSaturation = .99
line_minValue = .1
line_maxValue = .5
line_tLimitBase = 25

line2_minHue = 60
line2_maxHue = 190
line2_minSaturation = .80
line2_maxSaturation = .90
line2_minValue = .1
line2_maxValue = .5
line2_tLimitBase = 25

[heat]
minHue = 0
maxHue = 8
minSaturation = .8
maxSaturation = .995
minValue = .3
maxValue = .3
tLimitBase = 25

line_minHue = 20
line_maxHue = 20
line_minSaturation = .7
line_maxSaturation = .99
line_minValue = .5
line_maxValue = .8
line_tLimitBase = 25

line2_minHue = 0
line2_maxHue = 15
line2_minSaturation = .8
line2_maxSaturation = .99
line2_minValue = .1
line2_maxValue = .3
line2_tLimitBase = 25

[fishing]
minHue = 180
maxHue = 220
minSaturation = .5
maxSaturation = .99
minValue = .1
maxValue = .2
tLimitBase = 25

line_minHue = 15
line_maxHue = 36
line_minSaturation = .5
line_maxSaturation = .99
line_minValue = .25
line_maxValue = .99
line_tLimitBase = 25

line2_minHue = 170
line2_maxHue = 220
line2_minSaturation = .1
line2_maxSaturation = .99
line2_minValue = .1
line2_maxValue = .8
line2_tLimitBase = 25



################## DISTURBANCE SETS #############################
################## DISTURBANCE SETS #############################
################## DISTURBANCE SETS #############################

[swarm]
sectionDisturbance = True
numberOfSections = 100
sectionMovementCountMax = 100
sectionWidthRange = 8,20
sectionHeightRange = 8,20
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .1
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .09
sectionSpeedFactorHorizontal = .80
sectionSpeedFactorVertical = 1.2
# the number of steps per section movement
freezeAtDoneCount = True
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01


# the decrement in pasted movement - the higher the number up to 1.0 + 
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96


[standard]
numberOfSections = 10
# the number of steps per section movement
sectionMovementCountMax = 60
sectionWidthRange = 8,64
sectionHeightRange = 8,64
sectionPlacementXRange = -10,384
sectionPlacementYRange = -10,200
sectionRotationRange = .1
stopProbMax = .01

# higher number reduces the speed in that direction
baseSectionSpeed = .09
sectionSpeedFactorHorizontal = 1.2
sectionSpeedFactorVertical = .2
rebuildImmediatelyAfterDone = False
redoSectionDisturbance = 0.01


# the decrement in pasted movement - the higher the number up to 1.0 + 
# produces faster turbulence
# .86 is slower and more controlled with enough lateral motion to
# cause nice turbulent distortion
speedDeAcceleration = .86
speedDeAccelerationUpperLimit = .96





[diag]
#---------------------------------#

fontColor = 150,150,0
outlineColor = 120,0,0
fontColor2 = 0,100,100
bgColor = 0,0,104
showGrid = True
fontSize = 12

brightness =  .2
outerColor = 10,0,100
innerColor = 120,40,0
borderColor = 10,0,0

