[displayconfig]

work = spritesheet3
# work = diagnostics

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = True
checkForConfigChanges = True
doFullReloadOnChange = True

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 64
rows = 4
cols = 10

# ---  Also determines the window geometry
screenWidth = 128
screenHeight = 96

# ---  preparing for rotation
windowWidth = 128
windowHeight = 96

canvasWidth = 128
canvasHeight = 96

# daemon7 set up FIRESIDE
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# windowXOffset = 120
# windowYOffset = 120

# Window Offset
windowXOffset = 1743
windowYOffset = 60

brightness =  .99
minBrightness = 0


remapImageBlock = False  
remapImageBlockSection = 0,0,384,256
remapImageBlockDestination = 0,0

remapImageBlock2 = False
remapImageBlockSection2 = 0,96,768,128
remapImageBlockDestination2 = 384,0

remapImageBlock3 = False
remapImageBlockSection3 = 256,0,512,32
remapImageBlockDestination3 = 0,32

remapImageBlock4 = False
remapImageBlockSection4 = 512,0,768,32
remapImageBlockDestination4 = 0,64

usePixelSort = True
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 32
pixSortboxWidth = 256
pixSortgap = 4
pixSortprobDraw = .012
pixSortprobGetNextColor = .1
pixSortSizeDecriment =  0
pixSortProbDecriment = 0
pixSortSampleVariance = 10
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = 0.0001
brightnessVarLow = .4
brightnessVarHi = 1.2
pixelSortAppearanceProb = .9980
pixelSortProbChange = 0


useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 256
blurSectionHeight = 256
sectionBlurRadius = 1

useFilters = False
_ditherFilterBrightness = .95



#----------------------------------------------------#
[base-parameters]
#----------------------------------------------------#

# chance the pixelsort lines appear
pixelSortProbOn = .005
pixelSortProbOff = .015

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .004
filterRemapminHoriSize = 256
filterRemapminVertSize = 384

filterRemapRangeX = 384
filterRemapRangeY = 256


# the delay between cycles
playSpeed = .02

delay = .03
slotRate = .03

# animations = a-3,a-3,a-3
# animations = a-2
animations = f1
playTimes = 300
playInOrder = False

drawMoire = False
drawMoireProb = .0
drawMoireProbOff = .01

moireXPos  = 64
moireYPos  = 64
moireXDistance = 10
moireYDistance = 10

setMoireColor = False
moireColor = 0,140,60,50
moireColorAlt = 40,0,0,100
moireColorAltProb = .5


uselastoverlay = True
useLastOverlayProb = .10
lastOverlayBox = 0,0,128,128
lastOverlayFill = 340,340,1.0,1.0,1.0,1.0

lastOverLayColorRange = 0,360,1.0,1.0,1.0,1.0,0,0
lastOverlayAlphaRange = 0,80
forcelastoverlay = True
lastOverlayBlur = 0

animationFrameXOffset = 0
animationFrameYOffset = 0





[f1]
i1 = assets/imgs/flames/fire-real-224x384-side-d2b2.png
i2 =


# Number of individual animation units
numberOfCells = 1
randomPlacement = False
# the spritesheet frame dimensions
frameWidth = 384
frameHeight = 224
totalFrames = 223
frameCols = 5
frameRows = 45

# slice parameters
sliceWidthMin = 384
sliceWidth = 384
sliceHeightMin = 224
sliceHeight = 224
step = 1
fixedPosition = True

# controls speed 2 is generally very smooth
animSpeedMin = 4
animSpeedMax = 4


# the animation is drawn onto a buffered image 
# that can be resized
animationWidth = 212
animationHeight = 96
resizeAnimationtoFit = True

# rotates each animation unit
animationRotation = 0
# random +/- range
animationRotationJitter = 0
# if this is non-zero, will rotate each unit
# in random +/- range
animationRotationRateRange = 0
# compensates for rotation if needed
animationXOffset = -84
animationYOffset = 0

randomPlacemnetXRange = 40
randomPlacemnetYRange = 40

# probability that any one unit changes parameters and position
changeAnimProb = .001
# chance that animations all pause
pauseProb = .01
# chance that unimations resume
unPauseProb = .005
# chance that the glitching pauses
freezeGlitchProb = .01
# chance that the glitching resumes
unFreezeGlitchProb = .06

# glitch displacement parameters 
# random from 1 to these values
imageGlitchDisplacementHorizontal = 20
imageGlitchDisplacementVertical = 30

# chance the pixelsort lines appear
pixelSortProbOn = .005
pixelSortProbOff = .015

# moves the dither sparkle around
filterRemapping = True
filterRemappingProb = .02
filterRemapminHoriSize = 224
filterRemapminVertSize = 64

filterRemapRangeX = 256
filterRemapRangeY = 64

# background color HSV ranges
bg_minHue = 190
bg_maxHue = 190
bg_minSaturation = 0.95
bg_maxSaturation = 0.95
bg_minValue = .1
bg_maxValue = .5
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
# background color alpha 
bg_alpha = 10

# chance that the background changes
backgroundColorChangeProb = .01

# the delay between cycles
playSpeed = .02



[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 100,0,100
fontColor2 = 90,100,0
bgColor = 0,0,50
showGrid = True
fontSize = 9

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0

