[displayconfig]

workListDirectory = prod/

workList =p0,p1,p2

playInOrder = False


###########################################

[p0]
work = p8-firepile-particles_fire_algo-a.cfg
minDuration = 30
maxDuration = 60
# brightnessOverride = .8


[p1]
work = p8-fire-spritesheet3-a.cfg
minDuration = 30
maxDuration = 120
# brightnessOverride = .8

[p2]
work = p8-firepile-flame-particles.cfg
minDuration = 20
maxDuration = 30
# brightnessOverride = .8








