[displayconfig]

work = collage

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 8
rows = 6
cols = 9

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 96

# ---  preparing for rotation
windowWidth = 256
windowHeight = 96

canvasWidth = 256
canvasHeight = 96

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 200
windowYOffset = 200

brightness =  1.00
minBrightness = 0

imageXOffset = 0
imageYOffset = 0
remapImageBlock = False
remapImageBlockSection = 0,0,384,192
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,0, 384,192
remapImageBlockDestination2 = 0,0

useFilters = False

useBlur = True
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 384
blurSectionHeight = 256
sectionBlurRadius = 3

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = True
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 44
pixSortboxHeight = 1
pixSortboxWidth = 256
pixSortgap = 0
pixSortprobDraw = .031
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .82
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1


forceBGSwap = False


[diag]
#--------------------------#
fontColor = 200,0,0
outlineColor = 0,100,0
fontColor2 = 200,200,00
bgColor = 0,0,0
showGrid = True
fontSize = 9



[collageShapes]
#-----------------------------------------------#

prisimBrightness = 1.95
redrawSpeed = .02
changeBoxProb = .005

transitionStepsMin = 140
transitionStepsMax = 254
# *4
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0

fixedCenterColor = 200,100,100,50
usedFixedCenterColor = False

useTransitionCallBacks = False
useTweenTriggers = 1
triggers = 0
useVariableFilter = False
useVariablePixelSort = False
variablefilterprob = 0
variablepixelprob = 0
numberofdeadpixels = 0

forceLastOverlay =  False
useLastOverlayProb = .0
lastOverlayBox = 66,64,160,98
lastOverlayFill = 0,0,0,255


# varianceMode = symmetrical, asymmetrical, independent
varianceMode = symmetrical

sets = set2
set1 = s0,s2
set2 = s1,s3
#,s1a,s2,s2a

# Top Section
[s1]
position = 0,0
coords = 0,0, 256,0, 256,128, 0,128
varX = 0
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 190
maxHue = 200
minSaturation = .0
maxSaturation = .3
minValue = .1
maxValue = .5

# Background / bottom
[s3]
position = -24,0
coords = 0,0, 155,0, 155,96, 0,96
varX = 18
varY = 0
fixedCenterColor = 200,70,10,240
usedFixedCenterColor = False
minHue = 48
maxHue = 55
minSaturation = .0
maxSaturation = .99
minValue = .2
maxValue = .9




[s0]
position = 0,0
coords = 0,0, 256,0, 256,128, 0,128
varX = 0
varY = 0
fixedCenterColor = 200,70,10,240
usedFixedCenterColor = False
minHue = 10
maxHue = 46
minSaturation = .8
maxSaturation = .99
minValue = .2
maxValue = .9


[s2]
position = -14,0
coords = 0,0, 160,0, 160,80, 0,90
varX = 12
varY = 0
fixedCenterColor = 200,100,100,240
usedFixedCenterColor = False
minHue = 160
maxHue = 340
minSaturation = .61
maxSaturation = .92
minValue = .4
maxValue = .8



