
[displayconfig]

work = diagnostics

rendering = hub
rotation = 180
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
isRPI = False

useFilters = False

tileSizeHeight = 16
tileSizeWidth = 32
matrixTiles = 16
rows = 20
cols = 20

# ---  Also determines the window geometry
screenWidth = 520
screenHeight = 320

# ---  preparing for rotation
windowWidth = 520
windowHeight = 320

canvasWidth = 520
canvasHeight = 320


imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#5

## working with 
## Start X 272
## Start Y 230
## on LINSN SENDER CARD
windowXOffset = 100
windowYOffset = 73


brightness =  .9
minBrightness = 0

remapImageBlock = False  
remapImageBlockSection = 0,0,0,0
remapImageBlockDestination = 0,0

remapImageBlock2 = False  
remapImageBlockSection2 = 0,16,256,32
remapImageBlockDestination2 =  0,16
remapImageBlockSection2Rotation = 180

remapImageBlock3 = False  
remapImageBlockSection3 = 0,0,0,0
remapImageBlockDestination3 = 0,0

remapImageBlock4 = False  
remapImageBlockSection4 = 0,0,0,0
remapImageBlockDestination4 = 0,0

remapImageBlock5 = False  
remapImageBlockSection5 = 0,0,0,0
remapImageBlockDestination5 = 0,0

remapImageBlock6 = False  
remapImageBlockSection6 = 0,0,0,0
remapImageBlockDestination6 = 0,0


usePixelSort = False
pixelSortRotatesWithImage = True
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 256
pixSortboxWidth = 256
pixSortgap = 80
pixSortprobDraw = .49
pixSortprobGetNextColor = .5
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 3
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .01
brightnessVarLow = .05
brightnessVarHi = 1.6
pixelSortAppearanceProb = .99

forceBGSwap = True

[diag]
#-----------------------------------------------#
fontColor = 0,250,0
outlineColor = 205,0,10
fontColor2 = 255,150,0
bgColor = 0,0,50
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0






