[displayconfig]

workListDirectory = prod/

workList =p22,p23,p4,p14,p9,p14a

playInOrder = True

rotation = 0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 256
screenHeight = 160

imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

## on LINSN SENDER CARD
windowXOffset = 100
windowYOffset = 100


forceBGSwap = True


###########################################

[p23]
work = seq-img-hub1-recovery.cfg
minDuration = 105
maxDuration = 105
brightnessOverride = 1.1

[p22]
work = seq-flame-particles-firepile-2.cfg
minDuration = 13
maxDuration = 13
brightnessOverride = 1.1


[p4]
work = seq-single-line-crossing-fire.cfg
minDuration = 15
maxDuration = 20


[p9]
work = seq-diagnostics-run.cfg
minDuration = 3
maxDuration = 3


[p14]
work = seq-pink-algoflames-2.cfg
minDuration = 20
maxDuration = 30
brightnessOverride = .65


[p14a]
work = seq-pink-algoflames-2x.cfg
minDuration = 20
maxDuration = 30
brightnessOverride = .65


###########################################

