[displayconfig]
# incomplete passage / circuit / line / door
# undoing the knot

_work = scroller-holder-simple
work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = False
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 1
cols = 20

# ---  Also determines the window geometry
screenWidth = 1856
screenHeight = 192

# ---  preparing for rotation
windowWidth = 320
windowHeight = 192

canvasWidth = 1856
canvasHeight = 32

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 100
windowYOffset = 100

brightness =  1.1
minBrightness = 0

imageXOffset = 0
imageYOffset = 0


remapImageBlock = False
remapImageBlockSection = 0,0,1024,32
remapImageBlockDestination = 0,0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True  
remapImageBlockSection2 = 256,0, 576,32
remapImageBlockDestination2 = 0,32
remapImageBlockSection2Rotation = 0

remapImageBlock3 = True  
remapImageBlockSection3 = 576,0, 896,32
remapImageBlockDestination3 = 0,64
remapImageBlockSection3Rotation = 0

remapImageBlock4 = True  
remapImageBlockSection4 = 832,0, 1216,32
remapImageBlockDestination4 = 0,96
remapImageBlockSection4Rotation = 0

remapImageBlock5 = True  
remapImageBlockSection5 = 1216,0, 1536,32
remapImageBlockDestination5 = 0,128
remapImageBlockSection5Rotation = 0

remapImageBlock6 = True  
remapImageBlockSection6 = 1536,0, 1856,32
remapImageBlockDestination6 = 0,160
remapImageBlockSection6Rotation = 0

useFilters = True

useBlur = False
blurXOffset = 20
blurYOffset = 0
blurSectionWidth = 160
blurSectionHeight = 8
sectionBlurRadius = 2

useLastOverlay = False
useLastOverlayProb = .001
useVariablePixelSort = True

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 48
pixSortboxHeight = 2
pixSortboxWidth = 256
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .2
brightnessVarHi = 1.1
pixelSortAppearanceProb = 1

forceBGSwap = False

[scroller]
#-----------------------------------------------#

# for pattern scrolling
redrawSpeed = .01
useUltraSlowSpeed = False

displayRows = 2
displayCols = 1

patternSpeed = 2.2

#
patternRows = 16
patternCols = 800

# when randomizing the pattern remake, set limits
minPatternCols = 200
minPatternRows = 20

maxPatternCols = 800
maxPatternRows = 32

patternDrawProb = .50
minDrawProb = .1
maxDrawProb = .6


# lines or diamonds bricks pluses regularLines
pattern = regularLines
alwaysRandomPattern = True
altDirectionScrolling = True
alwaysRandomPatternColor = True

pauseProb = 0.0

fg_minHue = 36
fg_maxHue = 44
fg_minSaturation = .99
fg_maxSaturation = .99
fg_minValue = .5
fg_maxValue = .8

bg_minHue = 350
bg_maxHue = 20
bg_minSaturation = .99
bg_maxSaturation = .99
bg_minValue = .1
bg_maxValue = .9


# for some reason with this piece I do not like 
bg_dropHueMinValue = 0
bg_dropHueMaxValue = 0
fg_drophueminvalue = 0
fg_drophuemaxvalue = 0

backgroundColorChangeProb = .5


# color combination - dependent palettes
redGreenSwapProb = 0
redBlueSwapProb = .00001
greenBlueSwapProb = 0

[fire-colors]
fg_minHue = 36
fg_maxHue = 44
fg_minSaturation = .99
fg_maxSaturation = .99
fg_minValue = .5
fg_maxValue = .8

bg_minHue = 350
bg_maxHue = 20
bg_minSaturation = .99
bg_maxSaturation = .99
bg_minValue = .1
bg_maxValue = .9



[diag]
fontColor = 100,0,0
fontColor2 = 0,0,100
outlineColor = 0,100,0
bgColor = 0,0,40
showGrid = True
fontSize = 14

