[displayconfig]

workListDirectory = prod/

workList =p2,p1,p3

playInOrder = True

rotation =  0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 326
screenHeight = 260

imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 100
windowYOffset = 100

restartScript = cntrlscripts/restart_tower_sequencer-prod.sh
repeatCountTrigger = 120


###########################################
[p1]
work = seq-tower-line-flames-b.cfg
minDuration = 33
maxDuration = 99
#brightnessOverride = 1.1

[p2]
work = seq-tower-line-repeater-re-test.cfg
minDuration = 11
maxDuration = 22
#brightnessOverride = 1.1


[p3]
work = seq-tower-line-sign-scroller.cfg
minDuration = 33
maxDuration = 66
#brightnessOverride = 1.1





