[displayconfig]

workListDirectory = prod/

workList =p22,p22b,p23,p4,p14,p14a

playInOrder = True

rotation = 0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 256

imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 0
canvasOffsetY = 3

## on LINSN SENDER CARD
## x=41 y =127
windowXOffset = 144
windowYOffset = 123


forceBGSwap = False


###########################################

[p23]
work = seq-img-hub1-recovery.cfg
minDuration = 40
maxDuration = 40
brightnessOverride = 1.1

[p22]
work = seq-flame-particles-firepile-2.cfg
minDuration = 25
maxDuration = 25
brightnessOverride = 1.1

[p22b]
work = seq-flame-particles-firepile-2b.cfg
minDuration = 25
maxDuration = 25
brightnessOverride = 1.1

[p4]
work = seq-single-line-crossing-fire.cfg
minDuration = 25
maxDuration = 25


[p14]
work = seq-pink-algoflames-2.cfg
minDuration = 25
maxDuration = 25
brightnessOverride = .65


[p14a]
work = seq-pink-algoflames-2x.cfg
minDuration = 25
maxDuration = 25
brightnessOverride = .65


###########################################

[p9]
work = seq-diagnostics-run.cfg
minDuration = 1
maxDuration = 1


