[displayconfig]

workListDirectory = prod/

workList =p2_prod,p1_prod,p3_prod

playInOrder = False

rotation =  0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 326
screenHeight = 260

imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 100
windowYOffset = 100

restartScript = cntrlscripts/restart_tower_sequencer.sh
commadStringPyth = python3 /home/daemon63/Documents/RPI/player.py -path /home/daemon63/Documents/RPI -mname studio -cfg
repeatCountTrigger = 3


###########################################

[p1]
work = seq-tower-line-flames-b.cfg
minDuration = 7
maxDuration = 7
#brightnessOverride = 1.1

[p2]
work = seq-tower-line-repeater-re-test.cfg
minDuration = 7
maxDuration = 7
#brightnessOverride = 1.1


[p3]
work = seq-tower-line-sign-scroller.cfg
minDuration = 7 
maxDuration = 7
#brightnessOverride = 1.1

###########################################
[p1_prod]
work = seq-tower-line-flames-b.cfg
#minDuration = 66
#maxDuration = 333

minDuration = 7
maxDuration = 11
#brightnessOverride = 1.1

[p2_prod]
work = seq-tower-line-repeater-re-test.cfg
minDuration = 7
maxDuration = 11
#brightnessOverride = 1.1


[p3_prod]
work = seq-tower-line-sign-scroller.cfg
minDuration = 11
maxDuration = 11
#brightnessOverride = 1.1





