[displayconfig]

workListDirectory = prod/

#workList =p9,p9
workList =p23,p23b,p22,p1

playInOrder = False

rotation = 0
fullRotation = True

# ---  Also determines the window geometry
screenWidth = 265
screenHeight = 265

imageXOffset = 3
imageYOffset = 3

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 0
canvasOffsetY = 3

## on LINSN SENDER CARD
## x=41 y =127
windowXOffset = 144
windowYOffset = 100


forceBGSwap = False

restartScript = /cntrlscripts/restart_full_campfire_sequencer.sh

# production computer
commadStringPyth = python3 /home/daemon58/Documents/RPI/player.py -path /home/daemon58/Documents/RPI -mname studio -cfg

# local Mac environment
#commadStringPyth = python3 ~/Documents/Dev/RPI/player.py -path ~/Documents/Dev/RPI -mname studio -cfg
repeatCountTrigger = 3

###########################################

[p1]
work = seq-p4-4x6-campfire.cfg
minDuration = 15
maxDuration = 15
brightnessOverride = 1.1

[p23]
work = seq-campfire-2-1-img-hub1.cfg
minDuration = 15
maxDuration = 15
brightnessOverride = 1.1

[p23b]
work = seq-campfire-2-1-img-hub1-b.cfg
minDuration = 30
maxDuration = 120
brightnessOverride = 1.1

[p22]
work = seq-campfire-2-1-flame-particles-firepile.cfg
minDuration = 15
maxDuration = 60
brightnessOverride = 1.1

###########################################



