[displayconfig]


work = signage
rotation = 0

rendering = hub
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 8
rows = 5
cols = 8

# ---  Also determines the window geometry
screenWidth = 260
screenHeight = 128

# ---  preparing for rotation
windowWidth = 260
windowHeight = 128

canvasWidth = 260
canvasHeight = 128

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
# pulling back 4px because the seed pixels are showing
windowXOffset = 2717
windowYOffset = 255

brightness =  .995
minBrightness = 0

imageXOffset = 0

remapImageBlock = False
remapImageBlockSection = 0,0,25,448
remapImageBlockDestination = 0,0

remapImageBlock3 = False  
remapImageBlockSection3 = 256,256,448,384
remapImageBlockDestination3 = 64,128

remapImageBlock2 = False  
remapImageBlockSection2 = 256,384,448,512
remapImageBlockDestination2 = 64,0


usePixelSort = True
pixSortDirection = lateral
pixelSortAppearanceProb = 1
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 0
pixSortYOffset = 0
pixSortboxHeight = 260
pixSortboxWidth = 448
pixSortgap = 10
pixSortprobDraw = .5
pixSortprobGetNextColor = .99
pixSortProbDecriment = 1
pixSortSizeDecriment = 1.5
pixSortSampleVariance = 0
pixSortDrawVariance = 0
randomColorProbabilty = .0001
brightnessVarLow = .6
brightnessVarHi = 1.0
pixelsortrotateswithimage = True

useBlur  = False
blurXOffset = 0
blurYOffset = 40
blurSectionWidth = 448
blurSectionHeight = 260
sectionBlurRadius = 2

useFilters = False

# moves the dither sparkle around
filterRemapping = False
filterRemappingProb = .08
filterRemapminHoriSize = 24
filterRemapminVertSize = 36

# must include
# if random.random() < config.filterRemappingProb:
#		if config.useFilters == True and config.filterRemapping == True:
#			config.filterRemap = True

#			startX = round(random.uniform(0,config.canvasWidth - config.filterRemapminHoriSize) )
#			startY = round(random.uniform(0,config.canvasHeight - config.filterRemapminVertSize) )
#			endX = round(random.uniform(startX+config.filterRemapminHoriSize,config.canvasWidth) )
#			endY = round(random.uniform(startY+config.filterRemapminVertSize,config.canvasHeight) )
#			config.remapImageBlockSection = [startX,startY,endX,endY]
#			config.remapImageBlockDestination = [startX,startY]


[diag]
#-----------------------------------------------#
fontColor = 255,255,0
outlineColor = 255,0,0
fontColor2 = 0,0,100
bgColor = 0,0,254
showGrid = True
fontSize = 14

brightness =  .2
outerColor = 10,0,100
innerColor = 230,40,0
borderColor = 10,0,0


[signage]
#-----------------------------------------------#

fontColor = 0,0,0
outlineColor = 0,0,0
showGrid = True
showText = False
showOutline = False
randomRotation = True
coordinatedColorChange = False
timeTrigger = True
tLimitBase = 40
steps = 155
redrawDelay = .02

tileSizeHeight = 64
tileSizeWidth = 260
rows = 1
cols = 1

unhideRate = 0
rehideRate = 0

imageGlitchSize = 5
fullimageGiltchRate = .00002

useOverLayImage = False
overLayImage = /assets/imgs/miscl/mac-cursor.png
overlayBrightness = .3
overLayXPos = 100
overLayYPos = 5
overlayGlitchSize = 1
overlayGlitchRate = .5
overlayResetRate = .000000015

edgeSeedColorsVisibleChangeProb = .01
edgeSeedColorsDrawProb = .5
bgAlpha = 100
useEdgeSeedColors = True

useFixedPalette = True

## If this is set to 1, then
## will use the range for the whole set 
paletteRange = 1

# Hue min/max Saturation min,max Value min/max
#p1 = 205,215, .6,.9, .8,1
#p2 = 210,230, .6,.9, .,1
#p3 = 0,10, .6,.9, .8,1
#p4 = 0,5, .6,.9, .8,1

## NOTE -- the ranges are parts of a "circle"
## so if the starting angle is 170 and the ending angle is 90
## colors between 90 and 170 will NOT be produced

## ALL BLUES SCREEN

# pink
_p1 = 330,350, .98,1, .7,.81

# blue
p1 = 225,265, 1,1, .2, .95

# yellow
__p1 = 40,45, .98,1, .7,.81
p2 = 40,45, .98,1, .7,.81

## MINUS GREEN
#p1 = 160,60, 1,1, .8,.81
p3 = 20,350, 1,1, .1,1
p4 = 220,230, 1,1, .8,.81

## selective exclusion of color range
## set both to zero to turn off
dropHueMin = 0
dropHueMax = 0







