[displayconfig]
#-----------------------------------------------#
work = diagnostics
_work = collage

rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = False
doFullReloadOnChange = False 
isRPI = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 4
cols = 8

## Also determines the window geometry
screenWidth = 512
screenHeight = 128

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 512
canvasHeight = 128

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
#windowXOffset = 2671
#windowYOffset = 154

windowXOffset = 164
windowYOffset = 105

brightness =  .2
minBrightness = 0


remapImageBlock = False
remapImageBlockSection = 0,0,256,128
remapImageBlockDestination = 0, 0
remapImageBlockSectionRotation = 0

remapImageBlock2 = True
remapImageBlockSection2 = 256,32,512,64
remapImageBlockDestination2 = 0, 64
remapImageBlockSection2Rotation = 0

remapImageBlock3 = False
remapImageBlockSection3 = 192,32,384,64
remapImageBlockDestination3 = 0, 96
remapImageBlockSection3Rotation = 0

remapImageBlock4 = False
remapImageBlockSection4 = 384,0,452,32
remapImageBlockDestination4 = 128, 32
remapImageBlockSection4Rotation = 0

remapImageBlock5 = False
remapImageBlockSection5 = 384,0,400,31
remapImageBlockDestination5 = 0, 96
remapImageBlockSection5Rotation = 0


useLastOverlay = False
useLastOverlayProb = .1

usePixelSort = False
pixelSortRotatesWithImage = True
pixSortDirection = lateral
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 5
pixSortYOffset = 50
pixSortboxHeight = 3
pixSortboxWidth = 200
pixSortgap = 1
pixSortprobDraw = .951
pixSortprobGetNextColor = 1
pixSortProbDecriment = 1
pixSortSizeDecriment = 0
pixSortSampleVariance = 4
pixSortDrawVariance = 1
randomColorProbabilty = .005
brightnessVarLow = .7
brightnessVarHi = 1.5
pixelSortAppearanceProb = 1

useBlur = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 384
blurSectionHeight = 128
sectionBlurRadius = 1

useFilters = False


[diag]
#-----------------------------------------------#
fontColor = 0,100,90
outlineColor = 205,0,100
fontColor2 = 90,100,0
bgColor = 0,0,100
showGrid = True
fontSize = 10

brightness =  .8
outerColor = 0,0,100
innerColor = 30,40,0
borderColor = 0,0,0


[productionvalues]
#--------------------------#
changeBoxProb = .005
transitionStepsMin = 140
transitionStepsMax = 254
tweenCountMax = 400
colOverlaytLimitBase = 15
colOverlaySteps = 0



[collageShapes]
#--------------------------#

redrawSpeed = .02
changeBoxProb = .005
tweenCountMax = 400

transitionStepsMin = 90
transitionStepsMax = 154
colOverlaytLimitBase = 15
colOverlaySteps = 0

forcelastoverlay = True
uselastoverlayprob = .01
lastoverlaybox = 0,0,1,1
lastoverlayfill = 100,0,0,100
lastOverLayColorRange = 0, 210, 0.0, .9, 0.0, .3, 40,180

filterpatchprob = .0

useVariableFilter = True
useVariablePixelSort = True
variablePixelProb = .001
variableFilterProb = .002

useTweenTriggers = False
triggers = 1


sets = set2
set1 = s0,s1,s1a,s2,s3,s0a

set2 = x0,x1a,x2,x3,x4,x5,x6
#,s6,s7,s8,s9
#--------------------------#

[s0]
position = 0,0
coords = 0,0, 448,0, 448,448, 0,448
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0.01
maxSaturation = 0.2
minValue = .05
maxValue = .25


[s0a]
position = 0,0
coords = 0,32, 64,32, 64,96, 0,96
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0.01
maxSaturation = 0.2
minValue = .0
maxValue = .0

[s1]
position = 0,5
coords = 5,0, 374,0, 374,5, 3,3

varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99

[s1a]
position = 0,20
coords = 5,0, 374,0, 374,5, 3,3
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 30
maxHue = 50
minSaturation = 0
maxSaturation = .2
minValue = .8
maxValue = .99

[s2]
position = 0,38
coords = 69,0, 374,0, 374,5, 69,5
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 30
maxHue = 50
minSaturation = .01
maxSaturation = .9
minValue = .8
maxValue = .99

[s3]
position = 0,54
coords = 69,0, 374,0, 374,5, 69,5
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = 0
maxSaturation = 0
minValue = .99
maxValue = .99



#,x8,x9
#--------------------------#

[x0]
position = 0,0
coords = 0,32, 64,32, 64,96, 0,96
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 0
maxHue = 360
minSaturation = .0
maxSaturation = .1
minValue = .02
maxValue = .25

#-------------#

[x1a]
position = 0,5
coords = 5,0, 374,0, 374,3, 3,3
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.1
maxSaturation = 0.3
minValue = .8
maxValue = .99

[x2]
position = 0,17
coords = 5,0, 374,0, 374,3, 3,3
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 190
maxHue = 210
minSaturation = 0.0
maxSaturation = 0.1
minValue = .5
maxValue = .99

[x3]
position = 0,29
coords = 5,0, 374,0, 374,3, 3,3
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 210
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[x4]
position = 0,41
coords = 5,0, 504,0, 504,3, 3,3
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = .90
minValue = .7
maxValue = .99

[x5]
position = 66,53
coords = 5,0, 440,0, 440,3, 3,3
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.2
maxSaturation = .90
minValue = .7
maxValue = .99


[x6]
position = 0,65
coords = 5,0, 504,0, 504,3, 3,3
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99

[x7]
position = 0,77
coords = 5,0, 374,0, 374,3, 3,3
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 40
minSaturation = 0.1
maxSaturation = 0.3
minValue = .5
maxValue = .99


[x8]
position = 0,89
coords = 5,0, 374,0, 374,3, 3,3
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False


[x9]
position = 0,101
coords = 5,0, 374,0, 374,3, 3,3
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99


[x10]
position = 0,113
coords = 5,0, 374,0, 374,3, 3,3
varX = 0
varY = 0
fixedCenterColor = 0,0,0,240
usedFixedCenterColor = False
minHue = 36
maxHue = 45
minSaturation = 0.9
maxSaturation = 1.0
minValue = .7
maxValue = .99

