[displayconfig]

work = diagnostics

rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 20
rows = 4
cols = 12

# ---  Also determines the window geometry
screenWidth = 768
screenHeight = 128

# ---  preparing for rotation
windowWidth = 768
windowHeight = 128

canvasWidth = 768
canvasHeight = 64

imageXOffset = 0
imageYOffset = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 25
windowYOffset = 50

brightness =  .95
minBrightness = 0

remapImageBlock = True
remapImageBlockSection = 384,0,768,64
remapImageBlockDestination = 0,64

[diag]
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14




