[displayconfig]

work = pattern
#work = scroller-holder
#work = stroop2
#work = quilt-triangles
#work = lines

rendering = hub
rotation = 80
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True
isRPI = False
useFilters = True


tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 24
rows = 8
cols = 3

## Also determines the window geometry
screenWidth = 340
screenHeight = 340

# preparing for rotation
# if 90 degree rotated, make height same as screen width
canvasWidth = 340
canvasHeight = 340

windowWidth = 340
windowHeight = 340

# for small adjustments when sending to matrix panels & cards
canvasOffsetX = 3
canvasOffsetY = 3

# Window Offset
windowXOffset = 2685
windowYOffset = 172

brightness =  .92
minBrightness = 0

imageXOffset  = 0
imageYOffset  = 0


remapImageBlock = False
remapImageBlockSection = 30,0,320,320
remapImageBlockDestination = 152,0



usePixelSort = False
pixelSortRotatesWithImage = False
unsharpMaskPercent = 30
blurRadius = 0
pixSortXOffset = 128
pixSortYOffset = 130
pixSortboxHeight = 18
pixSortboxWidth = 320
pixSortgap = 0
pixSortprobDraw = 1.0
pixSortprobGetNextColor = .95
pixSortSizeDecriment =  1.0
pixSortProbDecriment = 1.0
pixSortSampleVariance = 0
pixSortDrawVariance = 0
pixSortDirection = lateral
randomColorProbabilty = .0001
brightnessVarLow = .81
brightnessVarHi = .92
pixelSortAppearanceProb = 1.0

useBlur  = False
blurXOffset = 0
blurYOffset = 0
blurSectionWidth = 448
blurSectionHeight = 256
sectionBlurRadius = 10


[diag]
#-----------------------------------------------#
fontColor = 255,0,0
fontColor2 = 0,0,254
outlineColor = 125,125,125
bgColor = 0,0,0
showGrid = True
fontSize = 14

[lines]
#-----------------------------------------------#

delay = .02
base = 40.0
rows = 100
cols = 100
widthMultiplier = 6
bgColor = 30,30,30,30



[pattern]
#-----------------------------------------------#

delay = .02
base = 2.50
rows = 8
cols = 8
patternXOffset = 16


[pSet1]
minHue = 0
maxHue = 60
minSaturation = .5
maxSaturation = .99
minValue = .3
maxValue = .7

[pSet2]
minHue = 30
maxHue = 45
minSaturation = .7
maxSaturation = .99
minValue = .7
maxValue = .9

[pSet3]
minHue = 0
maxHue = 0
minSaturation = .99
maxSaturation = .99
minValue = .0
maxValue = .0

[pSet4]
minHue = 0
maxHue = 36
minSaturation = .5
maxSaturation = .95
minValue = .7
maxValue = .9


[pSet5]
minHue = 0
maxHue = 36
minSaturation = .5
maxSaturation = .95
minValue = .7
maxValue = .99

## BACKGROUND
[pSet6]
minHue = 0
maxHue = 350
minSaturation = .5
maxSaturation = .99
minValue = .8
maxValue = .9




[PatternAsTexture]
#-------------------#
patternSpeed = .5
patternRows = 130
patternCols = 440
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

[PatternAsBlocks-1]
#-------------------#
patternSpeed = .5
patternRows = 13
patternCols = 44
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

[PatternAsBlocks]
#-------------------#
patternSpeed = .5
patternRows = 2
patternCols = 40
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .81
pattern = lines


[scroller]
#-----------------------------------------------#
redrawSpeed = .01

xOffset = -5
yOffset = 0

displayRows = 4
displayCols = 10

#--- Pattern BG
useBackGround = True

patternSpeed = .5
patternRows = 130
patternCols = 440
patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .1
pattern = lines

bgBackGroundColor = 0,0,20,80
bgforegroundcolor = 0,0,0,0
greylevel = 40
redShift = 20

alwaysRandomPatternColor = True
altDirectionScrolling = True
alwaysRandomPattern = False
