[displayconfig]

work = quilt

isRPI = False
rendering = hub
rotation = 0
fullRotation = False
rotationTrailing = False
checkForConfigChanges = True

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 120

rows = 10
cols = 6

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 320

# ---  preparing for rotation
windowWidth = 384
windowHeight = 320

canvasWidth = 384
canvasHeight = 320

brightness =  .9
minBrightness = 0

# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 2600
windowYOffset = 50

remapImageBlock = True
remapImageBlockSection = 192,256,384,320
remapImageBlockDestination = 0,0

[quilt]

delay = .01
colorPopProb = .005

numUnits = 5

blockSize = 4
blockLength = 3
blockHeight = 3

blockRows = 10
blockCols = 8
gapSize = 0

cntrOffsetX = 20
cntrOffsetY = 18

lines = True
patternPrecision = False
blueFactor = 2
greenFactor = 2

## Like the "stiching" color
brightnessFactorDark = .3
brightnessFactorLight = .9