[displayconfig]

work = iconscroller

isRPI = False
rendering = hub
rotation = 0
fullRotation = True
rotationTrailing = False
checkForConfigChanges = True

useFilters = False

tileSizeHeight = 32
tileSizeWidth = 64
matrixTiles = 120

rows = 10
cols = 6

# ---  Also determines the window geometry
screenWidth = 384
screenHeight = 320

# ---  preparing for rotation
windowWidth = 384
windowHeight = 320

canvasWidth = 192
canvasHeight = 320


# - for small adjustments when sending to 
# - matrix panels & cards
canvasOffsetX = 4
canvasOffsetY = 3

# ---  Window Offset
windowXOffset = 2600
windowYOffset = 50

remapImageBlock = True
remapImageBlockSection = 192,256,384,320
remapImageBlockDestination = 0,0

brightness =  .9
minBrightness = 0

imageXOffset = 192
imageYOffset = 0

[scroller]

useOverLayImage = False
useArrows = True
useImages = True
useTransparentImages = False
useBackground = True
useText = False
useAltText = False

redrawSpeed = .005

msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY

msg1 = RIGHTY TIGHTY LEFTY LOOSEY  RIGHTY TIGHTY LEFTY LOOSEY
msg2 = LEFTY LOOSEY RIGHTY TIGHTY  LEFTY LOOSEY RIGHTY TIGHTY

msg3 = 1234567890

patternSpeed = 1
textSpeed = 1
arrowSpeed = 3
imageSpeed = -2

xOffset = -85
yOffset = 0

displayRows = 10
displayCols = 3

lineThickness = 2
arrowCols = 10

bgBackGroundColor = (0,0,0,100)
colorMode = getRandomRGB
sansSerif = True
fontSize = 50
textVOffest = -12
shadowSize = 1

patternRows = 20
patternCols = 100

patternRowsOffset = 0
patternColsOffset = 0
patternDrawProb = .2

bgForeGroundColor = 250,10,100,255
bgBackGroundColor = 100,100,100,255

blockWidth = 3

l1Variance = 2
angleRotationRange = 4
xVariance = 20

flip = False
redrawSpeed = .01
fade  = 100
redShift = 20

## when leaving on in studio
greyLevel = 40

bgR = 00
bgG = 100
bgB = 00

overLayImage = /assets/imgs/sks/skull-s4c.png
overlayBrightness = .99
overLayXPos = -1
overLayYPos = 148
overlayGlitchSize = 10
overlayGlitchRate = .31
overlayResetRate = .1

imageBlockImage = /assets/imgs/sks/skull-s4d.png
imageBlockBuffer = 30


